@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Datos_de_los_Hechos_PCAdvanceSearchModel
@{
 List<SelectListItem> varSolicitud_de_Denuncia_Ciudadana_Solicitud = null;
    if (ViewBag.Solicitud_de_Denuncia_Ciudadanas_Solicitud != null)
    { varSolicitud_de_Denuncia_Ciudadana_Solicitud = (List<SelectListItem>)ViewBag.Solicitud_de_Denuncia_Ciudadanas_Solicitud; }
    List<SelectListItem> varTipo_de_Solicitud_Tipo_de_Solicitud = null;
    if (ViewBag.Tipo_de_Solicituds_Tipo_de_Solicitud != null)
    { varTipo_de_Solicitud_Tipo_de_Solicitud = (List<SelectListItem>)ViewBag.Tipo_de_Solicituds_Tipo_de_Solicitud; }
    List<SelectListItem> varRespuesta_Fosa_clandestina = null;
    if (ViewBag.Respuestas_Fosa_clandestina != null)
    { varRespuesta_Fosa_clandestina = (List<SelectListItem>)ViewBag.Respuestas_Fosa_clandestina; }
    List<SelectListItem> varRespuesta_Conoce_la_direccion = null;
    if (ViewBag.Respuestas_Conoce_la_direccion != null)
    { varRespuesta_Conoce_la_direccion = (List<SelectListItem>)ViewBag.Respuestas_Conoce_la_direccion; }
 List<SelectListItem> varPais_Pais = null;
    if (ViewBag.Paiss_Pais != null)
    { varPais_Pais = (List<SelectListItem>)ViewBag.Paiss_Pais; }
 List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
 List<SelectListItem> varColonia_Poblacion = null;
    if (ViewBag.Colonias_Poblacion != null)
    { varColonia_Poblacion = (List<SelectListItem>)ViewBag.Colonias_Poblacion; }
 List<SelectListItem> varColonia_Colonia = null;
    if (ViewBag.Colonias_Colonia != null)
    { varColonia_Colonia = (List<SelectListItem>)ViewBag.Colonias_Colonia; }
    List<SelectListItem> varDireccion_Exacta_Es_una_direccion_exacta_o_aproximada = null;
    if (ViewBag.Direccion_Exactas_Es_una_direccion_exacta_o_aproximada != null)
    { varDireccion_Exacta_Es_una_direccion_exacta_o_aproximada = (List<SelectListItem>)ViewBag.Direccion_Exactas_Es_una_direccion_exacta_o_aproximada; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Datos_de_los_Hechos_PC", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Datos_de_los_Hechos_PCResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
 List<SelectListItem> varSolicitud_de_Denuncia_Ciudadana_Solicitud = null;
    if (ViewBag.Solicitud_de_Denuncia_Ciudadanas_Solicitud != null)
    { varSolicitud_de_Denuncia_Ciudadana_Solicitud = (List<SelectListItem>)ViewBag.Solicitud_de_Denuncia_Ciudadanas_Solicitud; }
                <div class="MarginBottom">
                    <h3>@Resources.Datos_de_los_Hechos_PCResources.Tipo_de_Solicitud</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tipo_de_SolicitudFilter, filters, new { @class = "form-control", @id = "ddlTipo_de_SolicitudFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTipo_de_Solicitud, new { @class = "form-control", @type = "text", @id = "txtAdvanceTipo_de_Solicitud" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Solicitud_Tipo_de_Solicitud!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTipo_de_SolicitudMultiple, varTipo_de_Solicitud_Tipo_de_Solicitud,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTipo_de_Solicitud"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_de_los_Hechos_PCResources.Titulo_del_Hecho</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Titulo_del_HechoFilter, filters, new { @class = "form-control", @id = "ddlTitulo_del_HechoFilter" })
                    @Html.TextBoxFor(m => m.Titulo_del_Hecho, new { @class = "form-control", @type = "text", @id = "txtTitulo_del_Hecho" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_de_los_Hechos_PCResources.Narrativa_Breve_de_los_Hechos</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Narrativa_Breve_de_los_HechosFilter, filters, new { @class = "form-control", @id = "ddlNarrativa_Breve_de_los_HechosFilter" })
                    @Html.TextBoxFor(m => m.Narrativa_Breve_de_los_Hechos, new { @class = "form-control", @type = "text", @id = "txtNarrativa_Breve_de_los_Hechos" })
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.Datos_de_los_Hechos_PCResources.Fecha_del_Hecho</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_del_Hecho" name="FromFecha_del_Hecho" type="text" value="@Model.FromFecha_del_Hecho" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_del_Hecho" name="ToFecha_del_Hecho" type="text" value="@Model.ToFecha_del_Hecho" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.Datos_de_los_Hechos_PCResources.Hora_Aproximada_del_Hecho</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromHora_Aproximada_del_Hecho" name="FromHora_Aproximada_del_Hecho" type="text" value="@Model.FromHora_Aproximada_del_Hecho" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceToHora_Aproximada_del_Hecho" name="ToHora_Aproximada_del_Hecho" type="text" value="@Model.ToHora_Aproximada_del_Hecho" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_de_los_Hechos_PCResources.Fosa_clandestina</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Fosa_clandestinaFilter, filters, new { @class = "form-control", @id = "ddlFosa_clandestinaFilter" })
                    @Html.TextBoxFor(m => m.AdvanceFosa_clandestina, new { @class = "form-control", @type = "text", @id = "txtAdvanceFosa_clandestina" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varRespuesta_Fosa_clandestina!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceFosa_clandestinaMultiple, varRespuesta_Fosa_clandestina,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceFosa_clandestina"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_de_los_Hechos_PCResources.Conoce_la_direccion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Conoce_la_direccionFilter, filters, new { @class = "form-control", @id = "ddlConoce_la_direccionFilter" })
                    @Html.TextBoxFor(m => m.AdvanceConoce_la_direccion, new { @class = "form-control", @type = "text", @id = "txtAdvanceConoce_la_direccion" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varRespuesta_Conoce_la_direccion!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceConoce_la_direccionMultiple, varRespuesta_Conoce_la_direccion,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceConoce_la_direccion"
                        });
                    }
                </div>
 List<SelectListItem> varPais_Pais = null;
    if (ViewBag.Paiss_Pais != null)
    { varPais_Pais = (List<SelectListItem>)ViewBag.Paiss_Pais; }
 List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
 List<SelectListItem> varColonia_Poblacion = null;
    if (ViewBag.Colonias_Poblacion != null)
    { varColonia_Poblacion = (List<SelectListItem>)ViewBag.Colonias_Poblacion; }
 List<SelectListItem> varColonia_Colonia = null;
    if (ViewBag.Colonias_Colonia != null)
    { varColonia_Colonia = (List<SelectListItem>)ViewBag.Colonias_Colonia; }
                <div class="MarginBottom ">
                    <h3>@Resources.Datos_de_los_Hechos_PCResources.Codigo_Postal</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromCodigo_Postal, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromCodigo_Postal" })
                    @Html.ValidationMessageFor(m => m.FromCodigo_Postal)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToCodigo_Postal, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToCodigo_Postal", @data_min = "txtAdvanceFromCodigo_Postal" })
                    @Html.ValidationMessageFor(m => m.ToCodigo_Postal)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_de_los_Hechos_PCResources.Calle</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.CalleFilter, filters, new { @class = "form-control", @id = "ddlCalleFilter" })
                    @Html.TextBoxFor(m => m.Calle, new { @class = "form-control", @type = "text", @id = "txtCalle" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_de_los_Hechos_PCResources.Entre_Calle</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Entre_CalleFilter, filters, new { @class = "form-control", @id = "ddlEntre_CalleFilter" })
                    @Html.TextBoxFor(m => m.Entre_Calle, new { @class = "form-control", @type = "text", @id = "txtEntre_Calle" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_de_los_Hechos_PCResources.Y_Calle</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Y_CalleFilter, filters, new { @class = "form-control", @id = "ddlY_CalleFilter" })
                    @Html.TextBoxFor(m => m.Y_Calle, new { @class = "form-control", @type = "text", @id = "txtY_Calle" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_de_los_Hechos_PCResources.Numero_Exterior</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_ExteriorFilter, filters, new { @class = "form-control", @id = "ddlNumero_ExteriorFilter" })
                    @Html.TextBoxFor(m => m.Numero_Exterior, new { @class = "form-control", @type = "text", @id = "txtNumero_Exterior" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_de_los_Hechos_PCResources.Numero_Interior</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_InteriorFilter, filters, new { @class = "form-control", @id = "ddlNumero_InteriorFilter" })
                    @Html.TextBoxFor(m => m.Numero_Interior, new { @class = "form-control", @type = "text", @id = "txtNumero_Interior" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_de_los_Hechos_PCResources.Referencia</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.ReferenciaFilter, filters, new { @class = "form-control", @id = "ddlReferenciaFilter" })
                    @Html.TextBoxFor(m => m.Referencia, new { @class = "form-control", @type = "text", @id = "txtReferencia" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_de_los_Hechos_PCResources.Latitud</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.LatitudFilter, filters, new { @class = "form-control", @id = "ddlLatitudFilter" })
                    @Html.TextBoxFor(m => m.Latitud, new { @class = "form-control", @type = "text", @id = "txtLatitud" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_de_los_Hechos_PCResources.Longitud</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.LongitudFilter, filters, new { @class = "form-control", @id = "ddlLongitudFilter" })
                    @Html.TextBoxFor(m => m.Longitud, new { @class = "form-control", @type = "text", @id = "txtLongitud" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_de_los_Hechos_PCResources.Es_una_direccion_exacta_o_aproximada</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Es_una_direccion_exacta_o_aproximadaFilter, filters, new { @class = "form-control", @id = "ddlEs_una_direccion_exacta_o_aproximadaFilter" })
                    @Html.TextBoxFor(m => m.AdvanceEs_una_direccion_exacta_o_aproximada, new { @class = "form-control", @type = "text", @id = "txtAdvanceEs_una_direccion_exacta_o_aproximada" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varDireccion_Exacta_Es_una_direccion_exacta_o_aproximada!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceEs_una_direccion_exacta_o_aproximadaMultiple, varDireccion_Exacta_Es_una_direccion_exacta_o_aproximada,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceEs_una_direccion_exacta_o_aproximada"
                        });
                    }
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Datos_de_los_Hechos_PC/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_de_los_Hechos_PCClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Datos_de_los_Hechos_PCClaveTo = $("#txtAdvanceToClave").val();
        }
        advanceSearch.SolicitudSearchType = 0;
        if ($('#ddlAdvanceSolicitud').val().length > 0 || $("#txtAdvanceSolicitud").val() == "") {


            if (isDatos_de_los_Hechos_PCTextSearch) {
                advanceSearch.SolicitudName = $("#txtAdvanceSolicitud").val();
                advanceSearch.SolicitudNameSearchType = $("#ddlAdvanceSolicitud").val();
                advanceSearch.SolicitudSearchType = 1;
            }
            else {

                advanceSearch.SolicitudToSearch = $("#ddlAdvanceSolicitud").val();
                advanceSearch.SolicitudSearchType = 2;
            }
        }
        advanceSearch.Tipo_de_SolicitudSearchType = 0;
        if ($('#ddlAdvanceTipo_de_Solicitud').val().length > 0 || $("#txtAdvanceTipo_de_Solicitud").val() == "") {


            if (isDatos_de_los_Hechos_PCTextSearch) {
                advanceSearch.Tipo_de_SolicitudName = $("#txtAdvanceTipo_de_Solicitud").val();
                advanceSearch.Tipo_de_SolicitudNameSearchType = $("#ddlAdvanceTipo_de_Solicitud").val();
                advanceSearch.Tipo_de_SolicitudSearchType = 1;
            }
            else {

                advanceSearch.Tipo_de_SolicitudToSearch = $("#ddlAdvanceTipo_de_Solicitud").val();
                advanceSearch.Tipo_de_SolicitudSearchType = 2;
            }
        }
        if ($("#txtAdvanceTitulo_del_Hecho").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_de_los_Hechos_PCTitulo_del_Hecho = $("#txtAdvanceTitulo_del_Hecho").val();
            advanceSearch.Datos_de_los_Hechos_PCTitulo_del_HechoSearchType = $("#ddlAdvanceTitulo_del_HechoFilter").val();
        }
        if ($("#txtAdvanceNarrativa_Breve_de_los_Hechos").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_de_los_Hechos_PCNarrativa_Breve_de_los_Hechos = $("#txtAdvanceNarrativa_Breve_de_los_Hechos").val();
            advanceSearch.Datos_de_los_Hechos_PCNarrativa_Breve_de_los_HechosSearchType = $("#ddlAdvanceNarrativa_Breve_de_los_HechosFilter").val();
        }
        if ($("#txtAdvanceFromFecha_del_Hecho").val() != "" || $("#txtAdvanceToFecha_del_Hecho").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_de_los_Hechos_PCFecha_del_HechoFrom = $("#txtAdvanceFromFecha_del_Hecho").val();
            advanceSearch.Datos_de_los_Hechos_PCFecha_del_HechoTo = $("#txtAdvanceToFecha_del_Hecho").val();
        }
        if ($("#txtAdvanceHora_Aproximada_del_Hecho").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_de_los_Hechos_PCHora_Aproximada_del_Hecho = $("#txtAdvanceHora_Aproximada_del_Hecho").val();
            advanceSearch.Datos_de_los_Hechos_PCHora_Aproximada_del_HechoSearchType = $("#ddlAdvanceHora_Aproximada_del_HechoFilter").val();
        }
        advanceSearch.Tiene_alguna_Foto_o_EvidenciaSearchType = 0;
        if ($('#ddlAdvanceTiene_alguna_Foto_o_Evidencia').val().length > 0 || $("#txtAdvanceTiene_alguna_Foto_o_Evidencia").val() == "") {


            if (isDatos_de_los_Hechos_PCTextSearch) {
                advanceSearch.Tiene_alguna_Foto_o_EvidenciaName = $("#txtAdvanceTiene_alguna_Foto_o_Evidencia").val();
                advanceSearch.Tiene_alguna_Foto_o_EvidenciaNameSearchType = $("#ddlAdvanceTiene_alguna_Foto_o_Evidencia").val();
                advanceSearch.Tiene_alguna_Foto_o_EvidenciaSearchType = 1;
            }
            else {

                advanceSearch.Tiene_alguna_Foto_o_EvidenciaToSearch = $("#ddlAdvanceTiene_alguna_Foto_o_Evidencia").val();
                advanceSearch.Tiene_alguna_Foto_o_EvidenciaSearchType = 2;
            }
        }
        advanceSearch.Fosa_clandestinaSearchType = 0;
        if ($('#ddlAdvanceFosa_clandestina').val().length > 0 || $("#txtAdvanceFosa_clandestina").val() == "") {


            if (isDatos_de_los_Hechos_PCTextSearch) {
                advanceSearch.Fosa_clandestinaName = $("#txtAdvanceFosa_clandestina").val();
                advanceSearch.Fosa_clandestinaNameSearchType = $("#ddlAdvanceFosa_clandestina").val();
                advanceSearch.Fosa_clandestinaSearchType = 1;
            }
            else {

                advanceSearch.Fosa_clandestinaToSearch = $("#ddlAdvanceFosa_clandestina").val();
                advanceSearch.Fosa_clandestinaSearchType = 2;
            }
        }
        advanceSearch.Conoce_la_direccionSearchType = 0;
        if ($('#ddlAdvanceConoce_la_direccion').val().length > 0 || $("#txtAdvanceConoce_la_direccion").val() == "") {


            if (isDatos_de_los_Hechos_PCTextSearch) {
                advanceSearch.Conoce_la_direccionName = $("#txtAdvanceConoce_la_direccion").val();
                advanceSearch.Conoce_la_direccionNameSearchType = $("#ddlAdvanceConoce_la_direccion").val();
                advanceSearch.Conoce_la_direccionSearchType = 1;
            }
            else {

                advanceSearch.Conoce_la_direccionToSearch = $("#ddlAdvanceConoce_la_direccion").val();
                advanceSearch.Conoce_la_direccionSearchType = 2;
            }
        }
        advanceSearch.PaisSearchType = 0;
        if ($('#ddlAdvancePais').val().length > 0 || $("#txtAdvancePais").val() == "") {


            if (isDatos_de_los_Hechos_PCTextSearch) {
                advanceSearch.PaisName = $("#txtAdvancePais").val();
                advanceSearch.PaisNameSearchType = $("#ddlAdvancePais").val();
                advanceSearch.PaisSearchType = 1;
            }
            else {

                advanceSearch.PaisToSearch = $("#ddlAdvancePais").val();
                advanceSearch.PaisSearchType = 2;
            }
        }
        advanceSearch.EstadoSearchType = 0;
        if ($('#ddlAdvanceEstado').val().length > 0 || $("#txtAdvanceEstado").val() == "") {


            if (isDatos_de_los_Hechos_PCTextSearch) {
                advanceSearch.EstadoName = $("#txtAdvanceEstado").val();
                advanceSearch.EstadoNameSearchType = $("#ddlAdvanceEstado").val();
                advanceSearch.EstadoSearchType = 1;
            }
            else {

                advanceSearch.EstadoToSearch = $("#ddlAdvanceEstado").val();
                advanceSearch.EstadoSearchType = 2;
            }
        }
        advanceSearch.MunicipioSearchType = 0;
        if ($('#ddlAdvanceMunicipio').val().length > 0 || $("#txtAdvanceMunicipio").val() == "") {


            if (isDatos_de_los_Hechos_PCTextSearch) {
                advanceSearch.MunicipioName = $("#txtAdvanceMunicipio").val();
                advanceSearch.MunicipioNameSearchType = $("#ddlAdvanceMunicipio").val();
                advanceSearch.MunicipioSearchType = 1;
            }
            else {

                advanceSearch.MunicipioToSearch = $("#ddlAdvanceMunicipio").val();
                advanceSearch.MunicipioSearchType = 2;
            }
        }
        advanceSearch.PoblacionSearchType = 0;
        if ($('#ddlAdvancePoblacion').val().length > 0 || $("#txtAdvancePoblacion").val() == "") {


            if (isDatos_de_los_Hechos_PCTextSearch) {
                advanceSearch.PoblacionName = $("#txtAdvancePoblacion").val();
                advanceSearch.PoblacionNameSearchType = $("#ddlAdvancePoblacion").val();
                advanceSearch.PoblacionSearchType = 1;
            }
            else {

                advanceSearch.PoblacionToSearch = $("#ddlAdvancePoblacion").val();
                advanceSearch.PoblacionSearchType = 2;
            }
        }
        advanceSearch.ColoniaSearchType = 0;
        if ($('#ddlAdvanceColonia').val().length > 0 || $("#txtAdvanceColonia").val() == "") {


            if (isDatos_de_los_Hechos_PCTextSearch) {
                advanceSearch.ColoniaName = $("#txtAdvanceColonia").val();
                advanceSearch.ColoniaNameSearchType = $("#ddlAdvanceColonia").val();
                advanceSearch.ColoniaSearchType = 1;
            }
            else {

                advanceSearch.ColoniaToSearch = $("#ddlAdvanceColonia").val();
                advanceSearch.ColoniaSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromCodigo_Postal").val() != "" || $("#txtAdvanceToCodigo_Postal").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_de_los_Hechos_PCCodigo_PostalFrom = $("#txtAdvanceFromCodigo_Postal").val();
            advanceSearch.Datos_de_los_Hechos_PCCodigo_PostalTo = $("#txtAdvanceToCodigo_Postal").val();
        }
        if ($("#txtAdvanceCalle").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_de_los_Hechos_PCCalle = $("#txtAdvanceCalle").val();
            advanceSearch.Datos_de_los_Hechos_PCCalleSearchType = $("#ddlAdvanceCalleFilter").val();
        }
        if ($("#txtAdvanceEntre_Calle").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_de_los_Hechos_PCEntre_Calle = $("#txtAdvanceEntre_Calle").val();
            advanceSearch.Datos_de_los_Hechos_PCEntre_CalleSearchType = $("#ddlAdvanceEntre_CalleFilter").val();
        }
        if ($("#txtAdvanceY_Calle").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_de_los_Hechos_PCY_Calle = $("#txtAdvanceY_Calle").val();
            advanceSearch.Datos_de_los_Hechos_PCY_CalleSearchType = $("#ddlAdvanceY_CalleFilter").val();
        }
        if ($("#txtAdvanceNumero_Exterior").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_de_los_Hechos_PCNumero_Exterior = $("#txtAdvanceNumero_Exterior").val();
            advanceSearch.Datos_de_los_Hechos_PCNumero_ExteriorSearchType = $("#ddlAdvanceNumero_ExteriorFilter").val();
        }
        if ($("#txtAdvanceNumero_Interior").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_de_los_Hechos_PCNumero_Interior = $("#txtAdvanceNumero_Interior").val();
            advanceSearch.Datos_de_los_Hechos_PCNumero_InteriorSearchType = $("#ddlAdvanceNumero_InteriorFilter").val();
        }
        if ($("#txtAdvanceReferencia").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_de_los_Hechos_PCReferencia = $("#txtAdvanceReferencia").val();
            advanceSearch.Datos_de_los_Hechos_PCReferenciaSearchType = $("#ddlAdvanceReferenciaFilter").val();
        }
        if ($("#txtAdvanceLatitud").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_de_los_Hechos_PCLatitud = $("#txtAdvanceLatitud").val();
            advanceSearch.Datos_de_los_Hechos_PCLatitudSearchType = $("#ddlAdvanceLatitudFilter").val();
        }
        if ($("#txtAdvanceLongitud").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_de_los_Hechos_PCLongitud = $("#txtAdvanceLongitud").val();
            advanceSearch.Datos_de_los_Hechos_PCLongitudSearchType = $("#ddlAdvanceLongitudFilter").val();
        }
        advanceSearch.Es_una_direccion_exacta_o_aproximadaSearchType = 0;
        if ($('#ddlAdvanceEs_una_direccion_exacta_o_aproximada').val().length > 0 || $("#txtAdvanceEs_una_direccion_exacta_o_aproximada").val() == "") {


            if (isDatos_de_los_Hechos_PCTextSearch) {
                advanceSearch.Es_una_direccion_exacta_o_aproximadaName = $("#txtAdvanceEs_una_direccion_exacta_o_aproximada").val();
                advanceSearch.Es_una_direccion_exacta_o_aproximadaNameSearchType = $("#ddlAdvanceEs_una_direccion_exacta_o_aproximada").val();
                advanceSearch.Es_una_direccion_exacta_o_aproximadaSearchType = 1;
            }
            else {

                advanceSearch.Es_una_direccion_exacta_o_aproximadaToSearch = $("#ddlAdvanceEs_una_direccion_exacta_o_aproximada").val();
                advanceSearch.Es_una_direccion_exacta_o_aproximadaSearchType = 2;
            }
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblDatos_de_los_Hechos_PC').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isDatos_de_los_Hechos_PCTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceSolicitud").keypress(function () {
            isDatos_de_los_Hechos_PCTextSearch = true;
            $("#ddlAdvanceSolicitud").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceSolicitud").change(function () {
            isDatos_de_los_Hechos_PCTextSearch = false;
            $("#txtAdvanceSolicitud").val('');
        });
        $("#txtAdvanceTipo_de_Solicitud").keypress(function () {
            isDatos_de_los_Hechos_PCTextSearch = true;
            $("#ddlAdvanceTipo_de_Solicitud").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTipo_de_Solicitud").change(function () {
            isDatos_de_los_Hechos_PCTextSearch = false;
            $("#txtAdvanceTipo_de_Solicitud").val('');
        });
        $("#txtAdvanceFosa_clandestina").keypress(function () {
            isDatos_de_los_Hechos_PCTextSearch = true;
            $("#ddlAdvanceFosa_clandestina").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceFosa_clandestina").change(function () {
            isDatos_de_los_Hechos_PCTextSearch = false;
            $("#txtAdvanceFosa_clandestina").val('');
        });
        $("#txtAdvanceConoce_la_direccion").keypress(function () {
            isDatos_de_los_Hechos_PCTextSearch = true;
            $("#ddlAdvanceConoce_la_direccion").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceConoce_la_direccion").change(function () {
            isDatos_de_los_Hechos_PCTextSearch = false;
            $("#txtAdvanceConoce_la_direccion").val('');
        });
        $("#txtAdvancePais").keypress(function () {
            isDatos_de_los_Hechos_PCTextSearch = true;
            $("#ddlAdvancePais").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancePais").change(function () {
            isDatos_de_los_Hechos_PCTextSearch = false;
            $("#txtAdvancePais").val('');
        });
        $("#txtAdvanceEstado").keypress(function () {
            isDatos_de_los_Hechos_PCTextSearch = true;
            $("#ddlAdvanceEstado").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEstado").change(function () {
            isDatos_de_los_Hechos_PCTextSearch = false;
            $("#txtAdvanceEstado").val('');
        });
        $("#txtAdvanceMunicipio").keypress(function () {
            isDatos_de_los_Hechos_PCTextSearch = true;
            $("#ddlAdvanceMunicipio").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceMunicipio").change(function () {
            isDatos_de_los_Hechos_PCTextSearch = false;
            $("#txtAdvanceMunicipio").val('');
        });
        $("#txtAdvancePoblacion").keypress(function () {
            isDatos_de_los_Hechos_PCTextSearch = true;
            $("#ddlAdvancePoblacion").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancePoblacion").change(function () {
            isDatos_de_los_Hechos_PCTextSearch = false;
            $("#txtAdvancePoblacion").val('');
        });
        $("#txtAdvanceColonia").keypress(function () {
            isDatos_de_los_Hechos_PCTextSearch = true;
            $("#ddlAdvanceColonia").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceColonia").change(function () {
            isDatos_de_los_Hechos_PCTextSearch = false;
            $("#txtAdvanceColonia").val('');
        });
        $("#txtAdvanceEs_una_direccion_exacta_o_aproximada").keypress(function () {
            isDatos_de_los_Hechos_PCTextSearch = true;
            $("#ddlAdvanceEs_una_direccion_exacta_o_aproximada").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEs_una_direccion_exacta_o_aproximada").change(function () {
            isDatos_de_los_Hechos_PCTextSearch = false;
            $("#txtAdvanceEs_una_direccion_exacta_o_aproximada").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

