@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Resolucion_ATModel
@{

/*
    string Fecha_de_Resolucion = "";
    if (Model.Fecha_de_Resolucion == "")
    { Model.Fecha_de_Resolucion = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_de_Validacion = "";
    if (Model.Fecha_de_Validacion == "")
    { Model.Fecha_de_Validacion = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

*/
    List<SelectListItem> varModulo_Atencion_Inicial_Modulo_Atencion_Inicial = null;
    if (ViewBag.Modulo_Atencion_Inicials_Modulo_Atencion_Inicial != null)
    { varModulo_Atencion_Inicial_Modulo_Atencion_Inicial = (List<SelectListItem>)ViewBag.Modulo_Atencion_Inicials_Modulo_Atencion_Inicial; }
    List<SelectListItem> varSpartan_User_Persona_que_Resuelve = null;
    if (ViewBag.Spartan_Users_Persona_que_Resuelve != null)
    { varSpartan_User_Persona_que_Resuelve = (List<SelectListItem>)ViewBag.Spartan_Users_Persona_que_Resuelve; }
    List<SelectListItem> varEstatus_de_Resolucion_de_AT_Estatus = null;
    if (ViewBag.Estatus_de_Resolucion_de_ATs_Estatus != null)
    { varEstatus_de_Resolucion_de_AT_Estatus = (List<SelectListItem>)ViewBag.Estatus_de_Resolucion_de_ATs_Estatus; }
 List<SelectListItem> varResolucion_Resolucion = null;
    if (ViewBag.Resolucions_Resolucion != null)
    { varResolucion_Resolucion = (List<SelectListItem>)ViewBag.Resolucions_Resolucion; }
 List<SelectListItem> varDetalle_de_Relaciones_Relacion = null;
    if (ViewBag.Detalle_de_Relacioness_Relacion != null)
    { varDetalle_de_Relaciones_Relacion = (List<SelectListItem>)ViewBag.Detalle_de_Relacioness_Relacion; }
 List<SelectListItem> varSpartan_User_Dictaminador = null;
    if (ViewBag.Spartan_Users_Dictaminador != null)
    { varSpartan_User_Dictaminador = (List<SelectListItem>)ViewBag.Spartan_Users_Dictaminador; }
 List<SelectListItem> varResolucion_Resultado_de_Validacion = null;
    if (ViewBag.Resolucions_Resultado_de_Validacion != null)
    { varResolucion_Resultado_de_Validacion = (List<SelectListItem>)ViewBag.Resolucions_Resultado_de_Validacion; }


    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial || ViewBag.viewInEframe)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.Resolucion_ATResources.Resolucion_AT
                <button onclick="Resolucion_ATGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Resolucion_ATBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.Resolucion_ATResources.Resolucion_AT</strong>
                }
                
            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="Resolucion_ATDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in Resolucion_ATPropertyBusinessModal" id="Resolucion_ATPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Resolucion_ATBusinessRule-form" onclick="Resolucion_ATGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Resolucion_ATBusinessRuleModal" id="Resolucion_ATBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }

        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Resolucion_AT", FormMethod.Post, new { id = "CreateResolucion_AT", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid Resolucion_ATCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.Resolucion_ATResources.TabDatos_Generales</a></li>
<li class=""><a data-toggle="tab" href="#tabDictaminacion"> @Resources.Resolucion_ATResources.TabDictaminacion</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_ATResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="273037" data-field-name="@Resources.Resolucion_ATResources.Clave">
                                    <label class="form-control" for="Clave" id="lblClave">
                                    @if (Model.Clave== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Clave</text>
                                        }
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="divModulo_Atencion_Inicial">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_ATResources.Modulo_Atencion_Inicial</label>
                                <div class="col-sm-8" data-field-id="Modulo_Atencion_Inicial" data-attribute="273038" data-field-name="@Resources.Resolucion_ATResources.Modulo_Atencion_Inicial">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Módulo Atención Inicial must be a number." data-val-required="The Módulo Atención Inicial field is required." id="Modulo_Atencion_Inicial" name="Modulo_Atencion_Inicial">
                                        <option value=""></option>
                                        @if (varModulo_Atencion_Inicial_Modulo_Atencion_Inicial != null){ 
                                            foreach (var itemModulo_Atencion_Inicial in varModulo_Atencion_Inicial_Modulo_Atencion_Inicial)
                                            {
                                                if (itemModulo_Atencion_Inicial.Value == Convert.ToString(Model.Modulo_Atencion_Inicial))
                                                {
                                                    <option value="@itemModulo_Atencion_Inicial.Value" selected>@itemModulo_Atencion_Inicial.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemModulo_Atencion_Inicial.Value">@itemModulo_Atencion_Inicial.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Modulo_Atencion_Inicial" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 273038).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Modulo_Atencion_Inicial', 'Modulo_Atencion_Inicial');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divFecha_de_Resolucion">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_ATResources.Fecha_de_Resolucion</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Resolucion" data-attribute="273039" data-field-name="@Resources.Resolucion_ATResources.Fecha_de_Resolucion">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Fecha_de_Resolucion"  name="Fecha_de_Resolucion" type="text" value="@Model.Fecha_de_Resolucion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divPersona_que_Resuelve">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_ATResources.Persona_que_Resuelve</label>
                                <div class="col-sm-8" data-field-id="Persona_que_Resuelve" data-attribute="273040" data-field-name="@Resources.Resolucion_ATResources.Persona_que_Resuelve">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Persona que Resuelve must be a number." data-val-required="The Persona que Resuelve field is required." id="Persona_que_Resuelve" name="Persona_que_Resuelve">
                                        <option value=""></option>
                                        @if (varSpartan_User_Persona_que_Resuelve != null){ 
                                            foreach (var itemPersona_que_Resuelve in varSpartan_User_Persona_que_Resuelve)
                                            {
                                                if (itemPersona_que_Resuelve.Value == Convert.ToString(Model.Persona_que_Resuelve))
                                                {
                                                    <option value="@itemPersona_que_Resuelve.Value" selected>@itemPersona_que_Resuelve.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemPersona_que_Resuelve.Value">@itemPersona_que_Resuelve.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Persona_que_Resuelve" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 273040).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Spartan_User', 'Persona_que_Resuelve');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divEstatus">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_ATResources.Estatus</label>
                                <div class="col-sm-8" data-field-id="Estatus" data-attribute="273041" data-field-name="@Resources.Resolucion_ATResources.Estatus">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Estatus must be a number." data-val-required="The Estatus field is required." id="Estatus" name="Estatus">
                                        <option value=""></option>
                                        @if (varEstatus_de_Resolucion_de_AT_Estatus != null){ 
                                            foreach (var itemEstatus in varEstatus_de_Resolucion_de_AT_Estatus)
                                            {
                                                if (itemEstatus.Value == Convert.ToString(Model.Estatus))
                                                {
                                                    <option value="@itemEstatus.Value" selected>@itemEstatus.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemEstatus.Value">@itemEstatus.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Estatus" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 273041).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Estatus_de_Resolucion_de_AT', 'Estatus');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
				<div class="form-group" id="divResolucion">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_ATResources.Resolucion</label>
                                <div class="col-sm-8" data-field-id="Resolucion" data-attribute="273042" data-field-name="@Resources.Resolucion_ATResources.Resolucion">
                                    <select class='fullWidth AutoComplete AutoCompleteResolucion_AT_Resolucion form-control select2-dropdown Datos_Generales' data-val="true" id="Resolucion" name="Resolucion">
                                        <option value="@Model.Resolucion">@(Model.ResolucionDescripcion??Model.ResolucionDescripcion)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 273042).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Resolucion', 'Resolucion');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
				<div class="form-group" id="divRelacion">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_ATResources.Relacion</label>
                                <div class="col-sm-8" data-field-id="Relacion" data-attribute="273043" data-field-name="@Resources.Resolucion_ATResources.Relacion">
                                    <select class='fullWidth AutoComplete AutoCompleteResolucion_AT_Relacion form-control select2-dropdown Datos_Generales' data-val="true" id="Relacion" name="Relacion">
                                        <option value="@Model.Relacion">@(Model.RelacionDescripcion??Model.RelacionDescripcion)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 273043).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Detalle_de_Relaciones', 'Relacion');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divObservaciones">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_ATResources.Observaciones</label>
                                <div class="col-sm-8" data-field-id="Observaciones" data-attribute="273044" data-field-name="@Resources.Resolucion_ATResources.Observaciones">
                                    <textarea id="Observaciones" name="Observaciones" class="form-control Datos_Generales" rows="4" cols="50">@Model.Observaciones</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Observaciones" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            </div>
                                </div>


                            <div id="tabDictaminacion" class="tab-pane">
                                <div class="panel-body">
                            <div class="form-group" id="divFecha_de_Validacion">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_ATResources.Fecha_de_Validacion</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Validacion" data-attribute="273045" data-field-name="@Resources.Resolucion_ATResources.Fecha_de_Validacion">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Dictaminacion" id="Fecha_de_Validacion"  name="Fecha_de_Validacion" type="text" value="@Model.Fecha_de_Validacion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divHora_de_Validacion">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_ATResources.Hora_de_Validacion</label>
                                <div class="col-sm-8" data-field-id="Hora_de_Validacion" data-attribute="273046" data-field-name="@Resources.Resolucion_ATResources.Hora_de_Validacion">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12 Dictaminacion" id="Hora_de_Validacion"  name="Hora_de_Validacion" type="text" data-autoclose="true" value="@Model.Hora_de_Validacion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
				<div class="form-group" id="divDictaminador">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_ATResources.Dictaminador</label>
                                <div class="col-sm-8" data-field-id="Dictaminador" data-attribute="273047" data-field-name="@Resources.Resolucion_ATResources.Dictaminador">
                                    <select class='fullWidth AutoComplete AutoCompleteResolucion_AT_Dictaminador form-control select2-dropdown Dictaminacion' data-val="true" id="Dictaminador" name="Dictaminador">
                                        <option value="@Model.Dictaminador">@(Model.DictaminadorName??Model.DictaminadorName)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 273047).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Spartan_User', 'Dictaminador');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
				<div class="form-group" id="divResultado_de_Validacion">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_ATResources.Resultado_de_Validacion</label>
                                <div class="col-sm-8" data-field-id="Resultado_de_Validacion" data-attribute="273048" data-field-name="@Resources.Resolucion_ATResources.Resultado_de_Validacion">
                                    <select class='fullWidth AutoComplete AutoCompleteResolucion_AT_Resultado_de_Validacion form-control select2-dropdown Dictaminacion' data-val="true" id="Resultado_de_Validacion" name="Resultado_de_Validacion">
                                        <option value="@Model.Resultado_de_Validacion">@(Model.Resultado_de_ValidacionDescripcion??Model.Resultado_de_ValidacionDescripcion)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 273048).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Resolucion', 'Resultado_de_Validacion');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divObservaciones_Dictaminador">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_ATResources.Observaciones_Dictaminador</label>
                                <div class="col-sm-8" data-field-id="Observaciones_Dictaminador" data-attribute="273049" data-field-name="@Resources.Resolucion_ATResources.Observaciones_Dictaminador">
                                    <textarea id="Observaciones_Dictaminador" name="Observaciones_Dictaminador" class="form-control Dictaminacion" rows="4" cols="50">@Model.Observaciones_Dictaminador</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Observaciones_Dictaminador" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Clave" id="ReferenceClave" />
                                <input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Resolucion_ATGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('Resolucion_ATCreateForm');"  />
									<button onclick="Resolucion_ATGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Resolucion_ATBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="Resolucion_ATGuardarYNuevo" onclick="return checkClientValidate('Resolucion_ATCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="Resolucion_ATGuardarYCopia" onclick="return checkClientValidate('Resolucion_ATCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnResolucion_ATBusinessRuleFieldId" />
                                <input type="hidden" id="hdnResolucion_ATBusinessRuleFieldName" />
                                <input type="hidden" id="hdnResolucion_ATBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Resolucion_ATCancelar" name="Resolucion_ATCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="Resolucion_ATGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Resolucion_ATBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Resolucion_AT.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Resolucion_ATGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Resolucion_ATCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var viewInEframe =  ('@ViewBag.viewInEframe' == 'True');
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;

		var Tab_Dictaminacion = true;


        $(document).ready(function () {
            $('#ObjectId').val('46209');
		    
		   
                        $('#Fecha_de_Resolucion').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Fecha_de_Validacion').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Hora_de_Validacion').clockpicker();


            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			
			 if (viewInEframe) {             
                $('#Resolucion_ATGuardarYNuevo').hide();
                $('#Resolucion_ATGuardarYCopia').hide();
                $('#Resolucion_ATCancelar').hide(); 
                $('#ConfigureSave').hide();
                $('#Resolucion_ATGuardar').val('Actualizar Seccion ' + '@Resources.Resolucion_ATResources.Resolucion_AT' )
            }

			
			       var AutoCompleteResolucionData =[];
       $(".AutoCompleteResolucion_AT_Resolucion").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Resolucion_AT/GetResolucion_AT_Resolucion_Resolucion")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteResolucion_AT_Resolucion_ResolucionData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteResolucion_AT_Resolucion");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteRelacionData =[];
       $(".AutoCompleteResolucion_AT_Relacion").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Resolucion_AT/GetResolucion_AT_Relacion_Detalle_de_Relaciones")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteResolucion_AT_Relacion_Detalle_de_RelacionesData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteResolucion_AT_Relacion");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteDictaminadorData =[];
       $(".AutoCompleteResolucion_AT_Dictaminador").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Resolucion_AT/GetResolucion_AT_Dictaminador_Spartan_User")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteResolucion_AT_Dictaminador_Spartan_UserData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteResolucion_AT_Dictaminador");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteResultado_de_ValidacionData =[];
       $(".AutoCompleteResolucion_AT_Resultado_de_Validacion").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Resolucion_AT/GetResolucion_AT_Resultado_de_Validacion_Resolucion")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteResolucion_AT_Resultado_de_Validacion_ResolucionData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteResolucion_AT_Resultado_de_Validacion");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });


            @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();

				if (Tab_Dictaminacion)
					Fill_Dictaminacion();


                </text>
            }
            EjecutarValidacionesAlComienzo(); 
			
        });



        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });

        }

    </script>

<script type="text/javascript">


   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Resolucion_AT/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }


        function SendResolucion_ATData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateResolucion_AT").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateResolucion_AT")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceClave").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('Resolucion_ATCreateForm', 'Datos_Generales')) {
				return false;
			}						

			if (Tab_Dictaminacion && !checkClientValidate('Resolucion_ATCreateForm', 'Dictaminacion')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);

			if (Tab_Dictaminacion)
				Save_Dictaminacion(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Resolucion_AT/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".Resolucion_ATBusinessRuleModal").html(data);
			});
		}
                function Resolucion_ATGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('46209');
			$('#Screen').val('Resolucion_AT');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function Resolucion_ATBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Resolucion_AT/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Resolucion_AT/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Resolucion_AT/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Resolucion_AT/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Resolucion_AT/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateResolucion_AT').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        Resolucion_ATGetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Resolucion_AT/Get_Datos_Generales")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    $('#Modulo_Atencion_Inicial').val(result.data.Modulo_Atencion_Inicial);
                    $('#Fecha_de_Resolucion').val(result.data.Fecha_de_Resolucion);
                    $('#Persona_que_Resuelve').val(result.data.Persona_que_Resuelve);
                    $('#Estatus').val(result.data.Estatus);
                    var control = $('#Resolucion');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Resolucion).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Resolucion).trigger('change');
                    }, 3000);
                    var control = $('#Relacion');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Relacion).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Relacion).trigger('change');
                    }, 3000);
                    $('#Observaciones').val(result.data.Observaciones);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Modulo_Atencion_Inicial', $('#Modulo_Atencion_Inicial').val());
                data.append('Fecha_de_Resolucion', $('#Fecha_de_Resolucion').val());
                data.append('Persona_que_Resuelve', $('#Persona_que_Resuelve').val());
                data.append('Estatus', $('#Estatus').val());
                data.append('Resolucion', $('#Resolucion').val());
                data.append('Relacion', $('#Relacion').val());
                data.append('Observaciones', $('#Observaciones').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Resolucion_AT/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}

		function Fill_Dictaminacion()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Resolucion_AT/Get_Dictaminacion")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    $('#Fecha_de_Validacion').val(result.data.Fecha_de_Validacion);
                    $('#Hora_de_Validacion').val(result.data.Hora_de_Validacion);
                    var control = $('#Dictaminador');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Dictaminador).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Dictaminador).trigger('change');
                    }, 3000);
                    var control = $('#Resultado_de_Validacion');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Resultado_de_Validacion).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Resultado_de_Validacion).trigger('change');
                    }, 3000);
                    $('#Observaciones_Dictaminador').val(result.data.Observaciones_Dictaminador);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Dictaminacion(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Fecha_de_Validacion', $('#Fecha_de_Validacion').val());
                data.append('Hora_de_Validacion', $('#Hora_de_Validacion').val());
                data.append('Dictaminador', $('#Dictaminador').val());
                data.append('Resultado_de_Validacion', $('#Resultado_de_Validacion').val());
                data.append('Observaciones_Dictaminador', $('#Observaciones_Dictaminador').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Resolucion_AT/Post_Dictaminacion")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Dictaminacion");
					} else {
						newId = result;
                    
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Dictaminacion");
				},
				cache: false
			});
		}


    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Resolucion_AT_cmbLabelSelect" name="Resolucion_AT_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />

