@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_de_documentosModel
@{
    Spartane_File attachedFileArchivo_Adjunto = (Spartane_File)ViewBag.Archivo_AdjuntoSpartane_File;

/*
    string Fecha = "";
    if (Model.Fecha == "")
    { Model.Fecha = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

*/
 List<SelectListItem> varSolicitud_Solicitud = null;
    if (ViewBag.Solicituds_Solicitud != null)
    { varSolicitud_Solicitud = (List<SelectListItem>)ViewBag.Solicituds_Solicitud; }
 List<SelectListItem> varSpartan_User_Usuario_que_Registra = null;
    if (ViewBag.Spartan_Users_Usuario_que_Registra != null)
    { varSpartan_User_Usuario_que_Registra = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Registra; }
    List<SelectListItem> varTipo_de_Documento_Tipo_de_Documento = null;
    if (ViewBag.Tipo_de_Documentos_Tipo_de_Documento != null)
    { varTipo_de_Documento_Tipo_de_Documento = (List<SelectListItem>)ViewBag.Tipo_de_Documentos_Tipo_de_Documento; }
 List<SelectListItem> varDocumento_Documento = null;
    if (ViewBag.Documentos_Documento != null)
    { varDocumento_Documento = (List<SelectListItem>)ViewBag.Documentos_Documento; }
 List<SelectListItem> varDetalle_de_Solicitud_Solicitante_Solicitante = null;
    if (ViewBag.Detalle_de_Solicitud_Solicitantes_Solicitante != null)
    { varDetalle_de_Solicitud_Solicitante_Solicitante = (List<SelectListItem>)ViewBag.Detalle_de_Solicitud_Solicitantes_Solicitante; }
 List<SelectListItem> varDetalle_de_Solicitud_Requerido_Requerido = null;
    if (ViewBag.Detalle_de_Solicitud_Requeridos_Requerido != null)
    { varDetalle_de_Solicitud_Requerido_Requerido = (List<SelectListItem>)ViewBag.Detalle_de_Solicitud_Requeridos_Requerido; }


    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial || ViewBag.viewInEframe)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.Detalle_de_documentosResources.Detalle_de_documentos
                <button onclick="Detalle_de_documentosGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_de_documentosBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.Detalle_de_documentosResources.Detalle_de_documentos</strong>
                }
                
            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="Detalle_de_documentosDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in Detalle_de_documentosPropertyBusinessModal" id="Detalle_de_documentosPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Detalle_de_documentosBusinessRule-form" onclick="Detalle_de_documentosGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_de_documentosBusinessRuleModal" id="Detalle_de_documentosBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }

        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Detalle_de_documentos", FormMethod.Post, new { id = "CreateDetalle_de_documentos", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid Detalle_de_documentosCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.Detalle_de_documentosResources.TabDatos_Generales</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="form-group" id="divClave">
                                        <label class="col-sm-2 control-label">@Resources.Detalle_de_documentosResources.Clave</label>
                                        <div class="col-sm-8" data-field-id="Clave" data-attribute="263059" data-field-name="@Resources.Detalle_de_documentosResources.Clave">
                                            <label class="form-control" for="Clave" id="lblClave">
                                                @if (Model.Clave == 0)
                                                {
                                                    <text>@Resources.Resources.ClaveDefault</text>
                                                }
                                                else
                                                {
                                                    <text>@Model.Clave</text>
                                                }
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divSolicitud">
                                        <label class="col-sm-2 control-label">@Resources.Detalle_de_documentosResources.Solicitud</label>
                                        <div class="col-sm-8" data-field-id="Solicitud" data-attribute="263062" data-field-name="@Resources.Detalle_de_documentosResources.Solicitud">
                                            <select class='fullWidth AutoComplete AutoCompleteDetalle_de_documentos_Solicitud form-control select2-dropdown Datos_Generales' data-val="true" id="Solicitud" name="Solicitud">
                                                <option value="@Model.Solicitud">@(Model.SolicitudNumero_de_Folio ?? Model.SolicitudNumero_de_Folio)</option>
                                            </select>
                                        </div>
                                        @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 263062).New)
                                        {
                                            <div class="col-sm-1 abm-icons">
                                                <a id="Estado_New" onclick="GetCatalogPopup('Solicitud', 'Solicitud');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                            </div>
                                        }
                                    </div>
                                    <div class="form-group" id="divFecha">
                                        <label class="col-sm-2 control-label">@Resources.Detalle_de_documentosResources.Fecha</label>
                                        <div class="col-sm-8" data-field-id="Fecha" data-attribute="263063" data-field-name="@Resources.Detalle_de_documentosResources.Fecha">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input class="form-control col-md-12 Datos_Generales" id="Fecha" name="Fecha" type="text" value="@Model.Fecha">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divHora_de_Registro">
                                        <label class="col-sm-2 control-label">@Resources.Detalle_de_documentosResources.Hora_de_Registro</label>
                                        <div class="col-sm-8" data-field-id="Hora_de_Registro" data-attribute="266463" data-field-name="@Resources.Detalle_de_documentosResources.Hora_de_Registro">
                                            <div class='input-group date' id='timePicker'>
                                                <input class="form-control col-md-12 Datos_Generales" id="Hora_de_Registro" name="Hora_de_Registro" type="text" data-autoclose="true" value="@Model.Hora_de_Registro">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divUsuario_que_Registra">
                                        <label class="col-sm-2 control-label">@Resources.Detalle_de_documentosResources.Usuario_que_Registra</label>
                                        <div class="col-sm-8" data-field-id="Usuario_que_Registra" data-attribute="266464" data-field-name="@Resources.Detalle_de_documentosResources.Usuario_que_Registra">
                                            <select class='fullWidth AutoComplete AutoCompleteDetalle_de_documentos_Usuario_que_Registra form-control select2-dropdown Datos_Generales' data-val="true" id="Usuario_que_Registra" name="Usuario_que_Registra">
                                                <option value="@Model.Usuario_que_Registra">@(Model.Usuario_que_RegistraName ?? Model.Usuario_que_RegistraName)</option>
                                            </select>
                                        </div>
                                        @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 266464).New)
                                        {
                                            <div class="col-sm-1 abm-icons">
                                                <a id="Estado_New" onclick="GetCatalogPopup('Spartan_User', 'Usuario_que_Registra');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                            </div>
                                        }
                                    </div>
                                    <div class="form-group" id="divTipo_de_Documento">
                                        <label class="col-sm-2 control-label">@Resources.Detalle_de_documentosResources.Tipo_de_Documento</label>
                                        <div class="col-sm-8" data-field-id="Tipo_de_Documento" data-attribute="266641" data-field-name="@Resources.Detalle_de_documentosResources.Tipo_de_Documento">
                                            <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Tipo de Documento must be a number." data-val-required="The Tipo de Documento field is required." id="Tipo_de_Documento" name="Tipo_de_Documento">
                                                <option value=""></option>
                                                @if (varTipo_de_Documento_Tipo_de_Documento != null)
                                                {
                                                    foreach (var itemTipo_de_Documento in varTipo_de_Documento_Tipo_de_Documento)
                                                    {
                                                        if (itemTipo_de_Documento.Value == Convert.ToString(Model.Tipo_de_Documento))
                                                        {
                                                            <option value="@itemTipo_de_Documento.Value" selected>@itemTipo_de_Documento.Text</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@itemTipo_de_Documento.Value">@itemTipo_de_Documento.Text</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            @*<span class="field-validation-valid" data-valmsg-for="Tipo_de_Documento" data-valmsg-replace="true"></span>*@
                                        </div>
                                        @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 266641).New)
                                        {
                                            <div class="col-sm-1 abm-icons">
                                                <a id="Estado_New" onclick="GetCatalogPopup('Tipo_de_Documento', 'Tipo_de_Documento');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                            </div>
                                        }
                                    </div>
                                    <div class="form-group" id="divDocumento">
                                        <label class="col-sm-2 control-label">@Resources.Detalle_de_documentosResources.Documento</label>
                                        <div class="col-sm-8" data-field-id="Documento" data-attribute="263060" data-field-name="@Resources.Detalle_de_documentosResources.Documento">
                                            <select class='fullWidth AutoComplete AutoCompleteDetalle_de_documentos_Documento form-control select2-dropdown Datos_Generales' data-val="true" id="Documento" name="Documento">
                                                <option value="@Model.Documento">@(Model.DocumentoDescripcion ?? Model.DocumentoDescripcion)</option>
                                            </select>
                                        </div>
                                        @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 263060).New)
                                        {
                                            <div class="col-sm-1 abm-icons">
                                                <a id="Estado_New" onclick="GetCatalogPopup('Documento', 'Documento');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                            </div>
                                        }
                                    </div>
                                    <div class="form-group" id="divSolicitante">
                                        <label class="col-sm-2 control-label">@Resources.Detalle_de_documentosResources.Solicitante</label>
                                        <div class="col-sm-8" data-field-id="Solicitante" data-attribute="266608" data-field-name="@Resources.Detalle_de_documentosResources.Solicitante">
                                            <select class='fullWidth AutoComplete AutoCompleteDetalle_de_documentos_Solicitante form-control select2-dropdown Datos_Generales' data-val="true" id="Solicitante" name="Solicitante">
                                                <option value="@Model.Solicitante">@(Model.SolicitanteNombre_Completo ?? Model.SolicitanteNombre_Completo)</option>
                                            </select>
                                        </div>
                                        @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 266608).New)
                                        {
                                            <div class="col-sm-1 abm-icons">
                                                <a id="Estado_New" onclick="GetCatalogPopup('Detalle_de_Solicitud_Solicitante', 'Solicitante');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                            </div>
                                        }
                                    </div>
                                    <div class="form-group" id="divRequerido">
                                        <label class="col-sm-2 control-label">@Resources.Detalle_de_documentosResources.Requerido</label>
                                        <div class="col-sm-8" data-field-id="Requerido" data-attribute="266609" data-field-name="@Resources.Detalle_de_documentosResources.Requerido">
                                            <select class='fullWidth AutoComplete AutoCompleteDetalle_de_documentos_Requerido form-control select2-dropdown Datos_Generales' data-val="true" id="Requerido" name="Requerido">
                                                <option value="@Model.Requerido">@(Model.RequeridoNombre_Completo ?? Model.RequeridoNombre_Completo)</option>
                                            </select>
                                        </div>
                                        @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 266609).New)
                                        {
                                            <div class="col-sm-1 abm-icons">
                                                <a id="Estado_New" onclick="GetCatalogPopup('Detalle_de_Solicitud_Requerido', 'Requerido');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                            </div>
                                        }
                                    </div>
                                    @if (attachedFileArchivo_Adjunto != null && attachedFileArchivo_Adjunto.File_Id > 0)
                                    {
                                        <div class="form-group" id="divAttachmentArchivo_Adjunto">
                                            <label class="col-sm-2 control-label">@Resources.Resources.PreviouslyAttachedFile</label>
                                            <div class="col-sm-8 Datos_Generales" data-field-id="Archivo_Adjunto" data-attribute="266643" data-field-name="@Resources.Detalle_de_documentosResources.Archivo_Adjunto">
                                                <a href="@Url.Content("~/Frontal/Detalle_de_documentos/GetFile")?id=@attachedFileArchivo_Adjunto.File_Id" target="_blank">@attachedFileArchivo_Adjunto.Description</a>
                                                <img src="@Url.Content("~/Content/Images/RemoveAttachment.png")" onclick="RemoveAttachmentMainArchivo_Adjunto('@attachedFileArchivo_Adjunto.File_Id')" />
                                            </div>
                                            <input id="hdnRemoveArchivo_Adjunto" name="RemoveArchivo_Adjunto" value="0" type="hidden" />
                                            <input class="form-control col-md-12 Datos_Generales" id="hdnAttachedArchivo_Adjunto" type="hidden" name="Archivo_Adjunto" value="@Model.Archivo_Adjunto">
                                        </div>
                                    }
                                    <div class="form-group" id="divArchivo_Adjunto">
                                        <label class="col-sm-2 control-label">@Resources.Detalle_de_documentosResources.Archivo_Adjunto</label>
                                        <div class="col-sm-8" data-field-id="Archivo_Adjunto" data-attribute="266643" data-field-name="@Resources.Detalle_de_documentosResources.Archivo_Adjunto">
                                            <input type="file" name="Archivo_AdjuntoFile" id="Archivo_AdjuntoFile" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group" id="divObservaciones">
                                        <label class="col-sm-2 control-label">@Resources.Detalle_de_documentosResources.Observaciones</label>
                                        <div class="col-sm-8" data-field-id="Observaciones" data-attribute="266644" data-field-name="@Resources.Detalle_de_documentosResources.Observaciones">
                                            <textarea id="Observaciones" name="Observaciones" class="form-control Datos_Generales" rows="4" cols="50">@Model.Observaciones</textarea>
                                            @*<span class="field-validation-valid" data-valmsg-for="Observaciones" data-valmsg-replace="true"></span>*@
                                        </div>
                                    </div>
                                    <div class="form-group" id="divArchivo">
                                        <label class="col-sm-2 control-label">@Resources.Detalle_de_documentosResources.Archivo</label>
                                        <div class="col-sm-8" data-field-id="Archivo" data-attribute="263061" data-field-name="@Resources.Detalle_de_documentosResources.Archivo">
                                            <input class="form-control inputNumber Datos_Generales" id="Archivo" name="Archivo" type="text" value="@Model.Archivo">
                                            @*<span class="field-validation-valid" data-valmsg-for="Archivo" data-valmsg-replace="true"></span>*@

                                            @*fjmore*@

                                        </div>
                                    </div>
                                    <div class="form-group" id="divArchivo">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="col-md-3">

                                                    <button id="Archivo_VerDocto" class="btn btn-w-m btn-primary btn_save hidden" onclick="VerDocto()"><img src="/MVCfiscaliasinaloa/Images/seguimiento.png" width="16" height="16" /> Ver Docto</button>

                                                </div>
                                                <div class="col-md-3">

                                                    <button id="Archivo_EditarDocto" class="btn btn-w-m btn-primary btn_save" onclick="EditarDocto()"><img src="/MVCfiscaliasinaloa/Images/seguimiento.png" width="16" height="16" /> Editar Docto</button>

                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                            </div>
                                            
                                        </div>

                                        </div>
                                    </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Clave" id="ReferenceClave" />
                                <input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Detalle_de_documentosGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('Detalle_de_documentosCreateForm');"  />
									<button onclick="Detalle_de_documentosGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_de_documentosBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="Detalle_de_documentosGuardarYNuevo" onclick="return checkClientValidate('Detalle_de_documentosCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="Detalle_de_documentosGuardarYCopia" onclick="return checkClientValidate('Detalle_de_documentosCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnDetalle_de_documentosBusinessRuleFieldId" />
                                <input type="hidden" id="hdnDetalle_de_documentosBusinessRuleFieldName" />
                                <input type="hidden" id="hdnDetalle_de_documentosBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Detalle_de_documentosCancelar" name="Detalle_de_documentosCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="Detalle_de_documentosGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_de_documentosBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_de_documentos.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_de_documentosGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_de_documentosCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        
        function RemoveAttachmentMainArchivo_Adjunto () {
            $("#hdnRemoveArchivo_Adjunto").val("1");
            $("#divAttachmentArchivo_Adjunto").hide();
        }


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var viewInEframe =  ('@ViewBag.viewInEframe' == 'True');
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;


        $(document).ready(function () {

            $('#ObjectId').val('45018');
		    
		   
                        $('#Fecha').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Hora_de_Registro').clockpicker();


            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			
			 if (viewInEframe) {             
                $('#Detalle_de_documentosGuardarYNuevo').hide();
                $('#Detalle_de_documentosGuardarYCopia').hide();
                $('#Detalle_de_documentosCancelar').hide(); 
                $('#ConfigureSave').hide();
                $('#Detalle_de_documentosGuardar').val('Actualizar Seccion ' + '@Resources.Detalle_de_documentosResources.Detalle_de_documentos' )
            }

			
			       var AutoCompleteSolicitudData =[];
       $(".AutoCompleteDetalle_de_documentos_Solicitud").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Detalle_de_documentos/GetDetalle_de_documentos_Solicitud_Solicitud")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_de_documentos_Solicitud_SolicitudData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_de_documentos_Solicitud");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteUsuario_que_RegistraData =[];
       $(".AutoCompleteDetalle_de_documentos_Usuario_que_Registra").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Detalle_de_documentos/GetDetalle_de_documentos_Usuario_que_Registra_Spartan_User")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_de_documentos_Usuario_que_Registra_Spartan_UserData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_de_documentos_Usuario_que_Registra");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteDocumentoData =[];
       $(".AutoCompleteDetalle_de_documentos_Documento").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Detalle_de_documentos/GetDetalle_de_documentos_Documento_Documento")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_de_documentos_Documento_DocumentoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_de_documentos_Documento");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteSolicitanteData =[];
       $(".AutoCompleteDetalle_de_documentos_Solicitante").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Detalle_de_documentos/GetDetalle_de_documentos_Solicitante_Detalle_de_Solicitud_Solicitante")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_de_documentos_Solicitante_Detalle_de_Solicitud_SolicitanteData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_de_documentos_Solicitante");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteRequeridoData =[];
       $(".AutoCompleteDetalle_de_documentos_Requerido").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Detalle_de_documentos/GetDetalle_de_documentos_Requerido_Detalle_de_Solicitud_Requerido")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_de_documentos_Requerido_Detalle_de_Solicitud_RequeridoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_de_documentos_Requerido");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });


            @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();


                </text>
            }
            EjecutarValidacionesAlComienzo(); 

            var valorArchivo = $("#Archivo").val();

            if (valorArchivo != "" && valorArchivo != "0") {
                $("#Archivo_VerDocto").removeClass("hidden");
            }

			
        });



        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });

        }

    </script>

<script type="text/javascript">


   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Detalle_de_documentos/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					//showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }


        function SendDetalle_de_documentosData(callBack) {

            debugger;
		 var arr = []; 
		 $("form#CreateDetalle_de_documentos").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_de_documentos")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceClave").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('Detalle_de_documentosCreateForm', 'Datos_Generales')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Detalle_de_documentos/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".Detalle_de_documentosBusinessRuleModal").html(data);
			});
		}
                function Detalle_de_documentosGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('45018');
			$('#Screen').val('Detalle_de_documentos');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function Detalle_de_documentosBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Detalle_de_documentos/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_de_documentos/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_de_documentos/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_de_documentos/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_de_documentos/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_de_documentos').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        Detalle_de_documentosGetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Detalle_de_documentos/Get_Datos_Generales")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    var control = $('#Solicitud');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Solicitud).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Solicitud).trigger('change');
                    }, 3000);
                    $('#Fecha').val(result.data.Fecha);
                    $('#Hora_de_Registro').val(result.data.Hora_de_Registro);
                    var control = $('#Usuario_que_Registra');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Usuario_que_Registra).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Usuario_que_Registra).trigger('change');
                    }, 3000);
                    $('#Tipo_de_Documento').val(result.data.Tipo_de_Documento);
                    var control = $('#Documento');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Documento).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Documento).trigger('change');
                    }, 3000);
                    var control = $('#Solicitante');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Solicitante).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Solicitante).trigger('change');
                    }, 3000);
                    var control = $('#Requerido');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Requerido).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Requerido).trigger('change');
                    }, 3000);
                    $('#Archivo_Adjunto').val(result.data.Archivo_Adjunto);
                    $('#Observaciones').val(result.data.Observaciones);
                    $('#Archivo').val(result.data.Archivo);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Solicitud', $('#Solicitud').val());
                data.append('Fecha', $('#Fecha').val());
                data.append('Hora_de_Registro', $('#Hora_de_Registro').val());
                data.append('Usuario_que_Registra', $('#Usuario_que_Registra').val());
                data.append('Tipo_de_Documento', $('#Tipo_de_Documento').val());
                data.append('Documento', $('#Documento').val());
                data.append('Solicitante', $('#Solicitante').val());
                data.append('Requerido', $('#Requerido').val());
                data.append('Archivo_Adjunto', $('#hdnAttachedArchivo_Adjunto').val());
                data.append('Archivo_AdjuntoFile', $('#Archivo_AdjuntoFile')[0].files[0]);
                data.append('Archivo_AdjuntoRemoveAttachment', $('#hdnRemoveArchivo_Adjunto').val());
                data.append('Observaciones', $('#Observaciones').val());
                data.append('Archivo', $('#Archivo').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Detalle_de_documentos/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
    }

    function GetIdFormatoFromDocumento()
    {
        debugger;
        var formatoID = EvaluaQuery(" usp_getIdFormatoFromDocumento  " + $('#Documento').val() + "");
        return formatoID;
    }

     function VerDocto() {
        debugger;
            var PathFile = "";
            var BaseUrl = "";
            var id = EvaluaQuery("select isnull(archivo,'') as Archivo from control_de_documentos where folio = " + $("#Archivo").val(), "", "");// document.getElementById("Archivo").innerHTML;


            $.ajax({
                async: false,
                url: '@Url.Content("~/Frontal/Detalle_de_documentos/GetArchivoFisico")',
                data: { "Archivo": id },
                type: 'POST',
                success: function (result) {

                    BaseUrl = result;

                    window.open(BaseUrl);
                }
        });
        }

        function EditarDocto() {
           
            debugger;
            var isedit = ($("#Archivo").val() != "" && $("#Archivo").val() != "0" && $("#Archivo").val() != "-1");
            var folioControlDocumentos = $("#Archivo").val();
            $('.loading').css('display', 'none');
            var formaid = GetIdFormatoFromDocumento();
            if (isedit) {
                OpenPrintFormats(folioControlDocumentos, @Spartane.Web.SessionHelper.Role, "", true, "45018", formaid);
            }
            else {
                GuardarRegistro(formaid);

            }



        }


    function GuardarRegistro(formaid) {

            debugger;
            $("#Archivo").val("0");
            if (EjecutarValidacionesAntesDeGuardar() && CheckValidation()) {
                debugger
                if (!SendDetalle_de_documentosData(function (idvalor) {
                 debugger
                    EjecutarValidacionesDespuesDeGuardar();
                    $('.loading').css('display', 'none');
                    $('#hdnIsNew').val("False");
                    //aqui
                    $("#ReferenceClave").text(idvalor);
                    $("#ReferenceClave").val(idvalor);
                        

                    OpenPrintFormats(idvalor, @Spartane.Web.SessionHelper.Role, "", false, "45018", formaid);





                }, false)) {

                }
            }




        }


    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Detalle_de_documentos_cmbLabelSelect" name="Detalle_de_documentos_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />
