@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Involucrados_PCModel
@{
    Spartane_File attachedFileFotografia_de_la_identificacion = (Spartane_File)ViewBag.Fotografia_de_la_identificacionSpartane_File;

/*
    string Fecha_de_Nacimiento = "";
    if (Model.Fecha_de_Nacimiento == "")
    { Model.Fecha_de_Nacimiento = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

*/
 List<SelectListItem> varSolicitud_de_Denuncia_Ciudadana_Solicitud = null;
    if (ViewBag.Solicitud_de_Denuncia_Ciudadanas_Solicitud != null)
    { varSolicitud_de_Denuncia_Ciudadana_Solicitud = (List<SelectListItem>)ViewBag.Solicitud_de_Denuncia_Ciudadanas_Solicitud; }
    List<SelectListItem> varTipo_de_Solicitud_Tipo_de_Solicitud = null;
    if (ViewBag.Tipo_de_Solicituds_Tipo_de_Solicitud != null)
    { varTipo_de_Solicitud_Tipo_de_Solicitud = (List<SelectListItem>)ViewBag.Tipo_de_Solicituds_Tipo_de_Solicitud; }
    List<SelectListItem> varSpartan_User_Usuario_que_Registra = null;
    if (ViewBag.Spartan_Users_Usuario_que_Registra != null)
    { varSpartan_User_Usuario_que_Registra = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Registra; }
    List<SelectListItem> varTipo_de_Compareciente_Tipo_de_Compareciente = null;
    if (ViewBag.Tipo_de_Comparecientes_Tipo_de_Compareciente != null)
    { varTipo_de_Compareciente_Tipo_de_Compareciente = (List<SelectListItem>)ViewBag.Tipo_de_Comparecientes_Tipo_de_Compareciente; }
    List<SelectListItem> varGenero_Sexo = null;
    if (ViewBag.Generos_Sexo != null)
    { varGenero_Sexo = (List<SelectListItem>)ViewBag.Generos_Sexo; }
    List<SelectListItem> varEstado_Civil_Estado_Civil = null;
    if (ViewBag.Estado_Civils_Estado_Civil != null)
    { varEstado_Civil_Estado_Civil = (List<SelectListItem>)ViewBag.Estado_Civils_Estado_Civil; }
    List<SelectListItem> varTipo_de_Identificacion_Tipo_de_Identificacion = null;
    if (ViewBag.Tipo_de_Identificacions_Tipo_de_Identificacion != null)
    { varTipo_de_Identificacion_Tipo_de_Identificacion = (List<SelectListItem>)ViewBag.Tipo_de_Identificacions_Tipo_de_Identificacion; }
 List<SelectListItem> varNacionalidad_Nacionalidad = null;
    if (ViewBag.Nacionalidads_Nacionalidad != null)
    { varNacionalidad_Nacionalidad = (List<SelectListItem>)ViewBag.Nacionalidads_Nacionalidad; }
 List<SelectListItem> varPais_Pais = null;
    if (ViewBag.Paiss_Pais != null)
    { varPais_Pais = (List<SelectListItem>)ViewBag.Paiss_Pais; }
 List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
 List<SelectListItem> varColonia_Poblacion = null;
    if (ViewBag.Colonias_Poblacion != null)
    { varColonia_Poblacion = (List<SelectListItem>)ViewBag.Colonias_Poblacion; }
 List<SelectListItem> varColonia_Colonia = null;
    if (ViewBag.Colonias_Colonia != null)
    { varColonia_Colonia = (List<SelectListItem>)ViewBag.Colonias_Colonia; }


    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial || ViewBag.viewInEframe)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                 <label id="tituloINV">Proporcione los datos de la Víctima</label>
                <button onclick="Involucrados_PCGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Involucrados_PCBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                 <li id="tituloINV2" class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>Proporcione los datos de la Víctima</strong>
                }
                
            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="Involucrados_PCDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in Involucrados_PCPropertyBusinessModal" id="Involucrados_PCPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Involucrados_PCBusinessRule-form" onclick="Involucrados_PCGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Involucrados_PCBusinessRuleModal" id="Involucrados_PCBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }

        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Involucrados_PC", FormMethod.Post, new { id = "CreateInvolucrados_PC", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid Involucrados_PCCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.Involucrados_PCResources.TabDatos_Generales</a></li>
<li class=""><a data-toggle="tab" href="#tabDomicilio"> @Resources.Involucrados_PCResources.TabDomicilio</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="269253" data-field-name="@Resources.Involucrados_PCResources.Clave">
                                    <label class="form-control" for="Clave" id="lblClave">
                                    @if (Model.Clave== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Clave</text>
                                        }
                                    </label>
                                </div>
                            </div>
				<div class="form-group" id="divSolicitud">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Solicitud</label>
                                <div class="col-sm-8" data-field-id="Solicitud" data-attribute="269254" data-field-name="@Resources.Involucrados_PCResources.Solicitud">
                                    <select class='fullWidth AutoComplete AutoCompleteInvolucrados_PC_Solicitud form-control select2-dropdown Datos_Generales' data-val="true" id="Solicitud" name="Solicitud">
                                        <option value="@Model.Solicitud">@(Model.SolicitudFolio??Model.SolicitudFolio)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269254).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Solicitud_de_Denuncia_Ciudadana', 'Solicitud');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                          
                            <div class="form-group" id="divUsuario_que_Registra">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Usuario_que_Registra</label>
                                <div class="col-sm-8" data-field-id="Usuario_que_Registra" data-attribute="269255" data-field-name="@Resources.Involucrados_PCResources.Usuario_que_Registra">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Usuario que Registra must be a number." data-val-required="The Usuario que Registra field is required." id="Usuario_que_Registra" name="Usuario_que_Registra">
                                        <option value=""></option>
                                        @if (varSpartan_User_Usuario_que_Registra != null){ 
                                            foreach (var itemUsuario_que_Registra in varSpartan_User_Usuario_que_Registra)
                                            {
                                                if (itemUsuario_que_Registra.Value == Convert.ToString(Model.Usuario_que_Registra))
                                                {
                                                    <option value="@itemUsuario_que_Registra.Value" selected>@itemUsuario_que_Registra.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemUsuario_que_Registra.Value">@itemUsuario_que_Registra.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Usuario_que_Registra" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269255).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Spartan_User', 'Usuario_que_Registra');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divTipo_de_Compareciente">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Tipo_de_Compareciente</label>
                                <div class="col-sm-8" data-field-id="Tipo_de_Compareciente" data-attribute="269256" data-field-name="@Resources.Involucrados_PCResources.Tipo_de_Compareciente">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Tipo de Compareciente must be a number." data-val-required="The Tipo de Compareciente field is required." id="Tipo_de_Compareciente" name="Tipo_de_Compareciente">
                                        <option value=""></option>
                                        @if (varTipo_de_Compareciente_Tipo_de_Compareciente != null){ 
                                            foreach (var itemTipo_de_Compareciente in varTipo_de_Compareciente_Tipo_de_Compareciente)
                                            {
                                                if (itemTipo_de_Compareciente.Value == Convert.ToString(Model.Tipo_de_Compareciente))
                                                {
                                                    <option value="@itemTipo_de_Compareciente.Value" selected>@itemTipo_de_Compareciente.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemTipo_de_Compareciente.Value">@itemTipo_de_Compareciente.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Tipo_de_Compareciente" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269256).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Tipo_de_Compareciente', 'Tipo_de_Compareciente');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divNombres">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Nombres</label>
                                <div class="col-sm-8" data-field-id="Nombres" data-attribute="269257" data-field-name="@Resources.Involucrados_PCResources.Nombres">
                                    <input class="form-control Datos_Generales" id="Nombres" name="Nombres" type="text" value="@Model.Nombres">
                                    @*<span class="field-validation-valid" data-valmsg-for="Nombres" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divApellido_Paterno">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Apellido_Paterno</label>
                                <div class="col-sm-8" data-field-id="Apellido_Paterno" data-attribute="269258" data-field-name="@Resources.Involucrados_PCResources.Apellido_Paterno">
                                    <input class="form-control Datos_Generales" id="Apellido_Paterno" name="Apellido_Paterno" type="text" value="@Model.Apellido_Paterno">
                                    @*<span class="field-validation-valid" data-valmsg-for="Apellido_Paterno" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divApellido_Materno">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Apellido_Materno</label>
                                <div class="col-sm-8" data-field-id="Apellido_Materno" data-attribute="269259" data-field-name="@Resources.Involucrados_PCResources.Apellido_Materno">
                                    <input class="form-control Datos_Generales" id="Apellido_Materno" name="Apellido_Materno" type="text" value="@Model.Apellido_Materno">
                                    @*<span class="field-validation-valid" data-valmsg-for="Apellido_Materno" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divNombre_Completo">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Nombre_Completo</label>
                                <div class="col-sm-8" data-field-id="Nombre_Completo" data-attribute="269260" data-field-name="@Resources.Involucrados_PCResources.Nombre_Completo">
                                    <input class="form-control Datos_Generales" id="Nombre_Completo" name="Nombre_Completo" type="text" value="@Model.Nombre_Completo">
                                    @*<span class="field-validation-valid" data-valmsg-for="Nombre_Completo" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divFecha_de_Nacimiento">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Fecha_de_Nacimiento</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Nacimiento" data-attribute="269261" data-field-name="@Resources.Involucrados_PCResources.Fecha_de_Nacimiento">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Fecha_de_Nacimiento"  name="Fecha_de_Nacimiento" type="text" value="@Model.Fecha_de_Nacimiento">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divEdad">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Edad</label>
                                <div class="col-sm-8" data-field-id="Edad" data-attribute="269262" data-field-name="@Resources.Involucrados_PCResources.Edad">
                                    <input class="form-control inputNumber Datos_Generales" id="Edad" name="Edad" type="text" value="@Model.Edad">
                                    @*<span class="field-validation-valid" data-valmsg-for="Edad" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divSexo">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Sexo</label>
                                <div class="col-sm-8" data-field-id="Sexo" data-attribute="269263" data-field-name="@Resources.Involucrados_PCResources.Sexo">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Sexo must be a number." data-val-required="The Sexo field is required." id="Sexo" name="Sexo">
                                        <option value=""></option>
                                        @if (varGenero_Sexo != null){ 
                                            foreach (var itemSexo in varGenero_Sexo)
                                            {
                                                if (itemSexo.Value == Convert.ToString(Model.Sexo))
                                                {
                                                    <option value="@itemSexo.Value" selected>@itemSexo.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemSexo.Value">@itemSexo.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Sexo" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269263).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Genero', 'Sexo');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divEstado_Civil">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Estado_Civil</label>
                                <div class="col-sm-8" data-field-id="Estado_Civil" data-attribute="269264" data-field-name="@Resources.Involucrados_PCResources.Estado_Civil">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Estado Civil must be a number." data-val-required="The Estado Civil field is required." id="Estado_Civil" name="Estado_Civil">
                                        <option value=""></option>
                                        @if (varEstado_Civil_Estado_Civil != null){ 
                                            foreach (var itemEstado_Civil in varEstado_Civil_Estado_Civil)
                                            {
                                                if (itemEstado_Civil.Value == Convert.ToString(Model.Estado_Civil))
                                                {
                                                    <option value="@itemEstado_Civil.Value" selected>@itemEstado_Civil.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemEstado_Civil.Value">@itemEstado_Civil.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Estado_Civil" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269264).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Estado_Civil', 'Estado_Civil');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divTipo_de_Identificacion">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Tipo_de_Identificacion</label>
                                <div class="col-sm-8" data-field-id="Tipo_de_Identificacion" data-attribute="269265" data-field-name="@Resources.Involucrados_PCResources.Tipo_de_Identificacion">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Tipo de Identificación must be a number." data-val-required="The Tipo de Identificación field is required." id="Tipo_de_Identificacion" name="Tipo_de_Identificacion">
                                        <option value=""></option>
                                        @if (varTipo_de_Identificacion_Tipo_de_Identificacion != null){ 
                                            foreach (var itemTipo_de_Identificacion in varTipo_de_Identificacion_Tipo_de_Identificacion)
                                            {
                                                if (itemTipo_de_Identificacion.Value == Convert.ToString(Model.Tipo_de_Identificacion))
                                                {
                                                    <option value="@itemTipo_de_Identificacion.Value" selected>@itemTipo_de_Identificacion.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemTipo_de_Identificacion.Value">@itemTipo_de_Identificacion.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Tipo_de_Identificacion" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269265).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Tipo_de_Identificacion', 'Tipo_de_Identificacion');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divNumero_de_Identificacion">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Numero_de_Identificacion</label>
                                <div class="col-sm-8" data-field-id="Numero_de_Identificacion" data-attribute="269266" data-field-name="@Resources.Involucrados_PCResources.Numero_de_Identificacion">
                                    <input class="form-control Datos_Generales" id="Numero_de_Identificacion" name="Numero_de_Identificacion" type="text" value="@Model.Numero_de_Identificacion">
                                    @*<span class="field-validation-valid" data-valmsg-for="Numero_de_Identificacion" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            @if (attachedFileFotografia_de_la_identificacion != null && attachedFileFotografia_de_la_identificacion.File_Id > 0)
                            {
                                <div class="form-group" id="divAttachmentFotografia_de_la_identificacion">
                                    <label class="col-sm-2 control-label">@Resources.Resources.PreviouslyAttachedFile</label>
                                    <div class="col-sm-8 Datos_Generales" data-field-id="Fotografia_de_la_identificacion" data-attribute="269267" data-field-name="@Resources.Involucrados_PCResources.Fotografia_de_la_identificacion">
                                        <a href="@Url.Content("~/Frontal/Involucrados_PC/GetFile")?id=@attachedFileFotografia_de_la_identificacion.File_Id" target="_blank">@attachedFileFotografia_de_la_identificacion.Description</a>
                                        <img src="@Url.Content("~/Content/Images/RemoveAttachment.png")" onclick="RemoveAttachmentMainFotografia_de_la_identificacion('@attachedFileFotografia_de_la_identificacion.File_Id')" />
                                    </div>
                                    <input id="hdnRemoveFotografia_de_la_identificacion" name="RemoveFotografia_de_la_identificacion" value="0" type="hidden" />
                                    <input class="form-control col-md-12 Datos_Generales" id="hdnAttachedFotografia_de_la_identificacion" type="hidden" name="Fotografia_de_la_identificacion" value="@Model.Fotografia_de_la_identificacion">
                                </div>
                            }
                            <div class="form-group" id="divFotografia_de_la_identificacion">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Fotografia_de_la_identificacion</label>
                                <div class="col-sm-8" data-field-id="Fotografia_de_la_identificacion" data-attribute="269267" data-field-name="@Resources.Involucrados_PCResources.Fotografia_de_la_identificacion">
                                    <input type="file" name="Fotografia_de_la_identificacionFile" id="Fotografia_de_la_identificacionFile" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group" id="divCURP">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.CURP</label>
                                <div class="col-sm-8" data-field-id="CURP" data-attribute="269268" data-field-name="@Resources.Involucrados_PCResources.CURP">
                                    <input class="form-control Datos_Generales" id="CURP" name="CURP" type="text" value="@Model.CURP">
                                    @*<span class="field-validation-valid" data-valmsg-for="CURP" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
				<div class="form-group" id="divNacionalidad">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Nacionalidad</label>
                                <div class="col-sm-8" data-field-id="Nacionalidad" data-attribute="269269" data-field-name="@Resources.Involucrados_PCResources.Nacionalidad">
                                    <select class='fullWidth AutoComplete AutoCompleteInvolucrados_PC_Nacionalidad form-control select2-dropdown Datos_Generales' data-val="true" id="Nacionalidad" name="Nacionalidad">
                                        <option value="@Model.Nacionalidad">@(Model.NacionalidadNacionalidadC??Model.NacionalidadNacionalidadC)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269269).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Nacionalidad', 'Nacionalidad');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divOriginario_de">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Originario_de</label>
                                <div class="col-sm-8" data-field-id="Originario_de" data-attribute="269270" data-field-name="@Resources.Involucrados_PCResources.Originario_de">
                                    <input class="form-control Datos_Generales" id="Originario_de" name="Originario_de" type="text" value="@Model.Originario_de">
                                    @*<span class="field-validation-valid" data-valmsg-for="Originario_de" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            </div>
                                </div>


                            <div id="tabDomicilio" class="tab-pane">
                                <div class="panel-body">
								@*fjmore*@
                                        <div class="form-group" id="divMapa">
                                            <label class="col-sm-2 control-label" style="color:white!important;">Mapa</label>
                                            <div class="col-sm-8">
                                                <a href="#" class="btn btn-info btn-lg" style="float:right!important;" id="btnOpenMapa">
                                                    <span class="glyphicon glyphicon-map-marker"></span> Ver Mapa
                                                </a>
                                            </div>
                                        </div>
				<div class="form-group" id="divPais">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Pais</label>
                                <div class="col-sm-8" data-field-id="Pais" data-attribute="269271" data-field-name="@Resources.Involucrados_PCResources.Pais">
                                    <select class='fullWidth AutoComplete AutoCompleteInvolucrados_PC_Pais form-control select2-dropdown Domicilio' data-val="true" id="Pais" name="Pais">
                                        <option value="@Model.Pais">@(Model.PaisNombre??Model.PaisNombre)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269271).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Pais', 'Pais');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
				<div class="form-group" id="divEstado">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Estado</label>
                                <div class="col-sm-8" data-field-id="Estado" data-attribute="269272" data-field-name="@Resources.Involucrados_PCResources.Estado">
                                    <select class='fullWidth AutoComplete AutoCompleteInvolucrados_PC_Estado form-control select2-dropdown Domicilio' data-val="true" id="Estado" name="Estado">
                                        <option value="@Model.Estado">@(Model.EstadoNombre??Model.EstadoNombre)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269272).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Estado', 'Estado');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
				<div class="form-group" id="divMunicipio">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Municipio</label>
                                <div class="col-sm-8" data-field-id="Municipio" data-attribute="269273" data-field-name="@Resources.Involucrados_PCResources.Municipio">
                                    <select class='fullWidth AutoComplete AutoCompleteInvolucrados_PC_Municipio form-control select2-dropdown Domicilio' data-val="true" id="Municipio" name="Municipio">
                                        <option value="@Model.Municipio">@(Model.MunicipioNombre??Model.MunicipioNombre)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269273).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Municipio', 'Municipio');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
				<div class="form-group" id="divPoblacion">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Poblacion</label>
                                <div class="col-sm-8" data-field-id="Poblacion" data-attribute="269274" data-field-name="@Resources.Involucrados_PCResources.Poblacion">
                                    <select class='fullWidth AutoComplete AutoCompleteInvolucrados_PC_Poblacion form-control select2-dropdown Domicilio' data-val="true" id="Poblacion" name="Poblacion">
                                        <option value="@Model.Poblacion">@(Model.PoblacionNombre??Model.PoblacionNombre)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269274).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Colonia', 'Poblacion');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
				<div class="form-group" id="divColonia">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Colonia</label>
                                <div class="col-sm-8" data-field-id="Colonia" data-attribute="269275" data-field-name="@Resources.Involucrados_PCResources.Colonia">
                                    <select class='fullWidth AutoComplete AutoCompleteInvolucrados_PC_Colonia form-control select2-dropdown Domicilio' data-val="true" id="Colonia" name="Colonia">
                                        <option value="@Model.Colonia">@(Model.ColoniaNombre??Model.ColoniaNombre)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269275).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Colonia', 'Colonia');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divCodigo_Postal">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Codigo_Postal</label>
                                <div class="col-sm-8" data-field-id="Codigo_Postal" data-attribute="269276" data-field-name="@Resources.Involucrados_PCResources.Codigo_Postal">
                                    <input class="form-control inputNumber Domicilio" id="Codigo_Postal" name="Codigo_Postal" type="text" value="@Model.Codigo_Postal">
                                    @*<span class="field-validation-valid" data-valmsg-for="Codigo_Postal" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divCalle">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Calle</label>
                                <div class="col-sm-8" data-field-id="Calle" data-attribute="269277" data-field-name="@Resources.Involucrados_PCResources.Calle">
                                    <input class="form-control Domicilio" id="Calle" name="Calle" type="text" value="@Model.Calle">
                                    @*<span class="field-validation-valid" data-valmsg-for="Calle" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divEntre_Calle">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Entre_Calle</label>
                                <div class="col-sm-8" data-field-id="Entre_Calle" data-attribute="269278" data-field-name="@Resources.Involucrados_PCResources.Entre_Calle">
                                    <input class="form-control Domicilio" id="Entre_Calle" name="Entre_Calle" type="text" value="@Model.Entre_Calle">
                                    @*<span class="field-validation-valid" data-valmsg-for="Entre_Calle" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divY_Calle">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Y_Calle</label>
                                <div class="col-sm-8" data-field-id="Y_Calle" data-attribute="269279" data-field-name="@Resources.Involucrados_PCResources.Y_Calle">
                                    <input class="form-control Domicilio" id="Y_Calle" name="Y_Calle" type="text" value="@Model.Y_Calle">
                                    @*<span class="field-validation-valid" data-valmsg-for="Y_Calle" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divNumero_Exterior">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Numero_Exterior</label>
                                <div class="col-sm-8" data-field-id="Numero_Exterior" data-attribute="269280" data-field-name="@Resources.Involucrados_PCResources.Numero_Exterior">
                                    <input class="form-control Domicilio" id="Numero_Exterior" name="Numero_Exterior" type="text" value="@Model.Numero_Exterior">
                                    @*<span class="field-validation-valid" data-valmsg-for="Numero_Exterior" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divNumero_Interior">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Numero_Interior</label>
                                <div class="col-sm-8" data-field-id="Numero_Interior" data-attribute="269281" data-field-name="@Resources.Involucrados_PCResources.Numero_Interior">
                                    <input class="form-control Domicilio" id="Numero_Interior" name="Numero_Interior" type="text" value="@Model.Numero_Interior">
                                    @*<span class="field-validation-valid" data-valmsg-for="Numero_Interior" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divReferencia_de_Domicilio">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Referencia_de_Domicilio</label>
                                <div class="col-sm-8" data-field-id="Referencia_de_Domicilio" data-attribute="269282" data-field-name="@Resources.Involucrados_PCResources.Referencia_de_Domicilio">
                                    <input class="form-control Domicilio" id="Referencia_de_Domicilio" name="Referencia_de_Domicilio" type="text" value="@Model.Referencia_de_Domicilio">
                                    @*<span class="field-validation-valid" data-valmsg-for="Referencia_de_Domicilio" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divLatitud">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Latitud</label>
                                <div class="col-sm-8" data-field-id="Latitud" data-attribute="269283" data-field-name="@Resources.Involucrados_PCResources.Latitud">
                                    <input class="form-control Domicilio" id="Latitud" name="Latitud" type="text" value="@Model.Latitud">
                                    @*<span class="field-validation-valid" data-valmsg-for="Latitud" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divLongitud">
                                <label class="col-sm-2 control-label">@Resources.Involucrados_PCResources.Longitud</label>
                                <div class="col-sm-8" data-field-id="Longitud" data-attribute="269284" data-field-name="@Resources.Involucrados_PCResources.Longitud">
                                    <input class="form-control Domicilio" id="Longitud" name="Longitud" type="text" value="@Model.Longitud">
                                    @*<span class="field-validation-valid" data-valmsg-for="Longitud" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Clave" id="ReferenceClave" />
                                <input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Involucrados_PCGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('Involucrados_PCCreateForm');"  />
									<button onclick="Involucrados_PCGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Involucrados_PCBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="Involucrados_PCGuardarYNuevo" onclick="return checkClientValidate('Involucrados_PCCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="Involucrados_PCGuardarYCopia" onclick="return checkClientValidate('Involucrados_PCCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }
								<input type="button" value="Anterior" id="Involucrados_PCAnterior" class="btn btn-w-m btn-primary btn_save" />
                                <input type="button" value="Siguiente" id="Involucrados_PCSiguiente" class="btn btn-w-m btn-primary btn_save" />
                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnInvolucrados_PCBusinessRuleFieldId" />
                                <input type="hidden" id="hdnInvolucrados_PCBusinessRuleFieldName" />
                                <input type="hidden" id="hdnInvolucrados_PCBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Involucrados_PCCancelar" name="Involucrados_PCCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="Involucrados_PCGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Involucrados_PCBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
<!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg hidden" data-toggle="modal" id="modalMapa" data-target="#myModal">Ver Mapa</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog" style="width: 90%;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Seleccionar Dirección</h4>
					<p>Al seleccionar la ubicación aquí se llenarán los datos en la ventana correspondiente.</p>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Escriba la dirección</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" style="width:100%" id="address" name="address" />
                            </div>
                            <div class="col-md-3">
                                <input type="button" id="BucarDireccion" value="Buscar">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:12px;">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <!-- <div id="gmap" style="height:100%; width:100%;"></div> -->
                                <div id="gmap" style="height: 400px"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                </div>
            </div>

        </div>
    </div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Involucrados_PC.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Involucrados_PCGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Involucrados_PCCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        
        function RemoveAttachmentMainFotografia_de_la_identificacion () {
            $("#hdnRemoveFotografia_de_la_identificacion").val("1");
            $("#divAttachmentFotografia_de_la_identificacion").hide();
        }


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var viewInEframe =  ('@ViewBag.viewInEframe' == 'True');
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;

		var Tab_Domicilio = true;


        $(document).ready(function () {
            $('#ObjectId').val('45713');
		    
		   
                        $('#Fecha_de_Nacimiento').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });


            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			
			 if (viewInEframe) {             
                $('#Involucrados_PCGuardarYNuevo').hide();
                $('#Involucrados_PCGuardarYCopia').hide();
                $('#Involucrados_PCCancelar').hide(); 
                $('#ConfigureSave').hide();
                $('#Involucrados_PCGuardar').val('Actualizar Seccion ' + '@Resources.Involucrados_PCResources.Involucrados_PC' )
            }

			
			       var AutoCompleteSolicitudData =[];
       $(".AutoCompleteInvolucrados_PC_Solicitud").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Involucrados_PC/GetInvolucrados_PC_Solicitud_Solicitud_de_Denuncia_Ciudadana")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteInvolucrados_PC_Solicitud_Solicitud_de_Denuncia_CiudadanaData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteInvolucrados_PC_Solicitud");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteNacionalidadData =[];
       $(".AutoCompleteInvolucrados_PC_Nacionalidad").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Involucrados_PC/GetInvolucrados_PC_Nacionalidad_Nacionalidad")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteInvolucrados_PC_Nacionalidad_NacionalidadData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteInvolucrados_PC_Nacionalidad");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompletePaisData =[];
       $(".AutoCompleteInvolucrados_PC_Pais").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Involucrados_PC/GetInvolucrados_PC_Pais_Pais")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteInvolucrados_PC_Pais_PaisData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteInvolucrados_PC_Pais");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteEstadoData =[];
       $(".AutoCompleteInvolucrados_PC_Estado").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Involucrados_PC/GetInvolucrados_PC_Estado_Estado")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteInvolucrados_PC_Estado_EstadoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteInvolucrados_PC_Estado");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteMunicipioData =[];
       $(".AutoCompleteInvolucrados_PC_Municipio").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Involucrados_PC/GetInvolucrados_PC_Municipio_Municipio")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteInvolucrados_PC_Municipio_MunicipioData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteInvolucrados_PC_Municipio");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompletePoblacionData =[];
       $(".AutoCompleteInvolucrados_PC_Poblacion").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Involucrados_PC/GetInvolucrados_PC_Poblacion_Colonia")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteInvolucrados_PC_Poblacion_ColoniaData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteInvolucrados_PC_Poblacion");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteColoniaData =[];
       $(".AutoCompleteInvolucrados_PC_Colonia").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Involucrados_PC/GetInvolucrados_PC_Colonia_Colonia")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteInvolucrados_PC_Colonia_ColoniaData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteInvolucrados_PC_Colonia");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });


            @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();

				if (Tab_Domicilio)
					Fill_Domicilio();


                </text>
            }
            EjecutarValidacionesAlComienzo(); 
			
        });



        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });

        }

    </script>

<script type="text/javascript">

var roleActivo = @Session["USERROLEID"];
   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Involucrados_PC/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }

var newIDInv=0;
        function SendInvolucrados_PCData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateInvolucrados_PC").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateInvolucrados_PC")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceClave").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('Involucrados_PCCreateForm', 'Datos_Generales')) {
				return false;
			}						

			if (Tab_Domicilio && !checkClientValidate('Involucrados_PCCreateForm', 'Domicilio')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			newIDInv=id;
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);

			if (Tab_Domicilio)
				Save_Domicilio(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Involucrados_PC/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".Involucrados_PCBusinessRuleModal").html(data);
			});
		}
                function Involucrados_PCGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('45713');
			$('#Screen').val('Involucrados_PC');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function Involucrados_PCBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Involucrados_PC/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Involucrados_PC/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Involucrados_PC/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Involucrados_PC/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Involucrados_PC/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateInvolucrados_PC').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        Involucrados_PCGetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Involucrados_PC/Get_Datos_Generales")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    var control = $('#Solicitud');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Solicitud).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Solicitud).trigger('change');
                    }, 3000);
                    $('#Tipo_de_Solicitud').val(result.data.Tipo_de_Solicitud);
                    $('#Usuario_que_Registra').val(result.data.Usuario_que_Registra);
                    $('#Tipo_de_Compareciente').val(result.data.Tipo_de_Compareciente);
                    $('#Nombres').val(result.data.Nombres);
                    $('#Apellido_Paterno').val(result.data.Apellido_Paterno);
                    $('#Apellido_Materno').val(result.data.Apellido_Materno);
                    $('#Nombre_Completo').val(result.data.Nombre_Completo);
                    $('#Fecha_de_Nacimiento').val(result.data.Fecha_de_Nacimiento);
                    $('#Edad').val(result.data.Edad);
                    $('#Sexo').val(result.data.Sexo);
                    $('#Estado_Civil').val(result.data.Estado_Civil);
                    $('#Tipo_de_Identificacion').val(result.data.Tipo_de_Identificacion);
                    $('#Numero_de_Identificacion').val(result.data.Numero_de_Identificacion);
                    $('#Fotografia_de_la_identificacion').val(result.data.Fotografia_de_la_identificacion);
                    $('#CURP').val(result.data.CURP);
                    var control = $('#Nacionalidad');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Nacionalidad).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Nacionalidad).trigger('change');
                    }, 3000);
                    $('#Originario_de').val(result.data.Originario_de);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Solicitud', $('#Solicitud').val());
                data.append('Tipo_de_Solicitud', $('#Tipo_de_Solicitud').val());
                data.append('Usuario_que_Registra', $('#Usuario_que_Registra').val());
                data.append('Tipo_de_Compareciente', $('#Tipo_de_Compareciente').val());
                data.append('Nombres', $('#Nombres').val());
                data.append('Apellido_Paterno', $('#Apellido_Paterno').val());
                data.append('Apellido_Materno', $('#Apellido_Materno').val());
                data.append('Nombre_Completo', $('#Nombre_Completo').val());
                data.append('Fecha_de_Nacimiento', $('#Fecha_de_Nacimiento').val());
                data.append('Edad', $('#Edad').val());
                data.append('Sexo', $('#Sexo').val());
                data.append('Estado_Civil', $('#Estado_Civil').val());
                data.append('Tipo_de_Identificacion', $('#Tipo_de_Identificacion').val());
                data.append('Numero_de_Identificacion', $('#Numero_de_Identificacion').val());
                data.append('Fotografia_de_la_identificacion', $('#hdnAttachedFotografia_de_la_identificacion').val());
                data.append('Fotografia_de_la_identificacionFile', $('#Fotografia_de_la_identificacionFile')[0].files[0]);
                data.append('Fotografia_de_la_identificacionRemoveAttachment', $('#hdnRemoveFotografia_de_la_identificacion').val());
                data.append('CURP', $('#CURP').val());
                data.append('Nacionalidad', $('#Nacionalidad').val());
                data.append('Originario_de', $('#Originario_de').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Involucrados_PC/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}

		function Fill_Domicilio()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Involucrados_PC/Get_Domicilio")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    var control = $('#Pais');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Pais).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Pais).trigger('change');
                    }, 3000);
                    var control = $('#Estado');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Estado).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Estado).trigger('change');
                    }, 3000);
                    var control = $('#Municipio');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Municipio).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Municipio).trigger('change');
                    }, 3000);
                    var control = $('#Poblacion');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Poblacion).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Poblacion).trigger('change');
                    }, 3000);
                    var control = $('#Colonia');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Colonia).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Colonia).trigger('change');
                    }, 3000);
                    $('#Codigo_Postal').val(result.data.Codigo_Postal);
                    $('#Calle').val(result.data.Calle);
                    $('#Entre_Calle').val(result.data.Entre_Calle);
                    $('#Y_Calle').val(result.data.Y_Calle);
                    $('#Numero_Exterior').val(result.data.Numero_Exterior);
                    $('#Numero_Interior').val(result.data.Numero_Interior);
                    $('#Referencia_de_Domicilio').val(result.data.Referencia_de_Domicilio);
                    $('#Latitud').val(result.data.Latitud);
                    $('#Longitud').val(result.data.Longitud);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Domicilio(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Pais', $('#Pais').val());
                data.append('Estado', $('#Estado').val());
                data.append('Municipio', $('#Municipio').val());
                data.append('Poblacion', $('#Poblacion').val());
                data.append('Colonia', $('#Colonia').val());
                data.append('Codigo_Postal', $('#Codigo_Postal').val());
                data.append('Calle', $('#Calle').val());
                data.append('Entre_Calle', $('#Entre_Calle').val());
                data.append('Y_Calle', $('#Y_Calle').val());
                data.append('Numero_Exterior', $('#Numero_Exterior').val());
                data.append('Numero_Interior', $('#Numero_Interior').val());
                data.append('Referencia_de_Domicilio', $('#Referencia_de_Domicilio').val());
                data.append('Latitud', $('#Latitud').val());
                data.append('Longitud', $('#Longitud').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Involucrados_PC/Post_Domicilio")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Domicilio");
					} else {
						newId = result;
                    
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Domicilio");
				},
				cache: false
			});
		}

	//fjmore
    $("body").on("click", "#btnOpenMapa", function () {

        $("#modalMapa").click();

    });
    $('#myModal').on('shown.bs.modal', function () {
        var lat = $("#Latitud").val();
        var long = $("#Longitud").val();
        if (lat != "" && long != "") {
            $("#address").val(lat + "," + long);
        }
        CargaGoogleMaps();
    });

    $('#myModal').on('hidden.bs.modal', function () {

    });
    $("body").on("click", "#BucarDireccion", function () {


        CargaGoogleMaps();
    });
    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Involucrados_PC_cmbLabelSelect" name="Involucrados_PC_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />
 <script src='https://maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleMapsApyKey"]' type='text/javascript'></script>
