@model IList<Spartane.Web.Areas.Frontal.Models.Detalle_Aseguramiento_Armas_InvolucradasGridModel>

@{
    var rowCounter = 0;
}

<style>
    .table {
        width: 100%;
        border: 1px solid #cccccc;
        font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        /*border-collapse: separate !important;*/
        font-size: 13px;
    }

        .table td {
            padding: 2px;
            border:1px solid #cccccc;
        }

    .table tr:nth-of-type(2n+1) {
        background-color: #f9f9f9;
    }

        .table tr:nth-of-type(2n) {
            background-color: #8da0c2;
        }

    .table-row-1 td, .table-row-1 th {
    }

    .table-row-2 td, .table-row-2 th, thead {
    }

    .tableHeaderRow {
        font-weight: bold;
        border: 1px solid #ff6a00;
    }

    .column1 {
        width: 15%;
    }

    .column2 {
        width: 15%;
    }
</style>
<br />
<body onbeforeprint="ocultarcolumnas();">
 <span id="columnsVisible"></span>
<table class="table" cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Clave
            </td>
                        <td class="column1">
                @Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Clave
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Tipo
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Descripcion_del_Arma
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Marca
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Calibre
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Matricula
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Serie
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Inventario
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Clasificacion
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Cantidad
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Lugar_de_Hallazgo
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Observaciones
            </td>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {                
                <tr>
                    <td>
                        @item.Clave
                    </td>
					                    <td>
                        @item.Clave
                    </td>
                    <td>
                        @item.TipoNombre
                    </td>
                    <td>
                        @item.Descripcion_del_Arma
                    </td>
                    <td>
                        @item.MarcaNombre
                    </td>
                    <td>
                        @item.CalibreDescripcion
                    </td>
                    <td>
                        @item.Matricula
                    </td>
                    <td>
                        @item.Serie
                    </td>
                    <td>
                        @item.Inventario
                    </td>
                    <td>
                        @item.ClasificacionDescripcion
                    </td>
                    <td>
                        @item.Cantidad
                    </td>
                    <td>
                        @item.Lugar_de_Hallazgo
                    </td>
                    <td>
                        @item.Observaciones
                    </td>

                </tr>
                rowCounter++;
            }
        }
    </tbody>
</table>
</body>

<script>
    function ocultarcolumnas() {        
        var arr = document.getElementById('columnsVisible').text.split(',');
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == "false") {
                show_hide_column(i-1, false);
            }
        }    
    };

    function show_hide_column(col_no, do_show) {
        var rows = document.getElementsByClassName('table')[0].rows;
        for (var row = 0; row < rows.length; row++) {
            var cols = rows[row].cells;
            if (col_no >= 0 && col_no < cols.length) {
                console.log(col_no);
                cols[col_no].style.display = do_show ? '' : 'none';
            }
        }
    }
</script>

