@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Aseguramiento_Armas_InvolucradasModel
@{


    List<SelectListItem> varTipo_de_Arma_Tipo = null;
    if (ViewBag.Tipo_de_Armas_Tipo != null)
    { varTipo_de_Arma_Tipo = (List<SelectListItem>)ViewBag.Tipo_de_Armas_Tipo; }
    List<SelectListItem> varMarca_de_Arma_Marca = null;
    if (ViewBag.Marca_de_Armas_Marca != null)
    { varMarca_de_Arma_Marca = (List<SelectListItem>)ViewBag.Marca_de_Armas_Marca; }
    List<SelectListItem> varCalibre_de_Arma_Calibre = null;
    if (ViewBag.Calibre_de_Armas_Calibre != null)
    { varCalibre_de_Arma_Calibre = (List<SelectListItem>)ViewBag.Calibre_de_Armas_Calibre; }
    List<SelectListItem> varClasificacion_de_Artefacto_y_Explosivo_Clasificacion = null;
    if (ViewBag.Clasificacion_de_Artefacto_y_Explosivos_Clasificacion != null)
    { varClasificacion_de_Artefacto_y_Explosivo_Clasificacion = (List<SelectListItem>)ViewBag.Clasificacion_de_Artefacto_y_Explosivos_Clasificacion; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle Aseguramiento Armas Involucradas
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_Aseguramiento_Armas_InvolucradasRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_Aseguramiento_Armas_InvolucradasPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle Aseguramiento Armas Involucradas
								<button onclick="Detalle_Aseguramiento_Armas_InvolucradasGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Aseguramiento_Armas_InvolucradasBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Detalle_Aseguramiento_Armas_Involucradas</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_Aseguramiento_Armas_InvolucradasDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_Aseguramiento_Armas_InvolucradasPropertyBusinessModal" id="Detalle_Aseguramiento_Armas_InvolucradasPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_Aseguramiento_Armas_InvolucradasBusinessRule-form" onclick="Detalle_Aseguramiento_Armas_InvolucradasGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Aseguramiento_Armas_InvolucradasPropertyModal" id="Detalle_Aseguramiento_Armas_InvolucradasPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Aseguramiento_Armas_InvolucradasBusinessRuleModal" id="Detalle_Aseguramiento_Armas_InvolucradasBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Aseguramiento_Armas_InvolucradasAddBusinessRuleModal" id="Detalle_Aseguramiento_Armas_InvolucradasAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_Aseguramiento_Armas_Involucradas", FormMethod.Post, new { id = "CreateDetalle_Aseguramiento_Armas_Involucradas", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_Aseguramiento_Armas_InvolucradasCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="267450" data-field-name="@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Clave">
                                    <label class="form-control" for="Detalle_Aseguramiento_Armas_InvolucradasClave" id="Detalle_Aseguramiento_Armas_InvolucradasClave">@Model.Clave</label>
                                </div>
                            </div>
<div class="form-group" id="divTipo">
	<label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Tipo</label>
	<div class="col-sm-8" data-field-id="Tipo" data-attribute="267531" data-field-name="@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Tipo">
		<select class="form-control" data-val="true" data-val-number="The field Tipo must be a number." data-val-required="The Tipo field is required." id="Detalle_Aseguramiento_Armas_InvolucradasTipo" name="Detalle_Aseguramiento_Armas_InvolucradasTipo">
			<option value=""></option>
			@if (varTipo_de_Arma_Tipo != null){ 
				foreach (var itemTipo in varTipo_de_Arma_Tipo)
				{
					if (itemTipo.Value == Convert.ToString(Model.Tipo))
					{
						<option value="@itemTipo.Value" selected>@itemTipo.Text</option>
					}
					else
					{
						<option value="@itemTipo.Value">@itemTipo.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divDescripcion_del_Arma">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Descripcion_del_Arma</label>
                                <div class="col-sm-8" data-field-id="Descripcion_del_Arma" data-attribute="267532" data-field-name="@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Descripcion_del_Arma">
                                    <input class="form-control" id="Detalle_Aseguramiento_Armas_InvolucradasDescripcion_del_Arma" name="Detalle_Aseguramiento_Armas_InvolucradasDescripcion_del_Arma" type="text" value="@Model.Descripcion_del_Arma">
                                </div>
                            </div>
<div class="form-group" id="divMarca">
	<label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Marca</label>
	<div class="col-sm-8" data-field-id="Marca" data-attribute="267533" data-field-name="@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Marca">
		<select class="form-control" data-val="true" data-val-number="The field Marca must be a number." data-val-required="The Marca field is required." id="Detalle_Aseguramiento_Armas_InvolucradasMarca" name="Detalle_Aseguramiento_Armas_InvolucradasMarca">
			<option value=""></option>
			@if (varMarca_de_Arma_Marca != null){ 
				foreach (var itemMarca in varMarca_de_Arma_Marca)
				{
					if (itemMarca.Value == Convert.ToString(Model.Marca))
					{
						<option value="@itemMarca.Value" selected>@itemMarca.Text</option>
					}
					else
					{
						<option value="@itemMarca.Value">@itemMarca.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divCalibre">
	<label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Calibre</label>
	<div class="col-sm-8" data-field-id="Calibre" data-attribute="267534" data-field-name="@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Calibre">
		<select class="form-control" data-val="true" data-val-number="The field Calibre must be a number." data-val-required="The Calibre field is required." id="Detalle_Aseguramiento_Armas_InvolucradasCalibre" name="Detalle_Aseguramiento_Armas_InvolucradasCalibre">
			<option value=""></option>
			@if (varCalibre_de_Arma_Calibre != null){ 
				foreach (var itemCalibre in varCalibre_de_Arma_Calibre)
				{
					if (itemCalibre.Value == Convert.ToString(Model.Calibre))
					{
						<option value="@itemCalibre.Value" selected>@itemCalibre.Text</option>
					}
					else
					{
						<option value="@itemCalibre.Value">@itemCalibre.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divMatricula">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Matricula</label>
                                <div class="col-sm-8" data-field-id="Matricula" data-attribute="267535" data-field-name="@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Matricula">
                                    <input class="form-control" id="Detalle_Aseguramiento_Armas_InvolucradasMatricula" name="Detalle_Aseguramiento_Armas_InvolucradasMatricula" type="text" value="@Model.Matricula">
                                </div>
                            </div>
<div class="form-group" id="divSerie">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Serie</label>
                                <div class="col-sm-8" data-field-id="Serie" data-attribute="267536" data-field-name="@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Serie">
                                    <input class="form-control" id="Detalle_Aseguramiento_Armas_InvolucradasSerie" name="Detalle_Aseguramiento_Armas_InvolucradasSerie" type="text" value="@Model.Serie">
                                </div>
                            </div>
<div class="form-group" id="divInventario">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Inventario</label>
                                <div class="col-sm-8" data-field-id="Inventario" data-attribute="267537" data-field-name="@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Inventario">
                                    <input class="form-control" id="Detalle_Aseguramiento_Armas_InvolucradasInventario" name="Detalle_Aseguramiento_Armas_InvolucradasInventario" type="text" value="@Model.Inventario">
                                </div>
                            </div>
<div class="form-group" id="divClasificacion">
	<label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Clasificacion</label>
	<div class="col-sm-8" data-field-id="Clasificacion" data-attribute="267538" data-field-name="@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Clasificacion">
		<select class="form-control" data-val="true" data-val-number="The field Clasificación must be a number." data-val-required="The Clasificación field is required." id="Detalle_Aseguramiento_Armas_InvolucradasClasificacion" name="Detalle_Aseguramiento_Armas_InvolucradasClasificacion">
			<option value=""></option>
			@if (varClasificacion_de_Artefacto_y_Explosivo_Clasificacion != null){ 
				foreach (var itemClasificacion in varClasificacion_de_Artefacto_y_Explosivo_Clasificacion)
				{
					if (itemClasificacion.Value == Convert.ToString(Model.Clasificacion))
					{
						<option value="@itemClasificacion.Value" selected>@itemClasificacion.Text</option>
					}
					else
					{
						<option value="@itemClasificacion.Value">@itemClasificacion.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divCantidad">
	<label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Cantidad</label>
	<div class="col-sm-8" data-field-id="Cantidad" data-attribute="267539" data-field-name="@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Cantidad">
		<input class="form-control inputNumber" id="Detalle_Aseguramiento_Armas_InvolucradasCantidad" name="Detalle_Aseguramiento_Armas_InvolucradasCantidad" type="text" value="@Model.Cantidad">
	</div>
</div>
<div class="form-group" id="divLugar_de_Hallazgo">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Lugar_de_Hallazgo</label>
                                <div class="col-sm-8" data-field-id="Lugar_de_Hallazgo" data-attribute="267540" data-field-name="@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Lugar_de_Hallazgo">
                                    <input class="form-control" id="Detalle_Aseguramiento_Armas_InvolucradasLugar_de_Hallazgo" name="Detalle_Aseguramiento_Armas_InvolucradasLugar_de_Hallazgo" type="text" value="@Model.Lugar_de_Hallazgo">
                                </div>
                            </div>
<div class="form-group" id="divObservaciones">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Observaciones</label>
                                <div class="col-sm-8" data-field-id="Observaciones" data-attribute="267541" data-field-name="@Resources.Detalle_Aseguramiento_Armas_InvolucradasResources.Observaciones">
                                    <input class="form-control" id="Detalle_Aseguramiento_Armas_InvolucradasObservaciones" name="Detalle_Aseguramiento_Armas_InvolucradasObservaciones" type="text" value="@Model.Observaciones">
                                </div>
                            </div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Clave" id="ReferenceClave" />
												<input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_Aseguramiento_Armas_InvolucradasConfigureSave" name="Detalle_Aseguramiento_Armas_InvolucradasConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_Aseguramiento_Armas_InvolucradasConfigureType" />
												<input type="hidden" id="hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_Aseguramiento_Armas_InvolucradasGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Aseguramiento_Armas_InvolucradasBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_Aseguramiento_Armas_Involucradas.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_Aseguramiento_Armas_InvolucradasGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_Aseguramiento_Armas_InvolucradasCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/AseguramientosCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_Aseguramiento_Armas_InvolucradasRowElement = "Detalle_Aseguramiento_Armas_InvolucradasPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_Aseguramiento_Armas_InvolucradasRowElement + "')){ Detalle_Aseguramiento_Armas_InvolucradasInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDetalle_Aseguramiento_Armas_InvolucradasData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_Aseguramiento_Armas_Involucradas").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_Aseguramiento_Armas_Involucradas")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_Aseguramiento_Armas_InvolucradasCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_Aseguramiento_Armas_Involucradas/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_Aseguramiento_Armas_InvolucradasPropertyBag", "Detalle_Aseguramiento_Armas_Involucradas")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_Aseguramiento_Armas_InvolucradasGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleFieldName').val(), ObjectId: '45489', Attribute: $('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleAttribute').val(), Screen: 'Detalle_Aseguramiento_Armas_Involucradas' }, function (data) {
                $(".Detalle_Aseguramiento_Armas_InvolucradasBusinessRuleModal").html(data);
            });
        }
        function Detalle_Aseguramiento_Armas_InvolucradasGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleFieldName').val(), ObjectId: '45489', Attribute: $('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleAttribute').val(), Screen: 'Detalle_Aseguramiento_Armas_Involucradas' }, function (data) {
                $(".Detalle_Aseguramiento_Armas_InvolucradasAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleFieldName').val(), ObjectId: '45489', Attribute: $('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleAttribute').val(), Screen: 'Detalle_Aseguramiento_Armas_Involucradas' }, function (data) {
				$(".Detalle_Aseguramiento_Armas_InvolucradasBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_Aseguramiento_Armas_Involucradas/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_Aseguramiento_Armas_Involucradas/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_Aseguramiento_Armas_Involucradas/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_Aseguramiento_Armas_InvolucradasConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_Aseguramiento_Armas_InvolucradasConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_Aseguramiento_Armas_Involucradas/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_Aseguramiento_Armas_InvolucradasConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_Aseguramiento_Armas_Involucradas/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_Aseguramiento_Armas_Involucradas' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_Aseguramiento_Armas_Involucradas' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_Aseguramiento_Armas_InvolucradasConfigureSave').text('Save Settings');
                    $('#hdnDetalle_Aseguramiento_Armas_InvolucradasConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_Aseguramiento_Armas_Involucradas').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_Aseguramiento_Armas_InvolucradasBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
