@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Encuesta1Model
@{

/*

*/
    List<SelectListItem> varCatalogo_Numero_de_Preguntas_Numero_de_Preguntas = null;
    if (ViewBag.Catalogo_Numero_de_Preguntass_Numero_de_Preguntas != null)
    { varCatalogo_Numero_de_Preguntas_Numero_de_Preguntas = (List<SelectListItem>)ViewBag.Catalogo_Numero_de_Preguntass_Numero_de_Preguntas; }
    List<SelectListItem> varCatalogo_Respuesta_Pregunta1 = null;
    if (ViewBag.Catalogo_Respuestas_Pregunta1 != null)
    { varCatalogo_Respuesta_Pregunta1 = (List<SelectListItem>)ViewBag.Catalogo_Respuestas_Pregunta1; }
    List<SelectListItem> varCatalogo_Respuesta_Pregunta2 = null;
    if (ViewBag.Catalogo_Respuestas_Pregunta2 != null)
    { varCatalogo_Respuesta_Pregunta2 = (List<SelectListItem>)ViewBag.Catalogo_Respuestas_Pregunta2; }
    List<SelectListItem> varCatalogo_Respuesta_Pregunta3 = null;
    if (ViewBag.Catalogo_Respuestas_Pregunta3 != null)
    { varCatalogo_Respuesta_Pregunta3 = (List<SelectListItem>)ViewBag.Catalogo_Respuestas_Pregunta3; }
    List<SelectListItem> varCatalogo_Respuesta_Pregunta4 = null;
    if (ViewBag.Catalogo_Respuestas_Pregunta4 != null)
    { varCatalogo_Respuesta_Pregunta4 = (List<SelectListItem>)ViewBag.Catalogo_Respuestas_Pregunta4; }
    List<SelectListItem> varCatalogo_Respuesta_Pregunta5 = null;
    if (ViewBag.Catalogo_Respuestas_Pregunta5 != null)
    { varCatalogo_Respuesta_Pregunta5 = (List<SelectListItem>)ViewBag.Catalogo_Respuestas_Pregunta5; }
    List<SelectListItem> varCatalogo_Respuesta_Pregunta6 = null;
    if (ViewBag.Catalogo_Respuestas_Pregunta6 != null)
    { varCatalogo_Respuesta_Pregunta6 = (List<SelectListItem>)ViewBag.Catalogo_Respuestas_Pregunta6; }
    List<SelectListItem> varCatalogo_Respuesta_Pregunta7 = null;
    if (ViewBag.Catalogo_Respuestas_Pregunta7 != null)
    { varCatalogo_Respuesta_Pregunta7 = (List<SelectListItem>)ViewBag.Catalogo_Respuestas_Pregunta7; }
    List<SelectListItem> varCatalogo_Respuesta_Pregunta8 = null;
    if (ViewBag.Catalogo_Respuestas_Pregunta8 != null)
    { varCatalogo_Respuesta_Pregunta8 = (List<SelectListItem>)ViewBag.Catalogo_Respuestas_Pregunta8; }
    List<SelectListItem> varCatalogo_Respuesta_Pregunta9 = null;
    if (ViewBag.Catalogo_Respuestas_Pregunta9 != null)
    { varCatalogo_Respuesta_Pregunta9 = (List<SelectListItem>)ViewBag.Catalogo_Respuestas_Pregunta9; }
    List<SelectListItem> varCatalogo_Respuesta_Pregunta10 = null;
    if (ViewBag.Catalogo_Respuestas_Pregunta10 != null)
    { varCatalogo_Respuesta_Pregunta10 = (List<SelectListItem>)ViewBag.Catalogo_Respuestas_Pregunta10; }


    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial || ViewBag.viewInEframe)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.Encuesta1Resources.Encuesta1
                <button onclick="Encuesta1GetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Encuesta1BusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.Encuesta1Resources.Encuesta1</strong>
                }
                
            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="Encuesta1DisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in Encuesta1PropertyBusinessModal" id="Encuesta1PropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Encuesta1BusinessRule-form" onclick="Encuesta1GetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Encuesta1BusinessRuleModal" id="Encuesta1BusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }

        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Encuesta1", FormMethod.Post, new { id = "CreateEncuesta1", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid Encuesta1CreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.Encuesta1Resources.TabDatos_Generales</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Encuesta1Resources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="264365" data-field-name="@Resources.Encuesta1Resources.Clave">
                                    <label class="form-control" for="Clave" id="lblClave">
                                    @if (Model.Clave== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Clave</text>
                                        }
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="divNumero_de_Preguntas">
                                <label class="col-sm-2 control-label">@Resources.Encuesta1Resources.Numero_de_Preguntas</label>
                                <div class="col-sm-8" data-field-id="Numero_de_Preguntas" data-attribute="264366" data-field-name="@Resources.Encuesta1Resources.Numero_de_Preguntas">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Número de Preguntas must be a number." data-val-required="The Número de Preguntas field is required." id="Numero_de_Preguntas" name="Numero_de_Preguntas">
                                        <option value=""></option>
                                        @if (varCatalogo_Numero_de_Preguntas_Numero_de_Preguntas != null){ 
                                            foreach (var itemNumero_de_Preguntas in varCatalogo_Numero_de_Preguntas_Numero_de_Preguntas)
                                            {
                                                if (itemNumero_de_Preguntas.Value == Convert.ToString(Model.Numero_de_Preguntas))
                                                {
                                                    <option value="@itemNumero_de_Preguntas.Value" selected>@itemNumero_de_Preguntas.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemNumero_de_Preguntas.Value">@itemNumero_de_Preguntas.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Numero_de_Preguntas" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264366).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Catalogo_Numero_de_Preguntas', 'Numero_de_Preguntas');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divNUAT">
                                <label class="col-sm-2 control-label">@Resources.Encuesta1Resources.NUAT</label>
                                <div class="col-sm-8" data-field-id="NUAT" data-attribute="264367" data-field-name="@Resources.Encuesta1Resources.NUAT">
                                    <input class="form-control Datos_Generales" id="NUAT" name="NUAT" type="text" value="@Model.NUAT">
                                    @*<span class="field-validation-valid" data-valmsg-for="NUAT" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divPregunta1">
                                <label class="col-sm-2 control-label">@Resources.Encuesta1Resources.Pregunta1</label>
                                <div class="col-sm-8" data-field-id="Pregunta1" data-attribute="264368" data-field-name="@Resources.Encuesta1Resources.Pregunta1">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Pregunta #1 must be a number." data-val-required="The Pregunta #1 field is required." id="Pregunta1" name="Pregunta1">
                                        <option value=""></option>
                                        @if (varCatalogo_Respuesta_Pregunta1 != null){ 
                                            foreach (var itemPregunta1 in varCatalogo_Respuesta_Pregunta1)
                                            {
                                                if (itemPregunta1.Value == Convert.ToString(Model.Pregunta1))
                                                {
                                                    <option value="@itemPregunta1.Value" selected>@itemPregunta1.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemPregunta1.Value">@itemPregunta1.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Pregunta1" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264368).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Catalogo_Respuesta', 'Pregunta1');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divPregunta2">
                                <label class="col-sm-2 control-label">@Resources.Encuesta1Resources.Pregunta2</label>
                                <div class="col-sm-8" data-field-id="Pregunta2" data-attribute="264369" data-field-name="@Resources.Encuesta1Resources.Pregunta2">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Pregunta #2 must be a number." data-val-required="The Pregunta #2 field is required." id="Pregunta2" name="Pregunta2">
                                        <option value=""></option>
                                        @if (varCatalogo_Respuesta_Pregunta2 != null){ 
                                            foreach (var itemPregunta2 in varCatalogo_Respuesta_Pregunta2)
                                            {
                                                if (itemPregunta2.Value == Convert.ToString(Model.Pregunta2))
                                                {
                                                    <option value="@itemPregunta2.Value" selected>@itemPregunta2.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemPregunta2.Value">@itemPregunta2.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Pregunta2" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264369).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Catalogo_Respuesta', 'Pregunta2');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divPregunta3">
                                <label class="col-sm-2 control-label">@Resources.Encuesta1Resources.Pregunta3</label>
                                <div class="col-sm-8" data-field-id="Pregunta3" data-attribute="264370" data-field-name="@Resources.Encuesta1Resources.Pregunta3">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Pregunta #3 must be a number." data-val-required="The Pregunta #3 field is required." id="Pregunta3" name="Pregunta3">
                                        <option value=""></option>
                                        @if (varCatalogo_Respuesta_Pregunta3 != null){ 
                                            foreach (var itemPregunta3 in varCatalogo_Respuesta_Pregunta3)
                                            {
                                                if (itemPregunta3.Value == Convert.ToString(Model.Pregunta3))
                                                {
                                                    <option value="@itemPregunta3.Value" selected>@itemPregunta3.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemPregunta3.Value">@itemPregunta3.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Pregunta3" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264370).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Catalogo_Respuesta', 'Pregunta3');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divPregunta4">
                                <label class="col-sm-2 control-label">@Resources.Encuesta1Resources.Pregunta4</label>
                                <div class="col-sm-8" data-field-id="Pregunta4" data-attribute="264371" data-field-name="@Resources.Encuesta1Resources.Pregunta4">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Pregunta #4 must be a number." data-val-required="The Pregunta #4 field is required." id="Pregunta4" name="Pregunta4">
                                        <option value=""></option>
                                        @if (varCatalogo_Respuesta_Pregunta4 != null){ 
                                            foreach (var itemPregunta4 in varCatalogo_Respuesta_Pregunta4)
                                            {
                                                if (itemPregunta4.Value == Convert.ToString(Model.Pregunta4))
                                                {
                                                    <option value="@itemPregunta4.Value" selected>@itemPregunta4.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemPregunta4.Value">@itemPregunta4.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Pregunta4" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264371).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Catalogo_Respuesta', 'Pregunta4');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divPregunta5">
                                <label class="col-sm-2 control-label">@Resources.Encuesta1Resources.Pregunta5</label>
                                <div class="col-sm-8" data-field-id="Pregunta5" data-attribute="264372" data-field-name="@Resources.Encuesta1Resources.Pregunta5">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Pregunta #5 must be a number." data-val-required="The Pregunta #5 field is required." id="Pregunta5" name="Pregunta5">
                                        <option value=""></option>
                                        @if (varCatalogo_Respuesta_Pregunta5 != null){ 
                                            foreach (var itemPregunta5 in varCatalogo_Respuesta_Pregunta5)
                                            {
                                                if (itemPregunta5.Value == Convert.ToString(Model.Pregunta5))
                                                {
                                                    <option value="@itemPregunta5.Value" selected>@itemPregunta5.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemPregunta5.Value">@itemPregunta5.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Pregunta5" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264372).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Catalogo_Respuesta', 'Pregunta5');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divPregunta6">
                                <label class="col-sm-2 control-label">@Resources.Encuesta1Resources.Pregunta6</label>
                                <div class="col-sm-8" data-field-id="Pregunta6" data-attribute="264373" data-field-name="@Resources.Encuesta1Resources.Pregunta6">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Pregunta #6 must be a number." data-val-required="The Pregunta #6 field is required." id="Pregunta6" name="Pregunta6">
                                        <option value=""></option>
                                        @if (varCatalogo_Respuesta_Pregunta6 != null){ 
                                            foreach (var itemPregunta6 in varCatalogo_Respuesta_Pregunta6)
                                            {
                                                if (itemPregunta6.Value == Convert.ToString(Model.Pregunta6))
                                                {
                                                    <option value="@itemPregunta6.Value" selected>@itemPregunta6.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemPregunta6.Value">@itemPregunta6.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Pregunta6" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264373).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Catalogo_Respuesta', 'Pregunta6');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divPregunta7">
                                <label class="col-sm-2 control-label">@Resources.Encuesta1Resources.Pregunta7</label>
                                <div class="col-sm-8" data-field-id="Pregunta7" data-attribute="264374" data-field-name="@Resources.Encuesta1Resources.Pregunta7">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Pregunta #7 must be a number." data-val-required="The Pregunta #7 field is required." id="Pregunta7" name="Pregunta7">
                                        <option value=""></option>
                                        @if (varCatalogo_Respuesta_Pregunta7 != null){ 
                                            foreach (var itemPregunta7 in varCatalogo_Respuesta_Pregunta7)
                                            {
                                                if (itemPregunta7.Value == Convert.ToString(Model.Pregunta7))
                                                {
                                                    <option value="@itemPregunta7.Value" selected>@itemPregunta7.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemPregunta7.Value">@itemPregunta7.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Pregunta7" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264374).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Catalogo_Respuesta', 'Pregunta7');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divPregunta8">
                                <label class="col-sm-2 control-label">@Resources.Encuesta1Resources.Pregunta8</label>
                                <div class="col-sm-8" data-field-id="Pregunta8" data-attribute="264375" data-field-name="@Resources.Encuesta1Resources.Pregunta8">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Pregunta #8 must be a number." data-val-required="The Pregunta #8 field is required." id="Pregunta8" name="Pregunta8">
                                        <option value=""></option>
                                        @if (varCatalogo_Respuesta_Pregunta8 != null){ 
                                            foreach (var itemPregunta8 in varCatalogo_Respuesta_Pregunta8)
                                            {
                                                if (itemPregunta8.Value == Convert.ToString(Model.Pregunta8))
                                                {
                                                    <option value="@itemPregunta8.Value" selected>@itemPregunta8.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemPregunta8.Value">@itemPregunta8.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Pregunta8" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264375).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Catalogo_Respuesta', 'Pregunta8');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divPregunta9">
                                <label class="col-sm-2 control-label">@Resources.Encuesta1Resources.Pregunta9</label>
                                <div class="col-sm-8" data-field-id="Pregunta9" data-attribute="264376" data-field-name="@Resources.Encuesta1Resources.Pregunta9">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Pregunta #9 must be a number." data-val-required="The Pregunta #9 field is required." id="Pregunta9" name="Pregunta9">
                                        <option value=""></option>
                                        @if (varCatalogo_Respuesta_Pregunta9 != null){ 
                                            foreach (var itemPregunta9 in varCatalogo_Respuesta_Pregunta9)
                                            {
                                                if (itemPregunta9.Value == Convert.ToString(Model.Pregunta9))
                                                {
                                                    <option value="@itemPregunta9.Value" selected>@itemPregunta9.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemPregunta9.Value">@itemPregunta9.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Pregunta9" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264376).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Catalogo_Respuesta', 'Pregunta9');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divPregunta10">
                                <label class="col-sm-2 control-label">@Resources.Encuesta1Resources.Pregunta10</label>
                                <div class="col-sm-8" data-field-id="Pregunta10" data-attribute="264377" data-field-name="@Resources.Encuesta1Resources.Pregunta10">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Pregunta #10 must be a number." data-val-required="The Pregunta #10 field is required." id="Pregunta10" name="Pregunta10">
                                        <option value=""></option>
                                        @if (varCatalogo_Respuesta_Pregunta10 != null){ 
                                            foreach (var itemPregunta10 in varCatalogo_Respuesta_Pregunta10)
                                            {
                                                if (itemPregunta10.Value == Convert.ToString(Model.Pregunta10))
                                                {
                                                    <option value="@itemPregunta10.Value" selected>@itemPregunta10.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemPregunta10.Value">@itemPregunta10.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Pregunta10" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264377).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Catalogo_Respuesta', 'Pregunta10');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Clave" id="ReferenceClave" />
                                <input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Encuesta1Guardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('Encuesta1CreateForm');"  />
									<button onclick="Encuesta1GetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Encuesta1BusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="Encuesta1GuardarYNuevo" onclick="return checkClientValidate('Encuesta1CreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="Encuesta1GuardarYCopia" onclick="return checkClientValidate('Encuesta1CreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnEncuesta1BusinessRuleFieldId" />
                                <input type="hidden" id="hdnEncuesta1BusinessRuleFieldName" />
                                <input type="hidden" id="hdnEncuesta1BusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Encuesta1Cancelar" name="Encuesta1Cancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="Encuesta1GetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Encuesta1BusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Encuesta1.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Encuesta1General.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Encuesta1CreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var viewInEframe =  ('@ViewBag.viewInEframe' == 'True');
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;


        $(document).ready(function () {
            $('#ObjectId').val('45129');
		   
		   
			
             @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();


                </text>
             }
             EjecutarValidacionesAlComienzo();
             

            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			
			 if (viewInEframe) {             
                $('#Encuesta1GuardarYNuevo').hide();
                $('#Encuesta1GuardarYCopia').hide();
                $('#Encuesta1Cancelar').hide(); 
                $('#ConfigureSave').hide();
                $('#Encuesta1Guardar').val('Actualizar Seccion ' + '@Resources.Encuesta1Resources.Encuesta1' )
            }

			
			

        });



        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });

        }

    </script>

<script type="text/javascript">


   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Encuesta1/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }


        function SendEncuesta1Data(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateEncuesta1").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateEncuesta1")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceClave").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('Encuesta1CreateForm', 'Datos_Generales')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Encuesta1/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".Encuesta1BusinessRuleModal").html(data);
			});
		}
                function Encuesta1GetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('45129');
			$('#Screen').val('Encuesta1');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function Encuesta1BackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Encuesta1/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Encuesta1/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Encuesta1/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Encuesta1/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Encuesta1/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateEncuesta1').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        Encuesta1GetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Encuesta1/Get_Datos_Generales")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    $('#Numero_de_Preguntas').val(result.data.Numero_de_Preguntas);
                    $('#NUAT').val(result.data.NUAT);
                    $('#Pregunta1').val(result.data.Pregunta1);
                    $('#Pregunta2').val(result.data.Pregunta2);
                    $('#Pregunta3').val(result.data.Pregunta3);
                    $('#Pregunta4').val(result.data.Pregunta4);
                    $('#Pregunta5').val(result.data.Pregunta5);
                    $('#Pregunta6').val(result.data.Pregunta6);
                    $('#Pregunta7').val(result.data.Pregunta7);
                    $('#Pregunta8').val(result.data.Pregunta8);
                    $('#Pregunta9').val(result.data.Pregunta9);
                    $('#Pregunta10').val(result.data.Pregunta10);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Numero_de_Preguntas', $('#Numero_de_Preguntas').val());
                data.append('NUAT', $('#NUAT').val());
                data.append('Pregunta1', $('#Pregunta1').val());
                data.append('Pregunta2', $('#Pregunta2').val());
                data.append('Pregunta3', $('#Pregunta3').val());
                data.append('Pregunta4', $('#Pregunta4').val());
                data.append('Pregunta5', $('#Pregunta5').val());
                data.append('Pregunta6', $('#Pregunta6').val());
                data.append('Pregunta7', $('#Pregunta7').val());
                data.append('Pregunta8', $('#Pregunta8').val());
                data.append('Pregunta9', $('#Pregunta9').val());
                data.append('Pregunta10', $('#Pregunta10').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Encuesta1/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}


    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Encuesta1_cmbLabelSelect" name="Encuesta1_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />

