@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Jefes_de_Usuarios_del_SistemaAdvanceSearchModel
@{
    List<SelectListItem> varRegion_Region = null;
    if (ViewBag.Regions_Region != null)
    { varRegion_Region = (List<SelectListItem>)ViewBag.Regions_Region; }
    List<SelectListItem> varUnidad_Unidad = null;
    if (ViewBag.Unidads_Unidad != null)
    { varUnidad_Unidad = (List<SelectListItem>)ViewBag.Unidads_Unidad; }
    List<SelectListItem> varVigencia_Vigencia = null;
    if (ViewBag.Vigencias_Vigencia != null)
    { varVigencia_Vigencia = (List<SelectListItem>)ViewBag.Vigencias_Vigencia; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Jefes_de_Usuarios_del_Sistema", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Jefes_de_Usuarios_del_SistemaResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Jefes_de_Usuarios_del_SistemaResources.Region</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.RegionFilter, filters, new { @class = "form-control", @id = "ddlRegionFilter" })
                    @Html.TextBoxFor(m => m.AdvanceRegion, new { @class = "form-control", @type = "text", @id = "txtAdvanceRegion" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varRegion_Region!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceRegionMultiple, varRegion_Region,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceRegion"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Jefes_de_Usuarios_del_SistemaResources.Ministerio_Publico_en_Turno</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Ministerio_Publico_en_TurnoFilter, filters, new { @class = "form-control", @id = "ddlMinisterio_Publico_en_TurnoFilter" })
                    @Html.TextBoxFor(m => m.Ministerio_Publico_en_Turno, new { @class = "form-control", @type = "text", @id = "txtMinisterio_Publico_en_Turno" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Jefes_de_Usuarios_del_SistemaResources.Unidad</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.UnidadFilter, filters, new { @class = "form-control", @id = "ddlUnidadFilter" })
                    @Html.TextBoxFor(m => m.AdvanceUnidad, new { @class = "form-control", @type = "text", @id = "txtAdvanceUnidad" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varUnidad_Unidad!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceUnidadMultiple, varUnidad_Unidad,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceUnidad"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Jefes_de_Usuarios_del_SistemaResources.Vigencia</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.VigenciaFilter, filters, new { @class = "form-control", @id = "ddlVigenciaFilter" })
                    @Html.TextBoxFor(m => m.AdvanceVigencia, new { @class = "form-control", @type = "text", @id = "txtAdvanceVigencia" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varVigencia_Vigencia!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceVigenciaMultiple, varVigencia_Vigencia,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceVigencia"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Jefes_de_Usuarios_del_SistemaResources.Observaciones</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.ObservacionesFilter, filters, new { @class = "form-control", @id = "ddlObservacionesFilter" })
                    @Html.TextBoxFor(m => m.Observaciones, new { @class = "form-control", @type = "text", @id = "txtObservaciones" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Jefes_de_Usuarios_del_Sistema/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Jefes_de_Usuarios_del_SistemaClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Jefes_de_Usuarios_del_SistemaClaveTo = $("#txtAdvanceToClave").val();
        }
        advanceSearch.RegionSearchType = 0;
        if ($('#ddlAdvanceRegion').val().length > 0 || $("#txtAdvanceRegion").val() == "") {


            if (isJefes_de_Usuarios_del_SistemaTextSearch) {
                advanceSearch.RegionName = $("#txtAdvanceRegion").val();
                advanceSearch.RegionNameSearchType = $("#ddlAdvanceRegion").val();
                advanceSearch.RegionSearchType = 1;
            }
            else {

                advanceSearch.RegionToSearch = $("#ddlAdvanceRegion").val();
                advanceSearch.RegionSearchType = 2;
            }
        }
        if ($("#txtAdvanceMinisterio_Publico_en_Turno").val() != "") {
            hasParameter = true;
            advanceSearch.Jefes_de_Usuarios_del_SistemaMinisterio_Publico_en_Turno = $("#txtAdvanceMinisterio_Publico_en_Turno").val();
            advanceSearch.Jefes_de_Usuarios_del_SistemaMinisterio_Publico_en_TurnoSearchType = $("#ddlAdvanceMinisterio_Publico_en_TurnoFilter").val();
        }
        advanceSearch.UnidadSearchType = 0;
        if ($('#ddlAdvanceUnidad').val().length > 0 || $("#txtAdvanceUnidad").val() == "") {


            if (isJefes_de_Usuarios_del_SistemaTextSearch) {
                advanceSearch.UnidadName = $("#txtAdvanceUnidad").val();
                advanceSearch.UnidadNameSearchType = $("#ddlAdvanceUnidad").val();
                advanceSearch.UnidadSearchType = 1;
            }
            else {

                advanceSearch.UnidadToSearch = $("#ddlAdvanceUnidad").val();
                advanceSearch.UnidadSearchType = 2;
            }
        }
        advanceSearch.VigenciaSearchType = 0;
        if ($('#ddlAdvanceVigencia').val().length > 0 || $("#txtAdvanceVigencia").val() == "") {


            if (isJefes_de_Usuarios_del_SistemaTextSearch) {
                advanceSearch.VigenciaName = $("#txtAdvanceVigencia").val();
                advanceSearch.VigenciaNameSearchType = $("#ddlAdvanceVigencia").val();
                advanceSearch.VigenciaSearchType = 1;
            }
            else {

                advanceSearch.VigenciaToSearch = $("#ddlAdvanceVigencia").val();
                advanceSearch.VigenciaSearchType = 2;
            }
        }
        if ($("#txtAdvanceObservaciones").val() != "") {
            hasParameter = true;
            advanceSearch.Jefes_de_Usuarios_del_SistemaObservaciones = $("#txtAdvanceObservaciones").val();
            advanceSearch.Jefes_de_Usuarios_del_SistemaObservacionesSearchType = $("#ddlAdvanceObservacionesFilter").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblJefes_de_Usuarios_del_Sistema').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isJefes_de_Usuarios_del_SistemaTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceRegion").keypress(function () {
            isJefes_de_Usuarios_del_SistemaTextSearch = true;
            $("#ddlAdvanceRegion").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceRegion").change(function () {
            isJefes_de_Usuarios_del_SistemaTextSearch = false;
            $("#txtAdvanceRegion").val('');
        });
        $("#txtAdvanceUnidad").keypress(function () {
            isJefes_de_Usuarios_del_SistemaTextSearch = true;
            $("#ddlAdvanceUnidad").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceUnidad").change(function () {
            isJefes_de_Usuarios_del_SistemaTextSearch = false;
            $("#txtAdvanceUnidad").val('');
        });
        $("#txtAdvanceVigencia").keypress(function () {
            isJefes_de_Usuarios_del_SistemaTextSearch = true;
            $("#ddlAdvanceVigencia").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceVigencia").change(function () {
            isJefes_de_Usuarios_del_SistemaTextSearch = false;
            $("#txtAdvanceVigencia").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

