@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Configurador_de_MovimientosModel
@{

/*

*/
    List<SelectListItem> varFase_de_Judicializacion_Fase = null;
    if (ViewBag.Fase_de_Judicializacions_Fase != null)
    { varFase_de_Judicializacion_Fase = (List<SelectListItem>)ViewBag.Fase_de_Judicializacions_Fase; }

    Permission permissionDetalle_Datos_Adicionales_Movimiento = ViewBag.PermissionDetalle_Datos_Adicionales_Movimiento;

    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial || ViewBag.viewInEframe)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.Configurador_de_MovimientosResources.Configurador_de_Movimientos
                <button onclick="Configurador_de_MovimientosGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Configurador_de_MovimientosBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.Configurador_de_MovimientosResources.Configurador_de_Movimientos</strong>
                }
                
            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="Configurador_de_MovimientosDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in Configurador_de_MovimientosPropertyBusinessModal" id="Configurador_de_MovimientosPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Configurador_de_MovimientosBusinessRule-form" onclick="Configurador_de_MovimientosGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Configurador_de_MovimientosBusinessRuleModal" id="Configurador_de_MovimientosBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }
                    <div aria-hidden="true" class="modal fade in AddDetalle_Datos_Adicionales_MovimientoModal" id="AddDetalle_Datos_Adicionales_Movimiento-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>


        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Configurador_de_Movimientos", FormMethod.Post, new { id = "CreateConfigurador_de_Movimientos", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid Configurador_de_MovimientosCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.Configurador_de_MovimientosResources.TabDatos_Generales</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Configurador_de_MovimientosResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="268527" data-field-name="@Resources.Configurador_de_MovimientosResources.Clave">
                                    <label class="form-control" for="Clave" id="lblClave">
                                    @if (Model.Clave== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Clave</text>
                                        }
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="divDescripcion">
                                <label class="col-sm-2 control-label">@Resources.Configurador_de_MovimientosResources.Descripcion</label>
                                <div class="col-sm-8" data-field-id="Descripcion" data-attribute="268534" data-field-name="@Resources.Configurador_de_MovimientosResources.Descripcion">
                                    <textarea id="Descripcion" name="Descripcion" class="form-control Datos_Generales" rows="4" cols="50">@Model.Descripcion</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Descripcion" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divFase">
                                <label class="col-sm-2 control-label">@Resources.Configurador_de_MovimientosResources.Fase</label>
                                <div class="col-sm-8" data-field-id="Fase" data-attribute="268535" data-field-name="@Resources.Configurador_de_MovimientosResources.Fase">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Fase must be a number." data-val-required="The Fase field is required." id="Fase" name="Fase">
                                        <option value=""></option>
                                        @if (varFase_de_Judicializacion_Fase != null){ 
                                            foreach (var itemFase in varFase_de_Judicializacion_Fase)
                                            {
                                                if (itemFase.Value == Convert.ToString(Model.Fase))
                                                {
                                                    <option value="@itemFase.Value" selected>@itemFase.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemFase.Value">@itemFase.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Fase" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268535).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Fase_de_Judicializacion', 'Fase');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divAplica_para_Adolescentes">
                                <label class="col-sm-2 control-label">@Resources.Configurador_de_MovimientosResources.Aplica_para_Adolescentes</label>
                                <div class="col-sm-8" data-field-id="Aplica_para_Adolescentes" data-attribute="268536" data-field-name="@Resources.Configurador_de_MovimientosResources.Aplica_para_Adolescentes">
                                    @Html.CheckBoxFor(m => m.Aplica_para_Adolescentes, new { @class = "i-checks Datos_Generales" })
                                </div>
                            </div>
                            <div id="divDatos_Adicionales">
                            <div class="ibox-title">
                                <h5>@Resources.Configurador_de_MovimientosResources.Datos_Adicionales</h5>
                                <div class="ibox-tools">
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="">
									@if (permissionDetalle_Datos_Adicionales_Movimiento.New && !ViewBag.Consult)
                                    {
                                        <a onclick="Detalle_Datos_Adicionales_MovimientofnClickAddRow();" href="javascript:void(0);" title="@Resources.Resources.AddNewRow" class="Detalle_Datos_Adicionales_MovimientoAddRow btn btn-primary">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                    }
                                    <button onclick="Configurador_de_MovimientosGetBusinessRule('', 'Al Guardar o al Eliminar una Row', '268537')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Configurador_de_MovimientosBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToCreateGrid">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>
									@if (permissionDetalle_Datos_Adicionales_Movimiento.New && !ViewBag.Consult)
                                    {
                                        <a onclick="Detalle_Datos_Adicionales_MovimientofnOpenAddRowPopUp();" data-toggle="modal" title="@Resources.Resources.AddNewRow" data-target="#AddDetalle_Datos_Adicionales_Movimiento-form" data-backdrop="static" data-keyboard="false" class="btn_mrpopup btn btn-primary">
                                            <i class="glyphicon glyphicon-new-window"></i>
                                        </a>
                                    }  
                                </div>

                                <br />

                                <div style='overflow-x: auto;'>
                                    <table class="table table-striped table-bordered table-hover childValidateTable" id="Detalle_Datos_Adicionales_MovimientoGrid">
                                        <thead>
                                            <tr>
                                                <th class="ActionHeader"><span>@Resources.Resources.Actions</span></th>


                                                <th class="DatoHeader"><span>
<button type="button" data-attribute="268530" data-field-id="Detalle_Datos_Adicionales_MovimientoDato" data-field-name="@Resources.Detalle_Datos_Adicionales_MovimientoResources.Dato" data-toggle="modal" data-target="#Configurador_de_MovimientosBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_Datos_Adicionales_MovimientoResources.Dato">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_Datos_Adicionales_MovimientoResources.Dato</span></th>
                                                <th class="Tipo_de_DatoHeader"><span>
<button type="button" data-attribute="268531" data-field-id="Detalle_Datos_Adicionales_MovimientoTipo_de_Dato" data-field-name="@Resources.Detalle_Datos_Adicionales_MovimientoResources.Tipo_de_Dato" data-toggle="modal" data-target="#Configurador_de_MovimientosBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_Datos_Adicionales_MovimientoResources.Tipo_de_Dato">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_Datos_Adicionales_MovimientoResources.Tipo_de_Dato</span></th>
                                                <th class="RelacionHeader" style="width:250px"><span>
<button type="button" data-attribute="268532" data-field-id="Detalle_Datos_Adicionales_MovimientoRelacion" data-field-name="@Resources.Detalle_Datos_Adicionales_MovimientoResources.Relacion" data-toggle="modal" data-target="#Configurador_de_MovimientosBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_Datos_Adicionales_MovimientoResources.Relacion">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_Datos_Adicionales_MovimientoResources.Relacion</span></th>
                                                <th class="ObligatorioHeader"><span>
<button type="button" data-attribute="268533" data-field-id="Detalle_Datos_Adicionales_MovimientoObligatorio" data-field-name="@Resources.Detalle_Datos_Adicionales_MovimientoResources.Obligatorio" data-toggle="modal" data-target="#Configurador_de_MovimientosBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_Datos_Adicionales_MovimientoResources.Obligatorio">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_Datos_Adicionales_MovimientoResources.Obligatorio</span></th>

                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Clave" id="ReferenceClave" />
                                <input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Configurador_de_MovimientosGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('Configurador_de_MovimientosCreateForm');"  />
									<button onclick="Configurador_de_MovimientosGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Configurador_de_MovimientosBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="Configurador_de_MovimientosGuardarYNuevo" onclick="return checkClientValidate('Configurador_de_MovimientosCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="Configurador_de_MovimientosGuardarYCopia" onclick="return checkClientValidate('Configurador_de_MovimientosCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnConfigurador_de_MovimientosBusinessRuleFieldId" />
                                <input type="hidden" id="hdnConfigurador_de_MovimientosBusinessRuleFieldName" />
                                <input type="hidden" id="hdnConfigurador_de_MovimientosBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Configurador_de_MovimientosCancelar" name="Configurador_de_MovimientosCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="Configurador_de_MovimientosGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Configurador_de_MovimientosBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Configurador_de_Movimientos.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Configurador_de_MovimientosGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Configurador_de_MovimientosCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var viewInEframe =  ('@ViewBag.viewInEframe' == 'True');
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;


        $(document).ready(function () {
            $('#ObjectId').val('45634');
		                  

            GetDetalle_Datos_Adicionales_Movimiento_Tipo_de_DatoItem();


           
              showDetalle_Datos_Adicionales_MovimientoGrid(null);

		   
            

            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			
			 if (viewInEframe) {             
                $('#Configurador_de_MovimientosGuardarYNuevo').hide();
                $('#Configurador_de_MovimientosGuardarYCopia').hide();
                $('#Configurador_de_MovimientosCancelar').hide(); 
                $('#ConfigureSave').hide();
                $('#Configurador_de_MovimientosGuardar').val('Actualizar Seccion ' + '@Resources.Configurador_de_MovimientosResources.Configurador_de_Movimientos' )
            }

			
			

            @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();


                </text>
            }
            EjecutarValidacionesAlComienzo(); 
			
        });

        var Detalle_Datos_Adicionales_MovimientoinsertRowCurrentIndex = -1;
        var Detalle_Datos_Adicionales_MovimientoDataDataTable;
        function getDetalle_Datos_Adicionales_MovimientoData() {
            $.ajax({
                url: "@Url.Content("~/Frontal/Configurador_de_Movimientos/GetDetalle_Datos_Adicionales_Movimiento")" + "?draw=1&start=1&length=2147483647" + ($("#ReferenceClave").val() != "" ? "&RelationId=" + $("#ReferenceClave").val() : ""),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                    Detalle_Datos_Adicionales_MovimientoDataDataTable = result.data;
                    showDetalle_Datos_Adicionales_MovimientoGrid(result.data);
                    $('#Detalle_Datos_Adicionales_MovimientoGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Detalle_Datos_Adicionales_MovimientoGrid .gridDatePicker').attr("readonly", "");
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
        function Detalle_Datos_Adicionales_MovimientoGetUpdateRowControls(data, nameOfTable, rowIndex) {

            var columnData = [];
            var counter = 0;
            var inputData = "<input type='text' class='fullWidth form-control' />";

            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Dato)).addClass('Dato').attr('id', nameOfTable + 'Dato' + rowIndex).attr('data-field', 'Dato');
           columnData[counter++] = $($(GetDetalle_Datos_Adicionales_Movimiento_Tipo_de_DatoDropDown()).val(data.Tipo_de_Dato)).addClass('Tipo_de_Dato inputNumber').attr('id', nameOfTable + 'Tipo_de_Dato' + rowIndex).attr('data-field', 'Tipo_de_Dato').after($.parseHTML(addNew('Detalle_Datos_Adicionales_Movimiento', 'Tipo_de_Dato','Tipo_de_Dato', 268531)));
            columnData[counter++] = $($($.parseHTML(GetGridAutoComplete(data.RelacionDescripcion != undefined ? data.RelacionDescripcion : null, 'AutoComplete' + nameOfTable + 'Relacion', data.Relacion)))).addClass('Relacion').attr('id', nameOfTable + 'Relacion' + rowIndex).attr('data-field', 'Relacion').after($.parseHTML(addNew('Detalle_Datos_Adicionales_Movimiento', 'Relaciones_para_Movimientos','Relacion', 268532)));
              columnData[counter++] = $($($.parseHTML(GetGridCheckBox())).prop('checked', (data.Obligatorio=="true" || data.Obligatorio==true)? 'checked': ''? 'checked': '')).addClass('Obligatorio').attr('id', nameOfTable + 'Obligatorio' + rowIndex).attr('data-field', 'Obligatorio');

            return columnData;
        }



        function GetFileInfo(fileData, fileUploadData) {

            var $div = $("<div>");
            if (fileUploadData != null && fileUploadData.files.length > 0) {

                $div.append("<label>" + fileUploadData.files[0].name + "</label>");
                //<i class="fa fa-times-circle" id='removeFileAttachment'>
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;

            } else if (fileUploadData != null) {
                return $.parseHTML(GetFileUploader());
            } else {
                $div.append("<label>" + fileData.FileName + "</label>");
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;
            }
        }

        var removedDetalle_Datos_Adicionales_MovimientoData = [];
        function Detalle_Datos_Adicionales_MovimientoDeleteRow(rowIndex, row) {
            var rowIndexTable = Detalle_Datos_Adicionales_MovimientoTable.fnGetPosition($(row).parent().parent()[0]);
            var permission = {            
                 Delete: '@permissionDetalle_Datos_Adicionales_Movimiento.Delete' == 'True'
            };
            if (!permission.Delete || isConsultMode)
                return;            
            if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
              if (EjecutarValidacionesAlEliminarMRDetalle_Datos_Adicionales_Movimiento('Detalle_Datos_Adicionales_Movimiento_', '_' + rowIndex)) {
                var prevData = Detalle_Datos_Adicionales_MovimientoTable.fnGetData(rowIndexTable );
                removedDetalle_Datos_Adicionales_MovimientoData.push(prevData);
                Detalle_Datos_Adicionales_MovimientoTable.fnDeleteRow(rowIndexTable );
				showDetalle_Datos_Adicionales_MovimientoGrid(Detalle_Datos_Adicionales_MovimientoTable.fnGetData());
              }
            }
			initiateUIControls();
        }

        function Detalle_Datos_Adicionales_MovimientorowCreationGrid(row, data, index) {
            var permission =  {            
                 Edit: '@permissionDetalle_Datos_Adicionales_Movimiento.Edit' == 'True',
                 Delete: '@permissionDetalle_Datos_Adicionales_Movimiento.Delete' == 'True'
            };
            setDetalle_Datos_Adicionales_MovimientoValidation();
            var Detalle_Datos_Adicionales_MovimientoRowElement = "Detalle_Datos_Adicionales_Movimiento_" + index.toString();
            $(row).addClass(Detalle_Datos_Adicionales_MovimientoRowElement);
            var nameOfTable='Detalle_Datos_Adicionales_Movimiento_';
            var rowIndex = '_' + index;
            Detalle_Datos_Adicionales_MovimientoinsertRowCurrentIndex = index;

            row.innerHTML = "";

            if (data.IsInsertRow) {

                if (row.childNodes.length != 0) {
                    for (var i = 0; i < row.childNodes.length; i++) {
                        row.childNodes[i].remove();
                    }
                }
                var controls = GetInsertDetalle_Datos_Adicionales_MovimientoRowControls(index);
                var actionColInsert = $('<td>');

                var abc = "if(dynamicFieldValidation('" + Detalle_Datos_Adicionales_MovimientoRowElement + "')){ Detalle_Datos_Adicionales_MovimientoInsertRow(" + index + "); }";
                var insertRowHTML = '<a  data-toggle="tooltip" title="Confirmar Registro" onclick="' + abc + '">';
                $('<i class="fa fa-check">').appendTo($(insertRowHTML).appendTo(actionColInsert));
				$('<i class="fa fa-times">').appendTo($("<a data-toggle='tooltip' title='Cancelar Registro' onclick='Detalle_Datos_Adicionales_MovimientoCancelRow(" + index + ")'>").appendTo(actionColInsert));
                actionColInsert.appendTo(row);

                for (i = 0; i < controls.length; i++) {
					var idHeader = $(controls[i]).data('field') + 'Header';
					if($(controls[i]).length > 1){
						idHeader = $($(controls[i])[1]).data('field') + 'Header';
					}					

					var classe = ($('#Detalle_Datos_Adicionales_MovimientoGrid .' + idHeader).hasClass('dt-right') ? "dt-right" : "") + $('#Detalle_Datos_Adicionales_MovimientoGrid .' + idHeader ).css('display') == 'none' ? " hide" : "";
				   
					if ($(controls[i]).next().length > 0) {
					    var div = $(controls[i]).next();
					    $('<td class="' + classe + '">').append($(controls[i])).append(div).appendTo(row);
					}else
					    $(controls[i]).appendTo($('<td class="' + classe + '">').appendTo(row));
					
                }
                $('#Detalle_Datos_Adicionales_MovimientoGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('#Detalle_Datos_Adicionales_MovimientoGrid .gridDatePicker').attr("readonly", "");
                return;
            }

            var actionCol = $('<td>');
			var edit = "<a title='@Resources.Resources.Edit' class='edit-MR' onclick='Detalle_Datos_Adicionales_MovimientoEditRow(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                edit = "";
            var editPopUp = "<a title='@Resources.Resources.Edit' class='edit-popup-MR' data-toggle='modal' data-target='#AddDetalle_Datos_Adicionales_Movimiento-form' onclick='Detalle_Datos_Adicionales_MovimientoEditRowPopup(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                editPopUp = "";
            var eliminar = "<a title='@Resources.Resources.Delete' class='eliminar-MR' onclick='Detalle_Datos_Adicionales_MovimientoDeleteRow(" + index + ", this)'>";
            if (!permission.Delete || isConsultMode)
                eliminar = "";
            $('<i class="fa fa-pencil">').appendTo($(edit).appendTo(actionCol));
            //$('<i class="fa fa-edit">').appendTo($(editPopUp).appendTo(actionCol));
            $('<i class="fa fa-trash-o">').appendTo($(eliminar).appendTo(actionCol));
			if ($('.Action' + 'Header').css('display') != 'none')
				actionCol.appendTo(row);

            if ($('.Dato' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Dato'+rowIndex+'">').text(data.Dato).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Dato'+rowIndex+'">').text(data.Dato).appendTo(row);
            if ($('.Tipo_de_Dato' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Tipo_de_Dato'+rowIndex+'">').text(GetDetalle_Datos_Adicionales_Movimiento_Tipo_de_DatoName(data.Tipo_de_Dato)).appendTo(row);
	    else 
		$('<td style="display:none;" id="'+nameOfTable+'Tipo_de_Dato'+rowIndex+'">').text(GetDetalle_Datos_Adicionales_Movimiento_Tipo_de_DatoName(data.Tipo_de_Dato)).appendTo(row);
            if ($('.Relacion' + 'Header').css('display') != 'none'){
                if (data.RelacionDescripcion == undefined){$('<td class="dt-right"  id="'+nameOfTable+'Relacion'+rowIndex+'">').text(data.Relacion).appendTo(row);}else{$('<td>').text(data.RelacionDescripcion).appendTo(row);}
}
             else {
                if (data.RelacionDescripcion == undefined){$('<td style="display:none;" class="dt-right"  id="'+nameOfTable+'Relacion'+rowIndex+'">').text(data.Relacion).appendTo(row);}else{$('<td style:display:none;>').text(data.RelacionDescripcion).appendTo(row);}
}

            if ($('.Obligatorio' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Obligatorio'+rowIndex+'">').text(data.Obligatorio).appendTo(row);
            else
                $('<td style="display:none;" id="'+nameOfTable+'Obligatorio'+rowIndex+'">').text(data.Obligatorio).appendTo(row);

        }

        var Detalle_Datos_Adicionales_MovimientoTable;
        function showDetalle_Datos_Adicionales_MovimientoGrid(dataSet) {
            //removedDetalle_Datos_Adicionales_MovimientoData = [];
            Detalle_Datos_Adicionales_MovimientoTable = $('#Detalle_Datos_Adicionales_MovimientoGrid').dataTable({
                dom: '<"html5buttons"B>lTgitp',
                buttons: [
                ],
                "createdRow": Detalle_Datos_Adicionales_MovimientorowCreationGrid,
                "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
                data: dataSet,
                "columns": [
                    { "data": null, 'visible': true, "orderable": false },

                    { "data": "Dato", "orderable": false },
                    { "data": "Tipo_de_Dato", "orderable": false },
                    { "data": "Relacion", "orderable": false },
                    { "data": "Obligatorio", "orderable": false },

                ],
                "order": [[0, "asc"]],
                "language": {
                    "lengthMenu": "@Resources.Resources.Display" + " _MENU_ " + "@Resources.Resources.RecordsPerPage",
                    "zeroRecords": "@Resources.Resources.NothingFound",
                    "info": "@Resources.Resources.ShowingPages" + " _PAGE_ " + "@Resources.Resources.of" + " _PAGES_",
                    "infoEmpty": "@Resources.Resources.NoRecords",
                    "infoFiltered": "(" + "@Resources.Resources.FilteredFrom" + " _MAX_ " + "@Resources.Resources.TotalRecords" + ")",
                    "sSearch": "@Resources.Resources.Search",
                    "paginate": {
                        "previous": "@Resources.Resources.Previous",
                        "next": "@Resources.Resources.Next"
                    }
                },
				"bDestroy": true,
                "fnDrawCallback": function (settings) {
                    setDetalle_Datos_Adicionales_MovimientoValidation();
                }
            }).on('init.dt', function (e, data) {
                $('a').tooltip();
            }).on('draw.dt', function () {
                $('#Detalle_Datos_Adicionales_MovimientoGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('.gridDatePicker').inputmask("99-99-9999", { "placeholder": "dd-mm-yyyy" });
            });
        }



    var Detalle_Datos_Adicionales_Movimiento_Tipo_de_DatoItems;
        function GetDetalle_Datos_Adicionales_Movimiento_Tipo_de_DatoItem() {
            Detalle_Datos_Adicionales_Movimiento_Tipo_de_DatoItems = null;
            var ajaxUrl = "@Url.Content("~/Frontal/Configurador_de_Movimientos/GetDetalle_Datos_Adicionales_Movimiento_Tipo_de_DatoAll")";
            $.ajax({
                url: ajaxUrl,
                type: 'GET',
                dataType: "json",
                async: false,
                global: false,
                success: function (result) {
                    Detalle_Datos_Adicionales_Movimiento_Tipo_de_DatoItems = result;
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
    var Detalle_Datos_Adicionales_Movimiento_Relaciones_para_MovimientosItems;
        function GetDetalle_Datos_Adicionales_Movimiento_Relaciones_para_MovimientosItem() {
            Detalle_Datos_Adicionales_Movimiento_Relaciones_para_MovimientosItems = null;
            var ajaxUrl = "@Url.Content("~/Frontal/Configurador_de_Movimientos/GetDetalle_Datos_Adicionales_Movimiento_Relaciones_para_MovimientosAll")";
            $.ajax({
                url: ajaxUrl,
                type: 'GET',
                dataType: "json",
                async: false,
                global: false,
                success: function (result) {
                    Detalle_Datos_Adicionales_Movimiento_Relaciones_para_MovimientosItems = result;
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }


        var Detalle_Datos_Adicionales_MovimientoData = [];
        var Detalle_Datos_Adicionales_MovimientodeletedItem = [];
        var Detalle_Datos_Adicionales_MovimientoDataMain = [];
        var Detalle_Datos_Adicionales_MovimientoDataMainPages = [];
        var Detalle_Datos_Adicionales_MovimientonewItemCount = 0;
        var Detalle_Datos_Adicionales_MovimientomaxItemIndex = 0;
        var Detalle_Datos_Adicionales_MovimientoDataMainInitialized = false;

        function SendDetalle_Datos_Adicionales_Movimiento(callBack, ClaveId) {
            Detalle_Datos_Adicionales_MovimientoData = GetDetalle_Datos_Adicionales_MovimientoFromDataTable();

            if (Detalle_Datos_Adicionales_MovimientoData.length > 0 || $("#ReferenceClave").val() != ClaveId) {
                if ($("#ReferenceClave").val() != "0" && ClaveId ==null)
                    ClaveId = $("#ReferenceClave").val();                
                if ($("#ReferenceClave").val() == '')
                    $("#ReferenceClave").val('0');
                $.ajax({
                    url: '@Url.Content("~/Frontal/Configurador_de_Movimientos/PostDetalle_Datos_Adicionales_Movimiento?MasterId=")' + ClaveId + "&referenceId=" + $("#ReferenceClave").val(),
                    type: 'POST',
                    data: GetDetalle_Datos_Adicionales_Movimiento(),
                    async: true,
                    success: function (result) {

                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            } else {
                //showNotification("@Resources.Resources.SaveSuccess", "success");
                //callBack(ClaveId);
            }
            return true;
        }

        function GetAddDetalle_Datos_Adicionales_MovimientoPopup(currentRowIndex, mode, id) {

            $.ajax({
                url: "@Url.Action("AddDetalle_Datos_Adicionales_Movimiento", "Detalle_Datos_Adicionales_Movimiento")",
                type: "GET",
                async: false,
                data: { rowIndex: currentRowIndex, functionMode: mode, id: id },
                success: function (data) {
                    $(".AddDetalle_Datos_Adicionales_MovimientoModal").html(data);
                },
                error: function () {

                }
            });

            @*$.get('@Url.Action("AddDetalle_Datos_Adicionales_Movimiento", "Detalle_Datos_Adicionales_Movimiento")', { rowIndex: currentRowIndex }, function (data) {
                $(".AddDetalle_Datos_Adicionales_MovimientoModal").html(data);
            });*@
        }

        function ShowMessagePendingRowDetalle_Datos_Adicionales_Movimiento()
        {
            //alert('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Datos Adicionales"))')
	    showNotification('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Datos Adicionales"))', "warning");
        }


        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });



        $(".AutoCompleteDetalle_Datos_Adicionales_Movimiento_Relacion").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Configurador_de_Movimientos/GetDetalle_Datos_Adicionales_Movimiento_Relacion_Relaciones_para_Movimientos")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_Datos_Adicionales_Movimiento_Relacion_Relaciones_para_MovimientosData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_Datos_Adicionales_Movimiento_Relacion");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val(' ');
            $('.select2-search__field').keyup();
        });



        }

    </script>

<script type="text/javascript">


   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Configurador_de_Movimientos/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }


        function SendConfigurador_de_MovimientosData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateConfigurador_de_Movimientos").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateConfigurador_de_Movimientos")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceClave").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('Configurador_de_MovimientosCreateForm', 'Datos_Generales')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Configurador_de_Movimientos/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".Configurador_de_MovimientosBusinessRuleModal").html(data);
			});
		}
                function Configurador_de_MovimientosGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('45634');
			$('#Screen').val('Configurador_de_Movimientos');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function Configurador_de_MovimientosBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Configurador_de_Movimientos/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Configurador_de_Movimientos/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Configurador_de_Movimientos/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Configurador_de_Movimientos/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Configurador_de_Movimientos/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateConfigurador_de_Movimientos').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        Configurador_de_MovimientosGetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Configurador_de_Movimientos/Get_Datos_Generales")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    $('#Descripcion').val(result.data.Descripcion);
                    $('#Fase').val(result.data.Fase);
                    $('#Aplica_para_Adolescentes').prop('checked', result.data.Aplica_para_Adolescentes);
                    Detalle_Datos_Adicionales_MovimientoDataDataTable = result.Datos_Adicionales;
                    showDetalle_Datos_Adicionales_MovimientoGrid(result.Datos_Adicionales);
                    $('#Detalle_Datos_Adicionales_MovimientoGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Detalle_Datos_Adicionales_MovimientoGrid .gridDatePicker').attr("readonly", "");

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Descripcion', $('#Descripcion').val());
                data.append('Fase', $('#Fase').val());
                data.append('Aplica_para_Adolescentes', $('#Aplica_para_Adolescentes').prop('checked'));

			$.ajax({
				url: '@Url.Content("~/Frontal/Configurador_de_Movimientos/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    					    SendDetalle_Datos_Adicionales_Movimiento(null, newId);

					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}


    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Configurador_de_Movimientos_cmbLabelSelect" name="Configurador_de_Movimientos_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />

