@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.expediente_ministerio_publicoAdvanceSearchModel
@{
 List<SelectListItem> varSpartan_User_usuario_que_registra = null;
    if (ViewBag.Spartan_Users_usuario_que_registra != null)
    { varSpartan_User_usuario_que_registra = (List<SelectListItem>)ViewBag.Spartan_Users_usuario_que_registra; }
    List<SelectListItem> varTipo_de_Denuncia_Tipo_de_Denuncia = null;
    if (ViewBag.Tipo_de_Denuncias_Tipo_de_Denuncia != null)
    { varTipo_de_Denuncia_Tipo_de_Denuncia = (List<SelectListItem>)ViewBag.Tipo_de_Denuncias_Tipo_de_Denuncia; }
 List<SelectListItem> varSpartan_User_MP_Asignado = null;
    if (ViewBag.Spartan_Users_MP_Asignado != null)
    { varSpartan_User_MP_Asignado = (List<SelectListItem>)ViewBag.Spartan_Users_MP_Asignado; }
 List<SelectListItem> varUnidad_unidad = null;
    if (ViewBag.Unidads_unidad != null)
    { varUnidad_unidad = (List<SelectListItem>)ViewBag.Unidads_unidad; }
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
    List<SelectListItem> varRegion_Region = null;
    if (ViewBag.Regions_Region != null)
    { varRegion_Region = (List<SelectListItem>)ViewBag.Regions_Region; }
    List<SelectListItem> varA_Tiempo_detenido = null;
    if (ViewBag.A_Tiempos_detenido != null)
    { varA_Tiempo_detenido = (List<SelectListItem>)ViewBag.A_Tiempos_detenido; }
    List<SelectListItem> varTipo_de_Urgencia_Tipo_de_urgencia = null;
    if (ViewBag.Tipo_de_Urgencias_Tipo_de_urgencia != null)
    { varTipo_de_Urgencia_Tipo_de_urgencia = (List<SelectListItem>)ViewBag.Tipo_de_Urgencias_Tipo_de_urgencia; }
 List<SelectListItem> varSolicitud_de_Denuncia_Ciudadana_Pre_Denuncia = null;
    if (ViewBag.Solicitud_de_Denuncia_Ciudadanas_Pre_Denuncia != null)
    { varSolicitud_de_Denuncia_Ciudadana_Pre_Denuncia = (List<SelectListItem>)ViewBag.Solicitud_de_Denuncia_Ciudadanas_Pre_Denuncia; }
    List<SelectListItem> varestatus_mpi_estatus = null;
    if (ViewBag.estatus_mpis_estatus != null)
    { varestatus_mpi_estatus = (List<SelectListItem>)ViewBag.estatus_mpis_estatus; }
    List<SelectListItem> varLugar_Tipo_Lugar_de_los_Hechos = null;
    if (ViewBag.Lugar_Tipos_Lugar_de_los_Hechos != null)
    { varLugar_Tipo_Lugar_de_los_Hechos = (List<SelectListItem>)ViewBag.Lugar_Tipos_Lugar_de_los_Hechos; }
 List<SelectListItem> varPais_PaisH = null;
    if (ViewBag.Paiss_PaisH != null)
    { varPais_PaisH = (List<SelectListItem>)ViewBag.Paiss_PaisH; }
 List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
 List<SelectListItem> varMunicipio_Municipio_Hechos = null;
    if (ViewBag.Municipios_Municipio_Hechos != null)
    { varMunicipio_Municipio_Hechos = (List<SelectListItem>)ViewBag.Municipios_Municipio_Hechos; }
 List<SelectListItem> varColonia_Poblacion = null;
    if (ViewBag.Colonias_Poblacion != null)
    { varColonia_Poblacion = (List<SelectListItem>)ViewBag.Colonias_Poblacion; }
 List<SelectListItem> varColonia_ColoniaH = null;
    if (ViewBag.Colonias_ColoniaH != null)
    { varColonia_ColoniaH = (List<SelectListItem>)ViewBag.Colonias_ColoniaH; }
    List<SelectListItem> varTipo_de_Acuerdo_tipo_de_acuerdo = null;
    if (ViewBag.Tipo_de_Acuerdos_tipo_de_acuerdo != null)
    { varTipo_de_Acuerdo_tipo_de_acuerdo = (List<SelectListItem>)ViewBag.Tipo_de_Acuerdos_tipo_de_acuerdo; }
    List<SelectListItem> varPeriodicidad_periodicidad = null;
    if (ViewBag.Periodicidads_periodicidad != null)
    { varPeriodicidad_periodicidad = (List<SelectListItem>)ViewBag.Periodicidads_periodicidad; }
    List<SelectListItem> varA_Tiempo_acepta_acuerdo = null;
    if (ViewBag.A_Tiempos_acepta_acuerdo != null)
    { varA_Tiempo_acepta_acuerdo = (List<SelectListItem>)ViewBag.A_Tiempos_acepta_acuerdo; }
 List<SelectListItem> varSpartan_User_Usuario_que_Cierra = null;
    if (ViewBag.Spartan_Users_Usuario_que_Cierra != null)
    { varSpartan_User_Usuario_que_Cierra = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Cierra; }
    List<SelectListItem> vartipo_de_cierre_tipo_de_cierre = null;
    if (ViewBag.tipo_de_cierres_tipo_de_cierre != null)
    { vartipo_de_cierre_tipo_de_cierre = (List<SelectListItem>)ViewBag.tipo_de_cierres_tipo_de_cierre; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "expediente_ministerio_publico", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.expediente_ministerio_publicoResources.clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.Fromclave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromclave" })
                    @Html.ValidationMessageFor(m => m.Fromclave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.Toclave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToclave", @data_min = "txtAdvanceFromclave" })
                    @Html.ValidationMessageFor(m => m.Toclave)
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.expediente_ministerio_publicoResources.fecha_de_registro</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromfecha_de_registro" name="Fromfecha_de_registro" type="text" value="@Model.Fromfecha_de_registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceTofecha_de_registro" name="Tofecha_de_registro" type="text" value="@Model.Tofecha_de_registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.expediente_ministerio_publicoResources.hora_de_registro</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromhora_de_registro" name="Fromhora_de_registro" type="text" value="@Model.Fromhora_de_registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceTohora_de_registro" name="Tohora_de_registro" type="text" value="@Model.Tohora_de_registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
 List<SelectListItem> varSpartan_User_usuario_que_registra = null;
    if (ViewBag.Spartan_Users_usuario_que_registra != null)
    { varSpartan_User_usuario_que_registra = (List<SelectListItem>)ViewBag.Spartan_Users_usuario_que_registra; }
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.Tipo_de_Denuncia</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tipo_de_DenunciaFilter, filters, new { @class = "form-control", @id = "ddlTipo_de_DenunciaFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTipo_de_Denuncia, new { @class = "form-control", @type = "text", @id = "txtAdvanceTipo_de_Denuncia" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Denuncia_Tipo_de_Denuncia!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTipo_de_DenunciaMultiple, varTipo_de_Denuncia_Tipo_de_Denuncia,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTipo_de_Denuncia"
                        });
                    }
                </div>
 List<SelectListItem> varSpartan_User_MP_Asignado = null;
    if (ViewBag.Spartan_Users_MP_Asignado != null)
    { varSpartan_User_MP_Asignado = (List<SelectListItem>)ViewBag.Spartan_Users_MP_Asignado; }
 List<SelectListItem> varUnidad_unidad = null;
    if (ViewBag.Unidads_unidad != null)
    { varUnidad_unidad = (List<SelectListItem>)ViewBag.Unidads_unidad; }
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.Region</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.RegionFilter, filters, new { @class = "form-control", @id = "ddlRegionFilter" })
                    @Html.TextBoxFor(m => m.AdvanceRegion, new { @class = "form-control", @type = "text", @id = "txtAdvanceRegion" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varRegion_Region!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceRegionMultiple, varRegion_Region,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceRegion"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.nuat</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.nuatFilter, filters, new { @class = "form-control", @id = "ddlnuatFilter" })
                    @Html.TextBoxFor(m => m.nuat, new { @class = "form-control", @type = "text", @id = "txtnuat" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.Numero_de_Denuncia</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_de_DenunciaFilter, filters, new { @class = "form-control", @id = "ddlNumero_de_DenunciaFilter" })
                    @Html.TextBoxFor(m => m.Numero_de_Denuncia, new { @class = "form-control", @type = "text", @id = "txtNumero_de_Denuncia" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.nic</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.nicFilter, filters, new { @class = "form-control", @id = "ddlnicFilter" })
                    @Html.TextBoxFor(m => m.nic, new { @class = "form-control", @type = "text", @id = "txtnic" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.detenido</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.detenidoFilter, filters, new { @class = "form-control", @id = "ddldetenidoFilter" })
                    @Html.TextBoxFor(m => m.Advancedetenido, new { @class = "form-control", @type = "text", @id = "txtAdvancedetenido" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varA_Tiempo_detenido!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvancedetenidoMultiple, varA_Tiempo_detenido,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvancedetenido"
                        });
                    }
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.expediente_ministerio_publicoResources.hora_del_detenido</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromhora_del_detenido" name="Fromhora_del_detenido" type="text" value="@Model.Fromhora_del_detenido" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceTohora_del_detenido" name="Tohora_del_detenido" type="text" value="@Model.Tohora_del_detenido" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.expediente_ministerio_publicoResources.hora_puesto_a_disposicion</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromhora_puesto_a_disposicion" name="Fromhora_puesto_a_disposicion" type="text" value="@Model.Fromhora_puesto_a_disposicion" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceTohora_puesto_a_disposicion" name="Tohora_puesto_a_disposicion" type="text" value="@Model.Tohora_puesto_a_disposicion" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.Tipo_de_urgencia</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tipo_de_urgenciaFilter, filters, new { @class = "form-control", @id = "ddlTipo_de_urgenciaFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTipo_de_urgencia, new { @class = "form-control", @type = "text", @id = "txtAdvanceTipo_de_urgencia" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Urgencia_Tipo_de_urgencia!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTipo_de_urgenciaMultiple, varTipo_de_Urgencia_Tipo_de_urgencia,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTipo_de_urgencia"
                        });
                    }
                </div>
 List<SelectListItem> varSolicitud_de_Denuncia_Ciudadana_Pre_Denuncia = null;
    if (ViewBag.Solicitud_de_Denuncia_Ciudadanas_Pre_Denuncia != null)
    { varSolicitud_de_Denuncia_Ciudadana_Pre_Denuncia = (List<SelectListItem>)ViewBag.Solicitud_de_Denuncia_Ciudadanas_Pre_Denuncia; }
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.estatus</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.estatusFilter, filters, new { @class = "form-control", @id = "ddlestatusFilter" })
                    @Html.TextBoxFor(m => m.Advanceestatus, new { @class = "form-control", @type = "text", @id = "txtAdvanceestatus" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varestatus_mpi_estatus!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceestatusMultiple, varestatus_mpi_estatus,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceestatus"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.Titulo_del_Hecho</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Titulo_del_HechoFilter, filters, new { @class = "form-control", @id = "ddlTitulo_del_HechoFilter" })
                    @Html.TextBoxFor(m => m.Titulo_del_Hecho, new { @class = "form-control", @type = "text", @id = "txtTitulo_del_Hecho" })
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.expediente_ministerio_publicoResources.Fecha_del_Hecho</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_del_Hecho" name="FromFecha_del_Hecho" type="text" value="@Model.FromFecha_del_Hecho" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_del_Hecho" name="ToFecha_del_Hecho" type="text" value="@Model.ToFecha_del_Hecho" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.Narrativa_Breve_de_los_Hechos</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Narrativa_Breve_de_los_HechosFilter, filters, new { @class = "form-control", @id = "ddlNarrativa_Breve_de_los_HechosFilter" })
                    @Html.TextBoxFor(m => m.Narrativa_Breve_de_los_Hechos, new { @class = "form-control", @type = "text", @id = "txtNarrativa_Breve_de_los_Hechos" })
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.expediente_ministerio_publicoResources.Hora_Aproximada_del_Hecho</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromHora_Aproximada_del_Hecho" name="FromHora_Aproximada_del_Hecho" type="text" value="@Model.FromHora_Aproximada_del_Hecho" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceToHora_Aproximada_del_Hecho" name="ToHora_Aproximada_del_Hecho" type="text" value="@Model.ToHora_Aproximada_del_Hecho" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.Lugar_de_los_Hechos</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Lugar_de_los_HechosFilter, filters, new { @class = "form-control", @id = "ddlLugar_de_los_HechosFilter" })
                    @Html.TextBoxFor(m => m.AdvanceLugar_de_los_Hechos, new { @class = "form-control", @type = "text", @id = "txtAdvanceLugar_de_los_Hechos" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varLugar_Tipo_Lugar_de_los_Hechos!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceLugar_de_los_HechosMultiple, varLugar_Tipo_Lugar_de_los_Hechos,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceLugar_de_los_Hechos"
                        });
                    }
                </div>
 List<SelectListItem> varPais_PaisH = null;
    if (ViewBag.Paiss_PaisH != null)
    { varPais_PaisH = (List<SelectListItem>)ViewBag.Paiss_PaisH; }
 List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
 List<SelectListItem> varMunicipio_Municipio_Hechos = null;
    if (ViewBag.Municipios_Municipio_Hechos != null)
    { varMunicipio_Municipio_Hechos = (List<SelectListItem>)ViewBag.Municipios_Municipio_Hechos; }
 List<SelectListItem> varColonia_Poblacion = null;
    if (ViewBag.Colonias_Poblacion != null)
    { varColonia_Poblacion = (List<SelectListItem>)ViewBag.Colonias_Poblacion; }
 List<SelectListItem> varColonia_ColoniaH = null;
    if (ViewBag.Colonias_ColoniaH != null)
    { varColonia_ColoniaH = (List<SelectListItem>)ViewBag.Colonias_ColoniaH; }
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.CalleH</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.CalleHFilter, filters, new { @class = "form-control", @id = "ddlCalleHFilter" })
                    @Html.TextBoxFor(m => m.CalleH, new { @class = "form-control", @type = "text", @id = "txtCalleH" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.Numero_InteriorH</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_InteriorHFilter, filters, new { @class = "form-control", @id = "ddlNumero_InteriorHFilter" })
                    @Html.TextBoxFor(m => m.Numero_InteriorH, new { @class = "form-control", @type = "text", @id = "txtNumero_InteriorH" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.Numero_ExteriorH</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_ExteriorHFilter, filters, new { @class = "form-control", @id = "ddlNumero_ExteriorHFilter" })
                    @Html.TextBoxFor(m => m.Numero_ExteriorH, new { @class = "form-control", @type = "text", @id = "txtNumero_ExteriorH" })
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.expediente_ministerio_publicoResources.Codigo_PostalH</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromCodigo_PostalH, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromCodigo_PostalH" })
                    @Html.ValidationMessageFor(m => m.FromCodigo_PostalH)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToCodigo_PostalH, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToCodigo_PostalH", @data_min = "txtAdvanceFromCodigo_PostalH" })
                    @Html.ValidationMessageFor(m => m.ToCodigo_PostalH)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.Entre_Calle</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Entre_CalleFilter, filters, new { @class = "form-control", @id = "ddlEntre_CalleFilter" })
                    @Html.TextBoxFor(m => m.Entre_Calle, new { @class = "form-control", @type = "text", @id = "txtEntre_Calle" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.Y_Calle</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Y_CalleFilter, filters, new { @class = "form-control", @id = "ddlY_CalleFilter" })
                    @Html.TextBoxFor(m => m.Y_Calle, new { @class = "form-control", @type = "text", @id = "txtY_Calle" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.LongitudH</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.LongitudHFilter, filters, new { @class = "form-control", @id = "ddlLongitudHFilter" })
                    @Html.TextBoxFor(m => m.LongitudH, new { @class = "form-control", @type = "text", @id = "txtLongitudH" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.LatitudH</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.LatitudHFilter, filters, new { @class = "form-control", @id = "ddlLatitudHFilter" })
                    @Html.TextBoxFor(m => m.LatitudH, new { @class = "form-control", @type = "text", @id = "txtLatitudH" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.tipo_de_acuerdo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.tipo_de_acuerdoFilter, filters, new { @class = "form-control", @id = "ddltipo_de_acuerdoFilter" })
                    @Html.TextBoxFor(m => m.Advancetipo_de_acuerdo, new { @class = "form-control", @type = "text", @id = "txtAdvancetipo_de_acuerdo" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Acuerdo_tipo_de_acuerdo!=null)
                    {
                        @Html.ListBoxFor(m => m.Advancetipo_de_acuerdoMultiple, varTipo_de_Acuerdo_tipo_de_acuerdo,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvancetipo_de_acuerdo"
                        });
                    }
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.expediente_ministerio_publicoResources.fecha_de_inicio_de_acuerdo</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromfecha_de_inicio_de_acuerdo" name="Fromfecha_de_inicio_de_acuerdo" type="text" value="@Model.Fromfecha_de_inicio_de_acuerdo" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceTofecha_de_inicio_de_acuerdo" name="Tofecha_de_inicio_de_acuerdo" type="text" value="@Model.Tofecha_de_inicio_de_acuerdo" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.expediente_ministerio_publicoResources.fecha_de_cumplimiento</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromfecha_de_cumplimiento" name="Fromfecha_de_cumplimiento" type="text" value="@Model.Fromfecha_de_cumplimiento" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceTofecha_de_cumplimiento" name="Tofecha_de_cumplimiento" type="text" value="@Model.Tofecha_de_cumplimiento" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.expediente_ministerio_publicoResources.hora_de_cumplimiento</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromhora_de_cumplimiento" name="Fromhora_de_cumplimiento" type="text" value="@Model.Fromhora_de_cumplimiento" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceTohora_de_cumplimiento" name="Tohora_de_cumplimiento" type="text" value="@Model.Tohora_de_cumplimiento" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.domicilio_para_el_cumplimiento</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.domicilio_para_el_cumplimientoFilter, filters, new { @class = "form-control", @id = "ddldomicilio_para_el_cumplimientoFilter" })
                    @Html.TextBoxFor(m => m.domicilio_para_el_cumplimiento, new { @class = "form-control", @type = "text", @id = "txtdomicilio_para_el_cumplimiento" })
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.expediente_ministerio_publicoResources.parcialidades</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.Fromparcialidades, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromparcialidades" })
                    @Html.ValidationMessageFor(m => m.Fromparcialidades)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.Toparcialidades, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToparcialidades", @data_min = "txtAdvanceFromparcialidades" })
                    @Html.ValidationMessageFor(m => m.Toparcialidades)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.periodicidad</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.periodicidadFilter, filters, new { @class = "form-control", @id = "ddlperiodicidadFilter" })
                    @Html.TextBoxFor(m => m.Advanceperiodicidad, new { @class = "form-control", @type = "text", @id = "txtAdvanceperiodicidad" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varPeriodicidad_periodicidad!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceperiodicidadMultiple, varPeriodicidad_periodicidad,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceperiodicidad"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.acepta_acuerdo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.acepta_acuerdoFilter, filters, new { @class = "form-control", @id = "ddlacepta_acuerdoFilter" })
                    @Html.TextBoxFor(m => m.Advanceacepta_acuerdo, new { @class = "form-control", @type = "text", @id = "txtAdvanceacepta_acuerdo" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varA_Tiempo_acepta_acuerdo!=null)
                    {
                        @Html.ListBoxFor(m => m.Advanceacepta_acuerdoMultiple, varA_Tiempo_acepta_acuerdo,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceacepta_acuerdo"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.motivo_de_rechazo_de_acuerdo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.motivo_de_rechazo_de_acuerdoFilter, filters, new { @class = "form-control", @id = "ddlmotivo_de_rechazo_de_acuerdoFilter" })
                    @Html.TextBoxFor(m => m.motivo_de_rechazo_de_acuerdo, new { @class = "form-control", @type = "text", @id = "txtmotivo_de_rechazo_de_acuerdo" })
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.expediente_ministerio_publicoResources.fecha_de_cierre</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromfecha_de_cierre" name="Fromfecha_de_cierre" type="text" value="@Model.Fromfecha_de_cierre" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceTofecha_de_cierre" name="Tofecha_de_cierre" type="text" value="@Model.Tofecha_de_cierre" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.expediente_ministerio_publicoResources.hora_de_cierre</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromhora_de_cierre" name="Fromhora_de_cierre" type="text" value="@Model.Fromhora_de_cierre" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceTohora_de_cierre" name="Tohora_de_cierre" type="text" value="@Model.Tohora_de_cierre" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
 List<SelectListItem> varSpartan_User_Usuario_que_Cierra = null;
    if (ViewBag.Spartan_Users_Usuario_que_Cierra != null)
    { varSpartan_User_Usuario_que_Cierra = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Cierra; }
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.tipo_de_cierre</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.tipo_de_cierreFilter, filters, new { @class = "form-control", @id = "ddltipo_de_cierreFilter" })
                    @Html.TextBoxFor(m => m.Advancetipo_de_cierre, new { @class = "form-control", @type = "text", @id = "txtAdvancetipo_de_cierre" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (vartipo_de_cierre_tipo_de_cierre!=null)
                    {
                        @Html.ListBoxFor(m => m.Advancetipo_de_cierreMultiple, vartipo_de_cierre_tipo_de_cierre,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvancetipo_de_cierre"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.expediente_ministerio_publicoResources.comentarios_de_cierre</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.comentarios_de_cierreFilter, filters, new { @class = "form-control", @id = "ddlcomentarios_de_cierreFilter" })
                    @Html.TextBoxFor(m => m.comentarios_de_cierre, new { @class = "form-control", @type = "text", @id = "txtcomentarios_de_cierre" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/expediente_ministerio_publico/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromclave").val() != "" || $("#txtAdvanceToclave").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicoclaveFrom = $("#txtAdvanceFromclave").val();
            advanceSearch.expediente_ministerio_publicoclaveTo = $("#txtAdvanceToclave").val();
        }
        if ($("#txtAdvanceFromfecha_de_registro").val() != "" || $("#txtAdvanceTofecha_de_registro").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicofecha_de_registroFrom = $("#txtAdvanceFromfecha_de_registro").val();
            advanceSearch.expediente_ministerio_publicofecha_de_registroTo = $("#txtAdvanceTofecha_de_registro").val();
        }
        if ($("#txtAdvancehora_de_registro").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicohora_de_registro = $("#txtAdvancehora_de_registro").val();
            advanceSearch.expediente_ministerio_publicohora_de_registroSearchType = $("#ddlAdvancehora_de_registroFilter").val();
        }
        advanceSearch.usuario_que_registraSearchType = 0;
        if ($('#ddlAdvanceusuario_que_registra').val().length > 0 || $("#txtAdvanceusuario_que_registra").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.usuario_que_registraName = $("#txtAdvanceusuario_que_registra").val();
                advanceSearch.usuario_que_registraNameSearchType = $("#ddlAdvanceusuario_que_registra").val();
                advanceSearch.usuario_que_registraSearchType = 1;
            }
            else {

                advanceSearch.usuario_que_registraToSearch = $("#ddlAdvanceusuario_que_registra").val();
                advanceSearch.usuario_que_registraSearchType = 2;
            }
        }
        advanceSearch.Tipo_de_DenunciaSearchType = 0;
        if ($('#ddlAdvanceTipo_de_Denuncia').val().length > 0 || $("#txtAdvanceTipo_de_Denuncia").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.Tipo_de_DenunciaName = $("#txtAdvanceTipo_de_Denuncia").val();
                advanceSearch.Tipo_de_DenunciaNameSearchType = $("#ddlAdvanceTipo_de_Denuncia").val();
                advanceSearch.Tipo_de_DenunciaSearchType = 1;
            }
            else {

                advanceSearch.Tipo_de_DenunciaToSearch = $("#ddlAdvanceTipo_de_Denuncia").val();
                advanceSearch.Tipo_de_DenunciaSearchType = 2;
            }
        }
        advanceSearch.MP_AsignadoSearchType = 0;
        if ($('#ddlAdvanceMP_Asignado').val().length > 0 || $("#txtAdvanceMP_Asignado").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.MP_AsignadoName = $("#txtAdvanceMP_Asignado").val();
                advanceSearch.MP_AsignadoNameSearchType = $("#ddlAdvanceMP_Asignado").val();
                advanceSearch.MP_AsignadoSearchType = 1;
            }
            else {

                advanceSearch.MP_AsignadoToSearch = $("#ddlAdvanceMP_Asignado").val();
                advanceSearch.MP_AsignadoSearchType = 2;
            }
        }
        advanceSearch.unidadSearchType = 0;
        if ($('#ddlAdvanceunidad').val().length > 0 || $("#txtAdvanceunidad").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.unidadName = $("#txtAdvanceunidad").val();
                advanceSearch.unidadNameSearchType = $("#ddlAdvanceunidad").val();
                advanceSearch.unidadSearchType = 1;
            }
            else {

                advanceSearch.unidadToSearch = $("#ddlAdvanceunidad").val();
                advanceSearch.unidadSearchType = 2;
            }
        }
        advanceSearch.MunicipioSearchType = 0;
        if ($('#ddlAdvanceMunicipio').val().length > 0 || $("#txtAdvanceMunicipio").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.MunicipioName = $("#txtAdvanceMunicipio").val();
                advanceSearch.MunicipioNameSearchType = $("#ddlAdvanceMunicipio").val();
                advanceSearch.MunicipioSearchType = 1;
            }
            else {

                advanceSearch.MunicipioToSearch = $("#ddlAdvanceMunicipio").val();
                advanceSearch.MunicipioSearchType = 2;
            }
        }
        advanceSearch.RegionSearchType = 0;
        if ($('#ddlAdvanceRegion').val().length > 0 || $("#txtAdvanceRegion").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.RegionName = $("#txtAdvanceRegion").val();
                advanceSearch.RegionNameSearchType = $("#ddlAdvanceRegion").val();
                advanceSearch.RegionSearchType = 1;
            }
            else {

                advanceSearch.RegionToSearch = $("#ddlAdvanceRegion").val();
                advanceSearch.RegionSearchType = 2;
            }
        }
        if ($("#txtAdvancenuat").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publiconuat = $("#txtAdvancenuat").val();
            advanceSearch.expediente_ministerio_publiconuatSearchType = $("#ddlAdvancenuatFilter").val();
        }
        if ($("#txtAdvanceNumero_de_Denuncia").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicoNumero_de_Denuncia = $("#txtAdvanceNumero_de_Denuncia").val();
            advanceSearch.expediente_ministerio_publicoNumero_de_DenunciaSearchType = $("#ddlAdvanceNumero_de_DenunciaFilter").val();
        }
        if ($("#txtAdvancenic").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publiconic = $("#txtAdvancenic").val();
            advanceSearch.expediente_ministerio_publiconicSearchType = $("#ddlAdvancenicFilter").val();
        }
        advanceSearch.detenidoSearchType = 0;
        if ($('#ddlAdvancedetenido').val().length > 0 || $("#txtAdvancedetenido").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.detenidoName = $("#txtAdvancedetenido").val();
                advanceSearch.detenidoNameSearchType = $("#ddlAdvancedetenido").val();
                advanceSearch.detenidoSearchType = 1;
            }
            else {

                advanceSearch.detenidoToSearch = $("#ddlAdvancedetenido").val();
                advanceSearch.detenidoSearchType = 2;
            }
        }
        if ($("#txtAdvancehora_del_detenido").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicohora_del_detenido = $("#txtAdvancehora_del_detenido").val();
            advanceSearch.expediente_ministerio_publicohora_del_detenidoSearchType = $("#ddlAdvancehora_del_detenidoFilter").val();
        }
        if ($("#txtAdvancehora_puesto_a_disposicion").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicohora_puesto_a_disposicion = $("#txtAdvancehora_puesto_a_disposicion").val();
            advanceSearch.expediente_ministerio_publicohora_puesto_a_disposicionSearchType = $("#ddlAdvancehora_puesto_a_disposicionFilter").val();
        }
        if ($("#ddlAdvanceUrgencia").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicoUrgencia = $("#ddlAdvanceUrgencia").val();
        }
        advanceSearch.Tipo_de_urgenciaSearchType = 0;
        if ($('#ddlAdvanceTipo_de_urgencia').val().length > 0 || $("#txtAdvanceTipo_de_urgencia").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.Tipo_de_urgenciaName = $("#txtAdvanceTipo_de_urgencia").val();
                advanceSearch.Tipo_de_urgenciaNameSearchType = $("#ddlAdvanceTipo_de_urgencia").val();
                advanceSearch.Tipo_de_urgenciaSearchType = 1;
            }
            else {

                advanceSearch.Tipo_de_urgenciaToSearch = $("#ddlAdvanceTipo_de_urgencia").val();
                advanceSearch.Tipo_de_urgenciaSearchType = 2;
            }
        }
        advanceSearch.Pre_DenunciaSearchType = 0;
        if ($('#ddlAdvancePre_Denuncia').val().length > 0 || $("#txtAdvancePre_Denuncia").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.Pre_DenunciaName = $("#txtAdvancePre_Denuncia").val();
                advanceSearch.Pre_DenunciaNameSearchType = $("#ddlAdvancePre_Denuncia").val();
                advanceSearch.Pre_DenunciaSearchType = 1;
            }
            else {

                advanceSearch.Pre_DenunciaToSearch = $("#ddlAdvancePre_Denuncia").val();
                advanceSearch.Pre_DenunciaSearchType = 2;
            }
        }
        advanceSearch.estatusSearchType = 0;
        if ($('#ddlAdvanceestatus').val().length > 0 || $("#txtAdvanceestatus").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.estatusName = $("#txtAdvanceestatus").val();
                advanceSearch.estatusNameSearchType = $("#ddlAdvanceestatus").val();
                advanceSearch.estatusSearchType = 1;
            }
            else {

                advanceSearch.estatusToSearch = $("#ddlAdvanceestatus").val();
                advanceSearch.estatusSearchType = 2;
            }
        }
        if ($("#txtAdvanceTitulo_del_Hecho").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicoTitulo_del_Hecho = $("#txtAdvanceTitulo_del_Hecho").val();
            advanceSearch.expediente_ministerio_publicoTitulo_del_HechoSearchType = $("#ddlAdvanceTitulo_del_HechoFilter").val();
        }
        if ($("#txtAdvanceFromFecha_del_Hecho").val() != "" || $("#txtAdvanceToFecha_del_Hecho").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicoFecha_del_HechoFrom = $("#txtAdvanceFromFecha_del_Hecho").val();
            advanceSearch.expediente_ministerio_publicoFecha_del_HechoTo = $("#txtAdvanceToFecha_del_Hecho").val();
        }
        if ($("#txtAdvanceNarrativa_Breve_de_los_Hechos").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicoNarrativa_Breve_de_los_Hechos = $("#txtAdvanceNarrativa_Breve_de_los_Hechos").val();
            advanceSearch.expediente_ministerio_publicoNarrativa_Breve_de_los_HechosSearchType = $("#ddlAdvanceNarrativa_Breve_de_los_HechosFilter").val();
        }
        if ($("#txtAdvanceHora_Aproximada_del_Hecho").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicoHora_Aproximada_del_Hecho = $("#txtAdvanceHora_Aproximada_del_Hecho").val();
            advanceSearch.expediente_ministerio_publicoHora_Aproximada_del_HechoSearchType = $("#ddlAdvanceHora_Aproximada_del_HechoFilter").val();
        }
        advanceSearch.Lugar_de_los_HechosSearchType = 0;
        if ($('#ddlAdvanceLugar_de_los_Hechos').val().length > 0 || $("#txtAdvanceLugar_de_los_Hechos").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.Lugar_de_los_HechosName = $("#txtAdvanceLugar_de_los_Hechos").val();
                advanceSearch.Lugar_de_los_HechosNameSearchType = $("#ddlAdvanceLugar_de_los_Hechos").val();
                advanceSearch.Lugar_de_los_HechosSearchType = 1;
            }
            else {

                advanceSearch.Lugar_de_los_HechosToSearch = $("#ddlAdvanceLugar_de_los_Hechos").val();
                advanceSearch.Lugar_de_los_HechosSearchType = 2;
            }
        }
        advanceSearch.PaisHSearchType = 0;
        if ($('#ddlAdvancePaisH').val().length > 0 || $("#txtAdvancePaisH").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.PaisHName = $("#txtAdvancePaisH").val();
                advanceSearch.PaisHNameSearchType = $("#ddlAdvancePaisH").val();
                advanceSearch.PaisHSearchType = 1;
            }
            else {

                advanceSearch.PaisHToSearch = $("#ddlAdvancePaisH").val();
                advanceSearch.PaisHSearchType = 2;
            }
        }
        advanceSearch.EstadoSearchType = 0;
        if ($('#ddlAdvanceEstado').val().length > 0 || $("#txtAdvanceEstado").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.EstadoName = $("#txtAdvanceEstado").val();
                advanceSearch.EstadoNameSearchType = $("#ddlAdvanceEstado").val();
                advanceSearch.EstadoSearchType = 1;
            }
            else {

                advanceSearch.EstadoToSearch = $("#ddlAdvanceEstado").val();
                advanceSearch.EstadoSearchType = 2;
            }
        }
        advanceSearch.Municipio_HechosSearchType = 0;
        if ($('#ddlAdvanceMunicipio_Hechos').val().length > 0 || $("#txtAdvanceMunicipio_Hechos").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.Municipio_HechosName = $("#txtAdvanceMunicipio_Hechos").val();
                advanceSearch.Municipio_HechosNameSearchType = $("#ddlAdvanceMunicipio_Hechos").val();
                advanceSearch.Municipio_HechosSearchType = 1;
            }
            else {

                advanceSearch.Municipio_HechosToSearch = $("#ddlAdvanceMunicipio_Hechos").val();
                advanceSearch.Municipio_HechosSearchType = 2;
            }
        }
        advanceSearch.PoblacionSearchType = 0;
        if ($('#ddlAdvancePoblacion').val().length > 0 || $("#txtAdvancePoblacion").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.PoblacionName = $("#txtAdvancePoblacion").val();
                advanceSearch.PoblacionNameSearchType = $("#ddlAdvancePoblacion").val();
                advanceSearch.PoblacionSearchType = 1;
            }
            else {

                advanceSearch.PoblacionToSearch = $("#ddlAdvancePoblacion").val();
                advanceSearch.PoblacionSearchType = 2;
            }
        }
        advanceSearch.ColoniaHSearchType = 0;
        if ($('#ddlAdvanceColoniaH').val().length > 0 || $("#txtAdvanceColoniaH").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.ColoniaHName = $("#txtAdvanceColoniaH").val();
                advanceSearch.ColoniaHNameSearchType = $("#ddlAdvanceColoniaH").val();
                advanceSearch.ColoniaHSearchType = 1;
            }
            else {

                advanceSearch.ColoniaHToSearch = $("#ddlAdvanceColoniaH").val();
                advanceSearch.ColoniaHSearchType = 2;
            }
        }
        if ($("#txtAdvanceCalleH").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicoCalleH = $("#txtAdvanceCalleH").val();
            advanceSearch.expediente_ministerio_publicoCalleHSearchType = $("#ddlAdvanceCalleHFilter").val();
        }
        if ($("#txtAdvanceNumero_InteriorH").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicoNumero_InteriorH = $("#txtAdvanceNumero_InteriorH").val();
            advanceSearch.expediente_ministerio_publicoNumero_InteriorHSearchType = $("#ddlAdvanceNumero_InteriorHFilter").val();
        }
        if ($("#txtAdvanceNumero_ExteriorH").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicoNumero_ExteriorH = $("#txtAdvanceNumero_ExteriorH").val();
            advanceSearch.expediente_ministerio_publicoNumero_ExteriorHSearchType = $("#ddlAdvanceNumero_ExteriorHFilter").val();
        }
        if ($("#txtAdvanceFromCodigo_PostalH").val() != "" || $("#txtAdvanceToCodigo_PostalH").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicoCodigo_PostalHFrom = $("#txtAdvanceFromCodigo_PostalH").val();
            advanceSearch.expediente_ministerio_publicoCodigo_PostalHTo = $("#txtAdvanceToCodigo_PostalH").val();
        }
        if ($("#txtAdvanceEntre_Calle").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicoEntre_Calle = $("#txtAdvanceEntre_Calle").val();
            advanceSearch.expediente_ministerio_publicoEntre_CalleSearchType = $("#ddlAdvanceEntre_CalleFilter").val();
        }
        if ($("#txtAdvanceY_Calle").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicoY_Calle = $("#txtAdvanceY_Calle").val();
            advanceSearch.expediente_ministerio_publicoY_CalleSearchType = $("#ddlAdvanceY_CalleFilter").val();
        }
        if ($("#txtAdvanceLongitudH").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicoLongitudH = $("#txtAdvanceLongitudH").val();
            advanceSearch.expediente_ministerio_publicoLongitudHSearchType = $("#ddlAdvanceLongitudHFilter").val();
        }
        if ($("#txtAdvanceLatitudH").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicoLatitudH = $("#txtAdvanceLatitudH").val();
            advanceSearch.expediente_ministerio_publicoLatitudHSearchType = $("#ddlAdvanceLatitudHFilter").val();
        }
        advanceSearch.tipo_de_acuerdoSearchType = 0;
        if ($('#ddlAdvancetipo_de_acuerdo').val().length > 0 || $("#txtAdvancetipo_de_acuerdo").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.tipo_de_acuerdoName = $("#txtAdvancetipo_de_acuerdo").val();
                advanceSearch.tipo_de_acuerdoNameSearchType = $("#ddlAdvancetipo_de_acuerdo").val();
                advanceSearch.tipo_de_acuerdoSearchType = 1;
            }
            else {

                advanceSearch.tipo_de_acuerdoToSearch = $("#ddlAdvancetipo_de_acuerdo").val();
                advanceSearch.tipo_de_acuerdoSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromfecha_de_inicio_de_acuerdo").val() != "" || $("#txtAdvanceTofecha_de_inicio_de_acuerdo").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicofecha_de_inicio_de_acuerdoFrom = $("#txtAdvanceFromfecha_de_inicio_de_acuerdo").val();
            advanceSearch.expediente_ministerio_publicofecha_de_inicio_de_acuerdoTo = $("#txtAdvanceTofecha_de_inicio_de_acuerdo").val();
        }
        if ($("#txtAdvanceFromfecha_de_cumplimiento").val() != "" || $("#txtAdvanceTofecha_de_cumplimiento").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicofecha_de_cumplimientoFrom = $("#txtAdvanceFromfecha_de_cumplimiento").val();
            advanceSearch.expediente_ministerio_publicofecha_de_cumplimientoTo = $("#txtAdvanceTofecha_de_cumplimiento").val();
        }
        if ($("#txtAdvancehora_de_cumplimiento").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicohora_de_cumplimiento = $("#txtAdvancehora_de_cumplimiento").val();
            advanceSearch.expediente_ministerio_publicohora_de_cumplimientoSearchType = $("#ddlAdvancehora_de_cumplimientoFilter").val();
        }
        if ($("#txtAdvancedomicilio_para_el_cumplimiento").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicodomicilio_para_el_cumplimiento = $("#txtAdvancedomicilio_para_el_cumplimiento").val();
            advanceSearch.expediente_ministerio_publicodomicilio_para_el_cumplimientoSearchType = $("#ddlAdvancedomicilio_para_el_cumplimientoFilter").val();
        }
        if ($("#txtAdvanceFrommonto_de_reparacion_de_danos").val() != "" || $("#txtAdvanceTomonto_de_reparacion_de_danos").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicomonto_de_reparacion_de_danosFrom = $("#txtAdvanceFrommonto_de_reparacion_de_danos").val();
            advanceSearch.expediente_ministerio_publicomonto_de_reparacion_de_danosTo = $("#txtAdvanceTomonto_de_reparacion_de_danos").val();
        }
        if ($("#txtAdvanceFromparcialidades").val() != "" || $("#txtAdvanceToparcialidades").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicoparcialidadesFrom = $("#txtAdvanceFromparcialidades").val();
            advanceSearch.expediente_ministerio_publicoparcialidadesTo = $("#txtAdvanceToparcialidades").val();
        }
        advanceSearch.periodicidadSearchType = 0;
        if ($('#ddlAdvanceperiodicidad').val().length > 0 || $("#txtAdvanceperiodicidad").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.periodicidadName = $("#txtAdvanceperiodicidad").val();
                advanceSearch.periodicidadNameSearchType = $("#ddlAdvanceperiodicidad").val();
                advanceSearch.periodicidadSearchType = 1;
            }
            else {

                advanceSearch.periodicidadToSearch = $("#ddlAdvanceperiodicidad").val();
                advanceSearch.periodicidadSearchType = 2;
            }
        }
        advanceSearch.acepta_acuerdoSearchType = 0;
        if ($('#ddlAdvanceacepta_acuerdo').val().length > 0 || $("#txtAdvanceacepta_acuerdo").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.acepta_acuerdoName = $("#txtAdvanceacepta_acuerdo").val();
                advanceSearch.acepta_acuerdoNameSearchType = $("#ddlAdvanceacepta_acuerdo").val();
                advanceSearch.acepta_acuerdoSearchType = 1;
            }
            else {

                advanceSearch.acepta_acuerdoToSearch = $("#ddlAdvanceacepta_acuerdo").val();
                advanceSearch.acepta_acuerdoSearchType = 2;
            }
        }
        if ($("#txtAdvancemotivo_de_rechazo_de_acuerdo").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicomotivo_de_rechazo_de_acuerdo = $("#txtAdvancemotivo_de_rechazo_de_acuerdo").val();
            advanceSearch.expediente_ministerio_publicomotivo_de_rechazo_de_acuerdoSearchType = $("#ddlAdvancemotivo_de_rechazo_de_acuerdoFilter").val();
        }
        if ($("#txtAdvanceFromfecha_de_cierre").val() != "" || $("#txtAdvanceTofecha_de_cierre").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicofecha_de_cierreFrom = $("#txtAdvanceFromfecha_de_cierre").val();
            advanceSearch.expediente_ministerio_publicofecha_de_cierreTo = $("#txtAdvanceTofecha_de_cierre").val();
        }
        if ($("#txtAdvancehora_de_cierre").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicohora_de_cierre = $("#txtAdvancehora_de_cierre").val();
            advanceSearch.expediente_ministerio_publicohora_de_cierreSearchType = $("#ddlAdvancehora_de_cierreFilter").val();
        }
        advanceSearch.Usuario_que_CierraSearchType = 0;
        if ($('#ddlAdvanceUsuario_que_Cierra').val().length > 0 || $("#txtAdvanceUsuario_que_Cierra").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.Usuario_que_CierraName = $("#txtAdvanceUsuario_que_Cierra").val();
                advanceSearch.Usuario_que_CierraNameSearchType = $("#ddlAdvanceUsuario_que_Cierra").val();
                advanceSearch.Usuario_que_CierraSearchType = 1;
            }
            else {

                advanceSearch.Usuario_que_CierraToSearch = $("#ddlAdvanceUsuario_que_Cierra").val();
                advanceSearch.Usuario_que_CierraSearchType = 2;
            }
        }
        advanceSearch.tipo_de_cierreSearchType = 0;
        if ($('#ddlAdvancetipo_de_cierre').val().length > 0 || $("#txtAdvancetipo_de_cierre").val() == "") {


            if (isexpediente_ministerio_publicoTextSearch) {
                advanceSearch.tipo_de_cierreName = $("#txtAdvancetipo_de_cierre").val();
                advanceSearch.tipo_de_cierreNameSearchType = $("#ddlAdvancetipo_de_cierre").val();
                advanceSearch.tipo_de_cierreSearchType = 1;
            }
            else {

                advanceSearch.tipo_de_cierreToSearch = $("#ddlAdvancetipo_de_cierre").val();
                advanceSearch.tipo_de_cierreSearchType = 2;
            }
        }
        if ($("#txtAdvancecomentarios_de_cierre").val() != "") {
            hasParameter = true;
            advanceSearch.expediente_ministerio_publicocomentarios_de_cierre = $("#txtAdvancecomentarios_de_cierre").val();
            advanceSearch.expediente_ministerio_publicocomentarios_de_cierreSearchType = $("#ddlAdvancecomentarios_de_cierreFilter").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblexpediente_ministerio_publico').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isexpediente_ministerio_publicoTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceusuario_que_registra").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvanceusuario_que_registra").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceusuario_que_registra").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvanceusuario_que_registra").val('');
        });
        $("#txtAdvanceTipo_de_Denuncia").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvanceTipo_de_Denuncia").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTipo_de_Denuncia").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvanceTipo_de_Denuncia").val('');
        });
        $("#txtAdvanceMP_Asignado").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvanceMP_Asignado").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceMP_Asignado").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvanceMP_Asignado").val('');
        });
        $("#txtAdvanceunidad").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvanceunidad").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceunidad").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvanceunidad").val('');
        });
        $("#txtAdvanceMunicipio").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvanceMunicipio").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceMunicipio").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvanceMunicipio").val('');
        });
        $("#txtAdvanceRegion").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvanceRegion").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceRegion").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvanceRegion").val('');
        });
        $("#txtAdvancedetenido").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvancedetenido").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancedetenido").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvancedetenido").val('');
        });
        $("#txtAdvanceTipo_de_urgencia").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvanceTipo_de_urgencia").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTipo_de_urgencia").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvanceTipo_de_urgencia").val('');
        });
        $("#txtAdvancePre_Denuncia").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvancePre_Denuncia").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancePre_Denuncia").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvancePre_Denuncia").val('');
        });
        $("#txtAdvanceestatus").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvanceestatus").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceestatus").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvanceestatus").val('');
        });
        $("#txtAdvanceLugar_de_los_Hechos").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvanceLugar_de_los_Hechos").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceLugar_de_los_Hechos").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvanceLugar_de_los_Hechos").val('');
        });
        $("#txtAdvancePaisH").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvancePaisH").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancePaisH").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvancePaisH").val('');
        });
        $("#txtAdvanceEstado").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvanceEstado").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEstado").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvanceEstado").val('');
        });
        $("#txtAdvanceMunicipio_Hechos").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvanceMunicipio_Hechos").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceMunicipio_Hechos").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvanceMunicipio_Hechos").val('');
        });
        $("#txtAdvancePoblacion").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvancePoblacion").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancePoblacion").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvancePoblacion").val('');
        });
        $("#txtAdvanceColoniaH").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvanceColoniaH").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceColoniaH").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvanceColoniaH").val('');
        });
        $("#txtAdvancetipo_de_acuerdo").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvancetipo_de_acuerdo").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancetipo_de_acuerdo").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvancetipo_de_acuerdo").val('');
        });
        $("#txtAdvanceperiodicidad").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvanceperiodicidad").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceperiodicidad").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvanceperiodicidad").val('');
        });
        $("#txtAdvanceacepta_acuerdo").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvanceacepta_acuerdo").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceacepta_acuerdo").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvanceacepta_acuerdo").val('');
        });
        $("#txtAdvanceUsuario_que_Cierra").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvanceUsuario_que_Cierra").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceUsuario_que_Cierra").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvanceUsuario_que_Cierra").val('');
        });
        $("#txtAdvancetipo_de_cierre").keypress(function () {
            isexpediente_ministerio_publicoTextSearch = true;
            $("#ddlAdvancetipo_de_cierre").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancetipo_de_cierre").change(function () {
            isexpediente_ministerio_publicoTextSearch = false;
            $("#txtAdvancetipo_de_cierre").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

