@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_de_Solicitud_Representante_LegalAdvanceSearchModel
@{
 List<SelectListItem> varSolicitud_Numero_de_Expediente = null;
    if (ViewBag.Solicituds_Numero_de_Expediente != null)
    { varSolicitud_Numero_de_Expediente = (List<SelectListItem>)ViewBag.Solicituds_Numero_de_Expediente; }
    List<SelectListItem> varGenero_Sexo = null;
    if (ViewBag.Generos_Sexo != null)
    { varGenero_Sexo = (List<SelectListItem>)ViewBag.Generos_Sexo; }
    List<SelectListItem> varEstado_Civil_Estado_Civil = null;
    if (ViewBag.Estado_Civils_Estado_Civil != null)
    { varEstado_Civil_Estado_Civil = (List<SelectListItem>)ViewBag.Estado_Civils_Estado_Civil; }
    List<SelectListItem> varTipo_de_Identificacion_Tipo_de_Identificacion = null;
    if (ViewBag.Tipo_de_Identificacions_Tipo_de_Identificacion != null)
    { varTipo_de_Identificacion_Tipo_de_Identificacion = (List<SelectListItem>)ViewBag.Tipo_de_Identificacions_Tipo_de_Identificacion; }
    List<SelectListItem> varNacionalidad_Nacionalidad = null;
    if (ViewBag.Nacionalidads_Nacionalidad != null)
    { varNacionalidad_Nacionalidad = (List<SelectListItem>)ViewBag.Nacionalidads_Nacionalidad; }
    List<SelectListItem> varEscolaridad_Escolaridad = null;
    if (ViewBag.Escolaridads_Escolaridad != null)
    { varEscolaridad_Escolaridad = (List<SelectListItem>)ViewBag.Escolaridads_Escolaridad; }
    List<SelectListItem> varOcupacion_Ocupacion = null;
    if (ViewBag.Ocupacions_Ocupacion != null)
    { varOcupacion_Ocupacion = (List<SelectListItem>)ViewBag.Ocupacions_Ocupacion; }
 List<SelectListItem> varPais_Pais = null;
    if (ViewBag.Paiss_Pais != null)
    { varPais_Pais = (List<SelectListItem>)ViewBag.Paiss_Pais; }
 List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
 List<SelectListItem> varColonia_Colonia_ = null;
    if (ViewBag.Colonias_Colonia_ != null)
    { varColonia_Colonia_ = (List<SelectListItem>)ViewBag.Colonias_Colonia_; }
 List<SelectListItem> varColonia_Colonia = null;
    if (ViewBag.Colonias_Colonia != null)
    { varColonia_Colonia = (List<SelectListItem>)ViewBag.Colonias_Colonia; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Detalle_de_Solicitud_Representante_Legal", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.idRegistroAT</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromidRegistroAT, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromidRegistroAT" })
                    @Html.ValidationMessageFor(m => m.FromidRegistroAT)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToidRegistroAT, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToidRegistroAT", @data_min = "txtAdvanceFromidRegistroAT" })
                    @Html.ValidationMessageFor(m => m.ToidRegistroAT)
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.idRegistroUI</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromidRegistroUI, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromidRegistroUI" })
                    @Html.ValidationMessageFor(m => m.FromidRegistroUI)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToidRegistroUI, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToidRegistroUI", @data_min = "txtAdvanceFromidRegistroUI" })
                    @Html.ValidationMessageFor(m => m.ToidRegistroUI)
                </div>
 List<SelectListItem> varSolicitud_Numero_de_Expediente = null;
    if (ViewBag.Solicituds_Numero_de_Expediente != null)
    { varSolicitud_Numero_de_Expediente = (List<SelectListItem>)ViewBag.Solicituds_Numero_de_Expediente; }
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Nombre</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.NombreFilter, filters, new { @class = "form-control", @id = "ddlNombreFilter" })
                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @type = "text", @id = "txtNombre" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Apellido_Paterno</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Apellido_PaternoFilter, filters, new { @class = "form-control", @id = "ddlApellido_PaternoFilter" })
                    @Html.TextBoxFor(m => m.Apellido_Paterno, new { @class = "form-control", @type = "text", @id = "txtApellido_Paterno" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Apellido_Materno</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Apellido_MaternoFilter, filters, new { @class = "form-control", @id = "ddlApellido_MaternoFilter" })
                    @Html.TextBoxFor(m => m.Apellido_Materno, new { @class = "form-control", @type = "text", @id = "txtApellido_Materno" })
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Fecha_de_Nacimiento</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_de_Nacimiento" name="FromFecha_de_Nacimiento" type="text" value="@Model.FromFecha_de_Nacimiento" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_de_Nacimiento" name="ToFecha_de_Nacimiento" type="text" value="@Model.ToFecha_de_Nacimiento" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Edad</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromEdad, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromEdad" })
                    @Html.ValidationMessageFor(m => m.FromEdad)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToEdad, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToEdad", @data_min = "txtAdvanceFromEdad" })
                    @Html.ValidationMessageFor(m => m.ToEdad)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Sexo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.SexoFilter, filters, new { @class = "form-control", @id = "ddlSexoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceSexo, new { @class = "form-control", @type = "text", @id = "txtAdvanceSexo" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varGenero_Sexo!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceSexoMultiple, varGenero_Sexo,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceSexo"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Estado_Civil</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Estado_CivilFilter, filters, new { @class = "form-control", @id = "ddlEstado_CivilFilter" })
                    @Html.TextBoxFor(m => m.AdvanceEstado_Civil, new { @class = "form-control", @type = "text", @id = "txtAdvanceEstado_Civil" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varEstado_Civil_Estado_Civil!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceEstado_CivilMultiple, varEstado_Civil_Estado_Civil,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceEstado_Civil"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Tipo_de_Identificacion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tipo_de_IdentificacionFilter, filters, new { @class = "form-control", @id = "ddlTipo_de_IdentificacionFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTipo_de_Identificacion, new { @class = "form-control", @type = "text", @id = "txtAdvanceTipo_de_Identificacion" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Identificacion_Tipo_de_Identificacion!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTipo_de_IdentificacionMultiple, varTipo_de_Identificacion_Tipo_de_Identificacion,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTipo_de_Identificacion"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Numero_de_Identificacion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_de_IdentificacionFilter, filters, new { @class = "form-control", @id = "ddlNumero_de_IdentificacionFilter" })
                    @Html.TextBoxFor(m => m.Numero_de_Identificacion, new { @class = "form-control", @type = "text", @id = "txtNumero_de_Identificacion" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Nacionalidad</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.NacionalidadFilter, filters, new { @class = "form-control", @id = "ddlNacionalidadFilter" })
                    @Html.TextBoxFor(m => m.AdvanceNacionalidad, new { @class = "form-control", @type = "text", @id = "txtAdvanceNacionalidad" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varNacionalidad_Nacionalidad!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceNacionalidadMultiple, varNacionalidad_Nacionalidad,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceNacionalidad"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Escolaridad</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.EscolaridadFilter, filters, new { @class = "form-control", @id = "ddlEscolaridadFilter" })
                    @Html.TextBoxFor(m => m.AdvanceEscolaridad, new { @class = "form-control", @type = "text", @id = "txtAdvanceEscolaridad" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varEscolaridad_Escolaridad!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceEscolaridadMultiple, varEscolaridad_Escolaridad,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceEscolaridad"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Ocupacion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.OcupacionFilter, filters, new { @class = "form-control", @id = "ddlOcupacionFilter" })
                    @Html.TextBoxFor(m => m.AdvanceOcupacion, new { @class = "form-control", @type = "text", @id = "txtAdvanceOcupacion" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varOcupacion_Ocupacion!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceOcupacionMultiple, varOcupacion_Ocupacion,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceOcupacion"
                        });
                    }
                </div>
 List<SelectListItem> varPais_Pais = null;
    if (ViewBag.Paiss_Pais != null)
    { varPais_Pais = (List<SelectListItem>)ViewBag.Paiss_Pais; }
 List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
 List<SelectListItem> varColonia_Colonia_ = null;
    if (ViewBag.Colonias_Colonia_ != null)
    { varColonia_Colonia_ = (List<SelectListItem>)ViewBag.Colonias_Colonia_; }
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Codigo_Postal</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromCodigo_Postal, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromCodigo_Postal" })
                    @Html.ValidationMessageFor(m => m.FromCodigo_Postal)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToCodigo_Postal, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToCodigo_Postal", @data_min = "txtAdvanceFromCodigo_Postal" })
                    @Html.ValidationMessageFor(m => m.ToCodigo_Postal)
                </div>
 List<SelectListItem> varColonia_Colonia = null;
    if (ViewBag.Colonias_Colonia != null)
    { varColonia_Colonia = (List<SelectListItem>)ViewBag.Colonias_Colonia; }
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Calle</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.CalleFilter, filters, new { @class = "form-control", @id = "ddlCalleFilter" })
                    @Html.TextBoxFor(m => m.Calle, new { @class = "form-control", @type = "text", @id = "txtCalle" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Numero_Exterior</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_ExteriorFilter, filters, new { @class = "form-control", @id = "ddlNumero_ExteriorFilter" })
                    @Html.TextBoxFor(m => m.Numero_Exterior, new { @class = "form-control", @type = "text", @id = "txtNumero_Exterior" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Numero_Interior</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_InteriorFilter, filters, new { @class = "form-control", @id = "ddlNumero_InteriorFilter" })
                    @Html.TextBoxFor(m => m.Numero_Interior, new { @class = "form-control", @type = "text", @id = "txtNumero_Interior" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Entre_Calle</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Entre_CalleFilter, filters, new { @class = "form-control", @id = "ddlEntre_CalleFilter" })
                    @Html.TextBoxFor(m => m.Entre_Calle, new { @class = "form-control", @type = "text", @id = "txtEntre_Calle" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Y_Calle</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Y_CalleFilter, filters, new { @class = "form-control", @id = "ddlY_CalleFilter" })
                    @Html.TextBoxFor(m => m.Y_Calle, new { @class = "form-control", @type = "text", @id = "txtY_Calle" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Longitud</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.LongitudFilter, filters, new { @class = "form-control", @id = "ddlLongitudFilter" })
                    @Html.TextBoxFor(m => m.Longitud, new { @class = "form-control", @type = "text", @id = "txtLongitud" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Latitud</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.LatitudFilter, filters, new { @class = "form-control", @id = "ddlLatitudFilter" })
                    @Html.TextBoxFor(m => m.Latitud, new { @class = "form-control", @type = "text", @id = "txtLatitud" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Telefono</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.TelefonoFilter, filters, new { @class = "form-control", @id = "ddlTelefonoFilter" })
                    @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", @type = "text", @id = "txtTelefono" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Extencion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.ExtencionFilter, filters, new { @class = "form-control", @id = "ddlExtencionFilter" })
                    @Html.TextBoxFor(m => m.Extencion, new { @class = "form-control", @type = "text", @id = "txtExtencion" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Celular</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.CelularFilter, filters, new { @class = "form-control", @id = "ddlCelularFilter" })
                    @Html.TextBoxFor(m => m.Celular, new { @class = "form-control", @type = "text", @id = "txtCelular" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Representante_LegalResources.Correo_Electronico</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Correo_ElectronicoFilter, filters, new { @class = "form-control", @id = "ddlCorreo_ElectronicoFilter" })
                    @Html.TextBoxFor(m => m.Correo_Electronico, new { @class = "form-control", @type = "text", @id = "txtCorreo_Electronico" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Detalle_de_Solicitud_Representante_Legal/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalClaveTo = $("#txtAdvanceToClave").val();
        }
        if ($("#txtAdvanceFromidRegistroAT").val() != "" || $("#txtAdvanceToidRegistroAT").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalidRegistroATFrom = $("#txtAdvanceFromidRegistroAT").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalidRegistroATTo = $("#txtAdvanceToidRegistroAT").val();
        }
        if ($("#txtAdvanceFromidRegistroUI").val() != "" || $("#txtAdvanceToidRegistroUI").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalidRegistroUIFrom = $("#txtAdvanceFromidRegistroUI").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalidRegistroUITo = $("#txtAdvanceToidRegistroUI").val();
        }
        advanceSearch.Numero_de_ExpedienteSearchType = 0;
        if ($('#ddlAdvanceNumero_de_Expediente').val().length > 0 || $("#txtAdvanceNumero_de_Expediente").val() == "") {


            if (isDetalle_de_Solicitud_Representante_LegalTextSearch) {
                advanceSearch.Numero_de_ExpedienteName = $("#txtAdvanceNumero_de_Expediente").val();
                advanceSearch.Numero_de_ExpedienteNameSearchType = $("#ddlAdvanceNumero_de_Expediente").val();
                advanceSearch.Numero_de_ExpedienteSearchType = 1;
            }
            else {

                advanceSearch.Numero_de_ExpedienteToSearch = $("#ddlAdvanceNumero_de_Expediente").val();
                advanceSearch.Numero_de_ExpedienteSearchType = 2;
            }
        }
        if ($("#txtAdvanceNombre").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalNombre = $("#txtAdvanceNombre").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalNombreSearchType = $("#ddlAdvanceNombreFilter").val();
        }
        if ($("#txtAdvanceApellido_Paterno").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalApellido_Paterno = $("#txtAdvanceApellido_Paterno").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalApellido_PaternoSearchType = $("#ddlAdvanceApellido_PaternoFilter").val();
        }
        if ($("#txtAdvanceApellido_Materno").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalApellido_Materno = $("#txtAdvanceApellido_Materno").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalApellido_MaternoSearchType = $("#ddlAdvanceApellido_MaternoFilter").val();
        }
        if ($("#txtAdvanceFromFecha_de_Nacimiento").val() != "" || $("#txtAdvanceToFecha_de_Nacimiento").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalFecha_de_NacimientoFrom = $("#txtAdvanceFromFecha_de_Nacimiento").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalFecha_de_NacimientoTo = $("#txtAdvanceToFecha_de_Nacimiento").val();
        }
        if ($("#txtAdvanceFromEdad").val() != "" || $("#txtAdvanceToEdad").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalEdadFrom = $("#txtAdvanceFromEdad").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalEdadTo = $("#txtAdvanceToEdad").val();
        }
        advanceSearch.SexoSearchType = 0;
        if ($('#ddlAdvanceSexo').val().length > 0 || $("#txtAdvanceSexo").val() == "") {


            if (isDetalle_de_Solicitud_Representante_LegalTextSearch) {
                advanceSearch.SexoName = $("#txtAdvanceSexo").val();
                advanceSearch.SexoNameSearchType = $("#ddlAdvanceSexo").val();
                advanceSearch.SexoSearchType = 1;
            }
            else {

                advanceSearch.SexoToSearch = $("#ddlAdvanceSexo").val();
                advanceSearch.SexoSearchType = 2;
            }
        }
        advanceSearch.Estado_CivilSearchType = 0;
        if ($('#ddlAdvanceEstado_Civil').val().length > 0 || $("#txtAdvanceEstado_Civil").val() == "") {


            if (isDetalle_de_Solicitud_Representante_LegalTextSearch) {
                advanceSearch.Estado_CivilName = $("#txtAdvanceEstado_Civil").val();
                advanceSearch.Estado_CivilNameSearchType = $("#ddlAdvanceEstado_Civil").val();
                advanceSearch.Estado_CivilSearchType = 1;
            }
            else {

                advanceSearch.Estado_CivilToSearch = $("#ddlAdvanceEstado_Civil").val();
                advanceSearch.Estado_CivilSearchType = 2;
            }
        }
        advanceSearch.Tipo_de_IdentificacionSearchType = 0;
        if ($('#ddlAdvanceTipo_de_Identificacion').val().length > 0 || $("#txtAdvanceTipo_de_Identificacion").val() == "") {


            if (isDetalle_de_Solicitud_Representante_LegalTextSearch) {
                advanceSearch.Tipo_de_IdentificacionName = $("#txtAdvanceTipo_de_Identificacion").val();
                advanceSearch.Tipo_de_IdentificacionNameSearchType = $("#ddlAdvanceTipo_de_Identificacion").val();
                advanceSearch.Tipo_de_IdentificacionSearchType = 1;
            }
            else {

                advanceSearch.Tipo_de_IdentificacionToSearch = $("#ddlAdvanceTipo_de_Identificacion").val();
                advanceSearch.Tipo_de_IdentificacionSearchType = 2;
            }
        }
        if ($("#txtAdvanceNumero_de_Identificacion").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalNumero_de_Identificacion = $("#txtAdvanceNumero_de_Identificacion").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalNumero_de_IdentificacionSearchType = $("#ddlAdvanceNumero_de_IdentificacionFilter").val();
        }
        advanceSearch.NacionalidadSearchType = 0;
        if ($('#ddlAdvanceNacionalidad').val().length > 0 || $("#txtAdvanceNacionalidad").val() == "") {


            if (isDetalle_de_Solicitud_Representante_LegalTextSearch) {
                advanceSearch.NacionalidadName = $("#txtAdvanceNacionalidad").val();
                advanceSearch.NacionalidadNameSearchType = $("#ddlAdvanceNacionalidad").val();
                advanceSearch.NacionalidadSearchType = 1;
            }
            else {

                advanceSearch.NacionalidadToSearch = $("#ddlAdvanceNacionalidad").val();
                advanceSearch.NacionalidadSearchType = 2;
            }
        }
        advanceSearch.EscolaridadSearchType = 0;
        if ($('#ddlAdvanceEscolaridad').val().length > 0 || $("#txtAdvanceEscolaridad").val() == "") {


            if (isDetalle_de_Solicitud_Representante_LegalTextSearch) {
                advanceSearch.EscolaridadName = $("#txtAdvanceEscolaridad").val();
                advanceSearch.EscolaridadNameSearchType = $("#ddlAdvanceEscolaridad").val();
                advanceSearch.EscolaridadSearchType = 1;
            }
            else {

                advanceSearch.EscolaridadToSearch = $("#ddlAdvanceEscolaridad").val();
                advanceSearch.EscolaridadSearchType = 2;
            }
        }
        advanceSearch.OcupacionSearchType = 0;
        if ($('#ddlAdvanceOcupacion').val().length > 0 || $("#txtAdvanceOcupacion").val() == "") {


            if (isDetalle_de_Solicitud_Representante_LegalTextSearch) {
                advanceSearch.OcupacionName = $("#txtAdvanceOcupacion").val();
                advanceSearch.OcupacionNameSearchType = $("#ddlAdvanceOcupacion").val();
                advanceSearch.OcupacionSearchType = 1;
            }
            else {

                advanceSearch.OcupacionToSearch = $("#ddlAdvanceOcupacion").val();
                advanceSearch.OcupacionSearchType = 2;
            }
        }
        advanceSearch.PaisSearchType = 0;
        if ($('#ddlAdvancePais').val().length > 0 || $("#txtAdvancePais").val() == "") {


            if (isDetalle_de_Solicitud_Representante_LegalTextSearch) {
                advanceSearch.PaisName = $("#txtAdvancePais").val();
                advanceSearch.PaisNameSearchType = $("#ddlAdvancePais").val();
                advanceSearch.PaisSearchType = 1;
            }
            else {

                advanceSearch.PaisToSearch = $("#ddlAdvancePais").val();
                advanceSearch.PaisSearchType = 2;
            }
        }
        advanceSearch.EstadoSearchType = 0;
        if ($('#ddlAdvanceEstado').val().length > 0 || $("#txtAdvanceEstado").val() == "") {


            if (isDetalle_de_Solicitud_Representante_LegalTextSearch) {
                advanceSearch.EstadoName = $("#txtAdvanceEstado").val();
                advanceSearch.EstadoNameSearchType = $("#ddlAdvanceEstado").val();
                advanceSearch.EstadoSearchType = 1;
            }
            else {

                advanceSearch.EstadoToSearch = $("#ddlAdvanceEstado").val();
                advanceSearch.EstadoSearchType = 2;
            }
        }
        advanceSearch.MunicipioSearchType = 0;
        if ($('#ddlAdvanceMunicipio').val().length > 0 || $("#txtAdvanceMunicipio").val() == "") {


            if (isDetalle_de_Solicitud_Representante_LegalTextSearch) {
                advanceSearch.MunicipioName = $("#txtAdvanceMunicipio").val();
                advanceSearch.MunicipioNameSearchType = $("#ddlAdvanceMunicipio").val();
                advanceSearch.MunicipioSearchType = 1;
            }
            else {

                advanceSearch.MunicipioToSearch = $("#ddlAdvanceMunicipio").val();
                advanceSearch.MunicipioSearchType = 2;
            }
        }
        advanceSearch.Colonia_SearchType = 0;
        if ($('#ddlAdvanceColonia_').val().length > 0 || $("#txtAdvanceColonia_").val() == "") {


            if (isDetalle_de_Solicitud_Representante_LegalTextSearch) {
                advanceSearch.Colonia_Name = $("#txtAdvanceColonia_").val();
                advanceSearch.Colonia_NameSearchType = $("#ddlAdvanceColonia_").val();
                advanceSearch.Colonia_SearchType = 1;
            }
            else {

                advanceSearch.Colonia_ToSearch = $("#ddlAdvanceColonia_").val();
                advanceSearch.Colonia_SearchType = 2;
            }
        }
        if ($("#txtAdvanceFromCodigo_Postal").val() != "" || $("#txtAdvanceToCodigo_Postal").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalCodigo_PostalFrom = $("#txtAdvanceFromCodigo_Postal").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalCodigo_PostalTo = $("#txtAdvanceToCodigo_Postal").val();
        }
        advanceSearch.ColoniaSearchType = 0;
        if ($('#ddlAdvanceColonia').val().length > 0 || $("#txtAdvanceColonia").val() == "") {


            if (isDetalle_de_Solicitud_Representante_LegalTextSearch) {
                advanceSearch.ColoniaName = $("#txtAdvanceColonia").val();
                advanceSearch.ColoniaNameSearchType = $("#ddlAdvanceColonia").val();
                advanceSearch.ColoniaSearchType = 1;
            }
            else {

                advanceSearch.ColoniaToSearch = $("#ddlAdvanceColonia").val();
                advanceSearch.ColoniaSearchType = 2;
            }
        }
        if ($("#txtAdvanceCalle").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalCalle = $("#txtAdvanceCalle").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalCalleSearchType = $("#ddlAdvanceCalleFilter").val();
        }
        if ($("#txtAdvanceNumero_Exterior").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalNumero_Exterior = $("#txtAdvanceNumero_Exterior").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalNumero_ExteriorSearchType = $("#ddlAdvanceNumero_ExteriorFilter").val();
        }
        if ($("#txtAdvanceNumero_Interior").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalNumero_Interior = $("#txtAdvanceNumero_Interior").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalNumero_InteriorSearchType = $("#ddlAdvanceNumero_InteriorFilter").val();
        }
        if ($("#txtAdvanceEntre_Calle").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalEntre_Calle = $("#txtAdvanceEntre_Calle").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalEntre_CalleSearchType = $("#ddlAdvanceEntre_CalleFilter").val();
        }
        if ($("#txtAdvanceY_Calle").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalY_Calle = $("#txtAdvanceY_Calle").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalY_CalleSearchType = $("#ddlAdvanceY_CalleFilter").val();
        }
        if ($("#txtAdvanceLongitud").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalLongitud = $("#txtAdvanceLongitud").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalLongitudSearchType = $("#ddlAdvanceLongitudFilter").val();
        }
        if ($("#txtAdvanceLatitud").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalLatitud = $("#txtAdvanceLatitud").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalLatitudSearchType = $("#ddlAdvanceLatitudFilter").val();
        }
        if ($("#txtAdvanceTelefono").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalTelefono = $("#txtAdvanceTelefono").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalTelefonoSearchType = $("#ddlAdvanceTelefonoFilter").val();
        }
        if ($("#txtAdvanceExtencion").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalExtencion = $("#txtAdvanceExtencion").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalExtencionSearchType = $("#ddlAdvanceExtencionFilter").val();
        }
        if ($("#txtAdvanceCelular").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalCelular = $("#txtAdvanceCelular").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalCelularSearchType = $("#ddlAdvanceCelularFilter").val();
        }
        if ($("#txtAdvanceCorreo_Electronico").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Representante_LegalCorreo_Electronico = $("#txtAdvanceCorreo_Electronico").val();
            advanceSearch.Detalle_de_Solicitud_Representante_LegalCorreo_ElectronicoSearchType = $("#ddlAdvanceCorreo_ElectronicoFilter").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblDetalle_de_Solicitud_Representante_Legal').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isDetalle_de_Solicitud_Representante_LegalTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceNumero_de_Expediente").keypress(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = true;
            $("#ddlAdvanceNumero_de_Expediente").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceNumero_de_Expediente").change(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = false;
            $("#txtAdvanceNumero_de_Expediente").val('');
        });
        $("#txtAdvanceSexo").keypress(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = true;
            $("#ddlAdvanceSexo").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceSexo").change(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = false;
            $("#txtAdvanceSexo").val('');
        });
        $("#txtAdvanceEstado_Civil").keypress(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = true;
            $("#ddlAdvanceEstado_Civil").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEstado_Civil").change(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = false;
            $("#txtAdvanceEstado_Civil").val('');
        });
        $("#txtAdvanceTipo_de_Identificacion").keypress(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = true;
            $("#ddlAdvanceTipo_de_Identificacion").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTipo_de_Identificacion").change(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = false;
            $("#txtAdvanceTipo_de_Identificacion").val('');
        });
        $("#txtAdvanceNacionalidad").keypress(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = true;
            $("#ddlAdvanceNacionalidad").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceNacionalidad").change(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = false;
            $("#txtAdvanceNacionalidad").val('');
        });
        $("#txtAdvanceEscolaridad").keypress(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = true;
            $("#ddlAdvanceEscolaridad").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEscolaridad").change(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = false;
            $("#txtAdvanceEscolaridad").val('');
        });
        $("#txtAdvanceOcupacion").keypress(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = true;
            $("#ddlAdvanceOcupacion").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceOcupacion").change(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = false;
            $("#txtAdvanceOcupacion").val('');
        });
        $("#txtAdvancePais").keypress(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = true;
            $("#ddlAdvancePais").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancePais").change(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = false;
            $("#txtAdvancePais").val('');
        });
        $("#txtAdvanceEstado").keypress(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = true;
            $("#ddlAdvanceEstado").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEstado").change(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = false;
            $("#txtAdvanceEstado").val('');
        });
        $("#txtAdvanceMunicipio").keypress(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = true;
            $("#ddlAdvanceMunicipio").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceMunicipio").change(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = false;
            $("#txtAdvanceMunicipio").val('');
        });
        $("#txtAdvanceColonia_").keypress(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = true;
            $("#ddlAdvanceColonia_").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceColonia_").change(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = false;
            $("#txtAdvanceColonia_").val('');
        });
        $("#txtAdvanceColonia").keypress(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = true;
            $("#ddlAdvanceColonia").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceColonia").change(function () {
            isDetalle_de_Solicitud_Representante_LegalTextSearch = false;
            $("#txtAdvanceColonia").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

