@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Solicitud_de_Denuncia_CiudadanaAdvanceSearchModel
@{
 List<SelectListItem> varSpartan_User_Usuario_que_Registra = null;
    if (ViewBag.Spartan_Users_Usuario_que_Registra != null)
    { varSpartan_User_Usuario_que_Registra = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Registra; }
    List<SelectListItem> varTipo_de_Solicitud_Tipo_de_Solicitud = null;
    if (ViewBag.Tipo_de_Solicituds_Tipo_de_Solicitud != null)
    { varTipo_de_Solicitud_Tipo_de_Solicitud = (List<SelectListItem>)ViewBag.Tipo_de_Solicituds_Tipo_de_Solicitud; }
    List<SelectListItem> varEstatus_de_Solicitud_Estatus_de_Solicitud = null;
    if (ViewBag.Estatus_de_Solicituds_Estatus_de_Solicitud != null)
    { varEstatus_de_Solicitud_Estatus_de_Solicitud = (List<SelectListItem>)ViewBag.Estatus_de_Solicituds_Estatus_de_Solicitud; }
    List<SelectListItem> varPC_CanalizarA_Canalizar_a = null;
    if (ViewBag.PC_CanalizarAs_Canalizar_a != null)
    { varPC_CanalizarA_Canalizar_a = (List<SelectListItem>)ViewBag.PC_CanalizarAs_Canalizar_a; }
    List<SelectListItem> varUnidad_Unidad_canaliza = null;
    if (ViewBag.Unidads_Unidad_canaliza != null)
    { varUnidad_Unidad_canaliza = (List<SelectListItem>)ViewBag.Unidads_Unidad_canaliza; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Solicitud_de_Denuncia_Ciudadana", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Solicitud_de_Denuncia_CiudadanaResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Solicitud_de_Denuncia_CiudadanaResources.Folio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.FolioFilter, filters, new { @class = "form-control", @id = "ddlFolioFilter" })
                    @Html.TextBoxFor(m => m.Folio, new { @class = "form-control", @type = "text", @id = "txtFolio" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Solicitud_de_Denuncia_CiudadanaResources.Contrasena</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.ContrasenaFilter, filters, new { @class = "form-control", @id = "ddlContrasenaFilter" })
                    @Html.TextBoxFor(m => m.Contrasena, new { @class = "form-control", @type = "text", @id = "txtContrasena" })
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.Solicitud_de_Denuncia_CiudadanaResources.Fecha_de_Registro</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_de_Registro" name="FromFecha_de_Registro" type="text" value="@Model.FromFecha_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_de_Registro" name="ToFecha_de_Registro" type="text" value="@Model.ToFecha_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.Solicitud_de_Denuncia_CiudadanaResources.Hora_de_Registro</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromHora_de_Registro" name="FromHora_de_Registro" type="text" value="@Model.FromHora_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceToHora_de_Registro" name="ToHora_de_Registro" type="text" value="@Model.ToHora_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
 List<SelectListItem> varSpartan_User_Usuario_que_Registra = null;
    if (ViewBag.Spartan_Users_Usuario_que_Registra != null)
    { varSpartan_User_Usuario_que_Registra = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Registra; }
                <div class="MarginBottom">
                    <h3>@Resources.Solicitud_de_Denuncia_CiudadanaResources.Tipo_de_Solicitud</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tipo_de_SolicitudFilter, filters, new { @class = "form-control", @id = "ddlTipo_de_SolicitudFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTipo_de_Solicitud, new { @class = "form-control", @type = "text", @id = "txtAdvanceTipo_de_Solicitud" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Solicitud_Tipo_de_Solicitud!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTipo_de_SolicitudMultiple, varTipo_de_Solicitud_Tipo_de_Solicitud,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTipo_de_Solicitud"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Solicitud_de_Denuncia_CiudadanaResources.Estatus_de_Solicitud</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Estatus_de_SolicitudFilter, filters, new { @class = "form-control", @id = "ddlEstatus_de_SolicitudFilter" })
                    @Html.TextBoxFor(m => m.AdvanceEstatus_de_Solicitud, new { @class = "form-control", @type = "text", @id = "txtAdvanceEstatus_de_Solicitud" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varEstatus_de_Solicitud_Estatus_de_Solicitud!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceEstatus_de_SolicitudMultiple, varEstatus_de_Solicitud_Estatus_de_Solicitud,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceEstatus_de_Solicitud"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Solicitud_de_Denuncia_CiudadanaResources.Canalizar_a</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Canalizar_aFilter, filters, new { @class = "form-control", @id = "ddlCanalizar_aFilter" })
                    @Html.TextBoxFor(m => m.AdvanceCanalizar_a, new { @class = "form-control", @type = "text", @id = "txtAdvanceCanalizar_a" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varPC_CanalizarA_Canalizar_a!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceCanalizar_aMultiple, varPC_CanalizarA_Canalizar_a,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceCanalizar_a"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Solicitud_de_Denuncia_CiudadanaResources.Unidad_canaliza</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Unidad_canalizaFilter, filters, new { @class = "form-control", @id = "ddlUnidad_canalizaFilter" })
                    @Html.TextBoxFor(m => m.AdvanceUnidad_canaliza, new { @class = "form-control", @type = "text", @id = "txtAdvanceUnidad_canaliza" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varUnidad_Unidad_canaliza!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceUnidad_canalizaMultiple, varUnidad_Unidad_canaliza,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceUnidad_canaliza"
                        });
                    }
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Solicitud_de_Denuncia_Ciudadana/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Solicitud_de_Denuncia_CiudadanaClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Solicitud_de_Denuncia_CiudadanaClaveTo = $("#txtAdvanceToClave").val();
        }
        if ($("#txtAdvanceFolio").val() != "") {
            hasParameter = true;
            advanceSearch.Solicitud_de_Denuncia_CiudadanaFolio = $("#txtAdvanceFolio").val();
            advanceSearch.Solicitud_de_Denuncia_CiudadanaFolioSearchType = $("#ddlAdvanceFolioFilter").val();
        }
        if ($("#txtAdvanceContrasena").val() != "") {
            hasParameter = true;
            advanceSearch.Solicitud_de_Denuncia_CiudadanaContrasena = $("#txtAdvanceContrasena").val();
            advanceSearch.Solicitud_de_Denuncia_CiudadanaContrasenaSearchType = $("#ddlAdvanceContrasenaFilter").val();
        }
        if ($("#txtAdvanceFromFecha_de_Registro").val() != "" || $("#txtAdvanceToFecha_de_Registro").val() != "") {
            hasParameter = true;
            advanceSearch.Solicitud_de_Denuncia_CiudadanaFecha_de_RegistroFrom = $("#txtAdvanceFromFecha_de_Registro").val();
            advanceSearch.Solicitud_de_Denuncia_CiudadanaFecha_de_RegistroTo = $("#txtAdvanceToFecha_de_Registro").val();
        }
        if ($("#txtAdvanceHora_de_Registro").val() != "") {
            hasParameter = true;
            advanceSearch.Solicitud_de_Denuncia_CiudadanaHora_de_Registro = $("#txtAdvanceHora_de_Registro").val();
            advanceSearch.Solicitud_de_Denuncia_CiudadanaHora_de_RegistroSearchType = $("#ddlAdvanceHora_de_RegistroFilter").val();
        }
        advanceSearch.Usuario_que_RegistraSearchType = 0;
        if ($('#ddlAdvanceUsuario_que_Registra').val().length > 0 || $("#txtAdvanceUsuario_que_Registra").val() == "") {


            if (isSolicitud_de_Denuncia_CiudadanaTextSearch) {
                advanceSearch.Usuario_que_RegistraName = $("#txtAdvanceUsuario_que_Registra").val();
                advanceSearch.Usuario_que_RegistraNameSearchType = $("#ddlAdvanceUsuario_que_Registra").val();
                advanceSearch.Usuario_que_RegistraSearchType = 1;
            }
            else {

                advanceSearch.Usuario_que_RegistraToSearch = $("#ddlAdvanceUsuario_que_Registra").val();
                advanceSearch.Usuario_que_RegistraSearchType = 2;
            }
        }
        advanceSearch.Tipo_de_SolicitudSearchType = 0;
        if ($('#ddlAdvanceTipo_de_Solicitud').val().length > 0 || $("#txtAdvanceTipo_de_Solicitud").val() == "") {


            if (isSolicitud_de_Denuncia_CiudadanaTextSearch) {
                advanceSearch.Tipo_de_SolicitudName = $("#txtAdvanceTipo_de_Solicitud").val();
                advanceSearch.Tipo_de_SolicitudNameSearchType = $("#ddlAdvanceTipo_de_Solicitud").val();
                advanceSearch.Tipo_de_SolicitudSearchType = 1;
            }
            else {

                advanceSearch.Tipo_de_SolicitudToSearch = $("#ddlAdvanceTipo_de_Solicitud").val();
                advanceSearch.Tipo_de_SolicitudSearchType = 2;
            }
        }
        advanceSearch.Estatus_de_SolicitudSearchType = 0;
        if ($('#ddlAdvanceEstatus_de_Solicitud').val().length > 0 || $("#txtAdvanceEstatus_de_Solicitud").val() == "") {


            if (isSolicitud_de_Denuncia_CiudadanaTextSearch) {
                advanceSearch.Estatus_de_SolicitudName = $("#txtAdvanceEstatus_de_Solicitud").val();
                advanceSearch.Estatus_de_SolicitudNameSearchType = $("#ddlAdvanceEstatus_de_Solicitud").val();
                advanceSearch.Estatus_de_SolicitudSearchType = 1;
            }
            else {

                advanceSearch.Estatus_de_SolicitudToSearch = $("#ddlAdvanceEstatus_de_Solicitud").val();
                advanceSearch.Estatus_de_SolicitudSearchType = 2;
            }
        }
        advanceSearch.Canalizar_aSearchType = 0;
        if ($('#ddlAdvanceCanalizar_a').val().length > 0 || $("#txtAdvanceCanalizar_a").val() == "") {


            if (isSolicitud_de_Denuncia_CiudadanaTextSearch) {
                advanceSearch.Canalizar_aName = $("#txtAdvanceCanalizar_a").val();
                advanceSearch.Canalizar_aNameSearchType = $("#ddlAdvanceCanalizar_a").val();
                advanceSearch.Canalizar_aSearchType = 1;
            }
            else {

                advanceSearch.Canalizar_aToSearch = $("#ddlAdvanceCanalizar_a").val();
                advanceSearch.Canalizar_aSearchType = 2;
            }
        }
        advanceSearch.Unidad_canalizaSearchType = 0;
        if ($('#ddlAdvanceUnidad_canaliza').val().length > 0 || $("#txtAdvanceUnidad_canaliza").val() == "") {


            if (isSolicitud_de_Denuncia_CiudadanaTextSearch) {
                advanceSearch.Unidad_canalizaName = $("#txtAdvanceUnidad_canaliza").val();
                advanceSearch.Unidad_canalizaNameSearchType = $("#ddlAdvanceUnidad_canaliza").val();
                advanceSearch.Unidad_canalizaSearchType = 1;
            }
            else {

                advanceSearch.Unidad_canalizaToSearch = $("#ddlAdvanceUnidad_canaliza").val();
                advanceSearch.Unidad_canalizaSearchType = 2;
            }
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblSolicitud_de_Denuncia_Ciudadana').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isSolicitud_de_Denuncia_CiudadanaTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceUsuario_que_Registra").keypress(function () {
            isSolicitud_de_Denuncia_CiudadanaTextSearch = true;
            $("#ddlAdvanceUsuario_que_Registra").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceUsuario_que_Registra").change(function () {
            isSolicitud_de_Denuncia_CiudadanaTextSearch = false;
            $("#txtAdvanceUsuario_que_Registra").val('');
        });
        $("#txtAdvanceTipo_de_Solicitud").keypress(function () {
            isSolicitud_de_Denuncia_CiudadanaTextSearch = true;
            $("#ddlAdvanceTipo_de_Solicitud").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTipo_de_Solicitud").change(function () {
            isSolicitud_de_Denuncia_CiudadanaTextSearch = false;
            $("#txtAdvanceTipo_de_Solicitud").val('');
        });
        $("#txtAdvanceEstatus_de_Solicitud").keypress(function () {
            isSolicitud_de_Denuncia_CiudadanaTextSearch = true;
            $("#ddlAdvanceEstatus_de_Solicitud").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEstatus_de_Solicitud").change(function () {
            isSolicitud_de_Denuncia_CiudadanaTextSearch = false;
            $("#txtAdvanceEstatus_de_Solicitud").val('');
        });
        $("#txtAdvanceCanalizar_a").keypress(function () {
            isSolicitud_de_Denuncia_CiudadanaTextSearch = true;
            $("#ddlAdvanceCanalizar_a").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceCanalizar_a").change(function () {
            isSolicitud_de_Denuncia_CiudadanaTextSearch = false;
            $("#txtAdvanceCanalizar_a").val('');
        });
        $("#txtAdvanceUnidad_canaliza").keypress(function () {
            isSolicitud_de_Denuncia_CiudadanaTextSearch = true;
            $("#ddlAdvanceUnidad_canaliza").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceUnidad_canaliza").change(function () {
            isSolicitud_de_Denuncia_CiudadanaTextSearch = false;
            $("#txtAdvanceUnidad_canaliza").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

