@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Consulta_de_Mandamientos_JudicialesModel
@{

/*

*/
 List<SelectListItem> varPais_Pais = null;
    if (ViewBag.Paiss_Pais != null)
    { varPais_Pais = (List<SelectListItem>)ViewBag.Paiss_Pais; }
 List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
    List<SelectListItem> varJuzgado_Juzgado = null;
    if (ViewBag.Juzgados_Juzgado != null)
    { varJuzgado_Juzgado = (List<SelectListItem>)ViewBag.Juzgados_Juzgado; }

    Permission permissionDetalle_de_Resultados = ViewBag.PermissionDetalle_de_Resultados;

    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial || ViewBag.viewInEframe)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.Consulta_de_Mandamientos_JudicialesResources.Consulta_de_Mandamientos_Judiciales
                <button onclick="Consulta_de_Mandamientos_JudicialesGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.Consulta_de_Mandamientos_JudicialesResources.Consulta_de_Mandamientos_Judiciales</strong>
                }
                
            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="Consulta_de_Mandamientos_JudicialesDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in Consulta_de_Mandamientos_JudicialesPropertyBusinessModal" id="Consulta_de_Mandamientos_JudicialesPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form" onclick="Consulta_de_Mandamientos_JudicialesGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Consulta_de_Mandamientos_JudicialesBusinessRuleModal" id="Consulta_de_Mandamientos_JudicialesBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }
                    <div aria-hidden="true" class="modal fade in AddDetalle_de_ResultadosModal" id="AddDetalle_de_Resultados-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>


        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Consulta_de_Mandamientos_Judiciales", FormMethod.Post, new { id = "CreateConsulta_de_Mandamientos_Judiciales", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid Consulta_de_Mandamientos_JudicialesCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.Consulta_de_Mandamientos_JudicialesResources.TabDatos_Generales</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Consulta_de_Mandamientos_JudicialesResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="268852" data-field-name="@Resources.Consulta_de_Mandamientos_JudicialesResources.Clave">
                                    <label class="form-control" for="Clave" id="lblClave">
                                    @if (Model.Clave== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Clave</text>
                                        }
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="divMandamientoJudicialId">
                                <label class="col-sm-2 control-label">@Resources.Consulta_de_Mandamientos_JudicialesResources.MandamientoJudicialId</label>
                                <div class="col-sm-8" data-field-id="MandamientoJudicialId" data-attribute="273776" data-field-name="@Resources.Consulta_de_Mandamientos_JudicialesResources.MandamientoJudicialId">
                                    <input class="form-control inputNumber Datos_Generales" id="MandamientoJudicialId" name="MandamientoJudicialId" type="text" value="@Model.MandamientoJudicialId">
                                    @*<span class="field-validation-valid" data-valmsg-for="MandamientoJudicialId" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divNombre">
                                <label class="col-sm-2 control-label">@Resources.Consulta_de_Mandamientos_JudicialesResources.Nombre</label>
                                <div class="col-sm-8" data-field-id="Nombre" data-attribute="268853" data-field-name="@Resources.Consulta_de_Mandamientos_JudicialesResources.Nombre">
                                    <input class="form-control Datos_Generales" id="Nombre" name="Nombre" type="text" value="@Model.Nombre">
                                    @*<span class="field-validation-valid" data-valmsg-for="Nombre" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divApellido_Paterno">
                                <label class="col-sm-2 control-label">@Resources.Consulta_de_Mandamientos_JudicialesResources.Apellido_Paterno</label>
                                <div class="col-sm-8" data-field-id="Apellido_Paterno" data-attribute="268854" data-field-name="@Resources.Consulta_de_Mandamientos_JudicialesResources.Apellido_Paterno">
                                    <input class="form-control Datos_Generales" id="Apellido_Paterno" name="Apellido_Paterno" type="text" value="@Model.Apellido_Paterno">
                                    @*<span class="field-validation-valid" data-valmsg-for="Apellido_Paterno" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divApellido_Materno">
                                <label class="col-sm-2 control-label">@Resources.Consulta_de_Mandamientos_JudicialesResources.Apellido_Materno</label>
                                <div class="col-sm-8" data-field-id="Apellido_Materno" data-attribute="268855" data-field-name="@Resources.Consulta_de_Mandamientos_JudicialesResources.Apellido_Materno">
                                    <input class="form-control Datos_Generales" id="Apellido_Materno" name="Apellido_Materno" type="text" value="@Model.Apellido_Materno">
                                    @*<span class="field-validation-valid" data-valmsg-for="Apellido_Materno" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divAlias">
                                <label class="col-sm-2 control-label">@Resources.Consulta_de_Mandamientos_JudicialesResources.Alias</label>
                                <div class="col-sm-8" data-field-id="Alias" data-attribute="273777" data-field-name="@Resources.Consulta_de_Mandamientos_JudicialesResources.Alias">
                                    <input class="form-control Datos_Generales" id="Alias" name="Alias" type="text" value="@Model.Alias">
                                    @*<span class="field-validation-valid" data-valmsg-for="Alias" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
				<div class="form-group" id="divPais">
                                <label class="col-sm-2 control-label">@Resources.Consulta_de_Mandamientos_JudicialesResources.Pais</label>
                                <div class="col-sm-8" data-field-id="Pais" data-attribute="273778" data-field-name="@Resources.Consulta_de_Mandamientos_JudicialesResources.Pais">
                                    <select class='fullWidth AutoComplete AutoCompleteConsulta_de_Mandamientos_Judiciales_Pais form-control select2-dropdown Datos_Generales' data-val="true" id="Pais" name="Pais">
                                        <option value="@Model.Pais">@(Model.PaisNombre??Model.PaisNombre)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 273778).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Pais', 'Pais');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
				<div class="form-group" id="divEstado">
                                <label class="col-sm-2 control-label">@Resources.Consulta_de_Mandamientos_JudicialesResources.Estado</label>
                                <div class="col-sm-8" data-field-id="Estado" data-attribute="273779" data-field-name="@Resources.Consulta_de_Mandamientos_JudicialesResources.Estado">
                                    <select class='fullWidth AutoComplete AutoCompleteConsulta_de_Mandamientos_Judiciales_Estado form-control select2-dropdown Datos_Generales' data-val="true" id="Estado" name="Estado">
                                        <option value="@Model.Estado">@(Model.EstadoNombre??Model.EstadoNombre)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 273779).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Estado', 'Estado');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
				<div class="form-group" id="divMunicipio">
                                <label class="col-sm-2 control-label">@Resources.Consulta_de_Mandamientos_JudicialesResources.Municipio</label>
                                <div class="col-sm-8" data-field-id="Municipio" data-attribute="273780" data-field-name="@Resources.Consulta_de_Mandamientos_JudicialesResources.Municipio">
                                    <select class='fullWidth AutoComplete AutoCompleteConsulta_de_Mandamientos_Judiciales_Municipio form-control select2-dropdown Datos_Generales' data-val="true" id="Municipio" name="Municipio">
                                        <option value="@Model.Municipio">@(Model.MunicipioNombre??Model.MunicipioNombre)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 273780).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Municipio', 'Municipio');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divJuzgado">
                                <label class="col-sm-2 control-label">@Resources.Consulta_de_Mandamientos_JudicialesResources.Juzgado</label>
                                <div class="col-sm-8" data-field-id="Juzgado" data-attribute="273781" data-field-name="@Resources.Consulta_de_Mandamientos_JudicialesResources.Juzgado">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Juzgado must be a number." data-val-required="The Juzgado field is required." id="Juzgado" name="Juzgado">
                                        <option value=""></option>
                                        @if (varJuzgado_Juzgado != null){ 
                                            foreach (var itemJuzgado in varJuzgado_Juzgado)
                                            {
                                                if (itemJuzgado.Value == Convert.ToString(Model.Juzgado))
                                                {
                                                    <option value="@itemJuzgado.Value" selected>@itemJuzgado.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemJuzgado.Value">@itemJuzgado.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Juzgado" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 273781).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Juzgado', 'Juzgado');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divOficio_Solicitud_Juzgado">
                                <label class="col-sm-2 control-label">@Resources.Consulta_de_Mandamientos_JudicialesResources.Oficio_Solicitud_Juzgado</label>
                                <div class="col-sm-8" data-field-id="Oficio_Solicitud_Juzgado" data-attribute="273782" data-field-name="@Resources.Consulta_de_Mandamientos_JudicialesResources.Oficio_Solicitud_Juzgado">
                                    <input class="form-control Datos_Generales" id="Oficio_Solicitud_Juzgado" name="Oficio_Solicitud_Juzgado" type="text" value="@Model.Oficio_Solicitud_Juzgado">
                                    @*<span class="field-validation-valid" data-valmsg-for="Oficio_Solicitud_Juzgado" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divCarpeta_de_Investigacion">
                                <label class="col-sm-2 control-label">@Resources.Consulta_de_Mandamientos_JudicialesResources.Carpeta_de_Investigacion</label>
                                <div class="col-sm-8" data-field-id="Carpeta_de_Investigacion" data-attribute="273783" data-field-name="@Resources.Consulta_de_Mandamientos_JudicialesResources.Carpeta_de_Investigacion">
                                    <input class="form-control Datos_Generales" id="Carpeta_de_Investigacion" name="Carpeta_de_Investigacion" type="text" value="@Model.Carpeta_de_Investigacion">
                                    @*<span class="field-validation-valid" data-valmsg-for="Carpeta_de_Investigacion" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divCausa_Penal">
                                <label class="col-sm-2 control-label">@Resources.Consulta_de_Mandamientos_JudicialesResources.Causa_Penal</label>
                                <div class="col-sm-8" data-field-id="Causa_Penal" data-attribute="273784" data-field-name="@Resources.Consulta_de_Mandamientos_JudicialesResources.Causa_Penal">
                                    <input class="form-control Datos_Generales" id="Causa_Penal" name="Causa_Penal" type="text" value="@Model.Causa_Penal">
                                    @*<span class="field-validation-valid" data-valmsg-for="Causa_Penal" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div id="divResultados">
                            <div class="ibox-title">
                                <h5>@Resources.Consulta_de_Mandamientos_JudicialesResources.Resultados</h5>
                                <div class="ibox-tools">
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="">
									@if (permissionDetalle_de_Resultados.New && !ViewBag.Consult)
                                    {
                                        <a onclick="Detalle_de_ResultadosfnClickAddRow();" href="javascript:void(0);" title="@Resources.Resources.AddNewRow" class="Detalle_de_ResultadosAddRow btn btn-primary">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                    }
                                    <button onclick="Consulta_de_Mandamientos_JudicialesGetBusinessRule('', 'Al Guardar o al Eliminar una Row', '273785')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToCreateGrid">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>
									@if (permissionDetalle_de_Resultados.New && !ViewBag.Consult)
                                    {
                                        <a onclick="Detalle_de_ResultadosfnOpenAddRowPopUp();" data-toggle="modal" title="@Resources.Resources.AddNewRow" data-target="#AddDetalle_de_Resultados-form" data-backdrop="static" data-keyboard="false" class="btn_mrpopup btn btn-primary">
                                            <i class="glyphicon glyphicon-new-window"></i>
                                        </a>
                                    }  
                                </div>

                                <br />

                                <div style='overflow-x: auto;'>
                                    <table class="table table-striped table-bordered table-hover childValidateTable" id="Detalle_de_ResultadosGrid">
                                        <thead>
                                            <tr>
                                                <th class="ActionHeader"><span>@Resources.Resources.Actions</span></th>

                                                <th class="FuenteHeader"><span>
<button type="button" data-attribute="273786" data-field-id="Detalle_de_ResultadosFuente" data-field-name="@Resources.Detalle_de_ResultadosResources.Fuente" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_ResultadosResources.Fuente">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_ResultadosResources.Fuente</span></th>
                                                <th class="Tipo_de_MandamientoHeader"><span>
<button type="button" data-attribute="273787" data-field-id="Detalle_de_ResultadosTipo_de_Mandamiento" data-field-name="@Resources.Detalle_de_ResultadosResources.Tipo_de_Mandamiento" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_ResultadosResources.Tipo_de_Mandamiento">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_ResultadosResources.Tipo_de_Mandamiento</span></th>
                                                <th class="NombreHeader"><span>
<button type="button" data-attribute="268901" data-field-id="Detalle_de_ResultadosNombre" data-field-name="@Resources.Detalle_de_ResultadosResources.Nombre" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_ResultadosResources.Nombre">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_ResultadosResources.Nombre</span></th>
                                                <th class="Apellido_PaternoHeader"><span>
<button type="button" data-attribute="268902" data-field-id="Detalle_de_ResultadosApellido_Paterno" data-field-name="@Resources.Detalle_de_ResultadosResources.Apellido_Paterno" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_ResultadosResources.Apellido_Paterno">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_ResultadosResources.Apellido_Paterno</span></th>
                                                <th class="Apellido_MaternoHeader"><span>
<button type="button" data-attribute="268903" data-field-id="Detalle_de_ResultadosApellido_Materno" data-field-name="@Resources.Detalle_de_ResultadosResources.Apellido_Materno" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_ResultadosResources.Apellido_Materno">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_ResultadosResources.Apellido_Materno</span></th>
                                                <th class="AliasHeader"><span>
<button type="button" data-attribute="273788" data-field-id="Detalle_de_ResultadosAlias" data-field-name="@Resources.Detalle_de_ResultadosResources.Alias" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_ResultadosResources.Alias">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_ResultadosResources.Alias</span></th>
                                                <th class="SexoHeader"><span>
<button type="button" data-attribute="268905" data-field-id="Detalle_de_ResultadosSexo" data-field-name="@Resources.Detalle_de_ResultadosResources.Sexo" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_ResultadosResources.Sexo">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_ResultadosResources.Sexo</span></th>
                                                <th class="PaisHeader"><span>
<button type="button" data-attribute="273789" data-field-id="Detalle_de_ResultadosPais" data-field-name="@Resources.Detalle_de_ResultadosResources.Pais" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_ResultadosResources.Pais">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_ResultadosResources.Pais</span></th>
                                                <th class="EstadoHeader"><span>
<button type="button" data-attribute="273790" data-field-id="Detalle_de_ResultadosEstado" data-field-name="@Resources.Detalle_de_ResultadosResources.Estado" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_ResultadosResources.Estado">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_ResultadosResources.Estado</span></th>
                                                <th class="MunicipioHeader"><span>
<button type="button" data-attribute="273791" data-field-id="Detalle_de_ResultadosMunicipio" data-field-name="@Resources.Detalle_de_ResultadosResources.Municipio" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_ResultadosResources.Municipio">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_ResultadosResources.Municipio</span></th>
                                                <th class="JuzgadoHeader"><span>
<button type="button" data-attribute="273792" data-field-id="Detalle_de_ResultadosJuzgado" data-field-name="@Resources.Detalle_de_ResultadosResources.Juzgado" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_ResultadosResources.Juzgado">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_ResultadosResources.Juzgado</span></th>
                                                <th class="Oficio_Solicitud_JuzgadoHeader"><span>
<button type="button" data-attribute="273793" data-field-id="Detalle_de_ResultadosOficio_Solicitud_Juzgado" data-field-name="@Resources.Detalle_de_ResultadosResources.Oficio_Solicitud_Juzgado" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_ResultadosResources.Oficio_Solicitud_Juzgado">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_ResultadosResources.Oficio_Solicitud_Juzgado</span></th>
                                                <th class="Carpeta_de_InvestigacionHeader"><span>
<button type="button" data-attribute="273794" data-field-id="Detalle_de_ResultadosCarpeta_de_Investigacion" data-field-name="@Resources.Detalle_de_ResultadosResources.Carpeta_de_Investigacion" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_ResultadosResources.Carpeta_de_Investigacion">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_ResultadosResources.Carpeta_de_Investigacion</span></th>
                                                <th class="Causa_PenalHeader"><span>
<button type="button" data-attribute="273795" data-field-id="Detalle_de_ResultadosCausa_Penal" data-field-name="@Resources.Detalle_de_ResultadosResources.Causa_Penal" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_ResultadosResources.Causa_Penal">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_ResultadosResources.Causa_Penal</span></th>

                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Clave" id="ReferenceClave" />
                                <input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Consulta_de_Mandamientos_JudicialesGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('Consulta_de_Mandamientos_JudicialesCreateForm');"  />
									<button onclick="Consulta_de_Mandamientos_JudicialesGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="Consulta_de_Mandamientos_JudicialesGuardarYNuevo" onclick="return checkClientValidate('Consulta_de_Mandamientos_JudicialesCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="Consulta_de_Mandamientos_JudicialesGuardarYCopia" onclick="return checkClientValidate('Consulta_de_Mandamientos_JudicialesCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnConsulta_de_Mandamientos_JudicialesBusinessRuleFieldId" />
                                <input type="hidden" id="hdnConsulta_de_Mandamientos_JudicialesBusinessRuleFieldName" />
                                <input type="hidden" id="hdnConsulta_de_Mandamientos_JudicialesBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Consulta_de_Mandamientos_JudicialesCancelar" name="Consulta_de_Mandamientos_JudicialesCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="Consulta_de_Mandamientos_JudicialesGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Consulta_de_Mandamientos_JudicialesBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Consulta_de_Mandamientos_Judiciales.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Consulta_de_Mandamientos_JudicialesGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Consulta_de_Mandamientos_JudicialesCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var viewInEframe =  ('@ViewBag.viewInEframe' == 'True');
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;


        $(document).ready(function () {
            $('#ObjectId').val('45664');
		                  














           
              showDetalle_de_ResultadosGrid(null);

		   
            

            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			
			 if (viewInEframe) {             
                $('#Consulta_de_Mandamientos_JudicialesGuardarYNuevo').hide();
                $('#Consulta_de_Mandamientos_JudicialesGuardarYCopia').hide();
                $('#Consulta_de_Mandamientos_JudicialesCancelar').hide(); 
                $('#ConfigureSave').hide();
                $('#Consulta_de_Mandamientos_JudicialesGuardar').val('Actualizar Seccion ' + '@Resources.Consulta_de_Mandamientos_JudicialesResources.Consulta_de_Mandamientos_Judiciales' )
            }

			
			       var AutoCompletePaisData =[];
       $(".AutoCompleteConsulta_de_Mandamientos_Judiciales_Pais").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Consulta_de_Mandamientos_Judiciales/GetConsulta_de_Mandamientos_Judiciales_Pais_Pais")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteConsulta_de_Mandamientos_Judiciales_Pais_PaisData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteConsulta_de_Mandamientos_Judiciales_Pais");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteEstadoData =[];
       $(".AutoCompleteConsulta_de_Mandamientos_Judiciales_Estado").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Consulta_de_Mandamientos_Judiciales/GetConsulta_de_Mandamientos_Judiciales_Estado_Estado")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteConsulta_de_Mandamientos_Judiciales_Estado_EstadoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteConsulta_de_Mandamientos_Judiciales_Estado");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteMunicipioData =[];
       $(".AutoCompleteConsulta_de_Mandamientos_Judiciales_Municipio").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Consulta_de_Mandamientos_Judiciales/GetConsulta_de_Mandamientos_Judiciales_Municipio_Municipio")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteConsulta_de_Mandamientos_Judiciales_Municipio_MunicipioData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteConsulta_de_Mandamientos_Judiciales_Municipio");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });


            @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();


                </text>
            }
            EjecutarValidacionesAlComienzo(); 
			
        });

        var Detalle_de_ResultadosinsertRowCurrentIndex = -1;
        var Detalle_de_ResultadosDataDataTable;
        function getDetalle_de_ResultadosData() {
            $.ajax({
                url: "@Url.Content("~/Frontal/Consulta_de_Mandamientos_Judiciales/GetDetalle_de_Resultados")" + "?draw=1&start=1&length=2147483647" + ($("#ReferenceClave").val() != "" ? "&RelationId=" + $("#ReferenceClave").val() : ""),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                    Detalle_de_ResultadosDataDataTable = result.data;
                    showDetalle_de_ResultadosGrid(result.data);
                    $('#Detalle_de_ResultadosGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Detalle_de_ResultadosGrid .gridDatePicker').attr("readonly", "");
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
        function Detalle_de_ResultadosGetUpdateRowControls(data, nameOfTable, rowIndex) {

            var columnData = [];
            var counter = 0;
            var inputData = "<input type='text' class='fullWidth form-control' />";

            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Fuente)).addClass('Fuente').attr('id', nameOfTable + 'Fuente' + rowIndex).attr('data-field', 'Fuente');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Tipo_de_Mandamiento)).addClass('Tipo_de_Mandamiento').attr('id', nameOfTable + 'Tipo_de_Mandamiento' + rowIndex).attr('data-field', 'Tipo_de_Mandamiento');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Nombre)).addClass('Nombre').attr('id', nameOfTable + 'Nombre' + rowIndex).attr('data-field', 'Nombre');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Apellido_Paterno)).addClass('Apellido_Paterno').attr('id', nameOfTable + 'Apellido_Paterno' + rowIndex).attr('data-field', 'Apellido_Paterno');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Apellido_Materno)).addClass('Apellido_Materno').attr('id', nameOfTable + 'Apellido_Materno' + rowIndex).attr('data-field', 'Apellido_Materno');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Alias)).addClass('Alias').attr('id', nameOfTable + 'Alias' + rowIndex).attr('data-field', 'Alias');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Sexo)).addClass('Sexo').attr('id', nameOfTable + 'Sexo' + rowIndex).attr('data-field', 'Sexo');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Pais)).addClass('Pais').attr('id', nameOfTable + 'Pais' + rowIndex).attr('data-field', 'Pais');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Estado)).addClass('Estado').attr('id', nameOfTable + 'Estado' + rowIndex).attr('data-field', 'Estado');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Municipio)).addClass('Municipio').attr('id', nameOfTable + 'Municipio' + rowIndex).attr('data-field', 'Municipio');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Juzgado)).addClass('Juzgado').attr('id', nameOfTable + 'Juzgado' + rowIndex).attr('data-field', 'Juzgado');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Oficio_Solicitud_Juzgado)).addClass('Oficio_Solicitud_Juzgado').attr('id', nameOfTable + 'Oficio_Solicitud_Juzgado' + rowIndex).attr('data-field', 'Oficio_Solicitud_Juzgado');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Carpeta_de_Investigacion)).addClass('Carpeta_de_Investigacion').attr('id', nameOfTable + 'Carpeta_de_Investigacion' + rowIndex).attr('data-field', 'Carpeta_de_Investigacion');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Causa_Penal)).addClass('Causa_Penal').attr('id', nameOfTable + 'Causa_Penal' + rowIndex).attr('data-field', 'Causa_Penal');

            return columnData;
        }



        function GetFileInfo(fileData, fileUploadData) {

            var $div = $("<div>");
            if (fileUploadData != null && fileUploadData.files.length > 0) {

                $div.append("<label>" + fileUploadData.files[0].name + "</label>");
                //<i class="fa fa-times-circle" id='removeFileAttachment'>
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;

            } else if (fileUploadData != null) {
                return $.parseHTML(GetFileUploader());
            } else {
                $div.append("<label>" + fileData.FileName + "</label>");
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;
            }
        }

        var removedDetalle_de_ResultadosData = [];
        function Detalle_de_ResultadosDeleteRow(rowIndex, row) {
            var rowIndexTable = Detalle_de_ResultadosTable.fnGetPosition($(row).parent().parent()[0]);
            var permission = {            
                 Delete: '@permissionDetalle_de_Resultados.Delete' == 'True'
            };
            if (!permission.Delete || isConsultMode)
                return;            
            if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
              if (EjecutarValidacionesAlEliminarMRDetalle_de_Resultados('Detalle_de_Resultados_', '_' + rowIndex)) {
                var prevData = Detalle_de_ResultadosTable.fnGetData(rowIndexTable );
                removedDetalle_de_ResultadosData.push(prevData);
                Detalle_de_ResultadosTable.fnDeleteRow(rowIndexTable );
				showDetalle_de_ResultadosGrid(Detalle_de_ResultadosTable.fnGetData());
              }
            }
			initiateUIControls();
        }

        function Detalle_de_ResultadosrowCreationGrid(row, data, index) {
            var permission =  {            
                 Edit: '@permissionDetalle_de_Resultados.Edit' == 'True',
                 Delete: '@permissionDetalle_de_Resultados.Delete' == 'True'
            };
            setDetalle_de_ResultadosValidation();
            var Detalle_de_ResultadosRowElement = "Detalle_de_Resultados_" + index.toString();
            $(row).addClass(Detalle_de_ResultadosRowElement);
            var nameOfTable='Detalle_de_Resultados_';
            var rowIndex = '_' + index;
            Detalle_de_ResultadosinsertRowCurrentIndex = index;

            row.innerHTML = "";

            if (data.IsInsertRow) {

                if (row.childNodes.length != 0) {
                    for (var i = 0; i < row.childNodes.length; i++) {
                        row.childNodes[i].remove();
                    }
                }
                var controls = GetInsertDetalle_de_ResultadosRowControls(index);
                var actionColInsert = $('<td>');

                var abc = "if(dynamicFieldValidation('" + Detalle_de_ResultadosRowElement + "')){ Detalle_de_ResultadosInsertRow(" + index + "); }";
                var insertRowHTML = '<a  data-toggle="tooltip" title="Confirmar Registro" onclick="' + abc + '">';
                $('<i class="fa fa-check">').appendTo($(insertRowHTML).appendTo(actionColInsert));
				$('<i class="fa fa-times">').appendTo($("<a data-toggle='tooltip' title='Cancelar Registro' onclick='Detalle_de_ResultadosCancelRow(" + index + ")'>").appendTo(actionColInsert));
                actionColInsert.appendTo(row);

                for (i = 0; i < controls.length; i++) {
					var idHeader = $(controls[i]).data('field') + 'Header';
					if($(controls[i]).length > 1){
						idHeader = $($(controls[i])[1]).data('field') + 'Header';
					}					

					var classe = ($('#Detalle_de_ResultadosGrid .' + idHeader).hasClass('dt-right') ? "dt-right" : "") + $('#Detalle_de_ResultadosGrid .' + idHeader ).css('display') == 'none' ? " hide" : "";
				   
					if ($(controls[i]).next().length > 0) {
					    var div = $(controls[i]).next();
					    $('<td class="' + classe + '">').append($(controls[i])).append(div).appendTo(row);
					}else
					    $(controls[i]).appendTo($('<td class="' + classe + '">').appendTo(row));
					
                }
                $('#Detalle_de_ResultadosGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('#Detalle_de_ResultadosGrid .gridDatePicker').attr("readonly", "");
                return;
            }

            var actionCol = $('<td>');
			var edit = "<a title='@Resources.Resources.Edit' class='edit-MR' onclick='Detalle_de_ResultadosEditRow(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                edit = "";
            var editPopUp = "<a title='@Resources.Resources.Edit' class='edit-popup-MR' data-toggle='modal' data-target='#AddDetalle_de_Resultados-form' onclick='Detalle_de_ResultadosEditRowPopup(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                editPopUp = "";
            var eliminar = "<a title='@Resources.Resources.Delete' class='eliminar-MR' onclick='Detalle_de_ResultadosDeleteRow(" + index + ", this)'>";
            if (!permission.Delete || isConsultMode)
                eliminar = "";
            $('<i class="fa fa-pencil">').appendTo($(edit).appendTo(actionCol));
            //$('<i class="fa fa-edit">').appendTo($(editPopUp).appendTo(actionCol));
            $('<i class="fa fa-trash-o">').appendTo($(eliminar).appendTo(actionCol));
			if ($('.Action' + 'Header').css('display') != 'none')
				actionCol.appendTo(row);

            if ($('.Fuente' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Fuente'+rowIndex+'">').text(data.Fuente).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Fuente'+rowIndex+'">').text(data.Fuente).appendTo(row);
            if ($('.Tipo_de_Mandamiento' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Tipo_de_Mandamiento'+rowIndex+'">').text(data.Tipo_de_Mandamiento).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Tipo_de_Mandamiento'+rowIndex+'">').text(data.Tipo_de_Mandamiento).appendTo(row);
            if ($('.Nombre' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Nombre'+rowIndex+'">').text(data.Nombre).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Nombre'+rowIndex+'">').text(data.Nombre).appendTo(row);
            if ($('.Apellido_Paterno' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Apellido_Paterno'+rowIndex+'">').text(data.Apellido_Paterno).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Apellido_Paterno'+rowIndex+'">').text(data.Apellido_Paterno).appendTo(row);
            if ($('.Apellido_Materno' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Apellido_Materno'+rowIndex+'">').text(data.Apellido_Materno).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Apellido_Materno'+rowIndex+'">').text(data.Apellido_Materno).appendTo(row);
            if ($('.Alias' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Alias'+rowIndex+'">').text(data.Alias).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Alias'+rowIndex+'">').text(data.Alias).appendTo(row);
            if ($('.Sexo' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Sexo'+rowIndex+'">').text(data.Sexo).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Sexo'+rowIndex+'">').text(data.Sexo).appendTo(row);
            if ($('.Pais' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Pais'+rowIndex+'">').text(data.Pais).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Pais'+rowIndex+'">').text(data.Pais).appendTo(row);
            if ($('.Estado' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Estado'+rowIndex+'">').text(data.Estado).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Estado'+rowIndex+'">').text(data.Estado).appendTo(row);
            if ($('.Municipio' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Municipio'+rowIndex+'">').text(data.Municipio).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Municipio'+rowIndex+'">').text(data.Municipio).appendTo(row);
            if ($('.Juzgado' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Juzgado'+rowIndex+'">').text(data.Juzgado).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Juzgado'+rowIndex+'">').text(data.Juzgado).appendTo(row);
            if ($('.Oficio_Solicitud_Juzgado' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Oficio_Solicitud_Juzgado'+rowIndex+'">').text(data.Oficio_Solicitud_Juzgado).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Oficio_Solicitud_Juzgado'+rowIndex+'">').text(data.Oficio_Solicitud_Juzgado).appendTo(row);
            if ($('.Carpeta_de_Investigacion' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Carpeta_de_Investigacion'+rowIndex+'">').text(data.Carpeta_de_Investigacion).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Carpeta_de_Investigacion'+rowIndex+'">').text(data.Carpeta_de_Investigacion).appendTo(row);
            if ($('.Causa_Penal' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Causa_Penal'+rowIndex+'">').text(data.Causa_Penal).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Causa_Penal'+rowIndex+'">').text(data.Causa_Penal).appendTo(row);

        }

        var Detalle_de_ResultadosTable;
        function showDetalle_de_ResultadosGrid(dataSet) {
            //removedDetalle_de_ResultadosData = [];
            Detalle_de_ResultadosTable = $('#Detalle_de_ResultadosGrid').dataTable({
                dom: '<"html5buttons"B>lTgitp',
                buttons: [
                ],
                "createdRow": Detalle_de_ResultadosrowCreationGrid,
                "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
                data: dataSet,
                "columns": [
                    { "data": null, 'visible': true, "orderable": false },

                    { "data": "Fuente", "orderable": false },
                    { "data": "Tipo_de_Mandamiento", "orderable": false },
                    { "data": "Nombre", "orderable": false },
                    { "data": "Apellido_Paterno", "orderable": false },
                    { "data": "Apellido_Materno", "orderable": false },
                    { "data": "Alias", "orderable": false },
                    { "data": "Sexo", "orderable": false },
                    { "data": "Pais", "orderable": false },
                    { "data": "Estado", "orderable": false },
                    { "data": "Municipio", "orderable": false },
                    { "data": "Juzgado", "orderable": false },
                    { "data": "Oficio_Solicitud_Juzgado", "orderable": false },
                    { "data": "Carpeta_de_Investigacion", "orderable": false },
                    { "data": "Causa_Penal", "orderable": false },

                ],
                "order": [[0, "asc"]],
                "language": {
                    "lengthMenu": "@Resources.Resources.Display" + " _MENU_ " + "@Resources.Resources.RecordsPerPage",
                    "zeroRecords": "@Resources.Resources.NothingFound",
                    "info": "@Resources.Resources.ShowingPages" + " _PAGE_ " + "@Resources.Resources.of" + " _PAGES_",
                    "infoEmpty": "@Resources.Resources.NoRecords",
                    "infoFiltered": "(" + "@Resources.Resources.FilteredFrom" + " _MAX_ " + "@Resources.Resources.TotalRecords" + ")",
                    "sSearch": "@Resources.Resources.Search",
                    "paginate": {
                        "previous": "@Resources.Resources.Previous",
                        "next": "@Resources.Resources.Next"
                    }
                },
				"bDestroy": true,
                "fnDrawCallback": function (settings) {
                    setDetalle_de_ResultadosValidation();
                }
            }).on('init.dt', function (e, data) {
                $('a').tooltip();
            }).on('draw.dt', function () {
                $('#Detalle_de_ResultadosGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('.gridDatePicker').inputmask("99-99-9999", { "placeholder": "dd-mm-yyyy" });
            });
        }

















        var Detalle_de_ResultadosData = [];
        var Detalle_de_ResultadosdeletedItem = [];
        var Detalle_de_ResultadosDataMain = [];
        var Detalle_de_ResultadosDataMainPages = [];
        var Detalle_de_ResultadosnewItemCount = 0;
        var Detalle_de_ResultadosmaxItemIndex = 0;
        var Detalle_de_ResultadosDataMainInitialized = false;

        function SendDetalle_de_Resultados(callBack, ClaveId) {
            Detalle_de_ResultadosData = GetDetalle_de_ResultadosFromDataTable();

            if (Detalle_de_ResultadosData.length > 0 || $("#ReferenceClave").val() != ClaveId) {
                if ($("#ReferenceClave").val() != "0" && ClaveId ==null)
                    ClaveId = $("#ReferenceClave").val();                
                if ($("#ReferenceClave").val() == '')
                    $("#ReferenceClave").val('0');
                $.ajax({
                    url: '@Url.Content("~/Frontal/Consulta_de_Mandamientos_Judiciales/PostDetalle_de_Resultados?MasterId=")' + ClaveId + "&referenceId=" + $("#ReferenceClave").val(),
                    type: 'POST',
                    data: GetDetalle_de_Resultados(),
                    async: true,
                    success: function (result) {

                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            } else {
                //showNotification("@Resources.Resources.SaveSuccess", "success");
                //callBack(ClaveId);
            }
            return true;
        }

        function GetAddDetalle_de_ResultadosPopup(currentRowIndex, mode, id) {

            $.ajax({
                url: "@Url.Action("AddDetalle_de_Resultados", "Detalle_de_Resultados")",
                type: "GET",
                async: false,
                data: { rowIndex: currentRowIndex, functionMode: mode, id: id },
                success: function (data) {
                    $(".AddDetalle_de_ResultadosModal").html(data);
                },
                error: function () {

                }
            });

            @*$.get('@Url.Action("AddDetalle_de_Resultados", "Detalle_de_Resultados")', { rowIndex: currentRowIndex }, function (data) {
                $(".AddDetalle_de_ResultadosModal").html(data);
            });*@
        }

        function ShowMessagePendingRowDetalle_de_Resultados()
        {
            //alert('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Resultados"))')
	    showNotification('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Resultados"))', "warning");
        }


        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });

















        }

    </script>

<script type="text/javascript">


   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Consulta_de_Mandamientos_Judiciales/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }


        function SendConsulta_de_Mandamientos_JudicialesData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateConsulta_de_Mandamientos_Judiciales").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateConsulta_de_Mandamientos_Judiciales")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceClave").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('Consulta_de_Mandamientos_JudicialesCreateForm', 'Datos_Generales')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Consulta_de_Mandamientos_Judiciales/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".Consulta_de_Mandamientos_JudicialesBusinessRuleModal").html(data);
			});
		}
                function Consulta_de_Mandamientos_JudicialesGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('45664');
			$('#Screen').val('Consulta_de_Mandamientos_Judiciales');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function Consulta_de_Mandamientos_JudicialesBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Consulta_de_Mandamientos_Judiciales/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Consulta_de_Mandamientos_Judiciales/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Consulta_de_Mandamientos_Judiciales/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Consulta_de_Mandamientos_Judiciales/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Consulta_de_Mandamientos_Judiciales/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateConsulta_de_Mandamientos_Judiciales').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        Consulta_de_Mandamientos_JudicialesGetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Consulta_de_Mandamientos_Judiciales/Get_Datos_Generales")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    $('#MandamientoJudicialId').val(result.data.MandamientoJudicialId);
                    $('#Nombre').val(result.data.Nombre);
                    $('#Apellido_Paterno').val(result.data.Apellido_Paterno);
                    $('#Apellido_Materno').val(result.data.Apellido_Materno);
                    $('#Alias').val(result.data.Alias);
                    var control = $('#Pais');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Pais).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Pais).trigger('change');
                    }, 3000);
                    var control = $('#Estado');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Estado).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Estado).trigger('change');
                    }, 3000);
                    var control = $('#Municipio');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Municipio).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Municipio).trigger('change');
                    }, 3000);
                    $('#Juzgado').val(result.data.Juzgado);
                    $('#Oficio_Solicitud_Juzgado').val(result.data.Oficio_Solicitud_Juzgado);
                    $('#Carpeta_de_Investigacion').val(result.data.Carpeta_de_Investigacion);
                    $('#Causa_Penal').val(result.data.Causa_Penal);
                    Detalle_de_ResultadosDataDataTable = result.Resultados;
                    showDetalle_de_ResultadosGrid(result.Resultados);
                    $('#Detalle_de_ResultadosGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Detalle_de_ResultadosGrid .gridDatePicker').attr("readonly", "");

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('MandamientoJudicialId', $('#MandamientoJudicialId').val());
                data.append('Nombre', $('#Nombre').val());
                data.append('Apellido_Paterno', $('#Apellido_Paterno').val());
                data.append('Apellido_Materno', $('#Apellido_Materno').val());
                data.append('Alias', $('#Alias').val());
                data.append('Pais', $('#Pais').val());
                data.append('Estado', $('#Estado').val());
                data.append('Municipio', $('#Municipio').val());
                data.append('Juzgado', $('#Juzgado').val());
                data.append('Oficio_Solicitud_Juzgado', $('#Oficio_Solicitud_Juzgado').val());
                data.append('Carpeta_de_Investigacion', $('#Carpeta_de_Investigacion').val());
                data.append('Causa_Penal', $('#Causa_Penal').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Consulta_de_Mandamientos_Judiciales/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    					    SendDetalle_de_Resultados(null, newId);

					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}


    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Consulta_de_Mandamientos_Judiciales_cmbLabelSelect" name="Consulta_de_Mandamientos_Judiciales_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />

