@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Consulta_de_Mandamientos_JudicialesAdvanceSearchModel
@{
 List<SelectListItem> varPais_Pais = null;
    if (ViewBag.Paiss_Pais != null)
    { varPais_Pais = (List<SelectListItem>)ViewBag.Paiss_Pais; }
 List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
    List<SelectListItem> varJuzgado_Juzgado = null;
    if (ViewBag.Juzgados_Juzgado != null)
    { varJuzgado_Juzgado = (List<SelectListItem>)ViewBag.Juzgados_Juzgado; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Consulta_de_Mandamientos_Judiciales", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Consulta_de_Mandamientos_JudicialesResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Consulta_de_Mandamientos_JudicialesResources.MandamientoJudicialId</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromMandamientoJudicialId, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromMandamientoJudicialId" })
                    @Html.ValidationMessageFor(m => m.FromMandamientoJudicialId)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToMandamientoJudicialId, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToMandamientoJudicialId", @data_min = "txtAdvanceFromMandamientoJudicialId" })
                    @Html.ValidationMessageFor(m => m.ToMandamientoJudicialId)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Consulta_de_Mandamientos_JudicialesResources.Nombre</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.NombreFilter, filters, new { @class = "form-control", @id = "ddlNombreFilter" })
                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @type = "text", @id = "txtNombre" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Consulta_de_Mandamientos_JudicialesResources.Apellido_Paterno</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Apellido_PaternoFilter, filters, new { @class = "form-control", @id = "ddlApellido_PaternoFilter" })
                    @Html.TextBoxFor(m => m.Apellido_Paterno, new { @class = "form-control", @type = "text", @id = "txtApellido_Paterno" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Consulta_de_Mandamientos_JudicialesResources.Apellido_Materno</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Apellido_MaternoFilter, filters, new { @class = "form-control", @id = "ddlApellido_MaternoFilter" })
                    @Html.TextBoxFor(m => m.Apellido_Materno, new { @class = "form-control", @type = "text", @id = "txtApellido_Materno" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Consulta_de_Mandamientos_JudicialesResources.Alias</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.AliasFilter, filters, new { @class = "form-control", @id = "ddlAliasFilter" })
                    @Html.TextBoxFor(m => m.Alias, new { @class = "form-control", @type = "text", @id = "txtAlias" })
                </div>
 List<SelectListItem> varPais_Pais = null;
    if (ViewBag.Paiss_Pais != null)
    { varPais_Pais = (List<SelectListItem>)ViewBag.Paiss_Pais; }
 List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
                <div class="MarginBottom">
                    <h3>@Resources.Consulta_de_Mandamientos_JudicialesResources.Juzgado</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.JuzgadoFilter, filters, new { @class = "form-control", @id = "ddlJuzgadoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceJuzgado, new { @class = "form-control", @type = "text", @id = "txtAdvanceJuzgado" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varJuzgado_Juzgado!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceJuzgadoMultiple, varJuzgado_Juzgado,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceJuzgado"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Consulta_de_Mandamientos_JudicialesResources.Oficio_Solicitud_Juzgado</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Oficio_Solicitud_JuzgadoFilter, filters, new { @class = "form-control", @id = "ddlOficio_Solicitud_JuzgadoFilter" })
                    @Html.TextBoxFor(m => m.Oficio_Solicitud_Juzgado, new { @class = "form-control", @type = "text", @id = "txtOficio_Solicitud_Juzgado" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Consulta_de_Mandamientos_JudicialesResources.Carpeta_de_Investigacion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Carpeta_de_InvestigacionFilter, filters, new { @class = "form-control", @id = "ddlCarpeta_de_InvestigacionFilter" })
                    @Html.TextBoxFor(m => m.Carpeta_de_Investigacion, new { @class = "form-control", @type = "text", @id = "txtCarpeta_de_Investigacion" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Consulta_de_Mandamientos_JudicialesResources.Causa_Penal</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Causa_PenalFilter, filters, new { @class = "form-control", @id = "ddlCausa_PenalFilter" })
                    @Html.TextBoxFor(m => m.Causa_Penal, new { @class = "form-control", @type = "text", @id = "txtCausa_Penal" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Consulta_de_Mandamientos_Judiciales/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Consulta_de_Mandamientos_JudicialesClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Consulta_de_Mandamientos_JudicialesClaveTo = $("#txtAdvanceToClave").val();
        }
        if ($("#txtAdvanceFromMandamientoJudicialId").val() != "" || $("#txtAdvanceToMandamientoJudicialId").val() != "") {
            hasParameter = true;
            advanceSearch.Consulta_de_Mandamientos_JudicialesMandamientoJudicialIdFrom = $("#txtAdvanceFromMandamientoJudicialId").val();
            advanceSearch.Consulta_de_Mandamientos_JudicialesMandamientoJudicialIdTo = $("#txtAdvanceToMandamientoJudicialId").val();
        }
        if ($("#txtAdvanceNombre").val() != "") {
            hasParameter = true;
            advanceSearch.Consulta_de_Mandamientos_JudicialesNombre = $("#txtAdvanceNombre").val();
            advanceSearch.Consulta_de_Mandamientos_JudicialesNombreSearchType = $("#ddlAdvanceNombreFilter").val();
        }
        if ($("#txtAdvanceApellido_Paterno").val() != "") {
            hasParameter = true;
            advanceSearch.Consulta_de_Mandamientos_JudicialesApellido_Paterno = $("#txtAdvanceApellido_Paterno").val();
            advanceSearch.Consulta_de_Mandamientos_JudicialesApellido_PaternoSearchType = $("#ddlAdvanceApellido_PaternoFilter").val();
        }
        if ($("#txtAdvanceApellido_Materno").val() != "") {
            hasParameter = true;
            advanceSearch.Consulta_de_Mandamientos_JudicialesApellido_Materno = $("#txtAdvanceApellido_Materno").val();
            advanceSearch.Consulta_de_Mandamientos_JudicialesApellido_MaternoSearchType = $("#ddlAdvanceApellido_MaternoFilter").val();
        }
        if ($("#txtAdvanceAlias").val() != "") {
            hasParameter = true;
            advanceSearch.Consulta_de_Mandamientos_JudicialesAlias = $("#txtAdvanceAlias").val();
            advanceSearch.Consulta_de_Mandamientos_JudicialesAliasSearchType = $("#ddlAdvanceAliasFilter").val();
        }
        advanceSearch.PaisSearchType = 0;
        if ($('#ddlAdvancePais').val().length > 0 || $("#txtAdvancePais").val() == "") {


            if (isConsulta_de_Mandamientos_JudicialesTextSearch) {
                advanceSearch.PaisName = $("#txtAdvancePais").val();
                advanceSearch.PaisNameSearchType = $("#ddlAdvancePais").val();
                advanceSearch.PaisSearchType = 1;
            }
            else {

                advanceSearch.PaisToSearch = $("#ddlAdvancePais").val();
                advanceSearch.PaisSearchType = 2;
            }
        }
        advanceSearch.EstadoSearchType = 0;
        if ($('#ddlAdvanceEstado').val().length > 0 || $("#txtAdvanceEstado").val() == "") {


            if (isConsulta_de_Mandamientos_JudicialesTextSearch) {
                advanceSearch.EstadoName = $("#txtAdvanceEstado").val();
                advanceSearch.EstadoNameSearchType = $("#ddlAdvanceEstado").val();
                advanceSearch.EstadoSearchType = 1;
            }
            else {

                advanceSearch.EstadoToSearch = $("#ddlAdvanceEstado").val();
                advanceSearch.EstadoSearchType = 2;
            }
        }
        advanceSearch.MunicipioSearchType = 0;
        if ($('#ddlAdvanceMunicipio').val().length > 0 || $("#txtAdvanceMunicipio").val() == "") {


            if (isConsulta_de_Mandamientos_JudicialesTextSearch) {
                advanceSearch.MunicipioName = $("#txtAdvanceMunicipio").val();
                advanceSearch.MunicipioNameSearchType = $("#ddlAdvanceMunicipio").val();
                advanceSearch.MunicipioSearchType = 1;
            }
            else {

                advanceSearch.MunicipioToSearch = $("#ddlAdvanceMunicipio").val();
                advanceSearch.MunicipioSearchType = 2;
            }
        }
        advanceSearch.JuzgadoSearchType = 0;
        if ($('#ddlAdvanceJuzgado').val().length > 0 || $("#txtAdvanceJuzgado").val() == "") {


            if (isConsulta_de_Mandamientos_JudicialesTextSearch) {
                advanceSearch.JuzgadoName = $("#txtAdvanceJuzgado").val();
                advanceSearch.JuzgadoNameSearchType = $("#ddlAdvanceJuzgado").val();
                advanceSearch.JuzgadoSearchType = 1;
            }
            else {

                advanceSearch.JuzgadoToSearch = $("#ddlAdvanceJuzgado").val();
                advanceSearch.JuzgadoSearchType = 2;
            }
        }
        if ($("#txtAdvanceOficio_Solicitud_Juzgado").val() != "") {
            hasParameter = true;
            advanceSearch.Consulta_de_Mandamientos_JudicialesOficio_Solicitud_Juzgado = $("#txtAdvanceOficio_Solicitud_Juzgado").val();
            advanceSearch.Consulta_de_Mandamientos_JudicialesOficio_Solicitud_JuzgadoSearchType = $("#ddlAdvanceOficio_Solicitud_JuzgadoFilter").val();
        }
        if ($("#txtAdvanceCarpeta_de_Investigacion").val() != "") {
            hasParameter = true;
            advanceSearch.Consulta_de_Mandamientos_JudicialesCarpeta_de_Investigacion = $("#txtAdvanceCarpeta_de_Investigacion").val();
            advanceSearch.Consulta_de_Mandamientos_JudicialesCarpeta_de_InvestigacionSearchType = $("#ddlAdvanceCarpeta_de_InvestigacionFilter").val();
        }
        if ($("#txtAdvanceCausa_Penal").val() != "") {
            hasParameter = true;
            advanceSearch.Consulta_de_Mandamientos_JudicialesCausa_Penal = $("#txtAdvanceCausa_Penal").val();
            advanceSearch.Consulta_de_Mandamientos_JudicialesCausa_PenalSearchType = $("#ddlAdvanceCausa_PenalFilter").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblConsulta_de_Mandamientos_Judiciales').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isConsulta_de_Mandamientos_JudicialesTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvancePais").keypress(function () {
            isConsulta_de_Mandamientos_JudicialesTextSearch = true;
            $("#ddlAdvancePais").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancePais").change(function () {
            isConsulta_de_Mandamientos_JudicialesTextSearch = false;
            $("#txtAdvancePais").val('');
        });
        $("#txtAdvanceEstado").keypress(function () {
            isConsulta_de_Mandamientos_JudicialesTextSearch = true;
            $("#ddlAdvanceEstado").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEstado").change(function () {
            isConsulta_de_Mandamientos_JudicialesTextSearch = false;
            $("#txtAdvanceEstado").val('');
        });
        $("#txtAdvanceMunicipio").keypress(function () {
            isConsulta_de_Mandamientos_JudicialesTextSearch = true;
            $("#ddlAdvanceMunicipio").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceMunicipio").change(function () {
            isConsulta_de_Mandamientos_JudicialesTextSearch = false;
            $("#txtAdvanceMunicipio").val('');
        });
        $("#txtAdvanceJuzgado").keypress(function () {
            isConsulta_de_Mandamientos_JudicialesTextSearch = true;
            $("#ddlAdvanceJuzgado").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceJuzgado").change(function () {
            isConsulta_de_Mandamientos_JudicialesTextSearch = false;
            $("#txtAdvanceJuzgado").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

