@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_de_Solicitud_Datos_de_ApoyoAdvanceSearchModel
@{
 List<SelectListItem> varSolicitud_Solicitud = null;
    if (ViewBag.Solicituds_Solicitud != null)
    { varSolicitud_Solicitud = (List<SelectListItem>)ViewBag.Solicituds_Solicitud; }
 List<SelectListItem> varSpartan_User_Usuario_que_registra = null;
    if (ViewBag.Spartan_Users_Usuario_que_registra != null)
    { varSpartan_User_Usuario_que_registra = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_registra; }
    List<SelectListItem> varTipo_de_Servicio_de_Apoyo_Tipo_de_Servicio = null;
    if (ViewBag.Tipo_de_Servicio_de_Apoyos_Tipo_de_Servicio != null)
    { varTipo_de_Servicio_de_Apoyo_Tipo_de_Servicio = (List<SelectListItem>)ViewBag.Tipo_de_Servicio_de_Apoyos_Tipo_de_Servicio; }
 List<SelectListItem> varDetalle_de_Solicitud_Solicitante_Solicitante = null;
    if (ViewBag.Detalle_de_Solicitud_Solicitantes_Solicitante != null)
    { varDetalle_de_Solicitud_Solicitante_Solicitante = (List<SelectListItem>)ViewBag.Detalle_de_Solicitud_Solicitantes_Solicitante; }
    List<SelectListItem> varIdioma_Idioma = null;
    if (ViewBag.Idiomas_Idioma != null)
    { varIdioma_Idioma = (List<SelectListItem>)ViewBag.Idiomas_Idioma; }
    List<SelectListItem> varDialecto_Lengua_Originaria = null;
    if (ViewBag.Dialectos_Lengua_Originaria != null)
    { varDialecto_Lengua_Originaria = (List<SelectListItem>)ViewBag.Dialectos_Lengua_Originaria; }
 List<SelectListItem> varDilgencia_MASC_Diligencia_a_Enviar = null;
    if (ViewBag.Dilgencia_MASCs_Diligencia_a_Enviar != null)
    { varDilgencia_MASC_Diligencia_a_Enviar = (List<SelectListItem>)ViewBag.Dilgencia_MASCs_Diligencia_a_Enviar; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Detalle_de_Solicitud_Datos_de_Apoyo", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_Solicitud_Datos_de_ApoyoResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
 List<SelectListItem> varSolicitud_Solicitud = null;
    if (ViewBag.Solicituds_Solicitud != null)
    { varSolicitud_Solicitud = (List<SelectListItem>)ViewBag.Solicituds_Solicitud; }
        <div class="MarginBottom ">
            <h3>@Resources.Detalle_de_Solicitud_Datos_de_ApoyoResources.Fecha_de_Registro</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_de_Registro" name="FromFecha_de_Registro" type="text" value="@Model.FromFecha_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_de_Registro" name="ToFecha_de_Registro" type="text" value="@Model.ToFecha_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.Detalle_de_Solicitud_Datos_de_ApoyoResources.Hora_de_Registro</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromHora_de_Registro" name="FromHora_de_Registro" type="text" value="@Model.FromHora_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceToHora_de_Registro" name="ToHora_de_Registro" type="text" value="@Model.ToHora_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
 List<SelectListItem> varSpartan_User_Usuario_que_registra = null;
    if (ViewBag.Spartan_Users_Usuario_que_registra != null)
    { varSpartan_User_Usuario_que_registra = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_registra; }
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Datos_de_ApoyoResources.Tipo_de_Servicio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tipo_de_ServicioFilter, filters, new { @class = "form-control", @id = "ddlTipo_de_ServicioFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTipo_de_Servicio, new { @class = "form-control", @type = "text", @id = "txtAdvanceTipo_de_Servicio" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Servicio_de_Apoyo_Tipo_de_Servicio!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTipo_de_ServicioMultiple, varTipo_de_Servicio_de_Apoyo_Tipo_de_Servicio,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTipo_de_Servicio"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Datos_de_ApoyoResources.Dictamen</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.DictamenFilter, filters, new { @class = "form-control", @id = "ddlDictamenFilter" })
                    @Html.TextBoxFor(m => m.Dictamen, new { @class = "form-control", @type = "text", @id = "txtDictamen" })
                </div>
 List<SelectListItem> varDetalle_de_Solicitud_Solicitante_Solicitante = null;
    if (ViewBag.Detalle_de_Solicitud_Solicitantes_Solicitante != null)
    { varDetalle_de_Solicitud_Solicitante_Solicitante = (List<SelectListItem>)ViewBag.Detalle_de_Solicitud_Solicitantes_Solicitante; }
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Datos_de_ApoyoResources.Responsable</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.ResponsableFilter, filters, new { @class = "form-control", @id = "ddlResponsableFilter" })
                    @Html.TextBoxFor(m => m.Responsable, new { @class = "form-control", @type = "text", @id = "txtResponsable" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Datos_de_ApoyoResources.Idioma</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.IdiomaFilter, filters, new { @class = "form-control", @id = "ddlIdiomaFilter" })
                    @Html.TextBoxFor(m => m.AdvanceIdioma, new { @class = "form-control", @type = "text", @id = "txtAdvanceIdioma" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varIdioma_Idioma!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceIdiomaMultiple, varIdioma_Idioma,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceIdioma"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_Datos_de_ApoyoResources.Lengua_Originaria</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Lengua_OriginariaFilter, filters, new { @class = "form-control", @id = "ddlLengua_OriginariaFilter" })
                    @Html.TextBoxFor(m => m.AdvanceLengua_Originaria, new { @class = "form-control", @type = "text", @id = "txtAdvanceLengua_Originaria" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varDialecto_Lengua_Originaria!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceLengua_OriginariaMultiple, varDialecto_Lengua_Originaria,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceLengua_Originaria"
                        });
                    }
                </div>
 List<SelectListItem> varDilgencia_MASC_Diligencia_a_Enviar = null;
    if (ViewBag.Dilgencia_MASCs_Diligencia_a_Enviar != null)
    { varDilgencia_MASC_Diligencia_a_Enviar = (List<SelectListItem>)ViewBag.Dilgencia_MASCs_Diligencia_a_Enviar; }

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Detalle_de_Solicitud_Datos_de_Apoyo/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Datos_de_ApoyoClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Detalle_de_Solicitud_Datos_de_ApoyoClaveTo = $("#txtAdvanceToClave").val();
        }
        advanceSearch.SolicitudSearchType = 0;
        if ($('#ddlAdvanceSolicitud').val().length > 0 || $("#txtAdvanceSolicitud").val() == "") {


            if (isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch) {
                advanceSearch.SolicitudName = $("#txtAdvanceSolicitud").val();
                advanceSearch.SolicitudNameSearchType = $("#ddlAdvanceSolicitud").val();
                advanceSearch.SolicitudSearchType = 1;
            }
            else {

                advanceSearch.SolicitudToSearch = $("#ddlAdvanceSolicitud").val();
                advanceSearch.SolicitudSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromFecha_de_Registro").val() != "" || $("#txtAdvanceToFecha_de_Registro").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Datos_de_ApoyoFecha_de_RegistroFrom = $("#txtAdvanceFromFecha_de_Registro").val();
            advanceSearch.Detalle_de_Solicitud_Datos_de_ApoyoFecha_de_RegistroTo = $("#txtAdvanceToFecha_de_Registro").val();
        }
        if ($("#txtAdvanceHora_de_Registro").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Datos_de_ApoyoHora_de_Registro = $("#txtAdvanceHora_de_Registro").val();
            advanceSearch.Detalle_de_Solicitud_Datos_de_ApoyoHora_de_RegistroSearchType = $("#ddlAdvanceHora_de_RegistroFilter").val();
        }
        advanceSearch.Usuario_que_registraSearchType = 0;
        if ($('#ddlAdvanceUsuario_que_registra').val().length > 0 || $("#txtAdvanceUsuario_que_registra").val() == "") {


            if (isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch) {
                advanceSearch.Usuario_que_registraName = $("#txtAdvanceUsuario_que_registra").val();
                advanceSearch.Usuario_que_registraNameSearchType = $("#ddlAdvanceUsuario_que_registra").val();
                advanceSearch.Usuario_que_registraSearchType = 1;
            }
            else {

                advanceSearch.Usuario_que_registraToSearch = $("#ddlAdvanceUsuario_que_registra").val();
                advanceSearch.Usuario_que_registraSearchType = 2;
            }
        }
        advanceSearch.Tipo_de_ServicioSearchType = 0;
        if ($('#ddlAdvanceTipo_de_Servicio').val().length > 0 || $("#txtAdvanceTipo_de_Servicio").val() == "") {


            if (isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch) {
                advanceSearch.Tipo_de_ServicioName = $("#txtAdvanceTipo_de_Servicio").val();
                advanceSearch.Tipo_de_ServicioNameSearchType = $("#ddlAdvanceTipo_de_Servicio").val();
                advanceSearch.Tipo_de_ServicioSearchType = 1;
            }
            else {

                advanceSearch.Tipo_de_ServicioToSearch = $("#ddlAdvanceTipo_de_Servicio").val();
                advanceSearch.Tipo_de_ServicioSearchType = 2;
            }
        }
        if ($("#txtAdvanceDictamen").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Datos_de_ApoyoDictamen = $("#txtAdvanceDictamen").val();
            advanceSearch.Detalle_de_Solicitud_Datos_de_ApoyoDictamenSearchType = $("#ddlAdvanceDictamenFilter").val();
        }
        advanceSearch.SolicitanteSearchType = 0;
        if ($('#ddlAdvanceSolicitante').val().length > 0 || $("#txtAdvanceSolicitante").val() == "") {


            if (isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch) {
                advanceSearch.SolicitanteName = $("#txtAdvanceSolicitante").val();
                advanceSearch.SolicitanteNameSearchType = $("#ddlAdvanceSolicitante").val();
                advanceSearch.SolicitanteSearchType = 1;
            }
            else {

                advanceSearch.SolicitanteToSearch = $("#ddlAdvanceSolicitante").val();
                advanceSearch.SolicitanteSearchType = 2;
            }
        }
        if ($("#txtAdvanceResponsable").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_Datos_de_ApoyoResponsable = $("#txtAdvanceResponsable").val();
            advanceSearch.Detalle_de_Solicitud_Datos_de_ApoyoResponsableSearchType = $("#ddlAdvanceResponsableFilter").val();
        }
        advanceSearch.IdiomaSearchType = 0;
        if ($('#ddlAdvanceIdioma').val().length > 0 || $("#txtAdvanceIdioma").val() == "") {


            if (isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch) {
                advanceSearch.IdiomaName = $("#txtAdvanceIdioma").val();
                advanceSearch.IdiomaNameSearchType = $("#ddlAdvanceIdioma").val();
                advanceSearch.IdiomaSearchType = 1;
            }
            else {

                advanceSearch.IdiomaToSearch = $("#ddlAdvanceIdioma").val();
                advanceSearch.IdiomaSearchType = 2;
            }
        }
        advanceSearch.Lengua_OriginariaSearchType = 0;
        if ($('#ddlAdvanceLengua_Originaria').val().length > 0 || $("#txtAdvanceLengua_Originaria").val() == "") {


            if (isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch) {
                advanceSearch.Lengua_OriginariaName = $("#txtAdvanceLengua_Originaria").val();
                advanceSearch.Lengua_OriginariaNameSearchType = $("#ddlAdvanceLengua_Originaria").val();
                advanceSearch.Lengua_OriginariaSearchType = 1;
            }
            else {

                advanceSearch.Lengua_OriginariaToSearch = $("#ddlAdvanceLengua_Originaria").val();
                advanceSearch.Lengua_OriginariaSearchType = 2;
            }
        }
        advanceSearch.Diligencia_a_EnviarSearchType = 0;
        if ($('#ddlAdvanceDiligencia_a_Enviar').val().length > 0 || $("#txtAdvanceDiligencia_a_Enviar").val() == "") {


            if (isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch) {
                advanceSearch.Diligencia_a_EnviarName = $("#txtAdvanceDiligencia_a_Enviar").val();
                advanceSearch.Diligencia_a_EnviarNameSearchType = $("#ddlAdvanceDiligencia_a_Enviar").val();
                advanceSearch.Diligencia_a_EnviarSearchType = 1;
            }
            else {

                advanceSearch.Diligencia_a_EnviarToSearch = $("#ddlAdvanceDiligencia_a_Enviar").val();
                advanceSearch.Diligencia_a_EnviarSearchType = 2;
            }
        }
        advanceSearch.Archivo_AdjuntoSearchType = 0;
        if ($('#ddlAdvanceArchivo_Adjunto').val().length > 0 || $("#txtAdvanceArchivo_Adjunto").val() == "") {


            if (isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch) {
                advanceSearch.Archivo_AdjuntoName = $("#txtAdvanceArchivo_Adjunto").val();
                advanceSearch.Archivo_AdjuntoNameSearchType = $("#ddlAdvanceArchivo_Adjunto").val();
                advanceSearch.Archivo_AdjuntoSearchType = 1;
            }
            else {

                advanceSearch.Archivo_AdjuntoToSearch = $("#ddlAdvanceArchivo_Adjunto").val();
                advanceSearch.Archivo_AdjuntoSearchType = 2;
            }
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblDetalle_de_Solicitud_Datos_de_Apoyo').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceSolicitud").keypress(function () {
            isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch = true;
            $("#ddlAdvanceSolicitud").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceSolicitud").change(function () {
            isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch = false;
            $("#txtAdvanceSolicitud").val('');
        });
        $("#txtAdvanceUsuario_que_registra").keypress(function () {
            isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch = true;
            $("#ddlAdvanceUsuario_que_registra").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceUsuario_que_registra").change(function () {
            isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch = false;
            $("#txtAdvanceUsuario_que_registra").val('');
        });
        $("#txtAdvanceTipo_de_Servicio").keypress(function () {
            isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch = true;
            $("#ddlAdvanceTipo_de_Servicio").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTipo_de_Servicio").change(function () {
            isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch = false;
            $("#txtAdvanceTipo_de_Servicio").val('');
        });
        $("#txtAdvanceSolicitante").keypress(function () {
            isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch = true;
            $("#ddlAdvanceSolicitante").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceSolicitante").change(function () {
            isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch = false;
            $("#txtAdvanceSolicitante").val('');
        });
        $("#txtAdvanceIdioma").keypress(function () {
            isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch = true;
            $("#ddlAdvanceIdioma").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceIdioma").change(function () {
            isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch = false;
            $("#txtAdvanceIdioma").val('');
        });
        $("#txtAdvanceLengua_Originaria").keypress(function () {
            isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch = true;
            $("#ddlAdvanceLengua_Originaria").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceLengua_Originaria").change(function () {
            isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch = false;
            $("#txtAdvanceLengua_Originaria").val('');
        });
        $("#txtAdvanceDiligencia_a_Enviar").keypress(function () {
            isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch = true;
            $("#ddlAdvanceDiligencia_a_Enviar").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceDiligencia_a_Enviar").change(function () {
            isDetalle_de_Solicitud_Datos_de_ApoyoTextSearch = false;
            $("#txtAdvanceDiligencia_a_Enviar").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

