@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_de_Datos_del_Imputado_CCAdvanceSearchModel
@{
    List<SelectListItem> varColonia_Colonia = null;
    if (ViewBag.Colonias_Colonia != null)
    { varColonia_Colonia = (List<SelectListItem>)ViewBag.Colonias_Colonia; }
    List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
    List<SelectListItem> varEstado_Civil_Estado_Civil = null;
    if (ViewBag.Estado_Civils_Estado_Civil != null)
    { varEstado_Civil_Estado_Civil = (List<SelectListItem>)ViewBag.Estado_Civils_Estado_Civil; }
    List<SelectListItem> varTipo_de_Inimputabilidad_Tipo_de_Inimputabilidad = null;
    if (ViewBag.Tipo_de_Inimputabilidads_Tipo_de_Inimputabilidad != null)
    { varTipo_de_Inimputabilidad_Tipo_de_Inimputabilidad = (List<SelectListItem>)ViewBag.Tipo_de_Inimputabilidads_Tipo_de_Inimputabilidad; }
    List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
    List<SelectListItem> varNacionalidad_Nacionalidad = null;
    if (ViewBag.Nacionalidads_Nacionalidad != null)
    { varNacionalidad_Nacionalidad = (List<SelectListItem>)ViewBag.Nacionalidads_Nacionalidad; }
    List<SelectListItem> varOcupacion_Ocupacion = null;
    if (ViewBag.Ocupacions_Ocupacion != null)
    { varOcupacion_Ocupacion = (List<SelectListItem>)ViewBag.Ocupacions_Ocupacion; }
    List<SelectListItem> varPais_Pais = null;
    if (ViewBag.Paiss_Pais != null)
    { varPais_Pais = (List<SelectListItem>)ViewBag.Paiss_Pais; }
    List<SelectListItem> varPais_Pais_de_Origen = null;
    if (ViewBag.Paiss_Pais_de_Origen != null)
    { varPais_Pais_de_Origen = (List<SelectListItem>)ViewBag.Paiss_Pais_de_Origen; }
    List<SelectListItem> varGenero_Genero = null;
    if (ViewBag.Generos_Genero != null)
    { varGenero_Genero = (List<SelectListItem>)ViewBag.Generos_Genero; }
    List<SelectListItem> varTipo_de_Identificacion_Tipo_de_Identificacion = null;
    if (ViewBag.Tipo_de_Identificacions_Tipo_de_Identificacion != null)
    { varTipo_de_Identificacion_Tipo_de_Identificacion = (List<SelectListItem>)ViewBag.Tipo_de_Identificacions_Tipo_de_Identificacion; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Detalle_de_Datos_del_Imputado_CC", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Alias</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.AliasFilter, filters, new { @class = "form-control", @id = "ddlAliasFilter" })
                    @Html.TextBoxFor(m => m.Alias, new { @class = "form-control", @type = "text", @id = "txtAlias" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Apellido_Materno</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Apellido_MaternoFilter, filters, new { @class = "form-control", @id = "ddlApellido_MaternoFilter" })
                    @Html.TextBoxFor(m => m.Apellido_Materno, new { @class = "form-control", @type = "text", @id = "txtApellido_Materno" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Apellido_Paterno</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Apellido_PaternoFilter, filters, new { @class = "form-control", @id = "ddlApellido_PaternoFilter" })
                    @Html.TextBoxFor(m => m.Apellido_Paterno, new { @class = "form-control", @type = "text", @id = "txtApellido_Paterno" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Calle</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.CalleFilter, filters, new { @class = "form-control", @id = "ddlCalleFilter" })
                    @Html.TextBoxFor(m => m.Calle, new { @class = "form-control", @type = "text", @id = "txtCalle" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Celular</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.CelularFilter, filters, new { @class = "form-control", @id = "ddlCelularFilter" })
                    @Html.TextBoxFor(m => m.Celular, new { @class = "form-control", @type = "text", @id = "txtCelular" })
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Codigo_Postal</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromCodigo_Postal, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromCodigo_Postal" })
                    @Html.ValidationMessageFor(m => m.FromCodigo_Postal)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToCodigo_Postal, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToCodigo_Postal", @data_min = "txtAdvanceFromCodigo_Postal" })
                    @Html.ValidationMessageFor(m => m.ToCodigo_Postal)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Colonia</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.ColoniaFilter, filters, new { @class = "form-control", @id = "ddlColoniaFilter" })
                    @Html.TextBoxFor(m => m.AdvanceColonia, new { @class = "form-control", @type = "text", @id = "txtAdvanceColonia" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varColonia_Colonia!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceColoniaMultiple, varColonia_Colonia,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceColonia"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Correo_Electronico</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Correo_ElectronicoFilter, filters, new { @class = "form-control", @id = "ddlCorreo_ElectronicoFilter" })
                    @Html.TextBoxFor(m => m.Correo_Electronico, new { @class = "form-control", @type = "text", @id = "txtCorreo_Electronico" })
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Edad</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromEdad, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromEdad" })
                    @Html.ValidationMessageFor(m => m.FromEdad)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToEdad, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToEdad", @data_min = "txtAdvanceFromEdad" })
                    @Html.ValidationMessageFor(m => m.ToEdad)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Entre_calle</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Entre_calleFilter, filters, new { @class = "form-control", @id = "ddlEntre_calleFilter" })
                    @Html.TextBoxFor(m => m.Entre_calle, new { @class = "form-control", @type = "text", @id = "txtEntre_calle" })
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Escolaridad</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromEscolaridad, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromEscolaridad" })
                    @Html.ValidationMessageFor(m => m.FromEscolaridad)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToEscolaridad, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToEscolaridad", @data_min = "txtAdvanceFromEscolaridad" })
                    @Html.ValidationMessageFor(m => m.ToEscolaridad)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Estado</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.EstadoFilter, filters, new { @class = "form-control", @id = "ddlEstadoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceEstado, new { @class = "form-control", @type = "text", @id = "txtAdvanceEstado" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varEstado_Estado!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceEstadoMultiple, varEstado_Estado,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceEstado"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Estado_Civil</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Estado_CivilFilter, filters, new { @class = "form-control", @id = "ddlEstado_CivilFilter" })
                    @Html.TextBoxFor(m => m.AdvanceEstado_Civil, new { @class = "form-control", @type = "text", @id = "txtAdvanceEstado_Civil" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varEstado_Civil_Estado_Civil!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceEstado_CivilMultiple, varEstado_Civil_Estado_Civil,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceEstado_Civil"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Estension</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.EstensionFilter, filters, new { @class = "form-control", @id = "ddlEstensionFilter" })
                    @Html.TextBoxFor(m => m.Estension, new { @class = "form-control", @type = "text", @id = "txtEstension" })
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Fecha_de_Nacimiento</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_de_Nacimiento" name="FromFecha_de_Nacimiento" type="text" value="@Model.FromFecha_de_Nacimiento" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_de_Nacimiento" name="ToFecha_de_Nacimiento" type="text" value="@Model.ToFecha_de_Nacimiento" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Tipo_de_Inimputabilidad</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tipo_de_InimputabilidadFilter, filters, new { @class = "form-control", @id = "ddlTipo_de_InimputabilidadFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTipo_de_Inimputabilidad, new { @class = "form-control", @type = "text", @id = "txtAdvanceTipo_de_Inimputabilidad" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Inimputabilidad_Tipo_de_Inimputabilidad!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTipo_de_InimputabilidadMultiple, varTipo_de_Inimputabilidad_Tipo_de_Inimputabilidad,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTipo_de_Inimputabilidad"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Especifique</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.EspecifiqueFilter, filters, new { @class = "form-control", @id = "ddlEspecifiqueFilter" })
                    @Html.TextBoxFor(m => m.Especifique, new { @class = "form-control", @type = "text", @id = "txtEspecifique" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Municipio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.MunicipioFilter, filters, new { @class = "form-control", @id = "ddlMunicipioFilter" })
                    @Html.TextBoxFor(m => m.AdvanceMunicipio, new { @class = "form-control", @type = "text", @id = "txtAdvanceMunicipio" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varMunicipio_Municipio!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceMunicipioMultiple, varMunicipio_Municipio,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceMunicipio"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Nacionalidad</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.NacionalidadFilter, filters, new { @class = "form-control", @id = "ddlNacionalidadFilter" })
                    @Html.TextBoxFor(m => m.AdvanceNacionalidad, new { @class = "form-control", @type = "text", @id = "txtAdvanceNacionalidad" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varNacionalidad_Nacionalidad!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceNacionalidadMultiple, varNacionalidad_Nacionalidad,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceNacionalidad"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Nombre</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.NombreFilter, filters, new { @class = "form-control", @id = "ddlNombreFilter" })
                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @type = "text", @id = "txtNombre" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Nombre_Completo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Nombre_CompletoFilter, filters, new { @class = "form-control", @id = "ddlNombre_CompletoFilter" })
                    @Html.TextBoxFor(m => m.Nombre_Completo, new { @class = "form-control", @type = "text", @id = "txtNombre_Completo" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Numero_de_Identificacion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_de_IdentificacionFilter, filters, new { @class = "form-control", @id = "ddlNumero_de_IdentificacionFilter" })
                    @Html.TextBoxFor(m => m.Numero_de_Identificacion, new { @class = "form-control", @type = "text", @id = "txtNumero_de_Identificacion" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Numero_Exterior</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_ExteriorFilter, filters, new { @class = "form-control", @id = "ddlNumero_ExteriorFilter" })
                    @Html.TextBoxFor(m => m.Numero_Exterior, new { @class = "form-control", @type = "text", @id = "txtNumero_Exterior" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Numero_Interior</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_InteriorFilter, filters, new { @class = "form-control", @id = "ddlNumero_InteriorFilter" })
                    @Html.TextBoxFor(m => m.Numero_Interior, new { @class = "form-control", @type = "text", @id = "txtNumero_Interior" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Ocupacion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.OcupacionFilter, filters, new { @class = "form-control", @id = "ddlOcupacionFilter" })
                    @Html.TextBoxFor(m => m.AdvanceOcupacion, new { @class = "form-control", @type = "text", @id = "txtAdvanceOcupacion" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varOcupacion_Ocupacion!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceOcupacionMultiple, varOcupacion_Ocupacion,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceOcupacion"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Originario_de</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Originario_deFilter, filters, new { @class = "form-control", @id = "ddlOriginario_deFilter" })
                    @Html.TextBoxFor(m => m.Originario_de, new { @class = "form-control", @type = "text", @id = "txtOriginario_de" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Pais</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.PaisFilter, filters, new { @class = "form-control", @id = "ddlPaisFilter" })
                    @Html.TextBoxFor(m => m.AdvancePais, new { @class = "form-control", @type = "text", @id = "txtAdvancePais" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varPais_Pais!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvancePaisMultiple, varPais_Pais,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvancePais"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Pais_de_Origen</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Pais_de_OrigenFilter, filters, new { @class = "form-control", @id = "ddlPais_de_OrigenFilter" })
                    @Html.TextBoxFor(m => m.AdvancePais_de_Origen, new { @class = "form-control", @type = "text", @id = "txtAdvancePais_de_Origen" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varPais_Pais_de_Origen!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvancePais_de_OrigenMultiple, varPais_Pais_de_Origen,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvancePais_de_Origen"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Referencia_de_domicilio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Referencia_de_domicilioFilter, filters, new { @class = "form-control", @id = "ddlReferencia_de_domicilioFilter" })
                    @Html.TextBoxFor(m => m.Referencia_de_domicilio, new { @class = "form-control", @type = "text", @id = "txtReferencia_de_domicilio" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Genero</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.GeneroFilter, filters, new { @class = "form-control", @id = "ddlGeneroFilter" })
                    @Html.TextBoxFor(m => m.AdvanceGenero, new { @class = "form-control", @type = "text", @id = "txtAdvanceGenero" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varGenero_Genero!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceGeneroMultiple, varGenero_Genero,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceGenero"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Telefono</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.TelefonoFilter, filters, new { @class = "form-control", @id = "ddlTelefonoFilter" })
                    @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", @type = "text", @id = "txtTelefono" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Tipo_de_Identificacion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tipo_de_IdentificacionFilter, filters, new { @class = "form-control", @id = "ddlTipo_de_IdentificacionFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTipo_de_Identificacion, new { @class = "form-control", @type = "text", @id = "txtAdvanceTipo_de_Identificacion" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Identificacion_Tipo_de_Identificacion!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTipo_de_IdentificacionMultiple, varTipo_de_Identificacion_Tipo_de_Identificacion,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTipo_de_Identificacion"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Datos_del_Imputado_CCResources.Y_calle</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Y_calleFilter, filters, new { @class = "form-control", @id = "ddlY_calleFilter" })
                    @Html.TextBoxFor(m => m.Y_calle, new { @class = "form-control", @type = "text", @id = "txtY_calle" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Detalle_de_Datos_del_Imputado_CC/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCClaveTo = $("#txtAdvanceToClave").val();
        }
        if ($("#ddlAdvanceA_Quien_Resulte_Responsable").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCA_Quien_Resulte_Responsable = $("#ddlAdvanceA_Quien_Resulte_Responsable").val();
        }
        if ($("#txtAdvanceAlias").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCAlias = $("#txtAdvanceAlias").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCAliasSearchType = $("#ddlAdvanceAliasFilter").val();
        }
        if ($("#txtAdvanceApellido_Materno").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCApellido_Materno = $("#txtAdvanceApellido_Materno").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCApellido_MaternoSearchType = $("#ddlAdvanceApellido_MaternoFilter").val();
        }
        if ($("#txtAdvanceApellido_Paterno").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCApellido_Paterno = $("#txtAdvanceApellido_Paterno").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCApellido_PaternoSearchType = $("#ddlAdvanceApellido_PaternoFilter").val();
        }
        if ($("#txtAdvanceCalle").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCCalle = $("#txtAdvanceCalle").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCCalleSearchType = $("#ddlAdvanceCalleFilter").val();
        }
        if ($("#txtAdvanceCelular").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCCelular = $("#txtAdvanceCelular").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCCelularSearchType = $("#ddlAdvanceCelularFilter").val();
        }
        if ($("#txtAdvanceFromCodigo_Postal").val() != "" || $("#txtAdvanceToCodigo_Postal").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCCodigo_PostalFrom = $("#txtAdvanceFromCodigo_Postal").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCCodigo_PostalTo = $("#txtAdvanceToCodigo_Postal").val();
        }
        advanceSearch.ColoniaSearchType = 0;
        if ($('#ddlAdvanceColonia').val().length > 0 || $("#txtAdvanceColonia").val() == "") {


            if (isDetalle_de_Datos_del_Imputado_CCTextSearch) {
                advanceSearch.ColoniaName = $("#txtAdvanceColonia").val();
                advanceSearch.ColoniaNameSearchType = $("#ddlAdvanceColonia").val();
                advanceSearch.ColoniaSearchType = 1;
            }
            else {

                advanceSearch.ColoniaToSearch = $("#ddlAdvanceColonia").val();
                advanceSearch.ColoniaSearchType = 2;
            }
        }
        if ($("#txtAdvanceCorreo_Electronico").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCCorreo_Electronico = $("#txtAdvanceCorreo_Electronico").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCCorreo_ElectronicoSearchType = $("#ddlAdvanceCorreo_ElectronicoFilter").val();
        }
        if ($("#txtAdvanceFromEdad").val() != "" || $("#txtAdvanceToEdad").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCEdadFrom = $("#txtAdvanceFromEdad").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCEdadTo = $("#txtAdvanceToEdad").val();
        }
        if ($("#txtAdvanceEntre_calle").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCEntre_calle = $("#txtAdvanceEntre_calle").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCEntre_calleSearchType = $("#ddlAdvanceEntre_calleFilter").val();
        }
        if ($("#txtAdvanceFromEscolaridad").val() != "" || $("#txtAdvanceToEscolaridad").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCEscolaridadFrom = $("#txtAdvanceFromEscolaridad").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCEscolaridadTo = $("#txtAdvanceToEscolaridad").val();
        }
        advanceSearch.EstadoSearchType = 0;
        if ($('#ddlAdvanceEstado').val().length > 0 || $("#txtAdvanceEstado").val() == "") {


            if (isDetalle_de_Datos_del_Imputado_CCTextSearch) {
                advanceSearch.EstadoName = $("#txtAdvanceEstado").val();
                advanceSearch.EstadoNameSearchType = $("#ddlAdvanceEstado").val();
                advanceSearch.EstadoSearchType = 1;
            }
            else {

                advanceSearch.EstadoToSearch = $("#ddlAdvanceEstado").val();
                advanceSearch.EstadoSearchType = 2;
            }
        }
        advanceSearch.Estado_CivilSearchType = 0;
        if ($('#ddlAdvanceEstado_Civil').val().length > 0 || $("#txtAdvanceEstado_Civil").val() == "") {


            if (isDetalle_de_Datos_del_Imputado_CCTextSearch) {
                advanceSearch.Estado_CivilName = $("#txtAdvanceEstado_Civil").val();
                advanceSearch.Estado_CivilNameSearchType = $("#ddlAdvanceEstado_Civil").val();
                advanceSearch.Estado_CivilSearchType = 1;
            }
            else {

                advanceSearch.Estado_CivilToSearch = $("#ddlAdvanceEstado_Civil").val();
                advanceSearch.Estado_CivilSearchType = 2;
            }
        }
        if ($("#txtAdvanceEstension").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCEstension = $("#txtAdvanceEstension").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCEstensionSearchType = $("#ddlAdvanceEstensionFilter").val();
        }
        if ($("#txtAdvanceFromFecha_de_Nacimiento").val() != "" || $("#txtAdvanceToFecha_de_Nacimiento").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCFecha_de_NacimientoFrom = $("#txtAdvanceFromFecha_de_Nacimiento").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCFecha_de_NacimientoTo = $("#txtAdvanceToFecha_de_Nacimiento").val();
        }
        if ($("#ddlAdvanceInimputable").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCInimputable = $("#ddlAdvanceInimputable").val();
        }
        advanceSearch.Tipo_de_InimputabilidadSearchType = 0;
        if ($('#ddlAdvanceTipo_de_Inimputabilidad').val().length > 0 || $("#txtAdvanceTipo_de_Inimputabilidad").val() == "") {


            if (isDetalle_de_Datos_del_Imputado_CCTextSearch) {
                advanceSearch.Tipo_de_InimputabilidadName = $("#txtAdvanceTipo_de_Inimputabilidad").val();
                advanceSearch.Tipo_de_InimputabilidadNameSearchType = $("#ddlAdvanceTipo_de_Inimputabilidad").val();
                advanceSearch.Tipo_de_InimputabilidadSearchType = 1;
            }
            else {

                advanceSearch.Tipo_de_InimputabilidadToSearch = $("#ddlAdvanceTipo_de_Inimputabilidad").val();
                advanceSearch.Tipo_de_InimputabilidadSearchType = 2;
            }
        }
        if ($("#txtAdvanceEspecifique").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCEspecifique = $("#txtAdvanceEspecifique").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCEspecifiqueSearchType = $("#ddlAdvanceEspecifiqueFilter").val();
        }
        advanceSearch.MunicipioSearchType = 0;
        if ($('#ddlAdvanceMunicipio').val().length > 0 || $("#txtAdvanceMunicipio").val() == "") {


            if (isDetalle_de_Datos_del_Imputado_CCTextSearch) {
                advanceSearch.MunicipioName = $("#txtAdvanceMunicipio").val();
                advanceSearch.MunicipioNameSearchType = $("#ddlAdvanceMunicipio").val();
                advanceSearch.MunicipioSearchType = 1;
            }
            else {

                advanceSearch.MunicipioToSearch = $("#ddlAdvanceMunicipio").val();
                advanceSearch.MunicipioSearchType = 2;
            }
        }
        advanceSearch.NacionalidadSearchType = 0;
        if ($('#ddlAdvanceNacionalidad').val().length > 0 || $("#txtAdvanceNacionalidad").val() == "") {


            if (isDetalle_de_Datos_del_Imputado_CCTextSearch) {
                advanceSearch.NacionalidadName = $("#txtAdvanceNacionalidad").val();
                advanceSearch.NacionalidadNameSearchType = $("#ddlAdvanceNacionalidad").val();
                advanceSearch.NacionalidadSearchType = 1;
            }
            else {

                advanceSearch.NacionalidadToSearch = $("#ddlAdvanceNacionalidad").val();
                advanceSearch.NacionalidadSearchType = 2;
            }
        }
        if ($("#txtAdvanceNombre").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCNombre = $("#txtAdvanceNombre").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCNombreSearchType = $("#ddlAdvanceNombreFilter").val();
        }
        if ($("#txtAdvanceNombre_Completo").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCNombre_Completo = $("#txtAdvanceNombre_Completo").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCNombre_CompletoSearchType = $("#ddlAdvanceNombre_CompletoFilter").val();
        }
        if ($("#txtAdvanceNumero_de_Identificacion").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCNumero_de_Identificacion = $("#txtAdvanceNumero_de_Identificacion").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCNumero_de_IdentificacionSearchType = $("#ddlAdvanceNumero_de_IdentificacionFilter").val();
        }
        if ($("#txtAdvanceNumero_Exterior").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCNumero_Exterior = $("#txtAdvanceNumero_Exterior").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCNumero_ExteriorSearchType = $("#ddlAdvanceNumero_ExteriorFilter").val();
        }
        if ($("#txtAdvanceNumero_Interior").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCNumero_Interior = $("#txtAdvanceNumero_Interior").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCNumero_InteriorSearchType = $("#ddlAdvanceNumero_InteriorFilter").val();
        }
        advanceSearch.OcupacionSearchType = 0;
        if ($('#ddlAdvanceOcupacion').val().length > 0 || $("#txtAdvanceOcupacion").val() == "") {


            if (isDetalle_de_Datos_del_Imputado_CCTextSearch) {
                advanceSearch.OcupacionName = $("#txtAdvanceOcupacion").val();
                advanceSearch.OcupacionNameSearchType = $("#ddlAdvanceOcupacion").val();
                advanceSearch.OcupacionSearchType = 1;
            }
            else {

                advanceSearch.OcupacionToSearch = $("#ddlAdvanceOcupacion").val();
                advanceSearch.OcupacionSearchType = 2;
            }
        }
        if ($("#txtAdvanceOriginario_de").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCOriginario_de = $("#txtAdvanceOriginario_de").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCOriginario_deSearchType = $("#ddlAdvanceOriginario_deFilter").val();
        }
        advanceSearch.PaisSearchType = 0;
        if ($('#ddlAdvancePais').val().length > 0 || $("#txtAdvancePais").val() == "") {


            if (isDetalle_de_Datos_del_Imputado_CCTextSearch) {
                advanceSearch.PaisName = $("#txtAdvancePais").val();
                advanceSearch.PaisNameSearchType = $("#ddlAdvancePais").val();
                advanceSearch.PaisSearchType = 1;
            }
            else {

                advanceSearch.PaisToSearch = $("#ddlAdvancePais").val();
                advanceSearch.PaisSearchType = 2;
            }
        }
        advanceSearch.Pais_de_OrigenSearchType = 0;
        if ($('#ddlAdvancePais_de_Origen').val().length > 0 || $("#txtAdvancePais_de_Origen").val() == "") {


            if (isDetalle_de_Datos_del_Imputado_CCTextSearch) {
                advanceSearch.Pais_de_OrigenName = $("#txtAdvancePais_de_Origen").val();
                advanceSearch.Pais_de_OrigenNameSearchType = $("#ddlAdvancePais_de_Origen").val();
                advanceSearch.Pais_de_OrigenSearchType = 1;
            }
            else {

                advanceSearch.Pais_de_OrigenToSearch = $("#ddlAdvancePais_de_Origen").val();
                advanceSearch.Pais_de_OrigenSearchType = 2;
            }
        }
        if ($("#ddlAdvanceProteccion_de_datos").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCProteccion_de_datos = $("#ddlAdvanceProteccion_de_datos").val();
        }
        if ($("#txtAdvanceReferencia_de_domicilio").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCReferencia_de_domicilio = $("#txtAdvanceReferencia_de_domicilio").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCReferencia_de_domicilioSearchType = $("#ddlAdvanceReferencia_de_domicilioFilter").val();
        }
        advanceSearch.GeneroSearchType = 0;
        if ($('#ddlAdvanceGenero').val().length > 0 || $("#txtAdvanceGenero").val() == "") {


            if (isDetalle_de_Datos_del_Imputado_CCTextSearch) {
                advanceSearch.GeneroName = $("#txtAdvanceGenero").val();
                advanceSearch.GeneroNameSearchType = $("#ddlAdvanceGenero").val();
                advanceSearch.GeneroSearchType = 1;
            }
            else {

                advanceSearch.GeneroToSearch = $("#ddlAdvanceGenero").val();
                advanceSearch.GeneroSearchType = 2;
            }
        }
        if ($("#txtAdvanceTelefono").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCTelefono = $("#txtAdvanceTelefono").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCTelefonoSearchType = $("#ddlAdvanceTelefonoFilter").val();
        }
        advanceSearch.Tipo_de_IdentificacionSearchType = 0;
        if ($('#ddlAdvanceTipo_de_Identificacion').val().length > 0 || $("#txtAdvanceTipo_de_Identificacion").val() == "") {


            if (isDetalle_de_Datos_del_Imputado_CCTextSearch) {
                advanceSearch.Tipo_de_IdentificacionName = $("#txtAdvanceTipo_de_Identificacion").val();
                advanceSearch.Tipo_de_IdentificacionNameSearchType = $("#ddlAdvanceTipo_de_Identificacion").val();
                advanceSearch.Tipo_de_IdentificacionSearchType = 1;
            }
            else {

                advanceSearch.Tipo_de_IdentificacionToSearch = $("#ddlAdvanceTipo_de_Identificacion").val();
                advanceSearch.Tipo_de_IdentificacionSearchType = 2;
            }
        }
        if ($("#txtAdvanceY_calle").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Datos_del_Imputado_CCY_calle = $("#txtAdvanceY_calle").val();
            advanceSearch.Detalle_de_Datos_del_Imputado_CCY_calleSearchType = $("#ddlAdvanceY_calleFilter").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblDetalle_de_Datos_del_Imputado_CC').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isDetalle_de_Datos_del_Imputado_CCTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceColonia").keypress(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = true;
            $("#ddlAdvanceColonia").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceColonia").change(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = false;
            $("#txtAdvanceColonia").val('');
        });
        $("#txtAdvanceEstado").keypress(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = true;
            $("#ddlAdvanceEstado").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEstado").change(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = false;
            $("#txtAdvanceEstado").val('');
        });
        $("#txtAdvanceEstado_Civil").keypress(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = true;
            $("#ddlAdvanceEstado_Civil").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEstado_Civil").change(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = false;
            $("#txtAdvanceEstado_Civil").val('');
        });
        $("#txtAdvanceTipo_de_Inimputabilidad").keypress(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = true;
            $("#ddlAdvanceTipo_de_Inimputabilidad").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTipo_de_Inimputabilidad").change(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = false;
            $("#txtAdvanceTipo_de_Inimputabilidad").val('');
        });
        $("#txtAdvanceMunicipio").keypress(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = true;
            $("#ddlAdvanceMunicipio").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceMunicipio").change(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = false;
            $("#txtAdvanceMunicipio").val('');
        });
        $("#txtAdvanceNacionalidad").keypress(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = true;
            $("#ddlAdvanceNacionalidad").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceNacionalidad").change(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = false;
            $("#txtAdvanceNacionalidad").val('');
        });
        $("#txtAdvanceOcupacion").keypress(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = true;
            $("#ddlAdvanceOcupacion").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceOcupacion").change(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = false;
            $("#txtAdvanceOcupacion").val('');
        });
        $("#txtAdvancePais").keypress(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = true;
            $("#ddlAdvancePais").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancePais").change(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = false;
            $("#txtAdvancePais").val('');
        });
        $("#txtAdvancePais_de_Origen").keypress(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = true;
            $("#ddlAdvancePais_de_Origen").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancePais_de_Origen").change(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = false;
            $("#txtAdvancePais_de_Origen").val('');
        });
        $("#txtAdvanceGenero").keypress(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = true;
            $("#ddlAdvanceGenero").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceGenero").change(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = false;
            $("#txtAdvanceGenero").val('');
        });
        $("#txtAdvanceTipo_de_Identificacion").keypress(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = true;
            $("#ddlAdvanceTipo_de_Identificacion").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTipo_de_Identificacion").change(function () {
            isDetalle_de_Datos_del_Imputado_CCTextSearch = false;
            $("#txtAdvanceTipo_de_Identificacion").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

