@model Spartane.Web.Models.LoginViewModel

@{
    Layout = null;
    ViewBag.Title = Resources.LoginResources.SpartanLogin;
}
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <title>PORTAL CIUDADANO | FGE-SINALOA</title>
    <!-- CSS Files -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/style-red.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <script src="~/Scripts/plugins/toastr/toastr.min.js"></script>
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />

    <!-- CSS File Portal Ciudadano -->
    <link href="~/Content/portal-ciudadano.css" rel="stylesheet">
    <link href="~/Content/fontello.css" rel="stylesheet">

    <!-- JS Files -->
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body class="login">
    <div class="row" style="height: 100%;">
        <div id="galeria" class="col-xs-12 col-md-6 col-lg-5" style="padding: 0;">

            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 100%;">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Images/login-gallery/login-01.jpg" class="img-responsive">
                    </div>

                    <div class="item">
                        <img src="~/Images/login-gallery/login-02.jpg" class="img-responsive">
                    </div>

                    <div class="item">
                        <img src="~/Images/login-gallery/login-03.jpg" class="img-responsive">
                    </div>

                    <div class="item">
                        <img src="~/Images/login-gallery/login-04.jpg" class="img-responsive">
                    </div>

                    <div class="item">
                        <img src="~/Images/login-gallery/login-05.jpg" class="img-responsive">
                    </div>

                    <div class="item">
                        <img src="~/Images/login-gallery/login-06.jpg" class="img-responsive">
                    </div>

                    <div class="item">
                        <img src="~/Images/login-gallery/login-07.jpg" class="img-responsive">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-7">
            <center>
                <div>
                    @if (ViewBag.VersionError != null && ViewBag.VersionError != "")
                    {
                        <div class="alert alert-danger" role="alert">@Html.Raw(ViewBag.VersionError)</div>
                    }
                </div>
            </center>
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 align-v">
                <div class="row">
                    <img class="logo-fiscalia" src="~/Images/logotipos/fiscalia200px.png" alt="Logotipo Fiscalia Sinaloa">
                    <img class="logo-saproj" src="~/Images/logotipos/saproj200px.png" alt="Logotipo SAPROJ">

                    <!-- <img class="login-logos" src="~/Images/logotipos/powered200px.png" alt="Logotipo Totaltech"> -->
                </div>


                <div class="row">
                    <h1>Iniciar Sesión</h1>
                    <p>La denuncia es tu derecho. Es obligatorio para realizar tu denuncia estar registrado. </p>
                </div>

                <div>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.urlToRedirect }, FormMethod.Post, new { id = "myform", @class = "form-horizontal ", role = "form" }))
                    {

                        @Html.ValidationSummary(true)
                        if (Model.FailedAttempts > 1)
                        {
                            <span>Le restan @(Model.MaxFailedAttempts + 1 - Model.FailedAttempts) intentos para acceder</span>
                        }
                        <input id="FailedAttempts" name="FailedAttempts" type="hidden" value="@Model.FailedAttempts" />
                        <input id="MaxFailedAttempts" name="MaxFailedAttempts" type="hidden" value="@Model.MaxFailedAttempts" />
                        <div class="form-group" style="margin-bottom: 0">
                            @Html.TextBoxFor(m => m.UserName, new { id = "username", @class = "form-control ", @placeholder = "Nombre de usuario.." })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { id = "password", @class = "form-control ", @placeholder = "Contraseña.." })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>

                        <div class="form-group text-default" style="color:#000; display:none">
                            @{
                                //int defaultSelectedLanguageId = (Model.LanguageList.Where(x => x.Initial == true).Count() > 0 ? Model.LanguageList.Where(x => x.Initial == true).FirstOrDefault().System_Language_Id : 0);
                                // change below line code once we get culture from api
                                int defaultSelectedLanguageId = (UICulture.ToLowerInvariant() == "es-es" ? 2 : 1);
                                //Model.SelectedLanguage = defaultSelectedLanguageId;
                            }
                            @Html.DropDownListFor(m => m.SelectedLanguage, new SelectList(Model.LanguageList, "System_Language_Id", "Language", defaultSelectedLanguageId), new { @class = "Select form-control hidden", @onchange = "changeLanguage(this)" })
                        </div>

                        <div class="row">
                            <input type="button" id="btnLogin" value="Iniciar sesión" class="btn-iniciarS" />
                            <input type="button" value="Registrarme" id="Registrarme" class="btn-registrarme">

                            <p class="link-pass"><a onclick="ShowForgotPassword()" href="#">Olvidé mi contraseña</a></p>
                        </div>

                        <div class="row text-center">
                            <img class="logo-tt" src="~/Images/logotipos/powered200px.png" alt="Logotipo Totaltech">
                        </div>

                        if (System.Configuration.ConfigurationManager.AppSettings["VersionApp"] != null)
                        {
                            <br />
                            <span class="version">@Resources.Resources.Version @System.Configuration.ConfigurationManager.AppSettings["VersionApp"].ToString()</span>
                        }

                    }

                </div>
            </div>
        </div>

    </div>
    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

    <div aria-hidden="true" class="modal fade in DisplayLogin" id="modal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
        @Html.Partial("ForgotPassword2", new Spartane.Web.Models.ForgotPasswordViewModel())
    </div>

    <div aria-hidden="true" class="modal fade in" id="modal-form-changepwd" style="display: none; background-color:rgba(0, 0, 0, 0.7);">

    </div>

    <script type="text/javascript">
        $('.DisplayLogin').hide();
        $('#modal-form-changepwd').hide();
        $(document).keypress(function (e) {
			if (e.which == 13 && $('#modal-form-changepwd').css('display') == 'none') {
                $('#btnLogin').click();
            }
        });
        $(document).ready(function () {

            $('#btnLogin').click(function () {
            $.ajax({
                url: '@Url.Action("ValidateLogin", "Account")',
                type: 'POST',
                data: {
                    username: $('#username').val(),
                    password: $('#password').val()
                },
                cache: false,
                dataType: "json",
                async: false,
                success: function (result) {
                    if (result.valor == 2) {
                        $('form').submit();
                    }
                    else {
                        if (result.valor == 1) {
                            $('#modal-form-changepwd').load('@Url.Action("ChangePassword", "Account")');
                            $('#modal-form-changepwd').show();
                        }
                        else {
                            $('#myform').submit();
                        }
                    }
                },
                error: function (result) {
                    showNotification("Error desconocido", "error");
                }
            });
            });

			 $('#Registrarme').click(function () {
                $.ajax({
                    url: '@Url.Action("ValidateLogin2", "Account")',
                    type: 'POST',
                    data: {
                        username: $('#username').val(),
                        password: $('#password').val()
                    },
                    cache: false,
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        debugger;
                        window.location = result.valor;
                    },
                    error: function (result) {
                        showNotification("Error desconocido", "error");
                    }
                });
            });


        });

        function changeLanguage(element) {
            $.post('@Url.Action("ChangeLanguagePC", "Account")', { culture: $(element).val() }, function (data) {
                window.location.href = '@Url.Action("LoginPC", "Account")';
            });
        }
        function ShowForgotPassword() {
            $('.DisplayLogin').show();
        }
        function EvaluaQuery(query) {
            var res = '';
            var data = {
                query: query
            }
            $.ajax({
                url: "/Frontal/General/ExecuteQueryTable",
                type: 'POST',
                cache: false,
                dataType: "json",
                async: false,
                data: data,
                success: function (result) {
                    alert(result);
                },
                error: function (result) {

                }
            });
        }
		 //Notif Main function
        function showNotification(message, type) {
            switch (type) {
                case "success":
                    toastr.success(message, '');
                    break;
                case "warning":
                    toastr.warning(message, '');
                    break;
                case "error":
                    toastr.error(message, '');
                    break;
            }
            //$.notify(message, type);
        }

    </script>
    @if (Session["BlockUser"] != null && Convert.ToBoolean(Session["BlockUser"]))
    {
        <script>
            showNotification('Su usuario ha sido bloqueado, por favor contactese con el Administrador', "error");
        </script>
    }
</body>
</html>

