@model IList<Spartane.Web.Areas.Frontal.Models.Solicitud_de_Servicios_de_ApoyoGridModel>

@{
    var rowCounter = 0;
}

<style>
    .table {
        width: 100%;
        border: 1px solid #cccccc;
        font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        /*border-collapse: separate !important;*/
        font-size: 13px;
    }

        .table td {
            padding: 2px;
            border:1px solid #cccccc;
        }

    .table tr:nth-of-type(2n+1) {
        background-color: #f9f9f9;
    }

        .table tr:nth-of-type(2n) {
            background-color: #8da0c2;
        }

    .table-row-1 td, .table-row-1 th {
    }

    .table-row-2 td, .table-row-2 th, thead {
    }

    .tableHeaderRow {
        font-weight: bold;
        border: 1px solid #ff6a00;
    }

    .column1 {
        width: 15%;
    }

    .column2 {
        width: 15%;
    }
</style>
<br />
<body onbeforeprint="ocultarcolumnas();">
 <span id="columnsVisible"></span>
<table class="table" cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Folio
            </td>
                        <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Folio
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Fecha_de_Solicitud
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Hora_de_Solicitud
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Usuario_que_Solicita
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Region
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Origen
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Numero_de_Expediente_AT
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Diligencia_AT
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Numero_de_Expediente_MP
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Diligencia_MP
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.NUAT
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Numero_de_Denuncia
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Carpeta_de_Investigacion
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Numero_de_Oficio
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Solicitud
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Solicitud_de_Apoyo_Externa
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Solicitud_Externa
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Autoridad_que_Solicita
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Narracion_Solicitud
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Ver_Documento
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Observaciones
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Estatus
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Fecha_de_Recepcion
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Hora_de_Recepcion
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Usuario_que_Recibe
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Area_Asignada
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.SubArea_Asignada
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Observaciones_Recepcion
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Fecha_de_Asignacion
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Hora_de_Asignacion
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Usuario_que_Asigna
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Tipo_de_Asignacion
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Responsable_Asignado
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Observaciones_Asignacion
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Fecha_de_Contestacion
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Hora_de_Contestacion
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Usuario_que_contesta
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Dictamen
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.numero_contestacion
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Enviar_Contestacion
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Archivo
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Observaciones_Contestacion
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Fecha_de_Revision
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Hora_de_Revision
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Usuario_que_Revisa
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Resultado_de_Autorizacion
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Motivo_de_Rechazo
            </td>
            <td class="column1">
                @Resources.Solicitud_de_Servicios_de_ApoyoResources.Observaciones_Autorizacion
            </td>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {                
                <tr>
                    <td>
                        @item.Folio
                    </td>
					                    <td>
                        @item.Folio
                    </td>
                    <td>
                        @item.Fecha_de_Solicitud
                    </td>
                    <td>
                        @item.Hora_de_Solicitud
                    </td>
                    <td>
                        @item.Usuario_que_Solicita
                    </td>
                    <td>
                        @item.RegionDescripcion
                    </td>
                    <td>
                        @item.OrigenDescripcion
                    </td>
                    <td>
                        @item.Numero_de_Expediente_AT
                    </td>
                    <td>
                        @item.Diligencia_AT
                    </td>
                    <td>
                        @item.Numero_de_Expediente_MP
                    </td>
                    <td>
                        @item.Diligencia_MP
                    </td>
                    <td>
                        @item.NUAT
                    </td>
                    <td>
                        @item.Numero_de_Denuncia
                    </td>
                    <td>
                        @item.Carpeta_de_Investigacion
                    </td>
                    <td>
                        @item.Numero_de_Oficio
                    </td>
                    <td>
                        @item.Solicitud
                    </td>
                    <td>
                        @item.Solicitud_de_Apoyo_Externa
                    </td>
                    <td>
                        @item.Solicitud_Externa
                    </td>
                    <td>
                        @item.Autoridad_que_SolicitaDescripcion
                    </td>
                    <td>
                        @item.Narracion_Solicitud
                    </td>
                    <td>
                        @item.Ver_Documento
                    </td>
                    <td>
                        @item.Observaciones
                    </td>
                    <td>
                        @item.EstatusDescripcion
                    </td>
                    <td>
                        @item.Fecha_de_Recepcion
                    </td>
                    <td>
                        @item.Hora_de_Recepcion
                    </td>
                    <td>
                        @item.Usuario_que_Recibe
                    </td>
                    <td>
                        @item.Area_AsignadaDescripcion
                    </td>
                    <td>
                        @item.SubArea_AsignadaDescripcion
                    </td>
                    <td>
                        @item.Observaciones_Recepcion
                    </td>
                    <td>
                        @item.Fecha_de_Asignacion
                    </td>
                    <td>
                        @item.Hora_de_Asignacion
                    </td>
                    <td>
                        @item.Usuario_que_Asigna
                    </td>
                    <td>
                        @item.Tipo_de_AsignacionDescripcion
                    </td>
                    <td>
                        @item.Responsable_Asignado
                    </td>
                    <td>
                        @item.Observaciones_Asignacion
                    </td>
                    <td>
                        @item.Fecha_de_Contestacion
                    </td>
                    <td>
                        @item.Hora_de_Contestacion
                    </td>
                    <td>
                        @item.Usuario_que_contesta
                    </td>
                    <td>
                        @item.Dictamen
                    </td>
                    <td>
                        @item.numero_contestacion
                    </td>
                    <td>
                        @item.Enviar_Contestacion
                    </td>
                    <td>
                        @item.Archivo
                    </td>
                    <td>
                        @item.Observaciones_Contestacion
                    </td>
                    <td>
                        @item.Fecha_de_Revision
                    </td>
                    <td>
                        @item.Hora_de_Revision
                    </td>
                    <td>
                        @item.Usuario_que_Revisa
                    </td>
                    <td>
                        @item.Resultado_de_AutorizacionDescripcion
                    </td>
                    <td>
                        @item.Motivo_de_Rechazo
                    </td>
                    <td>
                        @item.Observaciones_Autorizacion
                    </td>

                </tr>
                rowCounter++;
            }
        }
    </tbody>
</table>
</body>

<script>
    function ocultarcolumnas() {        
        var arr = document.getElementById('columnsVisible').text.split(',');
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == "false") {
                show_hide_column(i-1, false);
            }
        }    
    };

    function show_hide_column(col_no, do_show) {
        var rows = document.getElementsByClassName('table')[0].rows;
        for (var row = 0; row < rows.length; row++) {
            var cols = rows[row].cells;
            if (col_no >= 0 && col_no < cols.length) {
                console.log(col_no);
                cols[col_no].style.display = do_show ? '' : 'none';
            }
        }
    }
</script>

