@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Solicitud_de_Servicios_de_ApoyoModel
@{
    Spartane_File attachedFileVer_Documento = (Spartane_File)ViewBag.Ver_DocumentoSpartane_File;

    string Fecha_de_Solicitud = "";
    if (Model.Fecha_de_Solicitud == "")
    { Model.Fecha_de_Solicitud = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_de_Recepcion = "";
    if (Model.Fecha_de_Recepcion == "")
    { Model.Fecha_de_Recepcion = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_de_Asignacion = "";
    if (Model.Fecha_de_Asignacion == "")
    { Model.Fecha_de_Asignacion = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_de_Contestacion = "";
    if (Model.Fecha_de_Contestacion == "")
    { Model.Fecha_de_Contestacion = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_de_Revision = "";
    if (Model.Fecha_de_Revision == "")
    { Model.Fecha_de_Revision = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

    List<SelectListItem> varTipo_de_Servicio_de_Apoyo_Tipo_de_Servicio = null;
    if (ViewBag.Tipo_de_Servicio_de_Apoyos_Tipo_de_Servicio != null)
    { varTipo_de_Servicio_de_Apoyo_Tipo_de_Servicio = (List<SelectListItem>)ViewBag.Tipo_de_Servicio_de_Apoyos_Tipo_de_Servicio; }
    List<SelectListItem> varCompareciente_Compareciente = null;
    if (ViewBag.Comparecientes_Compareciente != null)
    { varCompareciente_Compareciente = (List<SelectListItem>)ViewBag.Comparecientes_Compareciente; }
    List<SelectListItem> varSpartan_User_Usuario_que_Solicita = null;
    if (ViewBag.Spartan_Users_Usuario_que_Solicita != null)
    { varSpartan_User_Usuario_que_Solicita = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Solicita; }
    List<SelectListItem> varRegion_Region = null;
    if (ViewBag.Regions_Region != null)
    { varRegion_Region = (List<SelectListItem>)ViewBag.Regions_Region; }
    List<SelectListItem> varOrigen_de_Invitacion_Origen = null;
    if (ViewBag.Origen_de_Invitacions_Origen != null)
    { varOrigen_de_Invitacion_Origen = (List<SelectListItem>)ViewBag.Origen_de_Invitacions_Origen; }
    List<SelectListItem> varModulo_Atencion_Inicial_Numero_de_Expediente_AT = null;
    if (ViewBag.Modulo_Atencion_Inicials_Numero_de_Expediente_AT != null)
    { varModulo_Atencion_Inicial_Numero_de_Expediente_AT = (List<SelectListItem>)ViewBag.Modulo_Atencion_Inicials_Numero_de_Expediente_AT; }
    List<SelectListItem> varexpediente_ministerio_publico_Numero_de_Expediente_MP = null;
    if (ViewBag.expediente_ministerio_publicos_Numero_de_Expediente_MP != null)
    { varexpediente_ministerio_publico_Numero_de_Expediente_MP = (List<SelectListItem>)ViewBag.expediente_ministerio_publicos_Numero_de_Expediente_MP; }
    List<SelectListItem> varDocumento_Solicitud = null;
    if (ViewBag.Documentos_Solicitud != null)
    { varDocumento_Solicitud = (List<SelectListItem>)ViewBag.Documentos_Solicitud; }
    List<SelectListItem> varEstatus_de_Solicitud_de_Apoyo_Estatus = null;
    if (ViewBag.Estatus_de_Solicitud_de_Apoyos_Estatus != null)
    { varEstatus_de_Solicitud_de_Apoyo_Estatus = (List<SelectListItem>)ViewBag.Estatus_de_Solicitud_de_Apoyos_Estatus; }
    List<SelectListItem> varSpartan_User_Usuario_que_Recibe = null;
    if (ViewBag.Spartan_Users_Usuario_que_Recibe != null)
    { varSpartan_User_Usuario_que_Recibe = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Recibe; }
    List<SelectListItem> varArea_de_Servicios_de_Apoyo_Area_Asignada = null;
    if (ViewBag.Area_de_Servicios_de_Apoyos_Area_Asignada != null)
    { varArea_de_Servicios_de_Apoyo_Area_Asignada = (List<SelectListItem>)ViewBag.Area_de_Servicios_de_Apoyos_Area_Asignada; }
    List<SelectListItem> varSubArea_de_Servicios_de_Apoyo_SubArea_Asignada = null;
    if (ViewBag.SubArea_de_Servicios_de_Apoyos_SubArea_Asignada != null)
    { varSubArea_de_Servicios_de_Apoyo_SubArea_Asignada = (List<SelectListItem>)ViewBag.SubArea_de_Servicios_de_Apoyos_SubArea_Asignada; }
    List<SelectListItem> varSpartan_User_Usuario_que_Asigna = null;
    if (ViewBag.Spartan_Users_Usuario_que_Asigna != null)
    { varSpartan_User_Usuario_que_Asigna = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Asigna; }
    List<SelectListItem> varTipo_de_Asignacion_de_Apoyo_Tipo_de_Asignacion = null;
    if (ViewBag.Tipo_de_Asignacion_de_Apoyos_Tipo_de_Asignacion != null)
    { varTipo_de_Asignacion_de_Apoyo_Tipo_de_Asignacion = (List<SelectListItem>)ViewBag.Tipo_de_Asignacion_de_Apoyos_Tipo_de_Asignacion; }
    List<SelectListItem> varSpartan_User_Responsable_Asignado = null;
    if (ViewBag.Spartan_Users_Responsable_Asignado != null)
    { varSpartan_User_Responsable_Asignado = (List<SelectListItem>)ViewBag.Spartan_Users_Responsable_Asignado; }
    List<SelectListItem> varSpartan_User_Usuario_que_contesta = null;
    if (ViewBag.Spartan_Users_Usuario_que_contesta != null)
    { varSpartan_User_Usuario_que_contesta = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_contesta; }
    List<SelectListItem> varDocumento_Dictamen = null;
    if (ViewBag.Documentos_Dictamen != null)
    { varDocumento_Dictamen = (List<SelectListItem>)ViewBag.Documentos_Dictamen; }
    List<SelectListItem> varSpartan_User_Usuario_que_Revisa = null;
    if (ViewBag.Spartan_Users_Usuario_que_Revisa != null)
    { varSpartan_User_Usuario_que_Revisa = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Revisa; }
    List<SelectListItem> varResultado_de_Revision_Resultado_de_Autorizacion = null;
    if (ViewBag.Resultado_de_Revisions_Resultado_de_Autorizacion != null)
    { varResultado_de_Revision_Resultado_de_Autorizacion = (List<SelectListItem>)ViewBag.Resultado_de_Revisions_Resultado_de_Autorizacion; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Solicitud de Servicios de Apoyo
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Solicitud_de_Servicios_de_ApoyoRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Solicitud_de_Servicios_de_ApoyoPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Solicitud de Servicios de Apoyo
								<button onclick="Solicitud_de_Servicios_de_ApoyoGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Solicitud_de_Servicios_de_ApoyoBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Solicitud_de_Servicios_de_ApoyoResources.Solicitud_de_Servicios_de_Apoyo</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Solicitud_de_Servicios_de_ApoyoDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Solicitud_de_Servicios_de_ApoyoPropertyBusinessModal" id="Solicitud_de_Servicios_de_ApoyoPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Solicitud_de_Servicios_de_ApoyoBusinessRule-form" onclick="Solicitud_de_Servicios_de_ApoyoGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Solicitud_de_Servicios_de_ApoyoPropertyModal" id="Solicitud_de_Servicios_de_ApoyoPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Solicitud_de_Servicios_de_ApoyoBusinessRuleModal" id="Solicitud_de_Servicios_de_ApoyoBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Solicitud_de_Servicios_de_ApoyoAddBusinessRuleModal" id="Solicitud_de_Servicios_de_ApoyoAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Solicitud_de_Servicios_de_Apoyo", FormMethod.Post, new { id = "CreateSolicitud_de_Servicios_de_Apoyo", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Solicitud_de_Servicios_de_ApoyoCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="263280" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Clave">
                                    <label class="form-control" for="Solicitud_de_Servicios_de_ApoyoClave" id="Solicitud_de_Servicios_de_ApoyoClave">@Model.Clave</label>
                                </div>
                            </div>
<div class="form-group" id="divTipo_de_Servicio">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Tipo_de_Servicio</label>
	<div class="col-sm-8" data-field-id="Tipo_de_Servicio" data-attribute="263282" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Tipo_de_Servicio">
		<select class="form-control" data-val="true" data-val-number="The field Tipo de Servicio must be a number." data-val-required="The Tipo de Servicio field is required." id="Solicitud_de_Servicios_de_ApoyoTipo_de_Servicio" name="Solicitud_de_Servicios_de_ApoyoTipo_de_Servicio">
			<option value=""></option>
			@if (varTipo_de_Servicio_de_Apoyo_Tipo_de_Servicio != null){ 
				foreach (var itemTipo_de_Servicio in varTipo_de_Servicio_de_Apoyo_Tipo_de_Servicio)
				{
					if (itemTipo_de_Servicio.Value == Convert.ToString(Model.Tipo_de_Servicio))
					{
						<option value="@itemTipo_de_Servicio.Value" selected>@itemTipo_de_Servicio.Text</option>
					}
					else
					{
						<option value="@itemTipo_de_Servicio.Value">@itemTipo_de_Servicio.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divResponsable">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Responsable</label>
                                <div class="col-sm-8" data-field-id="Responsable" data-attribute="263284" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Responsable">
                                    <input class="form-control" id="Solicitud_de_Servicios_de_ApoyoResponsable" name="Solicitud_de_Servicios_de_ApoyoResponsable" type="text" value="@Model.Responsable">
                                </div>
                            </div>
<div class="form-group" id="divClave_MR">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Clave_MR</label>
	<div class="col-sm-8" data-field-id="Clave_MR" data-attribute="263285" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Clave_MR">
		<input class="form-control inputNumber" id="Solicitud_de_Servicios_de_ApoyoClave_MR" name="Solicitud_de_Servicios_de_ApoyoClave_MR" type="text" value="@Model.Clave_MR">
	</div>
</div>
<div class="form-group" id="divCompareciente">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Compareciente</label>
	<div class="col-sm-8" data-field-id="Compareciente" data-attribute="263286" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Compareciente">
		<select class="form-control" data-val="true" data-val-number="The field Compareciente must be a number." data-val-required="The Compareciente field is required." id="Solicitud_de_Servicios_de_ApoyoCompareciente" name="Solicitud_de_Servicios_de_ApoyoCompareciente">
			<option value=""></option>
			@if (varCompareciente_Compareciente != null){ 
				foreach (var itemCompareciente in varCompareciente_Compareciente)
				{
					if (itemCompareciente.Value == Convert.ToString(Model.Compareciente))
					{
						<option value="@itemCompareciente.Value" selected>@itemCompareciente.Text</option>
					}
					else
					{
						<option value="@itemCompareciente.Value">@itemCompareciente.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divFecha_de_Solicitud">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Fecha_de_Solicitud</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Solicitud" data-attribute="272986" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Fecha_de_Solicitud">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Solicitud_de_Servicios_de_ApoyoFecha_de_Solicitud" readonly="readonly" name="Solicitud_de_Servicios_de_ApoyoFecha_de_Solicitud" type="text" value="@Model.Fecha_de_Solicitud">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divHora_de_Solicitud">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Hora_de_Solicitud</label>
                                <div class="col-sm-8" data-field-id="Hora_de_Solicitud" data-attribute="272987" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Hora_de_Solicitud">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12" id="Solicitud_de_Servicios_de_ApoyoHora_de_Solicitud" readonly="readonly" name="Solicitud_de_Servicios_de_ApoyoHora_de_Solicitud" type="text" data-autoclose="true" value="@Model.Hora_de_Solicitud">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divUsuario_que_Solicita">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Usuario_que_Solicita</label>
	<div class="col-sm-8" data-field-id="Usuario_que_Solicita" data-attribute="272988" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Usuario_que_Solicita">
		<select class="form-control" data-val="true" data-val-number="The field Usuario que Solicita must be a number." data-val-required="The Usuario que Solicita field is required." id="Solicitud_de_Servicios_de_ApoyoUsuario_que_Solicita" name="Solicitud_de_Servicios_de_ApoyoUsuario_que_Solicita">
			<option value=""></option>
			@if (varSpartan_User_Usuario_que_Solicita != null){ 
				foreach (var itemUsuario_que_Solicita in varSpartan_User_Usuario_que_Solicita)
				{
					if (itemUsuario_que_Solicita.Value == Convert.ToString(Model.Usuario_que_Solicita))
					{
						<option value="@itemUsuario_que_Solicita.Value" selected>@itemUsuario_que_Solicita.Text</option>
					}
					else
					{
						<option value="@itemUsuario_que_Solicita.Value">@itemUsuario_que_Solicita.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divRegion">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Region</label>
	<div class="col-sm-8" data-field-id="Region" data-attribute="273132" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Region">
		<select class="form-control" data-val="true" data-val-number="The field Región must be a number." data-val-required="The Región field is required." id="Solicitud_de_Servicios_de_ApoyoRegion" name="Solicitud_de_Servicios_de_ApoyoRegion">
			<option value=""></option>
			@if (varRegion_Region != null){ 
				foreach (var itemRegion in varRegion_Region)
				{
					if (itemRegion.Value == Convert.ToString(Model.Region))
					{
						<option value="@itemRegion.Value" selected>@itemRegion.Text</option>
					}
					else
					{
						<option value="@itemRegion.Value">@itemRegion.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divOrigen">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Origen</label>
	<div class="col-sm-8" data-field-id="Origen" data-attribute="272989" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Origen">
		<select class="form-control" data-val="true" data-val-number="The field Origen must be a number." data-val-required="The Origen field is required." id="Solicitud_de_Servicios_de_ApoyoOrigen" name="Solicitud_de_Servicios_de_ApoyoOrigen">
			<option value=""></option>
			@if (varOrigen_de_Invitacion_Origen != null){ 
				foreach (var itemOrigen in varOrigen_de_Invitacion_Origen)
				{
					if (itemOrigen.Value == Convert.ToString(Model.Origen))
					{
						<option value="@itemOrigen.Value" selected>@itemOrigen.Text</option>
					}
					else
					{
						<option value="@itemOrigen.Value">@itemOrigen.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divNumero_de_Expediente_AT">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Numero_de_Expediente_AT</label>
	<div class="col-sm-8" data-field-id="Numero_de_Expediente_AT" data-attribute="272990" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Numero_de_Expediente_AT">
		<select class="form-control" data-val="true" data-val-number="The field Número de Expediente AT must be a number." data-val-required="The Número de Expediente AT field is required." id="Solicitud_de_Servicios_de_ApoyoNumero_de_Expediente_AT" name="Solicitud_de_Servicios_de_ApoyoNumero_de_Expediente_AT">
			<option value=""></option>
			@if (varModulo_Atencion_Inicial_Numero_de_Expediente_AT != null){ 
				foreach (var itemNumero_de_Expediente_AT in varModulo_Atencion_Inicial_Numero_de_Expediente_AT)
				{
					if (itemNumero_de_Expediente_AT.Value == Convert.ToString(Model.Numero_de_Expediente_AT))
					{
						<option value="@itemNumero_de_Expediente_AT.Value" selected>@itemNumero_de_Expediente_AT.Text</option>
					}
					else
					{
						<option value="@itemNumero_de_Expediente_AT.Value">@itemNumero_de_Expediente_AT.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divNumero_de_Expediente_MP">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Numero_de_Expediente_MP</label>
	<div class="col-sm-8" data-field-id="Numero_de_Expediente_MP" data-attribute="272991" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Numero_de_Expediente_MP">
		<select class="form-control" data-val="true" data-val-number="The field Número de Expediente MP must be a number." data-val-required="The Número de Expediente MP field is required." id="Solicitud_de_Servicios_de_ApoyoNumero_de_Expediente_MP" name="Solicitud_de_Servicios_de_ApoyoNumero_de_Expediente_MP">
			<option value=""></option>
			@if (varexpediente_ministerio_publico_Numero_de_Expediente_MP != null){ 
				foreach (var itemNumero_de_Expediente_MP in varexpediente_ministerio_publico_Numero_de_Expediente_MP)
				{
					if (itemNumero_de_Expediente_MP.Value == Convert.ToString(Model.Numero_de_Expediente_MP))
					{
						<option value="@itemNumero_de_Expediente_MP.Value" selected>@itemNumero_de_Expediente_MP.Text</option>
					}
					else
					{
						<option value="@itemNumero_de_Expediente_MP.Value">@itemNumero_de_Expediente_MP.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divNUAT">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.NUAT</label>
                                <div class="col-sm-8" data-field-id="NUAT" data-attribute="272992" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.NUAT">
                                    <input class="form-control" id="Solicitud_de_Servicios_de_ApoyoNUAT" name="Solicitud_de_Servicios_de_ApoyoNUAT" type="text" value="@Model.NUAT">
                                </div>
                            </div>
<div class="form-group" id="divNumero_de_Denuncia">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Numero_de_Denuncia</label>
                                <div class="col-sm-8" data-field-id="Numero_de_Denuncia" data-attribute="272993" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Numero_de_Denuncia">
                                    <input class="form-control" id="Solicitud_de_Servicios_de_ApoyoNumero_de_Denuncia" name="Solicitud_de_Servicios_de_ApoyoNumero_de_Denuncia" type="text" value="@Model.Numero_de_Denuncia">
                                </div>
                            </div>
<div class="form-group" id="divCarpeta_de_Investigacion">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Carpeta_de_Investigacion</label>
                                <div class="col-sm-8" data-field-id="Carpeta_de_Investigacion" data-attribute="272994" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Carpeta_de_Investigacion">
                                    <input class="form-control" id="Solicitud_de_Servicios_de_ApoyoCarpeta_de_Investigacion" name="Solicitud_de_Servicios_de_ApoyoCarpeta_de_Investigacion" type="text" value="@Model.Carpeta_de_Investigacion">
                                </div>
                            </div>
<div class="form-group" id="divNumero_de_Oficio">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Numero_de_Oficio</label>
                                <div class="col-sm-8" data-field-id="Numero_de_Oficio" data-attribute="272995" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Numero_de_Oficio">
                                    <input class="form-control" id="Solicitud_de_Servicios_de_ApoyoNumero_de_Oficio" name="Solicitud_de_Servicios_de_ApoyoNumero_de_Oficio" type="text" value="@Model.Numero_de_Oficio">
                                </div>
                            </div>
<div class="form-group" id="divSolicitud">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Solicitud</label>
	<div class="col-sm-8" data-field-id="Solicitud" data-attribute="272996" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Solicitud">
		<select class="form-control" data-val="true" data-val-number="The field Solicitud must be a number." data-val-required="The Solicitud field is required." id="Solicitud_de_Servicios_de_ApoyoSolicitud" name="Solicitud_de_Servicios_de_ApoyoSolicitud">
			<option value=""></option>
			@if (varDocumento_Solicitud != null){ 
				foreach (var itemSolicitud in varDocumento_Solicitud)
				{
					if (itemSolicitud.Value == Convert.ToString(Model.Solicitud))
					{
						<option value="@itemSolicitud.Value" selected>@itemSolicitud.Text</option>
					}
					else
					{
						<option value="@itemSolicitud.Value">@itemSolicitud.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
@if (attachedFileVer_Documento != null && attachedFileVer_Documento.File_Id > 0)
                            {
                                <div class="form-group" id="divAttachmentVer_Documento">
                                    <label class="col-sm-2 control-label">Previously Attached File</label>
                                    <div class="col-sm-8" data-field-id="Ver_Documento" data-attribute="272997" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Ver_Documento">
                                        <a href="@Url.Content("~/Frontal/Solicitud_de_Servicios_de_Apoyo/GetFile")?id=@attachedFileVer_Documento.File_Id" target="_blank">@attachedFileVer_Documento.Description</a>
                                        <img src="@Url.Content("~/Content/Images/RemoveAttachment.png")" onclick="RemoveAttachmentMainVer_Documento('@attachedFileVer_Documento.File_Id')" />
                                    </div>
                                    <input id="hdnRemoveVer_Documento" name="RemoveVer_Documento" value="0" type="hidden" />
                                    <input class="form-control col-md-12" id="hdnAttachedVer_Documento" type="hidden" name="Ver_Documento" value="@Model.Ver_Documento">
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Ver_Documento</label>
                                <div class="col-sm-8" data-field-id="Ver_Documento" data-attribute="272997" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Ver_Documento">
                                    <input type="file" name="Solicitud_de_Servicios_de_ApoyoVer_DocumentoFile" id="Solicitud_de_Servicios_de_ApoyoVer_DocumentoFile" class="form-control" />
                                </div>
                            </div>
<div class="form-group" id="divObservaciones">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Observaciones</label>
                                <div class="col-sm-8" data-field-id="Observaciones" data-attribute="272998" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Observaciones">
                                    <input class="form-control" id="Solicitud_de_Servicios_de_ApoyoObservaciones" name="Solicitud_de_Servicios_de_ApoyoObservaciones" type="text" value="@Model.Observaciones">
                                </div>
                            </div>
<div class="form-group" id="divEstatus">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Estatus</label>
	<div class="col-sm-8" data-field-id="Estatus" data-attribute="272999" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Estatus">
		<select class="form-control" data-val="true" data-val-number="The field Estatus must be a number." data-val-required="The Estatus field is required." id="Solicitud_de_Servicios_de_ApoyoEstatus" name="Solicitud_de_Servicios_de_ApoyoEstatus">
			<option value=""></option>
			@if (varEstatus_de_Solicitud_de_Apoyo_Estatus != null){ 
				foreach (var itemEstatus in varEstatus_de_Solicitud_de_Apoyo_Estatus)
				{
					if (itemEstatus.Value == Convert.ToString(Model.Estatus))
					{
						<option value="@itemEstatus.Value" selected>@itemEstatus.Text</option>
					}
					else
					{
						<option value="@itemEstatus.Value">@itemEstatus.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divFecha_de_Recepcion">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Fecha_de_Recepcion</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Recepcion" data-attribute="273003" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Fecha_de_Recepcion">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Solicitud_de_Servicios_de_ApoyoFecha_de_Recepcion" readonly="readonly" name="Solicitud_de_Servicios_de_ApoyoFecha_de_Recepcion" type="text" value="@Model.Fecha_de_Recepcion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divHora_de_Recepcion">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Hora_de_Recepcion</label>
                                <div class="col-sm-8" data-field-id="Hora_de_Recepcion" data-attribute="273005" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Hora_de_Recepcion">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12" id="Solicitud_de_Servicios_de_ApoyoHora_de_Recepcion" readonly="readonly" name="Solicitud_de_Servicios_de_ApoyoHora_de_Recepcion" type="text" data-autoclose="true" value="@Model.Hora_de_Recepcion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divUsuario_que_Recibe">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Usuario_que_Recibe</label>
	<div class="col-sm-8" data-field-id="Usuario_que_Recibe" data-attribute="273006" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Usuario_que_Recibe">
		<select class="form-control" data-val="true" data-val-number="The field Usuario que Recibe must be a number." data-val-required="The Usuario que Recibe field is required." id="Solicitud_de_Servicios_de_ApoyoUsuario_que_Recibe" name="Solicitud_de_Servicios_de_ApoyoUsuario_que_Recibe">
			<option value=""></option>
			@if (varSpartan_User_Usuario_que_Recibe != null){ 
				foreach (var itemUsuario_que_Recibe in varSpartan_User_Usuario_que_Recibe)
				{
					if (itemUsuario_que_Recibe.Value == Convert.ToString(Model.Usuario_que_Recibe))
					{
						<option value="@itemUsuario_que_Recibe.Value" selected>@itemUsuario_que_Recibe.Text</option>
					}
					else
					{
						<option value="@itemUsuario_que_Recibe.Value">@itemUsuario_que_Recibe.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divArea_Asignada">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Area_Asignada</label>
	<div class="col-sm-8" data-field-id="Area_Asignada" data-attribute="273007" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Area_Asignada">
		<select class="form-control" data-val="true" data-val-number="The field Area Asignada must be a number." data-val-required="The Area Asignada field is required." id="Solicitud_de_Servicios_de_ApoyoArea_Asignada" name="Solicitud_de_Servicios_de_ApoyoArea_Asignada">
			<option value=""></option>
			@if (varArea_de_Servicios_de_Apoyo_Area_Asignada != null){ 
				foreach (var itemArea_Asignada in varArea_de_Servicios_de_Apoyo_Area_Asignada)
				{
					if (itemArea_Asignada.Value == Convert.ToString(Model.Area_Asignada))
					{
						<option value="@itemArea_Asignada.Value" selected>@itemArea_Asignada.Text</option>
					}
					else
					{
						<option value="@itemArea_Asignada.Value">@itemArea_Asignada.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divSubArea_Asignada">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.SubArea_Asignada</label>
	<div class="col-sm-8" data-field-id="SubArea_Asignada" data-attribute="273008" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.SubArea_Asignada">
		<select class="form-control" data-val="true" data-val-number="The field SubArea Asignada must be a number." data-val-required="The SubArea Asignada field is required." id="Solicitud_de_Servicios_de_ApoyoSubArea_Asignada" name="Solicitud_de_Servicios_de_ApoyoSubArea_Asignada">
			<option value=""></option>
			@if (varSubArea_de_Servicios_de_Apoyo_SubArea_Asignada != null){ 
				foreach (var itemSubArea_Asignada in varSubArea_de_Servicios_de_Apoyo_SubArea_Asignada)
				{
					if (itemSubArea_Asignada.Value == Convert.ToString(Model.SubArea_Asignada))
					{
						<option value="@itemSubArea_Asignada.Value" selected>@itemSubArea_Asignada.Text</option>
					}
					else
					{
						<option value="@itemSubArea_Asignada.Value">@itemSubArea_Asignada.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divObservaciones_Recepcion">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Observaciones_Recepcion</label>
                                <div class="col-sm-8" data-field-id="Observaciones_Recepcion" data-attribute="273009" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Observaciones_Recepcion">
                                    <input class="form-control" id="Solicitud_de_Servicios_de_ApoyoObservaciones_Recepcion" name="Solicitud_de_Servicios_de_ApoyoObservaciones_Recepcion" type="text" value="@Model.Observaciones_Recepcion">
                                </div>
                            </div>
<div class="form-group" id="divFecha_de_Asignacion">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Fecha_de_Asignacion</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Asignacion" data-attribute="273010" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Fecha_de_Asignacion">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Solicitud_de_Servicios_de_ApoyoFecha_de_Asignacion" readonly="readonly" name="Solicitud_de_Servicios_de_ApoyoFecha_de_Asignacion" type="text" value="@Model.Fecha_de_Asignacion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divHora_de_Asignacion">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Hora_de_Asignacion</label>
                                <div class="col-sm-8" data-field-id="Hora_de_Asignacion" data-attribute="273011" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Hora_de_Asignacion">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12" id="Solicitud_de_Servicios_de_ApoyoHora_de_Asignacion" readonly="readonly" name="Solicitud_de_Servicios_de_ApoyoHora_de_Asignacion" type="text" data-autoclose="true" value="@Model.Hora_de_Asignacion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divUsuario_que_Asigna">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Usuario_que_Asigna</label>
	<div class="col-sm-8" data-field-id="Usuario_que_Asigna" data-attribute="273012" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Usuario_que_Asigna">
		<select class="form-control" data-val="true" data-val-number="The field Usuario que Asigna must be a number." data-val-required="The Usuario que Asigna field is required." id="Solicitud_de_Servicios_de_ApoyoUsuario_que_Asigna" name="Solicitud_de_Servicios_de_ApoyoUsuario_que_Asigna">
			<option value=""></option>
			@if (varSpartan_User_Usuario_que_Asigna != null){ 
				foreach (var itemUsuario_que_Asigna in varSpartan_User_Usuario_que_Asigna)
				{
					if (itemUsuario_que_Asigna.Value == Convert.ToString(Model.Usuario_que_Asigna))
					{
						<option value="@itemUsuario_que_Asigna.Value" selected>@itemUsuario_que_Asigna.Text</option>
					}
					else
					{
						<option value="@itemUsuario_que_Asigna.Value">@itemUsuario_que_Asigna.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divTipo_de_Asignacion">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Tipo_de_Asignacion</label>
	<div class="col-sm-8" data-field-id="Tipo_de_Asignacion" data-attribute="273013" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Tipo_de_Asignacion">
		<select class="form-control" data-val="true" data-val-number="The field Tipo de Asignación must be a number." data-val-required="The Tipo de Asignación field is required." id="Solicitud_de_Servicios_de_ApoyoTipo_de_Asignacion" name="Solicitud_de_Servicios_de_ApoyoTipo_de_Asignacion">
			<option value=""></option>
			@if (varTipo_de_Asignacion_de_Apoyo_Tipo_de_Asignacion != null){ 
				foreach (var itemTipo_de_Asignacion in varTipo_de_Asignacion_de_Apoyo_Tipo_de_Asignacion)
				{
					if (itemTipo_de_Asignacion.Value == Convert.ToString(Model.Tipo_de_Asignacion))
					{
						<option value="@itemTipo_de_Asignacion.Value" selected>@itemTipo_de_Asignacion.Text</option>
					}
					else
					{
						<option value="@itemTipo_de_Asignacion.Value">@itemTipo_de_Asignacion.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divResponsable_Asignado">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Responsable_Asignado</label>
	<div class="col-sm-8" data-field-id="Responsable_Asignado" data-attribute="273014" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Responsable_Asignado">
		<select class="form-control" data-val="true" data-val-number="The field Responsable Asignado must be a number." data-val-required="The Responsable Asignado field is required." id="Solicitud_de_Servicios_de_ApoyoResponsable_Asignado" name="Solicitud_de_Servicios_de_ApoyoResponsable_Asignado">
			<option value=""></option>
			@if (varSpartan_User_Responsable_Asignado != null){ 
				foreach (var itemResponsable_Asignado in varSpartan_User_Responsable_Asignado)
				{
					if (itemResponsable_Asignado.Value == Convert.ToString(Model.Responsable_Asignado))
					{
						<option value="@itemResponsable_Asignado.Value" selected>@itemResponsable_Asignado.Text</option>
					}
					else
					{
						<option value="@itemResponsable_Asignado.Value">@itemResponsable_Asignado.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divObservaciones_Asignacion">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Observaciones_Asignacion</label>
                                <div class="col-sm-8" data-field-id="Observaciones_Asignacion" data-attribute="273015" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Observaciones_Asignacion">
                                    <input class="form-control" id="Solicitud_de_Servicios_de_ApoyoObservaciones_Asignacion" name="Solicitud_de_Servicios_de_ApoyoObservaciones_Asignacion" type="text" value="@Model.Observaciones_Asignacion">
                                </div>
                            </div>
<div class="form-group" id="divFecha_de_Contestacion">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Fecha_de_Contestacion</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Contestacion" data-attribute="273018" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Fecha_de_Contestacion">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Solicitud_de_Servicios_de_ApoyoFecha_de_Contestacion" readonly="readonly" name="Solicitud_de_Servicios_de_ApoyoFecha_de_Contestacion" type="text" value="@Model.Fecha_de_Contestacion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divHora_de_Contestacion">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Hora_de_Contestacion</label>
                                <div class="col-sm-8" data-field-id="Hora_de_Contestacion" data-attribute="273019" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Hora_de_Contestacion">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12" id="Solicitud_de_Servicios_de_ApoyoHora_de_Contestacion" readonly="readonly" name="Solicitud_de_Servicios_de_ApoyoHora_de_Contestacion" type="text" data-autoclose="true" value="@Model.Hora_de_Contestacion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divUsuario_que_contesta">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Usuario_que_contesta</label>
	<div class="col-sm-8" data-field-id="Usuario_que_contesta" data-attribute="273020" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Usuario_que_contesta">
		<select class="form-control" data-val="true" data-val-number="The field Usuario que contesta must be a number." data-val-required="The Usuario que contesta field is required." id="Solicitud_de_Servicios_de_ApoyoUsuario_que_contesta" name="Solicitud_de_Servicios_de_ApoyoUsuario_que_contesta">
			<option value=""></option>
			@if (varSpartan_User_Usuario_que_contesta != null){ 
				foreach (var itemUsuario_que_contesta in varSpartan_User_Usuario_que_contesta)
				{
					if (itemUsuario_que_contesta.Value == Convert.ToString(Model.Usuario_que_contesta))
					{
						<option value="@itemUsuario_que_contesta.Value" selected>@itemUsuario_que_contesta.Text</option>
					}
					else
					{
						<option value="@itemUsuario_que_contesta.Value">@itemUsuario_que_contesta.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divDictamen">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Dictamen</label>
	<div class="col-sm-8" data-field-id="Dictamen" data-attribute="273021" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Dictamen">
		<select class="form-control" data-val="true" data-val-number="The field Dictamen must be a number." data-val-required="The Dictamen field is required." id="Solicitud_de_Servicios_de_ApoyoDictamen" name="Solicitud_de_Servicios_de_ApoyoDictamen">
			<option value=""></option>
			@if (varDocumento_Dictamen != null){ 
				foreach (var itemDictamen in varDocumento_Dictamen)
				{
					if (itemDictamen.Value == Convert.ToString(Model.Dictamen))
					{
						<option value="@itemDictamen.Value" selected>@itemDictamen.Text</option>
					}
					else
					{
						<option value="@itemDictamen.Value">@itemDictamen.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divEnviar_Contestacion">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Enviar_Contestacion</label>
                                <div class="col-sm-8" data-field-id="Enviar_Contestacion" data-attribute="273022" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Enviar_Contestacion">
                                    @Html.CheckBoxFor(m => m.Enviar_Contestacion, new { @class = "i-checks" })
                                </div>
                            </div>
<div class="form-group" id="divArchivo">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Archivo</label>
	<div class="col-sm-8" data-field-id="Archivo" data-attribute="273023" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Archivo">
		<input class="form-control inputNumber" id="Solicitud_de_Servicios_de_ApoyoArchivo" name="Solicitud_de_Servicios_de_ApoyoArchivo" type="text" value="@Model.Archivo">
	</div>
</div>
<div class="form-group" id="divObservaciones_Contestacion">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Observaciones_Contestacion</label>
                                <div class="col-sm-8" data-field-id="Observaciones_Contestacion" data-attribute="273024" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Observaciones_Contestacion">
                                    <input class="form-control" id="Solicitud_de_Servicios_de_ApoyoObservaciones_Contestacion" name="Solicitud_de_Servicios_de_ApoyoObservaciones_Contestacion" type="text" value="@Model.Observaciones_Contestacion">
                                </div>
                            </div>
<div class="form-group" id="divFecha_de_Revision">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Fecha_de_Revision</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Revision" data-attribute="273025" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Fecha_de_Revision">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Solicitud_de_Servicios_de_ApoyoFecha_de_Revision" readonly="readonly" name="Solicitud_de_Servicios_de_ApoyoFecha_de_Revision" type="text" value="@Model.Fecha_de_Revision">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divHora_de_Revision">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Hora_de_Revision</label>
                                <div class="col-sm-8" data-field-id="Hora_de_Revision" data-attribute="273026" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Hora_de_Revision">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12" id="Solicitud_de_Servicios_de_ApoyoHora_de_Revision" readonly="readonly" name="Solicitud_de_Servicios_de_ApoyoHora_de_Revision" type="text" data-autoclose="true" value="@Model.Hora_de_Revision">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divUsuario_que_Revisa">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Usuario_que_Revisa</label>
	<div class="col-sm-8" data-field-id="Usuario_que_Revisa" data-attribute="273027" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Usuario_que_Revisa">
		<select class="form-control" data-val="true" data-val-number="The field Usuario que Revisa must be a number." data-val-required="The Usuario que Revisa field is required." id="Solicitud_de_Servicios_de_ApoyoUsuario_que_Revisa" name="Solicitud_de_Servicios_de_ApoyoUsuario_que_Revisa">
			<option value=""></option>
			@if (varSpartan_User_Usuario_que_Revisa != null){ 
				foreach (var itemUsuario_que_Revisa in varSpartan_User_Usuario_que_Revisa)
				{
					if (itemUsuario_que_Revisa.Value == Convert.ToString(Model.Usuario_que_Revisa))
					{
						<option value="@itemUsuario_que_Revisa.Value" selected>@itemUsuario_que_Revisa.Text</option>
					}
					else
					{
						<option value="@itemUsuario_que_Revisa.Value">@itemUsuario_que_Revisa.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divResultado_de_Autorizacion">
	<label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Resultado_de_Autorizacion</label>
	<div class="col-sm-8" data-field-id="Resultado_de_Autorizacion" data-attribute="273028" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Resultado_de_Autorizacion">
		<select class="form-control" data-val="true" data-val-number="The field Resultado de Autorización must be a number." data-val-required="The Resultado de Autorización field is required." id="Solicitud_de_Servicios_de_ApoyoResultado_de_Autorizacion" name="Solicitud_de_Servicios_de_ApoyoResultado_de_Autorizacion">
			<option value=""></option>
			@if (varResultado_de_Revision_Resultado_de_Autorizacion != null){ 
				foreach (var itemResultado_de_Autorizacion in varResultado_de_Revision_Resultado_de_Autorizacion)
				{
					if (itemResultado_de_Autorizacion.Value == Convert.ToString(Model.Resultado_de_Autorizacion))
					{
						<option value="@itemResultado_de_Autorizacion.Value" selected>@itemResultado_de_Autorizacion.Text</option>
					}
					else
					{
						<option value="@itemResultado_de_Autorizacion.Value">@itemResultado_de_Autorizacion.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divMotivo_de_Rechazo">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Motivo_de_Rechazo</label>
                                <div class="col-sm-8" data-field-id="Motivo_de_Rechazo" data-attribute="273029" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Motivo_de_Rechazo">
                                    <input class="form-control" id="Solicitud_de_Servicios_de_ApoyoMotivo_de_Rechazo" name="Solicitud_de_Servicios_de_ApoyoMotivo_de_Rechazo" type="text" value="@Model.Motivo_de_Rechazo">
                                </div>
                            </div>
<div class="form-group" id="divObservaciones_Autorizacion">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Servicios_de_ApoyoResources.Observaciones_Autorizacion</label>
                                <div class="col-sm-8" data-field-id="Observaciones_Autorizacion" data-attribute="273030" data-field-name="@Resources.Solicitud_de_Servicios_de_ApoyoResources.Observaciones_Autorizacion">
                                    <input class="form-control" id="Solicitud_de_Servicios_de_ApoyoObservaciones_Autorizacion" name="Solicitud_de_Servicios_de_ApoyoObservaciones_Autorizacion" type="text" value="@Model.Observaciones_Autorizacion">
                                </div>
                            </div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Clave" id="ReferenceClave" />
												<input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Solicitud_de_Servicios_de_ApoyoConfigureSave" name="Solicitud_de_Servicios_de_ApoyoConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnSolicitud_de_Servicios_de_ApoyoConfigureType" />
												<input type="hidden" id="hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleFieldId" />
												<input type="hidden" id="hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleFieldName" />
												<input type="hidden" id="hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Solicitud_de_Servicios_de_ApoyoGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Solicitud_de_Servicios_de_ApoyoBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Solicitud_de_Servicios_de_Apoyo.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Solicitud_de_Servicios_de_ApoyoGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Solicitud_de_Servicios_de_ApoyoCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Modulo_Atencion_InicialCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        
        function RemoveAttachmentMainVer_Documento () {
            $("#hdnRemoveVer_Documento").val("1");
            $("#divAttachmentVer_Documento").hide();
        }



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Solicitud_de_Servicios_de_ApoyoRowElement = "Solicitud_de_Servicios_de_ApoyoPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Solicitud_de_Servicios_de_ApoyoRowElement + "')){ Solicitud_de_Servicios_de_ApoyoInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			
            $('#Solicitud_de_Servicios_de_ApoyoFecha_de_Solicitud').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Solicitud_de_Servicios_de_ApoyoHora_de_Solicitud').clockpicker();
            $('#Solicitud_de_Servicios_de_ApoyoFecha_de_Recepcion').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Solicitud_de_Servicios_de_ApoyoHora_de_Recepcion').clockpicker();
            $('#Solicitud_de_Servicios_de_ApoyoFecha_de_Asignacion').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Solicitud_de_Servicios_de_ApoyoHora_de_Asignacion').clockpicker();
            $('#Solicitud_de_Servicios_de_ApoyoFecha_de_Contestacion').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Solicitud_de_Servicios_de_ApoyoHora_de_Contestacion').clockpicker();
            $('#Solicitud_de_Servicios_de_ApoyoFecha_de_Revision').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Solicitud_de_Servicios_de_ApoyoHora_de_Revision').clockpicker();


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendSolicitud_de_Servicios_de_ApoyoData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateSolicitud_de_Servicios_de_Apoyo").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateSolicitud_de_Servicios_de_Apoyo")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Solicitud_de_Servicios_de_ApoyoCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Solicitud_de_Servicios_de_Apoyo/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Solicitud_de_Servicios_de_ApoyoPropertyBag", "Solicitud_de_Servicios_de_Apoyo")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Solicitud_de_Servicios_de_ApoyoGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleFieldId').val(FieldId);
				$('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleFieldName').val(FieldName);
				$('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleFieldId').val(), FieldName: $('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleFieldName').val(), ObjectId: '45042', Attribute: $('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleAttribute').val(), Screen: 'Solicitud_de_Servicios_de_Apoyo' }, function (data) {
                $(".Solicitud_de_Servicios_de_ApoyoBusinessRuleModal").html(data);
            });
        }
        function Solicitud_de_Servicios_de_ApoyoGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleFieldId').val(FieldId);
				$('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleFieldName').val(FieldName);
				$('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleFieldId').val(), FieldName: $('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleFieldName').val(), ObjectId: '45042', Attribute: $('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleAttribute').val(), Screen: 'Solicitud_de_Servicios_de_Apoyo' }, function (data) {
                $(".Solicitud_de_Servicios_de_ApoyoAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleFieldId').val(), FieldName: $('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleFieldName').val(), ObjectId: '45042', Attribute: $('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleAttribute').val(), Screen: 'Solicitud_de_Servicios_de_Apoyo' }, function (data) {
				$(".Solicitud_de_Servicios_de_ApoyoBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Solicitud_de_Servicios_de_Apoyo/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Solicitud_de_Servicios_de_Apoyo/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Solicitud_de_Servicios_de_Apoyo/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnSolicitud_de_Servicios_de_ApoyoConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnSolicitud_de_Servicios_de_ApoyoConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Solicitud_de_Servicios_de_Apoyo/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnSolicitud_de_Servicios_de_ApoyoConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Solicitud_de_Servicios_de_Apoyo/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Solicitud_de_Servicios_de_Apoyo' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Solicitud_de_Servicios_de_Apoyo' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Solicitud_de_Servicios_de_ApoyoConfigureSave').text('Save Settings');
                    $('#hdnSolicitud_de_Servicios_de_ApoyoConfigureType').val("1");
                });
            }
        }
		$('#CreateSolicitud_de_Servicios_de_Apoyo').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleFieldId').val(fieldId);
			$('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleFieldName').val(fieldName);
			$('#hdnSolicitud_de_Servicios_de_ApoyoBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
