@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_de_Datos_del_Testigo_CCModel
@{

    string Fecha_de_nacimiento = "";
    if (Model.Fecha_de_nacimiento == "")
    { Model.Fecha_de_nacimiento = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

    List<SelectListItem> varColonia_Colonia = null;
    if (ViewBag.Colonias_Colonia != null)
    { varColonia_Colonia = (List<SelectListItem>)ViewBag.Colonias_Colonia; }
    List<SelectListItem> varEscolaridad_Escolaridad = null;
    if (ViewBag.Escolaridads_Escolaridad != null)
    { varEscolaridad_Escolaridad = (List<SelectListItem>)ViewBag.Escolaridads_Escolaridad; }
    List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
    List<SelectListItem> varEstado_Civil_Estado_Civil = null;
    if (ViewBag.Estado_Civils_Estado_Civil != null)
    { varEstado_Civil_Estado_Civil = (List<SelectListItem>)ViewBag.Estado_Civils_Estado_Civil; }
    List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
    List<SelectListItem> varNacionalidad_Nacionalidad = null;
    if (ViewBag.Nacionalidads_Nacionalidad != null)
    { varNacionalidad_Nacionalidad = (List<SelectListItem>)ViewBag.Nacionalidads_Nacionalidad; }
    List<SelectListItem> varOcupacion_Ocupacion = null;
    if (ViewBag.Ocupacions_Ocupacion != null)
    { varOcupacion_Ocupacion = (List<SelectListItem>)ViewBag.Ocupacions_Ocupacion; }
    List<SelectListItem> varPais_Pais = null;
    if (ViewBag.Paiss_Pais != null)
    { varPais_Pais = (List<SelectListItem>)ViewBag.Paiss_Pais; }
    List<SelectListItem> varGenero_Genero = null;
    if (ViewBag.Generos_Genero != null)
    { varGenero_Genero = (List<SelectListItem>)ViewBag.Generos_Genero; }
    List<SelectListItem> varTipo_de_Compareciente_Tipo_de_compareciente = null;
    if (ViewBag.Tipo_de_Comparecientes_Tipo_de_compareciente != null)
    { varTipo_de_Compareciente_Tipo_de_compareciente = (List<SelectListItem>)ViewBag.Tipo_de_Comparecientes_Tipo_de_compareciente; }
    List<SelectListItem> varTipo_de_Identificacion_Tipo_de_identificacion = null;
    if (ViewBag.Tipo_de_Identificacions_Tipo_de_identificacion != null)
    { varTipo_de_Identificacion_Tipo_de_identificacion = (List<SelectListItem>)ViewBag.Tipo_de_Identificacions_Tipo_de_identificacion; }
    List<SelectListItem> varTipo_de_Inimputabilidad_Tipo_de_inimputabilidad = null;
    if (ViewBag.Tipo_de_Inimputabilidads_Tipo_de_inimputabilidad != null)
    { varTipo_de_Inimputabilidad_Tipo_de_inimputabilidad = (List<SelectListItem>)ViewBag.Tipo_de_Inimputabilidads_Tipo_de_inimputabilidad; }

    Permission permissionDetalle_de_Galeria_de_Testigos = ViewBag.PermissionDetalle_de_Galeria_de_Testigos;

    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle de Datos del Testigo CC
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_de_Datos_del_Testigo_CCRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_de_Datos_del_Testigo_CCPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle de Datos del Testigo CC
								<button onclick="Detalle_de_Datos_del_Testigo_CCGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_de_Datos_del_Testigo_CCBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_de_Datos_del_Testigo_CCResources.Detalle_de_Datos_del_Testigo_CC</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_de_Datos_del_Testigo_CCDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_de_Datos_del_Testigo_CCPropertyBusinessModal" id="Detalle_de_Datos_del_Testigo_CCPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_de_Datos_del_Testigo_CCBusinessRule-form" onclick="Detalle_de_Datos_del_Testigo_CCGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_de_Datos_del_Testigo_CCPropertyModal" id="Detalle_de_Datos_del_Testigo_CCPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_de_Datos_del_Testigo_CCBusinessRuleModal" id="Detalle_de_Datos_del_Testigo_CCBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_de_Datos_del_Testigo_CCAddBusinessRuleModal" id="Detalle_de_Datos_del_Testigo_CCAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				                    <div aria-hidden="true" class="modal fade in AddDetalle_de_Galeria_de_TestigosModal" id="AddDetalle_de_Galeria_de_Testigos-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>


								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_de_Datos_del_Testigo_CC", FormMethod.Post, new { id = "CreateDetalle_de_Datos_del_Testigo_CC", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_de_Datos_del_Testigo_CCCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="265103" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Clave">
                                    <label class="form-control" for="Detalle_de_Datos_del_Testigo_CCClave" id="Detalle_de_Datos_del_Testigo_CCClave">@Model.Clave</label>
                                </div>
                            </div>
<div class="form-group" id="divApellido_Materno">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Apellido_Materno</label>
                                <div class="col-sm-8" data-field-id="Apellido_Materno" data-attribute="265105" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Apellido_Materno">
                                    <input class="form-control" id="Detalle_de_Datos_del_Testigo_CCApellido_Materno" name="Detalle_de_Datos_del_Testigo_CCApellido_Materno" type="text" value="@Model.Apellido_Materno">
                                </div>
                            </div>
<div class="form-group" id="divApellido_Paterno">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Apellido_Paterno</label>
                                <div class="col-sm-8" data-field-id="Apellido_Paterno" data-attribute="265106" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Apellido_Paterno">
                                    <input class="form-control" id="Detalle_de_Datos_del_Testigo_CCApellido_Paterno" name="Detalle_de_Datos_del_Testigo_CCApellido_Paterno" type="text" value="@Model.Apellido_Paterno">
                                </div>
                            </div>
<div class="form-group" id="divCalle">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Calle</label>
                                <div class="col-sm-8" data-field-id="Calle" data-attribute="265107" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Calle">
                                    <input class="form-control" id="Detalle_de_Datos_del_Testigo_CCCalle" name="Detalle_de_Datos_del_Testigo_CCCalle" type="text" value="@Model.Calle">
                                </div>
                            </div>
<div class="form-group" id="divCelular">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Celular</label>
                                <div class="col-sm-8" data-field-id="Celular" data-attribute="265108" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Celular">
                                    <input class="form-control" id="Detalle_de_Datos_del_Testigo_CCCelular" name="Detalle_de_Datos_del_Testigo_CCCelular" type="text" value="@Model.Celular">
                                </div>
                            </div>
<div class="form-group" id="divCodigo_Postal">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Codigo_Postal</label>
	<div class="col-sm-8" data-field-id="Codigo_Postal" data-attribute="265109" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Codigo_Postal">
		<input class="form-control inputNumber" id="Detalle_de_Datos_del_Testigo_CCCodigo_Postal" name="Detalle_de_Datos_del_Testigo_CCCodigo_Postal" type="text" value="@Model.Codigo_Postal">
	</div>
</div>
<div class="form-group" id="divColonia">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Colonia</label>
	<div class="col-sm-8" data-field-id="Colonia" data-attribute="265110" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Colonia">
		<select class="form-control" data-val="true" data-val-number="The field Colonia must be a number." data-val-required="The Colonia field is required." id="Detalle_de_Datos_del_Testigo_CCColonia" name="Detalle_de_Datos_del_Testigo_CCColonia">
			<option value=""></option>
			@if (varColonia_Colonia != null){ 
				foreach (var itemColonia in varColonia_Colonia)
				{
					if (itemColonia.Value == Convert.ToString(Model.Colonia))
					{
						<option value="@itemColonia.Value" selected>@itemColonia.Text</option>
					}
					else
					{
						<option value="@itemColonia.Value">@itemColonia.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divCorreo_Electronico">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Correo_Electronico</label>
                                <div class="col-sm-8" data-field-id="Correo_Electronico" data-attribute="265111" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Correo_Electronico">
                                    <input class="form-control" id="Detalle_de_Datos_del_Testigo_CCCorreo_Electronico" name="Detalle_de_Datos_del_Testigo_CCCorreo_Electronico" type="text" value="@Model.Correo_Electronico">
                                </div>
                            </div>
<div class="form-group" id="divEdad">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Edad</label>
	<div class="col-sm-8" data-field-id="Edad" data-attribute="265112" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Edad">
		<input class="form-control inputNumber" id="Detalle_de_Datos_del_Testigo_CCEdad" name="Detalle_de_Datos_del_Testigo_CCEdad" type="text" value="@Model.Edad">
	</div>
</div>
<div class="form-group" id="divEscolaridad">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Escolaridad</label>
	<div class="col-sm-8" data-field-id="Escolaridad" data-attribute="265113" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Escolaridad">
		<select class="form-control" data-val="true" data-val-number="The field Escolaridad must be a number." data-val-required="The Escolaridad field is required." id="Detalle_de_Datos_del_Testigo_CCEscolaridad" name="Detalle_de_Datos_del_Testigo_CCEscolaridad">
			<option value=""></option>
			@if (varEscolaridad_Escolaridad != null){ 
				foreach (var itemEscolaridad in varEscolaridad_Escolaridad)
				{
					if (itemEscolaridad.Value == Convert.ToString(Model.Escolaridad))
					{
						<option value="@itemEscolaridad.Value" selected>@itemEscolaridad.Text</option>
					}
					else
					{
						<option value="@itemEscolaridad.Value">@itemEscolaridad.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divEstado">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Estado</label>
	<div class="col-sm-8" data-field-id="Estado" data-attribute="265114" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Estado">
		<select class="form-control" data-val="true" data-val-number="The field Estado must be a number." data-val-required="The Estado field is required." id="Detalle_de_Datos_del_Testigo_CCEstado" name="Detalle_de_Datos_del_Testigo_CCEstado">
			<option value=""></option>
			@if (varEstado_Estado != null){ 
				foreach (var itemEstado in varEstado_Estado)
				{
					if (itemEstado.Value == Convert.ToString(Model.Estado))
					{
						<option value="@itemEstado.Value" selected>@itemEstado.Text</option>
					}
					else
					{
						<option value="@itemEstado.Value">@itemEstado.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divEstado_Civil">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Estado_Civil</label>
	<div class="col-sm-8" data-field-id="Estado_Civil" data-attribute="265115" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Estado_Civil">
		<select class="form-control" data-val="true" data-val-number="The field Estado Civil must be a number." data-val-required="The Estado Civil field is required." id="Detalle_de_Datos_del_Testigo_CCEstado_Civil" name="Detalle_de_Datos_del_Testigo_CCEstado_Civil">
			<option value=""></option>
			@if (varEstado_Civil_Estado_Civil != null){ 
				foreach (var itemEstado_Civil in varEstado_Civil_Estado_Civil)
				{
					if (itemEstado_Civil.Value == Convert.ToString(Model.Estado_Civil))
					{
						<option value="@itemEstado_Civil.Value" selected>@itemEstado_Civil.Text</option>
					}
					else
					{
						<option value="@itemEstado_Civil.Value">@itemEstado_Civil.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divExtension">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Extension</label>
	<div class="col-sm-8" data-field-id="Extension" data-attribute="265116" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Extension">
		<input class="form-control inputNumber" id="Detalle_de_Datos_del_Testigo_CCExtension" name="Detalle_de_Datos_del_Testigo_CCExtension" type="text" value="@Model.Extension">
	</div>
</div>
<div class="form-group" id="divFecha_de_nacimiento">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Fecha_de_nacimiento</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_nacimiento" data-attribute="265117" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Fecha_de_nacimiento">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Detalle_de_Datos_del_Testigo_CCFecha_de_nacimiento" readonly="readonly" name="Detalle_de_Datos_del_Testigo_CCFecha_de_nacimiento" type="text" value="@Model.Fecha_de_nacimiento">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divInimputable">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Inimputable</label>
                                <div class="col-sm-8" data-field-id="Inimputable" data-attribute="265118" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Inimputable">
                                    @Html.CheckBoxFor(m => m.Inimputable, new { @class = "i-checks" })
                                </div>
                            </div>
<div class="form-group" id="divMunicipio">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Municipio</label>
	<div class="col-sm-8" data-field-id="Municipio" data-attribute="265119" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Municipio">
		<select class="form-control" data-val="true" data-val-number="The field Municipio must be a number." data-val-required="The Municipio field is required." id="Detalle_de_Datos_del_Testigo_CCMunicipio" name="Detalle_de_Datos_del_Testigo_CCMunicipio">
			<option value=""></option>
			@if (varMunicipio_Municipio != null){ 
				foreach (var itemMunicipio in varMunicipio_Municipio)
				{
					if (itemMunicipio.Value == Convert.ToString(Model.Municipio))
					{
						<option value="@itemMunicipio.Value" selected>@itemMunicipio.Text</option>
					}
					else
					{
						<option value="@itemMunicipio.Value">@itemMunicipio.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divNacionalidad">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Nacionalidad</label>
	<div class="col-sm-8" data-field-id="Nacionalidad" data-attribute="265120" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Nacionalidad">
		<select class="form-control" data-val="true" data-val-number="The field Nacionalidad must be a number." data-val-required="The Nacionalidad field is required." id="Detalle_de_Datos_del_Testigo_CCNacionalidad" name="Detalle_de_Datos_del_Testigo_CCNacionalidad">
			<option value=""></option>
			@if (varNacionalidad_Nacionalidad != null){ 
				foreach (var itemNacionalidad in varNacionalidad_Nacionalidad)
				{
					if (itemNacionalidad.Value == Convert.ToString(Model.Nacionalidad))
					{
						<option value="@itemNacionalidad.Value" selected>@itemNacionalidad.Text</option>
					}
					else
					{
						<option value="@itemNacionalidad.Value">@itemNacionalidad.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divNombre">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Nombre</label>
                                <div class="col-sm-8" data-field-id="Nombre" data-attribute="265121" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Nombre">
                                    <input class="form-control" id="Detalle_de_Datos_del_Testigo_CCNombre" name="Detalle_de_Datos_del_Testigo_CCNombre" type="text" value="@Model.Nombre">
                                </div>
                            </div>
<div class="form-group" id="divNombre_Completo">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Nombre_Completo</label>
                                <div class="col-sm-8" data-field-id="Nombre_Completo" data-attribute="265122" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Nombre_Completo">
                                    <input class="form-control" id="Detalle_de_Datos_del_Testigo_CCNombre_Completo" name="Detalle_de_Datos_del_Testigo_CCNombre_Completo" type="text" value="@Model.Nombre_Completo">
                                </div>
                            </div>
<div class="form-group" id="divNumero_de_identificacion">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Numero_de_identificacion</label>
                                <div class="col-sm-8" data-field-id="Numero_de_identificacion" data-attribute="265123" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Numero_de_identificacion">
                                    <input class="form-control" id="Detalle_de_Datos_del_Testigo_CCNumero_de_identificacion" name="Detalle_de_Datos_del_Testigo_CCNumero_de_identificacion" type="text" value="@Model.Numero_de_identificacion">
                                </div>
                            </div>
<div class="form-group" id="divNumero_Exterior">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Numero_Exterior</label>
                                <div class="col-sm-8" data-field-id="Numero_Exterior" data-attribute="265124" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Numero_Exterior">
                                    <input class="form-control" id="Detalle_de_Datos_del_Testigo_CCNumero_Exterior" name="Detalle_de_Datos_del_Testigo_CCNumero_Exterior" type="text" value="@Model.Numero_Exterior">
                                </div>
                            </div>
<div class="form-group" id="divNumero_Interior">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Numero_Interior</label>
                                <div class="col-sm-8" data-field-id="Numero_Interior" data-attribute="265125" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Numero_Interior">
                                    <input class="form-control" id="Detalle_de_Datos_del_Testigo_CCNumero_Interior" name="Detalle_de_Datos_del_Testigo_CCNumero_Interior" type="text" value="@Model.Numero_Interior">
                                </div>
                            </div>
<div class="form-group" id="divOcupacion">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Ocupacion</label>
	<div class="col-sm-8" data-field-id="Ocupacion" data-attribute="265126" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Ocupacion">
		<select class="form-control" data-val="true" data-val-number="The field Ocupación must be a number." data-val-required="The Ocupación field is required." id="Detalle_de_Datos_del_Testigo_CCOcupacion" name="Detalle_de_Datos_del_Testigo_CCOcupacion">
			<option value=""></option>
			@if (varOcupacion_Ocupacion != null){ 
				foreach (var itemOcupacion in varOcupacion_Ocupacion)
				{
					if (itemOcupacion.Value == Convert.ToString(Model.Ocupacion))
					{
						<option value="@itemOcupacion.Value" selected>@itemOcupacion.Text</option>
					}
					else
					{
						<option value="@itemOcupacion.Value">@itemOcupacion.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divPais">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Pais</label>
	<div class="col-sm-8" data-field-id="Pais" data-attribute="265127" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Pais">
		<select class="form-control" data-val="true" data-val-number="The field País must be a number." data-val-required="The País field is required." id="Detalle_de_Datos_del_Testigo_CCPais" name="Detalle_de_Datos_del_Testigo_CCPais">
			<option value=""></option>
			@if (varPais_Pais != null){ 
				foreach (var itemPais in varPais_Pais)
				{
					if (itemPais.Value == Convert.ToString(Model.Pais))
					{
						<option value="@itemPais.Value" selected>@itemPais.Text</option>
					}
					else
					{
						<option value="@itemPais.Value">@itemPais.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divProteccion_de_Datos">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Proteccion_de_Datos</label>
                                <div class="col-sm-8" data-field-id="Proteccion_de_Datos" data-attribute="265128" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Proteccion_de_Datos">
                                    @Html.CheckBoxFor(m => m.Proteccion_de_Datos, new { @class = "i-checks" })
                                </div>
                            </div>
<div class="form-group" id="divGenero">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Genero</label>
	<div class="col-sm-8" data-field-id="Genero" data-attribute="265129" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Genero">
		<select class="form-control" data-val="true" data-val-number="The field Género must be a number." data-val-required="The Género field is required." id="Detalle_de_Datos_del_Testigo_CCGenero" name="Detalle_de_Datos_del_Testigo_CCGenero">
			<option value=""></option>
			@if (varGenero_Genero != null){ 
				foreach (var itemGenero in varGenero_Genero)
				{
					if (itemGenero.Value == Convert.ToString(Model.Genero))
					{
						<option value="@itemGenero.Value" selected>@itemGenero.Text</option>
					}
					else
					{
						<option value="@itemGenero.Value">@itemGenero.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divTelefono">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Telefono</label>
                                <div class="col-sm-8" data-field-id="Telefono" data-attribute="265130" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Telefono">
                                    <input class="form-control" id="Detalle_de_Datos_del_Testigo_CCTelefono" name="Detalle_de_Datos_del_Testigo_CCTelefono" type="text" value="@Model.Telefono">
                                </div>
                            </div>
<div class="form-group" id="divTipo_de_compareciente">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Tipo_de_compareciente</label>
	<div class="col-sm-8" data-field-id="Tipo_de_compareciente" data-attribute="265131" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Tipo_de_compareciente">
		<select class="form-control" data-val="true" data-val-number="The field Tipo de compareciente must be a number." data-val-required="The Tipo de compareciente field is required." id="Detalle_de_Datos_del_Testigo_CCTipo_de_compareciente" name="Detalle_de_Datos_del_Testigo_CCTipo_de_compareciente">
			<option value=""></option>
			@if (varTipo_de_Compareciente_Tipo_de_compareciente != null){ 
				foreach (var itemTipo_de_compareciente in varTipo_de_Compareciente_Tipo_de_compareciente)
				{
					if (itemTipo_de_compareciente.Value == Convert.ToString(Model.Tipo_de_compareciente))
					{
						<option value="@itemTipo_de_compareciente.Value" selected>@itemTipo_de_compareciente.Text</option>
					}
					else
					{
						<option value="@itemTipo_de_compareciente.Value">@itemTipo_de_compareciente.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divTipo_de_identificacion">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Tipo_de_identificacion</label>
	<div class="col-sm-8" data-field-id="Tipo_de_identificacion" data-attribute="265132" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Tipo_de_identificacion">
		<select class="form-control" data-val="true" data-val-number="The field Tipo de identificación must be a number." data-val-required="The Tipo de identificación field is required." id="Detalle_de_Datos_del_Testigo_CCTipo_de_identificacion" name="Detalle_de_Datos_del_Testigo_CCTipo_de_identificacion">
			<option value=""></option>
			@if (varTipo_de_Identificacion_Tipo_de_identificacion != null){ 
				foreach (var itemTipo_de_identificacion in varTipo_de_Identificacion_Tipo_de_identificacion)
				{
					if (itemTipo_de_identificacion.Value == Convert.ToString(Model.Tipo_de_identificacion))
					{
						<option value="@itemTipo_de_identificacion.Value" selected>@itemTipo_de_identificacion.Text</option>
					}
					else
					{
						<option value="@itemTipo_de_identificacion.Value">@itemTipo_de_identificacion.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divTipo_de_inimputabilidad">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Tipo_de_inimputabilidad</label>
	<div class="col-sm-8" data-field-id="Tipo_de_inimputabilidad" data-attribute="265133" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Tipo_de_inimputabilidad">
		<select class="form-control" data-val="true" data-val-number="The field Tipo de inimputabilidad must be a number." data-val-required="The Tipo de inimputabilidad field is required." id="Detalle_de_Datos_del_Testigo_CCTipo_de_inimputabilidad" name="Detalle_de_Datos_del_Testigo_CCTipo_de_inimputabilidad">
			<option value=""></option>
			@if (varTipo_de_Inimputabilidad_Tipo_de_inimputabilidad != null){ 
				foreach (var itemTipo_de_inimputabilidad in varTipo_de_Inimputabilidad_Tipo_de_inimputabilidad)
				{
					if (itemTipo_de_inimputabilidad.Value == Convert.ToString(Model.Tipo_de_inimputabilidad))
					{
						<option value="@itemTipo_de_inimputabilidad.Value" selected>@itemTipo_de_inimputabilidad.Text</option>
					}
					else
					{
						<option value="@itemTipo_de_inimputabilidad.Value">@itemTipo_de_inimputabilidad.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divEntre_Calle">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Entre_Calle</label>
                                <div class="col-sm-8" data-field-id="Entre_Calle" data-attribute="265134" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Entre_Calle">
                                    <input class="form-control" id="Detalle_de_Datos_del_Testigo_CCEntre_Calle" name="Detalle_de_Datos_del_Testigo_CCEntre_Calle" type="text" value="@Model.Entre_Calle">
                                </div>
                            </div>
<div class="form-group" id="divY_Calle">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Y_Calle</label>
                                <div class="col-sm-8" data-field-id="Y_Calle" data-attribute="265135" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Y_Calle">
                                    <input class="form-control" id="Detalle_de_Datos_del_Testigo_CCY_Calle" name="Detalle_de_Datos_del_Testigo_CCY_Calle" type="text" value="@Model.Y_Calle">
                                </div>
                            </div>
<div class="form-group" id="divReferencia_del_Domicilio">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Referencia_del_Domicilio</label>
                                <div class="col-sm-8" data-field-id="Referencia_del_Domicilio" data-attribute="265136" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Referencia_del_Domicilio">
                                    <input class="form-control" id="Detalle_de_Datos_del_Testigo_CCReferencia_del_Domicilio" name="Detalle_de_Datos_del_Testigo_CCReferencia_del_Domicilio" type="text" value="@Model.Referencia_del_Domicilio">
                                </div>
                            </div>
<div class="form-group" id="divEspecifique">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Datos_del_Testigo_CCResources.Especifique</label>
                                <div class="col-sm-8" data-field-id="Especifique" data-attribute="265137" data-field-name="@Resources.Detalle_de_Datos_del_Testigo_CCResources.Especifique">
                                    <input class="form-control" id="Detalle_de_Datos_del_Testigo_CCEspecifique" name="Detalle_de_Datos_del_Testigo_CCEspecifique" type="text" value="@Model.Especifique">
                                </div>
                            </div>
<div id ="divDetalle_de_Galeria_de_Testigos" >
	<div class="ibox-title">
		<h5>@Resources.Detalle_de_Galeria_de_TestigosResources.Detalle_de_Galeria_de_Testigos</h5>
		<div class="ibox-tools">
		</div>
	</div>
	<div class="ibox-content">
		<div class="">
			<a onclick="Detalle_de_Galeria_de_TestigosfnClickAddRow();" href="javascript:void(0);" title="@Resources.Resources.AddNewRow" class="btn btn-primary @( !permissionDetalle_de_Galeria_de_Testigos.New || ViewBag.Consult ? "disabled" : "")">
			<i class="glyphicon glyphicon-plus"></i>
			</a>
			<button onclick="Detalle_de_Datos_del_Testigo_CCGetBusinessRule('', 'Al Agregar Row', '1')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_de_Datos_del_Testigo_CCBusinessRule-form">
				<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToCreateGrid">
					<i class="fa fa-cogs fa-spin"></i>
				</a>
			</button>
			<a onclick="Detalle_de_Galeria_de_TestigosfnOpenAddRowPopUp();" data-toggle="modal" title="@Resources.Resources.AddNewRow" data-target="#AddDetalle_de_Galeria_de_Testigos-form" data-backdrop="static" data-keyboard="false" class="btn btn-primary @( !permissionDetalle_de_Galeria_de_Testigos.New || ViewBag.Consult ? "disabled" : "")">
			<i class="glyphicon glyphicon-new-window"></i>
			</a>
		</div>

		<br />

		<div style='overflow-x: auto;'>
			<table class="table table-striped table-bordered table-hover childValidateTable" id="Detalle_de_Galeria_de_TestigosGrid">
				<thead>
					<tr>
						<th class="ActionHeader"><span>@Resources.Resources.Actions</span></th>
	

                                                <th class="NombreHeader"><span>
<button type="button" data-attribute="265147" data-field-id="Detalle_de_Galeria_de_TestigosNombre" data-field-name="@Resources.Detalle_de_Galeria_de_TestigosResources.Nombre" data-toggle="modal" data-target="#Detalle_de_Datos_del_Testigo_CCBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_Galeria_de_TestigosResources.Nombre">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_Galeria_de_TestigosResources.Nombre</span></th>
                                                <th class="ArchivoHeader"><span>
<button type="button" data-attribute="265148" data-field-id="Detalle_de_Galeria_de_TestigosArchivo" data-field-name="@Resources.Detalle_de_Galeria_de_TestigosResources.Archivo" data-toggle="modal" data-target="#Detalle_de_Datos_del_Testigo_CCBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_Galeria_de_TestigosResources.Archivo">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>
@Resources.Detalle_de_Galeria_de_TestigosResources.Archivo</span></th>

					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Clave" id="ReferenceClave" />
												<input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_de_Datos_del_Testigo_CCConfigureSave" name="Detalle_de_Datos_del_Testigo_CCConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_de_Datos_del_Testigo_CCConfigureType" />
												<input type="hidden" id="hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_de_Datos_del_Testigo_CCGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_de_Datos_del_Testigo_CCBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_de_Datos_del_Testigo_CC.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_de_Datos_del_Testigo_CCGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_de_Datos_del_Testigo_CCCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Cadena_de_CustodiaCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_de_Datos_del_Testigo_CCRowElement = "Detalle_de_Datos_del_Testigo_CCPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_de_Datos_del_Testigo_CCRowElement + "')){ Detalle_de_Datos_del_Testigo_CCInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			
            $('#Detalle_de_Datos_del_Testigo_CCFecha_de_nacimiento').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });





            if(Detalle_de_Galeria_de_TestigosTable == null)
            {
                getDetalle_de_Galeria_de_TestigosData();
            }
            else{
                showDetalle_de_Galeria_de_TestigosGrid(Detalle_de_Galeria_de_TestigosTable.fnGetData());
            }

            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });

        var Detalle_de_Galeria_de_TestigosinsertRowCurrentIndex = -1;
        var Detalle_de_Galeria_de_TestigosDataDataTable;
        function getDetalle_de_Galeria_de_TestigosData() {
            $.ajax({
                url: "@Url.Content("~/Frontal/Detalle_de_Datos_del_Testigo_CC/GetDetalle_de_Galeria_de_Testigos")" + "?draw=1&start=1&length=2147483647" + ($("#ReferenceClave").val() != "" ? "&RelationId=" + $("#ReferenceClave").val() : ""),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                    Detalle_de_Galeria_de_TestigosDataDataTable = result.data;
                    showDetalle_de_Galeria_de_TestigosGrid(result.data);
                    $('#Detalle_de_Galeria_de_TestigosGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Detalle_de_Galeria_de_TestigosGrid .gridDatePicker').attr("readonly", "");
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
        function Detalle_de_Galeria_de_TestigosGetUpdateRowControls(data, nameOfTable, rowIndex) {

            var columnData = [];
            var counter = 0;
            var inputData = "<input type='text' class='fullWidth form-control' />";

            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Nombre)).addClass('Nombre').attr('id', nameOfTable + 'Nombre' + rowIndex).attr('data-field', 'Nombre');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Archivo)).addClass('Archivo inputNumber').attr('id', nameOfTable + 'Archivo' + rowIndex).attr('data-field', 'Archivo');

            return columnData;
        }



        function GetFileInfo(fileData, fileUploadData) {

            var $div = $("<div>");
            if (fileUploadData != null && fileUploadData.files.length > 0) {

                $div.append("<label>" + fileUploadData.files[0].name + "</label>");
                //<i class="fa fa-times-circle" id='removeFileAttachment'>
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;

            } else if (fileUploadData != null) {
                return $.parseHTML(GetFileUploader());
            } else {
                $div.append("<label>" + fileData.FileName + "</label>");
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;
            }
        }

        var removedDetalle_de_Galeria_de_TestigosData = [];
        function Detalle_de_Galeria_de_TestigosDeleteRow(rowIndex, row) {
            var rowIndexTable = Detalle_de_Galeria_de_TestigosTable.fnGetPosition($(row).parent().parent()[0]);
            var permission = {            
                 Delete: '@permissionDetalle_de_Galeria_de_Testigos.Delete' == 'True'
            };
            if (!permission.Delete || isConsultMode)
                return;            
            if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
              if (EjecutarValidacionesAlEliminarMRDetalle_de_Galeria_de_Testigos('Detalle_de_Galeria_de_Testigos_', '_' + rowIndex)) {
                var prevData = Detalle_de_Galeria_de_TestigosTable.fnGetData(rowIndexTable );
                removedDetalle_de_Galeria_de_TestigosData.push(prevData);
                Detalle_de_Galeria_de_TestigosTable.fnDeleteRow(rowIndexTable );
				showDetalle_de_Galeria_de_TestigosGrid(Detalle_de_Galeria_de_TestigosTable.fnGetData());
              }
            }
			initiateUIControls();
        }

        function Detalle_de_Galeria_de_TestigosrowCreationGrid(row, data, index) {
            var permission =  {            
                 Edit: '@permissionDetalle_de_Galeria_de_Testigos.Edit' == 'True',
                 Delete: '@permissionDetalle_de_Galeria_de_Testigos.Delete' == 'True'
            };
            setDetalle_de_Galeria_de_TestigosValidation();
            var Detalle_de_Galeria_de_TestigosRowElement = "Detalle_de_Galeria_de_Testigos_" + index.toString();
            $(row).addClass(Detalle_de_Galeria_de_TestigosRowElement);
            var nameOfTable='Detalle_de_Galeria_de_Testigos_';
            var rowIndex = '_' + index;
            Detalle_de_Galeria_de_TestigosinsertRowCurrentIndex = index;

            row.innerHTML = "";

            if (data.IsInsertRow) {

                if (row.childNodes.length != 0) {
                    for (var i = 0; i < row.childNodes.length; i++) {
                        row.childNodes[i].remove();
                    }
                }
                var controls = GetInsertDetalle_de_Galeria_de_TestigosRowControls(index);
                var actionColInsert = $('<td>');

                var abc = "if(dynamicFieldValidation('" + Detalle_de_Galeria_de_TestigosRowElement + "')){ Detalle_de_Galeria_de_TestigosInsertRow(" + index + "); }";
                var insertRowHTML = '<a  data-toggle="tooltip" title="Confirmar Registro" onclick="' + abc + '">';
                $('<i class="fa fa-check">').appendTo($(insertRowHTML).appendTo(actionColInsert));
				$('<i class="fa fa-times">').appendTo($("<a data-toggle='tooltip' title='Cancelar Registro' onclick='Detalle_de_Galeria_de_TestigosCancelRow(" + index + ")'>").appendTo(actionColInsert));
                actionColInsert.appendTo(row);

                for (i = 0; i < controls.length; i++) {
					var idHeader = $(controls[i]).data('field') + 'Header';
					if($(controls[i]).length > 1){
						idHeader = $($(controls[i])[1]).data('field') + 'Header';
					}					

					var classe = ($('#Detalle_de_Galeria_de_TestigosGrid .' + idHeader).hasClass('dt-right') ? "dt-right" : "") + $('#Detalle_de_Galeria_de_TestigosGrid .' + idHeader ).css('display') == 'none' ? " hide" : "";
				   
					if ($(controls[i]).next().length > 0) {
					    var div = $(controls[i]).next();
					    $('<td class="' + classe + '">').append($(controls[i])).append(div).appendTo(row);
					}else
					    $(controls[i]).appendTo($('<td class="' + classe + '">').appendTo(row));
					
                }
                $('#Detalle_de_Galeria_de_TestigosGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('#Detalle_de_Galeria_de_TestigosGrid .gridDatePicker').attr("readonly", "");
                return;
            }

            var actionCol = $('<td>');
			var edit = "<a title='@Resources.Resources.Edit' class='edit-MR' onclick='Detalle_de_Galeria_de_TestigosEditRow(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                edit = "";
            var editPopUp = "<a title='@Resources.Resources.Edit' class='edit-popup-MR' data-toggle='modal' data-target='#AddDetalle_de_Galeria_de_Testigos-form' onclick='Detalle_de_Galeria_de_TestigosEditRowPopup(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                editPopUp = "";
            var eliminar = "<a title='@Resources.Resources.Delete' class='eliminar-MR' onclick='Detalle_de_Galeria_de_TestigosDeleteRow(" + index + ", this)'>";
            if (!permission.Delete || isConsultMode)
                eliminar = "";
            $('<i class="fa fa-pencil">').appendTo($(edit).appendTo(actionCol));
            //$('<i class="fa fa-edit">').appendTo($(editPopUp).appendTo(actionCol));
            $('<i class="fa fa-trash-o">').appendTo($(eliminar).appendTo(actionCol));
			if ($('.Action' + 'Header').css('display') != 'none')
				actionCol.appendTo(row);

            if ($('.Nombre' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Nombre'+rowIndex+'">').text(data.Nombre).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Nombre'+rowIndex+'">').text(data.Nombre).appendTo(row);
            if ($('.Archivo' + 'Header').css('display') != 'none')
                $('<td class="dt-right"  id="'+nameOfTable+'Archivo'+rowIndex+'">').text(data.Archivo).appendTo(row);
            else 
                 $('<td class="dt-right" style="display:none;"  id="'+nameOfTable+'Archivo'+rowIndex+'">').text(data.Archivo).appendTo(row);

        }

        var Detalle_de_Galeria_de_TestigosTable;
        function showDetalle_de_Galeria_de_TestigosGrid(dataSet) {
            //removedDetalle_de_Galeria_de_TestigosData = [];
            Detalle_de_Galeria_de_TestigosTable = $('#Detalle_de_Galeria_de_TestigosGrid').dataTable({
                dom: '<"html5buttons"B>lTgitp',
                buttons: [
                ],
                "createdRow": Detalle_de_Galeria_de_TestigosrowCreationGrid,
                "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
                data: dataSet,
                "columns": [
                    { "data": null, 'visible': true, "orderable": false },

                    { "data": "Nombre", "orderable": false },
                    { "data": "Archivo", "className": "dt-right", "orderable": false },

                ],
                "order": [[0, "asc"]],
                "language": {
                    "lengthMenu": "@Resources.Resources.Display" + " _MENU_ " + "@Resources.Resources.RecordsPerPage",
                    "zeroRecords": "@Resources.Resources.NothingFound",
                    "info": "@Resources.Resources.ShowingPages" + " _PAGE_ " + "@Resources.Resources.of" + " _PAGES_",
                    "infoEmpty": "@Resources.Resources.NoRecords",
                    "infoFiltered": "(" + "@Resources.Resources.FilteredFrom" + " _MAX_ " + "@Resources.Resources.TotalRecords" + ")",
                    "sSearch": "@Resources.Resources.Search",
                    "paginate": {
                        "previous": "@Resources.Resources.Previous",
                        "next": "@Resources.Resources.Next"
                    }
                },
				"bDestroy": true,
                "fnDrawCallback": function (settings) {
                    setDetalle_de_Galeria_de_TestigosValidation();
                }
            }).on('init.dt', function (e, data) {
                $('a').tooltip();
            }).on('draw.dt', function () {
                $('#Detalle_de_Galeria_de_TestigosGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('.gridDatePicker').inputmask("99-99-9999", { "placeholder": "dd-mm-yyyy" });
            });
        }





        var Detalle_de_Galeria_de_TestigosData = [];
        var Detalle_de_Galeria_de_TestigosdeletedItem = [];
        var Detalle_de_Galeria_de_TestigosDataMain = [];
        var Detalle_de_Galeria_de_TestigosDataMainPages = [];
        var Detalle_de_Galeria_de_TestigosnewItemCount = 0;
        var Detalle_de_Galeria_de_TestigosmaxItemIndex = 0;
        var Detalle_de_Galeria_de_TestigosDataMainInitialized = false;

        function SendDetalle_de_Galeria_de_Testigos(callBack, ClaveId) {
            Detalle_de_Galeria_de_TestigosData = GetDetalle_de_Galeria_de_TestigosFromDataTable();

            if (Detalle_de_Galeria_de_TestigosData.length > 0 || $("#ReferenceClave").val() != ClaveId) {
                if ($("#ReferenceClave").val() != "0" && ClaveId ==null)
                    ClaveId = $("#ReferenceClave").val();                
                if ($("#ReferenceClave").val() == '')
                    $("#ReferenceClave").val('0');
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_de_Datos_del_Testigo_CC/PostDetalle_de_Galeria_de_Testigos?MasterId=")' + ClaveId + "&referenceId=" + $("#ReferenceClave").val(),
                    type: 'POST',
                    data: GetDetalle_de_Galeria_de_Testigos(),
                    async: true,
                    success: function (result) {

                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            } else {
                //showNotification("@Resources.Resources.SaveSuccess", "success");
                //callBack(ClaveId);
            }
            return true;
        }

        function GetAddDetalle_de_Galeria_de_TestigosPopup(currentRowIndex, mode, id) {

            $.ajax({
                url: "@Url.Action("AddDetalle_de_Galeria_de_Testigos", "Detalle_de_Galeria_de_Testigos")",
                type: "GET",
                async: false,
                data: { rowIndex: currentRowIndex, functionMode: mode, id: id },
                success: function (data) {
                    $(".AddDetalle_de_Galeria_de_TestigosModal").html(data);
                },
                error: function () {

                }
            });

            @*$.get('@Url.Action("AddDetalle_de_Galeria_de_Testigos", "Detalle_de_Galeria_de_Testigos")', { rowIndex: currentRowIndex }, function (data) {
                $(".AddDetalle_de_Galeria_de_TestigosModal").html(data);
            });*@
        }

        function ShowMessagePendingRowDetalle_de_Galeria_de_Testigos()
        {
            //alert('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Galería"))')
	    showNotification('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Galería"))', "warning");
        }


        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();





        }
		
		function SendDetalle_de_Datos_del_Testigo_CCData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_de_Datos_del_Testigo_CC").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_de_Datos_del_Testigo_CC")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_de_Datos_del_Testigo_CCCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_de_Datos_del_Testigo_CC/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {
                            SendDetalle_de_Galeria_de_Testigos(callBack, result);

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_de_Datos_del_Testigo_CCPropertyBag", "Detalle_de_Datos_del_Testigo_CC")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_de_Datos_del_Testigo_CCGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleFieldName').val(), ObjectId: '45224', Attribute: $('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleAttribute').val(), Screen: 'Detalle_de_Datos_del_Testigo_CC' }, function (data) {
                $(".Detalle_de_Datos_del_Testigo_CCBusinessRuleModal").html(data);
            });
        }
        function Detalle_de_Datos_del_Testigo_CCGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleFieldName').val(), ObjectId: '45224', Attribute: $('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleAttribute').val(), Screen: 'Detalle_de_Datos_del_Testigo_CC' }, function (data) {
                $(".Detalle_de_Datos_del_Testigo_CCAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleFieldName').val(), ObjectId: '45224', Attribute: $('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleAttribute').val(), Screen: 'Detalle_de_Datos_del_Testigo_CC' }, function (data) {
				$(".Detalle_de_Datos_del_Testigo_CCBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_de_Datos_del_Testigo_CC/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_de_Datos_del_Testigo_CC/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_de_Datos_del_Testigo_CC/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_de_Datos_del_Testigo_CCConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_de_Datos_del_Testigo_CCConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_de_Datos_del_Testigo_CC/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_de_Datos_del_Testigo_CCConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_de_Datos_del_Testigo_CC/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_de_Datos_del_Testigo_CC' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_de_Datos_del_Testigo_CC' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_de_Datos_del_Testigo_CCConfigureSave').text('Save Settings');
                    $('#hdnDetalle_de_Datos_del_Testigo_CCConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_de_Datos_del_Testigo_CC').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_de_Datos_del_Testigo_CCBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
