@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Resolucion_MPModel
@{

/*
    string Fecha_de_Resolucion = "";
    if (Model.Fecha_de_Resolucion == "")
    { Model.Fecha_de_Resolucion = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_de_Validacion = "";
    if (Model.Fecha_de_Validacion == "")
    { Model.Fecha_de_Validacion = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

*/
 List<SelectListItem> varexpediente_ministerio_publico_Expediente_MP = null;
    if (ViewBag.expediente_ministerio_publicos_Expediente_MP != null)
    { varexpediente_ministerio_publico_Expediente_MP = (List<SelectListItem>)ViewBag.expediente_ministerio_publicos_Expediente_MP; }
 List<SelectListItem> varSpartan_User_Persona_que_Resuelve = null;
    if (ViewBag.Spartan_Users_Persona_que_Resuelve != null)
    { varSpartan_User_Persona_que_Resuelve = (List<SelectListItem>)ViewBag.Spartan_Users_Persona_que_Resuelve; }
    List<SelectListItem> varEstatus_de_Resolucion_Estatus = null;
    if (ViewBag.Estatus_de_Resolucions_Estatus != null)
    { varEstatus_de_Resolucion_Estatus = (List<SelectListItem>)ViewBag.Estatus_de_Resolucions_Estatus; }
 List<SelectListItem> varResolucion_Resolucion = null;
    if (ViewBag.Resolucions_Resolucion != null)
    { varResolucion_Resolucion = (List<SelectListItem>)ViewBag.Resolucions_Resolucion; }
    List<SelectListItem> varJuzgado_Juzgado = null;
    if (ViewBag.Juzgados_Juzgado != null)
    { varJuzgado_Juzgado = (List<SelectListItem>)ViewBag.Juzgados_Juzgado; }
    List<SelectListItem> varTipo_de_Judicializacion_Tipo = null;
    if (ViewBag.Tipo_de_Judicializacions_Tipo != null)
    { varTipo_de_Judicializacion_Tipo = (List<SelectListItem>)ViewBag.Tipo_de_Judicializacions_Tipo; }
    List<SelectListItem> varAno_Ano_de_Causa_o_Cuadernillo = null;
    if (ViewBag.Anos_Ano_de_Causa_o_Cuadernillo != null)
    { varAno_Ano_de_Causa_o_Cuadernillo = (List<SelectListItem>)ViewBag.Anos_Ano_de_Causa_o_Cuadernillo; }
 List<SelectListItem> varSpartan_User_Dictaminador = null;
    if (ViewBag.Spartan_Users_Dictaminador != null)
    { varSpartan_User_Dictaminador = (List<SelectListItem>)ViewBag.Spartan_Users_Dictaminador; }
    List<SelectListItem> varResolucion_Resultado_de_Validacion = null;
    if (ViewBag.Resolucions_Resultado_de_Validacion != null)
    { varResolucion_Resultado_de_Validacion = (List<SelectListItem>)ViewBag.Resolucions_Resultado_de_Validacion; }

    Permission permissionDetalle_Vinculacion_Resolucion = ViewBag.PermissionDetalle_Vinculacion_Resolucion;

    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial || ViewBag.viewInEframe)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.Resolucion_MPResources.Resolucion_MP
                <button onclick="Resolucion_MPGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Resolucion_MPBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.Resolucion_MPResources.Resolucion_MP</strong>
                }
                
            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="Resolucion_MPDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in Resolucion_MPPropertyBusinessModal" id="Resolucion_MPPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Resolucion_MPBusinessRule-form" onclick="Resolucion_MPGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Resolucion_MPBusinessRuleModal" id="Resolucion_MPBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }
                    <div aria-hidden="true" class="modal fade in AddDetalle_Vinculacion_ResolucionModal" id="AddDetalle_Vinculacion_Resolucion-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>


        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Resolucion_MP", FormMethod.Post, new { id = "CreateResolucion_MP", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid Resolucion_MPCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.Resolucion_MPResources.TabDatos_Generales</a></li>
<li class=""><a data-toggle="tab" href="#tabValidacion"> @Resources.Resolucion_MPResources.TabValidacion</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_MPResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="268494" data-field-name="@Resources.Resolucion_MPResources.Clave">
                                    <label class="form-control" for="Clave" id="lblClave">
                                    @if (Model.Clave== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Clave</text>
                                        }
                                    </label>
                                </div>
                            </div>
				<div class="form-group" id="divExpediente_MP">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_MPResources.Expediente_MP</label>
                                <div class="col-sm-8" data-field-id="Expediente_MP" data-attribute="268499" data-field-name="@Resources.Resolucion_MPResources.Expediente_MP">
                                    <select class='fullWidth AutoComplete AutoCompleteResolucion_MP_Expediente_MP form-control select2-dropdown Datos_Generales' data-val="true" id="Expediente_MP" name="Expediente_MP">
                                        <option value="@Model.Expediente_MP">@(Model.Expediente_MPnic??Model.Expediente_MPnic)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268499).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('expediente_ministerio_publico', 'Expediente_MP');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divFecha_de_Resolucion">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_MPResources.Fecha_de_Resolucion</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Resolucion" data-attribute="268500" data-field-name="@Resources.Resolucion_MPResources.Fecha_de_Resolucion">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Fecha_de_Resolucion"  name="Fecha_de_Resolucion" type="text" value="@Model.Fecha_de_Resolucion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
				<div class="form-group" id="divPersona_que_Resuelve">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_MPResources.Persona_que_Resuelve</label>
                                <div class="col-sm-8" data-field-id="Persona_que_Resuelve" data-attribute="268501" data-field-name="@Resources.Resolucion_MPResources.Persona_que_Resuelve">
                                    <select class='fullWidth AutoComplete AutoCompleteResolucion_MP_Persona_que_Resuelve form-control select2-dropdown Datos_Generales' data-val="true" id="Persona_que_Resuelve" name="Persona_que_Resuelve">
                                        <option value="@Model.Persona_que_Resuelve">@(Model.Persona_que_ResuelveName??Model.Persona_que_ResuelveName)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268501).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Spartan_User', 'Persona_que_Resuelve');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divEstatus">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_MPResources.Estatus</label>
                                <div class="col-sm-8" data-field-id="Estatus" data-attribute="268512" data-field-name="@Resources.Resolucion_MPResources.Estatus">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Estatus must be a number." data-val-required="The Estatus field is required." id="Estatus" name="Estatus">
                                        <option value=""></option>
                                        @if (varEstatus_de_Resolucion_Estatus != null){ 
                                            foreach (var itemEstatus in varEstatus_de_Resolucion_Estatus)
                                            {
                                                if (itemEstatus.Value == Convert.ToString(Model.Estatus))
                                                {
                                                    <option value="@itemEstatus.Value" selected>@itemEstatus.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemEstatus.Value">@itemEstatus.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Estatus" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268512).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Estatus_de_Resolucion', 'Estatus');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
				<div class="form-group" id="divResolucion">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_MPResources.Resolucion</label>
                                <div class="col-sm-8" data-field-id="Resolucion" data-attribute="268502" data-field-name="@Resources.Resolucion_MPResources.Resolucion">
                                    <select class='fullWidth AutoComplete AutoCompleteResolucion_MP_Resolucion form-control select2-dropdown Datos_Generales' data-val="true" id="Resolucion" name="Resolucion">
                                        <option value="@Model.Resolucion">@(Model.ResolucionDescripcion??Model.ResolucionDescripcion)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268502).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Resolucion', 'Resolucion');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div id="divVinculacion">
                            <div class="ibox-title">
                                <h5>@Resources.Resolucion_MPResources.Vinculacion</h5>
                                <div class="ibox-tools">
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="">
									@if (permissionDetalle_Vinculacion_Resolucion.New && !ViewBag.Consult)
                                    {
                                        <a onclick="Detalle_Vinculacion_ResolucionfnClickAddRow();" href="javascript:void(0);" title="@Resources.Resources.AddNewRow" class="Detalle_Vinculacion_ResolucionAddRow btn btn-primary">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                    }
                                    <button onclick="Resolucion_MPGetBusinessRule('', 'Al Guardar o al Eliminar una Row', '268503')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Resolucion_MPBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToCreateGrid">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>
									@if (permissionDetalle_Vinculacion_Resolucion.New && !ViewBag.Consult)
                                    {
                                        <a onclick="Detalle_Vinculacion_ResolucionfnOpenAddRowPopUp();" data-toggle="modal" title="@Resources.Resources.AddNewRow" data-target="#AddDetalle_Vinculacion_Resolucion-form" data-backdrop="static" data-keyboard="false" class="btn_mrpopup btn btn-primary">
                                            <i class="glyphicon glyphicon-new-window"></i>
                                        </a>
                                    }  
                                </div>

                                <br />

                                <div style='overflow-x: auto;'>
                                    <table class="table table-striped table-bordered table-hover childValidateTable" id="Detalle_Vinculacion_ResolucionGrid">
                                        <thead>
                                            <tr>
                                                <th class="ActionHeader"><span>@Resources.Resources.Actions</span></th>


                                                <th class="SeleccionarHeader"><span>
<button type="button" data-attribute="268497" data-field-id="Detalle_Vinculacion_ResolucionSeleccionar" data-field-name="@Resources.Detalle_Vinculacion_ResolucionResources.Seleccionar" data-toggle="modal" data-target="#Resolucion_MPBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_Vinculacion_ResolucionResources.Seleccionar">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_Vinculacion_ResolucionResources.Seleccionar</span></th>
                                                <th class="RelacionHeader"><span>
<button type="button" data-attribute="268498" data-field-id="Detalle_Vinculacion_ResolucionRelacion" data-field-name="@Resources.Detalle_Vinculacion_ResolucionResources.Relacion" data-toggle="modal" data-target="#Resolucion_MPBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_Vinculacion_ResolucionResources.Relacion">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_Vinculacion_ResolucionResources.Relacion</span></th>
                                                <th class="idRelacionHeader"><span>
<button type="button" data-attribute="268509" data-field-id="Detalle_Vinculacion_ResolucionidRelacion" data-field-name="@Resources.Detalle_Vinculacion_ResolucionResources.idRelacion" data-toggle="modal" data-target="#Resolucion_MPBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_Vinculacion_ResolucionResources.idRelacion">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>
@Resources.Detalle_Vinculacion_ResolucionResources.idRelacion</span></th>

                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            </div>
                            <div class="form-group" id="divJuzgado">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_MPResources.Juzgado</label>
                                <div class="col-sm-8" data-field-id="Juzgado" data-attribute="268504" data-field-name="@Resources.Resolucion_MPResources.Juzgado">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Juzgado must be a number." data-val-required="The Juzgado field is required." id="Juzgado" name="Juzgado">
                                        <option value=""></option>
                                        @if (varJuzgado_Juzgado != null){ 
                                            foreach (var itemJuzgado in varJuzgado_Juzgado)
                                            {
                                                if (itemJuzgado.Value == Convert.ToString(Model.Juzgado))
                                                {
                                                    <option value="@itemJuzgado.Value" selected>@itemJuzgado.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemJuzgado.Value">@itemJuzgado.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Juzgado" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268504).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Juzgado', 'Juzgado');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divTipo">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_MPResources.Tipo</label>
                                <div class="col-sm-8" data-field-id="Tipo" data-attribute="268505" data-field-name="@Resources.Resolucion_MPResources.Tipo">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Tipo must be a number." data-val-required="The Tipo field is required." id="Tipo" name="Tipo">
                                        <option value=""></option>
                                        @if (varTipo_de_Judicializacion_Tipo != null){ 
                                            foreach (var itemTipo in varTipo_de_Judicializacion_Tipo)
                                            {
                                                if (itemTipo.Value == Convert.ToString(Model.Tipo))
                                                {
                                                    <option value="@itemTipo.Value" selected>@itemTipo.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemTipo.Value">@itemTipo.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Tipo" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268505).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Tipo_de_Judicializacion', 'Tipo');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divNo__De_Causa_o_Cuadernillo">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_MPResources.No__De_Causa_o_Cuadernillo</label>
                                <div class="col-sm-8" data-field-id="No__De_Causa_o_Cuadernillo" data-attribute="268506" data-field-name="@Resources.Resolucion_MPResources.No__De_Causa_o_Cuadernillo">
                                    <input class="form-control inputNumber Datos_Generales" id="No__De_Causa_o_Cuadernillo" name="No__De_Causa_o_Cuadernillo" type="text" value="@Model.No__De_Causa_o_Cuadernillo">
                                    @*<span class="field-validation-valid" data-valmsg-for="No__De_Causa_o_Cuadernillo" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divAno_de_Causa_o_Cuadernillo">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_MPResources.Ano_de_Causa_o_Cuadernillo</label>
                                <div class="col-sm-8" data-field-id="Ano_de_Causa_o_Cuadernillo" data-attribute="268507" data-field-name="@Resources.Resolucion_MPResources.Ano_de_Causa_o_Cuadernillo">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Año de Causa o Cuadernillo must be a number." data-val-required="The Año de Causa o Cuadernillo field is required." id="Ano_de_Causa_o_Cuadernillo" name="Ano_de_Causa_o_Cuadernillo">
                                        <option value=""></option>
                                        @if (varAno_Ano_de_Causa_o_Cuadernillo != null){ 
                                            foreach (var itemAno_de_Causa_o_Cuadernillo in varAno_Ano_de_Causa_o_Cuadernillo)
                                            {
                                                if (itemAno_de_Causa_o_Cuadernillo.Value == Convert.ToString(Model.Ano_de_Causa_o_Cuadernillo))
                                                {
                                                    <option value="@itemAno_de_Causa_o_Cuadernillo.Value" selected>@itemAno_de_Causa_o_Cuadernillo.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemAno_de_Causa_o_Cuadernillo.Value">@itemAno_de_Causa_o_Cuadernillo.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Ano_de_Causa_o_Cuadernillo" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268507).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Ano', 'Ano_de_Causa_o_Cuadernillo');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divObservaciones">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_MPResources.Observaciones</label>
                                <div class="col-sm-8" data-field-id="Observaciones" data-attribute="268508" data-field-name="@Resources.Resolucion_MPResources.Observaciones">
                                    <textarea id="Observaciones" name="Observaciones" class="form-control Datos_Generales" rows="4" cols="50">@Model.Observaciones</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Observaciones" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            </div>
                                </div>


                            <div id="tabValidacion" class="tab-pane">
                                <div class="panel-body">
                            <div class="form-group" id="divFecha_de_Validacion">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_MPResources.Fecha_de_Validacion</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Validacion" data-attribute="268513" data-field-name="@Resources.Resolucion_MPResources.Fecha_de_Validacion">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Validacion" id="Fecha_de_Validacion"  name="Fecha_de_Validacion" type="text" value="@Model.Fecha_de_Validacion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divHora_de_Validacion">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_MPResources.Hora_de_Validacion</label>
                                <div class="col-sm-8" data-field-id="Hora_de_Validacion" data-attribute="268514" data-field-name="@Resources.Resolucion_MPResources.Hora_de_Validacion">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12 Validacion" id="Hora_de_Validacion"  name="Hora_de_Validacion" type="text" data-autoclose="true" value="@Model.Hora_de_Validacion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
				<div class="form-group" id="divDictaminador">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_MPResources.Dictaminador</label>
                                <div class="col-sm-8" data-field-id="Dictaminador" data-attribute="268515" data-field-name="@Resources.Resolucion_MPResources.Dictaminador">
                                    <select class='fullWidth AutoComplete AutoCompleteResolucion_MP_Dictaminador form-control select2-dropdown Validacion' data-val="true" id="Dictaminador" name="Dictaminador">
                                        <option value="@Model.Dictaminador">@(Model.DictaminadorName??Model.DictaminadorName)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268515).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Spartan_User', 'Dictaminador');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divResultado_de_Validacion">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_MPResources.Resultado_de_Validacion</label>
                                <div class="col-sm-8" data-field-id="Resultado_de_Validacion" data-attribute="268516" data-field-name="@Resources.Resolucion_MPResources.Resultado_de_Validacion">
                                    <select class="form-control Validacion" data-val="true" data-val-number="The field Resultado de Validación must be a number." data-val-required="The Resultado de Validación field is required." id="Resultado_de_Validacion" name="Resultado_de_Validacion">
                                        <option value=""></option>
                                        @if (varResolucion_Resultado_de_Validacion != null){ 
                                            foreach (var itemResultado_de_Validacion in varResolucion_Resultado_de_Validacion)
                                            {
                                                if (itemResultado_de_Validacion.Value == Convert.ToString(Model.Resultado_de_Validacion))
                                                {
                                                    <option value="@itemResultado_de_Validacion.Value" selected>@itemResultado_de_Validacion.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemResultado_de_Validacion.Value">@itemResultado_de_Validacion.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Resultado_de_Validacion" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268516).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Resolucion', 'Resultado_de_Validacion');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divObservaciones_Dictaminador">
                                <label class="col-sm-2 control-label">@Resources.Resolucion_MPResources.Observaciones_Dictaminador</label>
                                <div class="col-sm-8" data-field-id="Observaciones_Dictaminador" data-attribute="268517" data-field-name="@Resources.Resolucion_MPResources.Observaciones_Dictaminador">
                                    <textarea id="Observaciones_Dictaminador" name="Observaciones_Dictaminador" class="form-control Validacion" rows="4" cols="50">@Model.Observaciones_Dictaminador</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Observaciones_Dictaminador" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Clave" id="ReferenceClave" />
                                <input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Resolucion_MPGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('Resolucion_MPCreateForm');"  />
									<button onclick="Resolucion_MPGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Resolucion_MPBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="Resolucion_MPGuardarYNuevo" onclick="return checkClientValidate('Resolucion_MPCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="Resolucion_MPGuardarYCopia" onclick="return checkClientValidate('Resolucion_MPCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnResolucion_MPBusinessRuleFieldId" />
                                <input type="hidden" id="hdnResolucion_MPBusinessRuleFieldName" />
                                <input type="hidden" id="hdnResolucion_MPBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Resolucion_MPCancelar" name="Resolucion_MPCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="Resolucion_MPGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Resolucion_MPBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Resolucion_MP.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Resolucion_MPGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Resolucion_MPCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var viewInEframe =  ('@ViewBag.viewInEframe' == 'True');
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;

		var Tab_Validacion = true;


        $(document).ready(function () {
            $('#ObjectId').val('45628');
		                  



           
              showDetalle_Vinculacion_ResolucionGrid(null);

		   
                        $('#Fecha_de_Resolucion').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Fecha_de_Validacion').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Hora_de_Validacion').clockpicker();


            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			
			 if (viewInEframe) {             
                $('#Resolucion_MPGuardarYNuevo').hide();
                $('#Resolucion_MPGuardarYCopia').hide();
                $('#Resolucion_MPCancelar').hide(); 
                $('#ConfigureSave').hide();
                $('#Resolucion_MPGuardar').val('Actualizar Seccion ' + '@Resources.Resolucion_MPResources.Resolucion_MP' )
            }

			
			       var AutoCompleteExpediente_MPData =[];
       $(".AutoCompleteResolucion_MP_Expediente_MP").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Resolucion_MP/GetResolucion_MP_Expediente_MP_expediente_ministerio_publico")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteResolucion_MP_Expediente_MP_expediente_ministerio_publicoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteResolucion_MP_Expediente_MP");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompletePersona_que_ResuelveData =[];
       $(".AutoCompleteResolucion_MP_Persona_que_Resuelve").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Resolucion_MP/GetResolucion_MP_Persona_que_Resuelve_Spartan_User")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteResolucion_MP_Persona_que_Resuelve_Spartan_UserData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteResolucion_MP_Persona_que_Resuelve");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteResolucionData =[];
       $(".AutoCompleteResolucion_MP_Resolucion").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Resolucion_MP/GetResolucion_MP_Resolucion_Resolucion")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteResolucion_MP_Resolucion_ResolucionData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteResolucion_MP_Resolucion");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteDictaminadorData =[];
       $(".AutoCompleteResolucion_MP_Dictaminador").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Resolucion_MP/GetResolucion_MP_Dictaminador_Spartan_User")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteResolucion_MP_Dictaminador_Spartan_UserData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteResolucion_MP_Dictaminador");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });


            @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();

				if (Tab_Validacion)
					Fill_Validacion();


                </text>
            }
            EjecutarValidacionesAlComienzo(); 
			
        });

        var Detalle_Vinculacion_ResolucioninsertRowCurrentIndex = -1;
        var Detalle_Vinculacion_ResolucionDataDataTable;
        function getDetalle_Vinculacion_ResolucionData() {
            $.ajax({
                url: "@Url.Content("~/Frontal/Resolucion_MP/GetDetalle_Vinculacion_Resolucion")" + "?draw=1&start=1&length=2147483647" + ($("#ReferenceClave").val() != "" ? "&RelationId=" + $("#ReferenceClave").val() : ""),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                    Detalle_Vinculacion_ResolucionDataDataTable = result.data;
                    showDetalle_Vinculacion_ResolucionGrid(result.data);
                    $('#Detalle_Vinculacion_ResolucionGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Detalle_Vinculacion_ResolucionGrid .gridDatePicker').attr("readonly", "");
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
        function Detalle_Vinculacion_ResolucionGetUpdateRowControls(data, nameOfTable, rowIndex) {

            var columnData = [];
            var counter = 0;
            var inputData = "<input type='text' class='fullWidth form-control' />";

              columnData[counter++] = $($($.parseHTML(GetGridCheckBox())).prop('checked', (data.Seleccionar=="true" || data.Seleccionar==true)? 'checked': ''? 'checked': '')).addClass('Seleccionar').attr('id', nameOfTable + 'Seleccionar' + rowIndex).attr('data-field', 'Seleccionar');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Relacion)).addClass('Relacion').attr('id', nameOfTable + 'Relacion' + rowIndex).attr('data-field', 'Relacion');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.idRelacion)).addClass('idRelacion inputNumber').attr('id', nameOfTable + 'idRelacion' + rowIndex).attr('data-field', 'idRelacion');

            return columnData;
        }



        function GetFileInfo(fileData, fileUploadData) {

            var $div = $("<div>");
            if (fileUploadData != null && fileUploadData.files.length > 0) {

                $div.append("<label>" + fileUploadData.files[0].name + "</label>");
                //<i class="fa fa-times-circle" id='removeFileAttachment'>
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;

            } else if (fileUploadData != null) {
                return $.parseHTML(GetFileUploader());
            } else {
                $div.append("<label>" + fileData.FileName + "</label>");
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;
            }
        }

        var removedDetalle_Vinculacion_ResolucionData = [];
        function Detalle_Vinculacion_ResolucionDeleteRow(rowIndex, row) {
            var rowIndexTable = Detalle_Vinculacion_ResolucionTable.fnGetPosition($(row).parent().parent()[0]);
            var permission = {            
                 Delete: '@permissionDetalle_Vinculacion_Resolucion.Delete' == 'True'
            };
            if (!permission.Delete || isConsultMode)
                return;            
            if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
              if (EjecutarValidacionesAlEliminarMRDetalle_Vinculacion_Resolucion('Detalle_Vinculacion_Resolucion_', '_' + rowIndex)) {
                var prevData = Detalle_Vinculacion_ResolucionTable.fnGetData(rowIndexTable );
                removedDetalle_Vinculacion_ResolucionData.push(prevData);
                Detalle_Vinculacion_ResolucionTable.fnDeleteRow(rowIndexTable );
				showDetalle_Vinculacion_ResolucionGrid(Detalle_Vinculacion_ResolucionTable.fnGetData());
              }
            }
			initiateUIControls();
        }

        function Detalle_Vinculacion_ResolucionrowCreationGrid(row, data, index) {
            var permission =  {            
                 Edit: '@permissionDetalle_Vinculacion_Resolucion.Edit' == 'True',
                 Delete: '@permissionDetalle_Vinculacion_Resolucion.Delete' == 'True'
            };
            setDetalle_Vinculacion_ResolucionValidation();
            var Detalle_Vinculacion_ResolucionRowElement = "Detalle_Vinculacion_Resolucion_" + index.toString();
            $(row).addClass(Detalle_Vinculacion_ResolucionRowElement);
            var nameOfTable='Detalle_Vinculacion_Resolucion_';
            var rowIndex = '_' + index;
            Detalle_Vinculacion_ResolucioninsertRowCurrentIndex = index;

            row.innerHTML = "";

            if (data.IsInsertRow) {

                if (row.childNodes.length != 0) {
                    for (var i = 0; i < row.childNodes.length; i++) {
                        row.childNodes[i].remove();
                    }
                }
                var controls = GetInsertDetalle_Vinculacion_ResolucionRowControls(index);
                var actionColInsert = $('<td>');

                var abc = "if(dynamicFieldValidation('" + Detalle_Vinculacion_ResolucionRowElement + "')){ Detalle_Vinculacion_ResolucionInsertRow(" + index + "); }";
                var insertRowHTML = '<a  data-toggle="tooltip" title="Confirmar Registro" onclick="' + abc + '">';
                $('<i class="fa fa-check">').appendTo($(insertRowHTML).appendTo(actionColInsert));
				$('<i class="fa fa-times">').appendTo($("<a data-toggle='tooltip' title='Cancelar Registro' onclick='Detalle_Vinculacion_ResolucionCancelRow(" + index + ")'>").appendTo(actionColInsert));
                actionColInsert.appendTo(row);

                for (i = 0; i < controls.length; i++) {
					var idHeader = $(controls[i]).data('field') + 'Header';
					if($(controls[i]).length > 1){
						idHeader = $($(controls[i])[1]).data('field') + 'Header';
					}					

					var classe = ($('#Detalle_Vinculacion_ResolucionGrid .' + idHeader).hasClass('dt-right') ? "dt-right" : "") + $('#Detalle_Vinculacion_ResolucionGrid .' + idHeader ).css('display') == 'none' ? " hide" : "";
				   
					if ($(controls[i]).next().length > 0) {
					    var div = $(controls[i]).next();
					    $('<td class="' + classe + '">').append($(controls[i])).append(div).appendTo(row);
					}else
					    $(controls[i]).appendTo($('<td class="' + classe + '">').appendTo(row));
					
                }
                $('#Detalle_Vinculacion_ResolucionGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('#Detalle_Vinculacion_ResolucionGrid .gridDatePicker').attr("readonly", "");
                return;
            }

            var actionCol = $('<td>');
			var edit = "<a title='@Resources.Resources.Edit' class='edit-MR' onclick='Detalle_Vinculacion_ResolucionEditRow(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                edit = "";
            var editPopUp = "<a title='@Resources.Resources.Edit' class='edit-popup-MR' data-toggle='modal' data-target='#AddDetalle_Vinculacion_Resolucion-form' onclick='Detalle_Vinculacion_ResolucionEditRowPopup(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                editPopUp = "";
            var eliminar = "<a title='@Resources.Resources.Delete' class='eliminar-MR' onclick='Detalle_Vinculacion_ResolucionDeleteRow(" + index + ", this)'>";
            if (!permission.Delete || isConsultMode)
                eliminar = "";
            $('<i class="fa fa-pencil">').appendTo($(edit).appendTo(actionCol));
            //$('<i class="fa fa-edit">').appendTo($(editPopUp).appendTo(actionCol));
            $('<i class="fa fa-trash-o">').appendTo($(eliminar).appendTo(actionCol));
			if ($('.Action' + 'Header').css('display') != 'none')
				actionCol.appendTo(row);

            if ($('.Seleccionar' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Seleccionar'+rowIndex+'">').text(data.Seleccionar).appendTo(row);
            else
                $('<td style="display:none;" id="'+nameOfTable+'Seleccionar'+rowIndex+'">').text(data.Seleccionar).appendTo(row);
            if ($('.Relacion' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Relacion'+rowIndex+'">').text(data.Relacion).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Relacion'+rowIndex+'">').text(data.Relacion).appendTo(row);
            if ($('.idRelacion' + 'Header').css('display') != 'none')
                $('<td class="dt-right"  id="'+nameOfTable+'idRelacion'+rowIndex+'">').text(data.idRelacion).appendTo(row);
            else 
                 $('<td class="dt-right" style="display:none;"  id="'+nameOfTable+'idRelacion'+rowIndex+'">').text(data.idRelacion).appendTo(row);

        }

        var Detalle_Vinculacion_ResolucionTable;
        function showDetalle_Vinculacion_ResolucionGrid(dataSet) {
            //removedDetalle_Vinculacion_ResolucionData = [];
            Detalle_Vinculacion_ResolucionTable = $('#Detalle_Vinculacion_ResolucionGrid').dataTable({
                dom: '<"html5buttons"B>lTgitp',
                buttons: [
                ],
                "createdRow": Detalle_Vinculacion_ResolucionrowCreationGrid,
                "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
                data: dataSet,
                "columns": [
                    { "data": null, 'visible': true, "orderable": false },

                    { "data": "Seleccionar", "orderable": false },
                    { "data": "Relacion", "orderable": false },
                    { "data": "idRelacion", "className": "dt-right", "orderable": false },

                ],
                "order": [[0, "asc"]],
                "language": {
                    "lengthMenu": "@Resources.Resources.Display" + " _MENU_ " + "@Resources.Resources.RecordsPerPage",
                    "zeroRecords": "@Resources.Resources.NothingFound",
                    "info": "@Resources.Resources.ShowingPages" + " _PAGE_ " + "@Resources.Resources.of" + " _PAGES_",
                    "infoEmpty": "@Resources.Resources.NoRecords",
                    "infoFiltered": "(" + "@Resources.Resources.FilteredFrom" + " _MAX_ " + "@Resources.Resources.TotalRecords" + ")",
                    "sSearch": "@Resources.Resources.Search",
                    "paginate": {
                        "previous": "@Resources.Resources.Previous",
                        "next": "@Resources.Resources.Next"
                    }
                },
				"bDestroy": true,
                "fnDrawCallback": function (settings) {
                    setDetalle_Vinculacion_ResolucionValidation();
                }
            }).on('init.dt', function (e, data) {
                $('a').tooltip();
            }).on('draw.dt', function () {
                $('#Detalle_Vinculacion_ResolucionGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('.gridDatePicker').inputmask("99-99-9999", { "placeholder": "dd-mm-yyyy" });
            });
        }






        var Detalle_Vinculacion_ResolucionData = [];
        var Detalle_Vinculacion_ResoluciondeletedItem = [];
        var Detalle_Vinculacion_ResolucionDataMain = [];
        var Detalle_Vinculacion_ResolucionDataMainPages = [];
        var Detalle_Vinculacion_ResolucionnewItemCount = 0;
        var Detalle_Vinculacion_ResolucionmaxItemIndex = 0;
        var Detalle_Vinculacion_ResolucionDataMainInitialized = false;

        function SendDetalle_Vinculacion_Resolucion(callBack, ClaveId) {
            Detalle_Vinculacion_ResolucionData = GetDetalle_Vinculacion_ResolucionFromDataTable();

            if (Detalle_Vinculacion_ResolucionData.length > 0 || $("#ReferenceClave").val() != ClaveId) {
                if ($("#ReferenceClave").val() != "0" && ClaveId ==null)
                    ClaveId = $("#ReferenceClave").val();                
                if ($("#ReferenceClave").val() == '')
                    $("#ReferenceClave").val('0');
                $.ajax({
                    url: '@Url.Content("~/Frontal/Resolucion_MP/PostDetalle_Vinculacion_Resolucion?MasterId=")' + ClaveId + "&referenceId=" + $("#ReferenceClave").val(),
                    type: 'POST',
                    data: GetDetalle_Vinculacion_Resolucion(),
                    async: true,
                    success: function (result) {

                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            } else {
                //showNotification("@Resources.Resources.SaveSuccess", "success");
                //callBack(ClaveId);
            }
            return true;
        }

        function GetAddDetalle_Vinculacion_ResolucionPopup(currentRowIndex, mode, id) {

            $.ajax({
                url: "@Url.Action("AddDetalle_Vinculacion_Resolucion", "Detalle_Vinculacion_Resolucion")",
                type: "GET",
                async: false,
                data: { rowIndex: currentRowIndex, functionMode: mode, id: id },
                success: function (data) {
                    $(".AddDetalle_Vinculacion_ResolucionModal").html(data);
                },
                error: function () {

                }
            });

            @*$.get('@Url.Action("AddDetalle_Vinculacion_Resolucion", "Detalle_Vinculacion_Resolucion")', { rowIndex: currentRowIndex }, function (data) {
                $(".AddDetalle_Vinculacion_ResolucionModal").html(data);
            });*@
        }

        function ShowMessagePendingRowDetalle_Vinculacion_Resolucion()
        {
            //alert('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Vinculación"))')
	    showNotification('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Vinculación"))', "warning");
        }


        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });






        }

    </script>

<script type="text/javascript">


   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Resolucion_MP/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }


        function SendResolucion_MPData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateResolucion_MP").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateResolucion_MP")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceClave").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('Resolucion_MPCreateForm', 'Datos_Generales')) {
				return false;
			}						

			if (Tab_Validacion && !checkClientValidate('Resolucion_MPCreateForm', 'Validacion')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);

			if (Tab_Validacion)
				Save_Validacion(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Resolucion_MP/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".Resolucion_MPBusinessRuleModal").html(data);
			});
		}
                function Resolucion_MPGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('45628');
			$('#Screen').val('Resolucion_MP');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function Resolucion_MPBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Resolucion_MP/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Resolucion_MP/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Resolucion_MP/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Resolucion_MP/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Resolucion_MP/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateResolucion_MP').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        Resolucion_MPGetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Resolucion_MP/Get_Datos_Generales")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    var control = $('#Expediente_MP');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Expediente_MP).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Expediente_MP).trigger('change');
                    }, 3000);
                    $('#Fecha_de_Resolucion').val(result.data.Fecha_de_Resolucion);
                    var control = $('#Persona_que_Resuelve');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Persona_que_Resuelve).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Persona_que_Resuelve).trigger('change');
                    }, 3000);
                    $('#Estatus').val(result.data.Estatus);
                    var control = $('#Resolucion');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Resolucion).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Resolucion).trigger('change');
                    }, 3000);
                    Detalle_Vinculacion_ResolucionDataDataTable = result.Vinculacion;
                    showDetalle_Vinculacion_ResolucionGrid(result.Vinculacion);
                    $('#Detalle_Vinculacion_ResolucionGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Detalle_Vinculacion_ResolucionGrid .gridDatePicker').attr("readonly", "");
                    $('#Juzgado').val(result.data.Juzgado);
                    $('#Tipo').val(result.data.Tipo);
                    $('#No__De_Causa_o_Cuadernillo').val(result.data.No__De_Causa_o_Cuadernillo);
                    $('#Ano_de_Causa_o_Cuadernillo').val(result.data.Ano_de_Causa_o_Cuadernillo);
                    $('#Observaciones').val(result.data.Observaciones);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Expediente_MP', $('#Expediente_MP').val());
                data.append('Fecha_de_Resolucion', $('#Fecha_de_Resolucion').val());
                data.append('Persona_que_Resuelve', $('#Persona_que_Resuelve').val());
                data.append('Estatus', $('#Estatus').val());
                data.append('Resolucion', $('#Resolucion').val());
                data.append('Juzgado', $('#Juzgado').val());
                data.append('Tipo', $('#Tipo').val());
                data.append('No__De_Causa_o_Cuadernillo', $('#No__De_Causa_o_Cuadernillo').val());
                data.append('Ano_de_Causa_o_Cuadernillo', $('#Ano_de_Causa_o_Cuadernillo').val());
                data.append('Observaciones', $('#Observaciones').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Resolucion_MP/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    					    SendDetalle_Vinculacion_Resolucion(null, newId);

					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}

		function Fill_Validacion()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Resolucion_MP/Get_Validacion")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    $('#Fecha_de_Validacion').val(result.data.Fecha_de_Validacion);
                    $('#Hora_de_Validacion').val(result.data.Hora_de_Validacion);
                    var control = $('#Dictaminador');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Dictaminador).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Dictaminador).trigger('change');
                    }, 3000);
                    $('#Resultado_de_Validacion').val(result.data.Resultado_de_Validacion);
                    $('#Observaciones_Dictaminador').val(result.data.Observaciones_Dictaminador);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Validacion(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Fecha_de_Validacion', $('#Fecha_de_Validacion').val());
                data.append('Hora_de_Validacion', $('#Hora_de_Validacion').val());
                data.append('Dictaminador', $('#Dictaminador').val());
                data.append('Resultado_de_Validacion', $('#Resultado_de_Validacion').val());
                data.append('Observaciones_Dictaminador', $('#Observaciones_Dictaminador').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Resolucion_MP/Post_Validacion")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Validacion");
					} else {
						newId = result;
                    
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Validacion");
				},
				cache: false
			});
		}


    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Resolucion_MP_cmbLabelSelect" name="Resolucion_MP_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />

