@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Medidas_de_ProteccionAdvanceSearchModel
@{
 List<SelectListItem> varModulo_Atencion_Inicial_Expediente_AT = null;
    if (ViewBag.Modulo_Atencion_Inicials_Expediente_AT != null)
    { varModulo_Atencion_Inicial_Expediente_AT = (List<SelectListItem>)ViewBag.Modulo_Atencion_Inicials_Expediente_AT; }
 List<SelectListItem> varSolicitud_Expediente_MASC = null;
    if (ViewBag.Solicituds_Expediente_MASC != null)
    { varSolicitud_Expediente_MASC = (List<SelectListItem>)ViewBag.Solicituds_Expediente_MASC; }
 List<SelectListItem> varexpediente_ministerio_publico_Expediente_MP = null;
    if (ViewBag.expediente_ministerio_publicos_Expediente_MP != null)
    { varexpediente_ministerio_publico_Expediente_MP = (List<SelectListItem>)ViewBag.expediente_ministerio_publicos_Expediente_MP; }
 List<SelectListItem> varSpartan_User_Usuario_que_Registra = null;
    if (ViewBag.Spartan_Users_Usuario_que_Registra != null)
    { varSpartan_User_Usuario_que_Registra = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Registra; }
    List<SelectListItem> varTipo_de_Medida_de_Proteccion_Tipo_de_Medida = null;
    if (ViewBag.Tipo_de_Medida_de_Proteccions_Tipo_de_Medida != null)
    { varTipo_de_Medida_de_Proteccion_Tipo_de_Medida = (List<SelectListItem>)ViewBag.Tipo_de_Medida_de_Proteccions_Tipo_de_Medida; }
    List<SelectListItem> varSubTipo_de_Medida_de_Proteccion_Sub_Tipo = null;
    if (ViewBag.SubTipo_de_Medida_de_Proteccions_Sub_Tipo != null)
    { varSubTipo_de_Medida_de_Proteccion_Sub_Tipo = (List<SelectListItem>)ViewBag.SubTipo_de_Medida_de_Proteccions_Sub_Tipo; }
 List<SelectListItem> varDetalle_de_Relaciones_Aplicar_a = null;
    if (ViewBag.Detalle_de_Relacioness_Aplicar_a != null)
    { varDetalle_de_Relaciones_Aplicar_a = (List<SelectListItem>)ViewBag.Detalle_de_Relacioness_Aplicar_a; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Medidas_de_Proteccion", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Medidas_de_ProteccionResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
 List<SelectListItem> varModulo_Atencion_Inicial_Expediente_AT = null;
    if (ViewBag.Modulo_Atencion_Inicials_Expediente_AT != null)
    { varModulo_Atencion_Inicial_Expediente_AT = (List<SelectListItem>)ViewBag.Modulo_Atencion_Inicials_Expediente_AT; }
 List<SelectListItem> varSolicitud_Expediente_MASC = null;
    if (ViewBag.Solicituds_Expediente_MASC != null)
    { varSolicitud_Expediente_MASC = (List<SelectListItem>)ViewBag.Solicituds_Expediente_MASC; }
 List<SelectListItem> varexpediente_ministerio_publico_Expediente_MP = null;
    if (ViewBag.expediente_ministerio_publicos_Expediente_MP != null)
    { varexpediente_ministerio_publico_Expediente_MP = (List<SelectListItem>)ViewBag.expediente_ministerio_publicos_Expediente_MP; }
        <div class="MarginBottom ">
            <h3>@Resources.Medidas_de_ProteccionResources.Fecha_de_Registro</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_de_Registro" name="FromFecha_de_Registro" type="text" value="@Model.FromFecha_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_de_Registro" name="ToFecha_de_Registro" type="text" value="@Model.ToFecha_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.Medidas_de_ProteccionResources.Hora_de_Registro</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromHora_de_Registro" name="FromHora_de_Registro" type="text" value="@Model.FromHora_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceToHora_de_Registro" name="ToHora_de_Registro" type="text" value="@Model.ToHora_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
 List<SelectListItem> varSpartan_User_Usuario_que_Registra = null;
    if (ViewBag.Spartan_Users_Usuario_que_Registra != null)
    { varSpartan_User_Usuario_que_Registra = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Registra; }
                <div class="MarginBottom">
                    <h3>@Resources.Medidas_de_ProteccionResources.Orden_de_Proteccion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Orden_de_ProteccionFilter, filters, new { @class = "form-control", @id = "ddlOrden_de_ProteccionFilter" })
                    @Html.TextBoxFor(m => m.Orden_de_Proteccion, new { @class = "form-control", @type = "text", @id = "txtOrden_de_Proteccion" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Medidas_de_ProteccionResources.Tipo_de_Medida</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tipo_de_MedidaFilter, filters, new { @class = "form-control", @id = "ddlTipo_de_MedidaFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTipo_de_Medida, new { @class = "form-control", @type = "text", @id = "txtAdvanceTipo_de_Medida" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Medida_de_Proteccion_Tipo_de_Medida!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTipo_de_MedidaMultiple, varTipo_de_Medida_de_Proteccion_Tipo_de_Medida,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTipo_de_Medida"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Medidas_de_ProteccionResources.Sub_Tipo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Sub_TipoFilter, filters, new { @class = "form-control", @id = "ddlSub_TipoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceSub_Tipo, new { @class = "form-control", @type = "text", @id = "txtAdvanceSub_Tipo" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varSubTipo_de_Medida_de_Proteccion_Sub_Tipo!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceSub_TipoMultiple, varSubTipo_de_Medida_de_Proteccion_Sub_Tipo,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceSub_Tipo"
                        });
                    }
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.Medidas_de_ProteccionResources.Fecha_de_Inicio</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_de_Inicio" name="FromFecha_de_Inicio" type="text" value="@Model.FromFecha_de_Inicio" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_de_Inicio" name="ToFecha_de_Inicio" type="text" value="@Model.ToFecha_de_Inicio" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.Medidas_de_ProteccionResources.Hora_de_Inicio</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromHora_de_Inicio" name="FromHora_de_Inicio" type="text" value="@Model.FromHora_de_Inicio" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceToHora_de_Inicio" name="ToHora_de_Inicio" type="text" value="@Model.ToHora_de_Inicio" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.Medidas_de_ProteccionResources.Fecha_de_Conclusion</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_de_Conclusion" name="FromFecha_de_Conclusion" type="text" value="@Model.FromFecha_de_Conclusion" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_de_Conclusion" name="ToFecha_de_Conclusion" type="text" value="@Model.ToFecha_de_Conclusion" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.Medidas_de_ProteccionResources.Hora_de_Conclusion</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromHora_de_Conclusion" name="FromHora_de_Conclusion" type="text" value="@Model.FromHora_de_Conclusion" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceToHora_de_Conclusion" name="ToHora_de_Conclusion" type="text" value="@Model.ToHora_de_Conclusion" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Medidas_de_ProteccionResources.Duracion_en_Dias</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromDuracion_en_Dias, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromDuracion_en_Dias" })
                    @Html.ValidationMessageFor(m => m.FromDuracion_en_Dias)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToDuracion_en_Dias, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToDuracion_en_Dias", @data_min = "txtAdvanceFromDuracion_en_Dias" })
                    @Html.ValidationMessageFor(m => m.ToDuracion_en_Dias)
                </div>
 List<SelectListItem> varDetalle_de_Relaciones_Aplicar_a = null;
    if (ViewBag.Detalle_de_Relacioness_Aplicar_a != null)
    { varDetalle_de_Relaciones_Aplicar_a = (List<SelectListItem>)ViewBag.Detalle_de_Relacioness_Aplicar_a; }

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Medidas_de_Proteccion/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Medidas_de_ProteccionClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Medidas_de_ProteccionClaveTo = $("#txtAdvanceToClave").val();
        }
        advanceSearch.Expediente_ATSearchType = 0;
        if ($('#ddlAdvanceExpediente_AT').val().length > 0 || $("#txtAdvanceExpediente_AT").val() == "") {


            if (isMedidas_de_ProteccionTextSearch) {
                advanceSearch.Expediente_ATName = $("#txtAdvanceExpediente_AT").val();
                advanceSearch.Expediente_ATNameSearchType = $("#ddlAdvanceExpediente_AT").val();
                advanceSearch.Expediente_ATSearchType = 1;
            }
            else {

                advanceSearch.Expediente_ATToSearch = $("#ddlAdvanceExpediente_AT").val();
                advanceSearch.Expediente_ATSearchType = 2;
            }
        }
        advanceSearch.Expediente_MASCSearchType = 0;
        if ($('#ddlAdvanceExpediente_MASC').val().length > 0 || $("#txtAdvanceExpediente_MASC").val() == "") {


            if (isMedidas_de_ProteccionTextSearch) {
                advanceSearch.Expediente_MASCName = $("#txtAdvanceExpediente_MASC").val();
                advanceSearch.Expediente_MASCNameSearchType = $("#ddlAdvanceExpediente_MASC").val();
                advanceSearch.Expediente_MASCSearchType = 1;
            }
            else {

                advanceSearch.Expediente_MASCToSearch = $("#ddlAdvanceExpediente_MASC").val();
                advanceSearch.Expediente_MASCSearchType = 2;
            }
        }
        advanceSearch.Expediente_MPSearchType = 0;
        if ($('#ddlAdvanceExpediente_MP').val().length > 0 || $("#txtAdvanceExpediente_MP").val() == "") {


            if (isMedidas_de_ProteccionTextSearch) {
                advanceSearch.Expediente_MPName = $("#txtAdvanceExpediente_MP").val();
                advanceSearch.Expediente_MPNameSearchType = $("#ddlAdvanceExpediente_MP").val();
                advanceSearch.Expediente_MPSearchType = 1;
            }
            else {

                advanceSearch.Expediente_MPToSearch = $("#ddlAdvanceExpediente_MP").val();
                advanceSearch.Expediente_MPSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromFecha_de_Registro").val() != "" || $("#txtAdvanceToFecha_de_Registro").val() != "") {
            hasParameter = true;
            advanceSearch.Medidas_de_ProteccionFecha_de_RegistroFrom = $("#txtAdvanceFromFecha_de_Registro").val();
            advanceSearch.Medidas_de_ProteccionFecha_de_RegistroTo = $("#txtAdvanceToFecha_de_Registro").val();
        }
        if ($("#txtAdvanceHora_de_Registro").val() != "") {
            hasParameter = true;
            advanceSearch.Medidas_de_ProteccionHora_de_Registro = $("#txtAdvanceHora_de_Registro").val();
            advanceSearch.Medidas_de_ProteccionHora_de_RegistroSearchType = $("#ddlAdvanceHora_de_RegistroFilter").val();
        }
        advanceSearch.Usuario_que_RegistraSearchType = 0;
        if ($('#ddlAdvanceUsuario_que_Registra').val().length > 0 || $("#txtAdvanceUsuario_que_Registra").val() == "") {


            if (isMedidas_de_ProteccionTextSearch) {
                advanceSearch.Usuario_que_RegistraName = $("#txtAdvanceUsuario_que_Registra").val();
                advanceSearch.Usuario_que_RegistraNameSearchType = $("#ddlAdvanceUsuario_que_Registra").val();
                advanceSearch.Usuario_que_RegistraSearchType = 1;
            }
            else {

                advanceSearch.Usuario_que_RegistraToSearch = $("#ddlAdvanceUsuario_que_Registra").val();
                advanceSearch.Usuario_que_RegistraSearchType = 2;
            }
        }
        if ($("#txtAdvanceOrden_de_Proteccion").val() != "") {
            hasParameter = true;
            advanceSearch.Medidas_de_ProteccionOrden_de_Proteccion = $("#txtAdvanceOrden_de_Proteccion").val();
            advanceSearch.Medidas_de_ProteccionOrden_de_ProteccionSearchType = $("#ddlAdvanceOrden_de_ProteccionFilter").val();
        }
        advanceSearch.Tipo_de_MedidaSearchType = 0;
        if ($('#ddlAdvanceTipo_de_Medida').val().length > 0 || $("#txtAdvanceTipo_de_Medida").val() == "") {


            if (isMedidas_de_ProteccionTextSearch) {
                advanceSearch.Tipo_de_MedidaName = $("#txtAdvanceTipo_de_Medida").val();
                advanceSearch.Tipo_de_MedidaNameSearchType = $("#ddlAdvanceTipo_de_Medida").val();
                advanceSearch.Tipo_de_MedidaSearchType = 1;
            }
            else {

                advanceSearch.Tipo_de_MedidaToSearch = $("#ddlAdvanceTipo_de_Medida").val();
                advanceSearch.Tipo_de_MedidaSearchType = 2;
            }
        }
        advanceSearch.Sub_TipoSearchType = 0;
        if ($('#ddlAdvanceSub_Tipo').val().length > 0 || $("#txtAdvanceSub_Tipo").val() == "") {


            if (isMedidas_de_ProteccionTextSearch) {
                advanceSearch.Sub_TipoName = $("#txtAdvanceSub_Tipo").val();
                advanceSearch.Sub_TipoNameSearchType = $("#ddlAdvanceSub_Tipo").val();
                advanceSearch.Sub_TipoSearchType = 1;
            }
            else {

                advanceSearch.Sub_TipoToSearch = $("#ddlAdvanceSub_Tipo").val();
                advanceSearch.Sub_TipoSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromFecha_de_Inicio").val() != "" || $("#txtAdvanceToFecha_de_Inicio").val() != "") {
            hasParameter = true;
            advanceSearch.Medidas_de_ProteccionFecha_de_InicioFrom = $("#txtAdvanceFromFecha_de_Inicio").val();
            advanceSearch.Medidas_de_ProteccionFecha_de_InicioTo = $("#txtAdvanceToFecha_de_Inicio").val();
        }
        if ($("#txtAdvanceHora_de_Inicio").val() != "") {
            hasParameter = true;
            advanceSearch.Medidas_de_ProteccionHora_de_Inicio = $("#txtAdvanceHora_de_Inicio").val();
            advanceSearch.Medidas_de_ProteccionHora_de_InicioSearchType = $("#ddlAdvanceHora_de_InicioFilter").val();
        }
        if ($("#txtAdvanceFromFecha_de_Conclusion").val() != "" || $("#txtAdvanceToFecha_de_Conclusion").val() != "") {
            hasParameter = true;
            advanceSearch.Medidas_de_ProteccionFecha_de_ConclusionFrom = $("#txtAdvanceFromFecha_de_Conclusion").val();
            advanceSearch.Medidas_de_ProteccionFecha_de_ConclusionTo = $("#txtAdvanceToFecha_de_Conclusion").val();
        }
        if ($("#txtAdvanceHora_de_Conclusion").val() != "") {
            hasParameter = true;
            advanceSearch.Medidas_de_ProteccionHora_de_Conclusion = $("#txtAdvanceHora_de_Conclusion").val();
            advanceSearch.Medidas_de_ProteccionHora_de_ConclusionSearchType = $("#ddlAdvanceHora_de_ConclusionFilter").val();
        }
        if ($("#txtAdvanceFromDuracion_en_Dias").val() != "" || $("#txtAdvanceToDuracion_en_Dias").val() != "") {
            hasParameter = true;
            advanceSearch.Medidas_de_ProteccionDuracion_en_DiasFrom = $("#txtAdvanceFromDuracion_en_Dias").val();
            advanceSearch.Medidas_de_ProteccionDuracion_en_DiasTo = $("#txtAdvanceToDuracion_en_Dias").val();
        }
        advanceSearch.Aplicar_aSearchType = 0;
        if ($('#ddlAdvanceAplicar_a').val().length > 0 || $("#txtAdvanceAplicar_a").val() == "") {


            if (isMedidas_de_ProteccionTextSearch) {
                advanceSearch.Aplicar_aName = $("#txtAdvanceAplicar_a").val();
                advanceSearch.Aplicar_aNameSearchType = $("#ddlAdvanceAplicar_a").val();
                advanceSearch.Aplicar_aSearchType = 1;
            }
            else {

                advanceSearch.Aplicar_aToSearch = $("#ddlAdvanceAplicar_a").val();
                advanceSearch.Aplicar_aSearchType = 2;
            }
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblMedidas_de_Proteccion').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isMedidas_de_ProteccionTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceExpediente_AT").keypress(function () {
            isMedidas_de_ProteccionTextSearch = true;
            $("#ddlAdvanceExpediente_AT").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceExpediente_AT").change(function () {
            isMedidas_de_ProteccionTextSearch = false;
            $("#txtAdvanceExpediente_AT").val('');
        });
        $("#txtAdvanceExpediente_MASC").keypress(function () {
            isMedidas_de_ProteccionTextSearch = true;
            $("#ddlAdvanceExpediente_MASC").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceExpediente_MASC").change(function () {
            isMedidas_de_ProteccionTextSearch = false;
            $("#txtAdvanceExpediente_MASC").val('');
        });
        $("#txtAdvanceExpediente_MP").keypress(function () {
            isMedidas_de_ProteccionTextSearch = true;
            $("#ddlAdvanceExpediente_MP").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceExpediente_MP").change(function () {
            isMedidas_de_ProteccionTextSearch = false;
            $("#txtAdvanceExpediente_MP").val('');
        });
        $("#txtAdvanceUsuario_que_Registra").keypress(function () {
            isMedidas_de_ProteccionTextSearch = true;
            $("#ddlAdvanceUsuario_que_Registra").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceUsuario_que_Registra").change(function () {
            isMedidas_de_ProteccionTextSearch = false;
            $("#txtAdvanceUsuario_que_Registra").val('');
        });
        $("#txtAdvanceTipo_de_Medida").keypress(function () {
            isMedidas_de_ProteccionTextSearch = true;
            $("#ddlAdvanceTipo_de_Medida").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTipo_de_Medida").change(function () {
            isMedidas_de_ProteccionTextSearch = false;
            $("#txtAdvanceTipo_de_Medida").val('');
        });
        $("#txtAdvanceSub_Tipo").keypress(function () {
            isMedidas_de_ProteccionTextSearch = true;
            $("#ddlAdvanceSub_Tipo").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceSub_Tipo").change(function () {
            isMedidas_de_ProteccionTextSearch = false;
            $("#txtAdvanceSub_Tipo").val('');
        });
        $("#txtAdvanceAplicar_a").keypress(function () {
            isMedidas_de_ProteccionTextSearch = true;
            $("#ddlAdvanceAplicar_a").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceAplicar_a").change(function () {
            isMedidas_de_ProteccionTextSearch = false;
            $("#txtAdvanceAplicar_a").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

