@model IList<Spartane.Web.Areas.Frontal.Models.Acuerdos_MASCGridModel>

@{
    var rowCounter = 0;
}

<style>
    .table {
        width: 100%;
        border: 1px solid #cccccc;
        font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        /*border-collapse: separate !important;*/
        font-size: 13px;
    }

        .table td {
            padding: 2px;
            border:1px solid #cccccc;
        }

    .table tr:nth-of-type(2n+1) {
        background-color: #f9f9f9;
    }

        .table tr:nth-of-type(2n) {
            background-color: #8da0c2;
        }

    .table-row-1 td, .table-row-1 th {
    }

    .table-row-2 td, .table-row-2 th, thead {
    }

    .tableHeaderRow {
        font-weight: bold;
        border: 1px solid #ff6a00;
    }

    .column1 {
        width: 15%;
    }

    .column2 {
        width: 15%;
    }
</style>
<br />
<body onbeforeprint="ocultarcolumnas();">
 <span id="columnsVisible"></span>
<table class="table" cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Clave
            </td>
                        <td class="column1">
                @Resources.Acuerdos_MASCResources.Clave
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Numero_de_Expediente
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Fecha_de_Registro
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Hora_de_Registro
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Usuario_que_Registra
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Tipo_de_Acuerdo
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Solicitante
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Requerido
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Lugar_Acordado
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Domicilio_Acordado
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Hora_de_Acuerdo
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Fecha_de_Inicio_de_Acuerdo
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Monto_Total
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Parcialidades
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Periodicidad
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Monto_de_la_Parcialidad
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Personal_de_Seguimiento_Asignado
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Acuerdo
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Comentarios
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Acuerdo_Cumplido
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Fecha_de_Cumplimiento_de_Acuerdo
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Razon_de_Incumplimiento
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Fecha_de_Revision
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Hora_de_Revision
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Usuario_que_Revisa
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Resultado
            </td>
            <td class="column1">
                @Resources.Acuerdos_MASCResources.Motivo_de_Rechazo_de_Acuerdo
            </td>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {                
                <tr>
                    <td>
                        @item.Clave
                    </td>
					                    <td>
                        @item.Clave
                    </td>
                    <td>
                        @item.Numero_de_Expediente
                    </td>
                    <td>
                        @item.Fecha_de_Registro
                    </td>
                    <td>
                        @item.Hora_de_Registro
                    </td>
                    <td>
                        @item.Usuario_que_Registra
                    </td>
                    <td>
                        @item.Tipo_de_AcuerdoDescripcion
                    </td>
                    <td>
                        @item.Solicitante
                    </td>
                    <td>
                        @item.Requerido
                    </td>
                    <td>
                        @item.Lugar_Acordado
                    </td>
                    <td>
                        @item.Domicilio_Acordado
                    </td>
                    <td>
                        @item.Hora_de_Acuerdo
                    </td>
                    <td>
                        @item.Fecha_de_Inicio_de_Acuerdo
                    </td>
                    <td>
                        @item.Monto_Total
                    </td>
                    <td>
                        @item.Parcialidades
                    </td>
                    <td>
                        @item.PeriodicidadDescripcion
                    </td>
                    <td>
                        @item.Monto_de_la_Parcialidad
                    </td>
                    <td>
                        @item.Personal_de_Seguimiento_Asignado
                    </td>
                    <td>
                        @item.Acuerdo
                    </td>
                    <td>
                        @item.Comentarios
                    </td>
                    <td>
                        @item.Acuerdo_CumplidoDescripcion
                    </td>
                    <td>
                        @item.Fecha_de_Cumplimiento_de_Acuerdo
                    </td>
                    <td>
                        @item.Razon_de_IncumplimientoDescripcion
                    </td>
                    <td>
                        @item.Fecha_de_Revision
                    </td>
                    <td>
                        @item.Hora_de_Revision
                    </td>
                    <td>
                        @item.Usuario_que_Revisa
                    </td>
                    <td>
                        @item.ResultadoDescripcion
                    </td>
                    <td>
                        @item.Motivo_de_Rechazo_de_Acuerdo
                    </td>

                </tr>
                rowCounter++;
            }
        }
    </tbody>
</table>
</body>

<script>
    function ocultarcolumnas() {        
        var arr = document.getElementById('columnsVisible').text.split(',');
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == "false") {
                show_hide_column(i-1, false);
            }
        }    
    };

    function show_hide_column(col_no, do_show) {
        var rows = document.getElementsByClassName('table')[0].rows;
        for (var row = 0; row < rows.length; row++) {
            var cols = rows[row].cells;
            if (col_no >= 0 && col_no < cols.length) {
                console.log(col_no);
                cols[col_no].style.display = do_show ? '' : 'none';
            }
        }
    }
</script>

