@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.ColoniaAdvanceSearchModel
@{
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
    List<SelectListItem> varVigencia_Vigente = null;
    if (ViewBag.Vigencias_Vigente != null)
    { varVigencia_Vigente = (List<SelectListItem>)ViewBag.Vigencias_Vigente; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Colonia", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.ColoniaResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.ColoniaResources.Nombre</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.NombreFilter, filters, new { @class = "form-control", @id = "ddlNombreFilter" })
                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @type = "text", @id = "txtNombre" })
                </div>
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
                <div class="MarginBottom ">
                    <h3>@Resources.ColoniaResources.Codigo_Postal</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromCodigo_Postal, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromCodigo_Postal" })
                    @Html.ValidationMessageFor(m => m.FromCodigo_Postal)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToCodigo_Postal, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToCodigo_Postal", @data_min = "txtAdvanceFromCodigo_Postal" })
                    @Html.ValidationMessageFor(m => m.ToCodigo_Postal)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.ColoniaResources.Zona</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.ZonaFilter, filters, new { @class = "form-control", @id = "ddlZonaFilter" })
                    @Html.TextBoxFor(m => m.Zona, new { @class = "form-control", @type = "text", @id = "txtZona" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.ColoniaResources.Vigente</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.VigenteFilter, filters, new { @class = "form-control", @id = "ddlVigenteFilter" })
                    @Html.TextBoxFor(m => m.AdvanceVigente, new { @class = "form-control", @type = "text", @id = "txtAdvanceVigente" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varVigencia_Vigente!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceVigenteMultiple, varVigencia_Vigente,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceVigente"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.ColoniaResources.Observaciones</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.ObservacionesFilter, filters, new { @class = "form-control", @id = "ddlObservacionesFilter" })
                    @Html.TextBoxFor(m => m.Observaciones, new { @class = "form-control", @type = "text", @id = "txtObservaciones" })
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.ColoniaResources.cod_pais</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.Fromcod_pais, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromcod_pais" })
                    @Html.ValidationMessageFor(m => m.Fromcod_pais)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.Tocod_pais, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceTocod_pais", @data_min = "txtAdvanceFromcod_pais" })
                    @Html.ValidationMessageFor(m => m.Tocod_pais)
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.ColoniaResources.cod_edo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.Fromcod_edo, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromcod_edo" })
                    @Html.ValidationMessageFor(m => m.Fromcod_edo)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.Tocod_edo, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceTocod_edo", @data_min = "txtAdvanceFromcod_edo" })
                    @Html.ValidationMessageFor(m => m.Tocod_edo)
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.ColoniaResources.loc_justicia</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.Fromloc_justicia, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromloc_justicia" })
                    @Html.ValidationMessageFor(m => m.Fromloc_justicia)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.Toloc_justicia, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToloc_justicia", @data_min = "txtAdvanceFromloc_justicia" })
                    @Html.ValidationMessageFor(m => m.Toloc_justicia)
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.ColoniaResources.pob_justicia</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.Frompob_justicia, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFrompob_justicia" })
                    @Html.ValidationMessageFor(m => m.Frompob_justicia)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.Topob_justicia, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceTopob_justicia", @data_min = "txtAdvanceFrompob_justicia" })
                    @Html.ValidationMessageFor(m => m.Topob_justicia)
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.ColoniaResources.sector</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.Fromsector, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromsector" })
                    @Html.ValidationMessageFor(m => m.Fromsector)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.Tosector, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceTosector", @data_min = "txtAdvanceFromsector" })
                    @Html.ValidationMessageFor(m => m.Tosector)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.ColoniaResources.estatus</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.estatusFilter, filters, new { @class = "form-control", @id = "ddlestatusFilter" })
                    @Html.TextBoxFor(m => m.estatus, new { @class = "form-control", @type = "text", @id = "txtestatus" })
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.ColoniaResources.cod_localidad</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.Fromcod_localidad, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromcod_localidad" })
                    @Html.ValidationMessageFor(m => m.Fromcod_localidad)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.Tocod_localidad, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceTocod_localidad", @data_min = "txtAdvanceFromcod_localidad" })
                    @Html.ValidationMessageFor(m => m.Tocod_localidad)
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Colonia/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.ColoniaClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.ColoniaClaveTo = $("#txtAdvanceToClave").val();
        }
        if ($("#txtAdvanceNombre").val() != "") {
            hasParameter = true;
            advanceSearch.ColoniaNombre = $("#txtAdvanceNombre").val();
            advanceSearch.ColoniaNombreSearchType = $("#ddlAdvanceNombreFilter").val();
        }
        advanceSearch.MunicipioSearchType = 0;
        if ($('#ddlAdvanceMunicipio').val().length > 0 || $("#txtAdvanceMunicipio").val() == "") {


            if (isColoniaTextSearch) {
                advanceSearch.MunicipioName = $("#txtAdvanceMunicipio").val();
                advanceSearch.MunicipioNameSearchType = $("#ddlAdvanceMunicipio").val();
                advanceSearch.MunicipioSearchType = 1;
            }
            else {

                advanceSearch.MunicipioToSearch = $("#ddlAdvanceMunicipio").val();
                advanceSearch.MunicipioSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromCodigo_Postal").val() != "" || $("#txtAdvanceToCodigo_Postal").val() != "") {
            hasParameter = true;
            advanceSearch.ColoniaCodigo_PostalFrom = $("#txtAdvanceFromCodigo_Postal").val();
            advanceSearch.ColoniaCodigo_PostalTo = $("#txtAdvanceToCodigo_Postal").val();
        }
        if ($("#txtAdvanceZona").val() != "") {
            hasParameter = true;
            advanceSearch.ColoniaZona = $("#txtAdvanceZona").val();
            advanceSearch.ColoniaZonaSearchType = $("#ddlAdvanceZonaFilter").val();
        }
        advanceSearch.VigenteSearchType = 0;
        if ($('#ddlAdvanceVigente').val().length > 0 || $("#txtAdvanceVigente").val() == "") {


            if (isColoniaTextSearch) {
                advanceSearch.VigenteName = $("#txtAdvanceVigente").val();
                advanceSearch.VigenteNameSearchType = $("#ddlAdvanceVigente").val();
                advanceSearch.VigenteSearchType = 1;
            }
            else {

                advanceSearch.VigenteToSearch = $("#ddlAdvanceVigente").val();
                advanceSearch.VigenteSearchType = 2;
            }
        }
        if ($("#txtAdvanceObservaciones").val() != "") {
            hasParameter = true;
            advanceSearch.ColoniaObservaciones = $("#txtAdvanceObservaciones").val();
            advanceSearch.ColoniaObservacionesSearchType = $("#ddlAdvanceObservacionesFilter").val();
        }
        if ($("#txtAdvanceFromcod_pais").val() != "" || $("#txtAdvanceTocod_pais").val() != "") {
            hasParameter = true;
            advanceSearch.Coloniacod_paisFrom = $("#txtAdvanceFromcod_pais").val();
            advanceSearch.Coloniacod_paisTo = $("#txtAdvanceTocod_pais").val();
        }
        if ($("#txtAdvanceFromcod_edo").val() != "" || $("#txtAdvanceTocod_edo").val() != "") {
            hasParameter = true;
            advanceSearch.Coloniacod_edoFrom = $("#txtAdvanceFromcod_edo").val();
            advanceSearch.Coloniacod_edoTo = $("#txtAdvanceTocod_edo").val();
        }
        if ($("#txtAdvanceFromloc_justicia").val() != "" || $("#txtAdvanceToloc_justicia").val() != "") {
            hasParameter = true;
            advanceSearch.Colonialoc_justiciaFrom = $("#txtAdvanceFromloc_justicia").val();
            advanceSearch.Colonialoc_justiciaTo = $("#txtAdvanceToloc_justicia").val();
        }
        if ($("#txtAdvanceFrompob_justicia").val() != "" || $("#txtAdvanceTopob_justicia").val() != "") {
            hasParameter = true;
            advanceSearch.Coloniapob_justiciaFrom = $("#txtAdvanceFrompob_justicia").val();
            advanceSearch.Coloniapob_justiciaTo = $("#txtAdvanceTopob_justicia").val();
        }
        if ($("#txtAdvanceFromsector").val() != "" || $("#txtAdvanceTosector").val() != "") {
            hasParameter = true;
            advanceSearch.ColoniasectorFrom = $("#txtAdvanceFromsector").val();
            advanceSearch.ColoniasectorTo = $("#txtAdvanceTosector").val();
        }
        if ($("#txtAdvanceestatus").val() != "") {
            hasParameter = true;
            advanceSearch.Coloniaestatus = $("#txtAdvanceestatus").val();
            advanceSearch.ColoniaestatusSearchType = $("#ddlAdvanceestatusFilter").val();
        }
        if ($("#txtAdvanceFromcod_localidad").val() != "" || $("#txtAdvanceTocod_localidad").val() != "") {
            hasParameter = true;
            advanceSearch.Coloniacod_localidadFrom = $("#txtAdvanceFromcod_localidad").val();
            advanceSearch.Coloniacod_localidadTo = $("#txtAdvanceTocod_localidad").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblColonia').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isColoniaTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceMunicipio").keypress(function () {
            isColoniaTextSearch = true;
            $("#ddlAdvanceMunicipio").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceMunicipio").change(function () {
            isColoniaTextSearch = false;
            $("#txtAdvanceMunicipio").val('');
        });
        $("#txtAdvanceVigente").keypress(function () {
            isColoniaTextSearch = true;
            $("#ddlAdvanceVigente").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceVigente").change(function () {
            isColoniaTextSearch = false;
            $("#txtAdvanceVigente").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

