@model IList<Spartane.Web.Areas.Frontal.Models.Detalle_de_Registro_de_Intervinientes_CCGridModel>

@{
    var rowCounter = 0;
}

<style>
    .table {
        width: 100%;
        border: 1px solid #cccccc;
        font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        /*border-collapse: separate !important;*/
        font-size: 13px;
    }

        .table td {
            padding: 2px;
            border:1px solid #cccccc;
        }

    .table tr:nth-of-type(2n+1) {
        background-color: #f9f9f9;
    }

        .table tr:nth-of-type(2n) {
            background-color: #8da0c2;
        }

    .table-row-1 td, .table-row-1 th {
    }

    .table-row-2 td, .table-row-2 th, thead {
    }

    .tableHeaderRow {
        font-weight: bold;
        border: 1px solid #ff6a00;
    }

    .column1 {
        width: 15%;
    }

    .column2 {
        width: 15%;
    }
</style>
<br />
<body onbeforeprint="ocultarcolumnas();">
 <span id="columnsVisible"></span>
<table class="table" cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Clave
            </td>
                        <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Clave
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Nombres
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Apellido_Paterno
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Apellido_Materno
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Alias
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Anonimo
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Fecha_de_Nacimiento
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Edad
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Sexo
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Estado_Civil
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Tipo_de_Identificacion
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Numero_de_Identificacion
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Escolaridad
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Ocupacion
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Nacionalidad
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Estado
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Municipio
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Colonia
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Codigo_Postal
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Calle
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Numero_Exterior
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Numero_Interior
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Telefono
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Celular
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Correo_Electronico
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Pais
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Entre_calle
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Especifique
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Extension
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Inimputable
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Nombre_Completo
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Originario_de
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Pais_de_Origen
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Proteccion_de_Datos
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Referencia_de_Domicilio
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Y_calle
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Tipo_de_Compareciente
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Tipo_de_inimputabilidad
            </td>
            <td class="column1">
                @Resources.Detalle_de_Registro_de_Intervinientes_CCResources.Nombre
            </td>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {                
                <tr>
                    <td>
                        @item.Clave
                    </td>
					                    <td>
                        @item.Clave
                    </td>
                    <td>
                        @item.Nombres
                    </td>
                    <td>
                        @item.Apellido_Paterno
                    </td>
                    <td>
                        @item.Apellido_Materno
                    </td>
                    <td>
                        @item.Alias
                    </td>
                    <td>
                        @item.Anonimo
                    </td>
                    <td>
                        @item.Fecha_de_Nacimiento
                    </td>
                    <td>
                        @item.Edad
                    </td>
                    <td>
                        @item.SexoDescripcion
                    </td>
                    <td>
                        @item.Estado_CivilDescripcion
                    </td>
                    <td>
                        @item.Tipo_de_IdentificacionNombre
                    </td>
                    <td>
                        @item.Numero_de_Identificacion
                    </td>
                    <td>
                        @item.EscolaridadDescripcion
                    </td>
                    <td>
                        @item.OcupacionDescripcion
                    </td>
                    <td>
                        @item.NacionalidadNacionalidadC
                    </td>
                    <td>
                        @item.EstadoNombre
                    </td>
                    <td>
                        @item.MunicipioNombre
                    </td>
                    <td>
                        @item.ColoniaNombre
                    </td>
                    <td>
                        @item.Codigo_Postal
                    </td>
                    <td>
                        @item.Calle
                    </td>
                    <td>
                        @item.Numero_Exterior
                    </td>
                    <td>
                        @item.Numero_Interior
                    </td>
                    <td>
                        @item.Telefono
                    </td>
                    <td>
                        @item.Celular
                    </td>
                    <td>
                        @item.Correo_Electronico
                    </td>
                    <td>
                        @item.PaisNombre
                    </td>
                    <td>
                        @item.Entre_calle
                    </td>
                    <td>
                        @item.Especifique
                    </td>
                    <td>
                        @item.Extension
                    </td>
                    <td>
                        @item.Inimputable
                    </td>
                    <td>
                        @item.Nombre_Completo
                    </td>
                    <td>
                        @item.Originario_de
                    </td>
                    <td>
                        @item.Pais_de_OrigenNombre
                    </td>
                    <td>
                        @item.Proteccion_de_Datos
                    </td>
                    <td>
                        @item.Referencia_de_Domicilio
                    </td>
                    <td>
                        @item.Y_calle
                    </td>
                    <td>
                        @item.Tipo_de_ComparecienteDescripcion
                    </td>
                    <td>
                        @item.Tipo_de_inimputabilidadDescripcion
                    </td>
                    <td>
                        @item.Nombre
                    </td>

                </tr>
                rowCounter++;
            }
        }
    </tbody>
</table>
</body>

<script>
    function ocultarcolumnas() {        
        var arr = document.getElementById('columnsVisible').text.split(',');
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == "false") {
                show_hide_column(i-1, false);
            }
        }    
    };

    function show_hide_column(col_no, do_show) {
        var rows = document.getElementsByClassName('table')[0].rows;
        for (var row = 0; row < rows.length; row++) {
            var cols = rows[row].cells;
            if (col_no >= 0 && col_no < cols.length) {
                console.log(col_no);
                cols[col_no].style.display = do_show ? '' : 'none';
            }
        }
    }
</script>

