@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.DelitoModel
@{

/*

*/
    List<SelectListItem> varTitulo_del_Delito_Titulo_del_Delito = null;
    if (ViewBag.Titulo_del_Delitos_Titulo_del_Delito != null)
    { varTitulo_del_Delito_Titulo_del_Delito = (List<SelectListItem>)ViewBag.Titulo_del_Delitos_Titulo_del_Delito; }
    List<SelectListItem> varGrupo_del_Delito_Grupo_del_Delito = null;
    if (ViewBag.Grupo_del_Delitos_Grupo_del_Delito != null)
    { varGrupo_del_Delito_Grupo_del_Delito = (List<SelectListItem>)ViewBag.Grupo_del_Delitos_Grupo_del_Delito; }
 List<SelectListItem> varTipo_Delito_TIPO_DELITO = null;
    if (ViewBag.Tipo_Delitos_TIPO_DELITO != null)
    { varTipo_Delito_TIPO_DELITO = (List<SelectListItem>)ViewBag.Tipo_Delitos_TIPO_DELITO; }

    Permission permissionConfiguracion_de_Planeacion = ViewBag.PermissionConfiguracion_de_Planeacion;

    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial || ViewBag.viewInEframe)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.DelitoResources.Delito
                <button onclick="DelitoGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#DelitoBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.DelitoResources.Delito</strong>
                }
                
            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="DelitoDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in DelitoPropertyBusinessModal" id="DelitoPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#DelitoBusinessRule-form" onclick="DelitoGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in DelitoBusinessRuleModal" id="DelitoBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }
                    <div aria-hidden="true" class="modal fade in AddConfiguracion_de_PlaneacionModal" id="AddConfiguracion_de_Planeacion-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>


        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Delito", FormMethod.Post, new { id = "CreateDelito", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid DelitoCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.DelitoResources.TabDatos_Generales</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="262542" data-field-name="@Resources.DelitoResources.Clave">
                                    <label class="form-control" for="Clave" id="lblClave">
                                    @if (Model.Clave== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Clave</text>
                                        }
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="divTitulo_del_Delito">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.Titulo_del_Delito</label>
                                <div class="col-sm-8" data-field-id="Titulo_del_Delito" data-attribute="262543" data-field-name="@Resources.DelitoResources.Titulo_del_Delito">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Título del Delito must be a number." data-val-required="The Título del Delito field is required." id="Titulo_del_Delito" name="Titulo_del_Delito">
                                        <option value=""></option>
                                        @if (varTitulo_del_Delito_Titulo_del_Delito != null){ 
                                            foreach (var itemTitulo_del_Delito in varTitulo_del_Delito_Titulo_del_Delito)
                                            {
                                                if (itemTitulo_del_Delito.Value == Convert.ToString(Model.Titulo_del_Delito))
                                                {
                                                    <option value="@itemTitulo_del_Delito.Value" selected>@itemTitulo_del_Delito.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemTitulo_del_Delito.Value">@itemTitulo_del_Delito.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Titulo_del_Delito" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 262543).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Titulo_del_Delito', 'Titulo_del_Delito');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divGrupo_del_Delito">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.Grupo_del_Delito</label>
                                <div class="col-sm-8" data-field-id="Grupo_del_Delito" data-attribute="262544" data-field-name="@Resources.DelitoResources.Grupo_del_Delito">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Grupo del Delito must be a number." data-val-required="The Grupo del Delito field is required." id="Grupo_del_Delito" name="Grupo_del_Delito">
                                        <option value=""></option>
                                        @if (varGrupo_del_Delito_Grupo_del_Delito != null){ 
                                            foreach (var itemGrupo_del_Delito in varGrupo_del_Delito_Grupo_del_Delito)
                                            {
                                                if (itemGrupo_del_Delito.Value == Convert.ToString(Model.Grupo_del_Delito))
                                                {
                                                    <option value="@itemGrupo_del_Delito.Value" selected>@itemGrupo_del_Delito.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemGrupo_del_Delito.Value">@itemGrupo_del_Delito.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Grupo_del_Delito" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 262544).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Grupo_del_Delito', 'Grupo_del_Delito');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divDescripcion">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.Descripcion</label>
                                <div class="col-sm-8" data-field-id="Descripcion" data-attribute="262545" data-field-name="@Resources.DelitoResources.Descripcion">
                                    <textarea id="Descripcion" name="Descripcion" class="form-control Datos_Generales" rows="4" cols="50">@Model.Descripcion</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Descripcion" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divGrave">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.Grave</label>
                                <div class="col-sm-8" data-field-id="Grave" data-attribute="262546" data-field-name="@Resources.DelitoResources.Grave">
                                    @Html.CheckBoxFor(m => m.Grave, new { @class = "i-checks Datos_Generales" })
                                </div>
                            </div>
                            <div class="form-group" id="divAlto_Impacto">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.Alto_Impacto</label>
                                <div class="col-sm-8" data-field-id="Alto_Impacto" data-attribute="262547" data-field-name="@Resources.DelitoResources.Alto_Impacto">
                                    @Html.CheckBoxFor(m => m.Alto_Impacto, new { @class = "i-checks Datos_Generales" })
                                </div>
                            </div>
                            <div class="form-group" id="divAlta_Incidencia">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.Alta_Incidencia</label>
                                <div class="col-sm-8" data-field-id="Alta_Incidencia" data-attribute="262548" data-field-name="@Resources.DelitoResources.Alta_Incidencia">
                                    @Html.CheckBoxFor(m => m.Alta_Incidencia, new { @class = "i-checks Datos_Generales" })
                                </div>
                            </div>
                            <div class="form-group" id="divTentativa">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.Tentativa</label>
                                <div class="col-sm-8" data-field-id="Tentativa" data-attribute="262549" data-field-name="@Resources.DelitoResources.Tentativa">
                                    @Html.CheckBoxFor(m => m.Tentativa, new { @class = "i-checks Datos_Generales" })
                                </div>
                            </div>
                            <div class="form-group" id="divActivo">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.Activo</label>
                                <div class="col-sm-8" data-field-id="Activo" data-attribute="262550" data-field-name="@Resources.DelitoResources.Activo">
                                    @Html.CheckBoxFor(m => m.Activo, new { @class = "i-checks Datos_Generales" })
                                </div>
                            </div>
                            <div id="divConfiguracion_de_Planeacion">
                            <div class="ibox-title">
                                <h5>@Resources.DelitoResources.Configuracion_de_Planeacion</h5>
                                <div class="ibox-tools">
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="">
									@if (permissionConfiguracion_de_Planeacion.New && !ViewBag.Consult)
                                    {
                                        <a onclick="Configuracion_de_PlaneacionfnClickAddRow();" href="javascript:void(0);" title="@Resources.Resources.AddNewRow" class="Configuracion_de_PlaneacionAddRow btn btn-primary">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                    }
                                    <button onclick="DelitoGetBusinessRule('', 'Al Guardar o al Eliminar una Row', '267355')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#DelitoBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToCreateGrid">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>
									@if (permissionConfiguracion_de_Planeacion.New && !ViewBag.Consult)
                                    {
                                        <a onclick="Configuracion_de_PlaneacionfnOpenAddRowPopUp();" data-toggle="modal" title="@Resources.Resources.AddNewRow" data-target="#AddConfiguracion_de_Planeacion-form" data-backdrop="static" data-keyboard="false" class="btn_mrpopup btn btn-primary">
                                            <i class="glyphicon glyphicon-new-window"></i>
                                        </a>
                                    }  
                                </div>

                                <br />

                                <div style='overflow-x: auto;'>
                                    <table class="table table-striped table-bordered table-hover childValidateTable" id="Configuracion_de_PlaneacionGrid">
                                        <thead>
                                            <tr>
                                                <th class="ActionHeader"><span>@Resources.Resources.Actions</span></th>


                                                <th class="CategoriaHeader"><span>
<button type="button" data-attribute="267348" data-field-id="Configuracion_de_PlaneacionCategoria" data-field-name="@Resources.Configuracion_de_PlaneacionResources.Categoria" data-toggle="modal" data-target="#DelitoBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Configuracion_de_PlaneacionResources.Categoria">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Configuracion_de_PlaneacionResources.Categoria</span></th>
                                                <th class="ServicioHeader"><span>
<button type="button" data-attribute="267349" data-field-id="Configuracion_de_PlaneacionServicio" data-field-name="@Resources.Configuracion_de_PlaneacionResources.Servicio" data-toggle="modal" data-target="#DelitoBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Configuracion_de_PlaneacionResources.Servicio">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Configuracion_de_PlaneacionResources.Servicio</span></th>
                                                <th class="EntregableHeader"><span>
<button type="button" data-attribute="267350" data-field-id="Configuracion_de_PlaneacionEntregable" data-field-name="@Resources.Configuracion_de_PlaneacionResources.Entregable" data-toggle="modal" data-target="#DelitoBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Configuracion_de_PlaneacionResources.Entregable">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Configuracion_de_PlaneacionResources.Entregable</span></th>
                                                <th class="Tiempo_EstandarHeader"><span>
<button type="button" data-attribute="267351" data-field-id="Configuracion_de_PlaneacionTiempo_Estandar" data-field-name="@Resources.Configuracion_de_PlaneacionResources.Tiempo_Estandar" data-toggle="modal" data-target="#DelitoBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Configuracion_de_PlaneacionResources.Tiempo_Estandar">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>
@Resources.Configuracion_de_PlaneacionResources.Tiempo_Estandar</span></th>
                                                <th class="PonderacionHeader"><span>
<button type="button" data-attribute="267352" data-field-id="Configuracion_de_PlaneacionPonderacion" data-field-name="@Resources.Configuracion_de_PlaneacionResources.Ponderacion" data-toggle="modal" data-target="#DelitoBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Configuracion_de_PlaneacionResources.Ponderacion">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>
@Resources.Configuracion_de_PlaneacionResources.Ponderacion</span></th>

                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            </div>
                            <div class="form-group" id="divRobo_de_Vehiculo">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.Robo_de_Vehiculo</label>
                                <div class="col-sm-8" data-field-id="Robo_de_Vehiculo" data-attribute="267440" data-field-name="@Resources.DelitoResources.Robo_de_Vehiculo">
                                    @Html.CheckBoxFor(m => m.Robo_de_Vehiculo, new { @class = "i-checks Datos_Generales" })
                                </div>
                            </div>
                            <div class="form-group" id="divdelitox">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.delitox</label>
                                <div class="col-sm-8" data-field-id="delitox" data-attribute="267998" data-field-name="@Resources.DelitoResources.delitox">
                                    <input class="form-control inputNumber Datos_Generales" id="delitox" name="delitox" type="text" value="@Model.delitox">
                                    @*<span class="field-validation-valid" data-valmsg-for="delitox" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divARTICULO">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.ARTICULO</label>
                                <div class="col-sm-8" data-field-id="ARTICULO" data-attribute="267999" data-field-name="@Resources.DelitoResources.ARTICULO">
                                    <input class="form-control Datos_Generales" id="ARTICULO" name="ARTICULO" type="text" value="@Model.ARTICULO">
                                    @*<span class="field-validation-valid" data-valmsg-for="ARTICULO" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divDETALLE">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.DETALLE</label>
                                <div class="col-sm-8" data-field-id="DETALLE" data-attribute="268000" data-field-name="@Resources.DelitoResources.DETALLE">
                                    <textarea id="DETALLE" name="DETALLE" class="form-control Datos_Generales" rows="4" cols="50">@Model.DETALLE</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="DETALLE" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divTIPO_AGENCIA">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.TIPO_AGENCIA</label>
                                <div class="col-sm-8" data-field-id="TIPO_AGENCIA" data-attribute="268001" data-field-name="@Resources.DelitoResources.TIPO_AGENCIA">
                                    <input class="form-control inputNumber Datos_Generales" id="TIPO_AGENCIA" name="TIPO_AGENCIA" type="text" value="@Model.TIPO_AGENCIA">
                                    @*<span class="field-validation-valid" data-valmsg-for="TIPO_AGENCIA" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divESTADISTICO_SSP">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.ESTADISTICO_SSP</label>
                                <div class="col-sm-8" data-field-id="ESTADISTICO_SSP" data-attribute="268002" data-field-name="@Resources.DelitoResources.ESTADISTICO_SSP">
                                    <input class="form-control Datos_Generales" id="ESTADISTICO_SSP" name="ESTADISTICO_SSP" type="text" value="@Model.ESTADISTICO_SSP">
                                    @*<span class="field-validation-valid" data-valmsg-for="ESTADISTICO_SSP" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divVAL_VEHICULO">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.VAL_VEHICULO</label>
                                <div class="col-sm-8" data-field-id="VAL_VEHICULO" data-attribute="268003" data-field-name="@Resources.DelitoResources.VAL_VEHICULO">
                                    <input class="form-control Datos_Generales" id="VAL_VEHICULO" name="VAL_VEHICULO" type="text" value="@Model.VAL_VEHICULO">
                                    @*<span class="field-validation-valid" data-valmsg-for="VAL_VEHICULO" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
				<div class="form-group" id="divTIPO_DELITO">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.TIPO_DELITO</label>
                                <div class="col-sm-8" data-field-id="TIPO_DELITO" data-attribute="268004" data-field-name="@Resources.DelitoResources.TIPO_DELITO">
                                    <select class='fullWidth AutoComplete AutoCompleteDelito_TIPO_DELITO form-control select2-dropdown Datos_Generales' data-val="true" id="TIPO_DELITO" name="TIPO_DELITO">
                                        <option value="@Model.TIPO_DELITO">@(Model.TIPO_DELITODescripcion??Model.TIPO_DELITODescripcion)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268004).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Tipo_Delito', 'TIPO_DELITO');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divcircunstancia_clasif">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.circunstancia_clasif</label>
                                <div class="col-sm-8" data-field-id="circunstancia_clasif" data-attribute="268005" data-field-name="@Resources.DelitoResources.circunstancia_clasif">
                                    <input class="form-control inputNumber Datos_Generales" id="circunstancia_clasif" name="circunstancia_clasif" type="text" value="@Model.circunstancia_clasif">
                                    @*<span class="field-validation-valid" data-valmsg-for="circunstancia_clasif" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divPRINCIPAL">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.PRINCIPAL</label>
                                <div class="col-sm-8" data-field-id="PRINCIPAL" data-attribute="268006" data-field-name="@Resources.DelitoResources.PRINCIPAL">
                                    <input class="form-control inputNumber Datos_Generales" id="PRINCIPAL" name="PRINCIPAL" type="text" value="@Model.PRINCIPAL">
                                    @*<span class="field-validation-valid" data-valmsg-for="PRINCIPAL" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divorden">
                                <label class="col-sm-2 control-label">@Resources.DelitoResources.orden</label>
                                <div class="col-sm-8" data-field-id="orden" data-attribute="268007" data-field-name="@Resources.DelitoResources.orden">
                                    <input class="form-control inputNumber Datos_Generales" id="orden" name="orden" type="text" value="@Model.orden">
                                    @*<span class="field-validation-valid" data-valmsg-for="orden" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Clave" id="ReferenceClave" />
                                <input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="DelitoGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('DelitoCreateForm');"  />
									<button onclick="DelitoGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#DelitoBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="DelitoGuardarYNuevo" onclick="return checkClientValidate('DelitoCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="DelitoGuardarYCopia" onclick="return checkClientValidate('DelitoCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnDelitoBusinessRuleFieldId" />
                                <input type="hidden" id="hdnDelitoBusinessRuleFieldName" />
                                <input type="hidden" id="hdnDelitoBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="DelitoCancelar" name="DelitoCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="DelitoGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#DelitoBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Delito.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/DelitoGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/DelitoCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var viewInEframe =  ('@ViewBag.viewInEframe' == 'True');
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;


        $(document).ready(function () {
            $('#ObjectId').val('44991');
		                  
            GetConfiguracion_de_Planeacion_Categoria_de_Servicio_de_ApoyoItem();
            GetConfiguracion_de_Planeacion_Tipo_de_Servicio_de_ApoyoItem();



           
              showConfiguracion_de_PlaneacionGrid(null);

		   
            

            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			
			 if (viewInEframe) {             
                $('#DelitoGuardarYNuevo').hide();
                $('#DelitoGuardarYCopia').hide();
                $('#DelitoCancelar').hide(); 
                $('#ConfigureSave').hide();
                $('#DelitoGuardar').val('Actualizar Seccion ' + '@Resources.DelitoResources.Delito' )
            }

			
			       var AutoCompleteTIPO_DELITOData =[];
       $(".AutoCompleteDelito_TIPO_DELITO").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Delito/GetDelito_TIPO_DELITO_Tipo_Delito")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDelito_TIPO_DELITO_Tipo_DelitoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDelito_TIPO_DELITO");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });


            @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();


                </text>
            }
            EjecutarValidacionesAlComienzo(); 
			
        });

        var Configuracion_de_PlaneacioninsertRowCurrentIndex = -1;
        var Configuracion_de_PlaneacionDataDataTable;
        function getConfiguracion_de_PlaneacionData() {
            $.ajax({
                url: "@Url.Content("~/Frontal/Delito/GetConfiguracion_de_Planeacion")" + "?draw=1&start=1&length=2147483647" + ($("#ReferenceClave").val() != "" ? "&RelationId=" + $("#ReferenceClave").val() : ""),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                    Configuracion_de_PlaneacionDataDataTable = result.data;
                    showConfiguracion_de_PlaneacionGrid(result.data);
                    $('#Configuracion_de_PlaneacionGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Configuracion_de_PlaneacionGrid .gridDatePicker').attr("readonly", "");
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
        function Configuracion_de_PlaneacionGetUpdateRowControls(data, nameOfTable, rowIndex) {

            var columnData = [];
            var counter = 0;
            var inputData = "<input type='text' class='fullWidth form-control' />";

           columnData[counter++] = $($(GetConfiguracion_de_Planeacion_Categoria_de_Servicio_de_ApoyoDropDown()).val(data.Categoria)).addClass('Categoria inputNumber').attr('id', nameOfTable + 'Categoria' + rowIndex).attr('data-field', 'Categoria').after($.parseHTML(addNew('Configuracion_de_Planeacion', 'Categoria_de_Servicio_de_Apoyo','Categoria', 267348)));
           columnData[counter++] = $($(GetConfiguracion_de_Planeacion_Tipo_de_Servicio_de_ApoyoDropDown()).val(data.Servicio)).addClass('Servicio inputNumber').attr('id', nameOfTable + 'Servicio' + rowIndex).attr('data-field', 'Servicio').after($.parseHTML(addNew('Configuracion_de_Planeacion', 'Tipo_de_Servicio_de_Apoyo','Servicio', 267349)));
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Entregable)).addClass('Entregable').attr('id', nameOfTable + 'Entregable' + rowIndex).attr('data-field', 'Entregable');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Tiempo_Estandar)).addClass('Tiempo_Estandar inputNumber').attr('id', nameOfTable + 'Tiempo_Estandar' + rowIndex).attr('data-field', 'Tiempo_Estandar');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Ponderacion)).addClass('Ponderacion inputNumber').attr('id', nameOfTable + 'Ponderacion' + rowIndex).attr('data-field', 'Ponderacion');

            return columnData;
        }



        function GetFileInfo(fileData, fileUploadData) {

            var $div = $("<div>");
            if (fileUploadData != null && fileUploadData.files.length > 0) {

                $div.append("<label>" + fileUploadData.files[0].name + "</label>");
                //<i class="fa fa-times-circle" id='removeFileAttachment'>
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;

            } else if (fileUploadData != null) {
                return $.parseHTML(GetFileUploader());
            } else {
                $div.append("<label>" + fileData.FileName + "</label>");
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;
            }
        }

        var removedConfiguracion_de_PlaneacionData = [];
        function Configuracion_de_PlaneacionDeleteRow(rowIndex, row) {
            var rowIndexTable = Configuracion_de_PlaneacionTable.fnGetPosition($(row).parent().parent()[0]);
            var permission = {            
                 Delete: '@permissionConfiguracion_de_Planeacion.Delete' == 'True'
            };
            if (!permission.Delete || isConsultMode)
                return;            
            if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
              if (EjecutarValidacionesAlEliminarMRConfiguracion_de_Planeacion('Configuracion_de_Planeacion_', '_' + rowIndex)) {
                var prevData = Configuracion_de_PlaneacionTable.fnGetData(rowIndexTable );
                removedConfiguracion_de_PlaneacionData.push(prevData);
                Configuracion_de_PlaneacionTable.fnDeleteRow(rowIndexTable );
				showConfiguracion_de_PlaneacionGrid(Configuracion_de_PlaneacionTable.fnGetData());
              }
            }
			initiateUIControls();
        }

        function Configuracion_de_PlaneacionrowCreationGrid(row, data, index) {
            var permission =  {            
                 Edit: '@permissionConfiguracion_de_Planeacion.Edit' == 'True',
                 Delete: '@permissionConfiguracion_de_Planeacion.Delete' == 'True'
            };
            setConfiguracion_de_PlaneacionValidation();
            var Configuracion_de_PlaneacionRowElement = "Configuracion_de_Planeacion_" + index.toString();
            $(row).addClass(Configuracion_de_PlaneacionRowElement);
            var nameOfTable='Configuracion_de_Planeacion_';
            var rowIndex = '_' + index;
            Configuracion_de_PlaneacioninsertRowCurrentIndex = index;

            row.innerHTML = "";

            if (data.IsInsertRow) {

                if (row.childNodes.length != 0) {
                    for (var i = 0; i < row.childNodes.length; i++) {
                        row.childNodes[i].remove();
                    }
                }
                var controls = GetInsertConfiguracion_de_PlaneacionRowControls(index);
                var actionColInsert = $('<td>');

                var abc = "if(dynamicFieldValidation('" + Configuracion_de_PlaneacionRowElement + "')){ Configuracion_de_PlaneacionInsertRow(" + index + "); }";
                var insertRowHTML = '<a  data-toggle="tooltip" title="Confirmar Registro" onclick="' + abc + '">';
                $('<i class="fa fa-check">').appendTo($(insertRowHTML).appendTo(actionColInsert));
				$('<i class="fa fa-times">').appendTo($("<a data-toggle='tooltip' title='Cancelar Registro' onclick='Configuracion_de_PlaneacionCancelRow(" + index + ")'>").appendTo(actionColInsert));
                actionColInsert.appendTo(row);

                for (i = 0; i < controls.length; i++) {
					var idHeader = $(controls[i]).data('field') + 'Header';
					if($(controls[i]).length > 1){
						idHeader = $($(controls[i])[1]).data('field') + 'Header';
					}					

					var classe = ($('#Configuracion_de_PlaneacionGrid .' + idHeader).hasClass('dt-right') ? "dt-right" : "") + $('#Configuracion_de_PlaneacionGrid .' + idHeader ).css('display') == 'none' ? " hide" : "";
				   
					if ($(controls[i]).next().length > 0) {
					    var div = $(controls[i]).next();
					    $('<td class="' + classe + '">').append($(controls[i])).append(div).appendTo(row);
					}else
					    $(controls[i]).appendTo($('<td class="' + classe + '">').appendTo(row));
					
                }
                $('#Configuracion_de_PlaneacionGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('#Configuracion_de_PlaneacionGrid .gridDatePicker').attr("readonly", "");
                return;
            }

            var actionCol = $('<td>');
			var edit = "<a title='@Resources.Resources.Edit' class='edit-MR' onclick='Configuracion_de_PlaneacionEditRow(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                edit = "";
            var editPopUp = "<a title='@Resources.Resources.Edit' class='edit-popup-MR' data-toggle='modal' data-target='#AddConfiguracion_de_Planeacion-form' onclick='Configuracion_de_PlaneacionEditRowPopup(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                editPopUp = "";
            var eliminar = "<a title='@Resources.Resources.Delete' class='eliminar-MR' onclick='Configuracion_de_PlaneacionDeleteRow(" + index + ", this)'>";
            if (!permission.Delete || isConsultMode)
                eliminar = "";
            $('<i class="fa fa-pencil">').appendTo($(edit).appendTo(actionCol));
            //$('<i class="fa fa-edit">').appendTo($(editPopUp).appendTo(actionCol));
            $('<i class="fa fa-trash-o">').appendTo($(eliminar).appendTo(actionCol));
			if ($('.Action' + 'Header').css('display') != 'none')
				actionCol.appendTo(row);

            if ($('.Categoria' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Categoria'+rowIndex+'">').text(GetConfiguracion_de_Planeacion_Categoria_de_Servicio_de_ApoyoName(data.Categoria)).appendTo(row);
	    else 
		$('<td style="display:none;" id="'+nameOfTable+'Categoria'+rowIndex+'">').text(GetConfiguracion_de_Planeacion_Categoria_de_Servicio_de_ApoyoName(data.Categoria)).appendTo(row);
            if ($('.Servicio' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Servicio'+rowIndex+'">').text(GetConfiguracion_de_Planeacion_Tipo_de_Servicio_de_ApoyoName(data.Servicio)).appendTo(row);
	    else 
		$('<td style="display:none;" id="'+nameOfTable+'Servicio'+rowIndex+'">').text(GetConfiguracion_de_Planeacion_Tipo_de_Servicio_de_ApoyoName(data.Servicio)).appendTo(row);
            if ($('.Entregable' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Entregable'+rowIndex+'">').text(data.Entregable).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Entregable'+rowIndex+'">').text(data.Entregable).appendTo(row);
            if ($('.Tiempo_Estandar' + 'Header').css('display') != 'none')
                $('<td class="dt-right"  id="'+nameOfTable+'Tiempo_Estandar'+rowIndex+'">').text(data.Tiempo_Estandar).appendTo(row);
            else 
                 $('<td class="dt-right" style="display:none;"  id="'+nameOfTable+'Tiempo_Estandar'+rowIndex+'">').text(data.Tiempo_Estandar).appendTo(row);
            if ($('.Ponderacion' + 'Header').css('display') != 'none')
                $('<td class="dt-right"  id="'+nameOfTable+'Ponderacion'+rowIndex+'">').text(data.Ponderacion).appendTo(row);
            else 
                 $('<td class="dt-right" style="display:none;"  id="'+nameOfTable+'Ponderacion'+rowIndex+'">').text(data.Ponderacion).appendTo(row);

        }

        var Configuracion_de_PlaneacionTable;
        function showConfiguracion_de_PlaneacionGrid(dataSet) {
            //removedConfiguracion_de_PlaneacionData = [];
            Configuracion_de_PlaneacionTable = $('#Configuracion_de_PlaneacionGrid').dataTable({
                dom: '<"html5buttons"B>lTgitp',
                buttons: [
                ],
                "createdRow": Configuracion_de_PlaneacionrowCreationGrid,
                "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
                data: dataSet,
                "columns": [
                    { "data": null, 'visible': true, "orderable": false },

                    { "data": "Categoria", "orderable": false },
                    { "data": "Servicio", "orderable": false },
                    { "data": "Entregable", "orderable": false },
                    { "data": "Tiempo_Estandar", "className": "dt-right", "orderable": false },
                    { "data": "Ponderacion", "className": "dt-right", "orderable": false },

                ],
                "order": [[0, "asc"]],
                "language": {
                    "lengthMenu": "@Resources.Resources.Display" + " _MENU_ " + "@Resources.Resources.RecordsPerPage",
                    "zeroRecords": "@Resources.Resources.NothingFound",
                    "info": "@Resources.Resources.ShowingPages" + " _PAGE_ " + "@Resources.Resources.of" + " _PAGES_",
                    "infoEmpty": "@Resources.Resources.NoRecords",
                    "infoFiltered": "(" + "@Resources.Resources.FilteredFrom" + " _MAX_ " + "@Resources.Resources.TotalRecords" + ")",
                    "sSearch": "@Resources.Resources.Search",
                    "paginate": {
                        "previous": "@Resources.Resources.Previous",
                        "next": "@Resources.Resources.Next"
                    }
                },
				"bDestroy": true,
                "fnDrawCallback": function (settings) {
                    setConfiguracion_de_PlaneacionValidation();
                }
            }).on('init.dt', function (e, data) {
                $('a').tooltip();
            }).on('draw.dt', function () {
                $('#Configuracion_de_PlaneacionGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('.gridDatePicker').inputmask("99-99-9999", { "placeholder": "dd-mm-yyyy" });
            });
        }


    var Configuracion_de_Planeacion_Categoria_de_Servicio_de_ApoyoItems;
        function GetConfiguracion_de_Planeacion_Categoria_de_Servicio_de_ApoyoItem() {
            Configuracion_de_Planeacion_Categoria_de_Servicio_de_ApoyoItems = null;
            var ajaxUrl = "@Url.Content("~/Frontal/Delito/GetConfiguracion_de_Planeacion_Categoria_de_Servicio_de_ApoyoAll")";
            $.ajax({
                url: ajaxUrl,
                type: 'GET',
                dataType: "json",
                async: false,
                global: false,
                success: function (result) {
                    Configuracion_de_Planeacion_Categoria_de_Servicio_de_ApoyoItems = result;
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
    var Configuracion_de_Planeacion_Tipo_de_Servicio_de_ApoyoItems;
        function GetConfiguracion_de_Planeacion_Tipo_de_Servicio_de_ApoyoItem() {
            Configuracion_de_Planeacion_Tipo_de_Servicio_de_ApoyoItems = null;
            var ajaxUrl = "@Url.Content("~/Frontal/Delito/GetConfiguracion_de_Planeacion_Tipo_de_Servicio_de_ApoyoAll")";
            $.ajax({
                url: ajaxUrl,
                type: 'GET',
                dataType: "json",
                async: false,
                global: false,
                success: function (result) {
                    Configuracion_de_Planeacion_Tipo_de_Servicio_de_ApoyoItems = result;
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }




        var Configuracion_de_PlaneacionData = [];
        var Configuracion_de_PlaneaciondeletedItem = [];
        var Configuracion_de_PlaneacionDataMain = [];
        var Configuracion_de_PlaneacionDataMainPages = [];
        var Configuracion_de_PlaneacionnewItemCount = 0;
        var Configuracion_de_PlaneacionmaxItemIndex = 0;
        var Configuracion_de_PlaneacionDataMainInitialized = false;

        function SendConfiguracion_de_Planeacion(callBack, ClaveId) {
            Configuracion_de_PlaneacionData = GetConfiguracion_de_PlaneacionFromDataTable();

            if (Configuracion_de_PlaneacionData.length > 0 || $("#ReferenceClave").val() != ClaveId) {
                if ($("#ReferenceClave").val() != "0" && ClaveId ==null)
                    ClaveId = $("#ReferenceClave").val();                
                if ($("#ReferenceClave").val() == '')
                    $("#ReferenceClave").val('0');
                $.ajax({
                    url: '@Url.Content("~/Frontal/Delito/PostConfiguracion_de_Planeacion?MasterId=")' + ClaveId + "&referenceId=" + $("#ReferenceClave").val(),
                    type: 'POST',
                    data: GetConfiguracion_de_Planeacion(),
                    async: true,
                    success: function (result) {

                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            } else {
                //showNotification("@Resources.Resources.SaveSuccess", "success");
                //callBack(ClaveId);
            }
            return true;
        }

        function GetAddConfiguracion_de_PlaneacionPopup(currentRowIndex, mode, id) {

            $.ajax({
                url: "@Url.Action("AddConfiguracion_de_Planeacion", "Configuracion_de_Planeacion")",
                type: "GET",
                async: false,
                data: { rowIndex: currentRowIndex, functionMode: mode, id: id },
                success: function (data) {
                    $(".AddConfiguracion_de_PlaneacionModal").html(data);
                },
                error: function () {

                }
            });

            @*$.get('@Url.Action("AddConfiguracion_de_Planeacion", "Configuracion_de_Planeacion")', { rowIndex: currentRowIndex }, function (data) {
                $(".AddConfiguracion_de_PlaneacionModal").html(data);
            });*@
        }

        function ShowMessagePendingRowConfiguracion_de_Planeacion()
        {
            //alert('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Configuración de Planeación"))')
	    showNotification('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Configuración de Planeación"))', "warning");
        }


        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });








        }

    </script>

<script type="text/javascript">


   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Delito/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }


        function SendDelitoData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDelito").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDelito")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceClave").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('DelitoCreateForm', 'Datos_Generales')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Delito/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".DelitoBusinessRuleModal").html(data);
			});
		}
                function DelitoGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('44991');
			$('#Screen').val('Delito');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function DelitoBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Delito/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Delito/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Delito/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Delito/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Delito/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateDelito').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        DelitoGetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Delito/Get_Datos_Generales")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    $('#Titulo_del_Delito').val(result.data.Titulo_del_Delito);
                    $('#Grupo_del_Delito').val(result.data.Grupo_del_Delito);
                    $('#Descripcion').val(result.data.Descripcion);
                    $('#Grave').prop('checked', result.data.Grave);
                    $('#Alto_Impacto').prop('checked', result.data.Alto_Impacto);
                    $('#Alta_Incidencia').prop('checked', result.data.Alta_Incidencia);
                    $('#Tentativa').prop('checked', result.data.Tentativa);
                    $('#Activo').prop('checked', result.data.Activo);
                    Configuracion_de_PlaneacionDataDataTable = result.Configuracion_de_Planeacion;
                    showConfiguracion_de_PlaneacionGrid(result.Configuracion_de_Planeacion);
                    $('#Configuracion_de_PlaneacionGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Configuracion_de_PlaneacionGrid .gridDatePicker').attr("readonly", "");
                    $('#Robo_de_Vehiculo').prop('checked', result.data.Robo_de_Vehiculo);
                    $('#delitox').val(result.data.delitox);
                    $('#ARTICULO').val(result.data.ARTICULO);
                    $('#DETALLE').val(result.data.DETALLE);
                    $('#TIPO_AGENCIA').val(result.data.TIPO_AGENCIA);
                    $('#ESTADISTICO_SSP').val(result.data.ESTADISTICO_SSP);
                    $('#VAL_VEHICULO').val(result.data.VAL_VEHICULO);
                    var control = $('#TIPO_DELITO');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.TIPO_DELITO).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.TIPO_DELITO).trigger('change');
                    }, 3000);
                    $('#circunstancia_clasif').val(result.data.circunstancia_clasif);
                    $('#PRINCIPAL').val(result.data.PRINCIPAL);
                    $('#orden').val(result.data.orden);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Titulo_del_Delito', $('#Titulo_del_Delito').val());
                data.append('Grupo_del_Delito', $('#Grupo_del_Delito').val());
                data.append('Descripcion', $('#Descripcion').val());
                data.append('Grave', $('#Grave').prop('checked'));
                data.append('Alto_Impacto', $('#Alto_Impacto').prop('checked'));
                data.append('Alta_Incidencia', $('#Alta_Incidencia').prop('checked'));
                data.append('Tentativa', $('#Tentativa').prop('checked'));
                data.append('Activo', $('#Activo').prop('checked'));
                data.append('Robo_de_Vehiculo', $('#Robo_de_Vehiculo').prop('checked'));
                data.append('delitox', $('#delitox').val());
                data.append('ARTICULO', $('#ARTICULO').val());
                data.append('DETALLE', $('#DETALLE').val());
                data.append('TIPO_AGENCIA', $('#TIPO_AGENCIA').val());
                data.append('ESTADISTICO_SSP', $('#ESTADISTICO_SSP').val());
                data.append('VAL_VEHICULO', $('#VAL_VEHICULO').val());
                data.append('TIPO_DELITO', $('#TIPO_DELITO').val());
                data.append('circunstancia_clasif', $('#circunstancia_clasif').val());
                data.append('PRINCIPAL', $('#PRINCIPAL').val());
                data.append('orden', $('#orden').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Delito/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    					    SendConfiguracion_de_Planeacion(null, newId);

					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}


    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Delito_cmbLabelSelect" name="Delito_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />

