@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_de_ResultadosAdvanceSearchModel
@{

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Detalle_de_Resultados", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_ResultadosResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_ResultadosResources.Fuente</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.FuenteFilter, filters, new { @class = "form-control", @id = "ddlFuenteFilter" })
                    @Html.TextBoxFor(m => m.Fuente, new { @class = "form-control", @type = "text", @id = "txtFuente" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_ResultadosResources.Tipo_de_Mandamiento</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tipo_de_MandamientoFilter, filters, new { @class = "form-control", @id = "ddlTipo_de_MandamientoFilter" })
                    @Html.TextBoxFor(m => m.Tipo_de_Mandamiento, new { @class = "form-control", @type = "text", @id = "txtTipo_de_Mandamiento" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_ResultadosResources.Nombre</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.NombreFilter, filters, new { @class = "form-control", @id = "ddlNombreFilter" })
                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @type = "text", @id = "txtNombre" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_ResultadosResources.Apellido_Paterno</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Apellido_PaternoFilter, filters, new { @class = "form-control", @id = "ddlApellido_PaternoFilter" })
                    @Html.TextBoxFor(m => m.Apellido_Paterno, new { @class = "form-control", @type = "text", @id = "txtApellido_Paterno" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_ResultadosResources.Apellido_Materno</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Apellido_MaternoFilter, filters, new { @class = "form-control", @id = "ddlApellido_MaternoFilter" })
                    @Html.TextBoxFor(m => m.Apellido_Materno, new { @class = "form-control", @type = "text", @id = "txtApellido_Materno" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_ResultadosResources.Alias</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.AliasFilter, filters, new { @class = "form-control", @id = "ddlAliasFilter" })
                    @Html.TextBoxFor(m => m.Alias, new { @class = "form-control", @type = "text", @id = "txtAlias" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_ResultadosResources.Sexo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.SexoFilter, filters, new { @class = "form-control", @id = "ddlSexoFilter" })
                    @Html.TextBoxFor(m => m.Sexo, new { @class = "form-control", @type = "text", @id = "txtSexo" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_ResultadosResources.Pais</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.PaisFilter, filters, new { @class = "form-control", @id = "ddlPaisFilter" })
                    @Html.TextBoxFor(m => m.Pais, new { @class = "form-control", @type = "text", @id = "txtPais" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_ResultadosResources.Estado</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.EstadoFilter, filters, new { @class = "form-control", @id = "ddlEstadoFilter" })
                    @Html.TextBoxFor(m => m.Estado, new { @class = "form-control", @type = "text", @id = "txtEstado" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_ResultadosResources.Municipio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.MunicipioFilter, filters, new { @class = "form-control", @id = "ddlMunicipioFilter" })
                    @Html.TextBoxFor(m => m.Municipio, new { @class = "form-control", @type = "text", @id = "txtMunicipio" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_ResultadosResources.Juzgado</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.JuzgadoFilter, filters, new { @class = "form-control", @id = "ddlJuzgadoFilter" })
                    @Html.TextBoxFor(m => m.Juzgado, new { @class = "form-control", @type = "text", @id = "txtJuzgado" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_ResultadosResources.Oficio_Solicitud_Juzgado</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Oficio_Solicitud_JuzgadoFilter, filters, new { @class = "form-control", @id = "ddlOficio_Solicitud_JuzgadoFilter" })
                    @Html.TextBoxFor(m => m.Oficio_Solicitud_Juzgado, new { @class = "form-control", @type = "text", @id = "txtOficio_Solicitud_Juzgado" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_ResultadosResources.Carpeta_de_Investigacion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Carpeta_de_InvestigacionFilter, filters, new { @class = "form-control", @id = "ddlCarpeta_de_InvestigacionFilter" })
                    @Html.TextBoxFor(m => m.Carpeta_de_Investigacion, new { @class = "form-control", @type = "text", @id = "txtCarpeta_de_Investigacion" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_ResultadosResources.Causa_Penal</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Causa_PenalFilter, filters, new { @class = "form-control", @id = "ddlCausa_PenalFilter" })
                    @Html.TextBoxFor(m => m.Causa_Penal, new { @class = "form-control", @type = "text", @id = "txtCausa_Penal" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Detalle_de_Resultados/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_ResultadosClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Detalle_de_ResultadosClaveTo = $("#txtAdvanceToClave").val();
        }
        if ($("#txtAdvanceFuente").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_ResultadosFuente = $("#txtAdvanceFuente").val();
            advanceSearch.Detalle_de_ResultadosFuenteSearchType = $("#ddlAdvanceFuenteFilter").val();
        }
        if ($("#txtAdvanceTipo_de_Mandamiento").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_ResultadosTipo_de_Mandamiento = $("#txtAdvanceTipo_de_Mandamiento").val();
            advanceSearch.Detalle_de_ResultadosTipo_de_MandamientoSearchType = $("#ddlAdvanceTipo_de_MandamientoFilter").val();
        }
        if ($("#txtAdvanceNombre").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_ResultadosNombre = $("#txtAdvanceNombre").val();
            advanceSearch.Detalle_de_ResultadosNombreSearchType = $("#ddlAdvanceNombreFilter").val();
        }
        if ($("#txtAdvanceApellido_Paterno").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_ResultadosApellido_Paterno = $("#txtAdvanceApellido_Paterno").val();
            advanceSearch.Detalle_de_ResultadosApellido_PaternoSearchType = $("#ddlAdvanceApellido_PaternoFilter").val();
        }
        if ($("#txtAdvanceApellido_Materno").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_ResultadosApellido_Materno = $("#txtAdvanceApellido_Materno").val();
            advanceSearch.Detalle_de_ResultadosApellido_MaternoSearchType = $("#ddlAdvanceApellido_MaternoFilter").val();
        }
        if ($("#txtAdvanceAlias").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_ResultadosAlias = $("#txtAdvanceAlias").val();
            advanceSearch.Detalle_de_ResultadosAliasSearchType = $("#ddlAdvanceAliasFilter").val();
        }
        if ($("#txtAdvanceSexo").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_ResultadosSexo = $("#txtAdvanceSexo").val();
            advanceSearch.Detalle_de_ResultadosSexoSearchType = $("#ddlAdvanceSexoFilter").val();
        }
        if ($("#txtAdvancePais").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_ResultadosPais = $("#txtAdvancePais").val();
            advanceSearch.Detalle_de_ResultadosPaisSearchType = $("#ddlAdvancePaisFilter").val();
        }
        if ($("#txtAdvanceEstado").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_ResultadosEstado = $("#txtAdvanceEstado").val();
            advanceSearch.Detalle_de_ResultadosEstadoSearchType = $("#ddlAdvanceEstadoFilter").val();
        }
        if ($("#txtAdvanceMunicipio").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_ResultadosMunicipio = $("#txtAdvanceMunicipio").val();
            advanceSearch.Detalle_de_ResultadosMunicipioSearchType = $("#ddlAdvanceMunicipioFilter").val();
        }
        if ($("#txtAdvanceJuzgado").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_ResultadosJuzgado = $("#txtAdvanceJuzgado").val();
            advanceSearch.Detalle_de_ResultadosJuzgadoSearchType = $("#ddlAdvanceJuzgadoFilter").val();
        }
        if ($("#txtAdvanceOficio_Solicitud_Juzgado").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_ResultadosOficio_Solicitud_Juzgado = $("#txtAdvanceOficio_Solicitud_Juzgado").val();
            advanceSearch.Detalle_de_ResultadosOficio_Solicitud_JuzgadoSearchType = $("#ddlAdvanceOficio_Solicitud_JuzgadoFilter").val();
        }
        if ($("#txtAdvanceCarpeta_de_Investigacion").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_ResultadosCarpeta_de_Investigacion = $("#txtAdvanceCarpeta_de_Investigacion").val();
            advanceSearch.Detalle_de_ResultadosCarpeta_de_InvestigacionSearchType = $("#ddlAdvanceCarpeta_de_InvestigacionFilter").val();
        }
        if ($("#txtAdvanceCausa_Penal").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_ResultadosCausa_Penal = $("#txtAdvanceCausa_Penal").val();
            advanceSearch.Detalle_de_ResultadosCausa_PenalSearchType = $("#ddlAdvanceCausa_PenalFilter").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblDetalle_de_Resultados').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isDetalle_de_ResultadosTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

