@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Errores_de_ReplicacionAdvanceSearchModel
@{
    List<SelectListItem> varSpartan_User_Usuario = null;
    if (ViewBag.Spartan_Users_Usuario != null)
    { varSpartan_User_Usuario = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Errores_de_Replicacion", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Errores_de_ReplicacionResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Errores_de_ReplicacionResources.ID_del_Dispositivo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.ID_del_DispositivoFilter, filters, new { @class = "form-control", @id = "ddlID_del_DispositivoFilter" })
                    @Html.TextBoxFor(m => m.ID_del_Dispositivo, new { @class = "form-control", @type = "text", @id = "txtID_del_Dispositivo" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Errores_de_ReplicacionResources.Usuario</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.UsuarioFilter, filters, new { @class = "form-control", @id = "ddlUsuarioFilter" })
                    @Html.TextBoxFor(m => m.AdvanceUsuario, new { @class = "form-control", @type = "text", @id = "txtAdvanceUsuario" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varSpartan_User_Usuario!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceUsuarioMultiple, varSpartan_User_Usuario,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceUsuario"
                        });
                    }
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.Errores_de_ReplicacionResources.Fecha_del_Error</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_del_Error" name="FromFecha_del_Error" type="text" value="@Model.FromFecha_del_Error" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_del_Error" name="ToFecha_del_Error" type="text" value="@Model.ToFecha_del_Error" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.Errores_de_ReplicacionResources.Hora_del_Error</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromHora_del_Error" name="FromHora_del_Error" type="text" value="@Model.FromHora_del_Error" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceToHora_del_Error" name="ToHora_del_Error" type="text" value="@Model.ToHora_del_Error" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom">
                    <h3>@Resources.Errores_de_ReplicacionResources.Campo_con_Error</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Campo_con_ErrorFilter, filters, new { @class = "form-control", @id = "ddlCampo_con_ErrorFilter" })
                    @Html.TextBoxFor(m => m.Campo_con_Error, new { @class = "form-control", @type = "text", @id = "txtCampo_con_Error" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Errores_de_ReplicacionResources.Valor_del_Campo_en_Dispositivo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Valor_del_Campo_en_DispositivoFilter, filters, new { @class = "form-control", @id = "ddlValor_del_Campo_en_DispositivoFilter" })
                    @Html.TextBoxFor(m => m.Valor_del_Campo_en_Dispositivo, new { @class = "form-control", @type = "text", @id = "txtValor_del_Campo_en_Dispositivo" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Errores_de_ReplicacionResources.Valor_del_Campo_en_Web</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Valor_del_Campo_en_WebFilter, filters, new { @class = "form-control", @id = "ddlValor_del_Campo_en_WebFilter" })
                    @Html.TextBoxFor(m => m.Valor_del_Campo_en_Web, new { @class = "form-control", @type = "text", @id = "txtValor_del_Campo_en_Web" })
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Errores_de_ReplicacionResources.Folio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromFolio, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromFolio" })
                    @Html.ValidationMessageFor(m => m.FromFolio)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToFolio, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToFolio", @data_min = "txtAdvanceFromFolio" })
                    @Html.ValidationMessageFor(m => m.ToFolio)
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Errores_de_Replicacion/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Errores_de_ReplicacionClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Errores_de_ReplicacionClaveTo = $("#txtAdvanceToClave").val();
        }
        if ($("#txtAdvanceID_del_Dispositivo").val() != "") {
            hasParameter = true;
            advanceSearch.Errores_de_ReplicacionID_del_Dispositivo = $("#txtAdvanceID_del_Dispositivo").val();
            advanceSearch.Errores_de_ReplicacionID_del_DispositivoSearchType = $("#ddlAdvanceID_del_DispositivoFilter").val();
        }
        advanceSearch.UsuarioSearchType = 0;
        if ($('#ddlAdvanceUsuario').val().length > 0 || $("#txtAdvanceUsuario").val() == "") {


            if (isErrores_de_ReplicacionTextSearch) {
                advanceSearch.UsuarioName = $("#txtAdvanceUsuario").val();
                advanceSearch.UsuarioNameSearchType = $("#ddlAdvanceUsuario").val();
                advanceSearch.UsuarioSearchType = 1;
            }
            else {

                advanceSearch.UsuarioToSearch = $("#ddlAdvanceUsuario").val();
                advanceSearch.UsuarioSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromFecha_del_Error").val() != "" || $("#txtAdvanceToFecha_del_Error").val() != "") {
            hasParameter = true;
            advanceSearch.Errores_de_ReplicacionFecha_del_ErrorFrom = $("#txtAdvanceFromFecha_del_Error").val();
            advanceSearch.Errores_de_ReplicacionFecha_del_ErrorTo = $("#txtAdvanceToFecha_del_Error").val();
        }
        if ($("#txtAdvanceHora_del_Error").val() != "") {
            hasParameter = true;
            advanceSearch.Errores_de_ReplicacionHora_del_Error = $("#txtAdvanceHora_del_Error").val();
            advanceSearch.Errores_de_ReplicacionHora_del_ErrorSearchType = $("#ddlAdvanceHora_del_ErrorFilter").val();
        }
        if ($("#txtAdvanceCampo_con_Error").val() != "") {
            hasParameter = true;
            advanceSearch.Errores_de_ReplicacionCampo_con_Error = $("#txtAdvanceCampo_con_Error").val();
            advanceSearch.Errores_de_ReplicacionCampo_con_ErrorSearchType = $("#ddlAdvanceCampo_con_ErrorFilter").val();
        }
        if ($("#txtAdvanceValor_del_Campo_en_Dispositivo").val() != "") {
            hasParameter = true;
            advanceSearch.Errores_de_ReplicacionValor_del_Campo_en_Dispositivo = $("#txtAdvanceValor_del_Campo_en_Dispositivo").val();
            advanceSearch.Errores_de_ReplicacionValor_del_Campo_en_DispositivoSearchType = $("#ddlAdvanceValor_del_Campo_en_DispositivoFilter").val();
        }
        if ($("#txtAdvanceValor_del_Campo_en_Web").val() != "") {
            hasParameter = true;
            advanceSearch.Errores_de_ReplicacionValor_del_Campo_en_Web = $("#txtAdvanceValor_del_Campo_en_Web").val();
            advanceSearch.Errores_de_ReplicacionValor_del_Campo_en_WebSearchType = $("#ddlAdvanceValor_del_Campo_en_WebFilter").val();
        }
        if ($("#txtAdvanceFromFolio").val() != "" || $("#txtAdvanceToFolio").val() != "") {
            hasParameter = true;
            advanceSearch.Errores_de_ReplicacionFolioFrom = $("#txtAdvanceFromFolio").val();
            advanceSearch.Errores_de_ReplicacionFolioTo = $("#txtAdvanceToFolio").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblErrores_de_Replicacion').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isErrores_de_ReplicacionTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceUsuario").keypress(function () {
            isErrores_de_ReplicacionTextSearch = true;
            $("#ddlAdvanceUsuario").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceUsuario").change(function () {
            isErrores_de_ReplicacionTextSearch = false;
            $("#txtAdvanceUsuario").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

