@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.AbogadoModel
@{

/*
    string Fecha_de_Nacimiento = "";
    if (Model.Fecha_de_Nacimiento == "")
    { Model.Fecha_de_Nacimiento = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

*/
    List<SelectListItem> varGenero_Sexo = null;
    if (ViewBag.Generos_Sexo != null)
    { varGenero_Sexo = (List<SelectListItem>)ViewBag.Generos_Sexo; }
    List<SelectListItem> varEstado_Civil_Estado_Civil = null;
    if (ViewBag.Estado_Civils_Estado_Civil != null)
    { varEstado_Civil_Estado_Civil = (List<SelectListItem>)ViewBag.Estado_Civils_Estado_Civil; }
    List<SelectListItem> varTipo_de_Identificacion_Tipo_de_Identificacion = null;
    if (ViewBag.Tipo_de_Identificacions_Tipo_de_Identificacion != null)
    { varTipo_de_Identificacion_Tipo_de_Identificacion = (List<SelectListItem>)ViewBag.Tipo_de_Identificacions_Tipo_de_Identificacion; }
    List<SelectListItem> varNacionalidad_Nacionalidad = null;
    if (ViewBag.Nacionalidads_Nacionalidad != null)
    { varNacionalidad_Nacionalidad = (List<SelectListItem>)ViewBag.Nacionalidads_Nacionalidad; }
    List<SelectListItem> varPais_Pais = null;
    if (ViewBag.Paiss_Pais != null)
    { varPais_Pais = (List<SelectListItem>)ViewBag.Paiss_Pais; }
    List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
    List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
    List<SelectListItem> varColonia_Colonia = null;
    if (ViewBag.Colonias_Colonia != null)
    { varColonia_Colonia = (List<SelectListItem>)ViewBag.Colonias_Colonia; }

    Permission permissionDetalle_de_Abogado = ViewBag.PermissionDetalle_de_Abogado;

    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial || ViewBag.viewInEframe)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.AbogadoResources.Abogado
                <button onclick="AbogadoGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#AbogadoBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.AbogadoResources.Abogado</strong>
                }
                
            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="AbogadoDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in AbogadoPropertyBusinessModal" id="AbogadoPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#AbogadoBusinessRule-form" onclick="AbogadoGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in AbogadoBusinessRuleModal" id="AbogadoBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }
                    <div aria-hidden="true" class="modal fade in AddDetalle_de_AbogadoModal" id="AddDetalle_de_Abogado-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>


        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Abogado", FormMethod.Post, new { id = "CreateAbogado", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid AbogadoCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.AbogadoResources.TabDatos_Generales</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="264672" data-field-name="@Resources.AbogadoResources.Clave">
                                    <label class="form-control" for="Clave" id="lblClave">
                                    @if (Model.Clave== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Clave</text>
                                        }
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="divFoto">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Foto</label>
                                <div class="col-sm-8" data-field-id="Foto" data-attribute="264673" data-field-name="@Resources.AbogadoResources.Foto">
                                    <input class="form-control inputNumber Datos_Generales" id="Foto" name="Foto" type="text" value="@Model.Foto">
                                    @*<span class="field-validation-valid" data-valmsg-for="Foto" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divNombre">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Nombre</label>
                                <div class="col-sm-8" data-field-id="Nombre" data-attribute="264674" data-field-name="@Resources.AbogadoResources.Nombre">
                                    <input class="form-control Datos_Generales" id="Nombre" name="Nombre" type="text" value="@Model.Nombre">
                                    @*<span class="field-validation-valid" data-valmsg-for="Nombre" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divApellido_Paterno">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Apellido_Paterno</label>
                                <div class="col-sm-8" data-field-id="Apellido_Paterno" data-attribute="264675" data-field-name="@Resources.AbogadoResources.Apellido_Paterno">
                                    <input class="form-control Datos_Generales" id="Apellido_Paterno" name="Apellido_Paterno" type="text" value="@Model.Apellido_Paterno">
                                    @*<span class="field-validation-valid" data-valmsg-for="Apellido_Paterno" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divApellido_Materno">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Apellido_Materno</label>
                                <div class="col-sm-8" data-field-id="Apellido_Materno" data-attribute="264676" data-field-name="@Resources.AbogadoResources.Apellido_Materno">
                                    <input class="form-control Datos_Generales" id="Apellido_Materno" name="Apellido_Materno" type="text" value="@Model.Apellido_Materno">
                                    @*<span class="field-validation-valid" data-valmsg-for="Apellido_Materno" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divNombre_Completo">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Nombre_Completo</label>
                                <div class="col-sm-8" data-field-id="Nombre_Completo" data-attribute="264677" data-field-name="@Resources.AbogadoResources.Nombre_Completo">
                                    <input class="form-control Datos_Generales" id="Nombre_Completo" name="Nombre_Completo" type="text" value="@Model.Nombre_Completo">
                                    @*<span class="field-validation-valid" data-valmsg-for="Nombre_Completo" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divFecha_de_Nacimiento">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Fecha_de_Nacimiento</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Nacimiento" data-attribute="264678" data-field-name="@Resources.AbogadoResources.Fecha_de_Nacimiento">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Fecha_de_Nacimiento"  name="Fecha_de_Nacimiento" type="text" value="@Model.Fecha_de_Nacimiento">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divEdad">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Edad</label>
                                <div class="col-sm-8" data-field-id="Edad" data-attribute="264679" data-field-name="@Resources.AbogadoResources.Edad">
                                    <input class="form-control inputNumber Datos_Generales" id="Edad" name="Edad" type="text" value="@Model.Edad">
                                    @*<span class="field-validation-valid" data-valmsg-for="Edad" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divSexo">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Sexo</label>
                                <div class="col-sm-8" data-field-id="Sexo" data-attribute="264680" data-field-name="@Resources.AbogadoResources.Sexo">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Sexo must be a number." data-val-required="The Sexo field is required." id="Sexo" name="Sexo">
                                        <option value=""></option>
                                        @if (varGenero_Sexo != null){ 
                                            foreach (var itemSexo in varGenero_Sexo)
                                            {
                                                if (itemSexo.Value == Convert.ToString(Model.Sexo))
                                                {
                                                    <option value="@itemSexo.Value" selected>@itemSexo.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemSexo.Value">@itemSexo.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Sexo" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264680).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Genero', 'Sexo');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divEstado_Civil">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Estado_Civil</label>
                                <div class="col-sm-8" data-field-id="Estado_Civil" data-attribute="264681" data-field-name="@Resources.AbogadoResources.Estado_Civil">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Estado Civil must be a number." data-val-required="The Estado Civil field is required." id="Estado_Civil" name="Estado_Civil">
                                        <option value=""></option>
                                        @if (varEstado_Civil_Estado_Civil != null){ 
                                            foreach (var itemEstado_Civil in varEstado_Civil_Estado_Civil)
                                            {
                                                if (itemEstado_Civil.Value == Convert.ToString(Model.Estado_Civil))
                                                {
                                                    <option value="@itemEstado_Civil.Value" selected>@itemEstado_Civil.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemEstado_Civil.Value">@itemEstado_Civil.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Estado_Civil" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264681).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Estado_Civil', 'Estado_Civil');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divTipo_de_Identificacion">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Tipo_de_Identificacion</label>
                                <div class="col-sm-8" data-field-id="Tipo_de_Identificacion" data-attribute="264682" data-field-name="@Resources.AbogadoResources.Tipo_de_Identificacion">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Tipo de Identificación must be a number." data-val-required="The Tipo de Identificación field is required." id="Tipo_de_Identificacion" name="Tipo_de_Identificacion">
                                        <option value=""></option>
                                        @if (varTipo_de_Identificacion_Tipo_de_Identificacion != null){ 
                                            foreach (var itemTipo_de_Identificacion in varTipo_de_Identificacion_Tipo_de_Identificacion)
                                            {
                                                if (itemTipo_de_Identificacion.Value == Convert.ToString(Model.Tipo_de_Identificacion))
                                                {
                                                    <option value="@itemTipo_de_Identificacion.Value" selected>@itemTipo_de_Identificacion.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemTipo_de_Identificacion.Value">@itemTipo_de_Identificacion.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Tipo_de_Identificacion" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264682).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Tipo_de_Identificacion', 'Tipo_de_Identificacion');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divNumero_de_Identificacion">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Numero_de_Identificacion</label>
                                <div class="col-sm-8" data-field-id="Numero_de_Identificacion" data-attribute="264683" data-field-name="@Resources.AbogadoResources.Numero_de_Identificacion">
                                    <input class="form-control Datos_Generales" id="Numero_de_Identificacion" name="Numero_de_Identificacion" type="text" value="@Model.Numero_de_Identificacion">
                                    @*<span class="field-validation-valid" data-valmsg-for="Numero_de_Identificacion" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divNacionalidad">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Nacionalidad</label>
                                <div class="col-sm-8" data-field-id="Nacionalidad" data-attribute="264684" data-field-name="@Resources.AbogadoResources.Nacionalidad">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Nacionalidad must be a number." data-val-required="The Nacionalidad field is required." id="Nacionalidad" name="Nacionalidad">
                                        <option value=""></option>
                                        @if (varNacionalidad_Nacionalidad != null){ 
                                            foreach (var itemNacionalidad in varNacionalidad_Nacionalidad)
                                            {
                                                if (itemNacionalidad.Value == Convert.ToString(Model.Nacionalidad))
                                                {
                                                    <option value="@itemNacionalidad.Value" selected>@itemNacionalidad.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemNacionalidad.Value">@itemNacionalidad.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Nacionalidad" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264684).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Nacionalidad', 'Nacionalidad');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divCedula_Profesional">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Cedula_Profesional</label>
                                <div class="col-sm-8" data-field-id="Cedula_Profesional" data-attribute="264685" data-field-name="@Resources.AbogadoResources.Cedula_Profesional">
                                    <input class="form-control Datos_Generales" id="Cedula_Profesional" name="Cedula_Profesional" type="text" value="@Model.Cedula_Profesional">
                                    @*<span class="field-validation-valid" data-valmsg-for="Cedula_Profesional" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divPais">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Pais</label>
                                <div class="col-sm-8" data-field-id="Pais" data-attribute="264686" data-field-name="@Resources.AbogadoResources.Pais">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field País must be a number." data-val-required="The País field is required." id="Pais" name="Pais">
                                        <option value=""></option>
                                        @if (varPais_Pais != null){ 
                                            foreach (var itemPais in varPais_Pais)
                                            {
                                                if (itemPais.Value == Convert.ToString(Model.Pais))
                                                {
                                                    <option value="@itemPais.Value" selected>@itemPais.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemPais.Value">@itemPais.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Pais" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264686).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Pais', 'Pais');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divEstado">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Estado</label>
                                <div class="col-sm-8" data-field-id="Estado" data-attribute="264687" data-field-name="@Resources.AbogadoResources.Estado">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Estado must be a number." data-val-required="The Estado field is required." id="Estado" name="Estado">
                                        <option value=""></option>
                                        @if (varEstado_Estado != null){ 
                                            foreach (var itemEstado in varEstado_Estado)
                                            {
                                                if (itemEstado.Value == Convert.ToString(Model.Estado))
                                                {
                                                    <option value="@itemEstado.Value" selected>@itemEstado.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemEstado.Value">@itemEstado.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Estado" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264687).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Estado', 'Estado');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divMunicipio">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Municipio</label>
                                <div class="col-sm-8" data-field-id="Municipio" data-attribute="264688" data-field-name="@Resources.AbogadoResources.Municipio">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Municipio must be a number." data-val-required="The Municipio field is required." id="Municipio" name="Municipio">
                                        <option value=""></option>
                                        @if (varMunicipio_Municipio != null){ 
                                            foreach (var itemMunicipio in varMunicipio_Municipio)
                                            {
                                                if (itemMunicipio.Value == Convert.ToString(Model.Municipio))
                                                {
                                                    <option value="@itemMunicipio.Value" selected>@itemMunicipio.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemMunicipio.Value">@itemMunicipio.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Municipio" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264688).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Municipio', 'Municipio');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divColonia">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Colonia</label>
                                <div class="col-sm-8" data-field-id="Colonia" data-attribute="264689" data-field-name="@Resources.AbogadoResources.Colonia">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Colonia must be a number." data-val-required="The Colonia field is required." id="Colonia" name="Colonia">
                                        <option value=""></option>
                                        @if (varColonia_Colonia != null){ 
                                            foreach (var itemColonia in varColonia_Colonia)
                                            {
                                                if (itemColonia.Value == Convert.ToString(Model.Colonia))
                                                {
                                                    <option value="@itemColonia.Value" selected>@itemColonia.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemColonia.Value">@itemColonia.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Colonia" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 264689).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Colonia', 'Colonia');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divCodigo_Postal">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Codigo_Postal</label>
                                <div class="col-sm-8" data-field-id="Codigo_Postal" data-attribute="264690" data-field-name="@Resources.AbogadoResources.Codigo_Postal">
                                    <input class="form-control inputNumber Datos_Generales" id="Codigo_Postal" name="Codigo_Postal" type="text" value="@Model.Codigo_Postal">
                                    @*<span class="field-validation-valid" data-valmsg-for="Codigo_Postal" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divTelefono">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Telefono</label>
                                <div class="col-sm-8" data-field-id="Telefono" data-attribute="264691" data-field-name="@Resources.AbogadoResources.Telefono">
                                    <input class="form-control Datos_Generales" id="Telefono" name="Telefono" type="text" value="@Model.Telefono">
                                    @*<span class="field-validation-valid" data-valmsg-for="Telefono" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divCelular">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Celular</label>
                                <div class="col-sm-8" data-field-id="Celular" data-attribute="264692" data-field-name="@Resources.AbogadoResources.Celular">
                                    <input class="form-control Datos_Generales" id="Celular" name="Celular" type="text" value="@Model.Celular">
                                    @*<span class="field-validation-valid" data-valmsg-for="Celular" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divCorreo_Eelectronico">
                                <label class="col-sm-2 control-label">@Resources.AbogadoResources.Correo_Eelectronico</label>
                                <div class="col-sm-8" data-field-id="Correo_Eelectronico" data-attribute="264693" data-field-name="@Resources.AbogadoResources.Correo_Eelectronico">
                                    <input class="form-control Datos_Generales" id="Correo_Eelectronico" name="Correo_Eelectronico" type="text" value="@Model.Correo_Eelectronico">
                                    @*<span class="field-validation-valid" data-valmsg-for="Correo_Eelectronico" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div id="divHistorial">
                            <div class="ibox-title">
                                <h5>@Resources.AbogadoResources.Historial</h5>
                                <div class="ibox-tools">
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="">
									@if (permissionDetalle_de_Abogado.New && !ViewBag.Consult)
                                    {
                                        <a onclick="Detalle_de_AbogadofnClickAddRow();" href="javascript:void(0);" title="@Resources.Resources.AddNewRow" class="Detalle_de_AbogadoAddRow btn btn-primary">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                    }
                                    <button onclick="AbogadoGetBusinessRule('', 'Al Guardar o al Eliminar una Row', '264694')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#AbogadoBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToCreateGrid">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>
									@if (permissionDetalle_de_Abogado.New && !ViewBag.Consult)
                                    {
                                        <a onclick="Detalle_de_AbogadofnOpenAddRowPopUp();" data-toggle="modal" title="@Resources.Resources.AddNewRow" data-target="#AddDetalle_de_Abogado-form" data-backdrop="static" data-keyboard="false" class="btn_mrpopup btn btn-primary">
                                            <i class="glyphicon glyphicon-new-window"></i>
                                        </a>
                                    }  
                                </div>

                                <br />

                                <div style='overflow-x: auto;'>
                                    <table class="table table-striped table-bordered table-hover childValidateTable" id="Detalle_de_AbogadoGrid">
                                        <thead>
                                            <tr>
                                                <th class="ActionHeader"><span>@Resources.Resources.Actions</span></th>

                                                <th class="NUCHeader"><span>
<button type="button" data-attribute="264696" data-field-id="Detalle_de_AbogadoNUC" data-field-name="@Resources.Detalle_de_AbogadoResources.NUC" data-toggle="modal" data-target="#AbogadoBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_AbogadoResources.NUC">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_AbogadoResources.NUC</span></th>
                                                <th class="Nombre_del_RepresentadoHeader"><span>
<button type="button" data-attribute="264697" data-field-id="Detalle_de_AbogadoNombre_del_Representado" data-field-name="@Resources.Detalle_de_AbogadoResources.Nombre_del_Representado" data-toggle="modal" data-target="#AbogadoBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_AbogadoResources.Nombre_del_Representado">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_AbogadoResources.Nombre_del_Representado</span></th>
                                                <th class="Tipo_de_RepresentanteHeader"><span>
<button type="button" data-attribute="264698" data-field-id="Detalle_de_AbogadoTipo_de_Representante" data-field-name="@Resources.Detalle_de_AbogadoResources.Tipo_de_Representante" data-toggle="modal" data-target="#AbogadoBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_AbogadoResources.Tipo_de_Representante">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_AbogadoResources.Tipo_de_Representante</span></th>
                                                <th class="ComentariosHeader"><span>
<button type="button" data-attribute="264699" data-field-id="Detalle_de_AbogadoComentarios" data-field-name="@Resources.Detalle_de_AbogadoResources.Comentarios" data-toggle="modal" data-target="#AbogadoBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_de_AbogadoResources.Comentarios">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_de_AbogadoResources.Comentarios</span></th>


                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Clave" id="ReferenceClave" />
                                <input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="AbogadoGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('AbogadoCreateForm');"  />
									<button onclick="AbogadoGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#AbogadoBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="AbogadoGuardarYNuevo" onclick="return checkClientValidate('AbogadoCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="AbogadoGuardarYCopia" onclick="return checkClientValidate('AbogadoCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnAbogadoBusinessRuleFieldId" />
                                <input type="hidden" id="hdnAbogadoBusinessRuleFieldName" />
                                <input type="hidden" id="hdnAbogadoBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="AbogadoCancelar" name="AbogadoCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="AbogadoGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#AbogadoBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Abogado.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/AbogadoGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/AbogadoCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var viewInEframe =  ('@ViewBag.viewInEframe' == 'True');
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;


        $(document).ready(function () {
            $('#ObjectId').val('45151');
		                 




           
              showDetalle_de_AbogadoGrid(null);

		   
			
             @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();


                </text>
             }
             EjecutarValidacionesAlComienzo();
                         $('#Fecha_de_Nacimiento').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });


            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			
			 if (viewInEframe) {             
                $('#AbogadoGuardarYNuevo').hide();
                $('#AbogadoGuardarYCopia').hide();
                $('#AbogadoCancelar').hide(); 
                $('#ConfigureSave').hide();
                $('#AbogadoGuardar').val('Actualizar Seccion ' + '@Resources.AbogadoResources.Abogado' )
            }

			
			

        });

        var Detalle_de_AbogadoinsertRowCurrentIndex = -1;
        var Detalle_de_AbogadoDataDataTable;
        function getDetalle_de_AbogadoData() {
            $.ajax({
                url: "@Url.Content("~/Frontal/Abogado/GetDetalle_de_Abogado")" + "?draw=1&start=1&length=2147483647" + ($("#ReferenceClave").val() != "" ? "&RelationId=" + $("#ReferenceClave").val() : ""),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                    Detalle_de_AbogadoDataDataTable = result.data;
                    showDetalle_de_AbogadoGrid(result.data);
                    $('#Detalle_de_AbogadoGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Detalle_de_AbogadoGrid .gridDatePicker').attr("readonly", "");
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
        function Detalle_de_AbogadoGetUpdateRowControls(data, nameOfTable, rowIndex) {

            var columnData = [];
            var counter = 0;
            var inputData = "<input type='text' class='fullWidth form-control' />";

            columnData[counter++] = $($($.parseHTML(inputData)).val(data.NUC)).addClass('NUC').attr('id', nameOfTable + 'NUC' + rowIndex).attr('data-field', 'NUC');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Nombre_del_Representado)).addClass('Nombre_del_Representado').attr('id', nameOfTable + 'Nombre_del_Representado' + rowIndex).attr('data-field', 'Nombre_del_Representado');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Tipo_de_Representante)).addClass('Tipo_de_Representante').attr('id', nameOfTable + 'Tipo_de_Representante' + rowIndex).attr('data-field', 'Tipo_de_Representante');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Comentarios)).addClass('Comentarios').attr('id', nameOfTable + 'Comentarios' + rowIndex).attr('data-field', 'Comentarios');

            return columnData;
        }



        function GetFileInfo(fileData, fileUploadData) {

            var $div = $("<div>");
            if (fileUploadData != null && fileUploadData.files.length > 0) {

                $div.append("<label>" + fileUploadData.files[0].name + "</label>");
                //<i class="fa fa-times-circle" id='removeFileAttachment'>
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;

            } else if (fileUploadData != null) {
                return $.parseHTML(GetFileUploader());
            } else {
                $div.append("<label>" + fileData.FileName + "</label>");
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;
            }
        }

        var removedDetalle_de_AbogadoData = [];
        function Detalle_de_AbogadoDeleteRow(rowIndex, row) {
            var rowIndexTable = Detalle_de_AbogadoTable.fnGetPosition($(row).parent().parent()[0]);
            var permission = {            
                 Delete: '@permissionDetalle_de_Abogado.Delete' == 'True'
            };
            if (!permission.Delete || isConsultMode)
                return;            
            if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
              if (EjecutarValidacionesAlEliminarMRDetalle_de_Abogado('Detalle_de_Abogado_', '_' + rowIndex)) {
                var prevData = Detalle_de_AbogadoTable.fnGetData(rowIndexTable );
                removedDetalle_de_AbogadoData.push(prevData);
                Detalle_de_AbogadoTable.fnDeleteRow(rowIndexTable );
				showDetalle_de_AbogadoGrid(Detalle_de_AbogadoTable.fnGetData());
              }
            }
			initiateUIControls();
        }

        function Detalle_de_AbogadorowCreationGrid(row, data, index) {
            var permission =  {            
                 Edit: '@permissionDetalle_de_Abogado.Edit' == 'True',
                 Delete: '@permissionDetalle_de_Abogado.Delete' == 'True'
            };
            setDetalle_de_AbogadoValidation();
            var Detalle_de_AbogadoRowElement = "Detalle_de_Abogado_" + index.toString();
            $(row).addClass(Detalle_de_AbogadoRowElement);
            var nameOfTable='Detalle_de_Abogado_';
            var rowIndex = '_' + index;
            Detalle_de_AbogadoinsertRowCurrentIndex = index;

            row.innerHTML = "";

            if (data.IsInsertRow) {

                if (row.childNodes.length != 0) {
                    for (var i = 0; i < row.childNodes.length; i++) {
                        row.childNodes[i].remove();
                    }
                }
                var controls = GetInsertDetalle_de_AbogadoRowControls(index);
                var actionColInsert = $('<td>');

                var abc = "if(dynamicFieldValidation('" + Detalle_de_AbogadoRowElement + "')){ Detalle_de_AbogadoInsertRow(" + index + "); }";
                var insertRowHTML = '<a  data-toggle="tooltip" title="Confirmar Registro" onclick="' + abc + '">';
                $('<i class="fa fa-check">').appendTo($(insertRowHTML).appendTo(actionColInsert));
				$('<i class="fa fa-times">').appendTo($("<a data-toggle='tooltip' title='Cancelar Registro' onclick='Detalle_de_AbogadoCancelRow(" + index + ")'>").appendTo(actionColInsert));
                actionColInsert.appendTo(row);

                for (i = 0; i < controls.length; i++) {
					var idHeader = $(controls[i]).data('field') + 'Header';
					if($(controls[i]).length > 1){
						idHeader = $($(controls[i])[1]).data('field') + 'Header';
					}					

					var classe = ($('#Detalle_de_AbogadoGrid .' + idHeader).hasClass('dt-right') ? "dt-right" : "") + $('#Detalle_de_AbogadoGrid .' + idHeader ).css('display') == 'none' ? " hide" : "";
				   
					if ($(controls[i]).next().length > 0) {
					    var div = $(controls[i]).next();
					    $('<td class="' + classe + '">').append($(controls[i])).append(div).appendTo(row);
					}else
					    $(controls[i]).appendTo($('<td class="' + classe + '">').appendTo(row));
					
                }
                $('#Detalle_de_AbogadoGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('#Detalle_de_AbogadoGrid .gridDatePicker').attr("readonly", "");
                return;
            }

            var actionCol = $('<td>');
			var edit = "<a title='@Resources.Resources.Edit' class='edit-MR' onclick='Detalle_de_AbogadoEditRow(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                edit = "";
            var editPopUp = "<a title='@Resources.Resources.Edit' class='edit-popup-MR' data-toggle='modal' data-target='#AddDetalle_de_Abogado-form' onclick='Detalle_de_AbogadoEditRowPopup(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                editPopUp = "";
            var eliminar = "<a title='@Resources.Resources.Delete' class='eliminar-MR' onclick='Detalle_de_AbogadoDeleteRow(" + index + ", this)'>";
            if (!permission.Delete || isConsultMode)
                eliminar = "";
            $('<i class="fa fa-pencil">').appendTo($(edit).appendTo(actionCol));
            //$('<i class="fa fa-edit">').appendTo($(editPopUp).appendTo(actionCol));
            $('<i class="fa fa-trash-o">').appendTo($(eliminar).appendTo(actionCol));
			if ($('.Action' + 'Header').css('display') != 'none')
				actionCol.appendTo(row);

            if ($('.NUC' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'NUC'+rowIndex+'">').text(data.NUC).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'NUC'+rowIndex+'">').text(data.NUC).appendTo(row);
            if ($('.Nombre_del_Representado' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Nombre_del_Representado'+rowIndex+'">').text(data.Nombre_del_Representado).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Nombre_del_Representado'+rowIndex+'">').text(data.Nombre_del_Representado).appendTo(row);
            if ($('.Tipo_de_Representante' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Tipo_de_Representante'+rowIndex+'">').text(data.Tipo_de_Representante).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Tipo_de_Representante'+rowIndex+'">').text(data.Tipo_de_Representante).appendTo(row);
            if ($('.Comentarios' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Comentarios'+rowIndex+'">').text(data.Comentarios).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Comentarios'+rowIndex+'">').text(data.Comentarios).appendTo(row);

        }

        var Detalle_de_AbogadoTable;
        function showDetalle_de_AbogadoGrid(dataSet) {
            //removedDetalle_de_AbogadoData = [];
            Detalle_de_AbogadoTable = $('#Detalle_de_AbogadoGrid').dataTable({
                dom: '<"html5buttons"B>lTgitp',
                buttons: [
                ],
                "createdRow": Detalle_de_AbogadorowCreationGrid,
                "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
                data: dataSet,
                "columns": [
                    { "data": null, 'visible': true, "orderable": false },

                    { "data": "NUC", "orderable": false },
                    { "data": "Nombre_del_Representado", "orderable": false },
                    { "data": "Tipo_de_Representante", "orderable": false },
                    { "data": "Comentarios", "orderable": false },

                ],
                "order": [[0, "asc"]],
                "language": {
                    "lengthMenu": "@Resources.Resources.Display" + " _MENU_ " + "@Resources.Resources.RecordsPerPage",
                    "zeroRecords": "@Resources.Resources.NothingFound",
                    "info": "@Resources.Resources.ShowingPages" + " _PAGE_ " + "@Resources.Resources.of" + " _PAGES_",
                    "infoEmpty": "@Resources.Resources.NoRecords",
                    "infoFiltered": "(" + "@Resources.Resources.FilteredFrom" + " _MAX_ " + "@Resources.Resources.TotalRecords" + ")",
                    "sSearch": "@Resources.Resources.Search",
                    "paginate": {
                        "previous": "@Resources.Resources.Previous",
                        "next": "@Resources.Resources.Next"
                    }
                },
				"bDestroy": true,
                "fnDrawCallback": function (settings) {
                    setDetalle_de_AbogadoValidation();
                }
            }).on('init.dt', function (e, data) {
                $('a').tooltip();
            }).on('draw.dt', function () {
                $('#Detalle_de_AbogadoGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('.gridDatePicker').inputmask("99-99-9999", { "placeholder": "dd-mm-yyyy" });
            });
        }







        var Detalle_de_AbogadoData = [];
        var Detalle_de_AbogadodeletedItem = [];
        var Detalle_de_AbogadoDataMain = [];
        var Detalle_de_AbogadoDataMainPages = [];
        var Detalle_de_AbogadonewItemCount = 0;
        var Detalle_de_AbogadomaxItemIndex = 0;
        var Detalle_de_AbogadoDataMainInitialized = false;

        function SendDetalle_de_Abogado(callBack, ClaveId) {
            Detalle_de_AbogadoData = GetDetalle_de_AbogadoFromDataTable();

            if (Detalle_de_AbogadoData.length > 0 || $("#ReferenceClave").val() != ClaveId) {
                if ($("#ReferenceClave").val() != "0" && ClaveId ==null)
                    ClaveId = $("#ReferenceClave").val();                
                if ($("#ReferenceClave").val() == '')
                    $("#ReferenceClave").val('0');
                $.ajax({
                    url: '@Url.Content("~/Frontal/Abogado/PostDetalle_de_Abogado?MasterId=")' + ClaveId + "&referenceId=" + $("#ReferenceClave").val(),
                    type: 'POST',
                    data: GetDetalle_de_Abogado(),
                    async: true,
                    success: function (result) {

                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            } else {
                //showNotification("@Resources.Resources.SaveSuccess", "success");
                //callBack(ClaveId);
            }
            return true;
        }

        function GetAddDetalle_de_AbogadoPopup(currentRowIndex, mode, id) {

            $.ajax({
                url: "@Url.Action("AddDetalle_de_Abogado", "Detalle_de_Abogado")",
                type: "GET",
                async: false,
                data: { rowIndex: currentRowIndex, functionMode: mode, id: id },
                success: function (data) {
                    $(".AddDetalle_de_AbogadoModal").html(data);
                },
                error: function () {

                }
            });

            @*$.get('@Url.Action("AddDetalle_de_Abogado", "Detalle_de_Abogado")', { rowIndex: currentRowIndex }, function (data) {
                $(".AddDetalle_de_AbogadoModal").html(data);
            });*@
        }

        function ShowMessagePendingRowDetalle_de_Abogado()
        {
            //alert('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Historial"))')
	    showNotification('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Historial"))', "warning");
        }


        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });







        }

    </script>

<script type="text/javascript">


   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Abogado/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }


        function SendAbogadoData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateAbogado").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateAbogado")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceClave").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('AbogadoCreateForm', 'Datos_Generales')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Abogado/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".AbogadoBusinessRuleModal").html(data);
			});
		}
                function AbogadoGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('45151');
			$('#Screen').val('Abogado');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function AbogadoBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Abogado/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Abogado/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Abogado/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Abogado/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Abogado/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateAbogado').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        AbogadoGetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Abogado/Get_Datos_Generales")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    $('#Foto').val(result.data.Foto);
                    $('#Nombre').val(result.data.Nombre);
                    $('#Apellido_Paterno').val(result.data.Apellido_Paterno);
                    $('#Apellido_Materno').val(result.data.Apellido_Materno);
                    $('#Nombre_Completo').val(result.data.Nombre_Completo);
                    $('#Fecha_de_Nacimiento').val(result.data.Fecha_de_Nacimiento);
                    $('#Edad').val(result.data.Edad);
                    $('#Sexo').val(result.data.Sexo);
                    $('#Estado_Civil').val(result.data.Estado_Civil);
                    $('#Tipo_de_Identificacion').val(result.data.Tipo_de_Identificacion);
                    $('#Numero_de_Identificacion').val(result.data.Numero_de_Identificacion);
                    $('#Nacionalidad').val(result.data.Nacionalidad);
                    $('#Cedula_Profesional').val(result.data.Cedula_Profesional);
                    $('#Pais').val(result.data.Pais);
                    $('#Estado').val(result.data.Estado);
                    $('#Municipio').val(result.data.Municipio);
                    $('#Colonia').val(result.data.Colonia);
                    $('#Codigo_Postal').val(result.data.Codigo_Postal);
                    $('#Telefono').val(result.data.Telefono);
                    $('#Celular').val(result.data.Celular);
                    $('#Correo_Eelectronico').val(result.data.Correo_Eelectronico);
                    Detalle_de_AbogadoDataDataTable = result.Historial;
                    showDetalle_de_AbogadoGrid(result.Historial);
                    $('#Detalle_de_AbogadoGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Detalle_de_AbogadoGrid .gridDatePicker').attr("readonly", "");

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Foto', $('#Foto').val());
                data.append('Nombre', $('#Nombre').val());
                data.append('Apellido_Paterno', $('#Apellido_Paterno').val());
                data.append('Apellido_Materno', $('#Apellido_Materno').val());
                data.append('Nombre_Completo', $('#Nombre_Completo').val());
                data.append('Fecha_de_Nacimiento', $('#Fecha_de_Nacimiento').val());
                data.append('Edad', $('#Edad').val());
                data.append('Sexo', $('#Sexo').val());
                data.append('Estado_Civil', $('#Estado_Civil').val());
                data.append('Tipo_de_Identificacion', $('#Tipo_de_Identificacion').val());
                data.append('Numero_de_Identificacion', $('#Numero_de_Identificacion').val());
                data.append('Nacionalidad', $('#Nacionalidad').val());
                data.append('Cedula_Profesional', $('#Cedula_Profesional').val());
                data.append('Pais', $('#Pais').val());
                data.append('Estado', $('#Estado').val());
                data.append('Municipio', $('#Municipio').val());
                data.append('Colonia', $('#Colonia').val());
                data.append('Codigo_Postal', $('#Codigo_Postal').val());
                data.append('Telefono', $('#Telefono').val());
                data.append('Celular', $('#Celular').val());
                data.append('Correo_Eelectronico', $('#Correo_Eelectronico').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Abogado/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    					    SendDetalle_de_Abogado(null, newId);

					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}


    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Abogado_cmbLabelSelect" name="Abogado_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />

