@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_de_AmparoModel
@{

    string Fecha_Amparo = "";
    if (Model.Fecha_Amparo == "")
    { Model.Fecha_Amparo = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

    List<SelectListItem> varTipo_de_Amparo_Tipo_de_Amparo = null;
    if (ViewBag.Tipo_de_Amparos_Tipo_de_Amparo != null)
    { varTipo_de_Amparo_Tipo_de_Amparo = (List<SelectListItem>)ViewBag.Tipo_de_Amparos_Tipo_de_Amparo; }
 List<SelectListItem> varEstado_Entidad_que_Emitio_Amparo = null;
    if (ViewBag.Estados_Entidad_que_Emitio_Amparo != null)
    { varEstado_Entidad_que_Emitio_Amparo = (List<SelectListItem>)ViewBag.Estados_Entidad_que_Emitio_Amparo; }
    List<SelectListItem> varTipo_de_Resolucion_Resolucion = null;
    if (ViewBag.Tipo_de_Resolucions_Resolucion != null)
    { varTipo_de_Resolucion_Resolucion = (List<SelectListItem>)ViewBag.Tipo_de_Resolucions_Resolucion; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle de Amparo
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_de_AmparoRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_de_AmparoPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle de Amparo
								<button onclick="Detalle_de_AmparoGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_de_AmparoBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_de_AmparoResources.Detalle_de_Amparo</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_de_AmparoDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_de_AmparoPropertyBusinessModal" id="Detalle_de_AmparoPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_de_AmparoBusinessRule-form" onclick="Detalle_de_AmparoGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_de_AmparoPropertyModal" id="Detalle_de_AmparoPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_de_AmparoBusinessRuleModal" id="Detalle_de_AmparoBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_de_AmparoAddBusinessRuleModal" id="Detalle_de_AmparoAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_de_Amparo", FormMethod.Post, new { id = "CreateDetalle_de_Amparo", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_de_AmparoCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_AmparoResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="268845" data-field-name="@Resources.Detalle_de_AmparoResources.Clave">
                                    <label class="form-control" for="Detalle_de_AmparoClave" id="Detalle_de_AmparoClave">@Model.Clave</label>
                                </div>
                            </div>
<div class="form-group" id="divTipo_de_Amparo">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_AmparoResources.Tipo_de_Amparo</label>
	<div class="col-sm-8" data-field-id="Tipo_de_Amparo" data-attribute="268847" data-field-name="@Resources.Detalle_de_AmparoResources.Tipo_de_Amparo">
		<select class="form-control" data-val="true" data-val-number="The field Tipo de Amparo must be a number." data-val-required="The Tipo de Amparo field is required." id="Detalle_de_AmparoTipo_de_Amparo" name="Detalle_de_AmparoTipo_de_Amparo">
			<option value=""></option>
			@if (varTipo_de_Amparo_Tipo_de_Amparo != null){ 
				foreach (var itemTipo_de_Amparo in varTipo_de_Amparo_Tipo_de_Amparo)
				{
					if (itemTipo_de_Amparo.Value == Convert.ToString(Model.Tipo_de_Amparo))
					{
						<option value="@itemTipo_de_Amparo.Value" selected>@itemTipo_de_Amparo.Text</option>
					}
					else
					{
						<option value="@itemTipo_de_Amparo.Value">@itemTipo_de_Amparo.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divNumero_de_Amparo">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_AmparoResources.Numero_de_Amparo</label>
                                <div class="col-sm-8" data-field-id="Numero_de_Amparo" data-attribute="268848" data-field-name="@Resources.Detalle_de_AmparoResources.Numero_de_Amparo">
                                    <input class="form-control" id="Detalle_de_AmparoNumero_de_Amparo" name="Detalle_de_AmparoNumero_de_Amparo" type="text" value="@Model.Numero_de_Amparo">
                                </div>
                            </div>
<div class="form-group" id="divFecha_Amparo">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_AmparoResources.Fecha_Amparo</label>
                                <div class="col-sm-8" data-field-id="Fecha_Amparo" data-attribute="268849" data-field-name="@Resources.Detalle_de_AmparoResources.Fecha_Amparo">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Detalle_de_AmparoFecha_Amparo" readonly="readonly" name="Detalle_de_AmparoFecha_Amparo" type="text" value="@Model.Fecha_Amparo">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divEntidad_que_Emitio_Amparo">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_AmparoResources.Entidad_que_Emitio_Amparo</label>
                                <div class="col-sm-8" data-field-id="Entidad_que_Emitio_Amparo" data-attribute="268850" data-field-name="@Resources.Detalle_de_AmparoResources.Entidad_que_Emitio_Amparo">
                                    <select class='fullWidth AutoCompleteEstado form-control select2-dropdown' data-val="true" id="Detalle_de_AmparoEntidad_que_Emitio_Amparo" name="Detalle_de_AmparoEntidad_que_Emitio_Amparo">
                                        <option value="@Model.Entidad_que_Emitio_Amparo">@(Model.Entidad_que_Emitio_AmparoNombre??Model.Entidad_que_Emitio_AmparoNombre)</option>
                                    </select>
                                </div>
                            </div>
<div class="form-group" id="divResolucion">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_AmparoResources.Resolucion</label>
	<div class="col-sm-8" data-field-id="Resolucion" data-attribute="268851" data-field-name="@Resources.Detalle_de_AmparoResources.Resolucion">
		<select class="form-control" data-val="true" data-val-number="The field Resolución must be a number." data-val-required="The Resolución field is required." id="Detalle_de_AmparoResolucion" name="Detalle_de_AmparoResolucion">
			<option value=""></option>
			@if (varTipo_de_Resolucion_Resolucion != null){ 
				foreach (var itemResolucion in varTipo_de_Resolucion_Resolucion)
				{
					if (itemResolucion.Value == Convert.ToString(Model.Resolucion))
					{
						<option value="@itemResolucion.Value" selected>@itemResolucion.Text</option>
					}
					else
					{
						<option value="@itemResolucion.Value">@itemResolucion.Text</option>
					}
				}
			}
		</select>
	</div>
</div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Clave" id="ReferenceClave" />
												<input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_de_AmparoConfigureSave" name="Detalle_de_AmparoConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_de_AmparoConfigureType" />
												<input type="hidden" id="hdnDetalle_de_AmparoBusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_de_AmparoBusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_de_AmparoBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_de_AmparoGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_de_AmparoBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_de_Amparo.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_de_AmparoGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_de_AmparoCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Registro_de_Mandamiento_JudicialCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_de_AmparoRowElement = "Detalle_de_AmparoPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_de_AmparoRowElement + "')){ Detalle_de_AmparoInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			
            $('#Detalle_de_AmparoFecha_Amparo').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });
       var AutoCompleteEntidad_que_Emitio_AmparoData =[];
       $(".AutoCompleteDetalle_de_Amparo_Entidad_que_Emitio_Amparo").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Detalle_de_Amparo/GetDetalle_de_Amparo_Entidad_que_Emitio_Amparo_Estado")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_de_Amparo_Entidad_que_Emitio_Amparo_EstadoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_de_Amparo_Entidad_que_Emitio_Amparo");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDetalle_de_AmparoData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_de_Amparo").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_de_Amparo")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_de_AmparoCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_de_Amparo/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_de_AmparoPropertyBag", "Detalle_de_Amparo")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_de_AmparoGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_de_AmparoBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_de_AmparoBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_de_AmparoBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_de_AmparoBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_de_AmparoBusinessRuleFieldName').val(), ObjectId: '45663', Attribute: $('#hdnDetalle_de_AmparoBusinessRuleAttribute').val(), Screen: 'Detalle_de_Amparo' }, function (data) {
                $(".Detalle_de_AmparoBusinessRuleModal").html(data);
            });
        }
        function Detalle_de_AmparoGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_de_AmparoBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_de_AmparoBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_de_AmparoBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_de_AmparoBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_de_AmparoBusinessRuleFieldName').val(), ObjectId: '45663', Attribute: $('#hdnDetalle_de_AmparoBusinessRuleAttribute').val(), Screen: 'Detalle_de_Amparo' }, function (data) {
                $(".Detalle_de_AmparoAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_de_AmparoBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_de_AmparoBusinessRuleFieldName').val(), ObjectId: '45663', Attribute: $('#hdnDetalle_de_AmparoBusinessRuleAttribute').val(), Screen: 'Detalle_de_Amparo' }, function (data) {
				$(".Detalle_de_AmparoBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_de_Amparo/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_de_Amparo/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_de_Amparo/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_de_AmparoConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_de_AmparoConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_de_Amparo/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_de_AmparoConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_de_Amparo/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_de_Amparo' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_de_Amparo' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_de_AmparoConfigureSave').text('Save Settings');
                    $('#hdnDetalle_de_AmparoConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_de_Amparo').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_de_AmparoBusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_de_AmparoBusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_de_AmparoBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
