@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_de_AmparoAdvanceSearchModel
@{
    List<SelectListItem> varTipo_de_Amparo_Tipo_de_Amparo = null;
    if (ViewBag.Tipo_de_Amparos_Tipo_de_Amparo != null)
    { varTipo_de_Amparo_Tipo_de_Amparo = (List<SelectListItem>)ViewBag.Tipo_de_Amparos_Tipo_de_Amparo; }
 List<SelectListItem> varEstado_Entidad_que_Emitio_Amparo = null;
    if (ViewBag.Estados_Entidad_que_Emitio_Amparo != null)
    { varEstado_Entidad_que_Emitio_Amparo = (List<SelectListItem>)ViewBag.Estados_Entidad_que_Emitio_Amparo; }
    List<SelectListItem> varTipo_de_Resolucion_Resolucion = null;
    if (ViewBag.Tipo_de_Resolucions_Resolucion != null)
    { varTipo_de_Resolucion_Resolucion = (List<SelectListItem>)ViewBag.Tipo_de_Resolucions_Resolucion; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Detalle_de_Amparo", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_AmparoResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_AmparoResources.Tipo_de_Amparo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tipo_de_AmparoFilter, filters, new { @class = "form-control", @id = "ddlTipo_de_AmparoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTipo_de_Amparo, new { @class = "form-control", @type = "text", @id = "txtAdvanceTipo_de_Amparo" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Amparo_Tipo_de_Amparo!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTipo_de_AmparoMultiple, varTipo_de_Amparo_Tipo_de_Amparo,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTipo_de_Amparo"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_AmparoResources.Numero_de_Amparo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_de_AmparoFilter, filters, new { @class = "form-control", @id = "ddlNumero_de_AmparoFilter" })
                    @Html.TextBoxFor(m => m.Numero_de_Amparo, new { @class = "form-control", @type = "text", @id = "txtNumero_de_Amparo" })
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.Detalle_de_AmparoResources.Fecha_Amparo</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_Amparo" name="FromFecha_Amparo" type="text" value="@Model.FromFecha_Amparo" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_Amparo" name="ToFecha_Amparo" type="text" value="@Model.ToFecha_Amparo" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
 List<SelectListItem> varEstado_Entidad_que_Emitio_Amparo = null;
    if (ViewBag.Estados_Entidad_que_Emitio_Amparo != null)
    { varEstado_Entidad_que_Emitio_Amparo = (List<SelectListItem>)ViewBag.Estados_Entidad_que_Emitio_Amparo; }
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_AmparoResources.Resolucion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.ResolucionFilter, filters, new { @class = "form-control", @id = "ddlResolucionFilter" })
                    @Html.TextBoxFor(m => m.AdvanceResolucion, new { @class = "form-control", @type = "text", @id = "txtAdvanceResolucion" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Resolucion_Resolucion!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceResolucionMultiple, varTipo_de_Resolucion_Resolucion,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceResolucion"
                        });
                    }
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Detalle_de_Amparo/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_AmparoClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Detalle_de_AmparoClaveTo = $("#txtAdvanceToClave").val();
        }
        advanceSearch.Tipo_de_AmparoSearchType = 0;
        if ($('#ddlAdvanceTipo_de_Amparo').val().length > 0 || $("#txtAdvanceTipo_de_Amparo").val() == "") {


            if (isDetalle_de_AmparoTextSearch) {
                advanceSearch.Tipo_de_AmparoName = $("#txtAdvanceTipo_de_Amparo").val();
                advanceSearch.Tipo_de_AmparoNameSearchType = $("#ddlAdvanceTipo_de_Amparo").val();
                advanceSearch.Tipo_de_AmparoSearchType = 1;
            }
            else {

                advanceSearch.Tipo_de_AmparoToSearch = $("#ddlAdvanceTipo_de_Amparo").val();
                advanceSearch.Tipo_de_AmparoSearchType = 2;
            }
        }
        if ($("#txtAdvanceNumero_de_Amparo").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_AmparoNumero_de_Amparo = $("#txtAdvanceNumero_de_Amparo").val();
            advanceSearch.Detalle_de_AmparoNumero_de_AmparoSearchType = $("#ddlAdvanceNumero_de_AmparoFilter").val();
        }
        if ($("#txtAdvanceFromFecha_Amparo").val() != "" || $("#txtAdvanceToFecha_Amparo").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_AmparoFecha_AmparoFrom = $("#txtAdvanceFromFecha_Amparo").val();
            advanceSearch.Detalle_de_AmparoFecha_AmparoTo = $("#txtAdvanceToFecha_Amparo").val();
        }
        advanceSearch.Entidad_que_Emitio_AmparoSearchType = 0;
        if ($('#ddlAdvanceEntidad_que_Emitio_Amparo').val().length > 0 || $("#txtAdvanceEntidad_que_Emitio_Amparo").val() == "") {


            if (isDetalle_de_AmparoTextSearch) {
                advanceSearch.Entidad_que_Emitio_AmparoName = $("#txtAdvanceEntidad_que_Emitio_Amparo").val();
                advanceSearch.Entidad_que_Emitio_AmparoNameSearchType = $("#ddlAdvanceEntidad_que_Emitio_Amparo").val();
                advanceSearch.Entidad_que_Emitio_AmparoSearchType = 1;
            }
            else {

                advanceSearch.Entidad_que_Emitio_AmparoToSearch = $("#ddlAdvanceEntidad_que_Emitio_Amparo").val();
                advanceSearch.Entidad_que_Emitio_AmparoSearchType = 2;
            }
        }
        advanceSearch.ResolucionSearchType = 0;
        if ($('#ddlAdvanceResolucion').val().length > 0 || $("#txtAdvanceResolucion").val() == "") {


            if (isDetalle_de_AmparoTextSearch) {
                advanceSearch.ResolucionName = $("#txtAdvanceResolucion").val();
                advanceSearch.ResolucionNameSearchType = $("#ddlAdvanceResolucion").val();
                advanceSearch.ResolucionSearchType = 1;
            }
            else {

                advanceSearch.ResolucionToSearch = $("#ddlAdvanceResolucion").val();
                advanceSearch.ResolucionSearchType = 2;
            }
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblDetalle_de_Amparo').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isDetalle_de_AmparoTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceTipo_de_Amparo").keypress(function () {
            isDetalle_de_AmparoTextSearch = true;
            $("#ddlAdvanceTipo_de_Amparo").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTipo_de_Amparo").change(function () {
            isDetalle_de_AmparoTextSearch = false;
            $("#txtAdvanceTipo_de_Amparo").val('');
        });
        $("#txtAdvanceEntidad_que_Emitio_Amparo").keypress(function () {
            isDetalle_de_AmparoTextSearch = true;
            $("#ddlAdvanceEntidad_que_Emitio_Amparo").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEntidad_que_Emitio_Amparo").change(function () {
            isDetalle_de_AmparoTextSearch = false;
            $("#txtAdvanceEntidad_que_Emitio_Amparo").val('');
        });
        $("#txtAdvanceResolucion").keypress(function () {
            isDetalle_de_AmparoTextSearch = true;
            $("#ddlAdvanceResolucion").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceResolucion").change(function () {
            isDetalle_de_AmparoTextSearch = false;
            $("#txtAdvanceResolucion").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

