@model IList<Spartane.Web.Areas.Frontal.Models.Modulo_Atencion_InicialGridModel>

@{
    var rowCounter = 0;
}

<style>
    .table {
        width: 100%;
        border: 1px solid #cccccc;
        font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        /*border-collapse: separate !important;*/
        font-size: 13px;
    }

        .table td {
            padding: 2px;
            border:1px solid #cccccc;
        }

    .table tr:nth-of-type(2n+1) {
        background-color: #f9f9f9;
    }

        .table tr:nth-of-type(2n) {
            background-color: #8da0c2;
        }

    .table-row-1 td, .table-row-1 th {
    }

    .table-row-2 td, .table-row-2 th, thead {
    }

    .tableHeaderRow {
        font-weight: bold;
        border: 1px solid #ff6a00;
    }

    .column1 {
        width: 15%;
    }

    .column2 {
        width: 15%;
    }
</style>
<br />
<body onbeforeprint="ocultarcolumnas();">
 <span id="columnsVisible"></span>
<table class="table" cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Clave
            </td>
                        <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Clave
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Folio
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Fecha_de_Registro
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Hora_de_Registro
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Turno_Asignado
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Usuario_que_Registra
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Unidad
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Municipio
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Region
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Tipo_de_Denuncia
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.NUAT
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.CDI
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Expedientes_Relacionados
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Estatus
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Generar_Cita
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Nombres_del_Remitente
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Apellido_Paterno_del_Remitente
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Apellido_Materno_del_Remitente
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Fecha_en_que_llega_para_validacion
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Delegacion
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Agencia
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Ministerio_Publico_en_Turno
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Solicitud_de_Denuncia_Ciudadana
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Nombres_turno
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Apellido_Paterno_turno
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Apellido_Materno_turno
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Sexo_turno
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Edad_turno
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Tipo_de_Atencion_turno
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Tipo_de_Identificacion_turno
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Numero_de_Identificacion_turno
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Urgencia_turno
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Tipo_de_Urgencia_turno
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Motivo_Finalizacion_Turno
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Observaciones_turno
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Titulo_del_Hecho
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Narrativa_Breve_de_los_Hechos
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Prioridad_del_Hecho
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Orientador
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Fecha_del_Hecho
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Hora_del_Hecho
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Pais_de_los_Hechos
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Estado_de_los_Hechos
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Municipio_de_los_Hechos
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Poblacion
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Colonia_de_los_Hechos
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Codigo_Postal_de_los_Hechos
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Calle_de_los_Hechos
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Entre_Calle
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Y_Calle
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Numero_Exrterior_de_los_Hechos
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Numero_Interior_de_los_Hechos
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Referencia_hechos
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Latitud
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Longitud
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Documento_Extraviado_hechos
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Tipo_de_Documento_Extraviado
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Tipo_de_Lugar_del_Hecho
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Zona_de_los_Hechos
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Turno
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Cerrar
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Fecha_de_Cierre
            </td>
            <td class="column1">
                @Resources.Modulo_Atencion_InicialResources.Hora_de_Cierre
            </td>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {                
                <tr>
                    <td>
                        @item.Clave
                    </td>
					                    <td>
                        @item.Clave
                    </td>
                    <td>
                        @item.Folio
                    </td>
                    <td>
                        @item.Fecha_de_Registro
                    </td>
                    <td>
                        @item.Hora_de_Registro
                    </td>
                    <td>
                        @item.Turno_Asignado
                    </td>
                    <td>
                        @item.Usuario_que_Registra
                    </td>
                    <td>
                        @item.UnidadDescripcion
                    </td>
                    <td>
                        @item.Municipio
                    </td>
                    <td>
                        @item.RegionDescripcion
                    </td>
                    <td>
                        @item.Tipo_de_DenunciaDescripcion
                    </td>
                    <td>
                        @item.NUAT
                    </td>
                    <td>
                        @item.CDI
                    </td>
                    <td>
                        @item.Expedientes_Relacionados
                    </td>
                    <td>
                        @item.EstatusDescripcion
                    </td>
                    <td>
                        @item.Generar_Cita
                    </td>
                    <td>
                        @item.Nombres_del_Remitente
                    </td>
                    <td>
                        @item.Apellido_Paterno_del_Remitente
                    </td>
                    <td>
                        @item.Apellido_Materno_del_Remitente
                    </td>
                    <td>
                        @item.Fecha_en_que_llega_para_validacion
                    </td>
                    <td>
                        @item.DelegacionDescripcion
                    </td>
                    <td>
                        @item.AgenciaDescripcion
                    </td>
                    <td>
                        @item.Ministerio_Publico_en_Turno
                    </td>
                    <td>
                        @item.Solicitud_de_Denuncia_Ciudadana
                    </td>
                    <td>
                        @item.Nombres_turno
                    </td>
                    <td>
                        @item.Apellido_Paterno_turno
                    </td>
                    <td>
                        @item.Apellido_Materno_turno
                    </td>
                    <td>
                        @item.Sexo_turnoDescripcion
                    </td>
                    <td>
                        @item.Edad_turno
                    </td>
                    <td>
                        @item.Tipo_de_Atencion_turnoDescripcion
                    </td>
                    <td>
                        @item.Tipo_de_Identificacion_turnoNombre
                    </td>
                    <td>
                        @item.Numero_de_Identificacion_turno
                    </td>
                    <td>
                        @item.Urgencia_turno
                    </td>
                    <td>
                        @item.Tipo_de_Urgencia_turnoDescripcion
                    </td>
                    <td>
                        @item.Motivo_Finalizacion_TurnoDescripcion
                    </td>
                    <td>
                        @item.Observaciones_turno
                    </td>
                    <td>
                        @item.Titulo_del_Hecho
                    </td>
                    <td>
                        @item.Narrativa_Breve_de_los_Hechos
                    </td>
                    <td>
                        @item.Prioridad_del_HechoDescripcion
                    </td>
                    <td>
                        @item.Orientador
                    </td>
                    <td>
                        @item.Fecha_del_Hecho
                    </td>
                    <td>
                        @item.Hora_del_Hecho
                    </td>
                    <td>
                        @item.Pais_de_los_Hechos
                    </td>
                    <td>
                        @item.Estado_de_los_Hechos
                    </td>
                    <td>
                        @item.Municipio_de_los_Hechos
                    </td>
                    <td>
                        @item.Poblacion
                    </td>
                    <td>
                        @item.Colonia_de_los_Hechos
                    </td>
                    <td>
                        @item.Codigo_Postal_de_los_Hechos
                    </td>
                    <td>
                        @item.Calle_de_los_Hechos
                    </td>
                    <td>
                        @item.Entre_Calle
                    </td>
                    <td>
                        @item.Y_Calle
                    </td>
                    <td>
                        @item.Numero_Exrterior_de_los_Hechos
                    </td>
                    <td>
                        @item.Numero_Interior_de_los_Hechos
                    </td>
                    <td>
                        @item.Referencia_hechos
                    </td>
                    <td>
                        @item.Latitud
                    </td>
                    <td>
                        @item.Longitud
                    </td>
                    <td>
                        @item.Documento_Extraviado_hechos
                    </td>
                    <td>
                        @item.Tipo_de_Documento_ExtraviadoDescripcion
                    </td>
                    <td>
                        @item.Tipo_de_Lugar_del_HechoDescripcion
                    </td>
                    <td>
                        @item.Zona_de_los_HechosDescripcion
                    </td>
                    <td>
                        @item.Turno
                    </td>
                    <td>
                        @item.Cerrar
                    </td>
                    <td>
                        @item.Fecha_de_Cierre
                    </td>
                    <td>
                        @item.Hora_de_Cierre
                    </td>

                </tr>
                rowCounter++;
            }
        }
    </tbody>
</table>
</body>

<script>
    function ocultarcolumnas() {        
        var arr = document.getElementById('columnsVisible').text.split(',');
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == "false") {
                show_hide_column(i-1, false);
            }
        }    
    };

    function show_hide_column(col_no, do_show) {
        var rows = document.getElementsByClassName('table')[0].rows;
        for (var row = 0; row < rows.length; row++) {
            var cols = rows[row].cells;
            if (col_no >= 0 && col_no < cols.length) {
                console.log(col_no);
                cols[col_no].style.display = do_show ? '' : 'none';
            }
        }
    }
</script>

