@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Robo_de_Vehiculo_PCModel
@{

/*

*/
 List<SelectListItem> varSolicitud_de_Denuncia_Ciudadana_Solicitud = null;
    if (ViewBag.Solicitud_de_Denuncia_Ciudadanas_Solicitud != null)
    { varSolicitud_de_Denuncia_Ciudadana_Solicitud = (List<SelectListItem>)ViewBag.Solicitud_de_Denuncia_Ciudadanas_Solicitud; }
    List<SelectListItem> varTipo_de_Solicitud_Tipo_de_Solicitud = null;
    if (ViewBag.Tipo_de_Solicituds_Tipo_de_Solicitud != null)
    { varTipo_de_Solicitud_Tipo_de_Solicitud = (List<SelectListItem>)ViewBag.Tipo_de_Solicituds_Tipo_de_Solicitud; }
    List<SelectListItem> varMarca_del_Vehiculo_Marca = null;
    if (ViewBag.Marca_del_Vehiculos_Marca != null)
    { varMarca_del_Vehiculo_Marca = (List<SelectListItem>)ViewBag.Marca_del_Vehiculos_Marca; }
    List<SelectListItem> varSub_Marca_del_Vehiculo_Sub_Marca = null;
    if (ViewBag.Sub_Marca_del_Vehiculos_Sub_Marca != null)
    { varSub_Marca_del_Vehiculo_Sub_Marca = (List<SelectListItem>)ViewBag.Sub_Marca_del_Vehiculos_Sub_Marca; }
    List<SelectListItem> varTipo_de_Vehiculo_Tipo_de_Vehiculo = null;
    if (ViewBag.Tipo_de_Vehiculos_Tipo_de_Vehiculo != null)
    { varTipo_de_Vehiculo_Tipo_de_Vehiculo = (List<SelectListItem>)ViewBag.Tipo_de_Vehiculos_Tipo_de_Vehiculo; }
    List<SelectListItem> varColor_Vehiculo_Color = null;
    if (ViewBag.Color_Vehiculos_Color != null)
    { varColor_Vehiculo_Color = (List<SelectListItem>)ViewBag.Color_Vehiculos_Color; }


    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial || ViewBag.viewInEframe)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
@*fjmore portal*@
<style>
    #page-wrapper {
        margin: 0px !important;
    }
</style>
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divmodalaux" class="hidden" style="border: 2px solid lightgray; border-radius: 4px; z-index: 99999; position: absolute; width: 1800px; height: 1200px; background: rgba(192,192,192,0.5)!important; top: -300px; left: -300px;">
    <div id="modalaux" style="top:400px;left:-100px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <img class="logo-fiscalia logo-modal" src="~/Images/logotipos/fiscalia200px.png" alt="Logotipo Fiscalia Sinaloa">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 b-r">
                        <h2 id="modalauxtit" class="m-t-none m-b text-capitalize">Aviso Importante</h2>
                        <p style="font-size:16px;" id="modalauxtxt">Parrafo con infomación</p>

                        <!-- DIV DE ERROR. Solo si se requiere-->
                        <div class="form-group">
                            <div id="error-old-password"></div>
                        </div>
                        <!-- FIN: DIV DE ERROR-->
                        <!-- DIV DE BOTONES DE ACEPTAR Y CANCELAR. Solo si se requiere-->
                        <div style="text-align:right;" class="form-group">
                            <button id="saveaux" type="button" class="btn btn-w-m btn-primary btn_save">Aceptar</button>
                        </div>
                        <!-- FIN: DIV DE BOTONES DE GUARDAD/ACEPTAR Y CANCELAR-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.Robo_de_Vehiculo_PCResources.Robo_de_Vehiculo_PC
                <button onclick="Robo_de_Vehiculo_PCGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Robo_de_Vehiculo_PCBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            @*fjmore portal*@
            @*<ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.Robo_de_Vehiculo_PCResources.Robo_de_Vehiculo_PC</strong>
                }

            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
                </ol>*@
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="Robo_de_Vehiculo_PCDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in Robo_de_Vehiculo_PCPropertyBusinessModal" id="Robo_de_Vehiculo_PCPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Robo_de_Vehiculo_PCBusinessRule-form" onclick="Robo_de_Vehiculo_PCGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Robo_de_Vehiculo_PCBusinessRuleModal" id="Robo_de_Vehiculo_PCBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }

        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Robo_de_Vehiculo_PC", FormMethod.Post, new { id = "CreateRobo_de_Vehiculo_PC", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid Robo_de_Vehiculo_PCCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.Robo_de_Vehiculo_PCResources.TabDatos_Generales</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Robo_de_Vehiculo_PCResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="269243" data-field-name="@Resources.Robo_de_Vehiculo_PCResources.Clave">
                                    <label class="form-control" for="Clave" id="lblClave">
                                    @if (Model.Clave== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Clave</text>
                                        }
                                    </label>
                                </div>
                            </div>
				<div class="form-group" id="divSolicitud">
                                <label class="col-sm-2 control-label">@Resources.Robo_de_Vehiculo_PCResources.Solicitud</label>
                                <div class="col-sm-8" data-field-id="Solicitud" data-attribute="269244" data-field-name="@Resources.Robo_de_Vehiculo_PCResources.Solicitud">
                                    <select class='fullWidth AutoComplete AutoCompleteRobo_de_Vehiculo_PC_Solicitud form-control select2-dropdown Datos_Generales' data-val="true" id="Solicitud" name="Solicitud">
                                        <option value="@Model.Solicitud">@(Model.SolicitudFolio??Model.SolicitudFolio)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269244).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Solicitud_de_Denuncia_Ciudadana', 'Solicitud');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                                  <div class="form-group" id="divTipo_de_Solicitud">
                                <label class="col-sm-2 control-label">@Resources.Robo_de_Vehiculo_PCResources.Tipo_de_Solicitud</label>
                                <div class="col-sm-8" data-field-id="Tipo_de_Solicitud" data-attribute="269375" data-field-name="@Resources.Robo_de_Vehiculo_PCResources.Tipo_de_Solicitud">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Tipo de Solicitud must be a number." data-val-required="The Tipo de Solicitud field is required." id="Tipo_de_Solicitud" name="Tipo_de_Solicitud">
                                        <option value=""></option>
                                        @if (varTipo_de_Solicitud_Tipo_de_Solicitud != null){ 
                                            foreach (var itemTipo_de_Solicitud in varTipo_de_Solicitud_Tipo_de_Solicitud)
                                            {
                                                if (itemTipo_de_Solicitud.Value == Convert.ToString(Model.Tipo_de_Solicitud))
                                                {
                                                    <option value="@itemTipo_de_Solicitud.Value" selected>@itemTipo_de_Solicitud.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemTipo_de_Solicitud.Value">@itemTipo_de_Solicitud.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Tipo_de_Solicitud" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269375).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Tipo_de_Solicitud', 'Tipo_de_Solicitud');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divRobo_de_Vehiculo">
                                <label class="col-sm-2 control-label">@Resources.Robo_de_Vehiculo_PCResources.Robo_de_Vehiculo</label>
                                <div class="col-sm-8" data-field-id="Robo_de_Vehiculo" data-attribute="269245" data-field-name="@Resources.Robo_de_Vehiculo_PCResources.Robo_de_Vehiculo">
                                    @Html.CheckBoxFor(m => m.Robo_de_Vehiculo, new { @class = "i-checks Datos_Generales" })
                                </div>
                            </div>
                            <div class="form-group" id="divMarca">
                                <label class="col-sm-2 control-label">@Resources.Robo_de_Vehiculo_PCResources.Marca</label>
                                <div class="col-sm-8" data-field-id="Marca" data-attribute="269246" data-field-name="@Resources.Robo_de_Vehiculo_PCResources.Marca">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Marca must be a number." data-val-required="The Marca field is required." id="Marca" name="Marca">
                                        <option value=""></option>
                                        @if (varMarca_del_Vehiculo_Marca != null){ 
                                            foreach (var itemMarca in varMarca_del_Vehiculo_Marca)
                                            {
                                                if (itemMarca.Value == Convert.ToString(Model.Marca))
                                                {
                                                    <option value="@itemMarca.Value" selected>@itemMarca.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemMarca.Value">@itemMarca.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Marca" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269246).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Marca_del_Vehiculo', 'Marca');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divSub_Marca">
                                <label class="col-sm-2 control-label">@Resources.Robo_de_Vehiculo_PCResources.Sub_Marca</label>
                                <div class="col-sm-8" data-field-id="Sub_Marca" data-attribute="269247" data-field-name="@Resources.Robo_de_Vehiculo_PCResources.Sub_Marca">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Sub Marca must be a number." data-val-required="The Sub Marca field is required." id="Sub_Marca" name="Sub_Marca">
                                        <option value=""></option>
                                        @if (varSub_Marca_del_Vehiculo_Sub_Marca != null){ 
                                            foreach (var itemSub_Marca in varSub_Marca_del_Vehiculo_Sub_Marca)
                                            {
                                                if (itemSub_Marca.Value == Convert.ToString(Model.Sub_Marca))
                                                {
                                                    <option value="@itemSub_Marca.Value" selected>@itemSub_Marca.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemSub_Marca.Value">@itemSub_Marca.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Sub_Marca" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269247).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Sub_Marca_del_Vehiculo', 'Sub_Marca');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divTipo_de_Vehiculo">
                                <label class="col-sm-2 control-label">@Resources.Robo_de_Vehiculo_PCResources.Tipo_de_Vehiculo</label>
                                <div class="col-sm-8" data-field-id="Tipo_de_Vehiculo" data-attribute="269248" data-field-name="@Resources.Robo_de_Vehiculo_PCResources.Tipo_de_Vehiculo">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Tipo de Vehículo must be a number." data-val-required="The Tipo de Vehículo field is required." id="Tipo_de_Vehiculo" name="Tipo_de_Vehiculo">
                                        <option value=""></option>
                                        @if (varTipo_de_Vehiculo_Tipo_de_Vehiculo != null){ 
                                            foreach (var itemTipo_de_Vehiculo in varTipo_de_Vehiculo_Tipo_de_Vehiculo)
                                            {
                                                if (itemTipo_de_Vehiculo.Value == Convert.ToString(Model.Tipo_de_Vehiculo))
                                                {
                                                    <option value="@itemTipo_de_Vehiculo.Value" selected>@itemTipo_de_Vehiculo.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemTipo_de_Vehiculo.Value">@itemTipo_de_Vehiculo.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Tipo_de_Vehiculo" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269248).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Tipo_de_Vehiculo', 'Tipo_de_Vehiculo');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divModelo">
                                <label class="col-sm-2 control-label">@Resources.Robo_de_Vehiculo_PCResources.Modelo</label>
                                <div class="col-sm-8" data-field-id="Modelo" data-attribute="269249" data-field-name="@Resources.Robo_de_Vehiculo_PCResources.Modelo">
                                    <input class="form-control inputNumber Datos_Generales" id="Modelo" name="Modelo" type="text" value="@Model.Modelo">
                                    @*<span class="field-validation-valid" data-valmsg-for="Modelo" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divColor">
                                <label class="col-sm-2 control-label">@Resources.Robo_de_Vehiculo_PCResources.Color</label>
                                <div class="col-sm-8" data-field-id="Color" data-attribute="269250" data-field-name="@Resources.Robo_de_Vehiculo_PCResources.Color">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Color must be a number." data-val-required="The Color field is required." id="Color" name="Color">
                                        <option value=""></option>
                                        @if (varColor_Vehiculo_Color != null){ 
                                            foreach (var itemColor in varColor_Vehiculo_Color)
                                            {
                                                if (itemColor.Value == Convert.ToString(Model.Color))
                                                {
                                                    <option value="@itemColor.Value" selected>@itemColor.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemColor.Value">@itemColor.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Color" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269250).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Color_Vehiculo', 'Color');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divPlacas">
                                <label class="col-sm-2 control-label">@Resources.Robo_de_Vehiculo_PCResources.Placas</label>
                                <div class="col-sm-8" data-field-id="Placas" data-attribute="269251" data-field-name="@Resources.Robo_de_Vehiculo_PCResources.Placas">
                                    <input class="form-control Datos_Generales" id="Placas" name="Placas" type="text" value="@Model.Placas">
                                    @*<span class="field-validation-valid" data-valmsg-for="Placas" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divSenas_Particulares">
                                <label class="col-sm-2 control-label">@Resources.Robo_de_Vehiculo_PCResources.Senas_Particulares</label>
                                <div class="col-sm-8" data-field-id="Senas_Particulares" data-attribute="269252" data-field-name="@Resources.Robo_de_Vehiculo_PCResources.Senas_Particulares">
                                    <textarea id="Senas_Particulares" name="Senas_Particulares" class="form-control Datos_Generales" rows="4" cols="50">@Model.Senas_Particulares</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Senas_Particulares" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Clave" id="ReferenceClave" />
                                <input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Robo_de_Vehiculo_PCGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('Robo_de_Vehiculo_PCCreateForm');"  />
									<button onclick="Robo_de_Vehiculo_PCGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Robo_de_Vehiculo_PCBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="Robo_de_Vehiculo_PCGuardarYNuevo" onclick="return checkClientValidate('Robo_de_Vehiculo_PCCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="Robo_de_Vehiculo_PCGuardarYCopia" onclick="return checkClientValidate('Robo_de_Vehiculo_PCCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }
								<input type="button" value="Anterior" id="Robo_de_Vehiculo_PCAnterior" class="btn btn-w-m btn-primary btn_save" />
                                <input type="button" value="Siguiente" id="Robo_de_Vehiculo_PCSiguiente" class="btn btn-w-m btn-primary btn_save" />
                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnRobo_de_Vehiculo_PCBusinessRuleFieldId" />
                                <input type="hidden" id="hdnRobo_de_Vehiculo_PCBusinessRuleFieldName" />
                                <input type="hidden" id="hdnRobo_de_Vehiculo_PCBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Robo_de_Vehiculo_PCCancelar" name="Robo_de_Vehiculo_PCCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="Robo_de_Vehiculo_PCGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Robo_de_Vehiculo_PCBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

    <script type="text/javascript" src="~/Uploads/Scripts/Robo_de_Vehiculo_PC.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
    <script type="text/javascript" src="~/Scripts/Custom/Robo_de_Vehiculo_PCGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
    <script type="text/javascript" src="~/Uploads/Scripts/Rules/Robo_de_Vehiculo_PCCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
    <script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>
    <script src="~/Scripts/plugins/jsPdf/jspdf.min.js"></script>

@section Scripts {


    <script type="text/javascript">
        


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var viewInEframe =  ('@ViewBag.viewInEframe' == 'True');
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;


        $(document).ready(function () {
            $('#ObjectId').val('45712');

            //fjmore portal
            $(".fa-bars").parent().hide();


            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			
			 if (viewInEframe) {             
                $('#Robo_de_Vehiculo_PCGuardarYNuevo').hide();
                $('#Robo_de_Vehiculo_PCGuardarYCopia').hide();
                $('#Robo_de_Vehiculo_PCCancelar').hide(); 
                $('#ConfigureSave').hide();
                $('#Robo_de_Vehiculo_PCGuardar').val('Actualizar Seccion ' + '@Resources.Robo_de_Vehiculo_PCResources.Robo_de_Vehiculo_PC' )
            }

			
			       var AutoCompleteSolicitudData =[];
       $(".AutoCompleteRobo_de_Vehiculo_PC_Solicitud").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Robo_de_Vehiculo_PC/GetRobo_de_Vehiculo_PC_Solicitud_Solicitud_de_Denuncia_Ciudadana")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteRobo_de_Vehiculo_PC_Solicitud_Solicitud_de_Denuncia_CiudadanaData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteRobo_de_Vehiculo_PC_Solicitud");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });


            @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();


                </text>
            }
            EjecutarValidacionesAlComienzo(); 
			
        });



        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });

        }

    </script>

<script type="text/javascript">
var roleActivo = @Session["USERROLEID"];

   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Robo_de_Vehiculo_PC/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }

var newIDInv=0;
        function SendRobo_de_Vehiculo_PCData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateRobo_de_Vehiculo_PC").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateRobo_de_Vehiculo_PC")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceClave").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('Robo_de_Vehiculo_PCCreateForm', 'Datos_Generales')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			newIDInv=id;
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Robo_de_Vehiculo_PC/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".Robo_de_Vehiculo_PCBusinessRuleModal").html(data);
			});
		}
                function Robo_de_Vehiculo_PCGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('45712');
			$('#Screen').val('Robo_de_Vehiculo_PC');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function Robo_de_Vehiculo_PCBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Robo_de_Vehiculo_PC/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Robo_de_Vehiculo_PC/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Robo_de_Vehiculo_PC/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Robo_de_Vehiculo_PC/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Robo_de_Vehiculo_PC/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateRobo_de_Vehiculo_PC').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        Robo_de_Vehiculo_PCGetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Robo_de_Vehiculo_PC/Get_Datos_Generales")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    var control = $('#Solicitud');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Solicitud).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Solicitud).trigger('change');
                    }, 3000);
                    $('#Tipo_de_Solicitud').val(result.data.Tipo_de_Solicitud);
                    $('#Robo_de_Vehiculo').prop('checked', result.data.Robo_de_Vehiculo);
                    $('#Marca').val(result.data.Marca);
                    $('#Sub_Marca').val(result.data.Sub_Marca);
                    $('#Tipo_de_Vehiculo').val(result.data.Tipo_de_Vehiculo);
                    $('#Modelo').val(result.data.Modelo);
                    $('#Color').val(result.data.Color);
                    $('#Placas').val(result.data.Placas);
                    $('#Senas_Particulares').val(result.data.Senas_Particulares);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Solicitud', $('#Solicitud').val());
                data.append('Tipo_de_Solicitud', $('#Tipo_de_Solicitud').val());
                data.append('Robo_de_Vehiculo', $('#Robo_de_Vehiculo').prop('checked'));
                data.append('Marca', $('#Marca').val());
                data.append('Sub_Marca', $('#Sub_Marca').val());
                data.append('Tipo_de_Vehiculo', $('#Tipo_de_Vehiculo').val());
                data.append('Modelo', $('#Modelo').val());
                data.append('Color', $('#Color').val());
                data.append('Placas', $('#Placas').val());
                data.append('Senas_Particulares', $('#Senas_Particulares').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Robo_de_Vehiculo_PC/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}


    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Robo_de_Vehiculo_PC_cmbLabelSelect" name="Robo_de_Vehiculo_PC_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />

