@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Aseguramiento_de_PlantiosModel
@{


    List<SelectListItem> varMotivo_de_Registro_Motivo_de_Registro = null;
    if (ViewBag.Motivo_de_Registros_Motivo_de_Registro != null)
    { varMotivo_de_Registro_Motivo_de_Registro = (List<SelectListItem>)ViewBag.Motivo_de_Registros_Motivo_de_Registro; }
    List<SelectListItem> varTipo_de_Plantio_Tipo = null;
    if (ViewBag.Tipo_de_Plantios_Tipo != null)
    { varTipo_de_Plantio_Tipo = (List<SelectListItem>)ViewBag.Tipo_de_Plantios_Tipo; }
    List<SelectListItem> varMetodo_de_Destruccion_Metodo_de_Destruccion = null;
    if (ViewBag.Metodo_de_Destruccions_Metodo_de_Destruccion != null)
    { varMetodo_de_Destruccion_Metodo_de_Destruccion = (List<SelectListItem>)ViewBag.Metodo_de_Destruccions_Metodo_de_Destruccion; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle Aseguramiento de Plantios
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_Aseguramiento_de_PlantiosRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_Aseguramiento_de_PlantiosPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle Aseguramiento de Plantios
								<button onclick="Detalle_Aseguramiento_de_PlantiosGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Aseguramiento_de_PlantiosBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_Aseguramiento_de_PlantiosResources.Detalle_Aseguramiento_de_Plantios</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_Aseguramiento_de_PlantiosDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_Aseguramiento_de_PlantiosPropertyBusinessModal" id="Detalle_Aseguramiento_de_PlantiosPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_Aseguramiento_de_PlantiosBusinessRule-form" onclick="Detalle_Aseguramiento_de_PlantiosGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Aseguramiento_de_PlantiosPropertyModal" id="Detalle_Aseguramiento_de_PlantiosPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Aseguramiento_de_PlantiosBusinessRuleModal" id="Detalle_Aseguramiento_de_PlantiosBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Aseguramiento_de_PlantiosAddBusinessRuleModal" id="Detalle_Aseguramiento_de_PlantiosAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_Aseguramiento_de_Plantios", FormMethod.Post, new { id = "CreateDetalle_Aseguramiento_de_Plantios", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_Aseguramiento_de_PlantiosCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_de_PlantiosResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="267629" data-field-name="@Resources.Detalle_Aseguramiento_de_PlantiosResources.Clave">
                                    <label class="form-control" for="Detalle_Aseguramiento_de_PlantiosClave" id="Detalle_Aseguramiento_de_PlantiosClave">@Model.Clave</label>
                                </div>
                            </div>
<div class="form-group" id="divMotivo_de_Registro">
	<label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_de_PlantiosResources.Motivo_de_Registro</label>
	<div class="col-sm-8" data-field-id="Motivo_de_Registro" data-attribute="268353" data-field-name="@Resources.Detalle_Aseguramiento_de_PlantiosResources.Motivo_de_Registro">
		<select class="form-control" data-val="true" data-val-number="The field Motivo de Registro must be a number." data-val-required="The Motivo de Registro field is required." id="Detalle_Aseguramiento_de_PlantiosMotivo_de_Registro" name="Detalle_Aseguramiento_de_PlantiosMotivo_de_Registro">
			<option value=""></option>
			@if (varMotivo_de_Registro_Motivo_de_Registro != null){ 
				foreach (var itemMotivo_de_Registro in varMotivo_de_Registro_Motivo_de_Registro)
				{
					if (itemMotivo_de_Registro.Value == Convert.ToString(Model.Motivo_de_Registro))
					{
						<option value="@itemMotivo_de_Registro.Value" selected>@itemMotivo_de_Registro.Text</option>
					}
					else
					{
						<option value="@itemMotivo_de_Registro.Value">@itemMotivo_de_Registro.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divTipo">
	<label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_de_PlantiosResources.Tipo</label>
	<div class="col-sm-8" data-field-id="Tipo" data-attribute="267631" data-field-name="@Resources.Detalle_Aseguramiento_de_PlantiosResources.Tipo">
		<select class="form-control" data-val="true" data-val-number="The field Tipo must be a number." data-val-required="The Tipo field is required." id="Detalle_Aseguramiento_de_PlantiosTipo" name="Detalle_Aseguramiento_de_PlantiosTipo">
			<option value=""></option>
			@if (varTipo_de_Plantio_Tipo != null){ 
				foreach (var itemTipo in varTipo_de_Plantio_Tipo)
				{
					if (itemTipo.Value == Convert.ToString(Model.Tipo))
					{
						<option value="@itemTipo.Value" selected>@itemTipo.Text</option>
					}
					else
					{
						<option value="@itemTipo.Value">@itemTipo.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divNo__de_Plantios">
	<label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_de_PlantiosResources.No__de_Plantios</label>
	<div class="col-sm-8" data-field-id="No__de_Plantios" data-attribute="267632" data-field-name="@Resources.Detalle_Aseguramiento_de_PlantiosResources.No__de_Plantios">
		<input class="form-control inputNumber" id="Detalle_Aseguramiento_de_PlantiosNo__de_Plantios" name="Detalle_Aseguramiento_de_PlantiosNo__de_Plantios" type="text" value="@Model.No__de_Plantios">
	</div>
</div>
<div class="form-group" id="divKilogramos">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_de_PlantiosResources.Kilogramos</label>
                                <div class="col-sm-8" data-field-id="Kilogramos" data-attribute="267633" data-field-name="@Resources.Detalle_Aseguramiento_de_PlantiosResources.Kilogramos">
                                    <input class="form-control col-md-12 inputNumber" id="Detalle_Aseguramiento_de_PlantiosKilogramos" name="Detalle_Aseguramiento_de_PlantiosKilogramos" type="text" min="0.00" max="999999.99" value="@Model.Kilogramos.ToString()">
                                </div>
                            </div>
<div class="form-group" id="divMetodo_de_Destruccion">
	<label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_de_PlantiosResources.Metodo_de_Destruccion</label>
	<div class="col-sm-8" data-field-id="Metodo_de_Destruccion" data-attribute="267634" data-field-name="@Resources.Detalle_Aseguramiento_de_PlantiosResources.Metodo_de_Destruccion">
		<select class="form-control" data-val="true" data-val-number="The field Método de Destrucción must be a number." data-val-required="The Método de Destrucción field is required." id="Detalle_Aseguramiento_de_PlantiosMetodo_de_Destruccion" name="Detalle_Aseguramiento_de_PlantiosMetodo_de_Destruccion">
			<option value=""></option>
			@if (varMetodo_de_Destruccion_Metodo_de_Destruccion != null){ 
				foreach (var itemMetodo_de_Destruccion in varMetodo_de_Destruccion_Metodo_de_Destruccion)
				{
					if (itemMetodo_de_Destruccion.Value == Convert.ToString(Model.Metodo_de_Destruccion))
					{
						<option value="@itemMetodo_de_Destruccion.Value" selected>@itemMetodo_de_Destruccion.Text</option>
					}
					else
					{
						<option value="@itemMetodo_de_Destruccion.Value">@itemMetodo_de_Destruccion.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divSuperficie">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_de_PlantiosResources.Superficie</label>
                                <div class="col-sm-8" data-field-id="Superficie" data-attribute="267635" data-field-name="@Resources.Detalle_Aseguramiento_de_PlantiosResources.Superficie">
                                    <input class="form-control" id="Detalle_Aseguramiento_de_PlantiosSuperficie" name="Detalle_Aseguramiento_de_PlantiosSuperficie" type="text" value="@Model.Superficie">
                                </div>
                            </div>
<div class="form-group" id="divAltura">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_de_PlantiosResources.Altura</label>
                                <div class="col-sm-8" data-field-id="Altura" data-attribute="267636" data-field-name="@Resources.Detalle_Aseguramiento_de_PlantiosResources.Altura">
                                    <input class="form-control" id="Detalle_Aseguramiento_de_PlantiosAltura" name="Detalle_Aseguramiento_de_PlantiosAltura" type="text" value="@Model.Altura">
                                </div>
                            </div>
<div class="form-group" id="divDensidad">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_de_PlantiosResources.Densidad</label>
                                <div class="col-sm-8" data-field-id="Densidad" data-attribute="267637" data-field-name="@Resources.Detalle_Aseguramiento_de_PlantiosResources.Densidad">
                                    <input class="form-control" id="Detalle_Aseguramiento_de_PlantiosDensidad" name="Detalle_Aseguramiento_de_PlantiosDensidad" type="text" value="@Model.Densidad">
                                </div>
                            </div>
<div class="form-group" id="divPeso_por_planta">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_de_PlantiosResources.Peso_por_planta</label>
                                <div class="col-sm-8" data-field-id="Peso_por_planta" data-attribute="267638" data-field-name="@Resources.Detalle_Aseguramiento_de_PlantiosResources.Peso_por_planta">
                                    <input class="form-control" id="Detalle_Aseguramiento_de_PlantiosPeso_por_planta" name="Detalle_Aseguramiento_de_PlantiosPeso_por_planta" type="text" value="@Model.Peso_por_planta">
                                </div>
                            </div>
<div class="form-group" id="divLatitud">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_de_PlantiosResources.Latitud</label>
                                <div class="col-sm-8" data-field-id="Latitud" data-attribute="267639" data-field-name="@Resources.Detalle_Aseguramiento_de_PlantiosResources.Latitud">
                                    <input class="form-control" id="Detalle_Aseguramiento_de_PlantiosLatitud" name="Detalle_Aseguramiento_de_PlantiosLatitud" type="text" value="@Model.Latitud">
                                </div>
                            </div>
<div class="form-group" id="divLongitud">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_de_PlantiosResources.Longitud</label>
                                <div class="col-sm-8" data-field-id="Longitud" data-attribute="267640" data-field-name="@Resources.Detalle_Aseguramiento_de_PlantiosResources.Longitud">
                                    <input class="form-control" id="Detalle_Aseguramiento_de_PlantiosLongitud" name="Detalle_Aseguramiento_de_PlantiosLongitud" type="text" value="@Model.Longitud">
                                </div>
                            </div>
<div class="form-group" id="divLargo">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_de_PlantiosResources.Largo</label>
                                <div class="col-sm-8" data-field-id="Largo" data-attribute="267641" data-field-name="@Resources.Detalle_Aseguramiento_de_PlantiosResources.Largo">
                                    <input class="form-control col-md-12 inputNumber" id="Detalle_Aseguramiento_de_PlantiosLargo" name="Detalle_Aseguramiento_de_PlantiosLargo" type="text" min="0.00" max="999999.99" value="@Model.Largo.ToString()">
                                </div>
                            </div>
<div class="form-group" id="divAncho">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_de_PlantiosResources.Ancho</label>
                                <div class="col-sm-8" data-field-id="Ancho" data-attribute="267642" data-field-name="@Resources.Detalle_Aseguramiento_de_PlantiosResources.Ancho">
                                    <input class="form-control col-md-12 inputNumber" id="Detalle_Aseguramiento_de_PlantiosAncho" name="Detalle_Aseguramiento_de_PlantiosAncho" type="text" min="0.00" max="999999.99" value="@Model.Ancho.ToString()">
                                </div>
                            </div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Clave" id="ReferenceClave" />
												<input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_Aseguramiento_de_PlantiosConfigureSave" name="Detalle_Aseguramiento_de_PlantiosConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_Aseguramiento_de_PlantiosConfigureType" />
												<input type="hidden" id="hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_Aseguramiento_de_PlantiosGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Aseguramiento_de_PlantiosBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_Aseguramiento_de_Plantios.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_Aseguramiento_de_PlantiosGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_Aseguramiento_de_PlantiosCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/AseguramientosCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_Aseguramiento_de_PlantiosRowElement = "Detalle_Aseguramiento_de_PlantiosPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_Aseguramiento_de_PlantiosRowElement + "')){ Detalle_Aseguramiento_de_PlantiosInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDetalle_Aseguramiento_de_PlantiosData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_Aseguramiento_de_Plantios").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_Aseguramiento_de_Plantios")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_Aseguramiento_de_PlantiosCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_Aseguramiento_de_Plantios/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_Aseguramiento_de_PlantiosPropertyBag", "Detalle_Aseguramiento_de_Plantios")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_Aseguramiento_de_PlantiosGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleFieldName').val(), ObjectId: '45537', Attribute: $('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleAttribute').val(), Screen: 'Detalle_Aseguramiento_de_Plantios' }, function (data) {
                $(".Detalle_Aseguramiento_de_PlantiosBusinessRuleModal").html(data);
            });
        }
        function Detalle_Aseguramiento_de_PlantiosGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleFieldName').val(), ObjectId: '45537', Attribute: $('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleAttribute').val(), Screen: 'Detalle_Aseguramiento_de_Plantios' }, function (data) {
                $(".Detalle_Aseguramiento_de_PlantiosAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleFieldName').val(), ObjectId: '45537', Attribute: $('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleAttribute').val(), Screen: 'Detalle_Aseguramiento_de_Plantios' }, function (data) {
				$(".Detalle_Aseguramiento_de_PlantiosBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_Aseguramiento_de_Plantios/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_Aseguramiento_de_Plantios/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_Aseguramiento_de_Plantios/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_Aseguramiento_de_PlantiosConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_Aseguramiento_de_PlantiosConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_Aseguramiento_de_Plantios/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_Aseguramiento_de_PlantiosConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_Aseguramiento_de_Plantios/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_Aseguramiento_de_Plantios' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_Aseguramiento_de_Plantios' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_Aseguramiento_de_PlantiosConfigureSave').text('Save Settings');
                    $('#hdnDetalle_Aseguramiento_de_PlantiosConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_Aseguramiento_de_Plantios').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_Aseguramiento_de_PlantiosBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
