@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Aseguramiento_Otros_AseguramientosModel
@{


    List<SelectListItem> varTipo_de_Equipo_Tactico_Tipo = null;
    if (ViewBag.Tipo_de_Equipo_Tacticos_Tipo != null)
    { varTipo_de_Equipo_Tactico_Tipo = (List<SelectListItem>)ViewBag.Tipo_de_Equipo_Tacticos_Tipo; }
    List<SelectListItem> varMotivo_de_Registro_Motivo_de_Registro = null;
    if (ViewBag.Motivo_de_Registros_Motivo_de_Registro != null)
    { varMotivo_de_Registro_Motivo_de_Registro = (List<SelectListItem>)ViewBag.Motivo_de_Registros_Motivo_de_Registro; }
    List<SelectListItem> varUnidad_de_Medida_de_Equipo_Tactico_Unidad_de_Medida = null;
    if (ViewBag.Unidad_de_Medida_de_Equipo_Tacticos_Unidad_de_Medida != null)
    { varUnidad_de_Medida_de_Equipo_Tactico_Unidad_de_Medida = (List<SelectListItem>)ViewBag.Unidad_de_Medida_de_Equipo_Tacticos_Unidad_de_Medida; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle Aseguramiento Otros Aseguramientos
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_Aseguramiento_Otros_AseguramientosRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_Aseguramiento_Otros_AseguramientosPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle Aseguramiento Otros Aseguramientos
								<button onclick="Detalle_Aseguramiento_Otros_AseguramientosGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Aseguramiento_Otros_AseguramientosBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Detalle_Aseguramiento_Otros_Aseguramientos</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_Aseguramiento_Otros_AseguramientosDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_Aseguramiento_Otros_AseguramientosPropertyBusinessModal" id="Detalle_Aseguramiento_Otros_AseguramientosPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_Aseguramiento_Otros_AseguramientosBusinessRule-form" onclick="Detalle_Aseguramiento_Otros_AseguramientosGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Aseguramiento_Otros_AseguramientosPropertyModal" id="Detalle_Aseguramiento_Otros_AseguramientosPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Aseguramiento_Otros_AseguramientosBusinessRuleModal" id="Detalle_Aseguramiento_Otros_AseguramientosBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Aseguramiento_Otros_AseguramientosAddBusinessRuleModal" id="Detalle_Aseguramiento_Otros_AseguramientosAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_Aseguramiento_Otros_Aseguramientos", FormMethod.Post, new { id = "CreateDetalle_Aseguramiento_Otros_Aseguramientos", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_Aseguramiento_Otros_AseguramientosCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="267587" data-field-name="@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Clave">
                                    <label class="form-control" for="Detalle_Aseguramiento_Otros_AseguramientosClave" id="Detalle_Aseguramiento_Otros_AseguramientosClave">@Model.Clave</label>
                                </div>
                            </div>
<div class="form-group" id="divTipo">
	<label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Tipo</label>
	<div class="col-sm-8" data-field-id="Tipo" data-attribute="267589" data-field-name="@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Tipo">
		<select class="form-control" data-val="true" data-val-number="The field Tipo must be a number." data-val-required="The Tipo field is required." id="Detalle_Aseguramiento_Otros_AseguramientosTipo" name="Detalle_Aseguramiento_Otros_AseguramientosTipo">
			<option value=""></option>
			@if (varTipo_de_Equipo_Tactico_Tipo != null){ 
				foreach (var itemTipo in varTipo_de_Equipo_Tactico_Tipo)
				{
					if (itemTipo.Value == Convert.ToString(Model.Tipo))
					{
						<option value="@itemTipo.Value" selected>@itemTipo.Text</option>
					}
					else
					{
						<option value="@itemTipo.Value">@itemTipo.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divMotivo_de_Registro">
	<label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Motivo_de_Registro</label>
	<div class="col-sm-8" data-field-id="Motivo_de_Registro" data-attribute="268343" data-field-name="@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Motivo_de_Registro">
		<select class="form-control" data-val="true" data-val-number="The field Motivo de Registro must be a number." data-val-required="The Motivo de Registro field is required." id="Detalle_Aseguramiento_Otros_AseguramientosMotivo_de_Registro" name="Detalle_Aseguramiento_Otros_AseguramientosMotivo_de_Registro">
			<option value=""></option>
			@if (varMotivo_de_Registro_Motivo_de_Registro != null){ 
				foreach (var itemMotivo_de_Registro in varMotivo_de_Registro_Motivo_de_Registro)
				{
					if (itemMotivo_de_Registro.Value == Convert.ToString(Model.Motivo_de_Registro))
					{
						<option value="@itemMotivo_de_Registro.Value" selected>@itemMotivo_de_Registro.Text</option>
					}
					else
					{
						<option value="@itemMotivo_de_Registro.Value">@itemMotivo_de_Registro.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divMarca">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Marca</label>
                                <div class="col-sm-8" data-field-id="Marca" data-attribute="267590" data-field-name="@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Marca">
                                    <input class="form-control" id="Detalle_Aseguramiento_Otros_AseguramientosMarca" name="Detalle_Aseguramiento_Otros_AseguramientosMarca" type="text" value="@Model.Marca">
                                </div>
                            </div>
<div class="form-group" id="divModelo">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Modelo</label>
                                <div class="col-sm-8" data-field-id="Modelo" data-attribute="267591" data-field-name="@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Modelo">
                                    <input class="form-control" id="Detalle_Aseguramiento_Otros_AseguramientosModelo" name="Detalle_Aseguramiento_Otros_AseguramientosModelo" type="text" value="@Model.Modelo">
                                </div>
                            </div>
<div class="form-group" id="divInventario">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Inventario</label>
                                <div class="col-sm-8" data-field-id="Inventario" data-attribute="267592" data-field-name="@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Inventario">
                                    <input class="form-control" id="Detalle_Aseguramiento_Otros_AseguramientosInventario" name="Detalle_Aseguramiento_Otros_AseguramientosInventario" type="text" value="@Model.Inventario">
                                </div>
                            </div>
<div class="form-group" id="divSerie">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Serie</label>
                                <div class="col-sm-8" data-field-id="Serie" data-attribute="267593" data-field-name="@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Serie">
                                    <input class="form-control" id="Detalle_Aseguramiento_Otros_AseguramientosSerie" name="Detalle_Aseguramiento_Otros_AseguramientosSerie" type="text" value="@Model.Serie">
                                </div>
                            </div>
<div class="form-group" id="divUnidad_de_Medida">
	<label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Unidad_de_Medida</label>
	<div class="col-sm-8" data-field-id="Unidad_de_Medida" data-attribute="267594" data-field-name="@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Unidad_de_Medida">
		<select class="form-control" data-val="true" data-val-number="The field Unidad de Medida must be a number." data-val-required="The Unidad de Medida field is required." id="Detalle_Aseguramiento_Otros_AseguramientosUnidad_de_Medida" name="Detalle_Aseguramiento_Otros_AseguramientosUnidad_de_Medida">
			<option value=""></option>
			@if (varUnidad_de_Medida_de_Equipo_Tactico_Unidad_de_Medida != null){ 
				foreach (var itemUnidad_de_Medida in varUnidad_de_Medida_de_Equipo_Tactico_Unidad_de_Medida)
				{
					if (itemUnidad_de_Medida.Value == Convert.ToString(Model.Unidad_de_Medida))
					{
						<option value="@itemUnidad_de_Medida.Value" selected>@itemUnidad_de_Medida.Text</option>
					}
					else
					{
						<option value="@itemUnidad_de_Medida.Value">@itemUnidad_de_Medida.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divCantidad">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Cantidad</label>
                                <div class="col-sm-8" data-field-id="Cantidad" data-attribute="267595" data-field-name="@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Cantidad">
                                    <input class="form-control col-md-12 inputNumber" id="Detalle_Aseguramiento_Otros_AseguramientosCantidad" name="Detalle_Aseguramiento_Otros_AseguramientosCantidad" type="text" min="0.00" max="999999.99" value="@Model.Cantidad.ToString()">
                                </div>
                            </div>
<div class="form-group" id="divObservaciones">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Observaciones</label>
                                <div class="col-sm-8" data-field-id="Observaciones" data-attribute="267596" data-field-name="@Resources.Detalle_Aseguramiento_Otros_AseguramientosResources.Observaciones">
                                    <input class="form-control" id="Detalle_Aseguramiento_Otros_AseguramientosObservaciones" name="Detalle_Aseguramiento_Otros_AseguramientosObservaciones" type="text" value="@Model.Observaciones">
                                </div>
                            </div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Clave" id="ReferenceClave" />
												<input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_Aseguramiento_Otros_AseguramientosConfigureSave" name="Detalle_Aseguramiento_Otros_AseguramientosConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_Aseguramiento_Otros_AseguramientosConfigureType" />
												<input type="hidden" id="hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_Aseguramiento_Otros_AseguramientosGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Aseguramiento_Otros_AseguramientosBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_Aseguramiento_Otros_Aseguramientos.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_Aseguramiento_Otros_AseguramientosGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_Aseguramiento_Otros_AseguramientosCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/AseguramientosCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_Aseguramiento_Otros_AseguramientosRowElement = "Detalle_Aseguramiento_Otros_AseguramientosPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_Aseguramiento_Otros_AseguramientosRowElement + "')){ Detalle_Aseguramiento_Otros_AseguramientosInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDetalle_Aseguramiento_Otros_AseguramientosData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_Aseguramiento_Otros_Aseguramientos").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_Aseguramiento_Otros_Aseguramientos")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_Aseguramiento_Otros_AseguramientosCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_Aseguramiento_Otros_Aseguramientos/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_Aseguramiento_Otros_AseguramientosPropertyBag", "Detalle_Aseguramiento_Otros_Aseguramientos")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_Aseguramiento_Otros_AseguramientosGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleFieldName').val(), ObjectId: '45532', Attribute: $('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleAttribute').val(), Screen: 'Detalle_Aseguramiento_Otros_Aseguramientos' }, function (data) {
                $(".Detalle_Aseguramiento_Otros_AseguramientosBusinessRuleModal").html(data);
            });
        }
        function Detalle_Aseguramiento_Otros_AseguramientosGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleFieldName').val(), ObjectId: '45532', Attribute: $('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleAttribute').val(), Screen: 'Detalle_Aseguramiento_Otros_Aseguramientos' }, function (data) {
                $(".Detalle_Aseguramiento_Otros_AseguramientosAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleFieldName').val(), ObjectId: '45532', Attribute: $('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleAttribute').val(), Screen: 'Detalle_Aseguramiento_Otros_Aseguramientos' }, function (data) {
				$(".Detalle_Aseguramiento_Otros_AseguramientosBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_Aseguramiento_Otros_Aseguramientos/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_Aseguramiento_Otros_Aseguramientos/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_Aseguramiento_Otros_Aseguramientos/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_Aseguramiento_Otros_AseguramientosConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_Aseguramiento_Otros_AseguramientosConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_Aseguramiento_Otros_Aseguramientos/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_Aseguramiento_Otros_AseguramientosConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_Aseguramiento_Otros_Aseguramientos/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_Aseguramiento_Otros_Aseguramientos' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_Aseguramiento_Otros_Aseguramientos' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_Aseguramiento_Otros_AseguramientosConfigureSave').text('Save Settings');
                    $('#hdnDetalle_Aseguramiento_Otros_AseguramientosConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_Aseguramiento_Otros_Aseguramientos').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_Aseguramiento_Otros_AseguramientosBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
