@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.CanalizacionModel
@{

/*
    string Fecha_de_Canalizacion = "";
    if (Model.Fecha_de_Canalizacion == "")
    { Model.Fecha_de_Canalizacion = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_de_Resolucion = "";
    if (Model.Fecha_de_Resolucion == "")
    { Model.Fecha_de_Resolucion = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

*/
 List<SelectListItem> varexpediente_ministerio_publico_Expediente_MP = null;
    if (ViewBag.expediente_ministerio_publicos_Expediente_MP != null)
    { varexpediente_ministerio_publico_Expediente_MP = (List<SelectListItem>)ViewBag.expediente_ministerio_publicos_Expediente_MP; }
 List<SelectListItem> varModulo_Atencion_Inicial_Expediente_AT = null;
    if (ViewBag.Modulo_Atencion_Inicials_Expediente_AT != null)
    { varModulo_Atencion_Inicial_Expediente_AT = (List<SelectListItem>)ViewBag.Modulo_Atencion_Inicials_Expediente_AT; }
 List<SelectListItem> varSpartan_User_Usuario_que_Canaliza = null;
    if (ViewBag.Spartan_Users_Usuario_que_Canaliza != null)
    { varSpartan_User_Usuario_que_Canaliza = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Canaliza; }
 List<SelectListItem> varDetalle_de_Relaciones_Relacion_a_Canalizar = null;
    if (ViewBag.Detalle_de_Relacioness_Relacion_a_Canalizar != null)
    { varDetalle_de_Relaciones_Relacion_a_Canalizar = (List<SelectListItem>)ViewBag.Detalle_de_Relacioness_Relacion_a_Canalizar; }
    List<SelectListItem> varEstatus_Orientador_Canalizar_a = null;
    if (ViewBag.Estatus_Orientadors_Canalizar_a != null)
    { varEstatus_Orientador_Canalizar_a = (List<SelectListItem>)ViewBag.Estatus_Orientadors_Canalizar_a; }
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
 List<SelectListItem> varUnidad_Unidad = null;
    if (ViewBag.Unidads_Unidad != null)
    { varUnidad_Unidad = (List<SelectListItem>)ViewBag.Unidads_Unidad; }

    Permission permissionDetalle_Diligencias_Canalizacion = ViewBag.PermissionDetalle_Diligencias_Canalizacion;

    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial || ViewBag.viewInEframe)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.CanalizacionResources.Canalizacion
                <button onclick="CanalizacionGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#CanalizacionBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.CanalizacionResources.Canalizacion</strong>
                }
                
            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="CanalizacionDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in CanalizacionPropertyBusinessModal" id="CanalizacionPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#CanalizacionBusinessRule-form" onclick="CanalizacionGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in CanalizacionBusinessRuleModal" id="CanalizacionBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }
                    <div aria-hidden="true" class="modal fade in AddDetalle_Diligencias_CanalizacionModal" id="AddDetalle_Diligencias_Canalizacion-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>


        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Canalizacion", FormMethod.Post, new { id = "CreateCanalizacion", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid CanalizacionCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.CanalizacionResources.TabDatos_Generales</a></li>
<li class=""><a data-toggle="tab" href="#tabResolucion"> @Resources.CanalizacionResources.TabResolucion</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="269146" data-field-name="@Resources.CanalizacionResources.Clave">
                                    <label class="form-control" for="Clave" id="lblClave">
                                    @if (Model.Clave== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Clave</text>
                                        }
                                    </label>
                                </div>
                            </div>
				<div class="form-group" id="divExpediente_MP">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Expediente_MP</label>
                                <div class="col-sm-8" data-field-id="Expediente_MP" data-attribute="269147" data-field-name="@Resources.CanalizacionResources.Expediente_MP">
                                    <select class='fullWidth AutoComplete AutoCompleteCanalizacion_Expediente_MP form-control select2-dropdown Datos_Generales' data-val="true" id="Expediente_MP" name="Expediente_MP">
                                        <option value="@Model.Expediente_MP">@(Model.Expediente_MPnic??Model.Expediente_MPnic)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269147).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('expediente_ministerio_publico', 'Expediente_MP');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
				<div class="form-group" id="divExpediente_AT">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Expediente_AT</label>
                                <div class="col-sm-8" data-field-id="Expediente_AT" data-attribute="269170" data-field-name="@Resources.CanalizacionResources.Expediente_AT">
                                    <select class='fullWidth AutoComplete AutoCompleteCanalizacion_Expediente_AT form-control select2-dropdown Datos_Generales' data-val="true" id="Expediente_AT" name="Expediente_AT">
                                        <option value="@Model.Expediente_AT">@(Model.Expediente_ATFolio??Model.Expediente_ATFolio)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269170).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Modulo_Atencion_Inicial', 'Expediente_AT');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divFecha_de_Canalizacion">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Fecha_de_Canalizacion</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Canalizacion" data-attribute="269148" data-field-name="@Resources.CanalizacionResources.Fecha_de_Canalizacion">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Fecha_de_Canalizacion"  name="Fecha_de_Canalizacion" type="text" value="@Model.Fecha_de_Canalizacion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divHora_de_Canalizacion">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Hora_de_Canalizacion</label>
                                <div class="col-sm-8" data-field-id="Hora_de_Canalizacion" data-attribute="269149" data-field-name="@Resources.CanalizacionResources.Hora_de_Canalizacion">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Hora_de_Canalizacion"  name="Hora_de_Canalizacion" type="text" data-autoclose="true" value="@Model.Hora_de_Canalizacion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
				<div class="form-group" id="divUsuario_que_Canaliza">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Usuario_que_Canaliza</label>
                                <div class="col-sm-8" data-field-id="Usuario_que_Canaliza" data-attribute="269150" data-field-name="@Resources.CanalizacionResources.Usuario_que_Canaliza">
                                    <select class='fullWidth AutoComplete AutoCompleteCanalizacion_Usuario_que_Canaliza form-control select2-dropdown Datos_Generales' data-val="true" id="Usuario_que_Canaliza" name="Usuario_que_Canaliza">
                                        <option value="@Model.Usuario_que_Canaliza">@(Model.Usuario_que_CanalizaName??Model.Usuario_que_CanalizaName)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269150).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Spartan_User', 'Usuario_que_Canaliza');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
				<div class="form-group" id="divRelacion_a_Canalizar">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Relacion_a_Canalizar</label>
                                <div class="col-sm-8" data-field-id="Relacion_a_Canalizar" data-attribute="269151" data-field-name="@Resources.CanalizacionResources.Relacion_a_Canalizar">
                                    <select class='fullWidth AutoComplete AutoCompleteCanalizacion_Relacion_a_Canalizar form-control select2-dropdown Datos_Generales' data-val="true" id="Relacion_a_Canalizar" name="Relacion_a_Canalizar">
                                        <option value="@Model.Relacion_a_Canalizar">@(Model.Relacion_a_CanalizarDescripcion??Model.Relacion_a_CanalizarDescripcion)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269151).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Detalle_de_Relaciones', 'Relacion_a_Canalizar');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divCanalizar_a">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Canalizar_a</label>
                                <div class="col-sm-8" data-field-id="Canalizar_a" data-attribute="269152" data-field-name="@Resources.CanalizacionResources.Canalizar_a">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Canalizar a must be a number." data-val-required="The Canalizar a field is required." id="Canalizar_a" name="Canalizar_a">
                                        <option value=""></option>
                                        @if (varEstatus_Orientador_Canalizar_a != null){ 
                                            foreach (var itemCanalizar_a in varEstatus_Orientador_Canalizar_a)
                                            {
                                                if (itemCanalizar_a.Value == Convert.ToString(Model.Canalizar_a))
                                                {
                                                    <option value="@itemCanalizar_a.Value" selected>@itemCanalizar_a.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemCanalizar_a.Value">@itemCanalizar_a.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Canalizar_a" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269152).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Estatus_Orientador', 'Canalizar_a');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
				<div class="form-group" id="divMunicipio">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Municipio</label>
                                <div class="col-sm-8" data-field-id="Municipio" data-attribute="269153" data-field-name="@Resources.CanalizacionResources.Municipio">
                                    <select class='fullWidth AutoComplete AutoCompleteCanalizacion_Municipio form-control select2-dropdown Datos_Generales' data-val="true" id="Municipio" name="Municipio">
                                        <option value="@Model.Municipio">@(Model.MunicipioNombre??Model.MunicipioNombre)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269153).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Municipio', 'Municipio');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
				<div class="form-group" id="divUnidad">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Unidad</label>
                                <div class="col-sm-8" data-field-id="Unidad" data-attribute="269154" data-field-name="@Resources.CanalizacionResources.Unidad">
                                    <select class='fullWidth AutoComplete AutoCompleteCanalizacion_Unidad form-control select2-dropdown Datos_Generales' data-val="true" id="Unidad" name="Unidad">
                                        <option value="@Model.Unidad">@(Model.UnidadDescripcion??Model.UnidadDescripcion)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 269154).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Unidad', 'Unidad');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            </div>
                                </div>


                            <div id="tabResolucion" class="tab-pane">
                                <div class="panel-body">
                            <div class="form-group" id="divFecha_de_Resolucion">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Fecha_de_Resolucion</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Resolucion" data-attribute="269155" data-field-name="@Resources.CanalizacionResources.Fecha_de_Resolucion">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Resolucion" id="Fecha_de_Resolucion"  name="Fecha_de_Resolucion" type="text" value="@Model.Fecha_de_Resolucion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divHora_de_Resolucion">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Hora_de_Resolucion</label>
                                <div class="col-sm-8" data-field-id="Hora_de_Resolucion" data-attribute="269156" data-field-name="@Resources.CanalizacionResources.Hora_de_Resolucion">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12 Resolucion" id="Hora_de_Resolucion"  name="Hora_de_Resolucion" type="text" data-autoclose="true" value="@Model.Hora_de_Resolucion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divHubo_modificacion_en_la_relacion">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Hubo_modificacion_en_la_relacion</label>
                                <div class="col-sm-8" data-field-id="Hubo_modificacion_en_la_relacion" data-attribute="269157" data-field-name="@Resources.CanalizacionResources.Hubo_modificacion_en_la_relacion">
                                    @Html.CheckBoxFor(m => m.Hubo_modificacion_en_la_relacion, new { @class = "i-checks Resolucion" })
                                </div>
                            </div>
                            <div class="form-group" id="divNueva_Relacion">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Nueva_Relacion</label>
                                <div class="col-sm-8" data-field-id="Nueva_Relacion" data-attribute="269158" data-field-name="@Resources.CanalizacionResources.Nueva_Relacion">
                                    <textarea id="Nueva_Relacion" name="Nueva_Relacion" class="form-control Resolucion" rows="4" cols="50">@Model.Nueva_Relacion</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Nueva_Relacion" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divResolucionId">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.ResolucionId</label>
                                <div class="col-sm-8" data-field-id="ResolucionId" data-attribute="269159" data-field-name="@Resources.CanalizacionResources.ResolucionId">
                                    <input class="form-control inputNumber Resolucion" id="ResolucionId" name="ResolucionId" type="text" value="@Model.ResolucionId">
                                    @*<span class="field-validation-valid" data-valmsg-for="ResolucionId" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divResolucion">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Resolucion</label>
                                <div class="col-sm-8" data-field-id="Resolucion" data-attribute="269160" data-field-name="@Resources.CanalizacionResources.Resolucion">
                                    <textarea id="Resolucion" name="Resolucion" class="form-control Resolucion" rows="4" cols="50">@Model.Resolucion</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Resolucion" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divDetalle_de_la_Resolucion">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Detalle_de_la_Resolucion</label>
                                <div class="col-sm-8" data-field-id="Detalle_de_la_Resolucion" data-attribute="269161" data-field-name="@Resources.CanalizacionResources.Detalle_de_la_Resolucion">
                                    <textarea id="Detalle_de_la_Resolucion" name="Detalle_de_la_Resolucion" class="form-control Resolucion" rows="4" cols="50">@Model.Detalle_de_la_Resolucion</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Detalle_de_la_Resolucion" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divObservaciones">
                                <label class="col-sm-2 control-label">@Resources.CanalizacionResources.Observaciones</label>
                                <div class="col-sm-8" data-field-id="Observaciones" data-attribute="269162" data-field-name="@Resources.CanalizacionResources.Observaciones">
                                    <textarea id="Observaciones" name="Observaciones" class="form-control Resolucion" rows="4" cols="50">@Model.Observaciones</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Observaciones" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div id="divDiligencias_Generadas">
                            <div class="ibox-title">
                                <h5>@Resources.CanalizacionResources.Diligencias_Generadas</h5>
                                <div class="ibox-tools">
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="">
									@if (permissionDetalle_Diligencias_Canalizacion.New && !ViewBag.Consult)
                                    {
                                        <a onclick="Detalle_Diligencias_CanalizacionfnClickAddRow();" href="javascript:void(0);" title="@Resources.Resources.AddNewRow" class="Detalle_Diligencias_CanalizacionAddRow btn btn-primary">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                    }
                                    <button onclick="CanalizacionGetBusinessRule('', 'Al Guardar o al Eliminar una Row', '269168')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#CanalizacionBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToCreateGrid">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>
									@if (permissionDetalle_Diligencias_Canalizacion.New && !ViewBag.Consult)
                                    {
                                        <a onclick="Detalle_Diligencias_CanalizacionfnOpenAddRowPopUp();" data-toggle="modal" title="@Resources.Resources.AddNewRow" data-target="#AddDetalle_Diligencias_Canalizacion-form" data-backdrop="static" data-keyboard="false" class="btn_mrpopup btn btn-primary">
                                            <i class="glyphicon glyphicon-new-window"></i>
                                        </a>
                                    }  
                                </div>

                                <br />

                                <div style='overflow-x: auto;'>
                                    <table class="table table-striped table-bordered table-hover childValidateTable" id="Detalle_Diligencias_CanalizacionGrid">
                                        <thead>
                                            <tr>
                                                <th class="ActionHeader"><span>@Resources.Resources.Actions</span></th>

                                                 <th class="DiligenciaHeader"><span>
<button type="button" data-attribute="269165" data-field-id="Detalle_Diligencias_CanalizacionDiligencia" data-field-name="@Resources.Detalle_Diligencias_CanalizacionResources.Diligencia" data-toggle="modal" data-target="#CanalizacionBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_Diligencias_CanalizacionResources.Diligencia">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_Diligencias_CanalizacionResources.Diligencia</span></th>                                                 <th class="Ver_DocumentoHeader"><span>
<button type="button" data-attribute="269166" data-field-id="Detalle_Diligencias_CanalizacionVer_Documento" data-field-name="@Resources.Detalle_Diligencias_CanalizacionResources.Ver_Documento" data-toggle="modal" data-target="#CanalizacionBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_Diligencias_CanalizacionResources.Ver_Documento">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_Diligencias_CanalizacionResources.Ver_Documento</span></th>                                                 <th class="ObservacionesHeader"><span>
<button type="button" data-attribute="269167" data-field-id="Detalle_Diligencias_CanalizacionObservaciones" data-field-name="@Resources.Detalle_Diligencias_CanalizacionResources.Observaciones" data-toggle="modal" data-target="#CanalizacionBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_Diligencias_CanalizacionResources.Observaciones">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_Diligencias_CanalizacionResources.Observaciones</span></th> 
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Clave" id="ReferenceClave" />
                                <input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="CanalizacionGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('CanalizacionCreateForm');"  />
									<button onclick="CanalizacionGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#CanalizacionBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="CanalizacionGuardarYNuevo" onclick="return checkClientValidate('CanalizacionCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="CanalizacionGuardarYCopia" onclick="return checkClientValidate('CanalizacionCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnCanalizacionBusinessRuleFieldId" />
                                <input type="hidden" id="hdnCanalizacionBusinessRuleFieldName" />
                                <input type="hidden" id="hdnCanalizacionBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="CanalizacionCancelar" name="CanalizacionCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="CanalizacionGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#CanalizacionBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Canalizacion.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/CanalizacionGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/CanalizacionCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var viewInEframe =  ('@ViewBag.viewInEframe' == 'True');
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;

		var Tab_Resolucion = true;


        $(document).ready(function () {
            $('#ObjectId').val('45703');
		                  



           
              showDetalle_Diligencias_CanalizacionGrid(null);

		   
                        $('#Fecha_de_Canalizacion').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Hora_de_Canalizacion').clockpicker();
            $('#Fecha_de_Resolucion').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Hora_de_Resolucion').clockpicker();


            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			
			 if (viewInEframe) {             
                $('#CanalizacionGuardarYNuevo').hide();
                $('#CanalizacionGuardarYCopia').hide();
                $('#CanalizacionCancelar').hide(); 
                $('#ConfigureSave').hide();
                $('#CanalizacionGuardar').val('Actualizar Seccion ' + '@Resources.CanalizacionResources.Canalizacion' )
            }

			
			       var AutoCompleteExpediente_MPData =[];
       $(".AutoCompleteCanalizacion_Expediente_MP").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Canalizacion/GetCanalizacion_Expediente_MP_expediente_ministerio_publico")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteCanalizacion_Expediente_MP_expediente_ministerio_publicoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteCanalizacion_Expediente_MP");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteExpediente_ATData =[];
       $(".AutoCompleteCanalizacion_Expediente_AT").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Canalizacion/GetCanalizacion_Expediente_AT_Modulo_Atencion_Inicial")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteCanalizacion_Expediente_AT_Modulo_Atencion_InicialData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteCanalizacion_Expediente_AT");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteUsuario_que_CanalizaData =[];
       $(".AutoCompleteCanalizacion_Usuario_que_Canaliza").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Canalizacion/GetCanalizacion_Usuario_que_Canaliza_Spartan_User")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteCanalizacion_Usuario_que_Canaliza_Spartan_UserData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteCanalizacion_Usuario_que_Canaliza");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteRelacion_a_CanalizarData =[];
       $(".AutoCompleteCanalizacion_Relacion_a_Canalizar").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Canalizacion/GetCanalizacion_Relacion_a_Canalizar_Detalle_de_Relaciones")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteCanalizacion_Relacion_a_Canalizar_Detalle_de_RelacionesData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteCanalizacion_Relacion_a_Canalizar");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteMunicipioData =[];
       $(".AutoCompleteCanalizacion_Municipio").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Canalizacion/GetCanalizacion_Municipio_Municipio")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteCanalizacion_Municipio_MunicipioData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteCanalizacion_Municipio");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteUnidadData =[];
       $(".AutoCompleteCanalizacion_Unidad").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Canalizacion/GetCanalizacion_Unidad_Unidad")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteCanalizacion_Unidad_UnidadData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteCanalizacion_Unidad");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });


            @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();

				if (Tab_Resolucion)
					Fill_Resolucion();


                </text>
            }
            EjecutarValidacionesAlComienzo(); 
			
        });

        var Detalle_Diligencias_CanalizacioninsertRowCurrentIndex = -1;
        var Detalle_Diligencias_CanalizacionDataDataTable;
        function getDetalle_Diligencias_CanalizacionData() {
            $.ajax({
                url: "@Url.Content("~/Frontal/Canalizacion/GetDetalle_Diligencias_Canalizacion")" + "?draw=1&start=1&length=2147483647" + ($("#ReferenceClave").val() != "" ? "&RelationId=" + $("#ReferenceClave").val() : ""),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                    Detalle_Diligencias_CanalizacionDataDataTable = result.data;
                    showDetalle_Diligencias_CanalizacionGrid(result.data);
                    $('#Detalle_Diligencias_CanalizacionGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Detalle_Diligencias_CanalizacionGrid .gridDatePicker').attr("readonly", "");
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
        function Detalle_Diligencias_CanalizacionGetUpdateRowControls(data, nameOfTable, rowIndex) {

            var columnData = [];
            var counter = 0;
            var inputData = "<input type='text' class='fullWidth form-control' />";

            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Diligencia)).addClass('Diligencia').attr('id', nameOfTable + 'Diligencia' + rowIndex).attr('data-field', 'Diligencia');
            columnData[counter++] = data.Ver_DocumentoDetail == null || (data.Ver_DocumentoFileInfo.FileId == null || (data.Ver_DocumentoFileInfo.FileId <= 0 && data.Ver_DocumentoFileInfo.FileName  == '')) ? $($.parseHTML(GetFileUploader())).attr('id', nameOfTable + 'Ver_Documento' + rowIndex).attr('data-field', 'Ver_Documento','Spartane_File') : $(GetFileInfo(data.Ver_DocumentoFileInfo, data.Ver_DocumentoDetail)).attr('id', nameOfTable + 'Ver_Documento' + rowIndex).attr('data-field', 'Ver_Documento','Spartane_File');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Observaciones)).addClass('Observaciones').attr('id', nameOfTable + 'Observaciones' + rowIndex).attr('data-field', 'Observaciones');

            return columnData;
        }



        function GetFileInfo(fileData, fileUploadData) {

            var $div = $("<div>");
            if (fileUploadData != null && fileUploadData.files.length > 0) {

                $div.append("<label>" + fileUploadData.files[0].name + "</label>");
                //<i class="fa fa-times-circle" id='removeFileAttachment'>
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;

            } else if (fileUploadData != null) {
                return $.parseHTML(GetFileUploader());
            } else {
                $div.append("<label>" + fileData.FileName + "</label>");
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;
            }
        }

        var removedDetalle_Diligencias_CanalizacionData = [];
        function Detalle_Diligencias_CanalizacionDeleteRow(rowIndex, row) {
            var rowIndexTable = Detalle_Diligencias_CanalizacionTable.fnGetPosition($(row).parent().parent()[0]);
            var permission = {            
                 Delete: '@permissionDetalle_Diligencias_Canalizacion.Delete' == 'True'
            };
            if (!permission.Delete || isConsultMode)
                return;            
            if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
              if (EjecutarValidacionesAlEliminarMRDetalle_Diligencias_Canalizacion('Detalle_Diligencias_Canalizacion_', '_' + rowIndex)) {
                var prevData = Detalle_Diligencias_CanalizacionTable.fnGetData(rowIndexTable );
                removedDetalle_Diligencias_CanalizacionData.push(prevData);
                Detalle_Diligencias_CanalizacionTable.fnDeleteRow(rowIndexTable );
				showDetalle_Diligencias_CanalizacionGrid(Detalle_Diligencias_CanalizacionTable.fnGetData());
              }
            }
			initiateUIControls();
        }

        function Detalle_Diligencias_CanalizacionrowCreationGrid(row, data, index) {
            var permission =  {            
                 Edit: '@permissionDetalle_Diligencias_Canalizacion.Edit' == 'True',
                 Delete: '@permissionDetalle_Diligencias_Canalizacion.Delete' == 'True'
            };
            setDetalle_Diligencias_CanalizacionValidation();
            var Detalle_Diligencias_CanalizacionRowElement = "Detalle_Diligencias_Canalizacion_" + index.toString();
            $(row).addClass(Detalle_Diligencias_CanalizacionRowElement);
            var nameOfTable='Detalle_Diligencias_Canalizacion_';
            var rowIndex = '_' + index;
            Detalle_Diligencias_CanalizacioninsertRowCurrentIndex = index;

            row.innerHTML = "";

            if (data.IsInsertRow) {

                if (row.childNodes.length != 0) {
                    for (var i = 0; i < row.childNodes.length; i++) {
                        row.childNodes[i].remove();
                    }
                }
                var controls = GetInsertDetalle_Diligencias_CanalizacionRowControls(index);
                var actionColInsert = $('<td>');

                var abc = "if(dynamicFieldValidation('" + Detalle_Diligencias_CanalizacionRowElement + "')){ Detalle_Diligencias_CanalizacionInsertRow(" + index + "); }";
                var insertRowHTML = '<a  data-toggle="tooltip" title="Confirmar Registro" onclick="' + abc + '">';
                $('<i class="fa fa-check">').appendTo($(insertRowHTML).appendTo(actionColInsert));
				$('<i class="fa fa-times">').appendTo($("<a data-toggle='tooltip' title='Cancelar Registro' onclick='Detalle_Diligencias_CanalizacionCancelRow(" + index + ")'>").appendTo(actionColInsert));
                actionColInsert.appendTo(row);

                for (i = 0; i < controls.length; i++) {
					var idHeader = $(controls[i]).data('field') + 'Header';
					if($(controls[i]).length > 1){
						idHeader = $($(controls[i])[1]).data('field') + 'Header';
					}					

					var classe = ($('#Detalle_Diligencias_CanalizacionGrid .' + idHeader).hasClass('dt-right') ? "dt-right" : "") + $('#Detalle_Diligencias_CanalizacionGrid .' + idHeader ).css('display') == 'none' ? " hide" : "";
				   
					if ($(controls[i]).next().length > 0) {
					    var div = $(controls[i]).next();
					    $('<td class="' + classe + '">').append($(controls[i])).append(div).appendTo(row);
					}else
					    $(controls[i]).appendTo($('<td class="' + classe + '">').appendTo(row));
					
                }
                $('#Detalle_Diligencias_CanalizacionGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('#Detalle_Diligencias_CanalizacionGrid .gridDatePicker').attr("readonly", "");
                return;
            }

            var actionCol = $('<td>');
			var edit = "<a title='@Resources.Resources.Edit' class='edit-MR' onclick='Detalle_Diligencias_CanalizacionEditRow(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                edit = "";
            var editPopUp = "<a title='@Resources.Resources.Edit' class='edit-popup-MR' data-toggle='modal' data-target='#AddDetalle_Diligencias_Canalizacion-form' onclick='Detalle_Diligencias_CanalizacionEditRowPopup(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                editPopUp = "";
            var eliminar = "<a title='@Resources.Resources.Delete' class='eliminar-MR' onclick='Detalle_Diligencias_CanalizacionDeleteRow(" + index + ", this)'>";
            if (!permission.Delete || isConsultMode)
                eliminar = "";
            $('<i class="fa fa-pencil">').appendTo($(edit).appendTo(actionCol));
            //$('<i class="fa fa-edit">').appendTo($(editPopUp).appendTo(actionCol));
            $('<i class="fa fa-trash-o">').appendTo($(eliminar).appendTo(actionCol));
			if ($('.Action' + 'Header').css('display') != 'none')
				actionCol.appendTo(row);

            if ($('.Diligencia' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Diligencia'+rowIndex+'">').text(data.Diligencia).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Diligencia'+rowIndex+'">').text(data.Diligencia).appendTo(row);
            if ($('.Ver_Documento' + 'Header').css('display') != 'none'){
                var Ver_DocumentofileTd = $('<td>');
            if (data.Ver_DocumentoDetail != null && data.Ver_DocumentoDetail.files != null) {
                if (data.Ver_DocumentoDetail.files.length > 0)
                    $("<a >" + data.Ver_DocumentoDetail.files[0].name + "</a>").appendTo(Ver_DocumentofileTd);
            }
            else if (data.Ver_DocumentoFileInfo != null && data.Ver_DocumentoFileInfo.FileId > 0) {
                $("<a href='" + '@Url.Content("~/Frontal/Detalle_Diligencias_Canalizacion/GetFile?id=")' + data.Ver_DocumentoFileInfo.FileId + "' target='_blank'>" + data.Ver_DocumentoFileInfo.FileName + "</a>").appendTo(Ver_DocumentofileTd);
            } else if (data.Ver_DocumentoFileInfo != null){
                $("<a >" + data.Ver_DocumentoFileInfo.FileName + "</a>").appendTo(Ver_DocumentofileTd);
            }
            Ver_DocumentofileTd.appendTo(row);
}
            if ($('.Observaciones' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Observaciones'+rowIndex+'">').text(data.Observaciones).appendTo(row);
            else 
                $('<td style="display:none;" id="'+nameOfTable+'Observaciones'+rowIndex+'">').text(data.Observaciones).appendTo(row);

        }

        var Detalle_Diligencias_CanalizacionTable;
        function showDetalle_Diligencias_CanalizacionGrid(dataSet) {
            //removedDetalle_Diligencias_CanalizacionData = [];
            Detalle_Diligencias_CanalizacionTable = $('#Detalle_Diligencias_CanalizacionGrid').dataTable({
                dom: '<"html5buttons"B>lTgitp',
                buttons: [
                ],
                "createdRow": Detalle_Diligencias_CanalizacionrowCreationGrid,
                "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
                data: dataSet,
                "columns": [
                    { "data": null, 'visible': true, "orderable": false },

                    { "data": "Diligencia", "orderable": false },
                    { "data": "Ver_DocumentoFileInfo", "orderable": false },
                    { "data": "Observaciones", "orderable": false },

                ],
                "order": [[0, "asc"]],
                "language": {
                    "lengthMenu": "@Resources.Resources.Display" + " _MENU_ " + "@Resources.Resources.RecordsPerPage",
                    "zeroRecords": "@Resources.Resources.NothingFound",
                    "info": "@Resources.Resources.ShowingPages" + " _PAGE_ " + "@Resources.Resources.of" + " _PAGES_",
                    "infoEmpty": "@Resources.Resources.NoRecords",
                    "infoFiltered": "(" + "@Resources.Resources.FilteredFrom" + " _MAX_ " + "@Resources.Resources.TotalRecords" + ")",
                    "sSearch": "@Resources.Resources.Search",
                    "paginate": {
                        "previous": "@Resources.Resources.Previous",
                        "next": "@Resources.Resources.Next"
                    }
                },
				"bDestroy": true,
                "fnDrawCallback": function (settings) {
                    setDetalle_Diligencias_CanalizacionValidation();
                }
            }).on('init.dt', function (e, data) {
                $('a').tooltip();
            }).on('draw.dt', function () {
                $('#Detalle_Diligencias_CanalizacionGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('.gridDatePicker').inputmask("99-99-9999", { "placeholder": "dd-mm-yyyy" });
            });
        }






        var Detalle_Diligencias_CanalizacionData = [];
        var Detalle_Diligencias_CanalizaciondeletedItem = [];
        var Detalle_Diligencias_CanalizacionDataMain = [];
        var Detalle_Diligencias_CanalizacionDataMainPages = [];
        var Detalle_Diligencias_CanalizacionnewItemCount = 0;
        var Detalle_Diligencias_CanalizacionmaxItemIndex = 0;
        var Detalle_Diligencias_CanalizacionDataMainInitialized = false;

        function SendDetalle_Diligencias_Canalizacion(callBack, ClaveId) {
            Detalle_Diligencias_CanalizacionData = GetDetalle_Diligencias_CanalizacionFromDataTable();

            if (Detalle_Diligencias_CanalizacionData.length > 0 || $("#ReferenceClave").val() != ClaveId) {
                if ($("#ReferenceClave").val() != "0" && ClaveId ==null)
                    ClaveId = $("#ReferenceClave").val();                
                if ($("#ReferenceClave").val() == '')
                    $("#ReferenceClave").val('0');
                $.ajax({
                    url: '@Url.Content("~/Frontal/Canalizacion/PostDetalle_Diligencias_Canalizacion?MasterId=")' + ClaveId + "&referenceId=" + $("#ReferenceClave").val(),
                    type: 'POST',
                    data: GetDetalle_Diligencias_Canalizacion(),
                    async: true,
                    success: function (result) {

                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            } else {
                //showNotification("@Resources.Resources.SaveSuccess", "success");
                //callBack(ClaveId);
            }
            return true;
        }

        function GetAddDetalle_Diligencias_CanalizacionPopup(currentRowIndex, mode, id) {

            $.ajax({
                url: "@Url.Action("AddDetalle_Diligencias_Canalizacion", "Detalle_Diligencias_Canalizacion")",
                type: "GET",
                async: false,
                data: { rowIndex: currentRowIndex, functionMode: mode, id: id },
                success: function (data) {
                    $(".AddDetalle_Diligencias_CanalizacionModal").html(data);
                },
                error: function () {

                }
            });

            @*$.get('@Url.Action("AddDetalle_Diligencias_Canalizacion", "Detalle_Diligencias_Canalizacion")', { rowIndex: currentRowIndex }, function (data) {
                $(".AddDetalle_Diligencias_CanalizacionModal").html(data);
            });*@
        }

        function ShowMessagePendingRowDetalle_Diligencias_Canalizacion()
        {
            //alert('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Diligencias Generadas"))')
	    showNotification('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Diligencias Generadas"))', "warning");
        }


        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });






        }

    </script>

<script type="text/javascript">


   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Canalizacion/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }


        function SendCanalizacionData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateCanalizacion").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateCanalizacion")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceClave").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('CanalizacionCreateForm', 'Datos_Generales')) {
				return false;
			}						

			if (Tab_Resolucion && !checkClientValidate('CanalizacionCreateForm', 'Resolucion')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);

			if (Tab_Resolucion)
				Save_Resolucion(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Canalizacion/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".CanalizacionBusinessRuleModal").html(data);
			});
		}
                function CanalizacionGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('45703');
			$('#Screen').val('Canalizacion');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function CanalizacionBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Canalizacion/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Canalizacion/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Canalizacion/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Canalizacion/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Canalizacion/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateCanalizacion').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        CanalizacionGetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Canalizacion/Get_Datos_Generales")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    var control = $('#Expediente_MP');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Expediente_MP).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Expediente_MP).trigger('change');
                    }, 3000);
                    var control = $('#Expediente_AT');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Expediente_AT).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Expediente_AT).trigger('change');
                    }, 3000);
                    $('#Fecha_de_Canalizacion').val(result.data.Fecha_de_Canalizacion);
                    $('#Hora_de_Canalizacion').val(result.data.Hora_de_Canalizacion);
                    var control = $('#Usuario_que_Canaliza');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Usuario_que_Canaliza).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Usuario_que_Canaliza).trigger('change');
                    }, 3000);
                    var control = $('#Relacion_a_Canalizar');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Relacion_a_Canalizar).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Relacion_a_Canalizar).trigger('change');
                    }, 3000);
                    $('#Canalizar_a').val(result.data.Canalizar_a);
                    var control = $('#Municipio');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Municipio).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Municipio).trigger('change');
                    }, 3000);
                    var control = $('#Unidad');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Unidad).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Unidad).trigger('change');
                    }, 3000);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Expediente_MP', $('#Expediente_MP').val());
                data.append('Expediente_AT', $('#Expediente_AT').val());
                data.append('Fecha_de_Canalizacion', $('#Fecha_de_Canalizacion').val());
                data.append('Hora_de_Canalizacion', $('#Hora_de_Canalizacion').val());
                data.append('Usuario_que_Canaliza', $('#Usuario_que_Canaliza').val());
                data.append('Relacion_a_Canalizar', $('#Relacion_a_Canalizar').val());
                data.append('Canalizar_a', $('#Canalizar_a').val());
                data.append('Municipio', $('#Municipio').val());
                data.append('Unidad', $('#Unidad').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Canalizacion/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}

		function Fill_Resolucion()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Canalizacion/Get_Resolucion")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    $('#Fecha_de_Resolucion').val(result.data.Fecha_de_Resolucion);
                    $('#Hora_de_Resolucion').val(result.data.Hora_de_Resolucion);
                    $('#Hubo_modificacion_en_la_relacion').prop('checked', result.data.Hubo_modificacion_en_la_relacion);
                    $('#Nueva_Relacion').val(result.data.Nueva_Relacion);
                    $('#ResolucionId').val(result.data.ResolucionId);
                    $('#Resolucion').val(result.data.Resolucion);
                    $('#Detalle_de_la_Resolucion').val(result.data.Detalle_de_la_Resolucion);
                    $('#Observaciones').val(result.data.Observaciones);
                    Detalle_Diligencias_CanalizacionDataDataTable = result.Diligencias_Generadas;
                    showDetalle_Diligencias_CanalizacionGrid(result.Diligencias_Generadas);
                    $('#Detalle_Diligencias_CanalizacionGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Detalle_Diligencias_CanalizacionGrid .gridDatePicker').attr("readonly", "");

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Resolucion(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Fecha_de_Resolucion', $('#Fecha_de_Resolucion').val());
                data.append('Hora_de_Resolucion', $('#Hora_de_Resolucion').val());
                data.append('Hubo_modificacion_en_la_relacion', $('#Hubo_modificacion_en_la_relacion').prop('checked'));
                data.append('Nueva_Relacion', $('#Nueva_Relacion').val());
                data.append('ResolucionId', $('#ResolucionId').val());
                data.append('Resolucion', $('#Resolucion').val());
                data.append('Detalle_de_la_Resolucion', $('#Detalle_de_la_Resolucion').val());
                data.append('Observaciones', $('#Observaciones').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Canalizacion/Post_Resolucion")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Resolucion");
					} else {
						newId = result;
                    					    SendDetalle_Diligencias_Canalizacion(null, newId);

					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Resolucion");
				},
				cache: false
			});
		}


    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Canalizacion_cmbLabelSelect" name="Canalizacion_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />

