@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Audiencia_Defensor_VictimaModel
@{


 List<SelectListItem> varDetalle_de_Imputado_Nombre_del_Imputado = null;
    if (ViewBag.Detalle_de_Imputados_Nombre_del_Imputado != null)
    { varDetalle_de_Imputado_Nombre_del_Imputado = (List<SelectListItem>)ViewBag.Detalle_de_Imputados_Nombre_del_Imputado; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle Audiencia Defensor Víctima
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_Audiencia_Defensor_VictimaRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_Audiencia_Defensor_VictimaPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle Audiencia Defensor Víctima
								<button onclick="Detalle_Audiencia_Defensor_VictimaGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Audiencia_Defensor_VictimaBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_Audiencia_Defensor_VictimaResources.Detalle_Audiencia_Defensor_Victima</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_Audiencia_Defensor_VictimaDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_Audiencia_Defensor_VictimaPropertyBusinessModal" id="Detalle_Audiencia_Defensor_VictimaPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_Audiencia_Defensor_VictimaBusinessRule-form" onclick="Detalle_Audiencia_Defensor_VictimaGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Audiencia_Defensor_VictimaPropertyModal" id="Detalle_Audiencia_Defensor_VictimaPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Audiencia_Defensor_VictimaBusinessRuleModal" id="Detalle_Audiencia_Defensor_VictimaBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Audiencia_Defensor_VictimaAddBusinessRuleModal" id="Detalle_Audiencia_Defensor_VictimaAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_Audiencia_Defensor_Victima", FormMethod.Post, new { id = "CreateDetalle_Audiencia_Defensor_Victima", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_Audiencia_Defensor_VictimaCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Audiencia_Defensor_VictimaResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="267408" data-field-name="@Resources.Detalle_Audiencia_Defensor_VictimaResources.Clave">
                                    <label class="form-control" for="Detalle_Audiencia_Defensor_VictimaClave" id="Detalle_Audiencia_Defensor_VictimaClave">@Model.Clave</label>
                                </div>
                            </div>
<div class="form-group" id="divNombre_del_Imputado">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Audiencia_Defensor_VictimaResources.Nombre_del_Imputado</label>
                                <div class="col-sm-8" data-field-id="Nombre_del_Imputado" data-attribute="267410" data-field-name="@Resources.Detalle_Audiencia_Defensor_VictimaResources.Nombre_del_Imputado">
                                    <select class='fullWidth AutoCompleteDetalle_de_Imputado form-control select2-dropdown' data-val="true" id="Detalle_Audiencia_Defensor_VictimaNombre_del_Imputado" name="Detalle_Audiencia_Defensor_VictimaNombre_del_Imputado">
                                        <option value="@Model.Nombre_del_Imputado">@(Model.Nombre_del_ImputadoNombre_Completo_del_Tutor??Model.Nombre_del_ImputadoNombre_Completo_del_Tutor)</option>
                                    </select>
                                </div>
                            </div>
<div class="form-group" id="divAbogado">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Audiencia_Defensor_VictimaResources.Abogado</label>
                                <div class="col-sm-8" data-field-id="Abogado" data-attribute="267411" data-field-name="@Resources.Detalle_Audiencia_Defensor_VictimaResources.Abogado">
                                    <input class="form-control" id="Detalle_Audiencia_Defensor_VictimaAbogado" name="Detalle_Audiencia_Defensor_VictimaAbogado" type="text" value="@Model.Abogado">
                                </div>
                            </div>
<div class="form-group" id="divCedula_Profesional">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Audiencia_Defensor_VictimaResources.Cedula_Profesional</label>
                                <div class="col-sm-8" data-field-id="Cedula_Profesional" data-attribute="267412" data-field-name="@Resources.Detalle_Audiencia_Defensor_VictimaResources.Cedula_Profesional">
                                    <input class="form-control" id="Detalle_Audiencia_Defensor_VictimaCedula_Profesional" name="Detalle_Audiencia_Defensor_VictimaCedula_Profesional" type="text" value="@Model.Cedula_Profesional">
                                </div>
                            </div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Clave" id="ReferenceClave" />
												<input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_Audiencia_Defensor_VictimaConfigureSave" name="Detalle_Audiencia_Defensor_VictimaConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_Audiencia_Defensor_VictimaConfigureType" />
												<input type="hidden" id="hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_Audiencia_Defensor_VictimaGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Audiencia_Defensor_VictimaBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_Audiencia_Defensor_Victima.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_Audiencia_Defensor_VictimaGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_Audiencia_Defensor_VictimaCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Audiencias_MPCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_Audiencia_Defensor_VictimaRowElement = "Detalle_Audiencia_Defensor_VictimaPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_Audiencia_Defensor_VictimaRowElement + "')){ Detalle_Audiencia_Defensor_VictimaInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });
       var AutoCompleteNombre_del_ImputadoData =[];
       $(".AutoCompleteDetalle_Audiencia_Defensor_Victima_Nombre_del_Imputado").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Detalle_Audiencia_Defensor_Victima/GetDetalle_Audiencia_Defensor_Victima_Nombre_del_Imputado_Detalle_de_Imputado")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_Audiencia_Defensor_Victima_Nombre_del_Imputado_Detalle_de_ImputadoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_Audiencia_Defensor_Victima_Nombre_del_Imputado");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDetalle_Audiencia_Defensor_VictimaData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_Audiencia_Defensor_Victima").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_Audiencia_Defensor_Victima")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_Audiencia_Defensor_VictimaCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_Audiencia_Defensor_Victima/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_Audiencia_Defensor_VictimaPropertyBag", "Detalle_Audiencia_Defensor_Victima")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_Audiencia_Defensor_VictimaGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleFieldName').val(), ObjectId: '45485', Attribute: $('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleAttribute').val(), Screen: 'Detalle_Audiencia_Defensor_Victima' }, function (data) {
                $(".Detalle_Audiencia_Defensor_VictimaBusinessRuleModal").html(data);
            });
        }
        function Detalle_Audiencia_Defensor_VictimaGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleFieldName').val(), ObjectId: '45485', Attribute: $('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleAttribute').val(), Screen: 'Detalle_Audiencia_Defensor_Victima' }, function (data) {
                $(".Detalle_Audiencia_Defensor_VictimaAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleFieldName').val(), ObjectId: '45485', Attribute: $('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleAttribute').val(), Screen: 'Detalle_Audiencia_Defensor_Victima' }, function (data) {
				$(".Detalle_Audiencia_Defensor_VictimaBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_Audiencia_Defensor_Victima/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_Audiencia_Defensor_Victima/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_Audiencia_Defensor_Victima/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_Audiencia_Defensor_VictimaConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_Audiencia_Defensor_VictimaConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_Audiencia_Defensor_Victima/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_Audiencia_Defensor_VictimaConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_Audiencia_Defensor_Victima/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_Audiencia_Defensor_Victima' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_Audiencia_Defensor_Victima' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_Audiencia_Defensor_VictimaConfigureSave').text('Save Settings');
                    $('#hdnDetalle_Audiencia_Defensor_VictimaConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_Audiencia_Defensor_Victima').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_Audiencia_Defensor_VictimaBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
