@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Registro_de_UsuarioAdvanceSearchModel
@{

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Registro_de_Usuario", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Registro_de_UsuarioResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Registro_de_UsuarioResources.Nombres</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.NombresFilter, filters, new { @class = "form-control", @id = "ddlNombresFilter" })
                    @Html.TextBoxFor(m => m.Nombres, new { @class = "form-control", @type = "text", @id = "txtNombres" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Registro_de_UsuarioResources.Apellido_Paterno</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Apellido_PaternoFilter, filters, new { @class = "form-control", @id = "ddlApellido_PaternoFilter" })
                    @Html.TextBoxFor(m => m.Apellido_Paterno, new { @class = "form-control", @type = "text", @id = "txtApellido_Paterno" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Registro_de_UsuarioResources.Apellido_Materno</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Apellido_MaternoFilter, filters, new { @class = "form-control", @id = "ddlApellido_MaternoFilter" })
                    @Html.TextBoxFor(m => m.Apellido_Materno, new { @class = "form-control", @type = "text", @id = "txtApellido_Materno" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Registro_de_UsuarioResources.Nombre_Completo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Nombre_CompletoFilter, filters, new { @class = "form-control", @id = "ddlNombre_CompletoFilter" })
                    @Html.TextBoxFor(m => m.Nombre_Completo, new { @class = "form-control", @type = "text", @id = "txtNombre_Completo" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Registro_de_UsuarioResources.Usuario</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.UsuarioFilter, filters, new { @class = "form-control", @id = "ddlUsuarioFilter" })
                    @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control", @type = "text", @id = "txtUsuario" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Registro_de_UsuarioResources.Contrasena</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.ContrasenaFilter, filters, new { @class = "form-control", @id = "ddlContrasenaFilter" })
                    @Html.TextBoxFor(m => m.Contrasena, new { @class = "form-control", @type = "text", @id = "txtContrasena" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Registro_de_UsuarioResources.Confirmar_Contrasena</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Confirmar_ContrasenaFilter, filters, new { @class = "form-control", @id = "ddlConfirmar_ContrasenaFilter" })
                    @Html.TextBoxFor(m => m.Confirmar_Contrasena, new { @class = "form-control", @type = "text", @id = "txtConfirmar_Contrasena" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Registro_de_UsuarioResources.Correo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.CorreoFilter, filters, new { @class = "form-control", @id = "ddlCorreoFilter" })
                    @Html.TextBoxFor(m => m.Correo, new { @class = "form-control", @type = "text", @id = "txtCorreo" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Registro_de_UsuarioResources.Celular</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.CelularFilter, filters, new { @class = "form-control", @id = "ddlCelularFilter" })
                    @Html.TextBoxFor(m => m.Celular, new { @class = "form-control", @type = "text", @id = "txtCelular" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Registro_de_UsuarioResources.Codigo_Verificacion_Correo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Codigo_Verificacion_CorreoFilter, filters, new { @class = "form-control", @id = "ddlCodigo_Verificacion_CorreoFilter" })
                    @Html.TextBoxFor(m => m.Codigo_Verificacion_Correo, new { @class = "form-control", @type = "text", @id = "txtCodigo_Verificacion_Correo" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Registro_de_UsuarioResources.Codigo_Verificacion_Celular</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Codigo_Verificacion_CelularFilter, filters, new { @class = "form-control", @id = "ddlCodigo_Verificacion_CelularFilter" })
                    @Html.TextBoxFor(m => m.Codigo_Verificacion_Celular, new { @class = "form-control", @type = "text", @id = "txtCodigo_Verificacion_Celular" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Registro_de_UsuarioResources.Codigo_Reestablecer_Contrasena</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Codigo_Reestablecer_ContrasenaFilter, filters, new { @class = "form-control", @id = "ddlCodigo_Reestablecer_ContrasenaFilter" })
                    @Html.TextBoxFor(m => m.Codigo_Reestablecer_Contrasena, new { @class = "form-control", @type = "text", @id = "txtCodigo_Reestablecer_Contrasena" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Registro_de_Usuario/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_UsuarioClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Registro_de_UsuarioClaveTo = $("#txtAdvanceToClave").val();
        }
        if ($("#txtAdvanceNombres").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_UsuarioNombres = $("#txtAdvanceNombres").val();
            advanceSearch.Registro_de_UsuarioNombresSearchType = $("#ddlAdvanceNombresFilter").val();
        }
        if ($("#txtAdvanceApellido_Paterno").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_UsuarioApellido_Paterno = $("#txtAdvanceApellido_Paterno").val();
            advanceSearch.Registro_de_UsuarioApellido_PaternoSearchType = $("#ddlAdvanceApellido_PaternoFilter").val();
        }
        if ($("#txtAdvanceApellido_Materno").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_UsuarioApellido_Materno = $("#txtAdvanceApellido_Materno").val();
            advanceSearch.Registro_de_UsuarioApellido_MaternoSearchType = $("#ddlAdvanceApellido_MaternoFilter").val();
        }
        if ($("#txtAdvanceNombre_Completo").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_UsuarioNombre_Completo = $("#txtAdvanceNombre_Completo").val();
            advanceSearch.Registro_de_UsuarioNombre_CompletoSearchType = $("#ddlAdvanceNombre_CompletoFilter").val();
        }
        if ($("#txtAdvanceUsuario").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_UsuarioUsuario = $("#txtAdvanceUsuario").val();
            advanceSearch.Registro_de_UsuarioUsuarioSearchType = $("#ddlAdvanceUsuarioFilter").val();
        }
        if ($("#txtAdvanceContrasena").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_UsuarioContrasena = $("#txtAdvanceContrasena").val();
            advanceSearch.Registro_de_UsuarioContrasenaSearchType = $("#ddlAdvanceContrasenaFilter").val();
        }
        if ($("#txtAdvanceConfirmar_Contrasena").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_UsuarioConfirmar_Contrasena = $("#txtAdvanceConfirmar_Contrasena").val();
            advanceSearch.Registro_de_UsuarioConfirmar_ContrasenaSearchType = $("#ddlAdvanceConfirmar_ContrasenaFilter").val();
        }
        if ($("#txtAdvanceCorreo").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_UsuarioCorreo = $("#txtAdvanceCorreo").val();
            advanceSearch.Registro_de_UsuarioCorreoSearchType = $("#ddlAdvanceCorreoFilter").val();
        }
        if ($("#txtAdvanceCelular").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_UsuarioCelular = $("#txtAdvanceCelular").val();
            advanceSearch.Registro_de_UsuarioCelularSearchType = $("#ddlAdvanceCelularFilter").val();
        }
        if ($("#txtAdvanceCodigo_Verificacion_Correo").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_UsuarioCodigo_Verificacion_Correo = $("#txtAdvanceCodigo_Verificacion_Correo").val();
            advanceSearch.Registro_de_UsuarioCodigo_Verificacion_CorreoSearchType = $("#ddlAdvanceCodigo_Verificacion_CorreoFilter").val();
        }
        if ($("#txtAdvanceCodigo_Verificacion_Celular").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_UsuarioCodigo_Verificacion_Celular = $("#txtAdvanceCodigo_Verificacion_Celular").val();
            advanceSearch.Registro_de_UsuarioCodigo_Verificacion_CelularSearchType = $("#ddlAdvanceCodigo_Verificacion_CelularFilter").val();
        }
        if ($("#txtAdvanceCodigo_Reestablecer_Contrasena").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_UsuarioCodigo_Reestablecer_Contrasena = $("#txtAdvanceCodigo_Reestablecer_Contrasena").val();
            advanceSearch.Registro_de_UsuarioCodigo_Reestablecer_ContrasenaSearchType = $("#ddlAdvanceCodigo_Reestablecer_ContrasenaFilter").val();
        }
        if ($("#ddlAdvanceEl_correo_fue_Validado").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_UsuarioEl_correo_fue_Validado = $("#ddlAdvanceEl_correo_fue_Validado").val();
        }
        if ($("#ddlAdvanceEl_Celular_fue_Validado").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_UsuarioEl_Celular_fue_Validado = $("#ddlAdvanceEl_Celular_fue_Validado").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblRegistro_de_Usuario').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isRegistro_de_UsuarioTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

