@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Datos_Personales_Adicionales_Probable_ResponsableAdvanceSearchModel
@{
    List<SelectListItem> varRedes_Sociales_Redes_Sociales = null;
    if (ViewBag.Redes_Socialess_Redes_Sociales != null)
    { varRedes_Sociales_Redes_Sociales = (List<SelectListItem>)ViewBag.Redes_Socialess_Redes_Sociales; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Datos_Personales_Adicionales_Probable_Responsable", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Datos_Personales_Adicionales_Probable_ResponsableResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_Personales_Adicionales_Probable_ResponsableResources.Correo_Electronico</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Correo_ElectronicoFilter, filters, new { @class = "form-control", @id = "ddlCorreo_ElectronicoFilter" })
                    @Html.TextBoxFor(m => m.Correo_Electronico, new { @class = "form-control", @type = "text", @id = "txtCorreo_Electronico" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_Personales_Adicionales_Probable_ResponsableResources.Numero_Telefonico</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_TelefonicoFilter, filters, new { @class = "form-control", @id = "ddlNumero_TelefonicoFilter" })
                    @Html.TextBoxFor(m => m.Numero_Telefonico, new { @class = "form-control", @type = "text", @id = "txtNumero_Telefonico" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_Personales_Adicionales_Probable_ResponsableResources.Redes_Sociales</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Redes_SocialesFilter, filters, new { @class = "form-control", @id = "ddlRedes_SocialesFilter" })
                    @Html.TextBoxFor(m => m.AdvanceRedes_Sociales, new { @class = "form-control", @type = "text", @id = "txtAdvanceRedes_Sociales" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varRedes_Sociales_Redes_Sociales!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceRedes_SocialesMultiple, varRedes_Sociales_Redes_Sociales,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceRedes_Sociales"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Datos_Personales_Adicionales_Probable_ResponsableResources.Observaciones</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.ObservacionesFilter, filters, new { @class = "form-control", @id = "ddlObservacionesFilter" })
                    @Html.TextBoxFor(m => m.Observaciones, new { @class = "form-control", @type = "text", @id = "txtObservaciones" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Datos_Personales_Adicionales_Probable_Responsable/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_Personales_Adicionales_Probable_ResponsableClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Datos_Personales_Adicionales_Probable_ResponsableClaveTo = $("#txtAdvanceToClave").val();
        }
        if ($("#txtAdvanceCorreo_Electronico").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_Personales_Adicionales_Probable_ResponsableCorreo_Electronico = $("#txtAdvanceCorreo_Electronico").val();
            advanceSearch.Datos_Personales_Adicionales_Probable_ResponsableCorreo_ElectronicoSearchType = $("#ddlAdvanceCorreo_ElectronicoFilter").val();
        }
        if ($("#txtAdvanceNumero_Telefonico").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_Personales_Adicionales_Probable_ResponsableNumero_Telefonico = $("#txtAdvanceNumero_Telefonico").val();
            advanceSearch.Datos_Personales_Adicionales_Probable_ResponsableNumero_TelefonicoSearchType = $("#ddlAdvanceNumero_TelefonicoFilter").val();
        }
        advanceSearch.Redes_SocialesSearchType = 0;
        if ($('#ddlAdvanceRedes_Sociales').val().length > 0 || $("#txtAdvanceRedes_Sociales").val() == "") {


            if (isDatos_Personales_Adicionales_Probable_ResponsableTextSearch) {
                advanceSearch.Redes_SocialesName = $("#txtAdvanceRedes_Sociales").val();
                advanceSearch.Redes_SocialesNameSearchType = $("#ddlAdvanceRedes_Sociales").val();
                advanceSearch.Redes_SocialesSearchType = 1;
            }
            else {

                advanceSearch.Redes_SocialesToSearch = $("#ddlAdvanceRedes_Sociales").val();
                advanceSearch.Redes_SocialesSearchType = 2;
            }
        }
        if ($("#txtAdvanceObservaciones").val() != "") {
            hasParameter = true;
            advanceSearch.Datos_Personales_Adicionales_Probable_ResponsableObservaciones = $("#txtAdvanceObservaciones").val();
            advanceSearch.Datos_Personales_Adicionales_Probable_ResponsableObservacionesSearchType = $("#ddlAdvanceObservacionesFilter").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblDatos_Personales_Adicionales_Probable_Responsable').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isDatos_Personales_Adicionales_Probable_ResponsableTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceRedes_Sociales").keypress(function () {
            isDatos_Personales_Adicionales_Probable_ResponsableTextSearch = true;
            $("#ddlAdvanceRedes_Sociales").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceRedes_Sociales").change(function () {
            isDatos_Personales_Adicionales_Probable_ResponsableTextSearch = false;
            $("#txtAdvanceRedes_Sociales").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

