@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.DocumentoAdvanceSearchModel
@{
    List<SelectListItem> varDilgencia_MASC_Diligencia = null;
    if (ViewBag.Dilgencia_MASCs_Diligencia != null)
    { varDilgencia_MASC_Diligencia = (List<SelectListItem>)ViewBag.Dilgencia_MASCs_Diligencia; }
    List<SelectListItem> varOrigen_de_Invitacion_Origen = null;
    if (ViewBag.Origen_de_Invitacions_Origen != null)
    { varOrigen_de_Invitacion_Origen = (List<SelectListItem>)ViewBag.Origen_de_Invitacions_Origen; }
    List<SelectListItem> varTipo_de_Documento_Tipo_de_Documento = null;
    if (ViewBag.Tipo_de_Documentos_Tipo_de_Documento != null)
    { varTipo_de_Documento_Tipo_de_Documento = (List<SelectListItem>)ViewBag.Tipo_de_Documentos_Tipo_de_Documento; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Documento", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.DocumentoResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.DocumentoResources.Descripcion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.DescripcionFilter, filters, new { @class = "form-control", @id = "ddlDescripcionFilter" })
                    @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", @type = "text", @id = "txtDescripcion" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.DocumentoResources.Diligencia</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.DiligenciaFilter, filters, new { @class = "form-control", @id = "ddlDiligenciaFilter" })
                    @Html.TextBoxFor(m => m.AdvanceDiligencia, new { @class = "form-control", @type = "text", @id = "txtAdvanceDiligencia" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varDilgencia_MASC_Diligencia!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceDiligenciaMultiple, varDilgencia_MASC_Diligencia,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceDiligencia"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.DocumentoResources.Origen</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.OrigenFilter, filters, new { @class = "form-control", @id = "ddlOrigenFilter" })
                    @Html.TextBoxFor(m => m.AdvanceOrigen, new { @class = "form-control", @type = "text", @id = "txtAdvanceOrigen" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varOrigen_de_Invitacion_Origen!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceOrigenMultiple, varOrigen_de_Invitacion_Origen,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceOrigen"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.DocumentoResources.Tipo_de_Documento</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tipo_de_DocumentoFilter, filters, new { @class = "form-control", @id = "ddlTipo_de_DocumentoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTipo_de_Documento, new { @class = "form-control", @type = "text", @id = "txtAdvanceTipo_de_Documento" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Documento_Tipo_de_Documento!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTipo_de_DocumentoMultiple, varTipo_de_Documento_Tipo_de_Documento,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTipo_de_Documento"
                        });
                    }
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.DocumentoResources.idFormato</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromidFormato, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromidFormato" })
                    @Html.ValidationMessageFor(m => m.FromidFormato)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToidFormato, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToidFormato", @data_min = "txtAdvanceFromidFormato" })
                    @Html.ValidationMessageFor(m => m.ToidFormato)
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Documento/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.DocumentoClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.DocumentoClaveTo = $("#txtAdvanceToClave").val();
        }
        if ($("#txtAdvanceDescripcion").val() != "") {
            hasParameter = true;
            advanceSearch.DocumentoDescripcion = $("#txtAdvanceDescripcion").val();
            advanceSearch.DocumentoDescripcionSearchType = $("#ddlAdvanceDescripcionFilter").val();
        }
        advanceSearch.DiligenciaSearchType = 0;
        if ($('#ddlAdvanceDiligencia').val().length > 0 || $("#txtAdvanceDiligencia").val() == "") {


            if (isDocumentoTextSearch) {
                advanceSearch.DiligenciaName = $("#txtAdvanceDiligencia").val();
                advanceSearch.DiligenciaNameSearchType = $("#ddlAdvanceDiligencia").val();
                advanceSearch.DiligenciaSearchType = 1;
            }
            else {

                advanceSearch.DiligenciaToSearch = $("#ddlAdvanceDiligencia").val();
                advanceSearch.DiligenciaSearchType = 2;
            }
        }
        advanceSearch.OrigenSearchType = 0;
        if ($('#ddlAdvanceOrigen').val().length > 0 || $("#txtAdvanceOrigen").val() == "") {


            if (isDocumentoTextSearch) {
                advanceSearch.OrigenName = $("#txtAdvanceOrigen").val();
                advanceSearch.OrigenNameSearchType = $("#ddlAdvanceOrigen").val();
                advanceSearch.OrigenSearchType = 1;
            }
            else {

                advanceSearch.OrigenToSearch = $("#ddlAdvanceOrigen").val();
                advanceSearch.OrigenSearchType = 2;
            }
        }
        advanceSearch.Tipo_de_DocumentoSearchType = 0;
        if ($('#ddlAdvanceTipo_de_Documento').val().length > 0 || $("#txtAdvanceTipo_de_Documento").val() == "") {


            if (isDocumentoTextSearch) {
                advanceSearch.Tipo_de_DocumentoName = $("#txtAdvanceTipo_de_Documento").val();
                advanceSearch.Tipo_de_DocumentoNameSearchType = $("#ddlAdvanceTipo_de_Documento").val();
                advanceSearch.Tipo_de_DocumentoSearchType = 1;
            }
            else {

                advanceSearch.Tipo_de_DocumentoToSearch = $("#ddlAdvanceTipo_de_Documento").val();
                advanceSearch.Tipo_de_DocumentoSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromidFormato").val() != "" || $("#txtAdvanceToidFormato").val() != "") {
            hasParameter = true;
            advanceSearch.DocumentoidFormatoFrom = $("#txtAdvanceFromidFormato").val();
            advanceSearch.DocumentoidFormatoTo = $("#txtAdvanceToidFormato").val();
        }
        if ($("#ddlAdvanceRequerido").val() != "") {
            hasParameter = true;
            advanceSearch.DocumentoRequerido = $("#ddlAdvanceRequerido").val();
        }
        if ($("#ddlAdvanceSolicitante").val() != "") {
            hasParameter = true;
            advanceSearch.DocumentoSolicitante = $("#ddlAdvanceSolicitante").val();
        }
        if ($("#ddlAdvanceSolicitar_Archivo_Adjunto").val() != "") {
            hasParameter = true;
            advanceSearch.DocumentoSolicitar_Archivo_Adjunto = $("#ddlAdvanceSolicitar_Archivo_Adjunto").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblDocumento').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isDocumentoTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceDiligencia").keypress(function () {
            isDocumentoTextSearch = true;
            $("#ddlAdvanceDiligencia").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceDiligencia").change(function () {
            isDocumentoTextSearch = false;
            $("#txtAdvanceDiligencia").val('');
        });
        $("#txtAdvanceOrigen").keypress(function () {
            isDocumentoTextSearch = true;
            $("#ddlAdvanceOrigen").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceOrigen").change(function () {
            isDocumentoTextSearch = false;
            $("#txtAdvanceOrigen").val('');
        });
        $("#txtAdvanceTipo_de_Documento").keypress(function () {
            isDocumentoTextSearch = true;
            $("#ddlAdvanceTipo_de_Documento").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTipo_de_Documento").change(function () {
            isDocumentoTextSearch = false;
            $("#txtAdvanceTipo_de_Documento").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

