@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Configuracion_de_PlaneacionModel
@{


    List<SelectListItem> varCategoria_de_Servicio_de_Apoyo_Categoria = null;
    if (ViewBag.Categoria_de_Servicio_de_Apoyos_Categoria != null)
    { varCategoria_de_Servicio_de_Apoyo_Categoria = (List<SelectListItem>)ViewBag.Categoria_de_Servicio_de_Apoyos_Categoria; }
    List<SelectListItem> varTipo_de_Servicio_de_Apoyo_Servicio = null;
    if (ViewBag.Tipo_de_Servicio_de_Apoyos_Servicio != null)
    { varTipo_de_Servicio_de_Apoyo_Servicio = (List<SelectListItem>)ViewBag.Tipo_de_Servicio_de_Apoyos_Servicio; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Configuración de Planeación
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Configuracion_de_PlaneacionRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Configuracion_de_PlaneacionPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Configuración de Planeación
								<button onclick="Configuracion_de_PlaneacionGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Configuracion_de_PlaneacionBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Configuracion_de_PlaneacionResources.Configuracion_de_Planeacion</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Configuracion_de_PlaneacionDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Configuracion_de_PlaneacionPropertyBusinessModal" id="Configuracion_de_PlaneacionPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Configuracion_de_PlaneacionBusinessRule-form" onclick="Configuracion_de_PlaneacionGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Configuracion_de_PlaneacionPropertyModal" id="Configuracion_de_PlaneacionPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Configuracion_de_PlaneacionBusinessRuleModal" id="Configuracion_de_PlaneacionBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Configuracion_de_PlaneacionAddBusinessRuleModal" id="Configuracion_de_PlaneacionAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Configuracion_de_Planeacion", FormMethod.Post, new { id = "CreateConfiguracion_de_Planeacion", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Configuracion_de_PlaneacionCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divFolio">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_PlaneacionResources.Folio</label>
                                <div class="col-sm-8" data-field-id="Folio" data-attribute="267346" data-field-name="@Resources.Configuracion_de_PlaneacionResources.Folio">
                                    <label class="form-control" for="Configuracion_de_PlaneacionFolio" id="Configuracion_de_PlaneacionFolio">@Model.Folio</label>
                                </div>
                            </div>
<div class="form-group" id="divCategoria">
	<label class="col-sm-2 control-label">@Resources.Configuracion_de_PlaneacionResources.Categoria</label>
	<div class="col-sm-8" data-field-id="Categoria" data-attribute="267348" data-field-name="@Resources.Configuracion_de_PlaneacionResources.Categoria">
		<select class="form-control" data-val="true" data-val-number="The field Categoria must be a number." data-val-required="The Categoria field is required." id="Configuracion_de_PlaneacionCategoria" name="Configuracion_de_PlaneacionCategoria">
			<option value=""></option>
			@if (varCategoria_de_Servicio_de_Apoyo_Categoria != null){ 
				foreach (var itemCategoria in varCategoria_de_Servicio_de_Apoyo_Categoria)
				{
					if (itemCategoria.Value == Convert.ToString(Model.Categoria))
					{
						<option value="@itemCategoria.Value" selected>@itemCategoria.Text</option>
					}
					else
					{
						<option value="@itemCategoria.Value">@itemCategoria.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divServicio">
	<label class="col-sm-2 control-label">@Resources.Configuracion_de_PlaneacionResources.Servicio</label>
	<div class="col-sm-8" data-field-id="Servicio" data-attribute="267349" data-field-name="@Resources.Configuracion_de_PlaneacionResources.Servicio">
		<select class="form-control" data-val="true" data-val-number="The field Servicio must be a number." data-val-required="The Servicio field is required." id="Configuracion_de_PlaneacionServicio" name="Configuracion_de_PlaneacionServicio">
			<option value=""></option>
			@if (varTipo_de_Servicio_de_Apoyo_Servicio != null){ 
				foreach (var itemServicio in varTipo_de_Servicio_de_Apoyo_Servicio)
				{
					if (itemServicio.Value == Convert.ToString(Model.Servicio))
					{
						<option value="@itemServicio.Value" selected>@itemServicio.Text</option>
					}
					else
					{
						<option value="@itemServicio.Value">@itemServicio.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divEntregable">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_PlaneacionResources.Entregable</label>
                                <div class="col-sm-8" data-field-id="Entregable" data-attribute="267350" data-field-name="@Resources.Configuracion_de_PlaneacionResources.Entregable">
                                    <input class="form-control" id="Configuracion_de_PlaneacionEntregable" name="Configuracion_de_PlaneacionEntregable" type="text" value="@Model.Entregable">
                                </div>
                            </div>
<div class="form-group" id="divTiempo_Estandar">
	<label class="col-sm-2 control-label">@Resources.Configuracion_de_PlaneacionResources.Tiempo_Estandar</label>
	<div class="col-sm-8" data-field-id="Tiempo_Estandar" data-attribute="267351" data-field-name="@Resources.Configuracion_de_PlaneacionResources.Tiempo_Estandar">
		<input class="form-control inputNumber" id="Configuracion_de_PlaneacionTiempo_Estandar" name="Configuracion_de_PlaneacionTiempo_Estandar" type="text" value="@Model.Tiempo_Estandar">
	</div>
</div>
<div class="form-group" id="divPonderacion">
	<label class="col-sm-2 control-label">@Resources.Configuracion_de_PlaneacionResources.Ponderacion</label>
	<div class="col-sm-8" data-field-id="Ponderacion" data-attribute="267352" data-field-name="@Resources.Configuracion_de_PlaneacionResources.Ponderacion">
		<input class="form-control inputNumber" id="Configuracion_de_PlaneacionPonderacion" name="Configuracion_de_PlaneacionPonderacion" type="text" value="@Model.Ponderacion">
	</div>
</div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Folio" id="ReferenceFolio" />
												<input type="hidden" value="@Model.Folio" name="Folio" id="FolioId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Configuracion_de_PlaneacionConfigureSave" name="Configuracion_de_PlaneacionConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnConfiguracion_de_PlaneacionConfigureType" />
												<input type="hidden" id="hdnConfiguracion_de_PlaneacionBusinessRuleFieldId" />
												<input type="hidden" id="hdnConfiguracion_de_PlaneacionBusinessRuleFieldName" />
												<input type="hidden" id="hdnConfiguracion_de_PlaneacionBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Configuracion_de_PlaneacionGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Configuracion_de_PlaneacionBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Configuracion_de_Planeacion.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Configuracion_de_PlaneacionGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Configuracion_de_PlaneacionCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/DelitoCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Configuracion_de_PlaneacionRowElement = "Configuracion_de_PlaneacionPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Configuracion_de_PlaneacionRowElement + "')){ Configuracion_de_PlaneacionInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendConfiguracion_de_PlaneacionData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateConfiguracion_de_Planeacion").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateConfiguracion_de_Planeacion")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Configuracion_de_PlaneacionCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Configuracion_de_Planeacion/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Configuracion_de_PlaneacionPropertyBag", "Configuracion_de_Planeacion")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Configuracion_de_PlaneacionGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnConfiguracion_de_PlaneacionBusinessRuleFieldId').val(FieldId);
				$('#hdnConfiguracion_de_PlaneacionBusinessRuleFieldName').val(FieldName);
				$('#hdnConfiguracion_de_PlaneacionBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnConfiguracion_de_PlaneacionBusinessRuleFieldId').val(), FieldName: $('#hdnConfiguracion_de_PlaneacionBusinessRuleFieldName').val(), ObjectId: '45477', Attribute: $('#hdnConfiguracion_de_PlaneacionBusinessRuleAttribute').val(), Screen: 'Configuracion_de_Planeacion' }, function (data) {
                $(".Configuracion_de_PlaneacionBusinessRuleModal").html(data);
            });
        }
        function Configuracion_de_PlaneacionGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnConfiguracion_de_PlaneacionBusinessRuleFieldId').val(FieldId);
				$('#hdnConfiguracion_de_PlaneacionBusinessRuleFieldName').val(FieldName);
				$('#hdnConfiguracion_de_PlaneacionBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnConfiguracion_de_PlaneacionBusinessRuleFieldId').val(), FieldName: $('#hdnConfiguracion_de_PlaneacionBusinessRuleFieldName').val(), ObjectId: '45477', Attribute: $('#hdnConfiguracion_de_PlaneacionBusinessRuleAttribute').val(), Screen: 'Configuracion_de_Planeacion' }, function (data) {
                $(".Configuracion_de_PlaneacionAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnConfiguracion_de_PlaneacionBusinessRuleFieldId').val(), FieldName: $('#hdnConfiguracion_de_PlaneacionBusinessRuleFieldName').val(), ObjectId: '45477', Attribute: $('#hdnConfiguracion_de_PlaneacionBusinessRuleAttribute').val(), Screen: 'Configuracion_de_Planeacion' }, function (data) {
				$(".Configuracion_de_PlaneacionBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Configuracion_de_Planeacion/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Configuracion_de_Planeacion/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Configuracion_de_Planeacion/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfiguracion_de_PlaneacionConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfiguracion_de_PlaneacionConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Configuracion_de_Planeacion/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfiguracion_de_PlaneacionConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Configuracion_de_Planeacion/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Configuracion_de_Planeacion' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Configuracion_de_Planeacion' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Configuracion_de_PlaneacionConfigureSave').text('Save Settings');
                    $('#hdnConfiguracion_de_PlaneacionConfigureType').val("1");
                });
            }
        }
		$('#CreateConfiguracion_de_Planeacion').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnConfiguracion_de_PlaneacionBusinessRuleFieldId').val(fieldId);
			$('#hdnConfiguracion_de_PlaneacionBusinessRuleFieldName').val(fieldName);
			$('#hdnConfiguracion_de_PlaneacionBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
