@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.EncuestaAdvanceSearchModel
@{
    List<SelectListItem> varCatalogo_Numero_de_Preguntas_Numero_de_Preguntas = null;
    if (ViewBag.Catalogo_Numero_de_Preguntass_Numero_de_Preguntas != null)
    { varCatalogo_Numero_de_Preguntas_Numero_de_Preguntas = (List<SelectListItem>)ViewBag.Catalogo_Numero_de_Preguntass_Numero_de_Preguntas; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Encuesta", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.EncuestaResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.EncuestaResources.Numero_de_Preguntas</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_de_PreguntasFilter, filters, new { @class = "form-control", @id = "ddlNumero_de_PreguntasFilter" })
                    @Html.TextBoxFor(m => m.AdvanceNumero_de_Preguntas, new { @class = "form-control", @type = "text", @id = "txtAdvanceNumero_de_Preguntas" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varCatalogo_Numero_de_Preguntas_Numero_de_Preguntas!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceNumero_de_PreguntasMultiple, varCatalogo_Numero_de_Preguntas_Numero_de_Preguntas,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceNumero_de_Preguntas"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.EncuestaResources.Pregunta_1</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Pregunta_1Filter, filters, new { @class = "form-control", @id = "ddlPregunta_1Filter" })
                    @Html.TextBoxFor(m => m.Pregunta_1, new { @class = "form-control", @type = "text", @id = "txtPregunta_1" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.EncuestaResources.Pregunta_2</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Pregunta_2Filter, filters, new { @class = "form-control", @id = "ddlPregunta_2Filter" })
                    @Html.TextBoxFor(m => m.Pregunta_2, new { @class = "form-control", @type = "text", @id = "txtPregunta_2" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.EncuestaResources.Pregunta_3</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Pregunta_3Filter, filters, new { @class = "form-control", @id = "ddlPregunta_3Filter" })
                    @Html.TextBoxFor(m => m.Pregunta_3, new { @class = "form-control", @type = "text", @id = "txtPregunta_3" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.EncuestaResources.Pregunta_4</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Pregunta_4Filter, filters, new { @class = "form-control", @id = "ddlPregunta_4Filter" })
                    @Html.TextBoxFor(m => m.Pregunta_4, new { @class = "form-control", @type = "text", @id = "txtPregunta_4" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.EncuestaResources.Pregunta_5</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Pregunta_5Filter, filters, new { @class = "form-control", @id = "ddlPregunta_5Filter" })
                    @Html.TextBoxFor(m => m.Pregunta_5, new { @class = "form-control", @type = "text", @id = "txtPregunta_5" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.EncuestaResources.Pregunta_6</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Pregunta_6Filter, filters, new { @class = "form-control", @id = "ddlPregunta_6Filter" })
                    @Html.TextBoxFor(m => m.Pregunta_6, new { @class = "form-control", @type = "text", @id = "txtPregunta_6" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.EncuestaResources.Pregunta_7</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Pregunta_7Filter, filters, new { @class = "form-control", @id = "ddlPregunta_7Filter" })
                    @Html.TextBoxFor(m => m.Pregunta_7, new { @class = "form-control", @type = "text", @id = "txtPregunta_7" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.EncuestaResources.Pregunta_8</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Pregunta_8Filter, filters, new { @class = "form-control", @id = "ddlPregunta_8Filter" })
                    @Html.TextBoxFor(m => m.Pregunta_8, new { @class = "form-control", @type = "text", @id = "txtPregunta_8" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.EncuestaResources.Pregunta_9</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Pregunta_9Filter, filters, new { @class = "form-control", @id = "ddlPregunta_9Filter" })
                    @Html.TextBoxFor(m => m.Pregunta_9, new { @class = "form-control", @type = "text", @id = "txtPregunta_9" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.EncuestaResources.Pregunta_10</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Pregunta_10Filter, filters, new { @class = "form-control", @id = "ddlPregunta_10Filter" })
                    @Html.TextBoxFor(m => m.Pregunta_10, new { @class = "form-control", @type = "text", @id = "txtPregunta_10" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Encuesta/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.EncuestaClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.EncuestaClaveTo = $("#txtAdvanceToClave").val();
        }
        advanceSearch.Numero_de_PreguntasSearchType = 0;
        if ($('#ddlAdvanceNumero_de_Preguntas').val().length > 0 || $("#txtAdvanceNumero_de_Preguntas").val() == "") {


            if (isEncuestaTextSearch) {
                advanceSearch.Numero_de_PreguntasName = $("#txtAdvanceNumero_de_Preguntas").val();
                advanceSearch.Numero_de_PreguntasNameSearchType = $("#ddlAdvanceNumero_de_Preguntas").val();
                advanceSearch.Numero_de_PreguntasSearchType = 1;
            }
            else {

                advanceSearch.Numero_de_PreguntasToSearch = $("#ddlAdvanceNumero_de_Preguntas").val();
                advanceSearch.Numero_de_PreguntasSearchType = 2;
            }
        }
        if ($("#txtAdvancePregunta_1").val() != "") {
            hasParameter = true;
            advanceSearch.EncuestaPregunta_1 = $("#txtAdvancePregunta_1").val();
            advanceSearch.EncuestaPregunta_1SearchType = $("#ddlAdvancePregunta_1Filter").val();
        }
        if ($("#txtAdvancePregunta_2").val() != "") {
            hasParameter = true;
            advanceSearch.EncuestaPregunta_2 = $("#txtAdvancePregunta_2").val();
            advanceSearch.EncuestaPregunta_2SearchType = $("#ddlAdvancePregunta_2Filter").val();
        }
        if ($("#txtAdvancePregunta_3").val() != "") {
            hasParameter = true;
            advanceSearch.EncuestaPregunta_3 = $("#txtAdvancePregunta_3").val();
            advanceSearch.EncuestaPregunta_3SearchType = $("#ddlAdvancePregunta_3Filter").val();
        }
        if ($("#txtAdvancePregunta_4").val() != "") {
            hasParameter = true;
            advanceSearch.EncuestaPregunta_4 = $("#txtAdvancePregunta_4").val();
            advanceSearch.EncuestaPregunta_4SearchType = $("#ddlAdvancePregunta_4Filter").val();
        }
        if ($("#txtAdvancePregunta_5").val() != "") {
            hasParameter = true;
            advanceSearch.EncuestaPregunta_5 = $("#txtAdvancePregunta_5").val();
            advanceSearch.EncuestaPregunta_5SearchType = $("#ddlAdvancePregunta_5Filter").val();
        }
        if ($("#txtAdvancePregunta_6").val() != "") {
            hasParameter = true;
            advanceSearch.EncuestaPregunta_6 = $("#txtAdvancePregunta_6").val();
            advanceSearch.EncuestaPregunta_6SearchType = $("#ddlAdvancePregunta_6Filter").val();
        }
        if ($("#txtAdvancePregunta_7").val() != "") {
            hasParameter = true;
            advanceSearch.EncuestaPregunta_7 = $("#txtAdvancePregunta_7").val();
            advanceSearch.EncuestaPregunta_7SearchType = $("#ddlAdvancePregunta_7Filter").val();
        }
        if ($("#txtAdvancePregunta_8").val() != "") {
            hasParameter = true;
            advanceSearch.EncuestaPregunta_8 = $("#txtAdvancePregunta_8").val();
            advanceSearch.EncuestaPregunta_8SearchType = $("#ddlAdvancePregunta_8Filter").val();
        }
        if ($("#txtAdvancePregunta_9").val() != "") {
            hasParameter = true;
            advanceSearch.EncuestaPregunta_9 = $("#txtAdvancePregunta_9").val();
            advanceSearch.EncuestaPregunta_9SearchType = $("#ddlAdvancePregunta_9Filter").val();
        }
        if ($("#txtAdvancePregunta_10").val() != "") {
            hasParameter = true;
            advanceSearch.EncuestaPregunta_10 = $("#txtAdvancePregunta_10").val();
            advanceSearch.EncuestaPregunta_10SearchType = $("#ddlAdvancePregunta_10Filter").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblEncuesta').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isEncuestaTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceNumero_de_Preguntas").keypress(function () {
            isEncuestaTextSearch = true;
            $("#ddlAdvanceNumero_de_Preguntas").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceNumero_de_Preguntas").change(function () {
            isEncuestaTextSearch = false;
            $("#txtAdvanceNumero_de_Preguntas").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

