@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Registro_de_Tiempo_por_EstatusAdvanceSearchModel
@{
    List<SelectListItem> varModulo_Atencion_Inicial_NUAT = null;
    if (ViewBag.Modulo_Atencion_Inicials_NUAT != null)
    { varModulo_Atencion_Inicial_NUAT = (List<SelectListItem>)ViewBag.Modulo_Atencion_Inicials_NUAT; }
    List<SelectListItem> varEstatus_Estatus_Interno = null;
    if (ViewBag.Estatuss_Estatus_Interno != null)
    { varEstatus_Estatus_Interno = (List<SelectListItem>)ViewBag.Estatuss_Estatus_Interno; }
    List<SelectListItem> varEstatus_Orientador_Estatus = null;
    if (ViewBag.Estatus_Orientadors_Estatus != null)
    { varEstatus_Orientador_Estatus = (List<SelectListItem>)ViewBag.Estatus_Orientadors_Estatus; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Registro_de_Tiempo_por_Estatus", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Registro_de_Tiempo_por_EstatusResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.Registro_de_Tiempo_por_EstatusResources.Fecha</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha" name="FromFecha" type="text" value="@Model.FromFecha" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha" name="ToFecha" type="text" value="@Model.ToFecha" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.Registro_de_Tiempo_por_EstatusResources.Hora</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromHora" name="FromHora" type="text" value="@Model.FromHora" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceToHora" name="ToHora" type="text" value="@Model.ToHora" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom">
                    <h3>@Resources.Registro_de_Tiempo_por_EstatusResources.NUAT</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.NUATFilter, filters, new { @class = "form-control", @id = "ddlNUATFilter" })
                    @Html.TextBoxFor(m => m.AdvanceNUAT, new { @class = "form-control", @type = "text", @id = "txtAdvanceNUAT" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varModulo_Atencion_Inicial_NUAT!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceNUATMultiple, varModulo_Atencion_Inicial_NUAT,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceNUAT"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Registro_de_Tiempo_por_EstatusResources.Estatus_Interno</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Estatus_InternoFilter, filters, new { @class = "form-control", @id = "ddlEstatus_InternoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceEstatus_Interno, new { @class = "form-control", @type = "text", @id = "txtAdvanceEstatus_Interno" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varEstatus_Estatus_Interno!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceEstatus_InternoMultiple, varEstatus_Estatus_Interno,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceEstatus_Interno"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Registro_de_Tiempo_por_EstatusResources.Estatus</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.EstatusFilter, filters, new { @class = "form-control", @id = "ddlEstatusFilter" })
                    @Html.TextBoxFor(m => m.AdvanceEstatus, new { @class = "form-control", @type = "text", @id = "txtAdvanceEstatus" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varEstatus_Orientador_Estatus!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceEstatusMultiple, varEstatus_Orientador_Estatus,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceEstatus"
                        });
                    }
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Registro_de_Tiempo_por_EstatusResources.Estatus_Destino</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromEstatus_Destino, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromEstatus_Destino" })
                    @Html.ValidationMessageFor(m => m.FromEstatus_Destino)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToEstatus_Destino, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToEstatus_Destino", @data_min = "txtAdvanceFromEstatus_Destino" })
                    @Html.ValidationMessageFor(m => m.ToEstatus_Destino)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Registro_de_Tiempo_por_EstatusResources.Tiempo_Transcurrido</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tiempo_TranscurridoFilter, filters, new { @class = "form-control", @id = "ddlTiempo_TranscurridoFilter" })
                    @Html.TextBoxFor(m => m.Tiempo_Transcurrido, new { @class = "form-control", @type = "text", @id = "txtTiempo_Transcurrido" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Registro_de_Tiempo_por_Estatus/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_Tiempo_por_EstatusClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Registro_de_Tiempo_por_EstatusClaveTo = $("#txtAdvanceToClave").val();
        }
        if ($("#txtAdvanceFromFecha").val() != "" || $("#txtAdvanceToFecha").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_Tiempo_por_EstatusFechaFrom = $("#txtAdvanceFromFecha").val();
            advanceSearch.Registro_de_Tiempo_por_EstatusFechaTo = $("#txtAdvanceToFecha").val();
        }
        if ($("#txtAdvanceHora").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_Tiempo_por_EstatusHora = $("#txtAdvanceHora").val();
            advanceSearch.Registro_de_Tiempo_por_EstatusHoraSearchType = $("#ddlAdvanceHoraFilter").val();
        }
        advanceSearch.NUATSearchType = 0;
        if ($('#ddlAdvanceNUAT').val().length > 0 || $("#txtAdvanceNUAT").val() == "") {


            if (isRegistro_de_Tiempo_por_EstatusTextSearch) {
                advanceSearch.NUATName = $("#txtAdvanceNUAT").val();
                advanceSearch.NUATNameSearchType = $("#ddlAdvanceNUAT").val();
                advanceSearch.NUATSearchType = 1;
            }
            else {

                advanceSearch.NUATToSearch = $("#ddlAdvanceNUAT").val();
                advanceSearch.NUATSearchType = 2;
            }
        }
        advanceSearch.Estatus_InternoSearchType = 0;
        if ($('#ddlAdvanceEstatus_Interno').val().length > 0 || $("#txtAdvanceEstatus_Interno").val() == "") {


            if (isRegistro_de_Tiempo_por_EstatusTextSearch) {
                advanceSearch.Estatus_InternoName = $("#txtAdvanceEstatus_Interno").val();
                advanceSearch.Estatus_InternoNameSearchType = $("#ddlAdvanceEstatus_Interno").val();
                advanceSearch.Estatus_InternoSearchType = 1;
            }
            else {

                advanceSearch.Estatus_InternoToSearch = $("#ddlAdvanceEstatus_Interno").val();
                advanceSearch.Estatus_InternoSearchType = 2;
            }
        }
        advanceSearch.EstatusSearchType = 0;
        if ($('#ddlAdvanceEstatus').val().length > 0 || $("#txtAdvanceEstatus").val() == "") {


            if (isRegistro_de_Tiempo_por_EstatusTextSearch) {
                advanceSearch.EstatusName = $("#txtAdvanceEstatus").val();
                advanceSearch.EstatusNameSearchType = $("#ddlAdvanceEstatus").val();
                advanceSearch.EstatusSearchType = 1;
            }
            else {

                advanceSearch.EstatusToSearch = $("#ddlAdvanceEstatus").val();
                advanceSearch.EstatusSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromEstatus_Destino").val() != "" || $("#txtAdvanceToEstatus_Destino").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_Tiempo_por_EstatusEstatus_DestinoFrom = $("#txtAdvanceFromEstatus_Destino").val();
            advanceSearch.Registro_de_Tiempo_por_EstatusEstatus_DestinoTo = $("#txtAdvanceToEstatus_Destino").val();
        }
        if ($("#txtAdvanceTiempo_Transcurrido").val() != "") {
            hasParameter = true;
            advanceSearch.Registro_de_Tiempo_por_EstatusTiempo_Transcurrido = $("#txtAdvanceTiempo_Transcurrido").val();
            advanceSearch.Registro_de_Tiempo_por_EstatusTiempo_TranscurridoSearchType = $("#ddlAdvanceTiempo_TranscurridoFilter").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblRegistro_de_Tiempo_por_Estatus').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isRegistro_de_Tiempo_por_EstatusTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceNUAT").keypress(function () {
            isRegistro_de_Tiempo_por_EstatusTextSearch = true;
            $("#ddlAdvanceNUAT").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceNUAT").change(function () {
            isRegistro_de_Tiempo_por_EstatusTextSearch = false;
            $("#txtAdvanceNUAT").val('');
        });
        $("#txtAdvanceEstatus_Interno").keypress(function () {
            isRegistro_de_Tiempo_por_EstatusTextSearch = true;
            $("#ddlAdvanceEstatus_Interno").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEstatus_Interno").change(function () {
            isRegistro_de_Tiempo_por_EstatusTextSearch = false;
            $("#txtAdvanceEstatus_Interno").val('');
        });
        $("#txtAdvanceEstatus").keypress(function () {
            isRegistro_de_Tiempo_por_EstatusTextSearch = true;
            $("#ddlAdvanceEstatus").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEstatus").change(function () {
            isRegistro_de_Tiempo_por_EstatusTextSearch = false;
            $("#txtAdvanceEstatus").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

