@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_de_Persona_Moral_JAModel
@{


    List<SelectListItem> varPais_Pais = null;
    if (ViewBag.Paiss_Pais != null)
    { varPais_Pais = (List<SelectListItem>)ViewBag.Paiss_Pais; }
    List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
    List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
    List<SelectListItem> varColonia_Poblacion = null;
    if (ViewBag.Colonias_Poblacion != null)
    { varColonia_Poblacion = (List<SelectListItem>)ViewBag.Colonias_Poblacion; }
    List<SelectListItem> varColonia_Colonia = null;
    if (ViewBag.Colonias_Colonia != null)
    { varColonia_Colonia = (List<SelectListItem>)ViewBag.Colonias_Colonia; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle de Persona Moral JA
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_de_Persona_Moral_JARemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_de_Persona_Moral_JAPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle de Persona Moral JA
								<button onclick="Detalle_de_Persona_Moral_JAGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_de_Persona_Moral_JABusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_de_Persona_Moral_JAResources.Detalle_de_Persona_Moral_JA</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_de_Persona_Moral_JADisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_de_Persona_Moral_JAPropertyBusinessModal" id="Detalle_de_Persona_Moral_JAPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_de_Persona_Moral_JABusinessRule-form" onclick="Detalle_de_Persona_Moral_JAGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_de_Persona_Moral_JAPropertyModal" id="Detalle_de_Persona_Moral_JAPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_de_Persona_Moral_JABusinessRuleModal" id="Detalle_de_Persona_Moral_JABusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_de_Persona_Moral_JAAddBusinessRuleModal" id="Detalle_de_Persona_Moral_JAAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_de_Persona_Moral_JA", FormMethod.Post, new { id = "CreateDetalle_de_Persona_Moral_JA", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_de_Persona_Moral_JACreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="264986" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Clave">
                                    <label class="form-control" for="Detalle_de_Persona_Moral_JAClave" id="Detalle_de_Persona_Moral_JAClave">@Model.Clave</label>
                                </div>
                            </div>
<div class="form-group" id="divNombre">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Nombre</label>
                                <div class="col-sm-8" data-field-id="Nombre" data-attribute="264987" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Nombre">
                                    <input class="form-control" id="Detalle_de_Persona_Moral_JANombre" name="Detalle_de_Persona_Moral_JANombre" type="text" value="@Model.Nombre">
                                </div>
                            </div>
<div class="form-group" id="divApellido_Paterno">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Apellido_Paterno</label>
                                <div class="col-sm-8" data-field-id="Apellido_Paterno" data-attribute="264988" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Apellido_Paterno">
                                    <input class="form-control" id="Detalle_de_Persona_Moral_JAApellido_Paterno" name="Detalle_de_Persona_Moral_JAApellido_Paterno" type="text" value="@Model.Apellido_Paterno">
                                </div>
                            </div>
<div class="form-group" id="divApellido_Materno">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Apellido_Materno</label>
                                <div class="col-sm-8" data-field-id="Apellido_Materno" data-attribute="264989" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Apellido_Materno">
                                    <input class="form-control" id="Detalle_de_Persona_Moral_JAApellido_Materno" name="Detalle_de_Persona_Moral_JAApellido_Materno" type="text" value="@Model.Apellido_Materno">
                                </div>
                            </div>
<div class="form-group" id="divCalidad_Juridica">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Calidad_Juridica</label>
                                <div class="col-sm-8" data-field-id="Calidad_Juridica" data-attribute="264990" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Calidad_Juridica">
                                    <input class="form-control" id="Detalle_de_Persona_Moral_JACalidad_Juridica" name="Detalle_de_Persona_Moral_JACalidad_Juridica" type="text" value="@Model.Calidad_Juridica">
                                </div>
                            </div>
<div class="form-group" id="divRazon_Social">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Razon_Social</label>
                                <div class="col-sm-8" data-field-id="Razon_Social" data-attribute="264991" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Razon_Social">
                                    <input class="form-control" id="Detalle_de_Persona_Moral_JARazon_Social" name="Detalle_de_Persona_Moral_JARazon_Social" type="text" value="@Model.Razon_Social">
                                </div>
                            </div>
<div class="form-group" id="divCURP">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.CURP</label>
                                <div class="col-sm-8" data-field-id="CURP" data-attribute="265005" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.CURP">
                                    <input class="form-control" id="Detalle_de_Persona_Moral_JACURP" name="Detalle_de_Persona_Moral_JACURP" type="text" value="@Model.CURP">
                                </div>
                            </div>
<div class="form-group" id="divRFC">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.RFC</label>
                                <div class="col-sm-8" data-field-id="RFC" data-attribute="265006" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.RFC">
                                    <input class="form-control" id="Detalle_de_Persona_Moral_JARFC" name="Detalle_de_Persona_Moral_JARFC" type="text" value="@Model.RFC">
                                </div>
                            </div>
<div class="form-group" id="divPais">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Pais</label>
	<div class="col-sm-8" data-field-id="Pais" data-attribute="264992" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Pais">
		<select class="form-control" data-val="true" data-val-number="The field País must be a number." data-val-required="The País field is required." id="Detalle_de_Persona_Moral_JAPais" name="Detalle_de_Persona_Moral_JAPais">
			<option value=""></option>
			@if (varPais_Pais != null){ 
				foreach (var itemPais in varPais_Pais)
				{
					if (itemPais.Value == Convert.ToString(Model.Pais))
					{
						<option value="@itemPais.Value" selected>@itemPais.Text</option>
					}
					else
					{
						<option value="@itemPais.Value">@itemPais.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divEstado">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Estado</label>
	<div class="col-sm-8" data-field-id="Estado" data-attribute="264993" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Estado">
		<select class="form-control" data-val="true" data-val-number="The field Estado must be a number." data-val-required="The Estado field is required." id="Detalle_de_Persona_Moral_JAEstado" name="Detalle_de_Persona_Moral_JAEstado">
			<option value=""></option>
			@if (varEstado_Estado != null){ 
				foreach (var itemEstado in varEstado_Estado)
				{
					if (itemEstado.Value == Convert.ToString(Model.Estado))
					{
						<option value="@itemEstado.Value" selected>@itemEstado.Text</option>
					}
					else
					{
						<option value="@itemEstado.Value">@itemEstado.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divMunicipio">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Municipio</label>
	<div class="col-sm-8" data-field-id="Municipio" data-attribute="264994" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Municipio">
		<select class="form-control" data-val="true" data-val-number="The field Municipio must be a number." data-val-required="The Municipio field is required." id="Detalle_de_Persona_Moral_JAMunicipio" name="Detalle_de_Persona_Moral_JAMunicipio">
			<option value=""></option>
			@if (varMunicipio_Municipio != null){ 
				foreach (var itemMunicipio in varMunicipio_Municipio)
				{
					if (itemMunicipio.Value == Convert.ToString(Model.Municipio))
					{
						<option value="@itemMunicipio.Value" selected>@itemMunicipio.Text</option>
					}
					else
					{
						<option value="@itemMunicipio.Value">@itemMunicipio.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divPoblacion">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Poblacion</label>
	<div class="col-sm-8" data-field-id="Poblacion" data-attribute="265890" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Poblacion">
		<select class="form-control" data-val="true" data-val-number="The field Poblacion must be a number." data-val-required="The Poblacion field is required." id="Detalle_de_Persona_Moral_JAPoblacion" name="Detalle_de_Persona_Moral_JAPoblacion">
			<option value=""></option>
			@if (varColonia_Poblacion != null){ 
				foreach (var itemPoblacion in varColonia_Poblacion)
				{
					if (itemPoblacion.Value == Convert.ToString(Model.Poblacion))
					{
						<option value="@itemPoblacion.Value" selected>@itemPoblacion.Text</option>
					}
					else
					{
						<option value="@itemPoblacion.Value">@itemPoblacion.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divColonia">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Colonia</label>
	<div class="col-sm-8" data-field-id="Colonia" data-attribute="264995" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Colonia">
		<select class="form-control" data-val="true" data-val-number="The field Colonia must be a number." data-val-required="The Colonia field is required." id="Detalle_de_Persona_Moral_JAColonia" name="Detalle_de_Persona_Moral_JAColonia">
			<option value=""></option>
			@if (varColonia_Colonia != null){ 
				foreach (var itemColonia in varColonia_Colonia)
				{
					if (itemColonia.Value == Convert.ToString(Model.Colonia))
					{
						<option value="@itemColonia.Value" selected>@itemColonia.Text</option>
					}
					else
					{
						<option value="@itemColonia.Value">@itemColonia.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divCodigo_Postal">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Codigo_Postal</label>
	<div class="col-sm-8" data-field-id="Codigo_Postal" data-attribute="264996" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Codigo_Postal">
		<input class="form-control inputNumber" id="Detalle_de_Persona_Moral_JACodigo_Postal" name="Detalle_de_Persona_Moral_JACodigo_Postal" type="text" value="@Model.Codigo_Postal">
	</div>
</div>
<div class="form-group" id="divCalle">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Calle</label>
                                <div class="col-sm-8" data-field-id="Calle" data-attribute="264997" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Calle">
                                    <input class="form-control" id="Detalle_de_Persona_Moral_JACalle" name="Detalle_de_Persona_Moral_JACalle" type="text" value="@Model.Calle">
                                </div>
                            </div>
<div class="form-group" id="divNumero_Exterior">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Numero_Exterior</label>
                                <div class="col-sm-8" data-field-id="Numero_Exterior" data-attribute="264998" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Numero_Exterior">
                                    <input class="form-control" id="Detalle_de_Persona_Moral_JANumero_Exterior" name="Detalle_de_Persona_Moral_JANumero_Exterior" type="text" value="@Model.Numero_Exterior">
                                </div>
                            </div>
<div class="form-group" id="divNumero_Interior">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Numero_Interior</label>
                                <div class="col-sm-8" data-field-id="Numero_Interior" data-attribute="264999" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Numero_Interior">
                                    <input class="form-control" id="Detalle_de_Persona_Moral_JANumero_Interior" name="Detalle_de_Persona_Moral_JANumero_Interior" type="text" value="@Model.Numero_Interior">
                                </div>
                            </div>
<div class="form-group" id="divReferencia">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Referencia</label>
                                <div class="col-sm-8" data-field-id="Referencia" data-attribute="265891" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Referencia">
                                    <input class="form-control" id="Detalle_de_Persona_Moral_JAReferencia" name="Detalle_de_Persona_Moral_JAReferencia" type="text" value="@Model.Referencia">
                                </div>
                            </div>
<div class="form-group" id="divLatitud">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Latitud</label>
                                <div class="col-sm-8" data-field-id="Latitud" data-attribute="265892" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Latitud">
                                    <input class="form-control" id="Detalle_de_Persona_Moral_JALatitud" name="Detalle_de_Persona_Moral_JALatitud" type="text" value="@Model.Latitud">
                                </div>
                            </div>
<div class="form-group" id="divLongitud">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Longitud</label>
                                <div class="col-sm-8" data-field-id="Longitud" data-attribute="265893" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Longitud">
                                    <input class="form-control" id="Detalle_de_Persona_Moral_JALongitud" name="Detalle_de_Persona_Moral_JALongitud" type="text" value="@Model.Longitud">
                                </div>
                            </div>
<div class="form-group" id="divTelefono">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Telefono</label>
                                <div class="col-sm-8" data-field-id="Telefono" data-attribute="265000" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Telefono">
                                    <input class="form-control" id="Detalle_de_Persona_Moral_JATelefono" name="Detalle_de_Persona_Moral_JATelefono" type="text" value="@Model.Telefono">
                                </div>
                            </div>
<div class="form-group" id="divExtension">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Extension</label>
	<div class="col-sm-8" data-field-id="Extension" data-attribute="265001" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Extension">
		<input class="form-control inputNumber" id="Detalle_de_Persona_Moral_JAExtension" name="Detalle_de_Persona_Moral_JAExtension" type="text" value="@Model.Extension">
	</div>
</div>
<div class="form-group" id="divCelular">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Celular</label>
                                <div class="col-sm-8" data-field-id="Celular" data-attribute="265002" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Celular">
                                    <input class="form-control" id="Detalle_de_Persona_Moral_JACelular" name="Detalle_de_Persona_Moral_JACelular" type="text" value="@Model.Celular">
                                </div>
                            </div>
<div class="form-group" id="divCorreo_Electronico">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_Persona_Moral_JAResources.Correo_Electronico</label>
                                <div class="col-sm-8" data-field-id="Correo_Electronico" data-attribute="265003" data-field-name="@Resources.Detalle_de_Persona_Moral_JAResources.Correo_Electronico">
                                    <input class="form-control" id="Detalle_de_Persona_Moral_JACorreo_Electronico" name="Detalle_de_Persona_Moral_JACorreo_Electronico" type="text" value="@Model.Correo_Electronico">
                                </div>
                            </div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Clave" id="ReferenceClave" />
												<input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_de_Persona_Moral_JAConfigureSave" name="Detalle_de_Persona_Moral_JAConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_de_Persona_Moral_JAConfigureType" />
												<input type="hidden" id="hdnDetalle_de_Persona_Moral_JABusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_de_Persona_Moral_JABusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_de_Persona_Moral_JABusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_de_Persona_Moral_JAGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_de_Persona_Moral_JABusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_de_Persona_Moral_JA.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_de_Persona_Moral_JAGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_de_Persona_Moral_JACreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/SolicitudCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_de_Persona_Moral_JARowElement = "Detalle_de_Persona_Moral_JAPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_de_Persona_Moral_JARowElement + "')){ Detalle_de_Persona_Moral_JAInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDetalle_de_Persona_Moral_JAData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_de_Persona_Moral_JA").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_de_Persona_Moral_JA")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_de_Persona_Moral_JACreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_de_Persona_Moral_JA/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_de_Persona_Moral_JAPropertyBag", "Detalle_de_Persona_Moral_JA")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_de_Persona_Moral_JAGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_de_Persona_Moral_JABusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_de_Persona_Moral_JABusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_de_Persona_Moral_JABusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_de_Persona_Moral_JABusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_de_Persona_Moral_JABusinessRuleFieldName').val(), ObjectId: '45208', Attribute: $('#hdnDetalle_de_Persona_Moral_JABusinessRuleAttribute').val(), Screen: 'Detalle_de_Persona_Moral_JA' }, function (data) {
                $(".Detalle_de_Persona_Moral_JABusinessRuleModal").html(data);
            });
        }
        function Detalle_de_Persona_Moral_JAGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_de_Persona_Moral_JABusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_de_Persona_Moral_JABusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_de_Persona_Moral_JABusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_de_Persona_Moral_JABusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_de_Persona_Moral_JABusinessRuleFieldName').val(), ObjectId: '45208', Attribute: $('#hdnDetalle_de_Persona_Moral_JABusinessRuleAttribute').val(), Screen: 'Detalle_de_Persona_Moral_JA' }, function (data) {
                $(".Detalle_de_Persona_Moral_JAAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_de_Persona_Moral_JABusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_de_Persona_Moral_JABusinessRuleFieldName').val(), ObjectId: '45208', Attribute: $('#hdnDetalle_de_Persona_Moral_JABusinessRuleAttribute').val(), Screen: 'Detalle_de_Persona_Moral_JA' }, function (data) {
				$(".Detalle_de_Persona_Moral_JABusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_de_Persona_Moral_JA/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_de_Persona_Moral_JA/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_de_Persona_Moral_JA/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_de_Persona_Moral_JAConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_de_Persona_Moral_JAConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_de_Persona_Moral_JA/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_de_Persona_Moral_JAConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_de_Persona_Moral_JA/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_de_Persona_Moral_JA' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_de_Persona_Moral_JA' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_de_Persona_Moral_JAConfigureSave').text('Save Settings');
                    $('#hdnDetalle_de_Persona_Moral_JAConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_de_Persona_Moral_JA').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_de_Persona_Moral_JABusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_de_Persona_Moral_JABusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_de_Persona_Moral_JABusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
