@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_de_Persona_Moral_JAAdvanceSearchModel
@{
 List<SelectListItem> varSolicitud_Solicitud = null;
    if (ViewBag.Solicituds_Solicitud != null)
    { varSolicitud_Solicitud = (List<SelectListItem>)ViewBag.Solicituds_Solicitud; }
 List<SelectListItem> varPais_Pais = null;
    if (ViewBag.Paiss_Pais != null)
    { varPais_Pais = (List<SelectListItem>)ViewBag.Paiss_Pais; }
 List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
 List<SelectListItem> varColonia_Poblacion = null;
    if (ViewBag.Colonias_Poblacion != null)
    { varColonia_Poblacion = (List<SelectListItem>)ViewBag.Colonias_Poblacion; }
 List<SelectListItem> varColonia_Colonia = null;
    if (ViewBag.Colonias_Colonia != null)
    { varColonia_Colonia = (List<SelectListItem>)ViewBag.Colonias_Colonia; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Detalle_de_Persona_Moral_JA", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.idRegistroAT</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromidRegistroAT, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromidRegistroAT" })
                    @Html.ValidationMessageFor(m => m.FromidRegistroAT)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToidRegistroAT, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToidRegistroAT", @data_min = "txtAdvanceFromidRegistroAT" })
                    @Html.ValidationMessageFor(m => m.ToidRegistroAT)
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.idRegistroUI</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromidRegistroUI, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromidRegistroUI" })
                    @Html.ValidationMessageFor(m => m.FromidRegistroUI)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToidRegistroUI, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToidRegistroUI", @data_min = "txtAdvanceFromidRegistroUI" })
                    @Html.ValidationMessageFor(m => m.ToidRegistroUI)
                </div>
 List<SelectListItem> varSolicitud_Solicitud = null;
    if (ViewBag.Solicituds_Solicitud != null)
    { varSolicitud_Solicitud = (List<SelectListItem>)ViewBag.Solicituds_Solicitud; }
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Nombre</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.NombreFilter, filters, new { @class = "form-control", @id = "ddlNombreFilter" })
                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @type = "text", @id = "txtNombre" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Apellido_Paterno</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Apellido_PaternoFilter, filters, new { @class = "form-control", @id = "ddlApellido_PaternoFilter" })
                    @Html.TextBoxFor(m => m.Apellido_Paterno, new { @class = "form-control", @type = "text", @id = "txtApellido_Paterno" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Apellido_Materno</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Apellido_MaternoFilter, filters, new { @class = "form-control", @id = "ddlApellido_MaternoFilter" })
                    @Html.TextBoxFor(m => m.Apellido_Materno, new { @class = "form-control", @type = "text", @id = "txtApellido_Materno" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Calidad_Juridica</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Calidad_JuridicaFilter, filters, new { @class = "form-control", @id = "ddlCalidad_JuridicaFilter" })
                    @Html.TextBoxFor(m => m.Calidad_Juridica, new { @class = "form-control", @type = "text", @id = "txtCalidad_Juridica" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Razon_Social</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Razon_SocialFilter, filters, new { @class = "form-control", @id = "ddlRazon_SocialFilter" })
                    @Html.TextBoxFor(m => m.Razon_Social, new { @class = "form-control", @type = "text", @id = "txtRazon_Social" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.CURP</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.CURPFilter, filters, new { @class = "form-control", @id = "ddlCURPFilter" })
                    @Html.TextBoxFor(m => m.CURP, new { @class = "form-control", @type = "text", @id = "txtCURP" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.RFC</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.RFCFilter, filters, new { @class = "form-control", @id = "ddlRFCFilter" })
                    @Html.TextBoxFor(m => m.RFC, new { @class = "form-control", @type = "text", @id = "txtRFC" })
                </div>
 List<SelectListItem> varPais_Pais = null;
    if (ViewBag.Paiss_Pais != null)
    { varPais_Pais = (List<SelectListItem>)ViewBag.Paiss_Pais; }
 List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
 List<SelectListItem> varColonia_Poblacion = null;
    if (ViewBag.Colonias_Poblacion != null)
    { varColonia_Poblacion = (List<SelectListItem>)ViewBag.Colonias_Poblacion; }
 List<SelectListItem> varColonia_Colonia = null;
    if (ViewBag.Colonias_Colonia != null)
    { varColonia_Colonia = (List<SelectListItem>)ViewBag.Colonias_Colonia; }
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Codigo_Postal</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromCodigo_Postal, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromCodigo_Postal" })
                    @Html.ValidationMessageFor(m => m.FromCodigo_Postal)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToCodigo_Postal, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToCodigo_Postal", @data_min = "txtAdvanceFromCodigo_Postal" })
                    @Html.ValidationMessageFor(m => m.ToCodigo_Postal)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Calle</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.CalleFilter, filters, new { @class = "form-control", @id = "ddlCalleFilter" })
                    @Html.TextBoxFor(m => m.Calle, new { @class = "form-control", @type = "text", @id = "txtCalle" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Numero_Exterior</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_ExteriorFilter, filters, new { @class = "form-control", @id = "ddlNumero_ExteriorFilter" })
                    @Html.TextBoxFor(m => m.Numero_Exterior, new { @class = "form-control", @type = "text", @id = "txtNumero_Exterior" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Numero_Interior</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_InteriorFilter, filters, new { @class = "form-control", @id = "ddlNumero_InteriorFilter" })
                    @Html.TextBoxFor(m => m.Numero_Interior, new { @class = "form-control", @type = "text", @id = "txtNumero_Interior" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Referencia</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.ReferenciaFilter, filters, new { @class = "form-control", @id = "ddlReferenciaFilter" })
                    @Html.TextBoxFor(m => m.Referencia, new { @class = "form-control", @type = "text", @id = "txtReferencia" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Latitud</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.LatitudFilter, filters, new { @class = "form-control", @id = "ddlLatitudFilter" })
                    @Html.TextBoxFor(m => m.Latitud, new { @class = "form-control", @type = "text", @id = "txtLatitud" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Longitud</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.LongitudFilter, filters, new { @class = "form-control", @id = "ddlLongitudFilter" })
                    @Html.TextBoxFor(m => m.Longitud, new { @class = "form-control", @type = "text", @id = "txtLongitud" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Telefono</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.TelefonoFilter, filters, new { @class = "form-control", @id = "ddlTelefonoFilter" })
                    @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", @type = "text", @id = "txtTelefono" })
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Extension</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromExtension, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromExtension" })
                    @Html.ValidationMessageFor(m => m.FromExtension)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToExtension, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToExtension", @data_min = "txtAdvanceFromExtension" })
                    @Html.ValidationMessageFor(m => m.ToExtension)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Celular</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.CelularFilter, filters, new { @class = "form-control", @id = "ddlCelularFilter" })
                    @Html.TextBoxFor(m => m.Celular, new { @class = "form-control", @type = "text", @id = "txtCelular" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Persona_Moral_JAResources.Correo_Electronico</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Correo_ElectronicoFilter, filters, new { @class = "form-control", @id = "ddlCorreo_ElectronicoFilter" })
                    @Html.TextBoxFor(m => m.Correo_Electronico, new { @class = "form-control", @type = "text", @id = "txtCorreo_Electronico" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Detalle_de_Persona_Moral_JA/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JAClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Detalle_de_Persona_Moral_JAClaveTo = $("#txtAdvanceToClave").val();
        }
        if ($("#txtAdvanceFromidRegistroAT").val() != "" || $("#txtAdvanceToidRegistroAT").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JAidRegistroATFrom = $("#txtAdvanceFromidRegistroAT").val();
            advanceSearch.Detalle_de_Persona_Moral_JAidRegistroATTo = $("#txtAdvanceToidRegistroAT").val();
        }
        if ($("#txtAdvanceFromidRegistroUI").val() != "" || $("#txtAdvanceToidRegistroUI").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JAidRegistroUIFrom = $("#txtAdvanceFromidRegistroUI").val();
            advanceSearch.Detalle_de_Persona_Moral_JAidRegistroUITo = $("#txtAdvanceToidRegistroUI").val();
        }
        advanceSearch.SolicitudSearchType = 0;
        if ($('#ddlAdvanceSolicitud').val().length > 0 || $("#txtAdvanceSolicitud").val() == "") {


            if (isDetalle_de_Persona_Moral_JATextSearch) {
                advanceSearch.SolicitudName = $("#txtAdvanceSolicitud").val();
                advanceSearch.SolicitudNameSearchType = $("#ddlAdvanceSolicitud").val();
                advanceSearch.SolicitudSearchType = 1;
            }
            else {

                advanceSearch.SolicitudToSearch = $("#ddlAdvanceSolicitud").val();
                advanceSearch.SolicitudSearchType = 2;
            }
        }
        if ($("#txtAdvanceNombre").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JANombre = $("#txtAdvanceNombre").val();
            advanceSearch.Detalle_de_Persona_Moral_JANombreSearchType = $("#ddlAdvanceNombreFilter").val();
        }
        if ($("#txtAdvanceApellido_Paterno").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JAApellido_Paterno = $("#txtAdvanceApellido_Paterno").val();
            advanceSearch.Detalle_de_Persona_Moral_JAApellido_PaternoSearchType = $("#ddlAdvanceApellido_PaternoFilter").val();
        }
        if ($("#txtAdvanceApellido_Materno").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JAApellido_Materno = $("#txtAdvanceApellido_Materno").val();
            advanceSearch.Detalle_de_Persona_Moral_JAApellido_MaternoSearchType = $("#ddlAdvanceApellido_MaternoFilter").val();
        }
        if ($("#txtAdvanceCalidad_Juridica").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JACalidad_Juridica = $("#txtAdvanceCalidad_Juridica").val();
            advanceSearch.Detalle_de_Persona_Moral_JACalidad_JuridicaSearchType = $("#ddlAdvanceCalidad_JuridicaFilter").val();
        }
        if ($("#txtAdvanceRazon_Social").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JARazon_Social = $("#txtAdvanceRazon_Social").val();
            advanceSearch.Detalle_de_Persona_Moral_JARazon_SocialSearchType = $("#ddlAdvanceRazon_SocialFilter").val();
        }
        if ($("#txtAdvanceCURP").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JACURP = $("#txtAdvanceCURP").val();
            advanceSearch.Detalle_de_Persona_Moral_JACURPSearchType = $("#ddlAdvanceCURPFilter").val();
        }
        if ($("#txtAdvanceRFC").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JARFC = $("#txtAdvanceRFC").val();
            advanceSearch.Detalle_de_Persona_Moral_JARFCSearchType = $("#ddlAdvanceRFCFilter").val();
        }
        advanceSearch.PaisSearchType = 0;
        if ($('#ddlAdvancePais').val().length > 0 || $("#txtAdvancePais").val() == "") {


            if (isDetalle_de_Persona_Moral_JATextSearch) {
                advanceSearch.PaisName = $("#txtAdvancePais").val();
                advanceSearch.PaisNameSearchType = $("#ddlAdvancePais").val();
                advanceSearch.PaisSearchType = 1;
            }
            else {

                advanceSearch.PaisToSearch = $("#ddlAdvancePais").val();
                advanceSearch.PaisSearchType = 2;
            }
        }
        advanceSearch.EstadoSearchType = 0;
        if ($('#ddlAdvanceEstado').val().length > 0 || $("#txtAdvanceEstado").val() == "") {


            if (isDetalle_de_Persona_Moral_JATextSearch) {
                advanceSearch.EstadoName = $("#txtAdvanceEstado").val();
                advanceSearch.EstadoNameSearchType = $("#ddlAdvanceEstado").val();
                advanceSearch.EstadoSearchType = 1;
            }
            else {

                advanceSearch.EstadoToSearch = $("#ddlAdvanceEstado").val();
                advanceSearch.EstadoSearchType = 2;
            }
        }
        advanceSearch.MunicipioSearchType = 0;
        if ($('#ddlAdvanceMunicipio').val().length > 0 || $("#txtAdvanceMunicipio").val() == "") {


            if (isDetalle_de_Persona_Moral_JATextSearch) {
                advanceSearch.MunicipioName = $("#txtAdvanceMunicipio").val();
                advanceSearch.MunicipioNameSearchType = $("#ddlAdvanceMunicipio").val();
                advanceSearch.MunicipioSearchType = 1;
            }
            else {

                advanceSearch.MunicipioToSearch = $("#ddlAdvanceMunicipio").val();
                advanceSearch.MunicipioSearchType = 2;
            }
        }
        advanceSearch.PoblacionSearchType = 0;
        if ($('#ddlAdvancePoblacion').val().length > 0 || $("#txtAdvancePoblacion").val() == "") {


            if (isDetalle_de_Persona_Moral_JATextSearch) {
                advanceSearch.PoblacionName = $("#txtAdvancePoblacion").val();
                advanceSearch.PoblacionNameSearchType = $("#ddlAdvancePoblacion").val();
                advanceSearch.PoblacionSearchType = 1;
            }
            else {

                advanceSearch.PoblacionToSearch = $("#ddlAdvancePoblacion").val();
                advanceSearch.PoblacionSearchType = 2;
            }
        }
        advanceSearch.ColoniaSearchType = 0;
        if ($('#ddlAdvanceColonia').val().length > 0 || $("#txtAdvanceColonia").val() == "") {


            if (isDetalle_de_Persona_Moral_JATextSearch) {
                advanceSearch.ColoniaName = $("#txtAdvanceColonia").val();
                advanceSearch.ColoniaNameSearchType = $("#ddlAdvanceColonia").val();
                advanceSearch.ColoniaSearchType = 1;
            }
            else {

                advanceSearch.ColoniaToSearch = $("#ddlAdvanceColonia").val();
                advanceSearch.ColoniaSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromCodigo_Postal").val() != "" || $("#txtAdvanceToCodigo_Postal").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JACodigo_PostalFrom = $("#txtAdvanceFromCodigo_Postal").val();
            advanceSearch.Detalle_de_Persona_Moral_JACodigo_PostalTo = $("#txtAdvanceToCodigo_Postal").val();
        }
        if ($("#txtAdvanceCalle").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JACalle = $("#txtAdvanceCalle").val();
            advanceSearch.Detalle_de_Persona_Moral_JACalleSearchType = $("#ddlAdvanceCalleFilter").val();
        }
        if ($("#txtAdvanceNumero_Exterior").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JANumero_Exterior = $("#txtAdvanceNumero_Exterior").val();
            advanceSearch.Detalle_de_Persona_Moral_JANumero_ExteriorSearchType = $("#ddlAdvanceNumero_ExteriorFilter").val();
        }
        if ($("#txtAdvanceNumero_Interior").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JANumero_Interior = $("#txtAdvanceNumero_Interior").val();
            advanceSearch.Detalle_de_Persona_Moral_JANumero_InteriorSearchType = $("#ddlAdvanceNumero_InteriorFilter").val();
        }
        if ($("#txtAdvanceReferencia").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JAReferencia = $("#txtAdvanceReferencia").val();
            advanceSearch.Detalle_de_Persona_Moral_JAReferenciaSearchType = $("#ddlAdvanceReferenciaFilter").val();
        }
        if ($("#txtAdvanceLatitud").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JALatitud = $("#txtAdvanceLatitud").val();
            advanceSearch.Detalle_de_Persona_Moral_JALatitudSearchType = $("#ddlAdvanceLatitudFilter").val();
        }
        if ($("#txtAdvanceLongitud").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JALongitud = $("#txtAdvanceLongitud").val();
            advanceSearch.Detalle_de_Persona_Moral_JALongitudSearchType = $("#ddlAdvanceLongitudFilter").val();
        }
        if ($("#txtAdvanceTelefono").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JATelefono = $("#txtAdvanceTelefono").val();
            advanceSearch.Detalle_de_Persona_Moral_JATelefonoSearchType = $("#ddlAdvanceTelefonoFilter").val();
        }
        if ($("#txtAdvanceFromExtension").val() != "" || $("#txtAdvanceToExtension").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JAExtensionFrom = $("#txtAdvanceFromExtension").val();
            advanceSearch.Detalle_de_Persona_Moral_JAExtensionTo = $("#txtAdvanceToExtension").val();
        }
        if ($("#txtAdvanceCelular").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JACelular = $("#txtAdvanceCelular").val();
            advanceSearch.Detalle_de_Persona_Moral_JACelularSearchType = $("#ddlAdvanceCelularFilter").val();
        }
        if ($("#txtAdvanceCorreo_Electronico").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Persona_Moral_JACorreo_Electronico = $("#txtAdvanceCorreo_Electronico").val();
            advanceSearch.Detalle_de_Persona_Moral_JACorreo_ElectronicoSearchType = $("#ddlAdvanceCorreo_ElectronicoFilter").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblDetalle_de_Persona_Moral_JA').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isDetalle_de_Persona_Moral_JATextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceSolicitud").keypress(function () {
            isDetalle_de_Persona_Moral_JATextSearch = true;
            $("#ddlAdvanceSolicitud").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceSolicitud").change(function () {
            isDetalle_de_Persona_Moral_JATextSearch = false;
            $("#txtAdvanceSolicitud").val('');
        });
        $("#txtAdvancePais").keypress(function () {
            isDetalle_de_Persona_Moral_JATextSearch = true;
            $("#ddlAdvancePais").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancePais").change(function () {
            isDetalle_de_Persona_Moral_JATextSearch = false;
            $("#txtAdvancePais").val('');
        });
        $("#txtAdvanceEstado").keypress(function () {
            isDetalle_de_Persona_Moral_JATextSearch = true;
            $("#ddlAdvanceEstado").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEstado").change(function () {
            isDetalle_de_Persona_Moral_JATextSearch = false;
            $("#txtAdvanceEstado").val('');
        });
        $("#txtAdvanceMunicipio").keypress(function () {
            isDetalle_de_Persona_Moral_JATextSearch = true;
            $("#ddlAdvanceMunicipio").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceMunicipio").change(function () {
            isDetalle_de_Persona_Moral_JATextSearch = false;
            $("#txtAdvanceMunicipio").val('');
        });
        $("#txtAdvancePoblacion").keypress(function () {
            isDetalle_de_Persona_Moral_JATextSearch = true;
            $("#ddlAdvancePoblacion").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancePoblacion").change(function () {
            isDetalle_de_Persona_Moral_JATextSearch = false;
            $("#txtAdvancePoblacion").val('');
        });
        $("#txtAdvanceColonia").keypress(function () {
            isDetalle_de_Persona_Moral_JATextSearch = true;
            $("#ddlAdvanceColonia").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceColonia").change(function () {
            isDetalle_de_Persona_Moral_JATextSearch = false;
            $("#txtAdvanceColonia").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

