@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Aseguramiento_InmueblesModel
@{


    List<SelectListItem> varTipo_de_Zona_Zona = null;
    if (ViewBag.Tipo_de_Zonas_Zona != null)
    { varTipo_de_Zona_Zona = (List<SelectListItem>)ViewBag.Tipo_de_Zonas_Zona; }
 List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle Aseguramiento Inmuebles
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_Aseguramiento_InmueblesRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_Aseguramiento_InmueblesPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle Aseguramiento Inmuebles
								<button onclick="Detalle_Aseguramiento_InmueblesGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Aseguramiento_InmueblesBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_Aseguramiento_InmueblesResources.Detalle_Aseguramiento_Inmuebles</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_Aseguramiento_InmueblesDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_Aseguramiento_InmueblesPropertyBusinessModal" id="Detalle_Aseguramiento_InmueblesPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_Aseguramiento_InmueblesBusinessRule-form" onclick="Detalle_Aseguramiento_InmueblesGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Aseguramiento_InmueblesPropertyModal" id="Detalle_Aseguramiento_InmueblesPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Aseguramiento_InmueblesBusinessRuleModal" id="Detalle_Aseguramiento_InmueblesBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Aseguramiento_InmueblesAddBusinessRuleModal" id="Detalle_Aseguramiento_InmueblesAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_Aseguramiento_Inmuebles", FormMethod.Post, new { id = "CreateDetalle_Aseguramiento_Inmuebles", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_Aseguramiento_InmueblesCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_InmueblesResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="267494" data-field-name="@Resources.Detalle_Aseguramiento_InmueblesResources.Clave">
                                    <label class="form-control" for="Detalle_Aseguramiento_InmueblesClave" id="Detalle_Aseguramiento_InmueblesClave">@Model.Clave</label>
                                </div>
                            </div>
<div class="form-group" id="divZona">
	<label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_InmueblesResources.Zona</label>
	<div class="col-sm-8" data-field-id="Zona" data-attribute="267549" data-field-name="@Resources.Detalle_Aseguramiento_InmueblesResources.Zona">
		<select class="form-control" data-val="true" data-val-number="The field Zona must be a number." data-val-required="The Zona field is required." id="Detalle_Aseguramiento_InmueblesZona" name="Detalle_Aseguramiento_InmueblesZona">
			<option value=""></option>
			@if (varTipo_de_Zona_Zona != null){ 
				foreach (var itemZona in varTipo_de_Zona_Zona)
				{
					if (itemZona.Value == Convert.ToString(Model.Zona))
					{
						<option value="@itemZona.Value" selected>@itemZona.Text</option>
					}
					else
					{
						<option value="@itemZona.Value">@itemZona.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divTipo">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_InmueblesResources.Tipo</label>
                                <div class="col-sm-8" data-field-id="Tipo" data-attribute="267550" data-field-name="@Resources.Detalle_Aseguramiento_InmueblesResources.Tipo">
                                    <input class="form-control" id="Detalle_Aseguramiento_InmueblesTipo" name="Detalle_Aseguramiento_InmueblesTipo" type="text" value="@Model.Tipo">
                                </div>
                            </div>
<div class="form-group" id="divEspecifique_Otro">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_InmueblesResources.Especifique_Otro</label>
                                <div class="col-sm-8" data-field-id="Especifique_Otro" data-attribute="267552" data-field-name="@Resources.Detalle_Aseguramiento_InmueblesResources.Especifique_Otro">
                                    <input class="form-control" id="Detalle_Aseguramiento_InmueblesEspecifique_Otro" name="Detalle_Aseguramiento_InmueblesEspecifique_Otro" type="text" value="@Model.Especifique_Otro">
                                </div>
                            </div>
<div class="form-group" id="divCalle">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_InmueblesResources.Calle</label>
                                <div class="col-sm-8" data-field-id="Calle" data-attribute="267553" data-field-name="@Resources.Detalle_Aseguramiento_InmueblesResources.Calle">
                                    <input class="form-control" id="Detalle_Aseguramiento_InmueblesCalle" name="Detalle_Aseguramiento_InmueblesCalle" type="text" value="@Model.Calle">
                                </div>
                            </div>
<div class="form-group" id="divExterior">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_InmueblesResources.Exterior</label>
                                <div class="col-sm-8" data-field-id="Exterior" data-attribute="267554" data-field-name="@Resources.Detalle_Aseguramiento_InmueblesResources.Exterior">
                                    <input class="form-control" id="Detalle_Aseguramiento_InmueblesExterior" name="Detalle_Aseguramiento_InmueblesExterior" type="text" value="@Model.Exterior">
                                </div>
                            </div>
<div class="form-group" id="divInterior">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_InmueblesResources.Interior</label>
                                <div class="col-sm-8" data-field-id="Interior" data-attribute="267555" data-field-name="@Resources.Detalle_Aseguramiento_InmueblesResources.Interior">
                                    <input class="form-control" id="Detalle_Aseguramiento_InmueblesInterior" name="Detalle_Aseguramiento_InmueblesInterior" type="text" value="@Model.Interior">
                                </div>
                            </div>
<div class="form-group" id="divC_P">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_InmueblesResources.C_P</label>
                                <div class="col-sm-8" data-field-id="C_P" data-attribute="267556" data-field-name="@Resources.Detalle_Aseguramiento_InmueblesResources.C_P">
                                    <input class="form-control" id="Detalle_Aseguramiento_InmueblesC_P" name="Detalle_Aseguramiento_InmueblesC_P" type="text" value="@Model.C_P">
                                </div>
                            </div>
<div class="form-group" id="divEstado">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_InmueblesResources.Estado</label>
                                <div class="col-sm-8" data-field-id="Estado" data-attribute="267557" data-field-name="@Resources.Detalle_Aseguramiento_InmueblesResources.Estado">
                                    <select class='fullWidth AutoCompleteEstado form-control select2-dropdown' data-val="true" id="Detalle_Aseguramiento_InmueblesEstado" name="Detalle_Aseguramiento_InmueblesEstado">
                                        <option value="@Model.Estado">@(Model.EstadoNombre??Model.EstadoNombre)</option>
                                    </select>
                                </div>
                            </div>
<div class="form-group" id="divMunicipio">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_InmueblesResources.Municipio</label>
                                <div class="col-sm-8" data-field-id="Municipio" data-attribute="267558" data-field-name="@Resources.Detalle_Aseguramiento_InmueblesResources.Municipio">
                                    <select class='fullWidth AutoCompleteMunicipio form-control select2-dropdown' data-val="true" id="Detalle_Aseguramiento_InmueblesMunicipio" name="Detalle_Aseguramiento_InmueblesMunicipio">
                                        <option value="@Model.Municipio">@(Model.MunicipioNombre??Model.MunicipioNombre)</option>
                                    </select>
                                </div>
                            </div>
<div class="form-group" id="divColonia">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_InmueblesResources.Colonia</label>
                                <div class="col-sm-8" data-field-id="Colonia" data-attribute="267559" data-field-name="@Resources.Detalle_Aseguramiento_InmueblesResources.Colonia">
                                    <input class="form-control" id="Detalle_Aseguramiento_InmueblesColonia" name="Detalle_Aseguramiento_InmueblesColonia" type="text" value="@Model.Colonia">
                                </div>
                            </div>
<div class="form-group" id="divRegistro_Publico_Propiedad">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_InmueblesResources.Registro_Publico_Propiedad</label>
                                <div class="col-sm-8" data-field-id="Registro_Publico_Propiedad" data-attribute="267560" data-field-name="@Resources.Detalle_Aseguramiento_InmueblesResources.Registro_Publico_Propiedad">
                                    <input class="form-control" id="Detalle_Aseguramiento_InmueblesRegistro_Publico_Propiedad" name="Detalle_Aseguramiento_InmueblesRegistro_Publico_Propiedad" type="text" value="@Model.Registro_Publico_Propiedad">
                                </div>
                            </div>
<div class="form-group" id="divEntrecalles">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_InmueblesResources.Entrecalles</label>
                                <div class="col-sm-8" data-field-id="Entrecalles" data-attribute="267561" data-field-name="@Resources.Detalle_Aseguramiento_InmueblesResources.Entrecalles">
                                    <input class="form-control" id="Detalle_Aseguramiento_InmueblesEntrecalles" name="Detalle_Aseguramiento_InmueblesEntrecalles" type="text" value="@Model.Entrecalles">
                                </div>
                            </div>
<div class="form-group" id="divPropietario">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_InmueblesResources.Propietario</label>
                                <div class="col-sm-8" data-field-id="Propietario" data-attribute="267562" data-field-name="@Resources.Detalle_Aseguramiento_InmueblesResources.Propietario">
                                    <input class="form-control" id="Detalle_Aseguramiento_InmueblesPropietario" name="Detalle_Aseguramiento_InmueblesPropietario" type="text" value="@Model.Propietario">
                                </div>
                            </div>
<div class="form-group" id="divObservaciones">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Aseguramiento_InmueblesResources.Observaciones</label>
                                <div class="col-sm-8" data-field-id="Observaciones" data-attribute="267563" data-field-name="@Resources.Detalle_Aseguramiento_InmueblesResources.Observaciones">
                                    <input class="form-control" id="Detalle_Aseguramiento_InmueblesObservaciones" name="Detalle_Aseguramiento_InmueblesObservaciones" type="text" value="@Model.Observaciones">
                                </div>
                            </div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Clave" id="ReferenceClave" />
												<input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_Aseguramiento_InmueblesConfigureSave" name="Detalle_Aseguramiento_InmueblesConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_Aseguramiento_InmueblesConfigureType" />
												<input type="hidden" id="hdnDetalle_Aseguramiento_InmueblesBusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_Aseguramiento_InmueblesBusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_Aseguramiento_InmueblesBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_Aseguramiento_InmueblesGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Aseguramiento_InmueblesBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_Aseguramiento_Inmuebles.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_Aseguramiento_InmueblesGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_Aseguramiento_InmueblesCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/AseguramientosCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_Aseguramiento_InmueblesRowElement = "Detalle_Aseguramiento_InmueblesPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_Aseguramiento_InmueblesRowElement + "')){ Detalle_Aseguramiento_InmueblesInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });
       var AutoCompleteEstadoData =[];
       $(".AutoCompleteDetalle_Aseguramiento_Inmuebles_Estado").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Detalle_Aseguramiento_Inmuebles/GetDetalle_Aseguramiento_Inmuebles_Estado_Estado")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_Aseguramiento_Inmuebles_Estado_EstadoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_Aseguramiento_Inmuebles_Estado");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteMunicipioData =[];
       $(".AutoCompleteDetalle_Aseguramiento_Inmuebles_Municipio").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Detalle_Aseguramiento_Inmuebles/GetDetalle_Aseguramiento_Inmuebles_Municipio_Municipio")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_Aseguramiento_Inmuebles_Municipio_MunicipioData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_Aseguramiento_Inmuebles_Municipio");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDetalle_Aseguramiento_InmueblesData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_Aseguramiento_Inmuebles").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_Aseguramiento_Inmuebles")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_Aseguramiento_InmueblesCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_Aseguramiento_Inmuebles/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_Aseguramiento_InmueblesPropertyBag", "Detalle_Aseguramiento_Inmuebles")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_Aseguramiento_InmueblesGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleFieldName').val(), ObjectId: '45511', Attribute: $('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleAttribute').val(), Screen: 'Detalle_Aseguramiento_Inmuebles' }, function (data) {
                $(".Detalle_Aseguramiento_InmueblesBusinessRuleModal").html(data);
            });
        }
        function Detalle_Aseguramiento_InmueblesGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleFieldName').val(), ObjectId: '45511', Attribute: $('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleAttribute').val(), Screen: 'Detalle_Aseguramiento_Inmuebles' }, function (data) {
                $(".Detalle_Aseguramiento_InmueblesAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleFieldName').val(), ObjectId: '45511', Attribute: $('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleAttribute').val(), Screen: 'Detalle_Aseguramiento_Inmuebles' }, function (data) {
				$(".Detalle_Aseguramiento_InmueblesBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_Aseguramiento_Inmuebles/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_Aseguramiento_Inmuebles/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_Aseguramiento_Inmuebles/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_Aseguramiento_InmueblesConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_Aseguramiento_InmueblesConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_Aseguramiento_Inmuebles/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_Aseguramiento_InmueblesConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_Aseguramiento_Inmuebles/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_Aseguramiento_Inmuebles' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_Aseguramiento_Inmuebles' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_Aseguramiento_InmueblesConfigureSave').text('Save Settings');
                    $('#hdnDetalle_Aseguramiento_InmueblesConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_Aseguramiento_Inmuebles').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_Aseguramiento_InmueblesBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
