@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_de_Solicitud_SeguimientoAdvanceSearchModel
@{
 List<SelectListItem> varSolicitud_Solicitud = null;
    if (ViewBag.Solicituds_Solicitud != null)
    { varSolicitud_Solicitud = (List<SelectListItem>)ViewBag.Solicituds_Solicitud; }
 List<SelectListItem> varDetalle_de_Solicitud_Requerido_Requerido = null;
    if (ViewBag.Detalle_de_Solicitud_Requeridos_Requerido != null)
    { varDetalle_de_Solicitud_Requerido_Requerido = (List<SelectListItem>)ViewBag.Detalle_de_Solicitud_Requeridos_Requerido; }
 List<SelectListItem> varDetalle_de_Solicitud_Solicitante_Solicitante = null;
    if (ViewBag.Detalle_de_Solicitud_Solicitantes_Solicitante != null)
    { varDetalle_de_Solicitud_Solicitante_Solicitante = (List<SelectListItem>)ViewBag.Detalle_de_Solicitud_Solicitantes_Solicitante; }
    List<SelectListItem> varCumplimiento_Cumplimiento = null;
    if (ViewBag.Cumplimientos_Cumplimiento != null)
    { varCumplimiento_Cumplimiento = (List<SelectListItem>)ViewBag.Cumplimientos_Cumplimiento; }
    List<SelectListItem> varForma_de_Cumplimiento_Forma_de_Pago = null;
    if (ViewBag.Forma_de_Cumplimientos_Forma_de_Pago != null)
    { varForma_de_Cumplimiento_Forma_de_Pago = (List<SelectListItem>)ViewBag.Forma_de_Cumplimientos_Forma_de_Pago; }
    List<SelectListItem> varA_Tiempo_Concluir_Acuerdo = null;
    if (ViewBag.A_Tiempos_Concluir_Acuerdo != null)
    { varA_Tiempo_Concluir_Acuerdo = (List<SelectListItem>)ViewBag.A_Tiempos_Concluir_Acuerdo; }
 List<SelectListItem> varSpartan_User_Especialista = null;
    if (ViewBag.Spartan_Users_Especialista != null)
    { varSpartan_User_Especialista = (List<SelectListItem>)ViewBag.Spartan_Users_Especialista; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Detalle_de_Solicitud_Seguimiento", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_de_Solicitud_SeguimientoResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
 List<SelectListItem> varSolicitud_Solicitud = null;
    if (ViewBag.Solicituds_Solicitud != null)
    { varSolicitud_Solicitud = (List<SelectListItem>)ViewBag.Solicituds_Solicitud; }
        <div class="MarginBottom ">
            <h3>@Resources.Detalle_de_Solicitud_SeguimientoResources.Fecha_de_Registro</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_de_Registro" name="FromFecha_de_Registro" type="text" value="@Model.FromFecha_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_de_Registro" name="ToFecha_de_Registro" type="text" value="@Model.ToFecha_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.Detalle_de_Solicitud_SeguimientoResources.Hora_de_Registro</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromHora_de_Registro" name="FromHora_de_Registro" type="text" value="@Model.FromHora_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceToHora_de_Registro" name="ToHora_de_Registro" type="text" value="@Model.ToHora_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
 List<SelectListItem> varDetalle_de_Solicitud_Requerido_Requerido = null;
    if (ViewBag.Detalle_de_Solicitud_Requeridos_Requerido != null)
    { varDetalle_de_Solicitud_Requerido_Requerido = (List<SelectListItem>)ViewBag.Detalle_de_Solicitud_Requeridos_Requerido; }
 List<SelectListItem> varDetalle_de_Solicitud_Solicitante_Solicitante = null;
    if (ViewBag.Detalle_de_Solicitud_Solicitantes_Solicitante != null)
    { varDetalle_de_Solicitud_Solicitante_Solicitante = (List<SelectListItem>)ViewBag.Detalle_de_Solicitud_Solicitantes_Solicitante; }
        <div class="MarginBottom ">
            <h3>@Resources.Detalle_de_Solicitud_SeguimientoResources.Fecha_Requerida</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_Requerida" name="FromFecha_Requerida" type="text" value="@Model.FromFecha_Requerida" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_Requerida" name="ToFecha_Requerida" type="text" value="@Model.ToFecha_Requerida" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_SeguimientoResources.Cumplimiento</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.CumplimientoFilter, filters, new { @class = "form-control", @id = "ddlCumplimientoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceCumplimiento, new { @class = "form-control", @type = "text", @id = "txtAdvanceCumplimiento" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varCumplimiento_Cumplimiento!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceCumplimientoMultiple, varCumplimiento_Cumplimiento,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceCumplimiento"
                        });
                    }
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.Detalle_de_Solicitud_SeguimientoResources.Fecha_de_Cumplimiento</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_de_Cumplimiento" name="FromFecha_de_Cumplimiento" type="text" value="@Model.FromFecha_de_Cumplimiento" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_de_Cumplimiento" name="ToFecha_de_Cumplimiento" type="text" value="@Model.ToFecha_de_Cumplimiento" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_SeguimientoResources.Forma_de_Pago</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Forma_de_PagoFilter, filters, new { @class = "form-control", @id = "ddlForma_de_PagoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceForma_de_Pago, new { @class = "form-control", @type = "text", @id = "txtAdvanceForma_de_Pago" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varForma_de_Cumplimiento_Forma_de_Pago!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceForma_de_PagoMultiple, varForma_de_Cumplimiento_Forma_de_Pago,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceForma_de_Pago"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_SeguimientoResources.Descripcion_de_Cumplimiento</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Descripcion_de_CumplimientoFilter, filters, new { @class = "form-control", @id = "ddlDescripcion_de_CumplimientoFilter" })
                    @Html.TextBoxFor(m => m.Descripcion_de_Cumplimiento, new { @class = "form-control", @type = "text", @id = "txtDescripcion_de_Cumplimiento" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_SeguimientoResources.Concluir_Acuerdo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Concluir_AcuerdoFilter, filters, new { @class = "form-control", @id = "ddlConcluir_AcuerdoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceConcluir_Acuerdo, new { @class = "form-control", @type = "text", @id = "txtAdvanceConcluir_Acuerdo" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varA_Tiempo_Concluir_Acuerdo!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceConcluir_AcuerdoMultiple, varA_Tiempo_Concluir_Acuerdo,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceConcluir_Acuerdo"
                        });
                    }
                </div>
 List<SelectListItem> varSpartan_User_Especialista = null;
    if (ViewBag.Spartan_Users_Especialista != null)
    { varSpartan_User_Especialista = (List<SelectListItem>)ViewBag.Spartan_Users_Especialista; }
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_de_Solicitud_SeguimientoResources.Comentarios</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.ComentariosFilter, filters, new { @class = "form-control", @id = "ddlComentariosFilter" })
                    @Html.TextBoxFor(m => m.Comentarios, new { @class = "form-control", @type = "text", @id = "txtComentarios" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Detalle_de_Solicitud_Seguimiento/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_SeguimientoClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Detalle_de_Solicitud_SeguimientoClaveTo = $("#txtAdvanceToClave").val();
        }
        advanceSearch.SolicitudSearchType = 0;
        if ($('#ddlAdvanceSolicitud').val().length > 0 || $("#txtAdvanceSolicitud").val() == "") {


            if (isDetalle_de_Solicitud_SeguimientoTextSearch) {
                advanceSearch.SolicitudName = $("#txtAdvanceSolicitud").val();
                advanceSearch.SolicitudNameSearchType = $("#ddlAdvanceSolicitud").val();
                advanceSearch.SolicitudSearchType = 1;
            }
            else {

                advanceSearch.SolicitudToSearch = $("#ddlAdvanceSolicitud").val();
                advanceSearch.SolicitudSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromFecha_de_Registro").val() != "" || $("#txtAdvanceToFecha_de_Registro").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_SeguimientoFecha_de_RegistroFrom = $("#txtAdvanceFromFecha_de_Registro").val();
            advanceSearch.Detalle_de_Solicitud_SeguimientoFecha_de_RegistroTo = $("#txtAdvanceToFecha_de_Registro").val();
        }
        if ($("#txtAdvanceHora_de_Registro").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_SeguimientoHora_de_Registro = $("#txtAdvanceHora_de_Registro").val();
            advanceSearch.Detalle_de_Solicitud_SeguimientoHora_de_RegistroSearchType = $("#ddlAdvanceHora_de_RegistroFilter").val();
        }
        advanceSearch.RequeridoSearchType = 0;
        if ($('#ddlAdvanceRequerido').val().length > 0 || $("#txtAdvanceRequerido").val() == "") {


            if (isDetalle_de_Solicitud_SeguimientoTextSearch) {
                advanceSearch.RequeridoName = $("#txtAdvanceRequerido").val();
                advanceSearch.RequeridoNameSearchType = $("#ddlAdvanceRequerido").val();
                advanceSearch.RequeridoSearchType = 1;
            }
            else {

                advanceSearch.RequeridoToSearch = $("#ddlAdvanceRequerido").val();
                advanceSearch.RequeridoSearchType = 2;
            }
        }
        advanceSearch.SolicitanteSearchType = 0;
        if ($('#ddlAdvanceSolicitante').val().length > 0 || $("#txtAdvanceSolicitante").val() == "") {


            if (isDetalle_de_Solicitud_SeguimientoTextSearch) {
                advanceSearch.SolicitanteName = $("#txtAdvanceSolicitante").val();
                advanceSearch.SolicitanteNameSearchType = $("#ddlAdvanceSolicitante").val();
                advanceSearch.SolicitanteSearchType = 1;
            }
            else {

                advanceSearch.SolicitanteToSearch = $("#ddlAdvanceSolicitante").val();
                advanceSearch.SolicitanteSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromFecha_Requerida").val() != "" || $("#txtAdvanceToFecha_Requerida").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_SeguimientoFecha_RequeridaFrom = $("#txtAdvanceFromFecha_Requerida").val();
            advanceSearch.Detalle_de_Solicitud_SeguimientoFecha_RequeridaTo = $("#txtAdvanceToFecha_Requerida").val();
        }
        advanceSearch.CumplimientoSearchType = 0;
        if ($('#ddlAdvanceCumplimiento').val().length > 0 || $("#txtAdvanceCumplimiento").val() == "") {


            if (isDetalle_de_Solicitud_SeguimientoTextSearch) {
                advanceSearch.CumplimientoName = $("#txtAdvanceCumplimiento").val();
                advanceSearch.CumplimientoNameSearchType = $("#ddlAdvanceCumplimiento").val();
                advanceSearch.CumplimientoSearchType = 1;
            }
            else {

                advanceSearch.CumplimientoToSearch = $("#ddlAdvanceCumplimiento").val();
                advanceSearch.CumplimientoSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromFecha_de_Cumplimiento").val() != "" || $("#txtAdvanceToFecha_de_Cumplimiento").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_SeguimientoFecha_de_CumplimientoFrom = $("#txtAdvanceFromFecha_de_Cumplimiento").val();
            advanceSearch.Detalle_de_Solicitud_SeguimientoFecha_de_CumplimientoTo = $("#txtAdvanceToFecha_de_Cumplimiento").val();
        }
        advanceSearch.Forma_de_PagoSearchType = 0;
        if ($('#ddlAdvanceForma_de_Pago').val().length > 0 || $("#txtAdvanceForma_de_Pago").val() == "") {


            if (isDetalle_de_Solicitud_SeguimientoTextSearch) {
                advanceSearch.Forma_de_PagoName = $("#txtAdvanceForma_de_Pago").val();
                advanceSearch.Forma_de_PagoNameSearchType = $("#ddlAdvanceForma_de_Pago").val();
                advanceSearch.Forma_de_PagoSearchType = 1;
            }
            else {

                advanceSearch.Forma_de_PagoToSearch = $("#ddlAdvanceForma_de_Pago").val();
                advanceSearch.Forma_de_PagoSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromCantidad_del_Monto").val() != "" || $("#txtAdvanceToCantidad_del_Monto").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_SeguimientoCantidad_del_MontoFrom = $("#txtAdvanceFromCantidad_del_Monto").val();
            advanceSearch.Detalle_de_Solicitud_SeguimientoCantidad_del_MontoTo = $("#txtAdvanceToCantidad_del_Monto").val();
        }
        if ($("#txtAdvanceDescripcion_de_Cumplimiento").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_SeguimientoDescripcion_de_Cumplimiento = $("#txtAdvanceDescripcion_de_Cumplimiento").val();
            advanceSearch.Detalle_de_Solicitud_SeguimientoDescripcion_de_CumplimientoSearchType = $("#ddlAdvanceDescripcion_de_CumplimientoFilter").val();
        }
        advanceSearch.Concluir_AcuerdoSearchType = 0;
        if ($('#ddlAdvanceConcluir_Acuerdo').val().length > 0 || $("#txtAdvanceConcluir_Acuerdo").val() == "") {


            if (isDetalle_de_Solicitud_SeguimientoTextSearch) {
                advanceSearch.Concluir_AcuerdoName = $("#txtAdvanceConcluir_Acuerdo").val();
                advanceSearch.Concluir_AcuerdoNameSearchType = $("#ddlAdvanceConcluir_Acuerdo").val();
                advanceSearch.Concluir_AcuerdoSearchType = 1;
            }
            else {

                advanceSearch.Concluir_AcuerdoToSearch = $("#ddlAdvanceConcluir_Acuerdo").val();
                advanceSearch.Concluir_AcuerdoSearchType = 2;
            }
        }
        advanceSearch.EspecialistaSearchType = 0;
        if ($('#ddlAdvanceEspecialista').val().length > 0 || $("#txtAdvanceEspecialista").val() == "") {


            if (isDetalle_de_Solicitud_SeguimientoTextSearch) {
                advanceSearch.EspecialistaName = $("#txtAdvanceEspecialista").val();
                advanceSearch.EspecialistaNameSearchType = $("#ddlAdvanceEspecialista").val();
                advanceSearch.EspecialistaSearchType = 1;
            }
            else {

                advanceSearch.EspecialistaToSearch = $("#ddlAdvanceEspecialista").val();
                advanceSearch.EspecialistaSearchType = 2;
            }
        }
        if ($("#txtAdvanceComentarios").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_de_Solicitud_SeguimientoComentarios = $("#txtAdvanceComentarios").val();
            advanceSearch.Detalle_de_Solicitud_SeguimientoComentariosSearchType = $("#ddlAdvanceComentariosFilter").val();
        }
        advanceSearch.ArchivoSearchType = 0;
        if ($('#ddlAdvanceArchivo').val().length > 0 || $("#txtAdvanceArchivo").val() == "") {


            if (isDetalle_de_Solicitud_SeguimientoTextSearch) {
                advanceSearch.ArchivoName = $("#txtAdvanceArchivo").val();
                advanceSearch.ArchivoNameSearchType = $("#ddlAdvanceArchivo").val();
                advanceSearch.ArchivoSearchType = 1;
            }
            else {

                advanceSearch.ArchivoToSearch = $("#ddlAdvanceArchivo").val();
                advanceSearch.ArchivoSearchType = 2;
            }
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblDetalle_de_Solicitud_Seguimiento').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isDetalle_de_Solicitud_SeguimientoTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceSolicitud").keypress(function () {
            isDetalle_de_Solicitud_SeguimientoTextSearch = true;
            $("#ddlAdvanceSolicitud").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceSolicitud").change(function () {
            isDetalle_de_Solicitud_SeguimientoTextSearch = false;
            $("#txtAdvanceSolicitud").val('');
        });
        $("#txtAdvanceRequerido").keypress(function () {
            isDetalle_de_Solicitud_SeguimientoTextSearch = true;
            $("#ddlAdvanceRequerido").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceRequerido").change(function () {
            isDetalle_de_Solicitud_SeguimientoTextSearch = false;
            $("#txtAdvanceRequerido").val('');
        });
        $("#txtAdvanceSolicitante").keypress(function () {
            isDetalle_de_Solicitud_SeguimientoTextSearch = true;
            $("#ddlAdvanceSolicitante").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceSolicitante").change(function () {
            isDetalle_de_Solicitud_SeguimientoTextSearch = false;
            $("#txtAdvanceSolicitante").val('');
        });
        $("#txtAdvanceCumplimiento").keypress(function () {
            isDetalle_de_Solicitud_SeguimientoTextSearch = true;
            $("#ddlAdvanceCumplimiento").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceCumplimiento").change(function () {
            isDetalle_de_Solicitud_SeguimientoTextSearch = false;
            $("#txtAdvanceCumplimiento").val('');
        });
        $("#txtAdvanceForma_de_Pago").keypress(function () {
            isDetalle_de_Solicitud_SeguimientoTextSearch = true;
            $("#ddlAdvanceForma_de_Pago").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceForma_de_Pago").change(function () {
            isDetalle_de_Solicitud_SeguimientoTextSearch = false;
            $("#txtAdvanceForma_de_Pago").val('');
        });
        $("#txtAdvanceConcluir_Acuerdo").keypress(function () {
            isDetalle_de_Solicitud_SeguimientoTextSearch = true;
            $("#ddlAdvanceConcluir_Acuerdo").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceConcluir_Acuerdo").change(function () {
            isDetalle_de_Solicitud_SeguimientoTextSearch = false;
            $("#txtAdvanceConcluir_Acuerdo").val('');
        });
        $("#txtAdvanceEspecialista").keypress(function () {
            isDetalle_de_Solicitud_SeguimientoTextSearch = true;
            $("#ddlAdvanceEspecialista").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEspecialista").change(function () {
            isDetalle_de_Solicitud_SeguimientoTextSearch = false;
            $("#txtAdvanceEspecialista").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

