@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Audiencia_InicialModel
@{

/*
    string Fecha_de_Registro = "";
    if (Model.Fecha_de_Registro == "")
    { Model.Fecha_de_Registro = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_Audiencia_Inicial = "";
    if (Model.Fecha_Audiencia_Inicial == "")
    { Model.Fecha_Audiencia_Inicial = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

*/
 List<SelectListItem> varexpediente_ministerio_publico_Expediente_MP = null;
    if (ViewBag.expediente_ministerio_publicos_Expediente_MP != null)
    { varexpediente_ministerio_publico_Expediente_MP = (List<SelectListItem>)ViewBag.expediente_ministerio_publicos_Expediente_MP; }
 List<SelectListItem> varSpartan_User_Usuario_que_Registra = null;
    if (ViewBag.Spartan_Users_Usuario_que_Registra != null)
    { varSpartan_User_Usuario_que_Registra = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Registra; }
    List<SelectListItem> varA_Tiempo_Con_Detenido = null;
    if (ViewBag.A_Tiempos_Con_Detenido != null)
    { varA_Tiempo_Con_Detenido = (List<SelectListItem>)ViewBag.A_Tiempos_Con_Detenido; }
    List<SelectListItem> varEspecificacion_Detencion_Especificar_Detencion = null;
    if (ViewBag.Especificacion_Detencions_Especificar_Detencion != null)
    { varEspecificacion_Detencion_Especificar_Detencion = (List<SelectListItem>)ViewBag.Especificacion_Detencions_Especificar_Detencion; }
    List<SelectListItem> varControl_de_Detencion_Control_de_Detencion = null;
    if (ViewBag.Control_de_Detencions_Control_de_Detencion != null)
    { varControl_de_Detencion_Control_de_Detencion = (List<SelectListItem>)ViewBag.Control_de_Detencions_Control_de_Detencion; }
    List<SelectListItem> varContinuacion_de_Proceso_Especificar_Control_Detencion = null;
    if (ViewBag.Continuacion_de_Procesos_Especificar_Control_Detencion != null)
    { varContinuacion_de_Proceso_Especificar_Control_Detencion = (List<SelectListItem>)ViewBag.Continuacion_de_Procesos_Especificar_Control_Detencion; }
    List<SelectListItem> varFormulacion_de_Imputacion_Formulacion_de_Imputacion = null;
    if (ViewBag.Formulacion_de_Imputacions_Formulacion_de_Imputacion != null)
    { varFormulacion_de_Imputacion_Formulacion_de_Imputacion = (List<SelectListItem>)ViewBag.Formulacion_de_Imputacions_Formulacion_de_Imputacion; }

    Permission permissionDetalle_Relaciones_Audiencia_Inicial = ViewBag.PermissionDetalle_Relaciones_Audiencia_Inicial;

    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial || ViewBag.viewInEframe)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.Audiencia_InicialResources.Audiencia_Inicial
                <button onclick="Audiencia_InicialGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Audiencia_InicialBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.Audiencia_InicialResources.Audiencia_Inicial</strong>
                }
                
            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="Audiencia_InicialDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in Audiencia_InicialPropertyBusinessModal" id="Audiencia_InicialPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Audiencia_InicialBusinessRule-form" onclick="Audiencia_InicialGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Audiencia_InicialBusinessRuleModal" id="Audiencia_InicialBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }
                    <div aria-hidden="true" class="modal fade in AddDetalle_Relaciones_Audiencia_InicialModal" id="AddDetalle_Relaciones_Audiencia_Inicial-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>


        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Audiencia_Inicial", FormMethod.Post, new { id = "CreateAudiencia_Inicial", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid Audiencia_InicialCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.Audiencia_InicialResources.TabDatos_Generales</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Audiencia_InicialResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="267714" data-field-name="@Resources.Audiencia_InicialResources.Clave">
                                    <label class="form-control" for="Clave" id="lblClave">
                                    @if (Model.Clave== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Clave</text>
                                        }
                                    </label>
                                </div>
                            </div>
				<div class="form-group" id="divExpediente_MP">
                                <label class="col-sm-2 control-label">@Resources.Audiencia_InicialResources.Expediente_MP</label>
                                <div class="col-sm-8" data-field-id="Expediente_MP" data-attribute="267715" data-field-name="@Resources.Audiencia_InicialResources.Expediente_MP">
                                    <select class='fullWidth AutoComplete AutoCompleteAudiencia_Inicial_Expediente_MP form-control select2-dropdown Datos_Generales' data-val="true" id="Expediente_MP" name="Expediente_MP">
                                        <option value="@Model.Expediente_MP">@(Model.Expediente_MPnic??Model.Expediente_MPnic)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 267715).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('expediente_ministerio_publico', 'Expediente_MP');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divFecha_de_Registro">
                                <label class="col-sm-2 control-label">@Resources.Audiencia_InicialResources.Fecha_de_Registro</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Registro" data-attribute="267716" data-field-name="@Resources.Audiencia_InicialResources.Fecha_de_Registro">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Fecha_de_Registro"  name="Fecha_de_Registro" type="text" value="@Model.Fecha_de_Registro">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divHora_de_Registro">
                                <label class="col-sm-2 control-label">@Resources.Audiencia_InicialResources.Hora_de_Registro</label>
                                <div class="col-sm-8" data-field-id="Hora_de_Registro" data-attribute="267717" data-field-name="@Resources.Audiencia_InicialResources.Hora_de_Registro">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Hora_de_Registro"  name="Hora_de_Registro" type="text" data-autoclose="true" value="@Model.Hora_de_Registro">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
				<div class="form-group" id="divUsuario_que_Registra">
                                <label class="col-sm-2 control-label">@Resources.Audiencia_InicialResources.Usuario_que_Registra</label>
                                <div class="col-sm-8" data-field-id="Usuario_que_Registra" data-attribute="267718" data-field-name="@Resources.Audiencia_InicialResources.Usuario_que_Registra">
                                    <select class='fullWidth AutoComplete AutoCompleteAudiencia_Inicial_Usuario_que_Registra form-control select2-dropdown Datos_Generales' data-val="true" id="Usuario_que_Registra" name="Usuario_que_Registra">
                                        <option value="@Model.Usuario_que_Registra">@(Model.Usuario_que_RegistraName??Model.Usuario_que_RegistraName)</option>
                                    </select>
                                </div>
				@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 267718).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Spartan_User', 'Usuario_que_Registra');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divNombre_del_Juez_de_Control">
                                <label class="col-sm-2 control-label">@Resources.Audiencia_InicialResources.Nombre_del_Juez_de_Control</label>
                                <div class="col-sm-8" data-field-id="Nombre_del_Juez_de_Control" data-attribute="267719" data-field-name="@Resources.Audiencia_InicialResources.Nombre_del_Juez_de_Control">
                                    <input class="form-control Datos_Generales" id="Nombre_del_Juez_de_Control" name="Nombre_del_Juez_de_Control" type="text" value="@Model.Nombre_del_Juez_de_Control">
                                    @*<span class="field-validation-valid" data-valmsg-for="Nombre_del_Juez_de_Control" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divcausa_penal">
                                <label class="col-sm-2 control-label">@Resources.Audiencia_InicialResources.causa_penal</label>
                                <div class="col-sm-8" data-field-id="causa_penal" data-attribute="267742" data-field-name="@Resources.Audiencia_InicialResources.causa_penal">
                                    <input class="form-control Datos_Generales" id="causa_penal" name="causa_penal" type="text" value="@Model.causa_penal">
                                    @*<span class="field-validation-valid" data-valmsg-for="causa_penal" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divFecha_Audiencia_Inicial">
                                <label class="col-sm-2 control-label">@Resources.Audiencia_InicialResources.Fecha_Audiencia_Inicial</label>
                                <div class="col-sm-8" data-field-id="Fecha_Audiencia_Inicial" data-attribute="267743" data-field-name="@Resources.Audiencia_InicialResources.Fecha_Audiencia_Inicial">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Fecha_Audiencia_Inicial"  name="Fecha_Audiencia_Inicial" type="text" value="@Model.Fecha_Audiencia_Inicial">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divHora_Audiencia_Inicial">
                                <label class="col-sm-2 control-label">@Resources.Audiencia_InicialResources.Hora_Audiencia_Inicial</label>
                                <div class="col-sm-8" data-field-id="Hora_Audiencia_Inicial" data-attribute="267744" data-field-name="@Resources.Audiencia_InicialResources.Hora_Audiencia_Inicial">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Hora_Audiencia_Inicial"  name="Hora_Audiencia_Inicial" type="text" data-autoclose="true" value="@Model.Hora_Audiencia_Inicial">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divSala_de_Audiencia">
                                <label class="col-sm-2 control-label">@Resources.Audiencia_InicialResources.Sala_de_Audiencia</label>
                                <div class="col-sm-8" data-field-id="Sala_de_Audiencia" data-attribute="267745" data-field-name="@Resources.Audiencia_InicialResources.Sala_de_Audiencia">
                                    <input class="form-control Datos_Generales" id="Sala_de_Audiencia" name="Sala_de_Audiencia" type="text" value="@Model.Sala_de_Audiencia">
                                    @*<span class="field-validation-valid" data-valmsg-for="Sala_de_Audiencia" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div id="divRelaciones">
                            <div class="ibox-title">
                                <h5>@Resources.Audiencia_InicialResources.Relaciones</h5>
                                <div class="ibox-tools">
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="">
									@if (permissionDetalle_Relaciones_Audiencia_Inicial.New && !ViewBag.Consult)
                                    {
                                        <a onclick="Detalle_Relaciones_Audiencia_InicialfnClickAddRow();" href="javascript:void(0);" title="@Resources.Resources.AddNewRow" class="Detalle_Relaciones_Audiencia_InicialAddRow btn btn-primary">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                    }
                                    <button onclick="Audiencia_InicialGetBusinessRule('', 'Al Guardar o al Eliminar una Row', '267762')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Audiencia_InicialBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToCreateGrid">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>
									@if (permissionDetalle_Relaciones_Audiencia_Inicial.New && !ViewBag.Consult)
                                    {
                                        <a onclick="Detalle_Relaciones_Audiencia_InicialfnOpenAddRowPopUp();" data-toggle="modal" title="@Resources.Resources.AddNewRow" data-target="#AddDetalle_Relaciones_Audiencia_Inicial-form" data-backdrop="static" data-keyboard="false" class="btn_mrpopup btn btn-primary">
                                            <i class="glyphicon glyphicon-new-window"></i>
                                        </a>
                                    }  
                                </div>

                                <br />

                                <div style='overflow-x: auto;'>
                                    <table class="table table-striped table-bordered table-hover childValidateTable" id="Detalle_Relaciones_Audiencia_InicialGrid">
                                        <thead>
                                            <tr>
                                                <th class="ActionHeader"><span>@Resources.Resources.Actions</span></th>


                                                <th class="ImputadoHeader" style="width:250px"><span>
<button type="button" data-attribute="267755" data-field-id="Detalle_Relaciones_Audiencia_InicialImputado" data-field-name="@Resources.Detalle_Relaciones_Audiencia_InicialResources.Imputado" data-toggle="modal" data-target="#Audiencia_InicialBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_Relaciones_Audiencia_InicialResources.Imputado">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_Relaciones_Audiencia_InicialResources.Imputado</span></th>
                                                <th class="DelitoHeader" style="width:250px"><span>
<button type="button" data-attribute="267756" data-field-id="Detalle_Relaciones_Audiencia_InicialDelito" data-field-name="@Resources.Detalle_Relaciones_Audiencia_InicialResources.Delito" data-toggle="modal" data-target="#Audiencia_InicialBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_Relaciones_Audiencia_InicialResources.Delito">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_Relaciones_Audiencia_InicialResources.Delito</span></th>

                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            </div>
                            <div class="form-group" id="divCon_Detenido">
                                <label class="col-sm-2 control-label">@Resources.Audiencia_InicialResources.Con_Detenido</label>
                                <div class="col-sm-8" data-field-id="Con_Detenido" data-attribute="267763" data-field-name="@Resources.Audiencia_InicialResources.Con_Detenido">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Con Detenido must be a number." data-val-required="The Con Detenido field is required." id="Con_Detenido" name="Con_Detenido">
                                        <option value=""></option>
                                        @if (varA_Tiempo_Con_Detenido != null){ 
                                            foreach (var itemCon_Detenido in varA_Tiempo_Con_Detenido)
                                            {
                                                if (itemCon_Detenido.Value == Convert.ToString(Model.Con_Detenido))
                                                {
                                                    <option value="@itemCon_Detenido.Value" selected>@itemCon_Detenido.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemCon_Detenido.Value">@itemCon_Detenido.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Con_Detenido" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 267763).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('A_Tiempo', 'Con_Detenido');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divEspecificar_Detencion">
                                <label class="col-sm-2 control-label">@Resources.Audiencia_InicialResources.Especificar_Detencion</label>
                                <div class="col-sm-8" data-field-id="Especificar_Detencion" data-attribute="267764" data-field-name="@Resources.Audiencia_InicialResources.Especificar_Detencion">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Especifique must be a number." data-val-required="The Especifique field is required." id="Especificar_Detencion" name="Especificar_Detencion">
                                        <option value=""></option>
                                        @if (varEspecificacion_Detencion_Especificar_Detencion != null){ 
                                            foreach (var itemEspecificar_Detencion in varEspecificacion_Detencion_Especificar_Detencion)
                                            {
                                                if (itemEspecificar_Detencion.Value == Convert.ToString(Model.Especificar_Detencion))
                                                {
                                                    <option value="@itemEspecificar_Detencion.Value" selected>@itemEspecificar_Detencion.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemEspecificar_Detencion.Value">@itemEspecificar_Detencion.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Especificar_Detencion" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 267764).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Especificacion_Detencion', 'Especificar_Detencion');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divControl_de_Detencion">
                                <label class="col-sm-2 control-label">@Resources.Audiencia_InicialResources.Control_de_Detencion</label>
                                <div class="col-sm-8" data-field-id="Control_de_Detencion" data-attribute="267765" data-field-name="@Resources.Audiencia_InicialResources.Control_de_Detencion">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Control de Detención must be a number." data-val-required="The Control de Detención field is required." id="Control_de_Detencion" name="Control_de_Detencion">
                                        <option value=""></option>
                                        @if (varControl_de_Detencion_Control_de_Detencion != null){ 
                                            foreach (var itemControl_de_Detencion in varControl_de_Detencion_Control_de_Detencion)
                                            {
                                                if (itemControl_de_Detencion.Value == Convert.ToString(Model.Control_de_Detencion))
                                                {
                                                    <option value="@itemControl_de_Detencion.Value" selected>@itemControl_de_Detencion.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemControl_de_Detencion.Value">@itemControl_de_Detencion.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Control_de_Detencion" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 267765).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Control_de_Detencion', 'Control_de_Detencion');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divEspecificar_Control_Detencion">
                                <label class="col-sm-2 control-label">@Resources.Audiencia_InicialResources.Especificar_Control_Detencion</label>
                                <div class="col-sm-8" data-field-id="Especificar_Control_Detencion" data-attribute="267766" data-field-name="@Resources.Audiencia_InicialResources.Especificar_Control_Detencion">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Especifique must be a number." data-val-required="The Especifique field is required." id="Especificar_Control_Detencion" name="Especificar_Control_Detencion">
                                        <option value=""></option>
                                        @if (varContinuacion_de_Proceso_Especificar_Control_Detencion != null){ 
                                            foreach (var itemEspecificar_Control_Detencion in varContinuacion_de_Proceso_Especificar_Control_Detencion)
                                            {
                                                if (itemEspecificar_Control_Detencion.Value == Convert.ToString(Model.Especificar_Control_Detencion))
                                                {
                                                    <option value="@itemEspecificar_Control_Detencion.Value" selected>@itemEspecificar_Control_Detencion.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemEspecificar_Control_Detencion.Value">@itemEspecificar_Control_Detencion.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Especificar_Control_Detencion" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 267766).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Continuacion_de_Proceso', 'Especificar_Control_Detencion');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divFormulacion_de_Imputacion">
                                <label class="col-sm-2 control-label">@Resources.Audiencia_InicialResources.Formulacion_de_Imputacion</label>
                                <div class="col-sm-8" data-field-id="Formulacion_de_Imputacion" data-attribute="267767" data-field-name="@Resources.Audiencia_InicialResources.Formulacion_de_Imputacion">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Formulación de Imputación must be a number." data-val-required="The Formulación de Imputación field is required." id="Formulacion_de_Imputacion" name="Formulacion_de_Imputacion">
                                        <option value=""></option>
                                        @if (varFormulacion_de_Imputacion_Formulacion_de_Imputacion != null){ 
                                            foreach (var itemFormulacion_de_Imputacion in varFormulacion_de_Imputacion_Formulacion_de_Imputacion)
                                            {
                                                if (itemFormulacion_de_Imputacion.Value == Convert.ToString(Model.Formulacion_de_Imputacion))
                                                {
                                                    <option value="@itemFormulacion_de_Imputacion.Value" selected>@itemFormulacion_de_Imputacion.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemFormulacion_de_Imputacion.Value">@itemFormulacion_de_Imputacion.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Formulacion_de_Imputacion" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 267767).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Formulacion_de_Imputacion', 'Formulacion_de_Imputacion');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Clave" id="ReferenceClave" />
                                <input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Audiencia_InicialGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('Audiencia_InicialCreateForm');"  />
									<button onclick="Audiencia_InicialGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Audiencia_InicialBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="Audiencia_InicialGuardarYNuevo" onclick="return checkClientValidate('Audiencia_InicialCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="Audiencia_InicialGuardarYCopia" onclick="return checkClientValidate('Audiencia_InicialCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnAudiencia_InicialBusinessRuleFieldId" />
                                <input type="hidden" id="hdnAudiencia_InicialBusinessRuleFieldName" />
                                <input type="hidden" id="hdnAudiencia_InicialBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Audiencia_InicialCancelar" name="Audiencia_InicialCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="Audiencia_InicialGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Audiencia_InicialBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Audiencia_Inicial.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Audiencia_InicialGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Audiencia_InicialCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var viewInEframe =  ('@ViewBag.viewInEframe' == 'True');
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;


        $(document).ready(function () {
            $('#ObjectId').val('45552');
		                  


           
              showDetalle_Relaciones_Audiencia_InicialGrid(null);

		   
                        $('#Fecha_de_Registro').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Hora_de_Registro').clockpicker();
            $('#Fecha_Audiencia_Inicial').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Hora_Audiencia_Inicial').clockpicker();


            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			
			 if (viewInEframe) {             
                $('#Audiencia_InicialGuardarYNuevo').hide();
                $('#Audiencia_InicialGuardarYCopia').hide();
                $('#Audiencia_InicialCancelar').hide(); 
                $('#ConfigureSave').hide();
                $('#Audiencia_InicialGuardar').val('Actualizar Seccion ' + '@Resources.Audiencia_InicialResources.Audiencia_Inicial' )
            }

			
			       var AutoCompleteExpediente_MPData =[];
       $(".AutoCompleteAudiencia_Inicial_Expediente_MP").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Audiencia_Inicial/GetAudiencia_Inicial_Expediente_MP_expediente_ministerio_publico")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteAudiencia_Inicial_Expediente_MP_expediente_ministerio_publicoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteAudiencia_Inicial_Expediente_MP");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteUsuario_que_RegistraData =[];
       $(".AutoCompleteAudiencia_Inicial_Usuario_que_Registra").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Audiencia_Inicial/GetAudiencia_Inicial_Usuario_que_Registra_Spartan_User")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteAudiencia_Inicial_Usuario_que_Registra_Spartan_UserData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteAudiencia_Inicial_Usuario_que_Registra");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });


            @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();


                </text>
            }
            EjecutarValidacionesAlComienzo(); 
			
        });

        var Detalle_Relaciones_Audiencia_InicialinsertRowCurrentIndex = -1;
        var Detalle_Relaciones_Audiencia_InicialDataDataTable;
        function getDetalle_Relaciones_Audiencia_InicialData() {
            $.ajax({
                url: "@Url.Content("~/Frontal/Audiencia_Inicial/GetDetalle_Relaciones_Audiencia_Inicial")" + "?draw=1&start=1&length=2147483647" + ($("#ReferenceClave").val() != "" ? "&RelationId=" + $("#ReferenceClave").val() : ""),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                    Detalle_Relaciones_Audiencia_InicialDataDataTable = result.data;
                    showDetalle_Relaciones_Audiencia_InicialGrid(result.data);
                    $('#Detalle_Relaciones_Audiencia_InicialGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Detalle_Relaciones_Audiencia_InicialGrid .gridDatePicker').attr("readonly", "");
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
        function Detalle_Relaciones_Audiencia_InicialGetUpdateRowControls(data, nameOfTable, rowIndex) {

            var columnData = [];
            var counter = 0;
            var inputData = "<input type='text' class='fullWidth form-control' />";

            columnData[counter++] = $($($.parseHTML(GetGridAutoComplete(data.ImputadoNombre_Completo_Detenido != undefined ? data.ImputadoNombre_Completo_Detenido : null, 'AutoComplete' + nameOfTable + 'Imputado', data.Imputado)))).addClass('Imputado').attr('id', nameOfTable + 'Imputado' + rowIndex).attr('data-field', 'Imputado').after($.parseHTML(addNew('Detalle_Relaciones_Audiencia_Inicial', 'Detalle_de_Imputado','Imputado', 267755)));
            columnData[counter++] = $($($.parseHTML(GetGridAutoComplete(data.DelitoDescripcion != undefined ? data.DelitoDescripcion : null, 'AutoComplete' + nameOfTable + 'Delito', data.Delito)))).addClass('Delito').attr('id', nameOfTable + 'Delito' + rowIndex).attr('data-field', 'Delito').after($.parseHTML(addNew('Detalle_Relaciones_Audiencia_Inicial', 'Delito','Delito', 267756)));

            return columnData;
        }



        function GetFileInfo(fileData, fileUploadData) {

            var $div = $("<div>");
            if (fileUploadData != null && fileUploadData.files.length > 0) {

                $div.append("<label>" + fileUploadData.files[0].name + "</label>");
                //<i class="fa fa-times-circle" id='removeFileAttachment'>
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;

            } else if (fileUploadData != null) {
                return $.parseHTML(GetFileUploader());
            } else {
                $div.append("<label>" + fileData.FileName + "</label>");
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;
            }
        }

        var removedDetalle_Relaciones_Audiencia_InicialData = [];
        function Detalle_Relaciones_Audiencia_InicialDeleteRow(rowIndex, row) {
            var rowIndexTable = Detalle_Relaciones_Audiencia_InicialTable.fnGetPosition($(row).parent().parent()[0]);
            var permission = {            
                 Delete: '@permissionDetalle_Relaciones_Audiencia_Inicial.Delete' == 'True'
            };
            if (!permission.Delete || isConsultMode)
                return;            
            if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
              if (EjecutarValidacionesAlEliminarMRDetalle_Relaciones_Audiencia_Inicial('Detalle_Relaciones_Audiencia_Inicial_', '_' + rowIndex)) {
                var prevData = Detalle_Relaciones_Audiencia_InicialTable.fnGetData(rowIndexTable );
                removedDetalle_Relaciones_Audiencia_InicialData.push(prevData);
                Detalle_Relaciones_Audiencia_InicialTable.fnDeleteRow(rowIndexTable );
				showDetalle_Relaciones_Audiencia_InicialGrid(Detalle_Relaciones_Audiencia_InicialTable.fnGetData());
              }
            }
			initiateUIControls();
        }

        function Detalle_Relaciones_Audiencia_InicialrowCreationGrid(row, data, index) {
            var permission =  {            
                 Edit: '@permissionDetalle_Relaciones_Audiencia_Inicial.Edit' == 'True',
                 Delete: '@permissionDetalle_Relaciones_Audiencia_Inicial.Delete' == 'True'
            };
            setDetalle_Relaciones_Audiencia_InicialValidation();
            var Detalle_Relaciones_Audiencia_InicialRowElement = "Detalle_Relaciones_Audiencia_Inicial_" + index.toString();
            $(row).addClass(Detalle_Relaciones_Audiencia_InicialRowElement);
            var nameOfTable='Detalle_Relaciones_Audiencia_Inicial_';
            var rowIndex = '_' + index;
            Detalle_Relaciones_Audiencia_InicialinsertRowCurrentIndex = index;

            row.innerHTML = "";

            if (data.IsInsertRow) {

                if (row.childNodes.length != 0) {
                    for (var i = 0; i < row.childNodes.length; i++) {
                        row.childNodes[i].remove();
                    }
                }
                var controls = GetInsertDetalle_Relaciones_Audiencia_InicialRowControls(index);
                var actionColInsert = $('<td>');

                var abc = "if(dynamicFieldValidation('" + Detalle_Relaciones_Audiencia_InicialRowElement + "')){ Detalle_Relaciones_Audiencia_InicialInsertRow(" + index + "); }";
                var insertRowHTML = '<a  data-toggle="tooltip" title="Confirmar Registro" onclick="' + abc + '">';
                $('<i class="fa fa-check">').appendTo($(insertRowHTML).appendTo(actionColInsert));
				$('<i class="fa fa-times">').appendTo($("<a data-toggle='tooltip' title='Cancelar Registro' onclick='Detalle_Relaciones_Audiencia_InicialCancelRow(" + index + ")'>").appendTo(actionColInsert));
                actionColInsert.appendTo(row);

                for (i = 0; i < controls.length; i++) {
					var idHeader = $(controls[i]).data('field') + 'Header';
					if($(controls[i]).length > 1){
						idHeader = $($(controls[i])[1]).data('field') + 'Header';
					}					

					var classe = ($('#Detalle_Relaciones_Audiencia_InicialGrid .' + idHeader).hasClass('dt-right') ? "dt-right" : "") + $('#Detalle_Relaciones_Audiencia_InicialGrid .' + idHeader ).css('display') == 'none' ? " hide" : "";
				   
					if ($(controls[i]).next().length > 0) {
					    var div = $(controls[i]).next();
					    $('<td class="' + classe + '">').append($(controls[i])).append(div).appendTo(row);
					}else
					    $(controls[i]).appendTo($('<td class="' + classe + '">').appendTo(row));
					
                }
                $('#Detalle_Relaciones_Audiencia_InicialGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('#Detalle_Relaciones_Audiencia_InicialGrid .gridDatePicker').attr("readonly", "");
                return;
            }

            var actionCol = $('<td>');
			var edit = "<a title='@Resources.Resources.Edit' class='edit-MR' onclick='Detalle_Relaciones_Audiencia_InicialEditRow(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                edit = "";
            var editPopUp = "<a title='@Resources.Resources.Edit' class='edit-popup-MR' data-toggle='modal' data-target='#AddDetalle_Relaciones_Audiencia_Inicial-form' onclick='Detalle_Relaciones_Audiencia_InicialEditRowPopup(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                editPopUp = "";
            var eliminar = "<a title='@Resources.Resources.Delete' class='eliminar-MR' onclick='Detalle_Relaciones_Audiencia_InicialDeleteRow(" + index + ", this)'>";
            if (!permission.Delete || isConsultMode)
                eliminar = "";
            $('<i class="fa fa-pencil">').appendTo($(edit).appendTo(actionCol));
            //$('<i class="fa fa-edit">').appendTo($(editPopUp).appendTo(actionCol));
            $('<i class="fa fa-trash-o">').appendTo($(eliminar).appendTo(actionCol));
			if ($('.Action' + 'Header').css('display') != 'none')
				actionCol.appendTo(row);

            if ($('.Imputado' + 'Header').css('display') != 'none'){
                if (data.ImputadoNombre_Completo_Detenido == undefined){$('<td class="dt-right"  id="'+nameOfTable+'Imputado'+rowIndex+'">').text(data.Imputado).appendTo(row);}else{$('<td>').text(data.ImputadoNombre_Completo_Detenido).appendTo(row);}
}
             else {
                if (data.ImputadoNombre_Completo_Detenido == undefined){$('<td style="display:none;" class="dt-right"  id="'+nameOfTable+'Imputado'+rowIndex+'">').text(data.Imputado).appendTo(row);}else{$('<td style:display:none;>').text(data.ImputadoNombre_Completo_Detenido).appendTo(row);}
}

            if ($('.Delito' + 'Header').css('display') != 'none'){
                if (data.DelitoDescripcion == undefined){$('<td class="dt-right"  id="'+nameOfTable+'Delito'+rowIndex+'">').text(data.Delito).appendTo(row);}else{$('<td>').text(data.DelitoDescripcion).appendTo(row);}
}
             else {
                if (data.DelitoDescripcion == undefined){$('<td style="display:none;" class="dt-right"  id="'+nameOfTable+'Delito'+rowIndex+'">').text(data.Delito).appendTo(row);}else{$('<td style:display:none;>').text(data.DelitoDescripcion).appendTo(row);}
}


        }

        var Detalle_Relaciones_Audiencia_InicialTable;
        function showDetalle_Relaciones_Audiencia_InicialGrid(dataSet) {
            //removedDetalle_Relaciones_Audiencia_InicialData = [];
            Detalle_Relaciones_Audiencia_InicialTable = $('#Detalle_Relaciones_Audiencia_InicialGrid').dataTable({
                dom: '<"html5buttons"B>lTgitp',
                buttons: [
                ],
                "createdRow": Detalle_Relaciones_Audiencia_InicialrowCreationGrid,
                "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
                data: dataSet,
                "columns": [
                    { "data": null, 'visible': true, "orderable": false },

                    { "data": "Imputado", "orderable": false },
                    { "data": "Delito", "orderable": false },

                ],
                "order": [[0, "asc"]],
                "language": {
                    "lengthMenu": "@Resources.Resources.Display" + " _MENU_ " + "@Resources.Resources.RecordsPerPage",
                    "zeroRecords": "@Resources.Resources.NothingFound",
                    "info": "@Resources.Resources.ShowingPages" + " _PAGE_ " + "@Resources.Resources.of" + " _PAGES_",
                    "infoEmpty": "@Resources.Resources.NoRecords",
                    "infoFiltered": "(" + "@Resources.Resources.FilteredFrom" + " _MAX_ " + "@Resources.Resources.TotalRecords" + ")",
                    "sSearch": "@Resources.Resources.Search",
                    "paginate": {
                        "previous": "@Resources.Resources.Previous",
                        "next": "@Resources.Resources.Next"
                    }
                },
				"bDestroy": true,
                "fnDrawCallback": function (settings) {
                    setDetalle_Relaciones_Audiencia_InicialValidation();
                }
            }).on('init.dt', function (e, data) {
                $('a').tooltip();
            }).on('draw.dt', function () {
                $('#Detalle_Relaciones_Audiencia_InicialGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('.gridDatePicker').inputmask("99-99-9999", { "placeholder": "dd-mm-yyyy" });
            });
        }


    var Detalle_Relaciones_Audiencia_Inicial_Detalle_de_ImputadoItems;
        function GetDetalle_Relaciones_Audiencia_Inicial_Detalle_de_ImputadoItem() {
            Detalle_Relaciones_Audiencia_Inicial_Detalle_de_ImputadoItems = null;
            var ajaxUrl = "@Url.Content("~/Frontal/Audiencia_Inicial/GetDetalle_Relaciones_Audiencia_Inicial_Detalle_de_ImputadoAll")";
            $.ajax({
                url: ajaxUrl,
                type: 'GET',
                dataType: "json",
                async: false,
                global: false,
                success: function (result) {
                    Detalle_Relaciones_Audiencia_Inicial_Detalle_de_ImputadoItems = result;
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
    var Detalle_Relaciones_Audiencia_Inicial_DelitoItems;
        function GetDetalle_Relaciones_Audiencia_Inicial_DelitoItem() {
            Detalle_Relaciones_Audiencia_Inicial_DelitoItems = null;
            var ajaxUrl = "@Url.Content("~/Frontal/Audiencia_Inicial/GetDetalle_Relaciones_Audiencia_Inicial_DelitoAll")";
            $.ajax({
                url: ajaxUrl,
                type: 'GET',
                dataType: "json",
                async: false,
                global: false,
                success: function (result) {
                    Detalle_Relaciones_Audiencia_Inicial_DelitoItems = result;
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }

        var Detalle_Relaciones_Audiencia_InicialData = [];
        var Detalle_Relaciones_Audiencia_InicialdeletedItem = [];
        var Detalle_Relaciones_Audiencia_InicialDataMain = [];
        var Detalle_Relaciones_Audiencia_InicialDataMainPages = [];
        var Detalle_Relaciones_Audiencia_InicialnewItemCount = 0;
        var Detalle_Relaciones_Audiencia_InicialmaxItemIndex = 0;
        var Detalle_Relaciones_Audiencia_InicialDataMainInitialized = false;

        function SendDetalle_Relaciones_Audiencia_Inicial(callBack, ClaveId) {
            Detalle_Relaciones_Audiencia_InicialData = GetDetalle_Relaciones_Audiencia_InicialFromDataTable();

            if (Detalle_Relaciones_Audiencia_InicialData.length > 0 || $("#ReferenceClave").val() != ClaveId) {
                if ($("#ReferenceClave").val() != "0" && ClaveId ==null)
                    ClaveId = $("#ReferenceClave").val();                
                if ($("#ReferenceClave").val() == '')
                    $("#ReferenceClave").val('0');
                $.ajax({
                    url: '@Url.Content("~/Frontal/Audiencia_Inicial/PostDetalle_Relaciones_Audiencia_Inicial?MasterId=")' + ClaveId + "&referenceId=" + $("#ReferenceClave").val(),
                    type: 'POST',
                    data: GetDetalle_Relaciones_Audiencia_Inicial(),
                    async: true,
                    success: function (result) {

                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            } else {
                //showNotification("@Resources.Resources.SaveSuccess", "success");
                //callBack(ClaveId);
            }
            return true;
        }

        function GetAddDetalle_Relaciones_Audiencia_InicialPopup(currentRowIndex, mode, id) {

            $.ajax({
                url: "@Url.Action("AddDetalle_Relaciones_Audiencia_Inicial", "Detalle_Relaciones_Audiencia_Inicial")",
                type: "GET",
                async: false,
                data: { rowIndex: currentRowIndex, functionMode: mode, id: id },
                success: function (data) {
                    $(".AddDetalle_Relaciones_Audiencia_InicialModal").html(data);
                },
                error: function () {

                }
            });

            @*$.get('@Url.Action("AddDetalle_Relaciones_Audiencia_Inicial", "Detalle_Relaciones_Audiencia_Inicial")', { rowIndex: currentRowIndex }, function (data) {
                $(".AddDetalle_Relaciones_Audiencia_InicialModal").html(data);
            });*@
        }

        function ShowMessagePendingRowDetalle_Relaciones_Audiencia_Inicial()
        {
            //alert('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Relaciones"))')
	    showNotification('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Relaciones"))', "warning");
        }


        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });

        $(".AutoCompleteDetalle_Relaciones_Audiencia_Inicial_Imputado").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Audiencia_Inicial/GetDetalle_Relaciones_Audiencia_Inicial_Imputado_Detalle_de_Imputado")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_Relaciones_Audiencia_Inicial_Imputado_Detalle_de_ImputadoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_Relaciones_Audiencia_Inicial_Imputado");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val(' ');
            $('.select2-search__field').keyup();
        });
        $(".AutoCompleteDetalle_Relaciones_Audiencia_Inicial_Delito").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Audiencia_Inicial/GetDetalle_Relaciones_Audiencia_Inicial_Delito_Delito")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_Relaciones_Audiencia_Inicial_Delito_DelitoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_Relaciones_Audiencia_Inicial_Delito");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val(' ');
            $('.select2-search__field').keyup();
        });


        }

    </script>

<script type="text/javascript">


   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Audiencia_Inicial/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }


        function SendAudiencia_InicialData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateAudiencia_Inicial").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateAudiencia_Inicial")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceClave").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('Audiencia_InicialCreateForm', 'Datos_Generales')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Audiencia_Inicial/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".Audiencia_InicialBusinessRuleModal").html(data);
			});
		}
                function Audiencia_InicialGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('45552');
			$('#Screen').val('Audiencia_Inicial');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function Audiencia_InicialBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Audiencia_Inicial/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Audiencia_Inicial/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Audiencia_Inicial/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Audiencia_Inicial/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Audiencia_Inicial/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateAudiencia_Inicial').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        Audiencia_InicialGetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Audiencia_Inicial/Get_Datos_Generales")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    var control = $('#Expediente_MP');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Expediente_MP).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Expediente_MP).trigger('change');
                    }, 3000);
                    $('#Fecha_de_Registro').val(result.data.Fecha_de_Registro);
                    $('#Hora_de_Registro').val(result.data.Hora_de_Registro);
                    var control = $('#Usuario_que_Registra');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Usuario_que_Registra).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Usuario_que_Registra).trigger('change');
                    }, 3000);
                    $('#Nombre_del_Juez_de_Control').val(result.data.Nombre_del_Juez_de_Control);
                    $('#causa_penal').val(result.data.causa_penal);
                    $('#Fecha_Audiencia_Inicial').val(result.data.Fecha_Audiencia_Inicial);
                    $('#Hora_Audiencia_Inicial').val(result.data.Hora_Audiencia_Inicial);
                    $('#Sala_de_Audiencia').val(result.data.Sala_de_Audiencia);
                    Detalle_Relaciones_Audiencia_InicialDataDataTable = result.Relaciones;
                    showDetalle_Relaciones_Audiencia_InicialGrid(result.Relaciones);
                    $('#Detalle_Relaciones_Audiencia_InicialGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Detalle_Relaciones_Audiencia_InicialGrid .gridDatePicker').attr("readonly", "");
                    $('#Con_Detenido').val(result.data.Con_Detenido);
                    $('#Especificar_Detencion').val(result.data.Especificar_Detencion);
                    $('#Control_de_Detencion').val(result.data.Control_de_Detencion);
                    $('#Especificar_Control_Detencion').val(result.data.Especificar_Control_Detencion);
                    $('#Formulacion_de_Imputacion').val(result.data.Formulacion_de_Imputacion);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Expediente_MP', $('#Expediente_MP').val());
                data.append('Fecha_de_Registro', $('#Fecha_de_Registro').val());
                data.append('Hora_de_Registro', $('#Hora_de_Registro').val());
                data.append('Usuario_que_Registra', $('#Usuario_que_Registra').val());
                data.append('Nombre_del_Juez_de_Control', $('#Nombre_del_Juez_de_Control').val());
                data.append('causa_penal', $('#causa_penal').val());
                data.append('Fecha_Audiencia_Inicial', $('#Fecha_Audiencia_Inicial').val());
                data.append('Hora_Audiencia_Inicial', $('#Hora_Audiencia_Inicial').val());
                data.append('Sala_de_Audiencia', $('#Sala_de_Audiencia').val());
                data.append('Con_Detenido', $('#Con_Detenido').val());
                data.append('Especificar_Detencion', $('#Especificar_Detencion').val());
                data.append('Control_de_Detencion', $('#Control_de_Detencion').val());
                data.append('Especificar_Control_Detencion', $('#Especificar_Control_Detencion').val());
                data.append('Formulacion_de_Imputacion', $('#Formulacion_de_Imputacion').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Audiencia_Inicial/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    					    SendDetalle_Relaciones_Audiencia_Inicial(null, newId);

					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}


    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Audiencia_Inicial_cmbLabelSelect" name="Audiencia_Inicial_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />

