@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Circunstancias_del_Delito_MASCModel
@{


    List<SelectListItem> varCircunstancias_Tipo_de_Lugar = null;
    if (ViewBag.Circunstanciass_Tipo_de_Lugar != null)
    { varCircunstancias_Tipo_de_Lugar = (List<SelectListItem>)ViewBag.Circunstanciass_Tipo_de_Lugar; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Circunstancias del Delito MASC
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Circunstancias_del_Delito_MASCRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Circunstancias_del_Delito_MASCPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Circunstancias del Delito MASC
								<button onclick="Circunstancias_del_Delito_MASCGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Circunstancias_del_Delito_MASCBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Circunstancias_del_Delito_MASCResources.Circunstancias_del_Delito_MASC</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Circunstancias_del_Delito_MASCDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Circunstancias_del_Delito_MASCPropertyBusinessModal" id="Circunstancias_del_Delito_MASCPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Circunstancias_del_Delito_MASCBusinessRule-form" onclick="Circunstancias_del_Delito_MASCGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Circunstancias_del_Delito_MASCPropertyModal" id="Circunstancias_del_Delito_MASCPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Circunstancias_del_Delito_MASCBusinessRuleModal" id="Circunstancias_del_Delito_MASCBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Circunstancias_del_Delito_MASCAddBusinessRuleModal" id="Circunstancias_del_Delito_MASCAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Circunstancias_del_Delito_MASC", FormMethod.Post, new { id = "CreateCircunstancias_del_Delito_MASC", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Circunstancias_del_Delito_MASCCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Circunstancias_del_Delito_MASCResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="265905" data-field-name="@Resources.Circunstancias_del_Delito_MASCResources.Clave">
                                    <label class="form-control" for="Circunstancias_del_Delito_MASCClave" id="Circunstancias_del_Delito_MASCClave">@Model.Clave</label>
                                </div>
                            </div>
<div class="form-group" id="divTipo_de_Lugar">
	<label class="col-sm-2 control-label">@Resources.Circunstancias_del_Delito_MASCResources.Tipo_de_Lugar</label>
	<div class="col-sm-8" data-field-id="Tipo_de_Lugar" data-attribute="265907" data-field-name="@Resources.Circunstancias_del_Delito_MASCResources.Tipo_de_Lugar">
		<select class="form-control" data-val="true" data-val-number="The field Tipo de Lugar must be a number." data-val-required="The Tipo de Lugar field is required." id="Circunstancias_del_Delito_MASCTipo_de_Lugar" name="Circunstancias_del_Delito_MASCTipo_de_Lugar">
			<option value=""></option>
			@if (varCircunstancias_Tipo_de_Lugar != null){ 
				foreach (var itemTipo_de_Lugar in varCircunstancias_Tipo_de_Lugar)
				{
					if (itemTipo_de_Lugar.Value == Convert.ToString(Model.Tipo_de_Lugar))
					{
						<option value="@itemTipo_de_Lugar.Value" selected>@itemTipo_de_Lugar.Text</option>
					}
					else
					{
						<option value="@itemTipo_de_Lugar.Value">@itemTipo_de_Lugar.Text</option>
					}
				}
			}
		</select>
	</div>
</div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Clave" id="ReferenceClave" />
												<input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Circunstancias_del_Delito_MASCConfigureSave" name="Circunstancias_del_Delito_MASCConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnCircunstancias_del_Delito_MASCConfigureType" />
												<input type="hidden" id="hdnCircunstancias_del_Delito_MASCBusinessRuleFieldId" />
												<input type="hidden" id="hdnCircunstancias_del_Delito_MASCBusinessRuleFieldName" />
												<input type="hidden" id="hdnCircunstancias_del_Delito_MASCBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Circunstancias_del_Delito_MASCGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Circunstancias_del_Delito_MASCBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Circunstancias_del_Delito_MASC.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Circunstancias_del_Delito_MASCGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Circunstancias_del_Delito_MASCCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_de_Delito_de_JusticiaCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Circunstancias_del_Delito_MASCRowElement = "Circunstancias_del_Delito_MASCPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Circunstancias_del_Delito_MASCRowElement + "')){ Circunstancias_del_Delito_MASCInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendCircunstancias_del_Delito_MASCData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateCircunstancias_del_Delito_MASC").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateCircunstancias_del_Delito_MASC")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Circunstancias_del_Delito_MASCCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Circunstancias_del_Delito_MASC/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Circunstancias_del_Delito_MASCPropertyBag", "Circunstancias_del_Delito_MASC")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Circunstancias_del_Delito_MASCGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnCircunstancias_del_Delito_MASCBusinessRuleFieldId').val(FieldId);
				$('#hdnCircunstancias_del_Delito_MASCBusinessRuleFieldName').val(FieldName);
				$('#hdnCircunstancias_del_Delito_MASCBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnCircunstancias_del_Delito_MASCBusinessRuleFieldId').val(), FieldName: $('#hdnCircunstancias_del_Delito_MASCBusinessRuleFieldName').val(), ObjectId: '45332', Attribute: $('#hdnCircunstancias_del_Delito_MASCBusinessRuleAttribute').val(), Screen: 'Circunstancias_del_Delito_MASC' }, function (data) {
                $(".Circunstancias_del_Delito_MASCBusinessRuleModal").html(data);
            });
        }
        function Circunstancias_del_Delito_MASCGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnCircunstancias_del_Delito_MASCBusinessRuleFieldId').val(FieldId);
				$('#hdnCircunstancias_del_Delito_MASCBusinessRuleFieldName').val(FieldName);
				$('#hdnCircunstancias_del_Delito_MASCBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnCircunstancias_del_Delito_MASCBusinessRuleFieldId').val(), FieldName: $('#hdnCircunstancias_del_Delito_MASCBusinessRuleFieldName').val(), ObjectId: '45332', Attribute: $('#hdnCircunstancias_del_Delito_MASCBusinessRuleAttribute').val(), Screen: 'Circunstancias_del_Delito_MASC' }, function (data) {
                $(".Circunstancias_del_Delito_MASCAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnCircunstancias_del_Delito_MASCBusinessRuleFieldId').val(), FieldName: $('#hdnCircunstancias_del_Delito_MASCBusinessRuleFieldName').val(), ObjectId: '45332', Attribute: $('#hdnCircunstancias_del_Delito_MASCBusinessRuleAttribute').val(), Screen: 'Circunstancias_del_Delito_MASC' }, function (data) {
				$(".Circunstancias_del_Delito_MASCBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Circunstancias_del_Delito_MASC/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Circunstancias_del_Delito_MASC/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Circunstancias_del_Delito_MASC/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnCircunstancias_del_Delito_MASCConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnCircunstancias_del_Delito_MASCConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Circunstancias_del_Delito_MASC/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnCircunstancias_del_Delito_MASCConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Circunstancias_del_Delito_MASC/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Circunstancias_del_Delito_MASC' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Circunstancias_del_Delito_MASC' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Circunstancias_del_Delito_MASCConfigureSave').text('Save Settings');
                    $('#hdnCircunstancias_del_Delito_MASCConfigureType').val("1");
                });
            }
        }
		$('#CreateCircunstancias_del_Delito_MASC').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnCircunstancias_del_Delito_MASCBusinessRuleFieldId').val(fieldId);
			$('#hdnCircunstancias_del_Delito_MASCBusinessRuleFieldName').val(fieldName);
			$('#hdnCircunstancias_del_Delito_MASCBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
