@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Relaciones_Audiencia_InicialModel
@{


 List<SelectListItem> varDetalle_de_Imputado_Imputado = null;
    if (ViewBag.Detalle_de_Imputados_Imputado != null)
    { varDetalle_de_Imputado_Imputado = (List<SelectListItem>)ViewBag.Detalle_de_Imputados_Imputado; }
 List<SelectListItem> varDelito_Delito = null;
    if (ViewBag.Delitos_Delito != null)
    { varDelito_Delito = (List<SelectListItem>)ViewBag.Delitos_Delito; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle Relaciones Audiencia Inicial
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_Relaciones_Audiencia_InicialRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_Relaciones_Audiencia_InicialPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle Relaciones Audiencia Inicial
								<button onclick="Detalle_Relaciones_Audiencia_InicialGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Relaciones_Audiencia_InicialBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_Relaciones_Audiencia_InicialResources.Detalle_Relaciones_Audiencia_Inicial</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_Relaciones_Audiencia_InicialDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_Relaciones_Audiencia_InicialPropertyBusinessModal" id="Detalle_Relaciones_Audiencia_InicialPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_Relaciones_Audiencia_InicialBusinessRule-form" onclick="Detalle_Relaciones_Audiencia_InicialGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Relaciones_Audiencia_InicialPropertyModal" id="Detalle_Relaciones_Audiencia_InicialPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Relaciones_Audiencia_InicialBusinessRuleModal" id="Detalle_Relaciones_Audiencia_InicialBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Relaciones_Audiencia_InicialAddBusinessRuleModal" id="Detalle_Relaciones_Audiencia_InicialAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_Relaciones_Audiencia_Inicial", FormMethod.Post, new { id = "CreateDetalle_Relaciones_Audiencia_Inicial", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_Relaciones_Audiencia_InicialCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Relaciones_Audiencia_InicialResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="267753" data-field-name="@Resources.Detalle_Relaciones_Audiencia_InicialResources.Clave">
                                    <label class="form-control" for="Detalle_Relaciones_Audiencia_InicialClave" id="Detalle_Relaciones_Audiencia_InicialClave">@Model.Clave</label>
                                </div>
                            </div>
<div class="form-group" id="divImputado">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Relaciones_Audiencia_InicialResources.Imputado</label>
                                <div class="col-sm-8" data-field-id="Imputado" data-attribute="267755" data-field-name="@Resources.Detalle_Relaciones_Audiencia_InicialResources.Imputado">
                                    <select class='fullWidth AutoCompleteDetalle_de_Imputado form-control select2-dropdown' data-val="true" id="Detalle_Relaciones_Audiencia_InicialImputado" name="Detalle_Relaciones_Audiencia_InicialImputado">
                                        <option value="@Model.Imputado">@(Model.ImputadoNombre_Completo_del_Tutor??Model.ImputadoNombre_Completo_del_Tutor)</option>
                                    </select>
                                </div>
                            </div>
<div class="form-group" id="divDelito">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Relaciones_Audiencia_InicialResources.Delito</label>
                                <div class="col-sm-8" data-field-id="Delito" data-attribute="267756" data-field-name="@Resources.Detalle_Relaciones_Audiencia_InicialResources.Delito">
                                    <select class='fullWidth AutoCompleteDelito form-control select2-dropdown' data-val="true" id="Detalle_Relaciones_Audiencia_InicialDelito" name="Detalle_Relaciones_Audiencia_InicialDelito">
                                        <option value="@Model.Delito">@(Model.DelitoDescripcion??Model.DelitoDescripcion)</option>
                                    </select>
                                </div>
                            </div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Clave" id="ReferenceClave" />
												<input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_Relaciones_Audiencia_InicialConfigureSave" name="Detalle_Relaciones_Audiencia_InicialConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_Relaciones_Audiencia_InicialConfigureType" />
												<input type="hidden" id="hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_Relaciones_Audiencia_InicialGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Relaciones_Audiencia_InicialBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_Relaciones_Audiencia_Inicial.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_Relaciones_Audiencia_InicialGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_Relaciones_Audiencia_InicialCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Audiencia_InicialCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_Relaciones_Audiencia_InicialRowElement = "Detalle_Relaciones_Audiencia_InicialPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_Relaciones_Audiencia_InicialRowElement + "')){ Detalle_Relaciones_Audiencia_InicialInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });
       var AutoCompleteImputadoData =[];
       $(".AutoCompleteDetalle_Relaciones_Audiencia_Inicial_Imputado").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Detalle_Relaciones_Audiencia_Inicial/GetDetalle_Relaciones_Audiencia_Inicial_Imputado_Detalle_de_Imputado")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_Relaciones_Audiencia_Inicial_Imputado_Detalle_de_ImputadoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_Relaciones_Audiencia_Inicial_Imputado");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteDelitoData =[];
       $(".AutoCompleteDetalle_Relaciones_Audiencia_Inicial_Delito").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Detalle_Relaciones_Audiencia_Inicial/GetDetalle_Relaciones_Audiencia_Inicial_Delito_Delito")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_Relaciones_Audiencia_Inicial_Delito_DelitoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_Relaciones_Audiencia_Inicial_Delito");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDetalle_Relaciones_Audiencia_InicialData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_Relaciones_Audiencia_Inicial").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_Relaciones_Audiencia_Inicial")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_Relaciones_Audiencia_InicialCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_Relaciones_Audiencia_Inicial/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_Relaciones_Audiencia_InicialPropertyBag", "Detalle_Relaciones_Audiencia_Inicial")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_Relaciones_Audiencia_InicialGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleFieldName').val(), ObjectId: '45562', Attribute: $('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleAttribute').val(), Screen: 'Detalle_Relaciones_Audiencia_Inicial' }, function (data) {
                $(".Detalle_Relaciones_Audiencia_InicialBusinessRuleModal").html(data);
            });
        }
        function Detalle_Relaciones_Audiencia_InicialGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleFieldName').val(), ObjectId: '45562', Attribute: $('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleAttribute').val(), Screen: 'Detalle_Relaciones_Audiencia_Inicial' }, function (data) {
                $(".Detalle_Relaciones_Audiencia_InicialAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleFieldName').val(), ObjectId: '45562', Attribute: $('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleAttribute').val(), Screen: 'Detalle_Relaciones_Audiencia_Inicial' }, function (data) {
				$(".Detalle_Relaciones_Audiencia_InicialBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_Relaciones_Audiencia_Inicial/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_Relaciones_Audiencia_Inicial/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_Relaciones_Audiencia_Inicial/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_Relaciones_Audiencia_InicialConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_Relaciones_Audiencia_InicialConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_Relaciones_Audiencia_Inicial/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_Relaciones_Audiencia_InicialConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_Relaciones_Audiencia_Inicial/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_Relaciones_Audiencia_Inicial' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_Relaciones_Audiencia_Inicial' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_Relaciones_Audiencia_InicialConfigureSave').text('Save Settings');
                    $('#hdnDetalle_Relaciones_Audiencia_InicialConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_Relaciones_Audiencia_Inicial').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_Relaciones_Audiencia_InicialBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
