@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.ResolucionAdvanceSearchModel
@{
    List<SelectListItem> varTipo_de_Resolucion_Tipo = null;
    if (ViewBag.Tipo_de_Resolucions_Tipo != null)
    { varTipo_de_Resolucion_Tipo = (List<SelectListItem>)ViewBag.Tipo_de_Resolucions_Tipo; }
    List<SelectListItem> varResolucion_Resolucion_Padre_para_Autorizacion = null;
    if (ViewBag.Resolucions_Resolucion_Padre_para_Autorizacion != null)
    { varResolucion_Resolucion_Padre_para_Autorizacion = (List<SelectListItem>)ViewBag.Resolucions_Resolucion_Padre_para_Autorizacion; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Resolucion", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.ResolucionResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.ResolucionResources.Descripcion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.DescripcionFilter, filters, new { @class = "form-control", @id = "ddlDescripcionFilter" })
                    @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", @type = "text", @id = "txtDescripcion" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.ResolucionResources.Tipo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.TipoFilter, filters, new { @class = "form-control", @id = "ddlTipoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTipo, new { @class = "form-control", @type = "text", @id = "txtAdvanceTipo" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Resolucion_Tipo!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTipoMultiple, varTipo_de_Resolucion_Tipo,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTipo"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.ResolucionResources.Resolucion_Padre_para_Autorizacion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Resolucion_Padre_para_AutorizacionFilter, filters, new { @class = "form-control", @id = "ddlResolucion_Padre_para_AutorizacionFilter" })
                    @Html.TextBoxFor(m => m.AdvanceResolucion_Padre_para_Autorizacion, new { @class = "form-control", @type = "text", @id = "txtAdvanceResolucion_Padre_para_Autorizacion" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varResolucion_Resolucion_Padre_para_Autorizacion!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceResolucion_Padre_para_AutorizacionMultiple, varResolucion_Resolucion_Padre_para_Autorizacion,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceResolucion_Padre_para_Autorizacion"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.ResolucionResources.ClaveFiscalia</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.ClaveFiscaliaFilter, filters, new { @class = "form-control", @id = "ddlClaveFiscaliaFilter" })
                    @Html.TextBoxFor(m => m.ClaveFiscalia, new { @class = "form-control", @type = "text", @id = "txtClaveFiscalia" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Resolucion/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.ResolucionClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.ResolucionClaveTo = $("#txtAdvanceToClave").val();
        }
        if ($("#txtAdvanceDescripcion").val() != "") {
            hasParameter = true;
            advanceSearch.ResolucionDescripcion = $("#txtAdvanceDescripcion").val();
            advanceSearch.ResolucionDescripcionSearchType = $("#ddlAdvanceDescripcionFilter").val();
        }
        advanceSearch.TipoSearchType = 0;
        if ($('#ddlAdvanceTipo').val().length > 0 || $("#txtAdvanceTipo").val() == "") {


            if (isResolucionTextSearch) {
                advanceSearch.TipoName = $("#txtAdvanceTipo").val();
                advanceSearch.TipoNameSearchType = $("#ddlAdvanceTipo").val();
                advanceSearch.TipoSearchType = 1;
            }
            else {

                advanceSearch.TipoToSearch = $("#ddlAdvanceTipo").val();
                advanceSearch.TipoSearchType = 2;
            }
        }
        advanceSearch.Resolucion_Padre_para_AutorizacionSearchType = 0;
        if ($('#ddlAdvanceResolucion_Padre_para_Autorizacion').val().length > 0 || $("#txtAdvanceResolucion_Padre_para_Autorizacion").val() == "") {


            if (isResolucionTextSearch) {
                advanceSearch.Resolucion_Padre_para_AutorizacionName = $("#txtAdvanceResolucion_Padre_para_Autorizacion").val();
                advanceSearch.Resolucion_Padre_para_AutorizacionNameSearchType = $("#ddlAdvanceResolucion_Padre_para_Autorizacion").val();
                advanceSearch.Resolucion_Padre_para_AutorizacionSearchType = 1;
            }
            else {

                advanceSearch.Resolucion_Padre_para_AutorizacionToSearch = $("#ddlAdvanceResolucion_Padre_para_Autorizacion").val();
                advanceSearch.Resolucion_Padre_para_AutorizacionSearchType = 2;
            }
        }
        if ($("#ddlAdvanceGenerar_Judicializacion").val() != "") {
            hasParameter = true;
            advanceSearch.ResolucionGenerar_Judicializacion = $("#ddlAdvanceGenerar_Judicializacion").val();
        }
        if ($("#txtAdvanceClaveFiscalia").val() != "") {
            hasParameter = true;
            advanceSearch.ResolucionClaveFiscalia = $("#txtAdvanceClaveFiscalia").val();
            advanceSearch.ResolucionClaveFiscaliaSearchType = $("#ddlAdvanceClaveFiscaliaFilter").val();
        }
        if ($("#ddlAdvanceAplica_para_Adolescentes").val() != "") {
            hasParameter = true;
            advanceSearch.ResolucionAplica_para_Adolescentes = $("#ddlAdvanceAplica_para_Adolescentes").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblResolucion').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isResolucionTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceTipo").keypress(function () {
            isResolucionTextSearch = true;
            $("#ddlAdvanceTipo").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTipo").change(function () {
            isResolucionTextSearch = false;
            $("#txtAdvanceTipo").val('');
        });
        $("#txtAdvanceResolucion_Padre_para_Autorizacion").keypress(function () {
            isResolucionTextSearch = true;
            $("#ddlAdvanceResolucion_Padre_para_Autorizacion").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceResolucion_Padre_para_Autorizacion").change(function () {
            isResolucionTextSearch = false;
            $("#txtAdvanceResolucion_Padre_para_Autorizacion").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

