@model IList<Spartane.Web.Areas.Frontal.Models.Detalle_Aseguramiento_Medios_de_TransporteGridModel>

@{
    var rowCounter = 0;
}

<style>
    .table {
        width: 100%;
        border: 1px solid #cccccc;
        font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        /*border-collapse: separate !important;*/
        font-size: 13px;
    }

        .table td {
            padding: 2px;
            border:1px solid #cccccc;
        }

    .table tr:nth-of-type(2n+1) {
        background-color: #f9f9f9;
    }

        .table tr:nth-of-type(2n) {
            background-color: #8da0c2;
        }

    .table-row-1 td, .table-row-1 th {
    }

    .table-row-2 td, .table-row-2 th, thead {
    }

    .tableHeaderRow {
        font-weight: bold;
        border: 1px solid #ff6a00;
    }

    .column1 {
        width: 15%;
    }

    .column2 {
        width: 15%;
    }
</style>
<br />
<body onbeforeprint="ocultarcolumnas();">
 <span id="columnsVisible"></span>
<table class="table" cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Clave
            </td>
                        <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Clave
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Motivo_de_Registro
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Tipo
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Marca
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Submarca
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Modelo
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Placas
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Color
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Numero_de_Motor
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Serie
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Uso
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Cap__De_Pasajeros
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Procedencia
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Seguro
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Compania_de_Seguros
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Empresa
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Capacidad_de_Carga
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Origen
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Destino
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Ubicacion
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Pension
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Domicilio_Resguardo
            </td>
            <td class="column1">
                @Resources.Detalle_Aseguramiento_Medios_de_TransporteResources.Observaciones
            </td>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {                
                <tr>
                    <td>
                        @item.Clave
                    </td>
					                    <td>
                        @item.Clave
                    </td>
                    <td>
                        @item.Motivo_de_RegistroDescripcion
                    </td>
                    <td>
                        @item.TipoDescripcion
                    </td>
                    <td>
                        @item.Marca
                    </td>
                    <td>
                        @item.Submarca
                    </td>
                    <td>
                        @item.Modelo
                    </td>
                    <td>
                        @item.Placas
                    </td>
                    <td>
                        @item.Color
                    </td>
                    <td>
                        @item.Numero_de_Motor
                    </td>
                    <td>
                        @item.Serie
                    </td>
                    <td>
                        @item.UsoDescripcion
                    </td>
                    <td>
                        @item.Cap__De_Pasajeros
                    </td>
                    <td>
                        @item.ProcedenciaDescripcion
                    </td>
                    <td>
                        @item.SeguroDescripcion
                    </td>
                    <td>
                        @item.Compania_de_SegurosDescripcion
                    </td>
                    <td>
                        @item.Empresa
                    </td>
                    <td>
                        @item.Capacidad_de_Carga
                    </td>
                    <td>
                        @item.Origen
                    </td>
                    <td>
                        @item.Destino
                    </td>
                    <td>
                        @item.UbicacionDescripcion
                    </td>
                    <td>
                        @item.PensionDescripcion
                    </td>
                    <td>
                        @item.Domicilio_Resguardo
                    </td>
                    <td>
                        @item.Observaciones
                    </td>

                </tr>
                rowCounter++;
            }
        }
    </tbody>
</table>
</body>

<script>
    function ocultarcolumnas() {        
        var arr = document.getElementById('columnsVisible').text.split(',');
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == "false") {
                show_hide_column(i-1, false);
            }
        }    
    };

    function show_hide_column(col_no, do_show) {
        var rows = document.getElementsByClassName('table')[0].rows;
        for (var row = 0; row < rows.length; row++) {
            var cols = rows[row].cells;
            if (col_no >= 0 && col_no < cols.length) {
                console.log(col_no);
                cols[col_no].style.display = do_show ? '' : 'none';
            }
        }
    }
</script>

