@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Datos_de_los_Hechos_ATModel
@{

    /*
        string Fecha_del_Hecho = "";
        if (Model.Fecha_del_Hecho == "")
        { Model.Fecha_del_Hecho = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

    */
    List<SelectListItem> varModulo_Atencion_Inicial_Modulo_Atencion_Inicial = null;
    if (ViewBag.Modulo_Atencion_Inicials_Modulo_Atencion_Inicial != null)
    { varModulo_Atencion_Inicial_Modulo_Atencion_Inicial = (List<SelectListItem>)ViewBag.Modulo_Atencion_Inicials_Modulo_Atencion_Inicial; }
    List<SelectListItem> varexpediente_ministerio_publico_Expediente_MP = null;
    if (ViewBag.expediente_ministerio_publicos_Expediente_MP != null)
    { varexpediente_ministerio_publico_Expediente_MP = (List<SelectListItem>)ViewBag.expediente_ministerio_publicos_Expediente_MP; }
    List<SelectListItem> varSolicitud_Expediente_MASC = null;
    if (ViewBag.Solicituds_Expediente_MASC != null)
    { varSolicitud_Expediente_MASC = (List<SelectListItem>)ViewBag.Solicituds_Expediente_MASC; }
    List<SelectListItem> varPrioridad_del_Hecho_Prioridad_del_Hecho = null;
    if (ViewBag.Prioridad_del_Hechos_Prioridad_del_Hecho != null)
    { varPrioridad_del_Hecho_Prioridad_del_Hecho = (List<SelectListItem>)ViewBag.Prioridad_del_Hechos_Prioridad_del_Hecho; }
    List<SelectListItem> varPais_Pais = null;
    if (ViewBag.Paiss_Pais != null)
    { varPais_Pais = (List<SelectListItem>)ViewBag.Paiss_Pais; }
    List<SelectListItem> varEstado_Estado = null;
    if (ViewBag.Estados_Estado != null)
    { varEstado_Estado = (List<SelectListItem>)ViewBag.Estados_Estado; }
    List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
    List<SelectListItem> varColonia_Poblacion = null;
    if (ViewBag.Colonias_Poblacion != null)
    { varColonia_Poblacion = (List<SelectListItem>)ViewBag.Colonias_Poblacion; }
    List<SelectListItem> varColonia_Colonia = null;
    if (ViewBag.Colonias_Colonia != null)
    { varColonia_Colonia = (List<SelectListItem>)ViewBag.Colonias_Colonia; }
    List<SelectListItem> varDocumento_Extraviado_Tipo_de_Documento_Extraviado = null;
    if (ViewBag.Documento_Extraviados_Tipo_de_Documento_Extraviado != null)
    { varDocumento_Extraviado_Tipo_de_Documento_Extraviado = (List<SelectListItem>)ViewBag.Documento_Extraviados_Tipo_de_Documento_Extraviado; }
    List<SelectListItem> varLugar_Tipo_Tipo_de_Lugar_del_Hecho = null;
    if (ViewBag.Lugar_Tipos_Tipo_de_Lugar_del_Hecho != null)
    { varLugar_Tipo_Tipo_de_Lugar_del_Hecho = (List<SelectListItem>)ViewBag.Lugar_Tipos_Tipo_de_Lugar_del_Hecho; }


    Permission permission = ViewBag.Permission;

    if (ViewBag.IsPartial || ViewBag.viewInEframe)
    {
        Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
    }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.Datos_de_los_Hechos_ATResources.Datos_de_los_Hechos_AT
                <button onclick="Datos_de_los_Hechos_ATGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Datos_de_los_Hechos_ATBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                    @if (Session["PhaseName"] != null)
                    {
                        <strong>@Session["PhaseName"].ToString()</strong>
                    }
                    else
                    {
                        <strong>@Resources.Datos_de_los_Hechos_ATResources.Datos_de_los_Hechos_AT</strong>
                    }

                </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="Datos_de_los_Hechos_ATDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in Datos_de_los_Hechos_ATPropertyBusinessModal" id="Datos_de_los_Hechos_ATPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                        @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Datos_de_los_Hechos_ATBusinessRule-form" onclick="Datos_de_los_Hechos_ATGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>
                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Datos_de_los_Hechos_ATBusinessRuleModal" id="Datos_de_los_Hechos_ATBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>


                }
            }

        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                @using (Html.BeginForm("Post", "Datos_de_los_Hechos_AT", FormMethod.Post, new { id = "CreateDatos_de_los_Hechos_AT", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                    <span id="popupNotification"></span>
                    <div class="container-fluid Datos_de_los_Hechos_ATCreateForm" id="viewmodeledit">
                        <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                            <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                            <span id="textRequired"></span>
                        </div>
                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.Datos_de_los_Hechos_ATResources.TabDatos_Generales</a></li>

                            </ul>
                            <div class="tab-content">
                                <div id="tabDatos_Generales" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="form-group" id="divClave">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Clave</label>
                                            <div class="col-sm-8" data-field-id="Clave" data-attribute="268405" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Clave">
                                                <label class="form-control" for="Clave" id="lblClave">
                                                    @if (Model.Clave == 0)
                                                    {
                                                        <text>@Resources.Resources.ClaveDefault</text>
                                                    }
                                                    else
                                                    {
                                                        <text>@Model.Clave</text>
                                                    }
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group" id="divModulo_Atencion_Inicial">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Modulo_Atencion_Inicial</label>
                                            <div class="col-sm-8" data-field-id="Modulo_Atencion_Inicial" data-attribute="268425" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Modulo_Atencion_Inicial">
                                                <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Modulo Atención Inicial must be a number." data-val-required="The Modulo Atención Inicial field is required." id="Modulo_Atencion_Inicial" name="Modulo_Atencion_Inicial">
                                                    <option value=""></option>
                                                    @if (varModulo_Atencion_Inicial_Modulo_Atencion_Inicial != null)
                                                    {
                                                        foreach (var itemModulo_Atencion_Inicial in varModulo_Atencion_Inicial_Modulo_Atencion_Inicial)
                                                        {
                                                            if (itemModulo_Atencion_Inicial.Value == Convert.ToString(Model.Modulo_Atencion_Inicial))
                                                            {
                                                                <option value="@itemModulo_Atencion_Inicial.Value" selected>@itemModulo_Atencion_Inicial.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@itemModulo_Atencion_Inicial.Value">@itemModulo_Atencion_Inicial.Text</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                                @*<span class="field-validation-valid" data-valmsg-for="Modulo_Atencion_Inicial" data-valmsg-replace="true"></span>*@
                                            </div>
                                            @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268425).New)
                                            {
                                                <div class="col-sm-1 abm-icons">
                                                    <a id="Estado_New" onclick="GetCatalogPopup('Modulo_Atencion_Inicial', 'Modulo_Atencion_Inicial');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                                </div>
                                            }
                                        </div>
                                        <div class="form-group" id="divExpediente_MP">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Expediente_MP</label>
                                            <div class="col-sm-8" data-field-id="Expediente_MP" data-attribute="268458" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Expediente_MP">
                                                <select class='fullWidth AutoComplete AutoCompleteDatos_de_los_Hechos_AT_Expediente_MP form-control select2-dropdown Datos_Generales' data-val="true" id="Expediente_MP" name="Expediente_MP">
                                                    <option value="@Model.Expediente_MP">@(Model.Expediente_MPnic ?? Model.Expediente_MPnic)</option>
                                                </select>
                                            </div>
                                            @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268458).New)
                                            {
                                                <div class="col-sm-1 abm-icons">
                                                    <a id="Estado_New" onclick="GetCatalogPopup('expediente_ministerio_publico', 'Expediente_MP');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                                </div>
                                            }
                                        </div>
                                        <div class="form-group" id="divExpediente_MASC">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Expediente_MASC</label>
                                            <div class="col-sm-8" data-field-id="Expediente_MASC" data-attribute="268459" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Expediente_MASC">
                                                <select class='fullWidth AutoComplete AutoCompleteDatos_de_los_Hechos_AT_Expediente_MASC form-control select2-dropdown Datos_Generales' data-val="true" id="Expediente_MASC" name="Expediente_MASC">
                                                    <option value="@Model.Expediente_MASC">@(Model.Expediente_MASCNumero_de_Folio ?? Model.Expediente_MASCNumero_de_Folio)</option>
                                                </select>
                                            </div>
                                            @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268459).New)
                                            {
                                                <div class="col-sm-1 abm-icons">
                                                    <a id="Estado_New" onclick="GetCatalogPopup('Solicitud', 'Expediente_MASC');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                                </div>
                                            }
                                        </div>
                                        <div class="form-group" id="divTitulo_del_Hecho">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Titulo_del_Hecho</label>
                                            <div class="col-sm-8" data-field-id="Titulo_del_Hecho" data-attribute="268406" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Titulo_del_Hecho">
                                                <input class="form-control Datos_Generales" id="Titulo_del_Hecho" name="Titulo_del_Hecho" type="text" value="@Model.Titulo_del_Hecho">
                                                @*<span class="field-validation-valid" data-valmsg-for="Titulo_del_Hecho" data-valmsg-replace="true"></span>*@
                                            </div>
                                        </div>
                                        <div class="form-group" id="divNarrativa_Breve_de_los_Hechos">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Narrativa_Breve_de_los_Hechos</label>
                                            <div class="col-sm-8" data-field-id="Narrativa_Breve_de_los_Hechos" data-attribute="268407" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Narrativa_Breve_de_los_Hechos">
                                                <textarea id="Narrativa_Breve_de_los_Hechos" name="Narrativa_Breve_de_los_Hechos" class="form-control Datos_Generales" rows="4" cols="50">@Model.Narrativa_Breve_de_los_Hechos</textarea>
                                                @*<span class="field-validation-valid" data-valmsg-for="Narrativa_Breve_de_los_Hechos" data-valmsg-replace="true"></span>*@
                                            </div>
                                        </div>
                                        <div class="form-group" id="divPrioridad_del_Hecho">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Prioridad_del_Hecho</label>
                                            <div class="col-sm-8" data-field-id="Prioridad_del_Hecho" data-attribute="268408" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Prioridad_del_Hecho">
                                                <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Prioridad del Hecho must be a number." data-val-required="The Prioridad del Hecho field is required." id="Prioridad_del_Hecho" name="Prioridad_del_Hecho">
                                                    <option value=""></option>
                                                    @if (varPrioridad_del_Hecho_Prioridad_del_Hecho != null)
                                                    {
                                                        foreach (var itemPrioridad_del_Hecho in varPrioridad_del_Hecho_Prioridad_del_Hecho)
                                                        {
                                                            if (itemPrioridad_del_Hecho.Value == Convert.ToString(Model.Prioridad_del_Hecho))
                                                            {
                                                                <option value="@itemPrioridad_del_Hecho.Value" selected>@itemPrioridad_del_Hecho.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@itemPrioridad_del_Hecho.Value">@itemPrioridad_del_Hecho.Text</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                                @*<span class="field-validation-valid" data-valmsg-for="Prioridad_del_Hecho" data-valmsg-replace="true"></span>*@
                                            </div>
                                            @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268408).New)
                                            {
                                                <div class="col-sm-1 abm-icons">
                                                    <a id="Estado_New" onclick="GetCatalogPopup('Prioridad_del_Hecho', 'Prioridad_del_Hecho');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                                </div>
                                            }
                                        </div>
                                        <div class="form-group" id="divFecha_del_Hecho">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Fecha_del_Hecho</label>
                                            <div class="col-sm-8" data-field-id="Fecha_del_Hecho" data-attribute="268409" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Fecha_del_Hecho">
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input class="form-control col-md-12 Datos_Generales" id="Fecha_del_Hecho" name="Fecha_del_Hecho" type="text" value="@Model.Fecha_del_Hecho">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" id="divHora_Aproximada_del_Hecho">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Hora_Aproximada_del_Hecho</label>
                                            <div class="col-sm-8" data-field-id="Hora_Aproximada_del_Hecho" data-attribute="268410" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Hora_Aproximada_del_Hecho">
                                                <div class='input-group date' id='timePicker'>
                                                    <input class="form-control col-md-12 Datos_Generales" id="Hora_Aproximada_del_Hecho" name="Hora_Aproximada_del_Hecho" type="text" data-autoclose="true" value="@Model.Hora_Aproximada_del_Hecho">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" id="divPais">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Pais</label>
                                            <div class="col-sm-8" data-field-id="Pais" data-attribute="268411" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Pais">
                                                <select class='fullWidth AutoComplete AutoCompleteDatos_de_los_Hechos_AT_Pais form-control select2-dropdown Datos_Generales' data-val="true" id="Pais" name="Pais">
                                                    <option value="@Model.Pais">@(Model.PaisNombre ?? Model.PaisNombre)</option>
                                                </select>
                                            </div>
                                            @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268411).New)
                                            {
                                                <div class="col-sm-1 abm-icons">
                                                    <a id="Estado_New" onclick="GetCatalogPopup('Pais', 'Pais');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                                </div>
                                            }
                                        </div>
                                        <div class="form-group" id="divEstado">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Estado</label>
                                            <div class="col-sm-8" data-field-id="Estado" data-attribute="268412" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Estado">
                                                <select class='fullWidth AutoComplete AutoCompleteDatos_de_los_Hechos_AT_Estado form-control select2-dropdown Datos_Generales' data-val="true" id="Estado" name="Estado">
                                                    <option value="@Model.Estado">@(Model.EstadoNombre ?? Model.EstadoNombre)</option>
                                                </select>
                                            </div>
                                            @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268412).New)
                                            {
                                                <div class="col-sm-1 abm-icons">
                                                    <a id="Estado_New" onclick="GetCatalogPopup('Estado', 'Estado');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                                </div>
                                            }
                                        </div>
                                        <div class="form-group" id="divMunicipio">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Municipio</label>
                                            <div class="col-sm-8" data-field-id="Municipio" data-attribute="268413" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Municipio">
                                                <select class='fullWidth AutoComplete AutoCompleteDatos_de_los_Hechos_AT_Municipio form-control select2-dropdown Datos_Generales' data-val="true" id="Municipio" name="Municipio">
                                                    <option value="@Model.Municipio">@(Model.MunicipioNombre ?? Model.MunicipioNombre)</option>
                                                </select>
                                            </div>
                                            @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268413).New)
                                            {
                                                <div class="col-sm-1 abm-icons">
                                                    <a id="Estado_New" onclick="GetCatalogPopup('Municipio', 'Municipio');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                                </div>
                                            }
                                        </div>
                                        <div class="form-group" id="divPoblacion">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Poblacion</label>
                                            <div class="col-sm-8" data-field-id="Poblacion" data-attribute="268414" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Poblacion">
                                                <select class='fullWidth AutoComplete AutoCompleteDatos_de_los_Hechos_AT_Poblacion form-control select2-dropdown Datos_Generales' data-val="true" id="Poblacion" name="Poblacion">
                                                    <option value="@Model.Poblacion">@(Model.PoblacionNombre ?? Model.PoblacionNombre)</option>
                                                </select>
                                            </div>
                                            @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268414).New)
                                            {
                                                <div class="col-sm-1 abm-icons">
                                                    <a id="Estado_New" onclick="GetCatalogPopup('Colonia', 'Poblacion');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                                </div>
                                            }
                                        </div>
                                        <div class="form-group" id="divColonia">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Colonia</label>
                                            <div class="col-sm-8" data-field-id="Colonia" data-attribute="268415" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Colonia">
                                                <select class='fullWidth AutoComplete AutoCompleteDatos_de_los_Hechos_AT_Colonia form-control select2-dropdown Datos_Generales' data-val="true" id="Colonia" name="Colonia">
                                                    <option value="@Model.Colonia">@(Model.ColoniaNombre ?? Model.ColoniaNombre)</option>
                                                </select>
                                            </div>
                                            @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268415).New)
                                            {
                                                <div class="col-sm-1 abm-icons">
                                                    <a id="Estado_New" onclick="GetCatalogPopup('Colonia', 'Colonia');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                                </div>
                                            }
                                        </div>
                                        <div class="form-group" id="divCodigo_Postal">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Codigo_Postal</label>
                                            <div class="col-sm-8" data-field-id="Codigo_Postal" data-attribute="268416" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Codigo_Postal">
                                                <input class="form-control inputNumber Datos_Generales" id="Codigo_Postal" name="Codigo_Postal" type="text" value="@Model.Codigo_Postal">
                                                @*<span class="field-validation-valid" data-valmsg-for="Codigo_Postal" data-valmsg-replace="true"></span>*@
                                            </div>
                                        </div>
                                        <div class="form-group" id="divCalle">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Calle</label>
                                            <div class="col-sm-8" data-field-id="Calle" data-attribute="268417" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Calle">
                                                <input class="form-control Datos_Generales" id="Calle" name="Calle" type="text" value="@Model.Calle">
                                                @*<span class="field-validation-valid" data-valmsg-for="Calle" data-valmsg-replace="true"></span>*@
                                            </div>
                                        </div>
                                        <div class="form-group" id="divEntre_Calle">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Entre_Calle</label>
                                            <div class="col-sm-8" data-field-id="Entre_Calle" data-attribute="268418" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Entre_Calle">
                                                <input class="form-control Datos_Generales" id="Entre_Calle" name="Entre_Calle" type="text" value="@Model.Entre_Calle">
                                                @*<span class="field-validation-valid" data-valmsg-for="Entre_Calle" data-valmsg-replace="true"></span>*@
                                            </div>
                                        </div>
                                        <div class="form-group" id="divY_Calle">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Y_Calle</label>
                                            <div class="col-sm-8" data-field-id="Y_Calle" data-attribute="268419" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Y_Calle">
                                                <input class="form-control Datos_Generales" id="Y_Calle" name="Y_Calle" type="text" value="@Model.Y_Calle">
                                                @*<span class="field-validation-valid" data-valmsg-for="Y_Calle" data-valmsg-replace="true"></span>*@
                                            </div>
                                        </div>
                                        <div class="form-group" id="divNumero_Exterior">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Numero_Exterior</label>
                                            <div class="col-sm-8" data-field-id="Numero_Exterior" data-attribute="268420" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Numero_Exterior">
                                                <input class="form-control Datos_Generales" id="Numero_Exterior" name="Numero_Exterior" type="text" value="@Model.Numero_Exterior">
                                                @*<span class="field-validation-valid" data-valmsg-for="Numero_Exterior" data-valmsg-replace="true"></span>*@
                                            </div>
                                        </div>
                                        <div class="form-group" id="divNumero_Interior">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Numero_Interior</label>
                                            <div class="col-sm-8" data-field-id="Numero_Interior" data-attribute="268421" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Numero_Interior">
                                                <input class="form-control Datos_Generales" id="Numero_Interior" name="Numero_Interior" type="text" value="@Model.Numero_Interior">
                                                @*<span class="field-validation-valid" data-valmsg-for="Numero_Interior" data-valmsg-replace="true"></span>*@
                                            </div>
                                        </div>
                                        <div class="form-group" id="divReferencia">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Referencia</label>
                                            <div class="col-sm-8" data-field-id="Referencia" data-attribute="268428" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Referencia">
                                                <input class="form-control Datos_Generales" id="Referencia" name="Referencia" type="text" value="@Model.Referencia">
                                                @*<span class="field-validation-valid" data-valmsg-for="Referencia" data-valmsg-replace="true"></span>*@
                                            </div>
                                        </div>
                                        <div class="form-group" id="divLatitud">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Latitud</label>
                                            <div class="col-sm-8" data-field-id="Latitud" data-attribute="268422" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Latitud">
                                                <input class="form-control Datos_Generales" id="Latitud" name="Latitud" type="text" value="@Model.Latitud">

                                            </div>
                                        </div>
                                        <div class="form-group" id="divLongitud">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Longitud</label>
                                            <div class="col-sm-8" data-field-id="Longitud" data-attribute="268423" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Longitud">
                                                <input class="form-control Datos_Generales" id="Longitud" name="Longitud" type="text" value="@Model.Longitud">
                                                @*<span class="field-validation-valid" data-valmsg-for="Longitud" data-valmsg-replace="true"></span>*@
                                            </div>
                                        </div>

                                        <div class="form-group" id="divMapa">
                                            <label class="col-sm-2 control-label" style="color:white!important;">Mapa</label>
                                            <div class="col-sm-8">
                                                <a href="#" class="btn btn-info btn-lg" style="float:right!important;" id="btnOpenMapa">
                                                    <span class="glyphicon glyphicon-map-marker"></span> Ver Mapa
                                                </a>
                                            </div>

                                        </div>


                                        <div class="form-group" id="divDocumento_Extraviado">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Documento_Extraviado</label>
                                            <div class="col-sm-8" data-field-id="Documento_Extraviado" data-attribute="268426" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Documento_Extraviado">
                                                @Html.CheckBoxFor(m => m.Documento_Extraviado, new { @class = "i-checks Datos_Generales" })
                                            </div>
                                        </div>
                                        <div class="form-group" id="divTipo_de_Documento_Extraviado">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Tipo_de_Documento_Extraviado</label>
                                            <div class="col-sm-8" data-field-id="Tipo_de_Documento_Extraviado" data-attribute="268427" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Tipo_de_Documento_Extraviado">
                                                <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Tipo de Documento Extraviado must be a number." data-val-required="The Tipo de Documento Extraviado field is required." id="Tipo_de_Documento_Extraviado" name="Tipo_de_Documento_Extraviado">
                                                    <option value=""></option>
                                                    @if (varDocumento_Extraviado_Tipo_de_Documento_Extraviado != null)
                                                    {
                                                        foreach (var itemTipo_de_Documento_Extraviado in varDocumento_Extraviado_Tipo_de_Documento_Extraviado)
                                                        {
                                                            if (itemTipo_de_Documento_Extraviado.Value == Convert.ToString(Model.Tipo_de_Documento_Extraviado))
                                                            {
                                                                <option value="@itemTipo_de_Documento_Extraviado.Value" selected>@itemTipo_de_Documento_Extraviado.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@itemTipo_de_Documento_Extraviado.Value">@itemTipo_de_Documento_Extraviado.Text</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                                @*<span class="field-validation-valid" data-valmsg-for="Tipo_de_Documento_Extraviado" data-valmsg-replace="true"></span>*@
                                            </div>
                                            @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268427).New)
                                            {
                                                <div class="col-sm-1 abm-icons">
                                                    <a id="Estado_New" onclick="GetCatalogPopup('Documento_Extraviado', 'Tipo_de_Documento_Extraviado');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                                </div>
                                            }
                                        </div>
                                        <div class="form-group" id="divTipo_de_Lugar_del_Hecho">
                                            <label class="col-sm-2 control-label">@Resources.Datos_de_los_Hechos_ATResources.Tipo_de_Lugar_del_Hecho</label>
                                            <div class="col-sm-8" data-field-id="Tipo_de_Lugar_del_Hecho" data-attribute="268424" data-field-name="@Resources.Datos_de_los_Hechos_ATResources.Tipo_de_Lugar_del_Hecho">
                                                <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Tipo de Lugar del Hecho must be a number." data-val-required="The Tipo de Lugar del Hecho field is required." id="Tipo_de_Lugar_del_Hecho" name="Tipo_de_Lugar_del_Hecho">
                                                    <option value=""></option>
                                                    @if (varLugar_Tipo_Tipo_de_Lugar_del_Hecho != null)
                                                    {
                                                        foreach (var itemTipo_de_Lugar_del_Hecho in varLugar_Tipo_Tipo_de_Lugar_del_Hecho)
                                                        {
                                                            if (itemTipo_de_Lugar_del_Hecho.Value == Convert.ToString(Model.Tipo_de_Lugar_del_Hecho))
                                                            {
                                                                <option value="@itemTipo_de_Lugar_del_Hecho.Value" selected>@itemTipo_de_Lugar_del_Hecho.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@itemTipo_de_Lugar_del_Hecho.Value">@itemTipo_de_Lugar_del_Hecho.Text</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                                @*<span class="field-validation-valid" data-valmsg-for="Tipo_de_Lugar_del_Hecho" data-valmsg-replace="true"></span>*@
                                            </div>
                                            @if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 268424).New)
                                            {
                                                <div class="col-sm-1 abm-icons">
                                                    <a id="Estado_New" onclick="GetCatalogPopup('Lugar_Tipo', 'Tipo_de_Lugar_del_Hecho');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Clave" id="ReferenceClave" />
                                <input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Datos_de_los_Hechos_ATGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('Datos_de_los_Hechos_ATCreateForm');" />
                                    <button onclick="Datos_de_los_Hechos_ATGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Datos_de_los_Hechos_ATBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="Datos_de_los_Hechos_ATGuardarYNuevo" onclick="return checkClientValidate('Datos_de_los_Hechos_ATCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew" />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="Datos_de_los_Hechos_ATGuardarYCopia" onclick="return checkClientValidate('Datos_de_los_Hechos_ATCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy" />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
                                <input type="hidden" id="hdnDatos_de_los_Hechos_ATBusinessRuleFieldId" />
                                <input type="hidden" id="hdnDatos_de_los_Hechos_ATBusinessRuleFieldName" />
                                <input type="hidden" id="hdnDatos_de_los_Hechos_ATBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Datos_de_los_Hechos_ATCancelar" name="Datos_de_los_Hechos_ATCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="Datos_de_los_Hechos_ATGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Datos_de_los_Hechos_ATBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />


    <!-- Trigger the modal with a button -->
    <button style="display:none;" type="button" class="btn btn-info btn-lg" data-toggle="modal" id="modalMapa" data-target="#myModal">Ver Mapa</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog" style="width: 90%;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Seleccionar Dirección</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Escriba la dirección</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" style="width:100%" id="address" name="address" />
                            </div>
                            <div class="col-md-3">
                                <input type="button" id="BucarDireccion" value="Buscar">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:12px;">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <!-- <div id="gmap" style="height:100%; width:100%;"></div> -->
                                <div id="gmap" style="height: 400px"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                </div>
            </div>

        </div>
    </div>




    @section Styles {
        <link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
        @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
        @Styles.Render("~/plugins/dateRangeStyles")
        @Styles.Render("~/plugins/dataPickerStyles")
        @Styles.Render("~/plugins/clockpickerStyles")
        @Styles.Render("~/plugins/awesomeCheckboxStyles")
        @Styles.Render("~/plugins/select2Styles")
        @Styles.Render("~/Content/plugins/chosen/chosenStyles")
        <style>
            .dataTables_filter {
                display: none;
            }

            .select2-results {
                background-color: #fff;
            }

            .select2-container .select2-dropdown {
                height: auto !important;
            }

            div.dataTables_info {
                display: inline-block;
                float: right;
            }
            /*i {
                font-size: 25px !important;
                display: block;
                color: #676a6c;
                margin-left: 6px;
                margin-right: 6px;
            }*/

            .fullWidth {
                width: 100%;
            }
        </style>
    }

    <script type="text/javascript" src="~/Uploads/Scripts/Datos_de_los_Hechos_AT.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
    <script type="text/javascript" src="~/Scripts/Custom/Datos_de_los_Hechos_ATGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
    <script type="text/javascript" src="~/Uploads/Scripts/Rules/Datos_de_los_Hechos_ATCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
    <script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    @section Scripts {


        <script type="text/javascript">



	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";
            case 'delete':
                return "@Resources.Resources.Delete";
            case 'required':
                return "@Resources.Resources.Required";
            case 'notrequired':
                return "@Resources.Resources.NotRequired";
            case 'enabled':
                return "@Resources.Resources.Enabled";
            case 'disabled':
                return "@Resources.Resources.Disabled";
            case 'visible':
                return "@Resources.Resources.Visible";
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";
            default:
                return "";
        }
    }

	    var viewInEframe =  ('@ViewBag.viewInEframe' == 'True');
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;


        $(document).ready(function () {
            $('#ObjectId').val('45619');


                        $('#Fecha_del_Hecho').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Hora_Aproximada_del_Hecho').clockpicker();


            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');

			 if (viewInEframe) {
                $('#Datos_de_los_Hechos_ATGuardarYNuevo').hide();
                $('#Datos_de_los_Hechos_ATGuardarYCopia').hide();
                $('#Datos_de_los_Hechos_ATCancelar').hide();
                $('#ConfigureSave').hide();
                $('#Datos_de_los_Hechos_ATGuardar').val('Actualizar Seccion ' + '@Resources.Datos_de_los_Hechos_ATResources.Datos_de_los_Hechos_AT' )
            }


			       var AutoCompleteExpediente_MPData =[];
       $(".AutoCompleteDatos_de_los_Hechos_AT_Expediente_MP").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Datos_de_los_Hechos_AT/GetDatos_de_los_Hechos_AT_Expediente_MP_expediente_ministerio_publico")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term,
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDatos_de_los_Hechos_AT_Expediente_MP_expediente_ministerio_publicoData(data),
                        pagination: {
                            more: false
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDatos_de_los_Hechos_AT_Expediente_MP");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteExpediente_MASCData =[];
       $(".AutoCompleteDatos_de_los_Hechos_AT_Expediente_MASC").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Datos_de_los_Hechos_AT/GetDatos_de_los_Hechos_AT_Expediente_MASC_Solicitud")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term,
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDatos_de_los_Hechos_AT_Expediente_MASC_SolicitudData(data),
                        pagination: {
                            more: false
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDatos_de_los_Hechos_AT_Expediente_MASC");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompletePaisData =[];
       $(".AutoCompleteDatos_de_los_Hechos_AT_Pais").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Datos_de_los_Hechos_AT/GetDatos_de_los_Hechos_AT_Pais_Pais")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term,
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDatos_de_los_Hechos_AT_Pais_PaisData(data),
                        pagination: {
                            more: false
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDatos_de_los_Hechos_AT_Pais");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteEstadoData =[];
       $(".AutoCompleteDatos_de_los_Hechos_AT_Estado").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Datos_de_los_Hechos_AT/GetDatos_de_los_Hechos_AT_Estado_Estado")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term,
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDatos_de_los_Hechos_AT_Estado_EstadoData(data),
                        pagination: {
                            more: false
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDatos_de_los_Hechos_AT_Estado");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteMunicipioData =[];
       $(".AutoCompleteDatos_de_los_Hechos_AT_Municipio").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Datos_de_los_Hechos_AT/GetDatos_de_los_Hechos_AT_Municipio_Municipio")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term,
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDatos_de_los_Hechos_AT_Municipio_MunicipioData(data),
                        pagination: {
                            more: false
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDatos_de_los_Hechos_AT_Municipio");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompletePoblacionData =[];
       $(".AutoCompleteDatos_de_los_Hechos_AT_Poblacion").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Datos_de_los_Hechos_AT/GetDatos_de_los_Hechos_AT_Poblacion_Colonia")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term,
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDatos_de_los_Hechos_AT_Poblacion_ColoniaData(data),
                        pagination: {
                            more: false
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDatos_de_los_Hechos_AT_Poblacion");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteColoniaData =[];
       $(".AutoCompleteDatos_de_los_Hechos_AT_Colonia").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Datos_de_los_Hechos_AT/GetDatos_de_los_Hechos_AT_Colonia_Colonia")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term,
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDatos_de_los_Hechos_AT_Colonia_ColoniaData(data),
                        pagination: {
                            more: false
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDatos_de_los_Hechos_AT_Colonia");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });


            @if(ViewBag.IsNew)
            {
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();


                </text>
            }
            EjecutarValidacionesAlComienzo();

        });



        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });

        }

        </script>

        <script type="text/javascript">


   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}

			var url = '@Url.Content("~/Frontal/Datos_de_los_Hechos_AT/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});

    }


        function SendDatos_de_los_Hechos_ATData(callBack) {


		 var arr = [];
		 $("form#CreateDatos_de_los_Hechos_AT").find(':input').each(function( index ) {
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{
				arr.push($(this).attr('id'));
				$(this).prop('disabled', false);
			}
	    });

             var formData = new FormData($("form#CreateDatos_de_los_Hechos_AT")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceClave").val();
            var isNew = $('#hdnIsNew').val();

			if (Tab_Datos_Generales && !checkClientValidate('Datos_de_los_Hechos_ATCreateForm', 'Datos_Generales')) {
				return false;
			}



			if (isNew == "True")
            {
                id = CreateID();
            }


			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Datos_de_los_Hechos_AT/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}

		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".Datos_de_los_Hechos_ATBusinessRuleModal").html(data);
			});
		}
                function Datos_de_los_Hechos_ATGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('45619');
			$('#Screen').val('Datos_de_los_Hechos_AT');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };


    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function Datos_de_los_Hechos_ATBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Datos_de_los_Hechos_AT/")";
    }

	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Datos_de_los_Hechos_AT/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Datos_de_los_Hechos_AT/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }

        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Datos_de_los_Hechos_AT/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Datos_de_los_Hechos_AT/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateDatos_de_los_Hechos_AT').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        Datos_de_los_Hechos_ATGetBusinessRule();
		});
		//Initialize HTML Editors
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';


		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Datos_de_los_Hechos_AT/Get_Datos_Generales")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    $('#Modulo_Atencion_Inicial').val(result.data.Modulo_Atencion_Inicial);
                    var control = $('#Expediente_MP');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Expediente_MP).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Expediente_MP).trigger('change');
                    }, 3000);
                    var control = $('#Expediente_MASC');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Expediente_MASC).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Expediente_MASC).trigger('change');
                    }, 3000);
                    $('#Titulo_del_Hecho').val(result.data.Titulo_del_Hecho);
                    $('#Narrativa_Breve_de_los_Hechos').val(result.data.Narrativa_Breve_de_los_Hechos);
                    $('#Prioridad_del_Hecho').val(result.data.Prioridad_del_Hecho);
                    $('#Fecha_del_Hecho').val(result.data.Fecha_del_Hecho);
                    $('#Hora_Aproximada_del_Hecho').val(result.data.Hora_Aproximada_del_Hecho);
                    var control = $('#Pais');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Pais).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Pais).trigger('change');
                    }, 3000);
                    var control = $('#Estado');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Estado).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Estado).trigger('change');
                    }, 3000);
                    var control = $('#Municipio');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Municipio).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Municipio).trigger('change');
                    }, 3000);
                    var control = $('#Poblacion');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Poblacion).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Poblacion).trigger('change');
                    }, 3000);
                    var control = $('#Colonia');
                    control.select2('open');
                    $('.select2-search__field').val(result.data.Colonia).trigger('keyup');
                    control.select2('close');
                    setTimeout(function () {
	                    var data = eval('AutoComplete' + control.selector.replace('#', '') + 'Data');
	                    control.select2({ data: data });
	                    control.val(result.data.Colonia).trigger('change');
                    }, 3000);
                    $('#Codigo_Postal').val(result.data.Codigo_Postal);
                    $('#Calle').val(result.data.Calle);
                    $('#Entre_Calle').val(result.data.Entre_Calle);
                    $('#Y_Calle').val(result.data.Y_Calle);
                    $('#Numero_Exterior').val(result.data.Numero_Exterior);
                    $('#Numero_Interior').val(result.data.Numero_Interior);
                    $('#Referencia').val(result.data.Referencia);
                    $('#Latitud').val(result.data.Latitud);
                    $('#Longitud').val(result.data.Longitud);
                    $('#Documento_Extraviado').prop('checked', result.data.Documento_Extraviado);
                    $('#Tipo_de_Documento_Extraviado').val(result.data.Tipo_de_Documento_Extraviado);
                    $('#Tipo_de_Lugar_del_Hecho').val(result.data.Tipo_de_Lugar_del_Hecho);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }

		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Modulo_Atencion_Inicial', $('#Modulo_Atencion_Inicial').val());
                data.append('Expediente_MP', $('#Expediente_MP').val());
                data.append('Expediente_MASC', $('#Expediente_MASC').val());
                data.append('Titulo_del_Hecho', $('#Titulo_del_Hecho').val());
                data.append('Narrativa_Breve_de_los_Hechos', $('#Narrativa_Breve_de_los_Hechos').val());
                data.append('Prioridad_del_Hecho', $('#Prioridad_del_Hecho').val());
                data.append('Fecha_del_Hecho', $('#Fecha_del_Hecho').val());
                data.append('Hora_Aproximada_del_Hecho', $('#Hora_Aproximada_del_Hecho').val());
                data.append('Pais', $('#Pais').val());
                data.append('Estado', $('#Estado').val());
                data.append('Municipio', $('#Municipio').val());
                data.append('Poblacion', $('#Poblacion').val());
                data.append('Colonia', $('#Colonia').val());
                data.append('Codigo_Postal', $('#Codigo_Postal').val());
                data.append('Calle', $('#Calle').val());
                data.append('Entre_Calle', $('#Entre_Calle').val());
                data.append('Y_Calle', $('#Y_Calle').val());
                data.append('Numero_Exterior', $('#Numero_Exterior').val());
                data.append('Numero_Interior', $('#Numero_Interior').val());
                data.append('Referencia', $('#Referencia').val());
                data.append('Latitud', $('#Latitud').val());
                data.append('Longitud', $('#Longitud').val());
                data.append('Documento_Extraviado', $('#Documento_Extraviado').prop('checked'));
                data.append('Tipo_de_Documento_Extraviado', $('#Tipo_de_Documento_Extraviado').val());
                data.append('Tipo_de_Lugar_del_Hecho', $('#Tipo_de_Lugar_del_Hecho').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Datos_de_los_Hechos_AT/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;

					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}

            $("body").on("click", "#btnOpenMapa", function () {

                $("#modalMapa").click();

            });
            $('#myModal').on('shown.bs.modal', function () {
                var lat = $("#Latitud").val();
                var long = $("#Longitud").val();
                if (lat != "" && long != "") {
                    $("#address").val(lat + "," + long);
                }
                CargaGoogleMaps();
            });

            $('#myModal').on('hidden.bs.modal', function () {

            });
            $("body").on("click", "#BucarDireccion", function () {
               
                    
                CargaGoogleMaps();
            });

        </script>
    }
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
    <input type="hidden" id="Datos_de_los_Hechos_AT_cmbLabelSelect" name="Datos_de_los_Hechos_AT_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBl6FOVgpwFjFmSSdVREMUzCQKSq7JQLdA" type="text/javascript"></script>
