@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.SolicitudAdvanceSearchModel
@{
 List<SelectListItem> varSpartan_User_Usuario_que_Registra = null;
    if (ViewBag.Spartan_Users_Usuario_que_Registra != null)
    { varSpartan_User_Usuario_que_Registra = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Registra; }
    List<SelectListItem> varUnidad_Unidad_MASC = null;
    if (ViewBag.Unidads_Unidad_MASC != null)
    { varUnidad_Unidad_MASC = (List<SelectListItem>)ViewBag.Unidads_Unidad_MASC; }
 List<SelectListItem> varModulo_Atencion_Inicial_NUAT = null;
    if (ViewBag.Modulo_Atencion_Inicials_NUAT != null)
    { varModulo_Atencion_Inicial_NUAT = (List<SelectListItem>)ViewBag.Modulo_Atencion_Inicials_NUAT; }
    List<SelectListItem> varUnidad_Unidad = null;
    if (ViewBag.Unidads_Unidad != null)
    { varUnidad_Unidad = (List<SelectListItem>)ViewBag.Unidads_Unidad; }
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
    List<SelectListItem> varRegion_Region = null;
    if (ViewBag.Regions_Region != null)
    { varRegion_Region = (List<SelectListItem>)ViewBag.Regions_Region; }
    List<SelectListItem> varEstatus_Solicitud_Estatus = null;
    if (ViewBag.Estatus_Solicituds_Estatus != null)
    { varEstatus_Solicitud_Estatus = (List<SelectListItem>)ViewBag.Estatus_Solicituds_Estatus; }
 List<SelectListItem> varSpartan_User_Agente_del_Ministerio_Publico_Orientador = null;
    if (ViewBag.Spartan_Users_Agente_del_Ministerio_Publico_Orientador != null)
    { varSpartan_User_Agente_del_Ministerio_Publico_Orientador = (List<SelectListItem>)ViewBag.Spartan_Users_Agente_del_Ministerio_Publico_Orientador; }
 List<SelectListItem> varSpartan_User_Agente_del_Ministerio_Publico_Invest = null;
    if (ViewBag.Spartan_Users_Agente_del_Ministerio_Publico_Invest != null)
    { varSpartan_User_Agente_del_Ministerio_Publico_Invest = (List<SelectListItem>)ViewBag.Spartan_Users_Agente_del_Ministerio_Publico_Invest; }
 List<SelectListItem> varSpartan_User_Juez_de_Control = null;
    if (ViewBag.Spartan_Users_Juez_de_Control != null)
    { varSpartan_User_Juez_de_Control = (List<SelectListItem>)ViewBag.Spartan_Users_Juez_de_Control; }
    List<SelectListItem> varLugar_Tipo_Tipo_de_Lugar_del_Hecho = null;
    if (ViewBag.Lugar_Tipos_Tipo_de_Lugar_del_Hecho != null)
    { varLugar_Tipo_Tipo_de_Lugar_del_Hecho = (List<SelectListItem>)ViewBag.Lugar_Tipos_Tipo_de_Lugar_del_Hecho; }
 List<SelectListItem> varPais_PaisH = null;
    if (ViewBag.Paiss_PaisH != null)
    { varPais_PaisH = (List<SelectListItem>)ViewBag.Paiss_PaisH; }
 List<SelectListItem> varEstado_EstadoH = null;
    if (ViewBag.Estados_EstadoH != null)
    { varEstado_EstadoH = (List<SelectListItem>)ViewBag.Estados_EstadoH; }
 List<SelectListItem> varMunicipio_MunicipioH = null;
    if (ViewBag.Municipios_MunicipioH != null)
    { varMunicipio_MunicipioH = (List<SelectListItem>)ViewBag.Municipios_MunicipioH; }
 List<SelectListItem> varColonia_Poblacion = null;
    if (ViewBag.Colonias_Poblacion != null)
    { varColonia_Poblacion = (List<SelectListItem>)ViewBag.Colonias_Poblacion; }
 List<SelectListItem> varColonia_ColoniaH = null;
    if (ViewBag.Colonias_ColoniaH != null)
    { varColonia_ColoniaH = (List<SelectListItem>)ViewBag.Colonias_ColoniaH; }
 List<SelectListItem> varSpartan_User_Especialista_AsignadoA = null;
    if (ViewBag.Spartan_Users_Especialista_AsignadoA != null)
    { varSpartan_User_Especialista_AsignadoA = (List<SelectListItem>)ViewBag.Spartan_Users_Especialista_AsignadoA; }
    List<SelectListItem> varTipo_de_Mecanismo_Alterno_Tipo_de_Mecanismo = null;
    if (ViewBag.Tipo_de_Mecanismo_Alternos_Tipo_de_Mecanismo != null)
    { varTipo_de_Mecanismo_Alterno_Tipo_de_Mecanismo = (List<SelectListItem>)ViewBag.Tipo_de_Mecanismo_Alternos_Tipo_de_Mecanismo; }
    List<SelectListItem> varMotivo_de_Rechazo_de_Solicitud_Motivo_de_Rechazo = null;
    if (ViewBag.Motivo_de_Rechazo_de_Solicituds_Motivo_de_Rechazo != null)
    { varMotivo_de_Rechazo_de_Solicitud_Motivo_de_Rechazo = (List<SelectListItem>)ViewBag.Motivo_de_Rechazo_de_Solicituds_Motivo_de_Rechazo; }
    List<SelectListItem> varA_Tiempo_Acuerdo_Cumplido = null;
    if (ViewBag.A_Tiempos_Acuerdo_Cumplido != null)
    { varA_Tiempo_Acuerdo_Cumplido = (List<SelectListItem>)ViewBag.A_Tiempos_Acuerdo_Cumplido; }
    List<SelectListItem> varRazon_de_Incumplimiento_Razon_de_Incumplimiento = null;
    if (ViewBag.Razon_de_Incumplimientos_Razon_de_Incumplimiento != null)
    { varRazon_de_Incumplimiento_Razon_de_Incumplimiento = (List<SelectListItem>)ViewBag.Razon_de_Incumplimientos_Razon_de_Incumplimiento; }
    List<SelectListItem> varTipo_de_Conclusion_Anticipada_Tipo_de_Conclusion_Anticipada = null;
    if (ViewBag.Tipo_de_Conclusion_Anticipadas_Tipo_de_Conclusion_Anticipada != null)
    { varTipo_de_Conclusion_Anticipada_Tipo_de_Conclusion_Anticipada = (List<SelectListItem>)ViewBag.Tipo_de_Conclusion_Anticipadas_Tipo_de_Conclusion_Anticipada; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Solicitud", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.SolicitudResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.SolicitudResources.Fecha_de_Registro</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_de_Registro" name="FromFecha_de_Registro" type="text" value="@Model.FromFecha_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_de_Registro" name="ToFecha_de_Registro" type="text" value="@Model.ToFecha_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
 List<SelectListItem> varSpartan_User_Usuario_que_Registra = null;
    if (ViewBag.Spartan_Users_Usuario_que_Registra != null)
    { varSpartan_User_Usuario_que_Registra = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Registra; }
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Numero_de_Folio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_de_FolioFilter, filters, new { @class = "form-control", @id = "ddlNumero_de_FolioFilter" })
                    @Html.TextBoxFor(m => m.Numero_de_Folio, new { @class = "form-control", @type = "text", @id = "txtNumero_de_Folio" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Unidad_MASC</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Unidad_MASCFilter, filters, new { @class = "form-control", @id = "ddlUnidad_MASCFilter" })
                    @Html.TextBoxFor(m => m.AdvanceUnidad_MASC, new { @class = "form-control", @type = "text", @id = "txtAdvanceUnidad_MASC" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varUnidad_Unidad_MASC!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceUnidad_MASCMultiple, varUnidad_Unidad_MASC,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceUnidad_MASC"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Remitente</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.RemitenteFilter, filters, new { @class = "form-control", @id = "ddlRemitenteFilter" })
                    @Html.TextBoxFor(m => m.Remitente, new { @class = "form-control", @type = "text", @id = "txtRemitente" })
                </div>
 List<SelectListItem> varModulo_Atencion_Inicial_NUAT = null;
    if (ViewBag.Modulo_Atencion_Inicials_NUAT != null)
    { varModulo_Atencion_Inicial_NUAT = (List<SelectListItem>)ViewBag.Modulo_Atencion_Inicials_NUAT; }
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Unidad</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.UnidadFilter, filters, new { @class = "form-control", @id = "ddlUnidadFilter" })
                    @Html.TextBoxFor(m => m.AdvanceUnidad, new { @class = "form-control", @type = "text", @id = "txtAdvanceUnidad" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varUnidad_Unidad!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceUnidadMultiple, varUnidad_Unidad,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceUnidad"
                        });
                    }
                </div>
 List<SelectListItem> varMunicipio_Municipio = null;
    if (ViewBag.Municipios_Municipio != null)
    { varMunicipio_Municipio = (List<SelectListItem>)ViewBag.Municipios_Municipio; }
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Region</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.RegionFilter, filters, new { @class = "form-control", @id = "ddlRegionFilter" })
                    @Html.TextBoxFor(m => m.AdvanceRegion, new { @class = "form-control", @type = "text", @id = "txtAdvanceRegion" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varRegion_Region!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceRegionMultiple, varRegion_Region,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceRegion"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.NUC</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.NUCFilter, filters, new { @class = "form-control", @id = "ddlNUCFilter" })
                    @Html.TextBoxFor(m => m.NUC, new { @class = "form-control", @type = "text", @id = "txtNUC" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.CDI</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.CDIFilter, filters, new { @class = "form-control", @id = "ddlCDIFilter" })
                    @Html.TextBoxFor(m => m.CDI, new { @class = "form-control", @type = "text", @id = "txtCDI" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Numero_de_Expediente</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_de_ExpedienteFilter, filters, new { @class = "form-control", @id = "ddlNumero_de_ExpedienteFilter" })
                    @Html.TextBoxFor(m => m.Numero_de_Expediente, new { @class = "form-control", @type = "text", @id = "txtNumero_de_Expediente" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Estatus</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.EstatusFilter, filters, new { @class = "form-control", @id = "ddlEstatusFilter" })
                    @Html.TextBoxFor(m => m.AdvanceEstatus, new { @class = "form-control", @type = "text", @id = "txtAdvanceEstatus" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varEstatus_Solicitud_Estatus!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceEstatusMultiple, varEstatus_Solicitud_Estatus,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceEstatus"
                        });
                    }
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.SolicitudResources.Fecha_en_que_llega_a_Coordinador</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_en_que_llega_a_Coordinador" name="FromFecha_en_que_llega_a_Coordinador" type="text" value="@Model.FromFecha_en_que_llega_a_Coordinador" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_en_que_llega_a_Coordinador" name="ToFecha_en_que_llega_a_Coordinador" type="text" value="@Model.ToFecha_en_que_llega_a_Coordinador" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.SolicitudResources.Fecha_en_que_llega_a_Especialista</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_en_que_llega_a_Especialista" name="FromFecha_en_que_llega_a_Especialista" type="text" value="@Model.FromFecha_en_que_llega_a_Especialista" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_en_que_llega_a_Especialista" name="ToFecha_en_que_llega_a_Especialista" type="text" value="@Model.ToFecha_en_que_llega_a_Especialista" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
 List<SelectListItem> varSpartan_User_Agente_del_Ministerio_Publico_Orientador = null;
    if (ViewBag.Spartan_Users_Agente_del_Ministerio_Publico_Orientador != null)
    { varSpartan_User_Agente_del_Ministerio_Publico_Orientador = (List<SelectListItem>)ViewBag.Spartan_Users_Agente_del_Ministerio_Publico_Orientador; }
 List<SelectListItem> varSpartan_User_Agente_del_Ministerio_Publico_Invest = null;
    if (ViewBag.Spartan_Users_Agente_del_Ministerio_Publico_Invest != null)
    { varSpartan_User_Agente_del_Ministerio_Publico_Invest = (List<SelectListItem>)ViewBag.Spartan_Users_Agente_del_Ministerio_Publico_Invest; }
 List<SelectListItem> varSpartan_User_Juez_de_Control = null;
    if (ViewBag.Spartan_Users_Juez_de_Control != null)
    { varSpartan_User_Juez_de_Control = (List<SelectListItem>)ViewBag.Spartan_Users_Juez_de_Control; }
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Titulo_del_Hecho</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Titulo_del_HechoFilter, filters, new { @class = "form-control", @id = "ddlTitulo_del_HechoFilter" })
                    @Html.TextBoxFor(m => m.Titulo_del_Hecho, new { @class = "form-control", @type = "text", @id = "txtTitulo_del_Hecho" })
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.SolicitudResources.Fecha_del_Hecho</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_del_Hecho" name="FromFecha_del_Hecho" type="text" value="@Model.FromFecha_del_Hecho" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_del_Hecho" name="ToFecha_del_Hecho" type="text" value="@Model.ToFecha_del_Hecho" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Narrativa_Breve_de_los_Hechos</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Narrativa_Breve_de_los_HechosFilter, filters, new { @class = "form-control", @id = "ddlNarrativa_Breve_de_los_HechosFilter" })
                    @Html.TextBoxFor(m => m.Narrativa_Breve_de_los_Hechos, new { @class = "form-control", @type = "text", @id = "txtNarrativa_Breve_de_los_Hechos" })
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.SolicitudResources.Hora_Aproximada_del_Hecho</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromHora_Aproximada_del_Hecho" name="FromHora_Aproximada_del_Hecho" type="text" value="@Model.FromHora_Aproximada_del_Hecho" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceToHora_Aproximada_del_Hecho" name="ToHora_Aproximada_del_Hecho" type="text" value="@Model.ToHora_Aproximada_del_Hecho" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Tipo_de_Lugar_del_Hecho</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tipo_de_Lugar_del_HechoFilter, filters, new { @class = "form-control", @id = "ddlTipo_de_Lugar_del_HechoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTipo_de_Lugar_del_Hecho, new { @class = "form-control", @type = "text", @id = "txtAdvanceTipo_de_Lugar_del_Hecho" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varLugar_Tipo_Tipo_de_Lugar_del_Hecho!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTipo_de_Lugar_del_HechoMultiple, varLugar_Tipo_Tipo_de_Lugar_del_Hecho,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTipo_de_Lugar_del_Hecho"
                        });
                    }
                </div>
 List<SelectListItem> varPais_PaisH = null;
    if (ViewBag.Paiss_PaisH != null)
    { varPais_PaisH = (List<SelectListItem>)ViewBag.Paiss_PaisH; }
 List<SelectListItem> varEstado_EstadoH = null;
    if (ViewBag.Estados_EstadoH != null)
    { varEstado_EstadoH = (List<SelectListItem>)ViewBag.Estados_EstadoH; }
 List<SelectListItem> varMunicipio_MunicipioH = null;
    if (ViewBag.Municipios_MunicipioH != null)
    { varMunicipio_MunicipioH = (List<SelectListItem>)ViewBag.Municipios_MunicipioH; }
 List<SelectListItem> varColonia_Poblacion = null;
    if (ViewBag.Colonias_Poblacion != null)
    { varColonia_Poblacion = (List<SelectListItem>)ViewBag.Colonias_Poblacion; }
 List<SelectListItem> varColonia_ColoniaH = null;
    if (ViewBag.Colonias_ColoniaH != null)
    { varColonia_ColoniaH = (List<SelectListItem>)ViewBag.Colonias_ColoniaH; }
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.CalleH</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.CalleHFilter, filters, new { @class = "form-control", @id = "ddlCalleHFilter" })
                    @Html.TextBoxFor(m => m.CalleH, new { @class = "form-control", @type = "text", @id = "txtCalleH" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Numero_ExteriorH</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_ExteriorHFilter, filters, new { @class = "form-control", @id = "ddlNumero_ExteriorHFilter" })
                    @Html.TextBoxFor(m => m.Numero_ExteriorH, new { @class = "form-control", @type = "text", @id = "txtNumero_ExteriorH" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Numero_InteriorH</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_InteriorHFilter, filters, new { @class = "form-control", @id = "ddlNumero_InteriorHFilter" })
                    @Html.TextBoxFor(m => m.Numero_InteriorH, new { @class = "form-control", @type = "text", @id = "txtNumero_InteriorH" })
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.SolicitudResources.Codigo_PostalH</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromCodigo_PostalH, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromCodigo_PostalH" })
                    @Html.ValidationMessageFor(m => m.FromCodigo_PostalH)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToCodigo_PostalH, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToCodigo_PostalH", @data_min = "txtAdvanceFromCodigo_PostalH" })
                    @Html.ValidationMessageFor(m => m.ToCodigo_PostalH)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Entre_Calle</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Entre_CalleFilter, filters, new { @class = "form-control", @id = "ddlEntre_CalleFilter" })
                    @Html.TextBoxFor(m => m.Entre_Calle, new { @class = "form-control", @type = "text", @id = "txtEntre_Calle" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.y_Calle</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.y_CalleFilter, filters, new { @class = "form-control", @id = "ddly_CalleFilter" })
                    @Html.TextBoxFor(m => m.y_Calle, new { @class = "form-control", @type = "text", @id = "txty_Calle" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.LongitudH</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.LongitudHFilter, filters, new { @class = "form-control", @id = "ddlLongitudHFilter" })
                    @Html.TextBoxFor(m => m.LongitudH, new { @class = "form-control", @type = "text", @id = "txtLongitudH" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.LatitudH</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.LatitudHFilter, filters, new { @class = "form-control", @id = "ddlLatitudHFilter" })
                    @Html.TextBoxFor(m => m.LatitudH, new { @class = "form-control", @type = "text", @id = "txtLatitudH" })
                </div>
 List<SelectListItem> varSpartan_User_Especialista_AsignadoA = null;
    if (ViewBag.Spartan_Users_Especialista_AsignadoA != null)
    { varSpartan_User_Especialista_AsignadoA = (List<SelectListItem>)ViewBag.Spartan_Users_Especialista_AsignadoA; }
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Motivo_cambio_facilitador</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Motivo_cambio_facilitadorFilter, filters, new { @class = "form-control", @id = "ddlMotivo_cambio_facilitadorFilter" })
                    @Html.TextBoxFor(m => m.Motivo_cambio_facilitador, new { @class = "form-control", @type = "text", @id = "txtMotivo_cambio_facilitador" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Razone</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.RazoneFilter, filters, new { @class = "form-control", @id = "ddlRazoneFilter" })
                    @Html.TextBoxFor(m => m.Razone, new { @class = "form-control", @type = "text", @id = "txtRazone" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Tipo_de_Mecanismo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tipo_de_MecanismoFilter, filters, new { @class = "form-control", @id = "ddlTipo_de_MecanismoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTipo_de_Mecanismo, new { @class = "form-control", @type = "text", @id = "txtAdvanceTipo_de_Mecanismo" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Mecanismo_Alterno_Tipo_de_Mecanismo!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTipo_de_MecanismoMultiple, varTipo_de_Mecanismo_Alterno_Tipo_de_Mecanismo,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTipo_de_Mecanismo"
                        });
                    }
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.SolicitudResources.Fecha_de_AsignacionA</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_de_AsignacionA" name="FromFecha_de_AsignacionA" type="text" value="@Model.FromFecha_de_AsignacionA" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_de_AsignacionA" name="ToFecha_de_AsignacionA" type="text" value="@Model.ToFecha_de_AsignacionA" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.SolicitudResources.Hora_de_AsignacionA</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromHora_de_AsignacionA" name="FromHora_de_AsignacionA" type="text" value="@Model.FromHora_de_AsignacionA" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceToHora_de_AsignacionA" name="ToHora_de_AsignacionA" type="text" value="@Model.ToHora_de_AsignacionA" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.SolicitudResources.Fecha_de_Atencion_del_Especialista</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_de_Atencion_del_Especialista" name="FromFecha_de_Atencion_del_Especialista" type="text" value="@Model.FromFecha_de_Atencion_del_Especialista" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_de_Atencion_del_Especialista" name="ToFecha_de_Atencion_del_Especialista" type="text" value="@Model.ToFecha_de_Atencion_del_Especialista" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.SolicitudResources.Hora_de_Atencion_del_Especialista</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromHora_de_Atencion_del_Especialista" name="FromHora_de_Atencion_del_Especialista" type="text" value="@Model.FromHora_de_Atencion_del_Especialista" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceToHora_de_Atencion_del_Especialista" name="ToHora_de_Atencion_del_Especialista" type="text" value="@Model.ToHora_de_Atencion_del_Especialista" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Motivo_de_Rechazo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Motivo_de_RechazoFilter, filters, new { @class = "form-control", @id = "ddlMotivo_de_RechazoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceMotivo_de_Rechazo, new { @class = "form-control", @type = "text", @id = "txtAdvanceMotivo_de_Rechazo" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varMotivo_de_Rechazo_de_Solicitud_Motivo_de_Rechazo!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceMotivo_de_RechazoMultiple, varMotivo_de_Rechazo_de_Solicitud_Motivo_de_Rechazo,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceMotivo_de_Rechazo"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Acuerdo_Cumplido</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Acuerdo_CumplidoFilter, filters, new { @class = "form-control", @id = "ddlAcuerdo_CumplidoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceAcuerdo_Cumplido, new { @class = "form-control", @type = "text", @id = "txtAdvanceAcuerdo_Cumplido" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varA_Tiempo_Acuerdo_Cumplido!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceAcuerdo_CumplidoMultiple, varA_Tiempo_Acuerdo_Cumplido,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceAcuerdo_Cumplido"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Razon_de_Incumplimiento</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Razon_de_IncumplimientoFilter, filters, new { @class = "form-control", @id = "ddlRazon_de_IncumplimientoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceRazon_de_Incumplimiento, new { @class = "form-control", @type = "text", @id = "txtAdvanceRazon_de_Incumplimiento" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varRazon_de_Incumplimiento_Razon_de_Incumplimiento!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceRazon_de_IncumplimientoMultiple, varRazon_de_Incumplimiento_Razon_de_Incumplimiento,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceRazon_de_Incumplimiento"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.SolicitudResources.Tipo_de_Conclusion_Anticipada</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tipo_de_Conclusion_AnticipadaFilter, filters, new { @class = "form-control", @id = "ddlTipo_de_Conclusion_AnticipadaFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTipo_de_Conclusion_Anticipada, new { @class = "form-control", @type = "text", @id = "txtAdvanceTipo_de_Conclusion_Anticipada" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Conclusion_Anticipada_Tipo_de_Conclusion_Anticipada!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTipo_de_Conclusion_AnticipadaMultiple, varTipo_de_Conclusion_Anticipada_Tipo_de_Conclusion_Anticipada,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTipo_de_Conclusion_Anticipada"
                        });
                    }
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.SolicitudResources.Fecha_de_Cierre</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_de_Cierre" name="FromFecha_de_Cierre" type="text" value="@Model.FromFecha_de_Cierre" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_de_Cierre" name="ToFecha_de_Cierre" type="text" value="@Model.ToFecha_de_Cierre" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.SolicitudResources.Hora_de_Cierre</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromHora_de_Cierre" name="FromHora_de_Cierre" type="text" value="@Model.FromHora_de_Cierre" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceToHora_de_Cierre" name="ToHora_de_Cierre" type="text" value="@Model.ToHora_de_Cierre" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Solicitud/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.SolicitudClaveTo = $("#txtAdvanceToClave").val();
        }
        if ($("#txtAdvanceFromFecha_de_Registro").val() != "" || $("#txtAdvanceToFecha_de_Registro").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudFecha_de_RegistroFrom = $("#txtAdvanceFromFecha_de_Registro").val();
            advanceSearch.SolicitudFecha_de_RegistroTo = $("#txtAdvanceToFecha_de_Registro").val();
        }
        advanceSearch.Usuario_que_RegistraSearchType = 0;
        if ($('#ddlAdvanceUsuario_que_Registra').val().length > 0 || $("#txtAdvanceUsuario_que_Registra").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.Usuario_que_RegistraName = $("#txtAdvanceUsuario_que_Registra").val();
                advanceSearch.Usuario_que_RegistraNameSearchType = $("#ddlAdvanceUsuario_que_Registra").val();
                advanceSearch.Usuario_que_RegistraSearchType = 1;
            }
            else {

                advanceSearch.Usuario_que_RegistraToSearch = $("#ddlAdvanceUsuario_que_Registra").val();
                advanceSearch.Usuario_que_RegistraSearchType = 2;
            }
        }
        if ($("#txtAdvanceNumero_de_Folio").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudNumero_de_Folio = $("#txtAdvanceNumero_de_Folio").val();
            advanceSearch.SolicitudNumero_de_FolioSearchType = $("#ddlAdvanceNumero_de_FolioFilter").val();
        }
        advanceSearch.Unidad_MASCSearchType = 0;
        if ($('#ddlAdvanceUnidad_MASC').val().length > 0 || $("#txtAdvanceUnidad_MASC").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.Unidad_MASCName = $("#txtAdvanceUnidad_MASC").val();
                advanceSearch.Unidad_MASCNameSearchType = $("#ddlAdvanceUnidad_MASC").val();
                advanceSearch.Unidad_MASCSearchType = 1;
            }
            else {

                advanceSearch.Unidad_MASCToSearch = $("#ddlAdvanceUnidad_MASC").val();
                advanceSearch.Unidad_MASCSearchType = 2;
            }
        }
        if ($("#txtAdvanceRemitente").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudRemitente = $("#txtAdvanceRemitente").val();
            advanceSearch.SolicitudRemitenteSearchType = $("#ddlAdvanceRemitenteFilter").val();
        }
        advanceSearch.NUATSearchType = 0;
        if ($('#ddlAdvanceNUAT').val().length > 0 || $("#txtAdvanceNUAT").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.NUATName = $("#txtAdvanceNUAT").val();
                advanceSearch.NUATNameSearchType = $("#ddlAdvanceNUAT").val();
                advanceSearch.NUATSearchType = 1;
            }
            else {

                advanceSearch.NUATToSearch = $("#ddlAdvanceNUAT").val();
                advanceSearch.NUATSearchType = 2;
            }
        }
        advanceSearch.UnidadSearchType = 0;
        if ($('#ddlAdvanceUnidad').val().length > 0 || $("#txtAdvanceUnidad").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.UnidadName = $("#txtAdvanceUnidad").val();
                advanceSearch.UnidadNameSearchType = $("#ddlAdvanceUnidad").val();
                advanceSearch.UnidadSearchType = 1;
            }
            else {

                advanceSearch.UnidadToSearch = $("#ddlAdvanceUnidad").val();
                advanceSearch.UnidadSearchType = 2;
            }
        }
        advanceSearch.MunicipioSearchType = 0;
        if ($('#ddlAdvanceMunicipio').val().length > 0 || $("#txtAdvanceMunicipio").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.MunicipioName = $("#txtAdvanceMunicipio").val();
                advanceSearch.MunicipioNameSearchType = $("#ddlAdvanceMunicipio").val();
                advanceSearch.MunicipioSearchType = 1;
            }
            else {

                advanceSearch.MunicipioToSearch = $("#ddlAdvanceMunicipio").val();
                advanceSearch.MunicipioSearchType = 2;
            }
        }
        advanceSearch.RegionSearchType = 0;
        if ($('#ddlAdvanceRegion').val().length > 0 || $("#txtAdvanceRegion").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.RegionName = $("#txtAdvanceRegion").val();
                advanceSearch.RegionNameSearchType = $("#ddlAdvanceRegion").val();
                advanceSearch.RegionSearchType = 1;
            }
            else {

                advanceSearch.RegionToSearch = $("#ddlAdvanceRegion").val();
                advanceSearch.RegionSearchType = 2;
            }
        }
        if ($("#txtAdvanceNUC").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudNUC = $("#txtAdvanceNUC").val();
            advanceSearch.SolicitudNUCSearchType = $("#ddlAdvanceNUCFilter").val();
        }
        if ($("#txtAdvanceCDI").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudCDI = $("#txtAdvanceCDI").val();
            advanceSearch.SolicitudCDISearchType = $("#ddlAdvanceCDIFilter").val();
        }
        if ($("#txtAdvanceNumero_de_Expediente").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudNumero_de_Expediente = $("#txtAdvanceNumero_de_Expediente").val();
            advanceSearch.SolicitudNumero_de_ExpedienteSearchType = $("#ddlAdvanceNumero_de_ExpedienteFilter").val();
        }
        advanceSearch.EstatusSearchType = 0;
        if ($('#ddlAdvanceEstatus').val().length > 0 || $("#txtAdvanceEstatus").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.EstatusName = $("#txtAdvanceEstatus").val();
                advanceSearch.EstatusNameSearchType = $("#ddlAdvanceEstatus").val();
                advanceSearch.EstatusSearchType = 1;
            }
            else {

                advanceSearch.EstatusToSearch = $("#ddlAdvanceEstatus").val();
                advanceSearch.EstatusSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromFecha_en_que_llega_a_Coordinador").val() != "" || $("#txtAdvanceToFecha_en_que_llega_a_Coordinador").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudFecha_en_que_llega_a_CoordinadorFrom = $("#txtAdvanceFromFecha_en_que_llega_a_Coordinador").val();
            advanceSearch.SolicitudFecha_en_que_llega_a_CoordinadorTo = $("#txtAdvanceToFecha_en_que_llega_a_Coordinador").val();
        }
        if ($("#txtAdvanceFromFecha_en_que_llega_a_Especialista").val() != "" || $("#txtAdvanceToFecha_en_que_llega_a_Especialista").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudFecha_en_que_llega_a_EspecialistaFrom = $("#txtAdvanceFromFecha_en_que_llega_a_Especialista").val();
            advanceSearch.SolicitudFecha_en_que_llega_a_EspecialistaTo = $("#txtAdvanceToFecha_en_que_llega_a_Especialista").val();
        }
        advanceSearch.Agente_del_Ministerio_Publico_OrientadorSearchType = 0;
        if ($('#ddlAdvanceAgente_del_Ministerio_Publico_Orientador').val().length > 0 || $("#txtAdvanceAgente_del_Ministerio_Publico_Orientador").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.Agente_del_Ministerio_Publico_OrientadorName = $("#txtAdvanceAgente_del_Ministerio_Publico_Orientador").val();
                advanceSearch.Agente_del_Ministerio_Publico_OrientadorNameSearchType = $("#ddlAdvanceAgente_del_Ministerio_Publico_Orientador").val();
                advanceSearch.Agente_del_Ministerio_Publico_OrientadorSearchType = 1;
            }
            else {

                advanceSearch.Agente_del_Ministerio_Publico_OrientadorToSearch = $("#ddlAdvanceAgente_del_Ministerio_Publico_Orientador").val();
                advanceSearch.Agente_del_Ministerio_Publico_OrientadorSearchType = 2;
            }
        }
        advanceSearch.Agente_del_Ministerio_Publico_InvestSearchType = 0;
        if ($('#ddlAdvanceAgente_del_Ministerio_Publico_Invest').val().length > 0 || $("#txtAdvanceAgente_del_Ministerio_Publico_Invest").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.Agente_del_Ministerio_Publico_InvestName = $("#txtAdvanceAgente_del_Ministerio_Publico_Invest").val();
                advanceSearch.Agente_del_Ministerio_Publico_InvestNameSearchType = $("#ddlAdvanceAgente_del_Ministerio_Publico_Invest").val();
                advanceSearch.Agente_del_Ministerio_Publico_InvestSearchType = 1;
            }
            else {

                advanceSearch.Agente_del_Ministerio_Publico_InvestToSearch = $("#ddlAdvanceAgente_del_Ministerio_Publico_Invest").val();
                advanceSearch.Agente_del_Ministerio_Publico_InvestSearchType = 2;
            }
        }
        advanceSearch.Juez_de_ControlSearchType = 0;
        if ($('#ddlAdvanceJuez_de_Control').val().length > 0 || $("#txtAdvanceJuez_de_Control").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.Juez_de_ControlName = $("#txtAdvanceJuez_de_Control").val();
                advanceSearch.Juez_de_ControlNameSearchType = $("#ddlAdvanceJuez_de_Control").val();
                advanceSearch.Juez_de_ControlSearchType = 1;
            }
            else {

                advanceSearch.Juez_de_ControlToSearch = $("#ddlAdvanceJuez_de_Control").val();
                advanceSearch.Juez_de_ControlSearchType = 2;
            }
        }
        if ($("#txtAdvanceTitulo_del_Hecho").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudTitulo_del_Hecho = $("#txtAdvanceTitulo_del_Hecho").val();
            advanceSearch.SolicitudTitulo_del_HechoSearchType = $("#ddlAdvanceTitulo_del_HechoFilter").val();
        }
        if ($("#txtAdvanceFromFecha_del_Hecho").val() != "" || $("#txtAdvanceToFecha_del_Hecho").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudFecha_del_HechoFrom = $("#txtAdvanceFromFecha_del_Hecho").val();
            advanceSearch.SolicitudFecha_del_HechoTo = $("#txtAdvanceToFecha_del_Hecho").val();
        }
        if ($("#txtAdvanceNarrativa_Breve_de_los_Hechos").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudNarrativa_Breve_de_los_Hechos = $("#txtAdvanceNarrativa_Breve_de_los_Hechos").val();
            advanceSearch.SolicitudNarrativa_Breve_de_los_HechosSearchType = $("#ddlAdvanceNarrativa_Breve_de_los_HechosFilter").val();
        }
        if ($("#txtAdvanceHora_Aproximada_del_Hecho").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudHora_Aproximada_del_Hecho = $("#txtAdvanceHora_Aproximada_del_Hecho").val();
            advanceSearch.SolicitudHora_Aproximada_del_HechoSearchType = $("#ddlAdvanceHora_Aproximada_del_HechoFilter").val();
        }
        advanceSearch.Tipo_de_Lugar_del_HechoSearchType = 0;
        if ($('#ddlAdvanceTipo_de_Lugar_del_Hecho').val().length > 0 || $("#txtAdvanceTipo_de_Lugar_del_Hecho").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.Tipo_de_Lugar_del_HechoName = $("#txtAdvanceTipo_de_Lugar_del_Hecho").val();
                advanceSearch.Tipo_de_Lugar_del_HechoNameSearchType = $("#ddlAdvanceTipo_de_Lugar_del_Hecho").val();
                advanceSearch.Tipo_de_Lugar_del_HechoSearchType = 1;
            }
            else {

                advanceSearch.Tipo_de_Lugar_del_HechoToSearch = $("#ddlAdvanceTipo_de_Lugar_del_Hecho").val();
                advanceSearch.Tipo_de_Lugar_del_HechoSearchType = 2;
            }
        }
        advanceSearch.PaisHSearchType = 0;
        if ($('#ddlAdvancePaisH').val().length > 0 || $("#txtAdvancePaisH").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.PaisHName = $("#txtAdvancePaisH").val();
                advanceSearch.PaisHNameSearchType = $("#ddlAdvancePaisH").val();
                advanceSearch.PaisHSearchType = 1;
            }
            else {

                advanceSearch.PaisHToSearch = $("#ddlAdvancePaisH").val();
                advanceSearch.PaisHSearchType = 2;
            }
        }
        advanceSearch.EstadoHSearchType = 0;
        if ($('#ddlAdvanceEstadoH').val().length > 0 || $("#txtAdvanceEstadoH").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.EstadoHName = $("#txtAdvanceEstadoH").val();
                advanceSearch.EstadoHNameSearchType = $("#ddlAdvanceEstadoH").val();
                advanceSearch.EstadoHSearchType = 1;
            }
            else {

                advanceSearch.EstadoHToSearch = $("#ddlAdvanceEstadoH").val();
                advanceSearch.EstadoHSearchType = 2;
            }
        }
        advanceSearch.MunicipioHSearchType = 0;
        if ($('#ddlAdvanceMunicipioH').val().length > 0 || $("#txtAdvanceMunicipioH").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.MunicipioHName = $("#txtAdvanceMunicipioH").val();
                advanceSearch.MunicipioHNameSearchType = $("#ddlAdvanceMunicipioH").val();
                advanceSearch.MunicipioHSearchType = 1;
            }
            else {

                advanceSearch.MunicipioHToSearch = $("#ddlAdvanceMunicipioH").val();
                advanceSearch.MunicipioHSearchType = 2;
            }
        }
        advanceSearch.PoblacionSearchType = 0;
        if ($('#ddlAdvancePoblacion').val().length > 0 || $("#txtAdvancePoblacion").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.PoblacionName = $("#txtAdvancePoblacion").val();
                advanceSearch.PoblacionNameSearchType = $("#ddlAdvancePoblacion").val();
                advanceSearch.PoblacionSearchType = 1;
            }
            else {

                advanceSearch.PoblacionToSearch = $("#ddlAdvancePoblacion").val();
                advanceSearch.PoblacionSearchType = 2;
            }
        }
        advanceSearch.ColoniaHSearchType = 0;
        if ($('#ddlAdvanceColoniaH').val().length > 0 || $("#txtAdvanceColoniaH").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.ColoniaHName = $("#txtAdvanceColoniaH").val();
                advanceSearch.ColoniaHNameSearchType = $("#ddlAdvanceColoniaH").val();
                advanceSearch.ColoniaHSearchType = 1;
            }
            else {

                advanceSearch.ColoniaHToSearch = $("#ddlAdvanceColoniaH").val();
                advanceSearch.ColoniaHSearchType = 2;
            }
        }
        if ($("#txtAdvanceCalleH").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudCalleH = $("#txtAdvanceCalleH").val();
            advanceSearch.SolicitudCalleHSearchType = $("#ddlAdvanceCalleHFilter").val();
        }
        if ($("#txtAdvanceNumero_ExteriorH").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudNumero_ExteriorH = $("#txtAdvanceNumero_ExteriorH").val();
            advanceSearch.SolicitudNumero_ExteriorHSearchType = $("#ddlAdvanceNumero_ExteriorHFilter").val();
        }
        if ($("#txtAdvanceNumero_InteriorH").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudNumero_InteriorH = $("#txtAdvanceNumero_InteriorH").val();
            advanceSearch.SolicitudNumero_InteriorHSearchType = $("#ddlAdvanceNumero_InteriorHFilter").val();
        }
        if ($("#txtAdvanceFromCodigo_PostalH").val() != "" || $("#txtAdvanceToCodigo_PostalH").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudCodigo_PostalHFrom = $("#txtAdvanceFromCodigo_PostalH").val();
            advanceSearch.SolicitudCodigo_PostalHTo = $("#txtAdvanceToCodigo_PostalH").val();
        }
        if ($("#txtAdvanceEntre_Calle").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudEntre_Calle = $("#txtAdvanceEntre_Calle").val();
            advanceSearch.SolicitudEntre_CalleSearchType = $("#ddlAdvanceEntre_CalleFilter").val();
        }
        if ($("#txtAdvancey_Calle").val() != "") {
            hasParameter = true;
            advanceSearch.Solicitudy_Calle = $("#txtAdvancey_Calle").val();
            advanceSearch.Solicitudy_CalleSearchType = $("#ddlAdvancey_CalleFilter").val();
        }
        if ($("#txtAdvanceLongitudH").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudLongitudH = $("#txtAdvanceLongitudH").val();
            advanceSearch.SolicitudLongitudHSearchType = $("#ddlAdvanceLongitudHFilter").val();
        }
        if ($("#txtAdvanceLatitudH").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudLatitudH = $("#txtAdvanceLatitudH").val();
            advanceSearch.SolicitudLatitudHSearchType = $("#ddlAdvanceLatitudHFilter").val();
        }
        advanceSearch.Especialista_AsignadoASearchType = 0;
        if ($('#ddlAdvanceEspecialista_AsignadoA').val().length > 0 || $("#txtAdvanceEspecialista_AsignadoA").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.Especialista_AsignadoAName = $("#txtAdvanceEspecialista_AsignadoA").val();
                advanceSearch.Especialista_AsignadoANameSearchType = $("#ddlAdvanceEspecialista_AsignadoA").val();
                advanceSearch.Especialista_AsignadoASearchType = 1;
            }
            else {

                advanceSearch.Especialista_AsignadoAToSearch = $("#ddlAdvanceEspecialista_AsignadoA").val();
                advanceSearch.Especialista_AsignadoASearchType = 2;
            }
        }
        if ($("#txtAdvanceMotivo_cambio_facilitador").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudMotivo_cambio_facilitador = $("#txtAdvanceMotivo_cambio_facilitador").val();
            advanceSearch.SolicitudMotivo_cambio_facilitadorSearchType = $("#ddlAdvanceMotivo_cambio_facilitadorFilter").val();
        }
        if ($("#ddlAdvanceAsignar_Especialista_Automatico").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudAsignar_Especialista_Automatico = $("#ddlAdvanceAsignar_Especialista_Automatico").val();
        }
        if ($("#txtAdvanceRazone").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudRazone = $("#txtAdvanceRazone").val();
            advanceSearch.SolicitudRazoneSearchType = $("#ddlAdvanceRazoneFilter").val();
        }
        advanceSearch.Tipo_de_MecanismoSearchType = 0;
        if ($('#ddlAdvanceTipo_de_Mecanismo').val().length > 0 || $("#txtAdvanceTipo_de_Mecanismo").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.Tipo_de_MecanismoName = $("#txtAdvanceTipo_de_Mecanismo").val();
                advanceSearch.Tipo_de_MecanismoNameSearchType = $("#ddlAdvanceTipo_de_Mecanismo").val();
                advanceSearch.Tipo_de_MecanismoSearchType = 1;
            }
            else {

                advanceSearch.Tipo_de_MecanismoToSearch = $("#ddlAdvanceTipo_de_Mecanismo").val();
                advanceSearch.Tipo_de_MecanismoSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromFecha_de_AsignacionA").val() != "" || $("#txtAdvanceToFecha_de_AsignacionA").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudFecha_de_AsignacionAFrom = $("#txtAdvanceFromFecha_de_AsignacionA").val();
            advanceSearch.SolicitudFecha_de_AsignacionATo = $("#txtAdvanceToFecha_de_AsignacionA").val();
        }
        if ($("#txtAdvanceHora_de_AsignacionA").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudHora_de_AsignacionA = $("#txtAdvanceHora_de_AsignacionA").val();
            advanceSearch.SolicitudHora_de_AsignacionASearchType = $("#ddlAdvanceHora_de_AsignacionAFilter").val();
        }
        if ($("#txtAdvanceFromFecha_de_Atencion_del_Especialista").val() != "" || $("#txtAdvanceToFecha_de_Atencion_del_Especialista").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudFecha_de_Atencion_del_EspecialistaFrom = $("#txtAdvanceFromFecha_de_Atencion_del_Especialista").val();
            advanceSearch.SolicitudFecha_de_Atencion_del_EspecialistaTo = $("#txtAdvanceToFecha_de_Atencion_del_Especialista").val();
        }
        if ($("#txtAdvanceHora_de_Atencion_del_Especialista").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudHora_de_Atencion_del_Especialista = $("#txtAdvanceHora_de_Atencion_del_Especialista").val();
            advanceSearch.SolicitudHora_de_Atencion_del_EspecialistaSearchType = $("#ddlAdvanceHora_de_Atencion_del_EspecialistaFilter").val();
        }
        if ($("#ddlAdvanceRechazar").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudRechazar = $("#ddlAdvanceRechazar").val();
        }
        advanceSearch.Motivo_de_RechazoSearchType = 0;
        if ($('#ddlAdvanceMotivo_de_Rechazo').val().length > 0 || $("#txtAdvanceMotivo_de_Rechazo").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.Motivo_de_RechazoName = $("#txtAdvanceMotivo_de_Rechazo").val();
                advanceSearch.Motivo_de_RechazoNameSearchType = $("#ddlAdvanceMotivo_de_Rechazo").val();
                advanceSearch.Motivo_de_RechazoSearchType = 1;
            }
            else {

                advanceSearch.Motivo_de_RechazoToSearch = $("#ddlAdvanceMotivo_de_Rechazo").val();
                advanceSearch.Motivo_de_RechazoSearchType = 2;
            }
        }
        advanceSearch.Acuerdo_CumplidoSearchType = 0;
        if ($('#ddlAdvanceAcuerdo_Cumplido').val().length > 0 || $("#txtAdvanceAcuerdo_Cumplido").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.Acuerdo_CumplidoName = $("#txtAdvanceAcuerdo_Cumplido").val();
                advanceSearch.Acuerdo_CumplidoNameSearchType = $("#ddlAdvanceAcuerdo_Cumplido").val();
                advanceSearch.Acuerdo_CumplidoSearchType = 1;
            }
            else {

                advanceSearch.Acuerdo_CumplidoToSearch = $("#ddlAdvanceAcuerdo_Cumplido").val();
                advanceSearch.Acuerdo_CumplidoSearchType = 2;
            }
        }
        advanceSearch.Razon_de_IncumplimientoSearchType = 0;
        if ($('#ddlAdvanceRazon_de_Incumplimiento').val().length > 0 || $("#txtAdvanceRazon_de_Incumplimiento").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.Razon_de_IncumplimientoName = $("#txtAdvanceRazon_de_Incumplimiento").val();
                advanceSearch.Razon_de_IncumplimientoNameSearchType = $("#ddlAdvanceRazon_de_Incumplimiento").val();
                advanceSearch.Razon_de_IncumplimientoSearchType = 1;
            }
            else {

                advanceSearch.Razon_de_IncumplimientoToSearch = $("#ddlAdvanceRazon_de_Incumplimiento").val();
                advanceSearch.Razon_de_IncumplimientoSearchType = 2;
            }
        }
        advanceSearch.Tipo_de_Conclusion_AnticipadaSearchType = 0;
        if ($('#ddlAdvanceTipo_de_Conclusion_Anticipada').val().length > 0 || $("#txtAdvanceTipo_de_Conclusion_Anticipada").val() == "") {


            if (isSolicitudTextSearch) {
                advanceSearch.Tipo_de_Conclusion_AnticipadaName = $("#txtAdvanceTipo_de_Conclusion_Anticipada").val();
                advanceSearch.Tipo_de_Conclusion_AnticipadaNameSearchType = $("#ddlAdvanceTipo_de_Conclusion_Anticipada").val();
                advanceSearch.Tipo_de_Conclusion_AnticipadaSearchType = 1;
            }
            else {

                advanceSearch.Tipo_de_Conclusion_AnticipadaToSearch = $("#ddlAdvanceTipo_de_Conclusion_Anticipada").val();
                advanceSearch.Tipo_de_Conclusion_AnticipadaSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromFecha_de_Cierre").val() != "" || $("#txtAdvanceToFecha_de_Cierre").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudFecha_de_CierreFrom = $("#txtAdvanceFromFecha_de_Cierre").val();
            advanceSearch.SolicitudFecha_de_CierreTo = $("#txtAdvanceToFecha_de_Cierre").val();
        }
        if ($("#txtAdvanceHora_de_Cierre").val() != "") {
            hasParameter = true;
            advanceSearch.SolicitudHora_de_Cierre = $("#txtAdvanceHora_de_Cierre").val();
            advanceSearch.SolicitudHora_de_CierreSearchType = $("#ddlAdvanceHora_de_CierreFilter").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblSolicitud').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isSolicitudTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceUsuario_que_Registra").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceUsuario_que_Registra").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceUsuario_que_Registra").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceUsuario_que_Registra").val('');
        });
        $("#txtAdvanceUnidad_MASC").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceUnidad_MASC").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceUnidad_MASC").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceUnidad_MASC").val('');
        });
        $("#txtAdvanceNUAT").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceNUAT").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceNUAT").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceNUAT").val('');
        });
        $("#txtAdvanceUnidad").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceUnidad").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceUnidad").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceUnidad").val('');
        });
        $("#txtAdvanceMunicipio").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceMunicipio").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceMunicipio").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceMunicipio").val('');
        });
        $("#txtAdvanceRegion").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceRegion").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceRegion").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceRegion").val('');
        });
        $("#txtAdvanceEstatus").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceEstatus").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEstatus").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceEstatus").val('');
        });
        $("#txtAdvanceAgente_del_Ministerio_Publico_Orientador").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceAgente_del_Ministerio_Publico_Orientador").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceAgente_del_Ministerio_Publico_Orientador").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceAgente_del_Ministerio_Publico_Orientador").val('');
        });
        $("#txtAdvanceAgente_del_Ministerio_Publico_Invest").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceAgente_del_Ministerio_Publico_Invest").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceAgente_del_Ministerio_Publico_Invest").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceAgente_del_Ministerio_Publico_Invest").val('');
        });
        $("#txtAdvanceJuez_de_Control").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceJuez_de_Control").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceJuez_de_Control").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceJuez_de_Control").val('');
        });
        $("#txtAdvanceTipo_de_Lugar_del_Hecho").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceTipo_de_Lugar_del_Hecho").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTipo_de_Lugar_del_Hecho").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceTipo_de_Lugar_del_Hecho").val('');
        });
        $("#txtAdvancePaisH").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvancePaisH").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancePaisH").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvancePaisH").val('');
        });
        $("#txtAdvanceEstadoH").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceEstadoH").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEstadoH").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceEstadoH").val('');
        });
        $("#txtAdvanceMunicipioH").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceMunicipioH").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceMunicipioH").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceMunicipioH").val('');
        });
        $("#txtAdvancePoblacion").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvancePoblacion").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancePoblacion").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvancePoblacion").val('');
        });
        $("#txtAdvanceColoniaH").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceColoniaH").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceColoniaH").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceColoniaH").val('');
        });
        $("#txtAdvanceEspecialista_AsignadoA").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceEspecialista_AsignadoA").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEspecialista_AsignadoA").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceEspecialista_AsignadoA").val('');
        });
        $("#txtAdvanceTipo_de_Mecanismo").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceTipo_de_Mecanismo").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTipo_de_Mecanismo").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceTipo_de_Mecanismo").val('');
        });
        $("#txtAdvanceMotivo_de_Rechazo").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceMotivo_de_Rechazo").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceMotivo_de_Rechazo").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceMotivo_de_Rechazo").val('');
        });
        $("#txtAdvanceAcuerdo_Cumplido").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceAcuerdo_Cumplido").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceAcuerdo_Cumplido").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceAcuerdo_Cumplido").val('');
        });
        $("#txtAdvanceRazon_de_Incumplimiento").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceRazon_de_Incumplimiento").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceRazon_de_Incumplimiento").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceRazon_de_Incumplimiento").val('');
        });
        $("#txtAdvanceTipo_de_Conclusion_Anticipada").keypress(function () {
            isSolicitudTextSearch = true;
            $("#ddlAdvanceTipo_de_Conclusion_Anticipada").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTipo_de_Conclusion_Anticipada").change(function () {
            isSolicitudTextSearch = false;
            $("#txtAdvanceTipo_de_Conclusion_Anticipada").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

