@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Circunstancia_del_DelitoAdvanceSearchModel
@{
    List<SelectListItem> varTitulo_del_Delito_Titulo_del_Delito = null;
    if (ViewBag.Titulo_del_Delitos_Titulo_del_Delito != null)
    { varTitulo_del_Delito_Titulo_del_Delito = (List<SelectListItem>)ViewBag.Titulo_del_Delitos_Titulo_del_Delito; }
    List<SelectListItem> varGrupo_del_Delito_Grupo_del_Delito = null;
    if (ViewBag.Grupo_del_Delitos_Grupo_del_Delito != null)
    { varGrupo_del_Delito_Grupo_del_Delito = (List<SelectListItem>)ViewBag.Grupo_del_Delitos_Grupo_del_Delito; }
    List<SelectListItem> varDelito_Delito = null;
    if (ViewBag.Delitos_Delito != null)
    { varDelito_Delito = (List<SelectListItem>)ViewBag.Delitos_Delito; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Circunstancia_del_Delito", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Circunstancia_del_DelitoResources.Clave</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromClave, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.FromClave)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToClave, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToClave", @data_min = "txtAdvanceFromClave" })
                    @Html.ValidationMessageFor(m => m.ToClave)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Circunstancia_del_DelitoResources.Titulo_del_Delito</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Titulo_del_DelitoFilter, filters, new { @class = "form-control", @id = "ddlTitulo_del_DelitoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTitulo_del_Delito, new { @class = "form-control", @type = "text", @id = "txtAdvanceTitulo_del_Delito" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTitulo_del_Delito_Titulo_del_Delito!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTitulo_del_DelitoMultiple, varTitulo_del_Delito_Titulo_del_Delito,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTitulo_del_Delito"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Circunstancia_del_DelitoResources.Grupo_del_Delito</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Grupo_del_DelitoFilter, filters, new { @class = "form-control", @id = "ddlGrupo_del_DelitoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceGrupo_del_Delito, new { @class = "form-control", @type = "text", @id = "txtAdvanceGrupo_del_Delito" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varGrupo_del_Delito_Grupo_del_Delito!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceGrupo_del_DelitoMultiple, varGrupo_del_Delito_Grupo_del_Delito,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceGrupo_del_Delito"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Circunstancia_del_DelitoResources.Delito</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.DelitoFilter, filters, new { @class = "form-control", @id = "ddlDelitoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceDelito, new { @class = "form-control", @type = "text", @id = "txtAdvanceDelito" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varDelito_Delito!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceDelitoMultiple, varDelito_Delito,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceDelito"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Circunstancia_del_DelitoResources.Descripcion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.DescripcionFilter, filters, new { @class = "form-control", @id = "ddlDescripcionFilter" })
                    @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", @type = "text", @id = "txtDescripcion" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Circunstancia_del_Delito/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromClave").val() != "" || $("#txtAdvanceToClave").val() != "") {
            hasParameter = true;
            advanceSearch.Circunstancia_del_DelitoClaveFrom = $("#txtAdvanceFromClave").val();
            advanceSearch.Circunstancia_del_DelitoClaveTo = $("#txtAdvanceToClave").val();
        }
        advanceSearch.Titulo_del_DelitoSearchType = 0;
        if ($('#ddlAdvanceTitulo_del_Delito').val().length > 0 || $("#txtAdvanceTitulo_del_Delito").val() == "") {


            if (isCircunstancia_del_DelitoTextSearch) {
                advanceSearch.Titulo_del_DelitoName = $("#txtAdvanceTitulo_del_Delito").val();
                advanceSearch.Titulo_del_DelitoNameSearchType = $("#ddlAdvanceTitulo_del_Delito").val();
                advanceSearch.Titulo_del_DelitoSearchType = 1;
            }
            else {

                advanceSearch.Titulo_del_DelitoToSearch = $("#ddlAdvanceTitulo_del_Delito").val();
                advanceSearch.Titulo_del_DelitoSearchType = 2;
            }
        }
        advanceSearch.Grupo_del_DelitoSearchType = 0;
        if ($('#ddlAdvanceGrupo_del_Delito').val().length > 0 || $("#txtAdvanceGrupo_del_Delito").val() == "") {


            if (isCircunstancia_del_DelitoTextSearch) {
                advanceSearch.Grupo_del_DelitoName = $("#txtAdvanceGrupo_del_Delito").val();
                advanceSearch.Grupo_del_DelitoNameSearchType = $("#ddlAdvanceGrupo_del_Delito").val();
                advanceSearch.Grupo_del_DelitoSearchType = 1;
            }
            else {

                advanceSearch.Grupo_del_DelitoToSearch = $("#ddlAdvanceGrupo_del_Delito").val();
                advanceSearch.Grupo_del_DelitoSearchType = 2;
            }
        }
        advanceSearch.DelitoSearchType = 0;
        if ($('#ddlAdvanceDelito').val().length > 0 || $("#txtAdvanceDelito").val() == "") {


            if (isCircunstancia_del_DelitoTextSearch) {
                advanceSearch.DelitoName = $("#txtAdvanceDelito").val();
                advanceSearch.DelitoNameSearchType = $("#ddlAdvanceDelito").val();
                advanceSearch.DelitoSearchType = 1;
            }
            else {

                advanceSearch.DelitoToSearch = $("#ddlAdvanceDelito").val();
                advanceSearch.DelitoSearchType = 2;
            }
        }
        if ($("#txtAdvanceDescripcion").val() != "") {
            hasParameter = true;
            advanceSearch.Circunstancia_del_DelitoDescripcion = $("#txtAdvanceDescripcion").val();
            advanceSearch.Circunstancia_del_DelitoDescripcionSearchType = $("#ddlAdvanceDescripcionFilter").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblCircunstancia_del_Delito').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isCircunstancia_del_DelitoTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceTitulo_del_Delito").keypress(function () {
            isCircunstancia_del_DelitoTextSearch = true;
            $("#ddlAdvanceTitulo_del_Delito").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTitulo_del_Delito").change(function () {
            isCircunstancia_del_DelitoTextSearch = false;
            $("#txtAdvanceTitulo_del_Delito").val('');
        });
        $("#txtAdvanceGrupo_del_Delito").keypress(function () {
            isCircunstancia_del_DelitoTextSearch = true;
            $("#ddlAdvanceGrupo_del_Delito").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceGrupo_del_Delito").change(function () {
            isCircunstancia_del_DelitoTextSearch = false;
            $("#txtAdvanceGrupo_del_Delito").val('');
        });
        $("#txtAdvanceDelito").keypress(function () {
            isCircunstancia_del_DelitoTextSearch = true;
            $("#ddlAdvanceDelito").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceDelito").change(function () {
            isCircunstancia_del_DelitoTextSearch = false;
            $("#txtAdvanceDelito").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

