@model IList<Spartane.Web.Areas.Frontal.Models.Detalle_de_Documentos_MPOGridModel>

@{
    var rowCounter = 0;
}

<style>
    .table {
        width: 100%;
        border: 1px solid #cccccc;
        font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        /*border-collapse: separate !important;*/
        font-size: 13px;
    }

        .table td {
            padding: 2px;
            border:1px solid #cccccc;
        }

    .table tr:nth-of-type(2n+1) {
        background-color: #f9f9f9;
    }

        .table tr:nth-of-type(2n) {
            background-color: #8da0c2;
        }

    .table-row-1 td, .table-row-1 th {
    }

    .table-row-2 td, .table-row-2 th, thead {
    }

    .tableHeaderRow {
        font-weight: bold;
        border: 1px solid #ff6a00;
    }

    .column1 {
        width: 15%;
    }

    .column2 {
        width: 15%;
    }
</style>
<br />
<body onbeforeprint="ocultarcolumnas();">
 <span id="columnsVisible"></span>
<table class="table" cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Clave
            </td>
                        <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Clave
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Modulo_Atencion_Inicial
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Fecha
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Hora
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Usuario_que_Registra
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Tipo_de_Documento
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Documento
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Involucrado
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Probable_Responsable
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Archivo_Adjunto
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Observaciones
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Archivo
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Lista_para_periciales
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Folio
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Expediente_MP
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Descripcion
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Estatus_Persona
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Fecha_Localizacion
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Hora_Localizacion
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Condiciones_de_Localizacion
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Lugar_de_Hallazgo
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Posible_Causa_de_la_Desaparacion
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Pais
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Estado
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Municipio
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Poblacion
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Colonia
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Calle
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Numero_Interior
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Numero_Exterior
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Codigo_Postal
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Ente_que_localiza_al_no_localizado
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.ente_Paterno
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.ente_Materno
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.ente_Nombre
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.Autoridad_que_conoce_el_hecho
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.autoridad_Paterno
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.autoridad_Materno
            </td>
            <td class="column1">
                @Resources.Detalle_de_Documentos_MPOResources.autoridad_Nombre
            </td>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {                
                <tr>
                    <td>
                        @item.Clave
                    </td>
					                    <td>
                        @item.Clave
                    </td>
                    <td>
                        @item.Modulo_Atencion_Inicial
                    </td>
                    <td>
                        @item.Fecha
                    </td>
                    <td>
                        @item.Hora
                    </td>
                    <td>
                        @item.Usuario_que_Registra
                    </td>
                    <td>
                        @item.Tipo_de_DocumentoDescripcion
                    </td>
                    <td>
                        @item.Documento
                    </td>
                    <td>
                        @item.Involucrado
                    </td>
                    <td>
                        @item.Probable_Responsable
                    </td>
                    <td>
                        @item.Archivo_Adjunto
                    </td>
                    <td>
                        @item.Observaciones
                    </td>
                    <td>
                        @item.Archivo
                    </td>
                    <td>
                        @item.Lista_para_periciales
                    </td>
                    <td>
                        @item.Folio
                    </td>
                    <td>
                        @item.Expediente_MPnic
                    </td>
                    <td>
                        @item.Descripcion
                    </td>
                    <td>
                        @item.Estatus_PersonaDescripcion
                    </td>
                    <td>
                        @item.Fecha_Localizacion
                    </td>
                    <td>
                        @item.Hora_Localizacion
                    </td>
                    <td>
                        @item.Condiciones_de_LocalizacionDescripcion
                    </td>
                    <td>
                        @item.Lugar_de_HallazgoDescripcion
                    </td>
                    <td>
                        @item.Posible_Causa_de_la_Desaparacion
                    </td>
                    <td>
                        @item.PaisNombre
                    </td>
                    <td>
                        @item.EstadoNombre
                    </td>
                    <td>
                        @item.MunicipioNombre
                    </td>
                    <td>
                        @item.PoblacionNombre
                    </td>
                    <td>
                        @item.ColoniaNombre
                    </td>
                    <td>
                        @item.Calle
                    </td>
                    <td>
                        @item.Numero_Interior
                    </td>
                    <td>
                        @item.Numero_Exterior
                    </td>
                    <td>
                        @item.Codigo_Postal
                    </td>
                    <td>
                        @item.Ente_que_localiza_al_no_localizadoDescripcion
                    </td>
                    <td>
                        @item.ente_Paterno
                    </td>
                    <td>
                        @item.ente_Materno
                    </td>
                    <td>
                        @item.ente_Nombre
                    </td>
                    <td>
                        @item.Autoridad_que_conoce_el_hecho
                    </td>
                    <td>
                        @item.autoridad_Paterno
                    </td>
                    <td>
                        @item.autoridad_Materno
                    </td>
                    <td>
                        @item.autoridad_Nombre
                    </td>

                </tr>
                rowCounter++;
            }
        }
    </tbody>
</table>
</body>

<script>
    function ocultarcolumnas() {        
        var arr = document.getElementById('columnsVisible').text.split(',');
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == "false") {
                show_hide_column(i-1, false);
            }
        }    
    };

    function show_hide_column(col_no, do_show) {
        var rows = document.getElementsByClassName('table')[0].rows;
        for (var row = 0; row < rows.length; row++) {
            var cols = rows[row].cells;
            if (col_no >= 0 && col_no < cols.length) {
                console.log(col_no);
                cols[col_no].style.display = do_show ? '' : 'none';
            }
        }
    }
</script>

