@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Lugar_de_DetencionModel
@{

    string Fecha_de_Detencion = "";
    if (Model.Fecha_de_Detencion == "")
    { Model.Fecha_de_Detencion = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_de_Suspension_Condicional = "";
    if (Model.Fecha_de_Suspension_Condicional == "")
    { Model.Fecha_de_Suspension_Condicional = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

 List<SelectListItem> varMunicipio_Municipio_de_Detencion = null;
    if (ViewBag.Municipios_Municipio_de_Detencion != null)
    { varMunicipio_Municipio_de_Detencion = (List<SelectListItem>)ViewBag.Municipios_Municipio_de_Detencion; }
    List<SelectListItem> varCorporacion_Corporacion = null;
    if (ViewBag.Corporacions_Corporacion != null)
    { varCorporacion_Corporacion = (List<SelectListItem>)ViewBag.Corporacions_Corporacion; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Lugar de Detención
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Lugar_de_DetencionRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Lugar_de_DetencionPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Lugar de Detención
								<button onclick="Lugar_de_DetencionGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Lugar_de_DetencionBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Lugar_de_DetencionResources.Lugar_de_Detencion</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Lugar_de_DetencionDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Lugar_de_DetencionPropertyBusinessModal" id="Lugar_de_DetencionPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Lugar_de_DetencionBusinessRule-form" onclick="Lugar_de_DetencionGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Lugar_de_DetencionPropertyModal" id="Lugar_de_DetencionPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Lugar_de_DetencionBusinessRuleModal" id="Lugar_de_DetencionBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Lugar_de_DetencionAddBusinessRuleModal" id="Lugar_de_DetencionAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Lugar_de_Detencion", FormMethod.Post, new { id = "CreateLugar_de_Detencion", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Lugar_de_DetencionCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Lugar_de_DetencionResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="265690" data-field-name="@Resources.Lugar_de_DetencionResources.Clave">
                                    <label class="form-control" for="Lugar_de_DetencionClave" id="Lugar_de_DetencionClave">@Model.Clave</label>
                                </div>
                            </div>
<div class="form-group" id="divFecha_de_Detencion">
                                <label class="col-sm-2 control-label">@Resources.Lugar_de_DetencionResources.Fecha_de_Detencion</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Detencion" data-attribute="265692" data-field-name="@Resources.Lugar_de_DetencionResources.Fecha_de_Detencion">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Lugar_de_DetencionFecha_de_Detencion" readonly="readonly" name="Lugar_de_DetencionFecha_de_Detencion" type="text" value="@Model.Fecha_de_Detencion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divMunicipio_de_Detencion">
                                <label class="col-sm-2 control-label">@Resources.Lugar_de_DetencionResources.Municipio_de_Detencion</label>
                                <div class="col-sm-8" data-field-id="Municipio_de_Detencion" data-attribute="265693" data-field-name="@Resources.Lugar_de_DetencionResources.Municipio_de_Detencion">
                                    <select class='fullWidth AutoCompleteMunicipio form-control select2-dropdown' data-val="true" id="Lugar_de_DetencionMunicipio_de_Detencion" name="Lugar_de_DetencionMunicipio_de_Detencion">
                                        <option value="@Model.Municipio_de_Detencion">@(Model.Municipio_de_DetencionNombre??Model.Municipio_de_DetencionNombre)</option>
                                    </select>
                                </div>
                            </div>
<div class="form-group" id="divCorporacion">
	<label class="col-sm-2 control-label">@Resources.Lugar_de_DetencionResources.Corporacion</label>
	<div class="col-sm-8" data-field-id="Corporacion" data-attribute="265694" data-field-name="@Resources.Lugar_de_DetencionResources.Corporacion">
		<select class="form-control" data-val="true" data-val-number="The field Corporación must be a number." data-val-required="The Corporación field is required." id="Lugar_de_DetencionCorporacion" name="Lugar_de_DetencionCorporacion">
			<option value=""></option>
			@if (varCorporacion_Corporacion != null){ 
				foreach (var itemCorporacion in varCorporacion_Corporacion)
				{
					if (itemCorporacion.Value == Convert.ToString(Model.Corporacion))
					{
						<option value="@itemCorporacion.Value" selected>@itemCorporacion.Text</option>
					}
					else
					{
						<option value="@itemCorporacion.Value">@itemCorporacion.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divSuspension_Condicional">
                                <label class="col-sm-2 control-label">@Resources.Lugar_de_DetencionResources.Suspension_Condicional</label>
                                <div class="col-sm-8" data-field-id="Suspension_Condicional" data-attribute="265754" data-field-name="@Resources.Lugar_de_DetencionResources.Suspension_Condicional">
                                    @Html.CheckBoxFor(m => m.Suspension_Condicional, new { @class = "i-checks" })
                                </div>
                            </div>
<div class="form-group" id="divFecha_de_Suspension_Condicional">
                                <label class="col-sm-2 control-label">@Resources.Lugar_de_DetencionResources.Fecha_de_Suspension_Condicional</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Suspension_Condicional" data-attribute="265755" data-field-name="@Resources.Lugar_de_DetencionResources.Fecha_de_Suspension_Condicional">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Lugar_de_DetencionFecha_de_Suspension_Condicional" readonly="readonly" name="Lugar_de_DetencionFecha_de_Suspension_Condicional" type="text" value="@Model.Fecha_de_Suspension_Condicional">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Clave" id="ReferenceClave" />
												<input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Lugar_de_DetencionConfigureSave" name="Lugar_de_DetencionConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnLugar_de_DetencionConfigureType" />
												<input type="hidden" id="hdnLugar_de_DetencionBusinessRuleFieldId" />
												<input type="hidden" id="hdnLugar_de_DetencionBusinessRuleFieldName" />
												<input type="hidden" id="hdnLugar_de_DetencionBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Lugar_de_DetencionGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Lugar_de_DetencionBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Lugar_de_Detencion.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Lugar_de_DetencionGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Lugar_de_DetencionCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_de_ImputadoCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Lugar_de_DetencionRowElement = "Lugar_de_DetencionPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Lugar_de_DetencionRowElement + "')){ Lugar_de_DetencionInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			
            $('#Lugar_de_DetencionFecha_de_Detencion').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Lugar_de_DetencionFecha_de_Suspension_Condicional').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });
       var AutoCompleteMunicipio_de_DetencionData =[];
       $(".AutoCompleteLugar_de_Detencion_Municipio_de_Detencion").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Lugar_de_Detencion/GetLugar_de_Detencion_Municipio_de_Detencion_Municipio")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteLugar_de_Detencion_Municipio_de_Detencion_MunicipioData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteLugar_de_Detencion_Municipio_de_Detencion");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendLugar_de_DetencionData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateLugar_de_Detencion").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateLugar_de_Detencion")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Lugar_de_DetencionCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Lugar_de_Detencion/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Lugar_de_DetencionPropertyBag", "Lugar_de_Detencion")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Lugar_de_DetencionGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnLugar_de_DetencionBusinessRuleFieldId').val(FieldId);
				$('#hdnLugar_de_DetencionBusinessRuleFieldName').val(FieldName);
				$('#hdnLugar_de_DetencionBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnLugar_de_DetencionBusinessRuleFieldId').val(), FieldName: $('#hdnLugar_de_DetencionBusinessRuleFieldName').val(), ObjectId: '45303', Attribute: $('#hdnLugar_de_DetencionBusinessRuleAttribute').val(), Screen: 'Lugar_de_Detencion' }, function (data) {
                $(".Lugar_de_DetencionBusinessRuleModal").html(data);
            });
        }
        function Lugar_de_DetencionGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnLugar_de_DetencionBusinessRuleFieldId').val(FieldId);
				$('#hdnLugar_de_DetencionBusinessRuleFieldName').val(FieldName);
				$('#hdnLugar_de_DetencionBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnLugar_de_DetencionBusinessRuleFieldId').val(), FieldName: $('#hdnLugar_de_DetencionBusinessRuleFieldName').val(), ObjectId: '45303', Attribute: $('#hdnLugar_de_DetencionBusinessRuleAttribute').val(), Screen: 'Lugar_de_Detencion' }, function (data) {
                $(".Lugar_de_DetencionAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnLugar_de_DetencionBusinessRuleFieldId').val(), FieldName: $('#hdnLugar_de_DetencionBusinessRuleFieldName').val(), ObjectId: '45303', Attribute: $('#hdnLugar_de_DetencionBusinessRuleAttribute').val(), Screen: 'Lugar_de_Detencion' }, function (data) {
				$(".Lugar_de_DetencionBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Lugar_de_Detencion/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Lugar_de_Detencion/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Lugar_de_Detencion/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnLugar_de_DetencionConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnLugar_de_DetencionConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Lugar_de_Detencion/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnLugar_de_DetencionConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Lugar_de_Detencion/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Lugar_de_Detencion' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Lugar_de_Detencion' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Lugar_de_DetencionConfigureSave').text('Save Settings');
                    $('#hdnLugar_de_DetencionConfigureType').val("1");
                });
            }
        }
		$('#CreateLugar_de_Detencion').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnLugar_de_DetencionBusinessRuleFieldId').val(fieldId);
			$('#hdnLugar_de_DetencionBusinessRuleFieldName').val(fieldName);
			$('#hdnLugar_de_DetencionBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
