@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Control_de_DocumentosAdvanceSearchModel
@{
    List<SelectListItem> varSpartan_User_Usuario_que_Registra = null;
    if (ViewBag.Spartan_Users_Usuario_que_Registra != null)
    { varSpartan_User_Usuario_que_Registra = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Registra; }
    List<SelectListItem> varOrigen_de_Invitacion_Proceso = null;
    if (ViewBag.Origen_de_Invitacions_Proceso != null)
    { varOrigen_de_Invitacion_Proceso = (List<SelectListItem>)ViewBag.Origen_de_Invitacions_Proceso; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Control_de_Documentos", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Control_de_DocumentosResources.Folio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromFolio, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromFolio" })
                    @Html.ValidationMessageFor(m => m.FromFolio)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToFolio, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToFolio", @data_min = "txtAdvanceFromFolio" })
                    @Html.ValidationMessageFor(m => m.ToFolio)
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.Control_de_DocumentosResources.Fecha_de_Registro</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_de_Registro" name="FromFecha_de_Registro" type="text" value="@Model.FromFecha_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_de_Registro" name="ToFecha_de_Registro" type="text" value="@Model.ToFecha_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.Control_de_DocumentosResources.Hora_de_Registro</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceFromHora_de_Registro" name="FromHora_de_Registro" type="text" value="@Model.FromHora_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group clock" data-autoclose="true">
                <input class="form-control" id="txtAdvanceToHora_de_Registro" name="ToHora_de_Registro" type="text" value="@Model.ToHora_de_Registro" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom">
                    <h3>@Resources.Control_de_DocumentosResources.Usuario_que_Registra</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Usuario_que_RegistraFilter, filters, new { @class = "form-control", @id = "ddlUsuario_que_RegistraFilter" })
                    @Html.TextBoxFor(m => m.AdvanceUsuario_que_Registra, new { @class = "form-control", @type = "text", @id = "txtAdvanceUsuario_que_Registra" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varSpartan_User_Usuario_que_Registra!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceUsuario_que_RegistraMultiple, varSpartan_User_Usuario_que_Registra,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceUsuario_que_Registra"
                        });
                    }
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Control_de_DocumentosResources.idFormato</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromidFormato, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromidFormato" })
                    @Html.ValidationMessageFor(m => m.FromidFormato)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToidFormato, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToidFormato", @data_min = "txtAdvanceFromidFormato" })
                    @Html.ValidationMessageFor(m => m.ToidFormato)
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Control_de_DocumentosResources.LlaveRegistro</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromLlaveRegistro, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromLlaveRegistro" })
                    @Html.ValidationMessageFor(m => m.FromLlaveRegistro)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToLlaveRegistro, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToLlaveRegistro", @data_min = "txtAdvanceFromLlaveRegistro" })
                    @Html.ValidationMessageFor(m => m.ToLlaveRegistro)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Control_de_DocumentosResources.TablaPersona</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.TablaPersonaFilter, filters, new { @class = "form-control", @id = "ddlTablaPersonaFilter" })
                    @Html.TextBoxFor(m => m.TablaPersona, new { @class = "form-control", @type = "text", @id = "txtTablaPersona" })
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Control_de_DocumentosResources.LlaveRegistroPersona</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromLlaveRegistroPersona, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromLlaveRegistroPersona" })
                    @Html.ValidationMessageFor(m => m.FromLlaveRegistroPersona)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToLlaveRegistroPersona, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToLlaveRegistroPersona", @data_min = "txtAdvanceFromLlaveRegistroPersona" })
                    @Html.ValidationMessageFor(m => m.ToLlaveRegistroPersona)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Control_de_DocumentosResources.Proceso</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.ProcesoFilter, filters, new { @class = "form-control", @id = "ddlProcesoFilter" })
                    @Html.TextBoxFor(m => m.AdvanceProceso, new { @class = "form-control", @type = "text", @id = "txtAdvanceProceso" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varOrigen_de_Invitacion_Proceso!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceProcesoMultiple, varOrigen_de_Invitacion_Proceso,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceProceso"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Control_de_DocumentosResources.Numero_de_Expediente</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_de_ExpedienteFilter, filters, new { @class = "form-control", @id = "ddlNumero_de_ExpedienteFilter" })
                    @Html.TextBoxFor(m => m.Numero_de_Expediente, new { @class = "form-control", @type = "text", @id = "txtNumero_de_Expediente" })
                </div>
 <div class="MarginBottom">
                    <h3>@Resources.Control_de_DocumentosResources.Cuerpo_del_Documento</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Cuerpo_del_DocumentoFilter, filters, new { @class = "form-control", @id = "ddlCuerpo_del_DocumentoFilter" })
                    @Html.TextAreaFor(m => m.Cuerpo_del_Documento, new { @class = "form-control", @type = "text", @id = "txtCuerpo_del_Documento" })
                </div>
 <div class="MarginBottom">
                    <h3>@Resources.Control_de_DocumentosResources.Encabezado</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.EncabezadoFilter, filters, new { @class = "form-control", @id = "ddlEncabezadoFilter" })
                    @Html.TextAreaFor(m => m.Encabezado, new { @class = "form-control", @type = "text", @id = "txtEncabezado" })
                </div>
 <div class="MarginBottom">
                    <h3>@Resources.Control_de_DocumentosResources.Pie_de_Pagina</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Pie_de_PaginaFilter, filters, new { @class = "form-control", @id = "ddlPie_de_PaginaFilter" })
                    @Html.TextAreaFor(m => m.Pie_de_Pagina, new { @class = "form-control", @type = "text", @id = "txtPie_de_Pagina" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Control_de_Documentos/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromFolio").val() != "" || $("#txtAdvanceToFolio").val() != "") {
            hasParameter = true;
            advanceSearch.Control_de_DocumentosFolioFrom = $("#txtAdvanceFromFolio").val();
            advanceSearch.Control_de_DocumentosFolioTo = $("#txtAdvanceToFolio").val();
        }
        if ($("#txtAdvanceFromFecha_de_Registro").val() != "" || $("#txtAdvanceToFecha_de_Registro").val() != "") {
            hasParameter = true;
            advanceSearch.Control_de_DocumentosFecha_de_RegistroFrom = $("#txtAdvanceFromFecha_de_Registro").val();
            advanceSearch.Control_de_DocumentosFecha_de_RegistroTo = $("#txtAdvanceToFecha_de_Registro").val();
        }
        if ($("#txtAdvanceHora_de_Registro").val() != "") {
            hasParameter = true;
            advanceSearch.Control_de_DocumentosHora_de_Registro = $("#txtAdvanceHora_de_Registro").val();
            advanceSearch.Control_de_DocumentosHora_de_RegistroSearchType = $("#ddlAdvanceHora_de_RegistroFilter").val();
        }
        advanceSearch.Usuario_que_RegistraSearchType = 0;
        if ($('#ddlAdvanceUsuario_que_Registra').val().length > 0 || $("#txtAdvanceUsuario_que_Registra").val() == "") {


            if (isControl_de_DocumentosTextSearch) {
                advanceSearch.Usuario_que_RegistraName = $("#txtAdvanceUsuario_que_Registra").val();
                advanceSearch.Usuario_que_RegistraNameSearchType = $("#ddlAdvanceUsuario_que_Registra").val();
                advanceSearch.Usuario_que_RegistraSearchType = 1;
            }
            else {

                advanceSearch.Usuario_que_RegistraToSearch = $("#ddlAdvanceUsuario_que_Registra").val();
                advanceSearch.Usuario_que_RegistraSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromidFormato").val() != "" || $("#txtAdvanceToidFormato").val() != "") {
            hasParameter = true;
            advanceSearch.Control_de_DocumentosidFormatoFrom = $("#txtAdvanceFromidFormato").val();
            advanceSearch.Control_de_DocumentosidFormatoTo = $("#txtAdvanceToidFormato").val();
        }
        if ($("#txtAdvanceFromLlaveRegistro").val() != "" || $("#txtAdvanceToLlaveRegistro").val() != "") {
            hasParameter = true;
            advanceSearch.Control_de_DocumentosLlaveRegistroFrom = $("#txtAdvanceFromLlaveRegistro").val();
            advanceSearch.Control_de_DocumentosLlaveRegistroTo = $("#txtAdvanceToLlaveRegistro").val();
        }
        if ($("#txtAdvanceTablaPersona").val() != "") {
            hasParameter = true;
            advanceSearch.Control_de_DocumentosTablaPersona = $("#txtAdvanceTablaPersona").val();
            advanceSearch.Control_de_DocumentosTablaPersonaSearchType = $("#ddlAdvanceTablaPersonaFilter").val();
        }
        if ($("#txtAdvanceFromLlaveRegistroPersona").val() != "" || $("#txtAdvanceToLlaveRegistroPersona").val() != "") {
            hasParameter = true;
            advanceSearch.Control_de_DocumentosLlaveRegistroPersonaFrom = $("#txtAdvanceFromLlaveRegistroPersona").val();
            advanceSearch.Control_de_DocumentosLlaveRegistroPersonaTo = $("#txtAdvanceToLlaveRegistroPersona").val();
        }
        advanceSearch.ProcesoSearchType = 0;
        if ($('#ddlAdvanceProceso').val().length > 0 || $("#txtAdvanceProceso").val() == "") {


            if (isControl_de_DocumentosTextSearch) {
                advanceSearch.ProcesoName = $("#txtAdvanceProceso").val();
                advanceSearch.ProcesoNameSearchType = $("#ddlAdvanceProceso").val();
                advanceSearch.ProcesoSearchType = 1;
            }
            else {

                advanceSearch.ProcesoToSearch = $("#ddlAdvanceProceso").val();
                advanceSearch.ProcesoSearchType = 2;
            }
        }
        if ($("#txtAdvanceNumero_de_Expediente").val() != "") {
            hasParameter = true;
            advanceSearch.Control_de_DocumentosNumero_de_Expediente = $("#txtAdvanceNumero_de_Expediente").val();
            advanceSearch.Control_de_DocumentosNumero_de_ExpedienteSearchType = $("#ddlAdvanceNumero_de_ExpedienteFilter").val();
        }
        if ($("#txtAdvanceCuerpo_del_Documento").val() != "") {
            hasParameter = true;
            advanceSearch.Control_de_DocumentosCuerpo_del_Documento = $("#txtAdvanceCuerpo_del_Documento").val();
            advanceSearch.Control_de_DocumentosCuerpo_del_DocumentoSearchType = $("#ddlAdvanceCuerpo_del_DocumentoFilter").val();
        }
        advanceSearch.ArchivoSearchType = 0;
        if ($('#ddlAdvanceArchivo').val().length > 0 || $("#txtAdvanceArchivo").val() == "") {


            if (isControl_de_DocumentosTextSearch) {
                advanceSearch.ArchivoName = $("#txtAdvanceArchivo").val();
                advanceSearch.ArchivoNameSearchType = $("#ddlAdvanceArchivo").val();
                advanceSearch.ArchivoSearchType = 1;
            }
            else {

                advanceSearch.ArchivoToSearch = $("#ddlAdvanceArchivo").val();
                advanceSearch.ArchivoSearchType = 2;
            }
        }
        if ($("#txtAdvanceEncabezado").val() != "") {
            hasParameter = true;
            advanceSearch.Control_de_DocumentosEncabezado = $("#txtAdvanceEncabezado").val();
            advanceSearch.Control_de_DocumentosEncabezadoSearchType = $("#ddlAdvanceEncabezadoFilter").val();
        }
        if ($("#txtAdvancePie_de_Pagina").val() != "") {
            hasParameter = true;
            advanceSearch.Control_de_DocumentosPie_de_Pagina = $("#txtAdvancePie_de_Pagina").val();
            advanceSearch.Control_de_DocumentosPie_de_PaginaSearchType = $("#ddlAdvancePie_de_PaginaFilter").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblControl_de_Documentos').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isControl_de_DocumentosTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceUsuario_que_Registra").keypress(function () {
            isControl_de_DocumentosTextSearch = true;
            $("#ddlAdvanceUsuario_que_Registra").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceUsuario_que_Registra").change(function () {
            isControl_de_DocumentosTextSearch = false;
            $("#txtAdvanceUsuario_que_Registra").val('');
        });
        $("#txtAdvanceProceso").keypress(function () {
            isControl_de_DocumentosTextSearch = true;
            $("#ddlAdvanceProceso").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceProceso").change(function () {
            isControl_de_DocumentosTextSearch = false;
            $("#txtAdvanceProceso").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

